{% extends "shop/base.html" %}
{% import 'shop/macros.html' as shop_macros with context %}

{% block title %} Магазин | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Список товаров.{% endblock %}

{% block payments_content %}

<p>
  На рынке можно выставить на продажу свои Карты Судьбы или купить карты у других игроков.
</p>

<div class="accordion" id="pgf-help-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-help-accordion" href="#pgf-templates-description">
        Правила торговли
      </a>
    </div>
    <div id="pgf-templates-description" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        {% include "shop/trade_rules.html" %}
      </div>
    </div>
  </div>
</div>

{{ shop_macros.cards_browser() }}

{% endblock %}
