@import "constants.less";

form {

   .control-group {
      margin-right: 1em;

      textarea, input {
         width: 100%;
      }

      input[type="radio"], input[type="checkbox"] {
         width: auto;
      }

   }

   .widget {
      margin-top: 0.5em;
   }
}

.noun-forms-table {
   td, th, input {
      vertical-align: middle !important;
   }

   input {
      margin: 0 !important;
   }
}

/* google search */
input.gsc-input {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    border-radius: 0 !important;
    height: auto !important;
    font-size: 16px !important;
    display: inline-block !important;
    line-height: 18px !important;
    color: #555555 !important;
    box-shadow: none !important;
    transition: none !important;
}