{% extends "base.html" %}

{% block title %}Путеводитель | {{settings.PAGE_TITLE}}{% endblock %}

{% block content %}

<div class="row">
  <div class="span3">
    <div class="easy-block">
      {% block guide_context %}
        <h3 class="game-navigation-caption" style="padding-left: 2px;">ПУТЕВОДИТЕЛЬ</h3>
        <ul class="game-navigation nav nav-list" style="padding-left: 2px;">
          <li class="nav-element {% if section=='game' %}active{% endif %}"><a href="{{ url('guide:game') }}">Описание игры</a></li>

          <li class="nav-header {% if section=='' %}active{% endif %}">Игроки</li>

          <li class="nav-element {% if section=='keepers' %}active{% endif %}"><a href="{{ url('guide:keepers') }}">Хранители</a></li>
          <li class="nav-element {% if section=='cards' %}active{% endif %}"><a href="{{ url('guide:cards:') }}">Карты Судьбы</a></li>
          <li class="nav-element {% if section=='clans' %}active{% endif %}"><a href="{{ url('guide:clans') }}">Гильдии</a></li>
          <li class="nav-element {% if section=='emissaries' %}active{% endif %}"><a href="{{ url('guide:emissaries') }}">Эмиссары</a></li>

          <li class="nav-header {% if section=='' %}active{% endif %}">Герои</li>

          <li class="nav-element {% if section=='hero-abilities' %}active{% endif %}"><a href="{{ url('guide:hero-abilities') }}">Способности</a></li>
          <li class="nav-element {% if section=='hero-habits' %}active{% endif %}"><a href="{{ url('guide:hero-habits') }}">Черты</a></li>
          <li class="nav-element {% if section=='hero-preferences' %}active{% endif %}"><a href="{{ url('guide:hero-preferences') }}">Предпочтения</a></li>
          <li class="nav-element {% if section=='quests' %}active{% endif %}"><a href="{{ url('guide:quests') }}">Задания</a></li>
          <li class="nav-element {% if section=='movement' %}active{% endif %}"><a href="{{ url('guide:movement') }}">Передвижение</a></li>
          <li class="nav-element {% if section=='pvp' %}active{% endif %}"><a href="{{ url('guide:pvp') }}">PvP</a></li>

          <li class="nav-header {% if section=='' %}active{% endif %}">Мир</li>

          <li class="nav-element {% if section=='map' %}active{% endif %}"><a href="{{ url('guide:map') }}">Карта</a></li>
          <li class="nav-element {% if section=='cities' %}active{% endif %}"><a href="{{ url('guide:cities') }}">Города</a></li>
          <li class="nav-element {% if section=='persons' %}active{% endif %}"><a href="{{ url('guide:persons') }}">Мастера</a></li>
          <li class="nav-element {% if section=='politics' %}active{% endif %}"><a href="{{ url('guide:politics') }}">Книга Судеб</a></li>
          <li class="nav-element {% if section=='creativity-recommendations' %}active{% endif %}"><a href="{{ url('guide:creativity-recommendations') }}">Творчество игроков</a></li>

          <li class="nav-header {% if section=='' %}active{% endif %}">Объекты</li>

          <li class="nav-element {% if section=='mobs' %}active{% endif %}"><a href="{{ url('guide:mobs:') }}">Бестиарий</a></li>
          <li class="nav-element {% if section=='artifacts' %}active{% endif %}"><a href="{{ url('guide:artifacts:') }}">Артефакты</a></li>
          <li class="nav-element {% if section=='companions' %}active{% endif %}"><a href="{{ url('guide:companions:') }}">Спутники</a></li>

          <li class="nav-header {% if section=='' %}active{% endif %}">Прочее</li>
          <li class="nav-element {% if section=='zpg' %}active{% endif %}"><a href="{{ url('guide:zpg') }}">Zero Player Game</a></li>
          <li class="nav-element"><a href="{{ faq_url() }}">FAQ</a></li>
          <li class="nav-element {% if section=='world' %}active{% endif %}"><a href="{{ url('guide:world') }}">Предыстория</a></li>
          <li class="nav-element {% if section=='account-types' %}active{% endif %}"><a href="{{ url('guide:account-types') }}">Типы аккаунтов</a></li>
          <li class="nav-element"><a href="{{ players_projects_url() }}">Проекты игроков</a></li>

          <li class="nav-element {% if section=='registration' %}active{% endif %}"><a href="{{ url('guide:registration') }}">Регистрация</a></li>

          <li class="nav-element {% if section=='referrals' %}active{% endif %}"><a href="{{ url('guide:referrals') }}">Рефералы</a></li>
          <li class="nav-element {% if section=='behavior-rules' %}active{% endif %}"><a href="{{ url('guide:behavior-rules') }}">Правила поведения</a></li>
          <li class="nav-element {% if section=='user-agreement' %}active{% endif %}"><a href="{{ url('guide:user-agreement') }}">Пользовательское соглашение</a></li>
          <li class="nav-element {% if section=='privacy-policy' %}active{% endif %}"><a href="{{ url('guide:privacy-policy') }}">Политика конфиденциальности</a></li>
          <li class="nav-element {% if section=='payments' %}active{% endif %}"><a href="{{ url('guide:payments') }}">Частые вопросы по платежам</a></li>
          <li class="nav-element"><a href="{{guide_settings.DEVELOPMENT_PLANS_URL}}">Планы разработки</a></li>
          <li class="nav-element {% if section=='how-to-help' %}active{% endif %}"><a href="{{ url('guide:how-to-help') }}">Как помочь?</a></li>
          <li class="nav-element {% if section=='press-kit' %}active{% endif %}"><a href="{{ url('guide:press-kit') }}">Для прессы</a></li>
        </ul>
      {% endblock %}
    </div>
  </div>

  <div class="span9">
    <div class="easy-block guide-content">
      {% block guide_content %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
