{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Города | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описания городов и их функций в мире игры.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Города", "Что из себе представляют города Пандоры.") }}

<p>
  <strong>Город</strong> — центр культурной, общественной, политической и всей остальной жизни Пандоры. Города являются ключевыми точками в путешествиях героев, в них приключенцы отдыхают, продают добычу, экипируются и, конечно, получают задания. Каждый город имеет размер (от 1 до {{c.PLACE_MAX_SIZE}}), который отражает влиятельность города в мире.
</p>

<p>
  В городе может проживать от {{c.PLACE_MIN_PERSONS}} до {{c.PLACE_ABSOLUTE_MAX_PERSONS}} <a href="url('guide:persons')">Мастеров</a>. Исключения могут быть в случае перемещения Мастеров администрацией игры.
</p>

<p>
  Не каждый город может разместить у себя аж {{c.PLACE_ABSOLUTE_MAX_PERSONS}} Мастеров. Количество Мастеров, которые могут сосуществовать в одному городе зависит от его размера. Чем больше размер, тем больше Мастеров может действовать, не мешая друг другу. Если количество Мастеров превышает допустимое, город начинает плучать штраф к стабильности.
</p>

<table class="table table-striped table-bordered table-condensed">
  <caption><h4>Допустимое количество Мастеров в городе</h4></caption>
  <thead>
    <tr><th>размер города</th><th>максимум Мастеров</th></tr>
  </thead>
  <tbody>
    {% for max_masters in c.PLACE_MAX_PERSONS[1:] %}
    <tr>
      <td width="150px;">{{loop.index}}</td>
      <td>{{max_masters}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

Если в городе окажется больше допустимого количества Мастеров, его стабильность сильно уменьшится из-за конфликта их интересов.

<h4>Фронтир</h4>

<p>
  Фронтир — населённая полоса между центральной (цивилизованной) частью Пандоры и дикими необитаемыми землями, которая опоясывает всю цивилизованную часть мира. По мере появления новых городов Фронтир расширяется, а его внутренние города становятся цивилизованными. Жизнь на Фронтире тяжела, и расположенные на нём города имеют ряд отличий от цивилизованных:
</p>

<ul>
  <li>на Мастеров и экономику городов Фронтира оказывают влияние все игроки (активные базовые аккаунты и все подписчики);</li>
  <li>экономика городов Фронтира рассчитывается отдельно от цивилизованных городов (но по тем же правилам), размер их экономики ограничен;</li>
  <li>жизнь на Фронтире так же опасна, как и в диких землях, поэтому на его территории уменьшается безопасность.</li>
</ul>

<h4>Новые города</h4>

<p>
  Пандора постепенно расширяется, и, конечно, появляются новые города (обычно на внешней границе Фронтира). Город имеет статус «нового» некоторое время после своего появления. В «новом» городе, в отличие от других городов, могут голосовать все игроки, являющиеся подписчиками (независимо от того помогали они ему или нет).
</p>

<h4>Протекторат гильдии над городом</h4>

<p>
  <a href="{{url('guide:clans')}}">Гильдия</a> может объявить протекторат над городом. В этом случае мероприятия её эмиссаров в этом городе получат дополнительные эффекты или усилят существующие. Информация о текущей гильдии-протекторе отображается на странице города и в диалоге информации о клетке карты. Кроме того, список городов под протекцией гильдии можно найти на её странице.
</p>

<h4>Экономика и влияние городов</h4>

<p>
  Ближний круг города (как и ближний круг Мастера) — это герои — противники или соратники — которые принесли ему больше всего влияния за длительный промежуток времени ({{c.PLACE_POWER_HISTORY_WEEKS}} недель).
</p>

<p>
  Размер экономики города наполовину зависит от героев ближнего круга и наполовину — от действий всех остальных.
</p>

<h4>Производство и расход товаров</h4>

<p>
  Город производит товары и расходует их на поддержание своего размера и построек на карте.
</p>

<p>
  Размер производства зависит:
</p>

<ul>
  <li>На треть от экономики.</li>
  <li>На треть от торговли — того, сколько денег тратят герои в городе.</li>
  <li>На треть от размера владений города.</li>
</ul>

<p>
  Основные статьи расходов города:
</p>

<ul>
  <li>Поддержание размера — чем больше производство, тем больший размер имеет город. От размера зависят многие параметры города.</li>
  <li>Поддержание целостности построек и дорог на карте. Поскольку мир Пандоры крайне нестабилен, жителям приходится тратить существенные ресурсы на стабилизацию ладшафта и построек (включая дороги).</li>
  <li>Поддержание торговых путей, идущих в город.</li>
</ul>

<p>
  Поскольку ландшафт мира всегда меняется, для стабилизации клеток с дорогами, зданиями (и самим городом) город тратит {{c.CELL_STABILIZATION_PRICE}} продукции.
</p>

<p>
  Город тратит ресурсы на поддержание только клеток дороги, которые находятся на его территории. При этом клетка дороги всегда принадлежит одному из городов (в зависимости от радиуса влияния города).
</p>

<h4>Население</h4>

<p>
  В Пандоре очень мало городов с однородным расовым составом. Обычно, в городе проживает минимум две расы.
</p>

<p>
  В городе всегда выделяется основная раса. Изменить её можно <a href="{{url('guide:politics')}}">записью в Книге Судеб</a>.
</p>

<p>
  Большую роль играет влиятельность Мастеров. Каждый Мастер старается в первую очередь помогать представителям своей расы, создавая «демографическое давление». Если основная раса города не совпадает с расой, у которой большее «демографическое давление», то стабильность города сильно уменьшается.
</p>

<h4>Специализация</h4>

<p>
  Могущественный город может иметь специализацию. Доступные специализации зависят от размера города и его Мастеров. Специализация принимается с помощью соответствующей <a href="{{url('guide:politics')}}">записи в Книге Судеб</a>. Посмотреть, насколько город продвинулся на пути к каждой из специализаций, можно на странице города. Чтобы можно было изменить специализацию города, необходимо довести её развитие до {{c.PLACE_TYPE_NECESSARY_BORDER}}. Если город уже имеет специализацию, и её развитие опустится ниже {{c.PLACE_TYPE_ENOUGH_BORDER}}, то она перестанет давать преимущества городу и будет снижать стабильность.
</p>

<table class="table table-striped table-bordered table-condensed">
  <caption><h4>Специализации городов</h4></caption>
  <thead>
    <tr><th>название</th><th>описание</th></tr>
  </thead>
  <tbody>
    {% for modifier in MODIFIERS%}
    <tr><td width="150px;">{{modifier.text}}</td><td>{{modifier.description}}</td></tr>
    {% endfor %}
  </tbody>
</table>

<h4>Характер</h4>

<p>
  Характер города определяется чертами героев подписчиков, связанных с ним (установивших его родным или выбравших в нём соратника/противника). Характер городов Фронтира определяется также и активными базовыми игроками.
</p>

<p>
  Чем больше разница между суммарным количество положительных и отрицательных очков черты, тем быстрее изменяется характер города. Но его изменение замедляется тем больше, чем сильнее он «сдвинут» в одну из сторон.
</p>

<p>
  На текущий момент характер города немного влияет на поиск пути героем.
</p>

<h4>Параметры</h4>

<p>
  Получить представление о текущем положении дел в городе можно, заглянув на вкладку «параметры» его информационного диалога. Полную информацию по параметрам города можно найти на его странице.
</p>

<table class="table table-striped table-bordered table-condensed">
  <caption><h4>Параметры города</h4></caption>
  <thead>
    <tr><th width="150px;">название</th><th>описание</th></tr>
  </thead>
  <tbody>
    {% for attribute in ATTRIBUTES %}
    <tr><td>{{attribute.text}}</td><td>{{attribute.description|safe}}</td></tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
