{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Гильдии | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}О гильдиях и всём, что с ними связано.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Гильдии", "О гильдиях.") }}

<p>
  Гильдии — это объединения игроков, преследующих общие цели и желающих согласовывать свои действия в Пандоре.
</p>

<p>
  Создать гильдию может любой игрок, использовав карту <strong>«Братство»</strong>.
</p>

<p>
  Для каждой гильдии создаётся закрытый раздел на форуме (доступен только членам гильдии). Ссылка на него находится на странице гильдии.
</p>

<p>
  Члены гильдии различаются по званиям и правам. Только магистру гильдии доступны все операции.
</p>

<p>
  Звание членов гильдии в звании «{{value("the_tale.clans.relations").MEMBER_ROLE.RECRUIT.text}}» можеть быть изменено не раньше чем через {{value("the_tale.clans.conf").settings.RECRUITE_FREEZE_PERIOD}} дней с момента прошлого изменения звания или принятия в гильдию.
</p>

{% include "clans/permissions_help.html" %}

<p>
  Гильдия может назначать своих представителей — <a href="{{url('guide:emissaries')}}" target="blank_">эмиссаров</a> — в <a href="{{url('guide:cities')}}" target="_blank">города</a>. Эмиссар может выполнять мероприятия, направленные на развитие гильдии, города, помощь согильдийцам или вред врагам гильдии.
</p>

<p>
  Члены гильдий могут выполнять задания на помощь и вред эмиссарам (с помощью карты судьбы <strong>Гильдейские дела</strong>). Чтобы иметь возможность выполнять задания для эмиссаров, Хранитель должен иметь звание «{{value("the_tale.clans.relations").MEMBER_ROLE.FIGHTER.text}}» или выше.
</p>

</p>
  Подписчики могут выполнять неограниченное количество заданий эмиссаров в сутки. Игроки без подписки могут выполнить фиксированное количество «свободных заданий» в сутки на гильдию.
</p>

<p>
  Чтобы выполнять задания, связанные с эмиссарами чужих гильдий, гильдия должна иметь хотя бы одного эмиссара с суммой способностей больше {{tt_emissaries_constants.ATTRIBUTES_FOR_PARTICIPATE_IN_PVP}}.
</p>

<h4>Протекторат над городами</h4>

<p>
  Гильдия может объявить протекторат над <a href="{{url('guide:cities')}}">городом</a>. В этом случае мероприятия её эмиссаров в этом городе получат дополнительные эффекты или усилят существующие. Информация о текущей гильдии-протекторе отображается на странице города и в диалоге информации о клетке карты, аббревиатура гильдии отображается рядом с названием города на карте. Кроме того, список городов под протекцией гильдии можно найти на её странице.
</p>

<p>
  Города-протектораты гильдии, которые связаны прямой дорогой или последовательностью прямых дорог, <strong>проходящих только через протектораты той же гильдии</strong>, объединяются в общий регион. Чем больше регион, тем сильнее будут бонусные эффекты мероприятий эмиссаров.
</p>

<p>
  Стать протектором города гильдия может, если успешно проведёт мероприятие <a href="{{url('guide:emissaries')}}">{{value("the_tale.game.emissaries.relations").EVENT_TYPE.REVOLUTION.text}}</a>.
</p>

<p>
  Гильдия теряет статус протектора, если в городе не осталось её эмиссаров или другая гильдия успешно провела мероприятие «{{value("the_tale.game.emissaries.relations").EVENT_TYPE.REVOLUTION.text}}».
</p>

<p>
  О всех важных событиях, связанных с протекторатом, отправляются личные сообщения членам гильдий с эмиссарами в соответствующем городе. Получают сообщения Хранители с правом «{{value("the_tale.clans.relations").PERMISSION.RECEIVE_MESSAGES.text}}» в своей гильдии.
</p>

<p>
</p>

<h4>Развитие гильдии и её параметры</h4>

<p>
  Гильдия имеет несколько параметров, часть из которых можно развивать. Эмиссары каждые сутки дают гильдии {{tt_clans_constants.EXPERIENCE_PER_EVENT}} опыта за каждое активное мероприятие. Гильдия может потратить опыт на увеличение одного из своих параметров (для этого есть специальные мероприятия эмиссаров).
</p>

<table width="100%" class="table table-condensed">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th width="100px">начальный уровень</th>
      <th width="100px">максимальный уровень</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Максимум эмиссаров</th>
      <td>Максимальное количество эмиссаров, которое может иметь гильдия.</td>
      <td>{{tt_clans_constants.INITIAL_EMISSARY_MAXIMUM}}</td>
      <td>{{tt_clans_constants.MAXIMUM_EMISSARIES}}</td>
    </tr>
    <tr>
      <th>Максимальный боевой состав</th>
      <td>Максимальное количество Хранителей, которые могут выполнять задание эмиссаров (необхомио иметь соответствующее звание).</td>
      <td>{{tt_clans_constants.INITIAL_FIGHTERS_MAXIMUM}}</td>
      <td>{{tt_clans_constants.MAXIMUM_FIGHTERS}}</td>
    </tr>
    <tr>
      <th width="150px">Опыт</th>
      <td>Эмиссары зарабатывают опыт гильдии, выполняя мероприятия. Эмиссар может потратить опыт гильдии для выполнения специального мероприятия и увеличения одного из её параметров.</td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <th>Очки действий</th>
      <td>Необходимы для запуска мероприятий эмиссаров. Можно накопить не более {{tt_clans_constants.MAXIMUM_POINTS}} очков.</td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <th>Скорость прироста очков действий</th>
      <td>Скорость восстановления очков действий.</td>
      <td>{{tt_clans_constants.INITIAL_POINTS_GAIN}} в сутки</td>
      <td>{{tt_clans_constants.MAXIMUM_POINTS_GAIN}} в сутки</td>
    </tr>
    <tr>
      <th>Свободные задания</th>
      <td>Суммарное количество заданий, которые могут в сутки выполнить игроки без подписки</td>
      <td>{{tt_clans_constants.INITIAL_FREE_QUESTS}}</td>
      <td>{{tt_clans_constants.MAXIMUM_FREE_QUESTS}}</td>
    </tr>
  </tbody>
</table>

{% endblock %}
