{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Рекомендации по творчеству | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Рекомендации по творчеству{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Рекомендации по творчеству", "Рекомендации по творчеству.") }}

<p>
  Наша игра дружественна к вашему творчеству, особенно литературному. Всё таки игра текстовая ;-) Талантливый автор в Сказке может сделать значительно больше, чем в других играх.
</p>

<p>
  В этом разделе мы расскажем, чего можно добиться с помощью хорошего произведения и каким правилам оно должно соответствовать.
</p>

<h4>Направления для творчества</h4>

<p>
  От простого к сложному.
</p>

<p>
  В разделе <a href="{{url('blogs:posts:')}}">фольклора</a> можно опубликовать своё произведение по миру игры. Но это не просто площадка для публикаций! Произведение можно привязать к любому игровому объекту (герою, городу, монстру, артефакту, etc). Привязанные произведения отображаются на соответствующих страницах (например, на странице города или на странице вашего героя), поэтому каждый игрок может легко познакомиться со всеми историями об интересующем его кусочке мира. В итоге получается упрощённая «википедия», которую вместе пишут все игроки. Присоединиться к этому движению очень просто — начните описывать приключения своего героя: может быть у него выдался тяжёлый бой с <a href="{{url('guide:mobs:')}}">монстром</a>? или он завязал интересные отношения с <a href="{{url('guide:persons')}}">Мастером</a>?
</p>

<p>
  <a href="{{url('guide:politics')}}">Книга Судеб</a> позволяет игрокам влиять непосредственно на мир игры. Каждое изменение заносится в <a href="{{url('game:chronicle:')}}">летопись</a> мира, тексты которой пишут игроки. Вы можете как создать новую запись в Книге Судеб самостоятельно, так и помочь другому игроку, написав художественный текст для летописи. Тем самым вы навсегда оставите свой след в истории Пандоры.
</p>

<p>
  Обратите внимание, записи в Книгу Судеб принимаются прямым голосованием, на результаты которого влияет как рациональное обоснование, так и художественная ценность изменений. Игроки с большей охотой поддержат автора интересной сюжетной линии.
</p>

<p>
  Вы даже можете добавить в игру город или Мастера. Для этого необходимо написать фольклорный рассказ, который получит метку «расширенная вселенная» или «канон». К качеству и содержанию таких рассказов выдвигаются повышенные требования, но и эффект на мир они оказывают весьма заметный. Расширение мира подобным образом контролируется разработчиками. <strong>На текущий момент мы принимаем рассказы о новых городах с переездом одного из существующих Мастеров в новый город.</strong> Если над городом из которого переезжает Мастер установлен протекторат гильдии, необходимо согласие гильдии на переезд.
</p>

<p>
  В игру также можно добавлять артефакты, монстров и спутников. Для этого необходимо полностью <a href="{{url('blogs:posts:')}}?tag_id={{blogs_settings.CANON_TAG}}">каноничное</a> описание сущности, согласованное с нами, и ваши пожелания (разумные) по её свойствам.
</p>

<h4>Метки текстов фольклора</h4>

<p>
  Для удобства навигации по фольклору, его произведения отмечены разнообразными метками. Часть меток указывает на тематику произведения (например «о героях»). Другие определяют уровень каноничности текста. Поскольку требование этих меток часто встречается в правилах, перечислим их явно:
</p>

<ol>
  <li><i>четвёртая стена</i> — произведение не о мире игры, а об околоигровых событиях.</li>
  <li><i>байка</i> — произведение имеет явные противоречия с каноном. Эту метку получают все произведения по-умолчанию.</li>
  <li><i>вселенная игры</i> — произведение соответствует <a href="{{url('blogs:posts:show', MINIMUM_CANON_POST)}}">минимальной характеристике мира игры</a></li>
  <li><i>расширенная вселенная</i> — произведение не противоречит <a href="{{url('blogs:posts:')}}?tag_id={{blogs_settings.CANON_TAG}}">канону</a>, но не имеет оснований стать каноничным (например, не раскрывает ничего нового о мире)</li>
  <li><i>канон</i> — официальное описание мира игры. В основном создаётся разработчиками, но текст игроков также может получить данную метку и стать основой мира игры.</li>
</ol>

<p>
  Кроме текстов фольклора с меткой «канон», каноничными считаются описания монстров, артефактов, спутников и тексты из коллекций.
</p>

<p>
  Тексты летописи считаются эквивалентными текстам фольклора с меткой «вселенная игры».
</p>

<p>
  Метки <i>четвёртая стена</i>, <i>вселенная игры</i>, <i>расширенная вселенная</i>, <i>канон</i> выдаются вручную разработчиками при обращении в <a href="{{url('forum:threads:show', FORUM_TAGS_THREAD)}}">специальной теме на форуме</a>.
</p>

<h4>Требованиях к текстам</h4>

<p>
  Чтобы соблюсти целостность мира и не обидеть никого из авторов, введены определённые правила написания текстов. Если они не будут соблюдены, мы можем: потребовать изменить текст, отредактировать его самостоятельно или удалить его. В зависимости от места и времени обнаружения ошибки, а также от реакции автора.
</p>

<p>
  Может показаться, что правил много, но большинство из них просты и очевидны, не пугайтесь.
</p>

<p>
  Во всех спорных и неясных ситуациях арбитром выступает администрация игры и её решение признаётся окончательным. Если сомневаетесь в чём-то, спросите на форуме или напрямую у администрации.
</p>

<p>
  Общие правила:
</p>

<ol>
  <li>Текст должен быть исполнен максимально грамотно.</li>
  <li>Текст должен быть <strong>«литературен»</strong>.</li>
  <li><strong>Запрещены отсылки к реальной жизни</strong>.</li>
  <li>Исключением из предыдущего правила является упоминание в фольклоре событий, касающихся сообщества игры (метка «четвёртая стена»).</li>
  <li>Не допускаются оскорбления и ненормативная лексика.</li>
  <li>Не допускается скрыто измененять размер текста (с любой целью). Например, использовать невидимые символы форматирования.</li>
  <li>Плагиат запрещён.</li>
  <li>Плагиатом не считается использование отрывка произведения в виде цитаты, если этого требует художественный замысел.</li>
  <li>Допустима, но не одобряется, адаптация сюжетов чужих произведений под мир игры.</li>
</ol>

<p>
  Мы рекомендуем писать тексты приближенные к канону — это сделает мир целостнее. Но игроки могут создавать свои «параллельные» вселенные с минимальным соответствием общей линии. Наиболее удобно такие вселенные привязывать к городам на карте игры.
</p>

<p>
  Правила оформления текстов летописи:
</p>

<ol>
  <li>Текст должен описывать произошедшее событие (относиться к прошедшему времени).</li>
  <li>Текст должен полностью раскрывать суть записи Книги Судеб, к которой относится.</li>
  <li>Текст должен быть исполнен в стиле, близком к официально-деловому. Допустимо использовать элементы художественного стиля.</li>
  <li>Текст каждой записи должен представлять собой завершенный понятный сюжет: иметь завязку, развитие и концовку.</li>
  <li>Тексты летописи можно объединять цепочку с общим мета-сюжетом. Одна независимая запись далее считается цепочкой из одной записи.</li>
  <li>В цепочке записей допустимо опускать повторение одной и той же информации, если эта инфрмация есть в предыдущих записях цепочки.</li>
  <li>Суть каждой записи цепочки, причины описаных событий должны быть полностью понятны исходя из не более чем 5 предыдущих записей в летописи как минимум одной упоминаемой сущности (города, Мастера, эмиссара, etc).</li>
  <li>Цепочка текстов должна предоставлять весь контекст событий (где происходят, с кем, etc).</li>
  <li>Размер текста должен быть от {{value('the_tale.game.bills.conf').settings.CHRONICLE_MIN_LENGTH}} до {{value('the_tale.game.bills.conf').settings.CHRONICLE_MAX_LENGTH}} символов.</li>
</ol>

<p>
  Правила оформления текстов фольклора:
</p>

<ol>
  <li>Старайтесь не разбивать произведение фольклора на несколько частей. Помните, что оно должно быть целостным и удобным для чтения.</li>
  <li>Произведение должно содержать минимум {{value('the_tale.blogs.conf').settings.MIN_TEXT_LENGTH}} символов.</li>
</ol>

<p>
  Правила упоминания сущностей:
</p>

<ol>
  <li>В тексте допустимо упоминание любых игровых сущностей, включая гильдии, героев и Хранителей.</li>
  <li>Упоминать монстров, артефакты, спутников можно без ограничений.</li>
  <li>В летописи: упоминать сущности, принадлежащие другим игрокам можно только с явного разрешения владельцев в относящейся к произведению теме на форуме. За исключением констатации неоспоримого факта, например, «такая гильдия существует».</li>
  <li>В фольклоре: упоминать сущности, принадлежащие другим игрокам можно без явного разрешения владельцев.</li>
  <li>Автор произведения обязан выполнять просьбы владельцев упомянутых в нём сущностей по удалению упоминаний.</li>
  <li>В текстах допустимо вводить новые сущности (придуманные вами), при этом они считаются общими (то есть их может использовать любой автор).</li>
  <li>Игрок может стать владельцем общей сущности, если напишет <strong>первый</strong> фольклорный рассказ о ней, который получит метку «вселенная игры», «расширенная вселенная», «канон».</li>
  <li>Вледельцем героя и Хранителя всегда считается хозяин соответствующего аккаунта.</li>
  <li>Владельцем гильдии и её эмиссаров считается текущий гильдмастер.</li>
  <li>Администрация оставляет за собой монополию на добавление слишком особенных сущностей любого рода (легендарных личностей, эпических заклинаний и так далее). Появление такой сущности без согласования с адинистрацией не позволит тексту получиь статус выше «байки».</li>
</ol>

<p>Игрок вправе потребовать убрать упоминание своей сущности из произведения.</p>

<p>Для этого необходимо:</p>

<ol>
  <li><strong>Обязательно</strong> написать личное сообщение автору произведения с просьбой убрать упоминание.</li>
  <li><strong>Обязательно</strong> продублировать сообщение в обсуждении произведения на форуме.</li>
  <li>Если в течении 7 дней от автора не последовало реакции, или он отказался убрать упоминание, необходимо написать жалобу в <a href="{{forum_complaint_theme()}}">специальной теме</a> и администрация самостоятельно исправит произведение или удалит его.</li>
  <li>Написать администрации раньше срока можно, если вы сочтёте это необходимым, но рекомендуется так не делать и решать вопросы непосредственно с автором.</li>
</ol>

<p>
  Не рассматриваются претензии от игрока, который переименовал подконтрольную ему сущность после публикации произведения, на которое он жалуется.
</p>


{% endblock %}
