{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Об игре | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание «Сказки» и её отличий от других игр.{% endblock %}

{% block guide_content %}

  {{ guide_macros.page_caption("Сказка", "Об игре") }}

  <p>«Сказка» — браузерная многопользовательская игра, которая сочетает элементы <a href="{{url('guide:zpg')}}">Zero Player Game</a> — игры с минимальным участием игрока — и политического симулятора-песочницы.</p>
  <p>Игрок — <a href="{{url('guide:keepers')}}">дух-Хранитель</a> — взирает на мир со стороны и покровительствует бессмертному герою, который путешествует по просторам мира игры — Пандоры.</p>
  <p>Герой самостоятелен, не требует постоянного надзора и контроля. В зависимости от выбранных вами <a href="{{url('guide:hero-preferences')}}">предпочтений</a>, <a href="{{url('guide:hero-abilities')}}">способностей</a> и <a href="{{url('guide:hero-habits')}}">черт</a> он сам определяет в какой <a href="{{url('guide:cities')}}">город</a> пойти, <a href="{{url('guide:companions:')}}">с кем путешествовать</a>, какую <a href="{{url('guide:artifacts:')}}">экипировку</a> использовать, с какими <a href="{{url('guide:persons')}}">Мастерами</a> работать.</p>
  <p>Мастера — влиятельные жители Пандоры, которые выдают героям <a href="{{url('guide:quests')}}">задания</a>. Почти любое задание герой может выполнить в пользу или во вред Мастерам. Исход задания окажет влияние как на черты героя, формируя его характер, так и на глобальную ситуацию в мире игры.</p>
  <p>Таким образом, несмотря на отсутствие прямого контроля, от ваших решений зависит многое: от выбора экипировки героем и линии его поведения в заданиях, до строительства городов и <a href="{{url('guide:map')}}">изменения ландшафта</a>.</p>
  <p>«Сказка» не ставит перед Хранителями обязательных задач. Вы можете самостоятельно выбирать свои интересы: развитие героя, <a href="{{url('guide:politics')}}">политика</a>, изменение карты, создание новых артефактов, монстров, спутников, художественное описание приключений героя или глобальных событий Пандоры. Каждое из занятий предлагает уникальные вызовы и требует особых навыков.</p>
  <p>Благодаря минимальному требованию к трате времени и разнообразным занятиям, «Сказка» предоставляет игроку контроль над объёмом усилий и времени, которое тот вкладывает в игру.</p>

  <h3>Мир</h3>

  <p>Пандора — фантастический мир механики и волшебства, которому присущи черты одновременно эпох Средневековья, Возрождения и раннего Нового времени.</p>
  <p>Более шестидесяти независимых городов населены пятью расами: орками, гоблинами, эльфами, дварфами, людьми и стремятся к своим целям под флагами <a href="{{url('guide:clans')}}">гильдий</a> игроков.</p>
  <p>Мир нестабилен и опасен для неосторожного путешественника: пустыни сменяются лесами, а на месте полей и долин вырастают скалы; там, где ещё вчера был торговый тракт, сегодня могут появиться непролазные дебри.</p>
  <p>В горах, среди барханов, лугов, болот рыщут чудовища, дикая магия сводит с ума изобретателей и чародеев, демоны скрываются за масками добропорядочных горожан, а жаждущие силы отщепенцы практикуют некромантию и другие запретные ритуалы.</p>
  <p>Здесь обыватели верят в богов и не сомневаются в существовании духов, которые хранят мир перед лицом неописуемых угроз, незримо управляя событиями через своих наместников в физическом мире — героев.</p>
  <p>Последние часто объединяются в могущественные гильдии ради защиты городов и борьбы за влияние с другими союзами.</p>
  <p>Но, как нет единства среди героев, так нет его и среди Хранителей, которые воспринимают Пандору по-разному и меняют её в соответствии с собственным представлениям.</p>
  <p>Чтобы не превратить жизнь смертных в хаос, самые важные изменения Хранители пишут в <a href="{{url('guide:politics')}}">Книгу Судеб</a>, каждая запись в которой принимается голосованием и несёт заметные последствия для Пандоры.</p>

  <h3>Ключевые особенности</h3>

  <h4>Выраженная творческая направленность и живой мир</h4>

  <p>Хорошо написанный <a href="{{url('blogs:posts:')}}">рассказ</a> добавит новый город на карту, а красивая формулировка в <a href="{{url('guide:politics')}}">Книге Судеб</a> найдёт большую поддержку, нежели чем сухая заметка.</p>
  <p>Байка о новом монстре, рассказанная от лица поседевшего героя, станет реальностью, а доклад стражника о происшествии в городе отразится спустя время в хрониках, которые ведут другие игроки, и станет частью общей истории.</p>
  <p>Удачно описанный герой или неигровой персонаж обязательно продолжит свои приключения под пером других авторов.</p>
  <p>«Сказка» — благодарная площадка для самого разного творчества, которое непременно найдёт своих ценителей и почитателей.</p>

  <h4>Политический симулятор</h4>
  <p>Для прямого воздействия на мир игры необходимо учитывать интересы других игроков и ориентироваться в политической ситуации, уметь договариваться, находить компромиссы, убеждать, блефовать, формировать альянсы и координировать совместные усилия.</p>
  <p>Иногда даже мнение одного человека может кардинально поменять расстановку сил в Пандоре.</p>
  <p>Даже если вы не собираетесь касаться политики, то последствия принимаемых решений так или иначе затронут судьбу вашего героя. Переезды Мастеров, изменения в городах, изменение пошлин, появление и разрушение дорог – Пандора продолжает жить, даже если отдельные хранители бездействуют.</p>

  <h4>Свобода выбора</h4>
  <p>Чтобы герой стал известным в «Сказке» не нужны ежедневный «гринд», «лучшая» гильдия и «удачные» броски кубика. Достаточно, чтобы игрок поставил перед собой цель и двигался к ней. Как именно — зависит только от него.</p>

  <h4>Увлечённое сообщество</h4>
  <p>Опытные Хранители всегда готовы подсказать, рассказать и сориентировать новых игроков в непростом мире традиций, соглашений, фольклора и механик «Сказки». Среди постоянных игроков есть талантливые авторы, редакторы, программисты, художники, тролли и другие специалисты, готовые поделиться своими знаниями и опытом с творчески настроенными новичками.</p>
  <p>На <a href="{{url('forum:')}}">форуме</a> и в <a href="{{url('portal:chat')}}">чате Discord</a> проходят конкурсы от игроков и администрации проекта. Некоторые из них находят своё отражение в Пандоре. Там же бурно протекают игровые политические дебаты и обсуждения на свободные темы.</p>
  <p>Любое изменение мира, претворяемое в жизнь политиками, невозможно без творческой составляющей, поэтому политики и писатели тесно связаны друг с другом. Они вместе создают общую историю Пандоры, опираясь на свои цели и обратную связь от других игроков.</p>
  <p>Здесь всегда есть чем заняться и творческому человеку, и прагматичному политику.</p>

  <hr/>

  <p><i>Внимание Хранителя привлекло живое существо, которому суждено стать следующим бессмертным, претворяя волю своего покровителя в физическом мире. Кто сей пандорец и каким он станет? Бесстрашно-доблестным или расчётливо-коварным? Эгоистичным или альтруистичным? Заядлым путешественником или сосредоточенным затворником?</i></p>
  <p><i>Берите в руки перо или мышь. Отныне Вы будете писать историю этого героя.</i></p>

{% endblock %}
