{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Об игре | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание «Сказки» и её отличий от других игр.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Сказка", "Введение в игру") }}

<ul>
  <li><strong>многопользовательская</strong> — множество игроков одновременно находятся в одном мире и влияют на его судьбу;</li>
  <li><strong>ролевая</strong> — игрок может примерить на себя роль, ограниченную только его фантазией;</li>
  <li><strong>игра</strong> — в Сказке дозволено чуть больше, чем в реальной жизни;</li>
  <li><strong>с непрямым управлением персонажем</strong> — ваш подопечный достаточно умён, чтобы обходиться без постоянного надзора. Влиять на его поведение можно только косвенно — и от этого его успехи становятся ещё приятнее!</li>
  <li><strong>изменяемым окружением</strong> — мир, в котором вы действуете, развивается: растут, угасают, переходят из рук в руки города, леса борются с пустынями, меняется животный мир.</li>
</ul>

<p>
  Многопользовательских ролевых игр много — не будем расписывать их прелести — всё уже описано до нас. Лучше остановимся на непрямом управлении персонажем — сути нашей игры.
</p>

<p>
  В Сказке вы играете за духа-Хранителя, который взял под опеку смертного и сделал того бессмертным героем (не спрашивая о согласии). Благодаря вашей силе, герою не грозит даже смерть (если его «убьют», он со временем воскреснет). Однако, непосредственно влиять на мир вам сложно — Хранители живут далеко от него. Поэтому герой большую часть времени предоставлен самому себе.
</p>

<p>
  Вы можете помочь герою, потратив часть своей <a href="{{url('guide:keepers')}}">энергии</a> (она восстанавливается, когда подопечный молится, приносит жертвы или другим способом выражает своё уважение к Хранителю). В зависимости от текущего занятия героя, помощь будет различаться: это может быть как телепорт, так и разряд молнии в ближайшее чудовище.
</p>

<p>
  Другой, и более действенный способ, — использовать <a href="{{url('guide:cards:')}}">карты судьбы</a> — мощные одноразовые «заклинания», которые заметно влияют на героя или окружающий мир.
</p>

<p>
  Осознав себя избранником высших сил, герой сразу начинает выполнять разнообразные задания. Задания выдают <a href="{{url('guide:persons')}}">Мастера</a> — талантливые ремесленники и политики, проживающие в <a href="{{url('guide:cities')}}">городах</a>. В каждом городе существует несколько Мастеров, готовых попросить героя об услуге.
</p>

<p>
  Герои не всегда завершают задания так, как от них ожидается: поручи герою доставить письмо — он его и украсть может. Как поступить герой решает сам, согласно <a href="{{url('guide:hero-habits')}}">чертам</a> своего характера, но вы можете изменить это решение.
</p>

<p>
  Независимо от исхода задания, поступки героя изменяют влияние Мастеров, задействованных в нём. Суммарная величина влияния Мастеров определяет направление развития городов и их принадлежность к одной из игровых рас.
</p>

<p>
  Если влияние расы в городе начинает преобладать над остальными, город переходит в её владение. При этом изменяется не только поселение, но и мир вокруг него. Вам нравятся леса? — Убедите героя помогать эльфам и со временем его усилия приведут к тому, что мир покроется пышной растительностью. Нравятся орки? — помогайте им и наслаждайтесь барханами в бескрайних пустынях.
</p>

<p>
  Хранители могут вмешиваться в судьбы смертных и напрямую. Для этого один из Хранителей должен выдвинуть желаемое изменение на голосование в <a href="{{url('guide:politics')}}">книге судеб</a>. Если большинство Хранителей одобрит изменение, то оно вступит в силу и запишется в <a href="{{url('game:chronicle:')}}">летопись</a> мира.
</p>

{% endblock %}
