{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'heroes/macros.html' as macros with context %}

{% block title %}Предпочтения героев | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание характера героев и их предпочтений.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Предпочтения героев", "Описание предпочтений героев") }}

<p>
  У каждого разумного существа есть свои вкусы, в соответствии с которыми оно строит своё поведение. Герои Пандоры не исключение. У них есть любимые места, друзья, враги. Всё это можно назвать одним словом — предпочтения. И вы можете влиять на предпочтения своего героя. В свою очередь, герой всегда учитывает предпочтения и никогда не идёт против них.
</p>

<p>
  Изменить предпочтение героя можно с помощью специальной <a href="{{url('guide:cards:')}}">карты судьбы</a>: <strong>{{change_preferences_card.text}}</strong>.
</p>

<p>
  Выбрать предпочтения можно на странице героя.
</p>

<h3>Список предпочтений</h3>

<dl>

  <div class="dl-record guid-preference">
    <dt>религиозность</dt>
    <dd>
      <p>Определяет, как герой будет общаться со своим хранителем. При успешном проведении ритуала, герой почерпнёт немного опыта из вашей безмерной мудрости. Способы общения отличаются количеством опыты, получаемым за «сеанс», частотой использования и моментами, в которые герой может их использовать. Но лучшего способа нет, поэтому выбирайте на свой вкус.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>отношения со спутником</dt>
    <dd>
      <p>
        Отношения со спутником определяют как часто спутник будет защищать героя в бою. Эгоистичный герой не мешает спутнику участвовать в сражениях и не против лишний раз укрыться за его спиной. Альтруистичный герой, наоборот, стремиться уберечь спутника от лишнего урона и не даёт последнему лезть в бой чересчур активно.
      </p>
      <p>
        Если герой и спутник взаимодействуют по принципу «каждый сам за себя», то герой ничего не будет делать для лечения спутника, помощь герою также не будет лечить спутника.
      </p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>родной город</dt>
    <dd>
      <p>У героя появляется любимый город, в который тот возвращается время от времени. Конечно, раз герой чаще бывает в городе, то и оказывает больше влияния на его развитие.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>любимая добыча</dt>
    <dd>
      <p>Герой по разным причинам может начать тяготеть к определённому виду монстров, но если уж такое предпочтение появится у него, то несчастная добыча точно не получит спуску. Герой начинает периодически ходить на охоту за любимой добычей. Благодаря обширным познаниям о выбранном существе, герой чаще получает добычу после победы над ним.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>соратник</dt>
    <dd>
      <p>Соратник — это <a href="{{url('guide:persons')}}">Мастер</a>, с которым герой сдружился. Ваш подопечный будет чаще помогать своему другу и не будет выполнять задания, которые могут навредить ему.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>архетип</dt>
    <dd>
      <p>Архетип отражает отношение героя к магии и его предпочтения при выборе экипировки.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>противник</dt>
    <dd>
      <p>Противник — полная противоположность соратнику. Будьте уверены, если уж стал врагом Героя, то лёгкая жизнь для тебя кончилась.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>эмпатия</dt>
    <dd>
      <p>
        Эмпатия определяет как будут влиять черты спутника (если они есть) на героя. Герои-эмпаты сильнее подвержены влиянию спутников, чем эгоцентрики.
      </p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>любимая вещь</dt>
    <dd>
      <p>Любимая вещь героя, с которой он ни за что не расстанется.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>уровень риска</dt>
    <dd>
      <p>Определяет, будет ли герой рисковать своей жизнью или, наоборот, действовать осторожно.</p>
      <p>Чем рискованнее герой, тем больше опыта и наград он получает за выполнения заданий. Но помните, чем больше риска — тем больше вероятность смерти в бою, за своим здоровьем рисковые герои смотрят плохо.</p>
    </dd>
  </div>


  <div class="dl-record">
    <dt>экипировка</dt>
    <dd>
      <p>Указывает на то, какой тип вещей герой желает улучшать в первую очередь.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>центр области заданий</dt>
    <dd>
      <p>Центральный город области, в которой герой выполняет задания.</p>

      <p>
        Некоторые задания герой может выполнять вне области. Например, задания, связанные с его предпочтениями, гильдией или вызванные особым типом городов.
      </p>

      <p>
        Если центр области заданий не выбран, область заданий будет рассчитываться от текущего положения героя.
      </p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>размер области заданий</dt>
    <dd>
      <p>
        Количество городов в области заданий героя (то есть её размер). Города выбираются по принципу близости к центральному городу.
      </p>

      <p>
        Если несколько городов находятся на одинаковом расстоянии от центрального, в область включается каждый из них.
      </p>

      <p>
        Список ближайших городов для конкретного города можно найти на его странице.
      </p>

    </dd>
  </div>

</dl>


{% endblock %}
