{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Хранители | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Информация о том, какую роль в игре играют игроки (Хранители) и как они могут влиять на мир Пандоры.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Хранители", "Об игроках (хранителях)") }}

<p>
  Игроки в нашей игре являются духами-хранителями героев, следят за ними и помогают. Каждый игрок имеет запас <a href="{{url('guide:cards:')}}">карт судьбы</a>, которые может использовать для помощи герою и других действий.
</p>

<p>
  Кроме того, игроки обладают могуществом; большое могущество отражает важную роль игрока в «Сказке».
</p>

<h4>Могущество</h4>

<p>
  Это характеристика игрока, отражающая степень его участия в жизни Пандоры. Могущество не даёт существенных бонусов, вместо этого оно выполняет роль «кармы» (по аналогии с другим интернет-ресурсами).
</p>

<p>
  Могущество даёт символические бонусы:
</p>

<ul class="unstyled" style="text-align: left;">
  <li>бонус к эффективности в pvp;
  <li>бонус к политическому влиянию.
</ul>

<p>
  Для увеличения своего могущества, игрок может:
  <ul>
    <li>общаться на <a href="{{url('forum:')}}">форуме</a> (кроме общения в разделах гильдий и форумных <strong>не</strong> ролевых игр);</li>
    <li>создавать записи в <a href="{{url('game:bills:')}}">Книгу Судеб</a>;</li>
    <li>участвовать в конкурсах;</li>
    <li>создавать <a href="{{url('blogs:posts:')}}">фольклорные произведения</a>;</li>
    <li>создавать <a href="{{url('linguistics:')}}">новые фразы</a>;</li>
    <li>помогать разработчикам (например, находить ошибки в игре или предлагать оригинальные идеи).</li>
  </ul>
</p>

<p>
  Таким образом, большое могущество всегда указывает на важную роль игрока в «Сказке».
</p>

<p>
  Могущество всех игроков пересчитывается один раз в сутки.
</p>

{% endblock %}
