{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Карта | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание мира и карты Пандоры.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Карта", "Что из себе представляют карта мира.") }}

<p>
  Мир Пандоры находится в постоянном движении, ничто не стоит на своём месте: растут и угасают города, леса сменяются пустынями, герои сражаются с монстрами. Все события, происходящие в мире, взаимосвязаны. Карта Пандоры лучше всего отображает эти изменения.
</p>

<p>
  Наиболее интересными объектами на карте, конечно, являются <a href="{{url('guide:cities')}}">города</a> и соединяющие их дороги. Пандора всё время очень активно изменяется, поэтому герои предпочитают путешествовать только по дорогам и сходят с них только в крайнем случае (и не стоит их упрекать в лени — никто не хочет, путешествуя по полю, оказаться на вершине растущей горы).
</p>

<p>
  Основной движущей силой (кроме героев, конечно) изменения карты являются жители Пандоры. Так как весь мир пронизывает сильнейшая магия, то каждый житель Пандоры заметно влияет на окружающий ландшафт. Каждая раса самим своим существованием влияет на окружающую территорию. Вот несколько примеров того, как разные расы влияют на мир Сказки (это далеко не исчерпывающий список!):
</p>

<ul>
  <li>Вокруг городов дварфов поднимаются горы и падает температура воздуха. Однако если по каким-то причинам земная твердь не рождает скал, в окрестностях поселений дварфов ощутимо теплеет.</li>
  <li>Вокруг поселений орков со временем исчезают леса и значительно повышается температура воздуха, что вызывает стремительное опустынивание местности (это, к слову, радует оркский суровый характер).</li>
  <li>Люди — самый неприхотливый народ, но даже их появление приводит к исчезновению лесов и распространению равнин, в том числе степей.</li>
  <li>Вокруг гоблинов распространяется сильнейшая влажность, происходит заболочивание земель.</li>
  <li>Эльфы, как известно, животному миру предпочитают растительность, поэтому вокруг их жилищ очень быстро разрастаются леса.</li>
</ul>

<p>
  В целом, изменения карты соответствуют характеру расы, приветствуются и поддерживаются её представителями.
</p>

{% endblock %}
