{% extends "guide/base.html" %}

{% import 'guide/macros.html' as guide_macros with context %}
{% import 'heroes/macros.html' as macros with context %}

{% block title %}Книга Судеб | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описания Книги Судеб и типов записей в ней.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Книга Судеб", "Описание способов влияния на глобальные события, происходящие в Пандоре") }}

<p>
  Книга Судеб позволяет игрокам оказывать влияние на мир игры путём прямого голосования.
</p>

<p>
  Каждый игрок может создать запись в книге. Если по истечении заданного промежутка времени она наберёт поддержку других Хранителей, мир изменится в указанную сторону. Записи позволяют менять ту часть мира, на которую не имеют прямого влияния герои: переименовывать города, изменять их население, переселять <a href="{{url('guide:persons')}}">Мастеров</a>, etc. Для записи создаётся отдельная тема на форуме, в которой можно вести обсуждения. Во время голосования автор записи может её отредактировать (например, по итогам обсуждения), в этом случае все голоса будут сброшены и голосование начнётся сначала.
</p>

<p>
  Игрок может голосовать «за», «против» или «воздержаться» (голоса «воздержавшихся» игроков не учитываются при подведении результатов).
</p>

<h4>Правила</h4>

<ul>
  <li>каждый игрок может создать запись, для её обсуждения создаётся отдельная тема на форуме;</li>
  <li>игрок с базовым аккаунтом может иметь только одну запись на голосовании;</li>
  <li>подписчик может иметь до {{c.PREMIUM_ACCOUNT_MAX_ACTIVE_BILLS}} записей на голосовании;</li>
  <li>игрок может создать запись только через {{bills_settings.MINIMUM_BILL_OWNER_AGE}} дня после регистрации;</li>
  <li>агитационные компании игроки, по желанию, могут проводить самостоятельно, пользуясь доступными средствами;</li>
  <li>игроки могут голосовать «за», «против» либо «воздержаться». Изменить своё решение нельзя — делайте выбор аккуратно;</li>
  <li>в подведении итогов учитываются только голоса отданные «за» или «против»;</li>
  <li>до окончания голосования точное количество голосов отданных «за» или «против» скрыто;</li>
  <li>голос создателя записи автоматически отдаётся «за» неё;</li>
  <li>на голосование отводится строго определённое количество дней: {{(bills_settings.BILL_LIVE_TIME/24/60/60)|int}};</li>
  <li>если во время голосования автор записи её отредактирует, будут сброшены все результаты голосования и сроки;</li>
  <li>для вступления записи в силу количество голосов «за» должно быть больше или равно {{bills_settings.MIN_VOTES_PERCENT|percents}};</li>
  <li>каждая запись должна пройти проверку модератора, главное требование — соблюдение общепринятых культурных норм: запрещаются любого рода оскорбления, нарушения законодательства и аналогичные нарушения;</li>
  <li>по истечении времени голосования запись будет либо отклонена, либо применена (сразу или в ближайшее возможное время);</li>
  <li>каждая принятая запись даёт своему автору {{heroes_settings.POWER_PER_ACTIVE_BILL|percents}} бонус к влиянию героя на {{bills_settings.BILL_ACTUAL_LIVE_TIME}} дней, но не более {{(heroes_settings.POWER_PER_ACTIVE_BILL*heroes_settings.ACTIVE_BILLS_MAXIMUM)|percents}}.</li>
</ul>

<h4>Ограничение голосования</h4>

<p>
  Создать запись может любой игрок, завершивший регистрацию, но голосовать могут только <a href="{{url('guide:account-types')}}">подписчики</a>. Оформить подписку можно в <a href="{{url('shop:')}}">магазине</a>.
</p>

<p>
  По некоторым типам записей могут голосовать не все игроки.
</p>

<p>
  Если запись как-либо связана с городами, то голосовать по ней могут только игроки, герои которых «известны» хотя бы в одном из городов, связанных с ней. Узнать известность героя можно на его странице. Известность растёт, когда герой выполняет задания в пользу жителя города. За помощь каждому горожанину начисляется {{c.HERO_FAME_PER_HELP}} очков известности. Игрок может голосовать за первые {{bills_settings.PLACES__TO_ACCESS_VOTING}} городов из списка, отсортированного по величине известности, если его известность в них больше либо равна {{c.BILLS_FAME_BORDER}}. Герой также может голосовать в городах, известность героя в которых такая же, как и в {{bills_settings.PLACES__TO_ACCESS_VOTING}}-ом городе списка.
</p>

<p>
  Некоторые черты Мастеров влияют на количество получаемой известности.
</p>

<p>
  Известность героя уменьшается со временем.
</p>

<p>
  Ограничение работает только на голосование. Создать запись может любой игрок независимо от того, помогал он городу или нет. При этом, голос создателя записи автоматически отдаётся «за» неё.
</p>

<p>
  Исключением являются новые города, за записи связанные с которыми может голосовать любой подписчик.
</p>


<h4>Записи, связанные с городами</h4>

<p>
  При принятии записи, в каждом городе, на который она оказывает эффект, уменьшается стабильность, что ведёт к изменению прочих параметров города. Поэтому подходить к принятию записей следует аккуратно.
</p>

<p>
  <a href="{{url('guide:cities')}}">Подробнее о городах</a>.
</p>

<h4>Типы записей</h4>

<dl>
  {% for bill_id, bill in BILLS_BY_ID.items() %}
  {% if bill.type.enabled %}
  <div class="dl-record">
    <dt>{{bill.CAPTION}} <small>стабильность -{{bill.type.stability|percents}}</small></dt>
    <dd>
      <p>{{bill.DESCRIPTION|safe}}</p>
    </dd>
  </div>
  {% endif %}
  {% endfor %}
</dl>


{% endblock %}
