{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Политика конфиденциальности | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Политика конфиденциальности{% endblock %}

{% block guide_content %}

<h3>Политика конфиденциальности</h3>

<p>
  Мы обязуемся защищать и соблюдать ваши права на данные о вас.
</p>

<p>
  В настоящей Политике конфиденциальности (далее — <strong>«Политика»</strong>) устанавливается порядок обработки нами информации, которую вы предоставляете нам или которую мы собираем о вас.
</p>

<p>
  К <strong>«Данным о вас»</strong> и <strong>«Вашим данным»</strong> мы относим данные идентифицированного или идентифицируемого физического лица. «Данные о вас» могут включать, например, адрес вашей электронной почты, пол. Анонимная информация, которую мы не можем связать с вашей личностью, не относится к категории «Данных о вас».
</p>

<h4>Общие сведения</h4>

<p>
  Мы обрабатываем ваши данные только в том случае, если такая обработка необходима для выполнения условий заключенного с вами договора и для соблюдения наших законных обязательств и интересов, если такие интересы не противоречат интересам, основным правам и свободам, для реализации которых требуется защита Ваших данных.
</p>

<p>
  Наши законные интересы подразумевают предоставление и повышение качества сервисов эффективным и безопасным образом.
</p>

<p>
  Мы и наши сотрудники понимаем необходимость обеспечения конфиденциальности пользователей и принимаем разумно обоснованные меры обеспечения безопасности для защиты Ваших данных от потери, неправильного использования и несанкционированного доступа, раскрытия, изменения и уничтожения, принимая во внимание риски, связанные с обработкой Данных о вас.
</p>

<p>
  На странице <a href="{{url('accounts:profile:show')}}">профиля</a> в разделе «Управление данными» вы можете получить отчёт с Данными о вас или запросить удаление аккаунта и Данных о вас.
</p>

<h4>Хранение данных</h4>

<p>
  Большинство Ваших данных, собранных и обработанных в целях, описанных в настоящей Политике, сохраняется, пока вы продолжаете использовать наши сервисы.
</p>

<h4>Сбор данных</h4>

<p>
  При использовании вами наших сервисов, мы собираем информацию, полученную либо напрямую от вас (когда вы предоставляете нам информацию), либо косвенно (например, созданную вами в процессе использования сервисов).
</p>

<h5>Прямое получение информации</h5>

<p>
  Мы собираем Ваши данные и другую добровольно предоставляемую информацию. Решение о предоставлении запрашиваемой информации принимаете вы.
Следует учесть, что использование определенных сервисов возможно только в случае предоставления необходимых данных (например, email адреса при создании аккаунта).
</p>

<h5>Косвенное получение информации</h5>

<p>
  Мы собираем информацию, косвенно взаимодействуя с вами с помощью наших сервисов.
</p>

<p>
  Эта информация может включать, помимо прочего, данные об использовании приложений, географическую информацию, статистическую и агрегированную информацию.
</p>

<p>
  Статистическая или агрегированная информация напрямую не идентифицирует конкретное лицо, но может быть получена на основании Ваших данных. Например, можно агрегировать Ваши данные для расчета процента пользователей в конкретной стране.
</p>

<h6>Данные отслеживания и файлы cookie</h6>

<p>
  Нами и нашими партнерами (например, партнерами по маркетингу и аналитике) используются «файлы cookie» и аналогичные технологии (веб-маяки, теги объявлений и идентификаторы устройств) для распознания вас или вашего устройства, а также для улучшения качества предлагаемых нами сервисов.
</p>

<p>
  Использование этих технологий является стандартным для сети Интернет.
</p>

<h6>Информация, связанная с сервисами</h6>

<p>
  Для обеспечения быстрого, эффективного и удобного взаимодействия вас с с сервисами, нам необходимо собирать, хранить и использовать различную информацию о ваших действиях в них. Эта информация включает в себя, в том числе, ваш идентификатор в игре, время и тип действий, произведённых вами в игре и связанных с ней сервисах.
</p>

<h6>Информация о географическом положении</h6>

<p>
  Для повышения удобства использования сервисов мы можем собирать данные о вашем примерном местоположении (используя для этого IP-адрес вашего устройства).
</p>

<h6>Информация для обнаружения мошенничества и нарушений</h6>

<p>
  Мы можем собирать определенные данные (например, IP-адрес, имя пользователя) для обнаружения, расследования и предотвращения нарушений правил Игры и пользовательского соглашения. Эти данные используются исключительно в целях обнаружения, расследования и предотвращения мошенничества в игре.
</p>

<p>
  Если данные можно использовать для доказательства факта обмана или иного мошенничества, или нарушения положений пользовательского соглашения, мы сохраняем их для установления, осуществления или защиты правопритязаний на необходимый для этого срок.
</p>

<h6>Информация из общедоступных онлайн-ресурсов</h6>

<p>
  Мы можем использовать общедоступную информацию (например, из YouTube, ВКонтакте, Facebook, Instagram и Twitter), чтобы узнать ваше мнение об игре и сервисах и учесть его при повышении качества сервисов. Мы можем выполнять сбор таких данных самостоятельно или получать его результаты от партнеров, занимающихся анализом общественного мнения по различным вопросам.
</p>

<h6>Информация от наших партнеров</h6>

<p>
  В некоторых случаях мы получаем Ваши данные как оператор обработки данных. Это означает, что такие данные контролируются нашими партнерами, и мы используем их только в соответствии с указаниями партнеров и действующим законодательством. Мы используем эти данные для выполнения наших обязательств и повышения качества сервисов, а также если обработка данных необходима для выполнения нами юридического обязательства.
</p>

<p>
  <strong>Платежные партнеры.</strong> Когда вы производите платежи через наших партнёров (XSolla), мы можем получать от них информацию, необходимую для корректного оказания приобретённых услуг.
</p>

<p>
  <strong>Платформы.</strong> Мы можем получать и использовать ваши идентификаторы на других платформах (таких как сервис чатов Discord, магазины приложений App Store, Google Play Store, социальные сети), чтобы вы могли использовать наши сервисы на этих платформах.
</p>

<p>
  <strong>Социальные сети.</strong> Мы создали связанные с Играми групповые учетные записи и страницы в социальных сетях ВКонтакте, Facebook, Twitter и других, чтобы упростить общение с нашими игроками.
</p>

<p>
  Кроме того, мы можем получать информацию о ваших профилях в социальных сетях и других сервисах, чтобы обеспечить интеграцию с ними. Например, ваши имя и идентификатор в социальной сети, если вы связали сторонний ресурс с нашими сервисами.
</p>

<h4>Использование данных</h4>

<p>
  Если иное не предусмотрено законом, Данные о вас используются в следующих целях:
</p>

<ul>
  <li>предоставление сервисов, согласно заключённому с вами договору;</li>
  <li>повышение качества предоставляемых вам сервисов;</li>
  <li>предоставление вам сведений об аккаунте, транзакциях, функциях наших сервисов и изменениях в наших политиках;</li>
  <li>оказание поддержки.</li>
</ul>

<p>
  В том числе, Ваши данные используются для следующих целей.
</p>

<h5>Коммуникации</h5>

<p>
  Мы используем Ваши данные, чтобы информировать вас об изменениях в наших сервисах и событиях в них, связаных с вами (например, о новых личных сообщениях).
</p>

<p>
  После создания вами аккаунта мы можем использовать ваш адрес электронной почты, псевдоним и другую информацию, чтобы отправлять вам электронные письма с соответствующей информацией.
</p>

<p>
  Вы можете отказаться от разных типов сообщений на странице <a href="{{url('accounts:profile:show')}}">профиля</a>.
</p>

<h5>Повышения качества обслуживания</h5>

<p>
  Мы анализируем Ваши данные, чтобы определить, как можно повысить качество наших сервисов и нашей работы. Мы также можем попросить вас принять участие в опросах, связанных с сервисами; только вы решаете, участвовать в опросе или нет, и какую информацию предоставлять.
</p>

<h5>Обнаружения мошенничества и нарушения пользовательского соглашения</h5>

<p>
  Мы используем информацию, необходимую для обнаружения, расследования и предотвращения нарушения правил игры и её сервисов, а также нарушения пользовательского соглашения.
</p>

<h4>Передача данных</h4>

<p>
  В целях выполнения условий соглашения с вами и для соблюдения наших законных обязательств и интересов мы можем передавать Ваши данные третьим лицам следующих категорий:
</p>

<ol>
  <li><strong>Платежные партнеры.</strong> Мы можем сообщать платежным партнерам ваш адрес электронной почты, а также другую информацию, с целью обработки ваших покупок.</li>
  <li><strong>Партнеры по хранению данных.</strong> Некоторые собранные нами данные хранятся на серверах сторонних служб хранения данных. Например, часть информации, связанной с игрой, хранится на платформах Google, Amazon Web Services.</li>
  <li><strong>Разработчики приложений на основе игры.</strong> Мы раскрываем ваш никнейм и часть статистики другим пользователям и нашим партнерам через публичное API. Эти данные могут использоваться для разработки и поддержки приложений, созданных игровым сообществом, а также мобильных приложений.</li>
  <li><strong>Другие пользователи.</strong> Предоставление другим пользователям возможности видеть ваш псевдоним и статистику в рамках наших сервисов является неотъемлемой частью функциональности игры.</li>
</ol>

<p>
  Наши сервисы могут иметь площадки для публичного общения: доски объявлений, форумы, чаты (и другие площадки со сходной функциональностью), где пользователи могут обмениваться идеями и общаться друг с другом. Информация, опубликованная на подобной площадке, становится доступной для любого пользователя сети интернет. Таким образом, <strong>вы размещаете ее на свой страх и риск</strong>.
</p>

<p>
  Если на одной из таких площадок вы разместили Ваши данные, используйте инструменты площадки, чтобы удалить их. Если вы не можете удалить эти данные, обратитесь в поддержку <strong>перед удалением аккаунта</strong>.
</p>

<p>
  Обратите внимание:
</p>

<ol>
  <li><strong>Определить и удалить Ваши данные на таких площадках в автоматическом режиме технически невозможно.</strong></li>
  <li><strong>После удаления аккаунта, у нас не останется возможности подтвердить вашу связь с данными, оставшимися на площадках.</strong> Мы не сможем проводить с оставшимися данными какие-либо операции по вашему запросу.</li>
</ol>

<h4>Право на доступ к Вашим данным</h4>

<p>
  Вы имеете право на доступ к Данным о вас, полученным нами. Вы можете реализовать свое право на доступ к Вашим данным на странице <a href="{{url('accounts:profile:show')}}">профиля</a> в блоке «управление данными».
</p>

<p>
  Мы предоставляем отчёт как в формате, удобном для человека, так и в техническом формате, предназначенном для автоматической обработки.
</p>

<p>
  Мы включаем в отчёт все Ваши данные, которые мы имеем. Также мы включаем некоторые другие данные, которые могут быть вам интересны.
</p>

<p>
  Обратите внимание:
</p>

<ol>
  <li>Мы не предоставляем и не владеем данными, переданными вами напрямую нашим партнёрам (Xsolla, Discord и другие). Если вы хотите получить доступ к ним, вам необходимо потребовать их напрямую у наших партнёров.</li>
  <li>Мы не сможем предоставить вам Данные о вас, опубликованные вами на одной из площадок для публичного общения (работа площадок описана ранее в этой политике).</li>
</ol>

<h4>Право на изменение Ваших данных</h4>

<p>
  Вы самостоятельно определяете, какой никнейм, адрес электронной почты, учетные записи социальных сетей, и прочие данные будут ассоциироваться с вашим аккаунтом. При любых изменениях вышеуказанных данных вы можете внести соответствующие изменения в настройки профиля.
</p>

<h4>Право на удаление Ваших данных</h4>

<p>
  Вы имеете право запросить удаление Ваших данных путем удаления вашего аккаунта. Инициировать удаление можно на странице <a href="{{url('accounts:profile:show')}}">профиля</a> в блоке «управление данными».
</p>

<p>
  В результате удаления вашего аккаунта вы потеряете доступ к большинству сервисов, включая доступ к связанной с вашим аккаунтом информации об аккаунте, подпискам на форуме, а также к другим сервисам, для пользования которыми использовался аккаунт.
</p>

<p>
  Ваши данные удаляются в течение 30 (тридцати) календарных дней после инициации удаления аккаунта. Мы обязуемся не задерживать удаление данных сверх времени, необходимого для обеспечения корректной работы наших сервисов: часть данных будет удалена сразу, часть в течение ближайшего времени, некоторые (например, резервные копии данных игры) будут удалены в течение 30 календарных дней.
</p>

<p>
  Обратите внимание:
</p>

<ol>
  <li>Мы не владеем данными (и не удаляем их), переданными вами напрямую нашим партнёрам (Xsolla, Discord и другие). Если вы хотите удалить их, вам необходимо потребовать удаление напрямую у наших партнёров.</li>
  <li>Мы не сможем автоматически удалить Данные о вас, опубликованные вами на одной из площадок для публичного общения вопреки нашему уведомлению об особенностях работы таких площадок (указаны ранее в этой политике). <strong>Если вы испытываете трудности с самостоятельным удалением таких данных (например, сообщений на форуме), обратитесь в поддержку перед инициализацией удаления аккаунта.</strong></li>
  <li>Мы не контролируем данные, скопированные другими пользователями наших сервисов (например, из ваших сообщений). Для удаления этих данных, вам необходимо обратиться непосредственно к пользователю.</li>
  <li>Мы удаляем все Ваши данные, за исключением данных, которые необходимы для выполнения требований применимого законодательства (например, в сфере налогообложения и бухгалтерского учета), а также для обнаружения, расследования и предотвращения нарушения правил игры и пользовательского соглашения. </li>
</ol>

<p>
  Мы сохраняем большинство Ваших данных до получения от вас запроса на удаление аккаунта. Тем не менее, некоторые Данные о вас удаляются даже при действующем Аккаунте. В частности, технические журналы (журналы связи между сервисами, журналы доступа, журналы ошибок) и резервные копии данных удаляются в течение 30 (тридцати) дней с момента создания.
</p>

<p>
  После удаления вашего Аккаунта сохраняется также анонимная информация.
</p>

<h4>Мы оставляем за собой право изменять настоящую политику</h4>

<p>
  Мы вправе периодически вносить изменения в настоящую Политику, например, при необходимости отобразить изменения в законодательстве и нормативных актах, отраслевых принципах и технических разработках.
</p>

{% endblock %}
