{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}PvP | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}О сражениях между героями на Арене и особых PvP способностях.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("PvP", "О сражениях между игроками.") }}

<p>
  Для того чтобы герои могли решать свои разногласия «цивилизованным» способом (а заодно снимать стресс, накопившийся во время приключений), Хранители создали Арену, на которую в любой момент можно отправить своего героя. Все сражения проходят в виде дуэли.
</p>

<h4>Создание боёв</h4>

<p>
  Отправить героя на арену можно со <a href="{{url('game:')}}">страницы игры</a>. При этом будет зарегистрирована заявка на проведение боя. Другой Хранитель может принять ваш вызов и, тем самым, начать бой.
</p>

<p>
  При отправке героя на арену, его здоровье полностью восстанавливается; по завершении боя, герой возвращается к своим занятиям, его здоровье возвращается в состояние, которое было до отправки на арену.
</p>

<p>
  Отправка героя на арену и принятие вызова бесплатны.
</p>

<p>
  Если вы не хотите ждать других игроков или хотите потренироваться, то можно немедленно начать битву с «Существом» — случайным противником, созданным специально для вашего героя.
</p>

<p>
  Бой на арене попадёт в статистику и рейтинги только если он происходит между Хранителями, уровни которых отличаются не более чем на {{value('the_tale.game.pvp.conf', 'settings').MAX_RATING_LEVEL_DELTA}}.
</p>

<h4>Ход боя</h4>

<p>
  Столкнувшись со сложным противником, приключенцы вспоминают, что (оказывается) сражаться можно не просто пытаясь изрубить супостата в капусту, но и применяя различные боевые стили и прочие ухищрения. В результате, герои начинают вести бой стратегически и пытаются захватить инициативу. Мерой успешности стратегических и тактических успехов героя является его <strong>эффективность</strong>.
</p>

<p>
  <strong>Эффективность</strong> боя влияет на <strong>преимущество</strong>, которое один герой может получить над другим. В начале боя ни один из героев не обладает преимуществом. В случае, если эффективность боя одного из героев выше, тот получает определённое количество преимущества. Преимущество даёт хороший бонус к урону (при максимальном преимуществе урон героя увеличивается на {{c.DAMAGE_PVP_ADVANTAGE_MODIFIER|percents}}). При получении полного преимущества над противником, следующий удачный удар героя нанесёт очень большой урон ({{c.DAMAGE_PVP_FULL_ADVANTAGE_STRIKE_MODIFIER|percents}}). После нанесения подобного удара, обоим героям необходимо время чтобы прийти в себя, поэтому преимущество сбрасывается на начальное значение.
</p>

<p>
  Небольшое влияние на эффективность оказывает также <a href="{{ url('guide:keepers') }}">могущество</a> игрока.
</p>

<p>
  Во время сражения хранители накапливают энергию, которую могут тратить на помощь своим подопечным. Для этого им доступны несколько способностей:
</p>

<ul>
  <li><strong>{{pvp_abilities.Ice.NAME}}</strong> — {{pvp_abilities.Ice.DESCRIPTION}}</li>
  <li><strong>{{pvp_abilities.Blood.NAME}}</strong> — {{pvp_abilities.Blood.DESCRIPTION}}</li>
  <li><strong>{{pvp_abilities.Flame.NAME}}</strong> — {{pvp_abilities.Flame.DESCRIPTION}}</li>
</ul>

{% endblock %}
