{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Задания | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}О заданиях, выполняемых героями и их влиянии на мир «Сказки».{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Задания", "Почему герои их постоянно выполняют какие-то задания") }}

<p>
  Мир Пандоры ужасно опасен из-за постоянных изменений и огромного количества монстров, наводнивших пространства между городами. Жители проводят большую часть своей жизни в родном городе, иногда посещая соседние поселения. Другое дело — герои: благодаря силе и бессмертию, полученным от Хранителей, они имеют возможность относительно безопасно путешествовать между городами.
</p>

<p>
  Хранители даруют свою поддержку только особым пандорцам. Чтобы стать героем, пандорец уже должен иметь сильную тягу к путешествиям, авантюризму. У него не должно быть близких родственников и… он должен умереть, то есть полностью воспльзоваться возможностью прожиь обычную жизнь.
</p>

<p>
  Из-за особого склада характера, такой же судьбы и, конечно, бессмертия, большинство героев берётся выполнять работу, сопряжённую с большим риском для обычных пандорцев. Герои обеспечивают почти всю коммуникацию между городами, помогают поддерживать безопасность на трактах. Не брезгуют они и участием в интригах <a href="{{url('guide:persons')}}">Мастеров</a>. Последние и дают им большинство заданий.
</p>

<p>
  Так как в пути героя никто не контролирует, тот самостоятельно решает как выполнить задание и выполнять ли его вообще. Заказчики обычно слишком заняты, чтобы упомнить все свои поручения, а герой ведь и соврать может — мало ли что в пути пошло не так…
</p>

<p>
  Вы, как Хранитель героя, можете повлиять на его выбор в заданиях.
</p>

<p>
  Кроме награды за выполнение задания герой получает опыт, который необходим ему, чтобы расти в уровнях и совершенствовать свои навыки.
</p>

<p>
  В зависимости от результатов выполнения задания, увеличивается или уменьшается влияние заинтересованных в нём Мастеров, что сказывается на городах Пандоры. Таким образом, герои — это важный фактор политической жизни мира и чем сильнее герой, чем сложнее задания он выполняет, тем больше его влияние на политическую ситуацию.
</p>

<p>
  Влияние, приносимое героем при выполнении задания, определяется базовым влиянием задания (оно отображается на странице игры рядом с названием задания) и модификаторами к нему от параметров героя, Мастеров, <a href="{{url('guide:cities')}}">городов</a> и <a href="{{url('guide:emissaries')}}">эмиссаров</a>.
</p>

<p>
  Базовое влияние задания можно увеличить с помощью <a href="{{url('guide:cards:')}}">Карт Судьбы</a>.
</p>

<p>
  После окончания задания, его базовое влияние изменяется согласно сумме всех модификаторов и начисляется всем задействованным Мастерам, городам и эмиссарам.
</p>

<p class="alert alert-info">
  Бонус от города действует только на участников задания, относящихся к городу. Бонус от Мастера действует только на Мастера и город, в котором он живёт. Аналогично работает бонус от эмиссара.
</p>

<p>
  Перечень модификаторов влияния:
</p>

<ul>
  <li>герой: могущество — символическое увеличение влияния за личный вклад Хранителя в развитие игры;</li>
  <li>герой: способности — до {{tt_politic_power_constants.MODIFIER_HERO_ABILITIES|percents}};</li>
  <li>герой: спутник — до {{tt_politic_power_constants.MODIFIER_HERO_COMPANION|percents}};</li>
  <li>герой: артефакт — до {{tt_politic_power_constants.MODIFIER_HERO_ARTIFACTS_EPIC|percents}} от одного артефакта;</li>
  <li>город: уровень свободы — до {{tt_politic_power_constants.MODIFIER_PLACE_FREEDOM|percents}};</li>
  <li>Мастер: строение — до {{tt_politic_power_constants.MODIFIER_PERSON_BUILDING|percents}};</li>
  <li>Мастер: характер — до {{tt_politic_power_constants.MODIFIER_PERSON_CHARACTER|percents}};</li>
  <li>эмиссар: особенности — до {{tt_politic_power_constants.MODIFIER_EMISSARY|percents}};</li>
</ul>

<p class="alert alert-info">
  В случае провала задания из-за смерти героя в ключевом бою (например, при защите каравана), задание считается проваленным, герой не получает награду (но получает опыт), <strong>влияние участвующих в задании Мастеров никак не изменяется</strong>.
</p>

{% endblock %}
