{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Задания | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}О заданиях, выполняемых героями и их влиянии на мир «Сказки».{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Задания", "Почему герои их постоянно выполняют какие-то задания") }}

<p>
  Мир Пандоры ужасно опасен из-за постоянных изменений и огромного количества монстров, наводнивших пространства между городами. Жители проводят большую часть своей жизни в родном городе, иногда посещая соседние поселения. Другое дело — герои: благодаря силе и, фактически, бессмертию, полученным от духа-хранителя, они имеют возможность относительно безопасно путешествовать между городами.
</p>

<p>
  Обретя такие возможности, конечно, никто не останется сидеть дома (говорят, духи-хранители промывают мозги своим подопечным, но это лживые слухи!). Путешествовать без денег и экипировки несподручно, да и другим помогать всё-таки надо, поэтому герои начинают браться за задания, которые тем обычно поручают <a href="{{url('guide:persons')}}">Мастера</a>. Мотивом для этого может быть как недостаток денег, жадность, так и чувство долга или желание прославиться.
</p>

<p>
  Так как в пути героя никто не контролирует, тот самостоятельно решает как выполнить задание и выполнять ли его вообще (иногда с подсказки Хранителя). Заказчики обычно слишком
заняты, чтобы упомнить все свои поручения, а герой ведь и соврать может — мало ли что в пути пошло не так…
</p>

<p>
  Кроме награды за выполнение задания герой получает опыт, который необходим ему, чтобы расти в уровнях и совершенствовать свои навыки. Вдобавок, в зависимости от результатов выполнения задания, увеличивается или уменьшается влияние заинтересованных в нём Мастеров, что сказывается на городах Пандоры. Таким образом, герои — это важный фактор политической жизни мира и чем сильнее герой, чем сложнее задания, за которые он берётся, тем больше его влияние на политическую ситуацию.
</p>

<p class="alert alert-info">
  В случае провала задания из-за смерти героя в ключевом бою (например, при защите каравана), задание считается проваленным, герой не получает награду (но получает опыт), <strong>влияние участвующих в задании Мастеров никак не изменяется</strong>.
</p>

{% endblock %}
