<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="{{ url('news:feed') }}" type="application/atom+xml" rel="alternate" title="Новости" />
    <title>{% block title%}{% endblock %}</title>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10915391-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <link rel="stylesheet" type="text/css" href="{{ LESS_CSS_URL }}main.css" />
    <link rel="stylesheet" type="text/css" href="{{ LESS_CSS_URL }}javascript.css" />

    <script src="{{ STATIC_URL }}plugins/jquery/jquery-1.5.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}plugins/jquery/jquery-ui-1.8.9/js/jquery-ui-1.8.9.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}plugins/jquery/jquery.url.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}plugins/jquery/tipsy/jquery.tipsy.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/jquery/tipsy/tipsy.css" />

    <script src="{{ STATIC_URL }}plugins/globalize/globalize.js"></script>
    <script src="{{ STATIC_URL }}plugins/globalize/cultures/globalize.culture.ru.js"></script>

    <script src="{{ STATIC_URL }}common/base.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}common/dialog.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}common/forms.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}common/tooltips.js" type="text/javascript"></script> 
    <script src="{{ STATIC_URL }}common/urls.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}common/dialog.js" type="text/javascript"></script>

    {% if settings.DEBUG %}
    <script src="{{ STATIC_URL }}common/debug.js" type="text/javascript"></script>
    {% endif %}

    <script type="text/javascript">

jQuery(document).ready(function() {

    Globalize.culture('ru');
    pgf.base.AutoFormatTime();

    jQuery.ajaxSetup({
        beforeSend: function(xhr, settings) {

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken') );
            }
        }
    });

    pgf.tooltips.Init();
});
    </script>

    {% block head %}{% endblock%}
  </head>
  <body>

    <div id="top-panel">
      <div id="top-panel-content">
        <div class="user-links">
          {% if request.user.is_authenticated() %}
          <a href="{{ url('accounts:logout') }}">Выход</a>
          {% else %}
          <a href="{{ url('accounts:login') }}">Вход</a>
          <a href="{{ url('accounts:registration') }}">Регистрация</a>
          {% endif %}
        </div>
      </div>
    </div>

    {% block body %}

    {% if settings.DEBUG %}
    <ul style="position: absolute; right: 0; top: 2em;">
    {% block debug_menu%}
    {% endblock %}
    </ul>
    {% endif %}

    <div id="content">

      <nav id="main-navigation" class="block">
        <div class="navigation-links">
          <a href="{{ url('portal:') }}">Главная</a>
          <a href="{{ url('news:') }}">Новости</a>
          <a href="{{ url('game:') }}">Игра</a>
          <a href="{{ url('forum:') }}">Форум</a>
        </div>
      </nav>

      {% block content %}
      {% endblock %}

    </div>

    <div class="footer">
    </div>

    {% endblock %}
  </body>
</html>
