
{% macro main_menu_item(type, url, name, submenus=[]) -%}

<li class="{% if type == SECTION %}active{% endif %} {% if submenus %}dropdown{% endif %}">
  <a href="{{ url }}" {% if submenus %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
    {{ name|safe }} {% if submenus %}<b class="caret"></b>{% endif %}
  </a>

  {% if submenus %}
  <ul class="dropdown-menu">
    {% for sub_link, sub_name in submenus %}

    {% if sub_link == '-' %}
    {{ sub_name|safe }}
    {% else %}
    {{ main_menu_item("", sub_link, sub_name) }}
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</li>

{%- endmacro %}


{% macro addthis(title, description, url=none) %}

{% if url is none %}
{% set url = resource.request.build_absolute_uri()%}
{% endif %}

  <div class="addthis_toolbox addthis_default_style"
       addthis:ui_language="ru"
       addthis:title="«Сказка»: {{title|striptags}}"
       addthis:description="{{description|striptags}}"
       addthis:services_exclude="print"
       addthis:url="{{url}}"

       addthis:data_track_addressbar="false"
       addthis:data_track_clickback="false"
       addthis:track_addressbar="false"
       addthis:track_clickback="false"

       {% if settings.GA_CODE %}
       addthis:ga_property="{{settings.GA_CODE}}"
       addthis:ga_social="true"
       {% endif %}
       >
    <span class="invitation">поделиться с друзьями</span>
    <a class="addthis_button_vk"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-505d67570062215a"></script>
{% endmacro %}

{% macro render_paginator(paginator) %}

{% if paginator.pages_count > 1 %}

<div class="pagination pagination-right">
  <ul>
      {% for page_number in paginator.pages_numbers %}
      {% if page_number == paginator.current_page_number %}
      <li class="active"><a>{{ page_number+1 }}</a></li>
      {% else %}
      <li><a href="{{ paginator.url_builder(page=page_number+1) }}">{{ page_number+1 }}</a></li>
      {% endif %}
      {% endfor %}
  </ul>
</div>

{% endif %}

{% endmacro %}
