
{% macro main_menu_item(type, url, name, submenus=[]) -%}

<li class="{% if type == SECTION %}active{% endif %} {% if submenus %}dropdown{% endif %}">
  <a href="{{ url }}" {% if submenus %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
    {{ name }} {% if submenus %}<b class="caret"></b>{% endif %}
  </a>

  {% if submenus %}
  <ul class="dropdown-menu">
    {% for sub_link, sub_name in submenus %}
    {{ main_menu_item("", sub_link, sub_name) }}
    {% endfor %}
  </ul>
  {% endif %}
</li>

{%- endmacro %}
