{% extends "clans/base.html" %}

{% block title %}Заявки на вступление в гильдию | {{ super() }}{% endblock %}
{% block description %}Заявки на вступление в вашу гильдию.{% endblock %}

{% block clans_content %}

<h2 style="margin-bottom: 0.5em;">Заявки на вступление в гильдию</h2>

{% if requests %}

{% for request in requests %}

{% set request_account = accounts[request.account_id] %}

<h4>
  <a href="{{url('accounts:show', request_account.id)}}">{{request_account.nick_verbose}}</a>
  <small><span class="created-at pgf-format-date" data-timestamp="{{ request.created_at|timestamp }}"></span></small>
</h4>
<blockquote>{{request.text_html|safe}}</blockquote>

<a class="btn btn-success pgf-forms-post-simple"
   href="{{ url('accounts:clans:membership:accept-request', request=request.id) }}">Принять</a>
<a class="btn btn-danger pgf-forms-post-simple"
   href="{{ url('accounts:clans:membership:reject-request', request=request.id) }}">Отклонить</a>

<br/>

{% endfor %}

{% else %}
<p class="pgf-no-requests-message alert alert-info">Нет заявок на вступление в гильдию</p>
{% endif %}


{% endblock %}
