{% extends "news/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'forum/thread_page.html' as thread_page with context %}

{% block title %}{{ news.caption }} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Новость: «{{news.caption}}».{% endblock %}

{% block news_content %}

  <h2>{{news.caption}}</h2>

  <div class="pagination">
    <ul>
      <li>
        {{ base_macros.addthis_short(title=news.caption, description=news.html_description|striptags) }}
      </li>

      {% if news.forum_thread_id %}
      <li>
        <a class="pgf-forum-link" href="{{ url('forum:threads:show', news.forum_thread_id) }}">комментарии</a>
      </li>
      {% endif %}

      {% if context.news_can_edit %}

      {% if news.forum_thread_id is none %}
      <li><a class="pgf-forms-post-simple" href="{{ url('news:publish-on-forum', news.id) }}">опубликовать на форуме</a></li>
      {% endif %}

      {% if news.emailed.is_DISABLED %}
        <li><a href="#" style="color: green;">отправка в рассылку запрещана</a></li>
      {% elif news.emailed.is_NOT_EMAILED %}
        <li>
          <a class="pgf-forms-post-simple"
             data-confirmation="Вы уверены, что хотите разослать новость ВСЕМ пользователям?"
             href="{{ url('news:send-mails', news.id) }}"
             style="color: red;">
            в рассылку
          </a>
          <a class="pgf-forms-post-simple"
             data-confirmation="Вы уверены, что хотите ЗАПРЕТИТЬ рассылать новость?"
             href="{{ url('news:disable-send-mails', news.id) }}"
             style="color: green;">
            запретить рассылку
          </a>
        </li>
      {% elif news.emailed.is_EMAILED %}
        <li><a href="#" style="color: green;">новость уже в рассылке</a></li>
      {% endif %}

      {% endif %}
    </ul>
  </div>

  <div class="news-info" style="margin-bottom: 1em;">
    <span class="publication-date">опубликовано: <span class="pgf-format-datetime" data-timestamp="{{ news.created_at|timestamp }}"></span></span>
  </div>

  {{ news.html_content|safe }}

  {% if thread_data %}
  {{ thread_page.thread_page(thread_data) }}
  {% endif %}

{% endblock %}
