{% extends "forum/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'forum/macros.html' as forum_macros with context %}

{% macro forum_paginator_line() %}
  <div class="pagination pull-left">
    <ul>
      {% if can_subscribe %}
      <li>
        {% if not has_subscription %}
        <a href="{{ url('forum:subcategories:subscribe', subcategory.id) }}" class="pgf-forms-post-simple">подписаться</a>
        {% else %}
        <a href="{{ url('forum:subcategories:unsubscribe', subcategory.id) }}" class="pgf-forms-post-simple">отписаться</a>
        {% endif %}
      </li>
      {% endif %}

      {% if resource.account.is_authenticated() %}
      <li>
        <a href="{{ url('forum:read-all-in-subcategory', subcategory.id) }}" class="pgf-forms-post-simple">прочитать всё</a>
      </li>
      {% endif %}

      <li>
        <a href="{{url('guide:behavior-rules')}}" rel="tooltip" title="Правила поведения на форуме и в игре">
          правила форума
        </a>
      </li>
    </ul>
  </div>

  {{ base_macros.render_paginator(paginator) }}

{% endmacro %}


{% block title %}{{subcategory.caption}} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Список обсуждений в подкатегогии «{{subcategory.caption}}».{% endblock %}

{% block forum_content %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url('forum:feed') }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss форума">
      <img src="{{STATIC_CONTENT}}images/rss.png" style="margin: 2px;"/>
    </a>
    <a href="{{ url('forum:') }}">Форум</a><span class="divider">/</span></li>
  <li class="active">{{ subcategory.caption }}</li>
</ul>

{% if threads or important_threads %}

{{ forum_paginator_line() }}

<table class="table table-striped forum-table table-no-highlighting">
  <thead>
    <tr>
      {{ forum_macros.thread_record_heading() }}
    </tr>
  </thead>
  <tbody>
    {% for thread in important_threads %}
      <tr>{{ forum_macros.thread_record(thread, read_state) }}</tr>
    {% endfor %}

    {% for thread in threads %}
      <tr>{{ forum_macros.thread_record(thread, read_state) }}</tr>
    {% endfor %}
  </tbody>
</table>

{{ forum_paginator_line() }}

{% else %}

<p class="alert alert-info">В этом разделе пока нет обсуждений. Вы можете создать первое.</p>

{% endif %}

{% if can_create_thread %}
<a href="{{ url('forum:subcategories:new-thread', subcategory.id)}}" class="btn btn-success pgf-new-thread-button">Добавить обсуждение</a>
{% endif %}

{% endblock %}
