{% extends "achievements/base.html" %}

{% import 'achievements/macros.html' as achievements_macros with context %}

{% block title %}{{resource.group.text}} | {{ super() }}{% endblock %}

{% block achievements_content %}

<div class="row">
  <div class="span3">
    <div class="block">
      <h3>Достижения</h3>
      <ul class="nav nav-list">
        {% for group in groups %}
        <li class="nav-element {% if resource.group == group %}active{% endif %}">
          <a href="{{ url('accounts:achievements:group', group.slug) }}">
            {{group.text}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="span9">
    <div class="block white">

      <h3>
        {{resource.group.text}}
        {% if resource.can_edit_achievements %}
          <a href="{{url('accounts:achievements:new')}}" class="pgf-add-achievement-button"><i class="icon icon-plus" style="vertical-align: middle;"></i></a>
        {% endif %}
      </h3>

      {% for achievement in achievements %}
      {{ achievements_macros.achievement_record(achievement, edit_button=resource.can_edit_achievements, account_achievements=account_achievements) }}
      {% endfor %}

    </div>
  </div>
</div>


{% endblock %}
