{% extends "achievements/base.html" %}

{% block title %}Создание | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newForm = new pgf.forms.Form(jQuery('#pgf-new-achievement-form'),
                                               {OnSuccess: function(instance, data){location.href = data.data.next_url;}});

});

</script>

{% endblock %}


{% block achievements_content %}

<h3>Новое достижение</h3>

<form id="pgf-new-achievement-form" method="post" action="{{ url('accounts:achievements:create') }}">

  {{ form.errors_container }}

  {{ form.group.widget }}
  {{ form.type.widget }}
  {{ form.points.widget }}
  {{ form.order.widget }}
  {{ form.barrier.widget }}
  {{ form.caption.widget }}
  {{ form.description.widget }}

  {{ form.item_1.widget }}
  {{ form.item_2.widget }}
  {{ form.item_3.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Создать"/>
  </div>

</form>


{% endblock %}
