{% macro attribute_record(place, attribute_name, extra_text='') %}
  {% set attribute, value = place.attribute_ui_info(attribute_name) %}
  <tr>
    <th>{{attribute.text}}</th>
    <td>{{attribute.formatter(value)}}{{extra_text}}{{attribute.verbose_units}}</td>
    <td>
      <a href="javascript:void(0);"
         class="info-link"
         rel="tooltip"
         title="{{map_macros.power_incoming_tooltip(attribute.description, place.tooltip_effects_for_attribute(attribute), percents=true if attribute.verbose_units and attribute.verbose_units[0] == '%' else false)}}">
        подробнее
      </a>
    </td>
  </tr>
{% endmacro %}

{% macro place_description(place) %}
  Земля
  <span {%if place.is_wrong_race()%}style="color: orange; cursor: default; font-weight: bold;" rel="tooltip" title="Титульная раса города не соответствует самой влиятельной"{% endif %}>
    {{place.race.utg_name_form.word.forms[7]}}
  </span>,
  {{place.habit_honor.interval.place_text}},
  {{place.habit_peacefulness.interval.place_text}}
  {%- if place.is_frontier -%}, <a href="{{url('guide:cities')}}" class="pgf-frontier-message" target="_blank">Фронтир</a>{% endif %}
{% endmacro %}
