{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Перечисления в API | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание значений перечислений в API игры.{% endblock %}

{% macro api_link(id, name) %}
<a href="#{{id}}">{{name}}</a>
{% endmacro %}

{% macro api_header(id, name) %}<div class="anchor" id="m7298"></div>
<h3><div class="anchor" id="{{id}}"></div> {{name}}</h3>
{% endmacro %}

{% block guide_content %}

{{ guide_macros.page_caption("Перечисления в API", "Перечисления в API.") }}

<p>Все актуальные значения перечислений, которые используюся в <a href="">API</a> игры.</p>

<ol>
  {% for type in types %}
  <li>{{api_link(type.id, type.name)}}</li>
  {% endfor %}
</ol>

{% for type in types %}
{{api_header(type.id, type.name)}}

<table class="table table-striped table-bordered table-condensed">
  <tr>
    {% for field_name, field_id in type.fields %}
    <th {% if loop.first %}width="50px"{% endif %}>{{field_name}}</th>
    {% endfor %}
  </tr>
  {% for record in type.records %}
  <tr>
    {% for value in record %}
    <td>{{value}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endfor %}

{% endblock %}
