{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Эмиссары гильдий | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Об эмиссарах гильдий.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Эмиссары гильдий", "Об эмиссарах гильдий.") }}

Эмиссары — представители <a href="{{url('guide:clans')}}" target="_blank">гильдии</a> в городах. Выполняя задания в поддержку эмиссаров своей гильдии, Хранители зарабатывают для них влияние. Влияние эмиссаров может быть потрачено на проведение мероприятий, которые помогают членам гильдии, городу или вредят вражеским гильдиям.

<h4>Жизненный путь</h4>

<p>
  Гильдия может нанять эмиссара в любом городе за {{tt_clans_constants.PRICE_CREATE_EMISSARY}} очков действий. Эмиссар появится в городе с полным здоровьем и небольшим количеством влияния ({{value("the_tale.game.emissaries.logic").expected_power_per_day()}}).
</p>

<p>
  Эмиссар теряет здоровье каждый день, когда его влияние падает меньше нуля (раз в день). В среднем эмиссар теряет {{tt_emissaries_constants.NORMAL_DAMAGE_TO_HEALTH}} здоровья, но размер урона может меняться в зависимости от особенностей эмиссара.
</p>

<p>
  Потеряв всё здоровье эмиссар будет убит недоброжелателями (которых у каждого эмиссара хватает).
</p>

<p>
  Члены гильдий могут выполнять задания на помощь и вред эмиссарам (с помощью карты судьбы <strong>Гильдейские дела</strong>). Чтобы иметь возможность выполнять задания для эмиссаров, Хранитель должен состоять в гильдии дольше {{value("the_tale.clans.conf").settings.conf.settings.NEW_MEMBER_FREEZE_PERIOD}} дней.
</p>

</p>
  Подписчики могут выполнять неограниченное количество заданий эмиссаров в сутки. Игроки без подписки могут выполнить фиксированное количество «свободных заданий» в сутки на гильдию.
</p>

<p>
  Чтобы выполнять задания, связанные с эмиссарами чужих гильдий, гильдия должна иметь хотя бы одного эмиссара с суммой способностей больше {{tt_emissaries_constants.ATTRIBUTES_FOR_PARTICIPATE_IN_PVP}}.
</p>

<p>
  Эмиссара можно переместить в другой город и переименовать с помощью соответствующих мероприятий.
</p>

<h4>Способности</h4>

<p>
  Каждый эмиссар имеет ряд способностей, влияющих на эффективность проводимых им мероприятий.
</p>

<table class="table table-condensed">
  <tbody>
    {% for ability in value("the_tale.game.emissaries.relations").ABILITY.records|sort(attribute="text") %}
    <tr>
      <th>{{ability.text}}</th>
      <td>Влияет на силу эффекта {{ability.event_name.word.forms[7]}} мероприятий</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
  Соответствующие мероприятию способности увеличиваются каждый день, когда эмиссар проводит мероприятие.
</p>

<h4>Особенности</h4>

<p>
  Кроме способностей, общих для всех эмиссаров, каждый эмиссар выделяется уникальным набором особенностей, которые модифицируют его параметры.
</p>

<p>
  Каждый эмиссар имеет {{tt_emissaries_constants.POSITIVE_TRAITS_NUMBER}} положительных особенности и {{tt_emissaries_constants.NEGATIVE_TRAITS_NUMBER}} отрицательных.
</p>

<table class="table table-condensed">
  <tbody>

    {% for trait in value("the_tale.game.emissaries.relations").TRAIT.records|sort(attribute="text") %}
    <tr>
      <td>
        <span style="color: {% if trait.type.is_POSITIVE %}green{% else %}red{% endif %};">
          {{trait.text}}
        </span>
      </td>
      <td>{{trait.description}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

<h4>Мероприятия</h4>

<p>
  Мероприятие — это деятельность эмиссара в городе, направленная на достижение конкретных целей. Максимум активных мероприятий у эмиссара: {{tt_clans_constants.SIMULTANEOUS_EMISSARY_EVENTS}}.
</p>

<p>
  Длительность мероприятия измеряется в сутках.
</p>

<p>
  Для запуска мероприятия необходимо потратить фиксированное количество очков действий гильдии и влияние, накопленное эмиссаром. Сумма влияния кратна длительности мероприятия. Количество очков действий не зависит от длительности и всегда постоянно.
</p>

<p>
  Каждое мероприятие относится к одому или нескльким типам — по типу на способность эмиссара. Эффективность мероприятия определяется средним арифметическим способностей эмиссара соответствующих типов (в момент запуска мероприятия).
</p>

<p>
  За каждые полные сутки активности мероприятия:
</p>

<ul>
  <li>Гильдия получает опыт (обычно {{tt_clans_constants.EXPERIENCE_PER_EVENT}}).</li>
  <li>Увеличиваются спобности эмиссара, от которых зависит мероприятие (обычно на {{tt_emissaries_constants.ATTRIBUT_INCREMENT_DELTA}}).</li>
</ul>

<h4>Список мероприятий</h4>

<table class="table table-condensed">
  <thead>
    <th width="200px">название</th>
    <th>описание (максимальный эффект)</th>
  </thead>
  <tbody>
    {% for event in value("the_tale.game.emissaries.relations").EVENT_TYPE.records|sort(attribute="text") %}

    {% set event_class = value("the_tale.game.emissaries.events").TYPES[event] %}

    <tr>
      <th>{{event.text}}</th>
      <td>{{event_class.effect_description(emissary=None, raw_ability_power=tt_emissaries_constants.MAXIMUM_ATTRIBUTE_MAXIMUM)}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4>Время и количество срабатывания эффектов</h4>

<p>
  Начисление опыта гильдии, рост способностей, получение урона здоровью и убийство эмиссаров обрабатываются в 00:30 по UTC.
</p>

<p>
  Эффекты, имеющие фиксированное количество срабатывания пересчитываются примерно раз в 5 минут.
</p>


{% endblock %}
