{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'heroes/macros.html' as macros with context %}

{% block title %}Черты героев | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание черт героев.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Черты героев", "Описание черт героев") }}

<p>
  Каждый герой имеет свой подход к жизни, своё представление о её «тёмных» и «светлых» сторонах, о поведении в разных ситуациях. Такие взгляды мы называем чертами.
<p>

<p>
  Черты отражают базовые особенности характера героя и изменяются как от действий его самого, так и от действий Хранителя. Каждая черта обладает двумя противоположными полюсами. Двигаясь к одному из них, герой проходит несколько уровней и получает всё больше специфичных для полюса особенностей.
</p>

<p>
  Все молодые герои начинают с нейтральными значениями черт.
</p>

<div class="accordion" id="pgf-cards-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-cards-accordion" href="#pgf-cards">
        Изменение характера героя можно ускорить, использовав одну из следующих карт судьбы
      </a>
    </div>
    <div id="pgf-cards" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
<table class="table table-condensed">
  <tbody>
    {% for card in HABIT_POINTS_CARDS %}
      <tr>
        <td>
          <div class="{{card.TYPE.rarity.name|lower}}-card-bg"
               style="height: 10px; width: 10px; margin-top: 5px; cursor: pointer;"
               rel="tooltip"
               title="{{card.TYPE.rarity.text}}"></div>
        </td>
        <td width="150px;" class="">{{card.TYPE.text}}</td>
        <td>{{card.DESCRIPTION}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

      </div>
    </div>
  </div>

</div>

<h3>{{HABIT_TYPE.HONOR.text}}</h3>

{% include ("guide/hero-habit-%s.html" % HABIT_TYPE.HONOR.name.lower()) with context %}

<h3>{{HABIT_TYPE.PEACEFULNESS.text}}</h3>

{% include ("guide/hero-habit-%s.html" % HABIT_TYPE.PEACEFULNESS.name.lower()) with context %}

{% endblock %}
