{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'portal/macros.html' as portal_macros with context %}

{% block title %}Как помочь | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Как помочь в разработке игры.{% endblock %}

{% block guide_content %}
{{ guide_macros.page_caption("Как помочь в разработке игры", "Как помочь в разработке игры") }}

<p>
  Первым делом разрешите поблагодарить вас за проявленный интерес и благородное желание помочь развитию игры. Далее будут перечислены основные способы, которыми можно посодействовать развитию игры, сделать её интереснее.
</p>

<h3>Купите печенек</h3>

<p>
  Серьёзно, это лучший способ показать что игра вам действительно нравится и Вы хотите чтобы она развивалась дальше. Кроме очевидной пользы в виде оплаты хостинга, услуг художника и еды для разработчиков, у покупки печенек есть и другое положительно свойство — каждая купленная печенька значительно подымает моральный дух команды. А счастливые разработчики, как известно, работают значительно быстрее и качественнее ;-)
</p>

<h3>Играйте</h3>

<p>
  Для Пандоры важен каждый игрок и каждый герой. Живым этот мир делают именно игроки, их действия — ваши действия. Ответственно относитесь к заданиям своего героя, помогайте ему принимать правильные решения, следите за принятием законов, голосуйте, учитывая не только свои желания, но и интересы других игроков.
</p>

<h3>Общайтесь</h3>

<p>
  Общайтесь с другими игроками. Помните, чего не может достичь один человек — достигнет сплочённая группа или гильдия. Участвуйте в обсуждении предложений других игроков, смело высказывайте своё мнение. Приглашайте в игру своих друзей. При случае рассказывайте всем о том, что есть такой замечательный мир как Пандора :-)
</p>

<h3>Расскажите о нас</h3>

<p>
  Чем больше игроков — тем веселее, расскажите о Сказке друзьями, напишите статью, нарисуйте красивую агитационную картинку или создайте интересный демотиватор. Мир игры растёт вместе с количеством игроков и чем больше их будет, тем больше станет его карта и сложнее взаимоотношения.
</p>

<h3>Сочиняйте</h3>

<p>
  Сказга — это не только карта, герои, политика и ещё несколько мелочей — это целый мир со своей, пока небольшой, историей. И Вы имеете уникальный шанс навсегда оставить свой след в этом мире. Для этого у нас есть целый раздел — <a href="{{url('blogs:posts:')}}">Фольклор</a>. Ваш герой «желает» вести художественные записки о путешествиях? Быть может, в вас пропадает политический обозреватель? Репортёр светской хроники? Великий писатель или поэт? — не бойтесь поделиться своим взглядом на Сказку!
</p>

<p>
  Если Вы не сильны в «большой» прозе — не беда, Вы можете придумывать новые фразы для журнала и днивнига героя в разделе <a href="{{url('linguistics:')}}">лингвистики</a>.
</p>

<h3>Фантазируйте</h3>

<p>
  Вам кажется, что в игре чего-то не хватает или что-то можно сделать интереснее? Напишите об этом на <a href="{{url('forum:')}}">форуме</a> — обсудите с другими игроками. Разработчики же всегда следят за обсуждениями, и самые интересные предложения обязательно будут реализованы.
</p>

<h3>Находите ошибки</h3>

<p>
  Не бывает ничего идеального, и в нашей игре тоже встречаются ошибки. Обычно это опечатки и небольшие недоработки интерфейса. Если Вы обнаружили ошибку — сообщите о ней в соответствующем <a href="{{guide_settings.DEVELOPMENT_FORUM}}">разделе</a> форума. За обнаруженные ошибки, кроме «спасибо», полагается и увеличение <a href="{{url('guide:keepers')}}">могущества</a>.
</p>

<h3>Программируйте</h3>

<p>
  Исходный код игры полностью открыт и находится на <a href="{{settings.SOCIAL_GITHUB_URL}}">github</a>.
</p>

<p>
  У игры есть <a href="{{guide_settings.HTTP_API_DOCUMENTATION}}">http api</a>.
</p>

<p>
  <a href="{{settings.SOCIAL_DOCUMENTATION}}">Документация для разработчиков</a>.
</p>

<p>
  Если Вы программист и хотите завести хобби-проект или поэкспериментировать с новыми технологиями, то это очень хорошая возможность. Присоединяйтесь к разработке!
</p>

<p>
  Мы не предъявляем никаких прав на ваши дочерние проекты или доход (например через рекламу), который Вы с них получите и, конечно, дадим своё согласие на использование всех графических ресурсов игры. Для подробностей просто напишите в личку разработчику.
</p>

{% endblock %}
