{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Передвижение | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Правила перемещения героев по миру игры.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Передвижение", "Правила перемещения героев по миру игры.") }}

<p>
  Чтобы выполнять <a href="{{url('guide:quests')}}">задания</a> героям приходится путешествовать между <a href="{{url('guide:cities')}}">городами</a>. Без задания из городов герои не выходят. Если герой оказался вне города без задания (например, вы отменили его <a href="{{url('guide:cards:')}}">картой судьбы</a>), то он направится к ближайшему городу.
</p>

<h4>Поиск пути</h4>

<p>
  Путь, который прокладывает герой, оптимален с точки зрения героя, но не обязательно является оптимальным с математической точки зрения (то есть не обязательно доставит героя в точку назначения за минимальное количество ходов).
</p>

<p>
  Герой ищет путь, когда приступает к следующему этапу своего задания (например, выходит из начального города или возобновляет путешествия после успешной защиты каравана). Между этими моментами он не пересматривает свой путь (и не учитывает изменения на карте).
</p>

<p>
  Путешествует герой только влево, вправо, вверх и вниз (наискосок не ходит).
</p>

<p>
  Герой ищет лучший для себя путь следующим образом:
</p>

<ol>
  <li>Оценивает «сложность путешествия» по каждой из клеток карты.</li>
  <li>С учётом сложности ищет оптимальные пути между каждой парой городов.</li>
  <li>Найденные пути объединяет так, чтобы получить лучший наименее сложный путь из начальной точки в конечную.</li>
</ol>

<p>
  Герою не нужны дороги, чтобы путешествовать между городами, но наличие дороги на клетке увеличивает как её транспорт, так и её безопасность.
</p>

<h4>Сложность путешествия по клетке</h4>

<p>Сложность путешествия по клетке герой оценивает следующим образом:</p>

<ul>
  <li>Чем больше транспорт клетки, тем проще путешествовать по клетке.</li>
  <li>Чем больше безопасность клетки, тем проще путешествовать по клетке.</li>
  <li>Чем больше герой <a href="{{url('guide:hero-preferences')}}">склонен к риску</a>, тем меньший вес он отдаёт безопасности.</li>
  <li>Параметры транспорт и безопасность вносят одинаковый вклад в оценку сложности для героев с обычным уровнем риска.</li>
</ul>

<h4>Модификаторы сложности путей между городами</h4>

<p>На оценку сложности пути между парой городов дополнительно влияют свойства каждого из них:</p>

<ul>
  <li>Сложность немного уменьшается, если раса города совпадает с расой героя.</li>
  <li>Сложность немного уменьшается, если у города активна специализация.</li>
  <li>Сложность уменьшается, если город является родным для героя.</li>
  <li>Сложность уменьшается, если в городе живёт соратник героя.</li>
  <li>Сложность увеличивается, если в городе живёт противник героя.</li>
  <li>Сложность увеличивается, если в городе действует пошлина.</li>
  <li>Сложность немного уменьшается, если черта характера города не нейтральна и совпадает с характером героя.</li>
  <li>Сложность немного увеличивается, если черта характера города не нейтральна и противоположна с характером героя.</li>
</ul>

<p>
  В целом, герой старается обходить «неприятные» для него города и чаще посещать «приятные».
</p>

<p>
  Обратите внимание, что производство города частично зависит от количества денег, которые герои в нём тратят. Если город будут обходить стороной, то экономическая ситуация в нём может стать хуже.
</p>


{% endblock %}
