
<ul>
  <li><strong>герой оказывает влияние на мир;</strong></li>
  <li><strong>получаемые карты судьбы можно продавать на рынке;</strong></li>
  <li>можно голосовать за записи в Книге Судеб;</li>
  <li>на 50% увеличивается получаемый героем опыт;</li>
  <li>на 50% увеличивается скорость изменения черт;</li>
  <li>на 200% увеличивается максимум энергии (до 72 единиц);</li>
  <li>размер дневника героя увеличен до {{heroes_conf().DIARY_LOG_LENGTH_PREMIUM}} сообщений;</li>
  <li>жизнь героя не замедляется при длительном отсутствии игрока в игре;</li>
  <li>спутник героя не покидает его, когда здоровье спутника опускается до нуля;</li>
  <li>игрок может одновременно создать до {{c.PREMIUM_ACCOUNT_MAX_ACTIVE_BILLS}} записей в Книге Судеб.</li>
</ul>
