{% extends "personal_messages/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'accounts/macros.html' as accounts_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}
  {% if page=="incoming" %}Входящие{% endif %}
  {% if page=="sent" %}Исходящие{% endif %}
  {% if page=="contacts" %}Переписка с {{contact.nick_verbose}}{% endif %}
  | {{settings.PAGE_TITLE}}
{% endblock %}

{% block description %}
  {% if page=="incoming" %}Ваши входящие сообщения{% endif %}
  {% if page=="sent" %}Ваши исходящие сообщения{% endif %}
  {% if page=="contacts" %}Переписка с {{contact.nick_verbose}}{% endif %}
{% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript">
jQuery(document).ready(function(){
  {{  accounts_macros.personal_message_js()|safe }}
});
</script>
{% endblock %}


{% block messages_content %}

  <ul class="nav nav-pills">
    <li {% if page=="incoming" %}class="active"{% endif %}><a href="{{ url('accounts:messages:') }}">входящие</a></li>
    <li {% if page=="sent" %}class="active"{% endif %}><a href="{{ url("accounts:messages:sent") }}">исходящие</a></li>
    <li class="dropdown {% if page=='contacts' %}active{% endif %}">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Переписка
        {% if page=="contacts" %}с {{contact.nick_verbose}}{% endif %}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" style="max-height: 310px; overflow-y: auto;">
        {% if not contacts %}
        <li><a href="#">нет контактов</a></li>
        {% endif %}
        {% for contact in contacts %}
        <li><a href="{{ url('accounts:messages:conversation', contact=contact.id) }}">{{contact.nick_verbose}}</a></li>
        {% endfor %}
      </ul>
    </li>

    {% if page!="contacts" and messages %}
      <li class="pull-right">
        <a class="pgf-forms-post-simple"
           href="{{ url('accounts:messages:delete-all') }}"
           data-confirmation="Вы действительно хотите удалить <strong>ВСЕ</strong> сообщения?">удалить <strong>все</strong> сообщения</a>
      </li>
      {% endif %}

    {% if page=="contacts" and messages %}
      <li class="pull-right">
        <a class="pgf-forms-post-simple"
           href="{{ url('accounts:messages:delete-conversation', contact=contact.id) }}"
           data-confirmation="Вы действительно хотите удалить <strong>ВСЕ</strong> сообщения в переписке между Вами и игроком {{contact.nick_verbose}} <strong>(в том числе рассылки, в которых он был адресатом)</strong>?">удалить переписку c игроком {{contact.nick_verbose}}</a>
      </li>
    {% endif %}
  </ul>

{{ list_filter_macros.html_filter(index_filter) }}

{% if messages %}

  {{ base_macros.render_paginator(paginator) }}


<ul class="unstyled">
  {% for message in messages %}
  <li style="margin-bottom: 1em;">

    <table class="table table-striped table-no-highlighting">
      <tbody>
        <tr class="head">
          <td class="author">
            {% set recipients = sorted_recipients(message.recipients_ids, accounts) %}
            <a href="{{url('accounts:show', message.sender_id)}}">{{ accounts[message.sender_id].nick_verbose }}</a> ⟶

            {% if message.sender_id != master_account.id %}
            <a href="{{url('accounts:show', master_account.id)}}">
              {{master_account.nick_verbose}}
            </a>
            {% else %}
            <a href="{{url('accounts:show', recipients[0].id)}}">
              {% if page=="contacts" %}
              {{ contact.nick_verbose }}
              {% else %}
              {{ recipients[0].nick_verbose }}
              {% endif %}
            </a>
            {% endif %}
            {% if recipients|length > 1 %}
            <i class="icon icon-bullhorn" style="cursor: pointer;" rel="tooltip"
               title="Сообщение отправлено нескольким адресатам: {% for recipient in recipients %}{{recipient.nick_verbose}}{% if not loop.last %},{% endif %} {% endfor %}"></i>
            {% endif %}
          </td>

          {% if message.sender_id != master_account.id %}
          <td style="width: 4em;">
            <a class="pgf-new-message" data-recipient="{{message.sender_id}}" href="#">Написать</a><br/>
          </td>
          {% endif %}

          {% if message.sender_id != master_account.id %}
          <td style="width: 4em;">
            <a class="pgf-new-message" data-recipient="{{message.sender_id}}" data-answer-to="{{message.id}}" href="#">ответить</a><br/>
          </td>

          {% if page!="contacts" %}
          <td style="width: 6em;">
            <a href="{{ url('accounts:messages:conversation', contact=message.sender_id) }}">к переписке</a><br/>
          </td>
          {% endif %}
          {% else %}
          {% if page!="contacts" %}
          <td style="width: 6em;">
            <a href="{{ url('accounts:messages:conversation', contact=message.recipients_ids[0]) }}">к переписке</a><br/>
          </td>
          {% endif %}
          {% endif %}

          <td style="width: 4em;">
            <a href="{{ url('accounts:messages:delete', message.id) }}" class="pgf-forms-post-simple">удалить</a>
          </td>

          <td class="created-at pgf-format-datetime" data-timestamp="{{ message.created_at}}" style="width: 10em;"></td>
        </tr>

        <tr class="body">
          <td colspan="5">
            {{ message.body|bb }}
          </td>
        </tr>
      </tbody>
    </table>

  </li>
  {% endfor %}
</ul>

{{ base_macros.render_paginator(paginator) }}

{% else %}

<p class="alert alert-info pgf-no-messages">Нет сообщений</p>

{% endif %}

{% endblock %}
