{% extends "accounts/base.html" %}

{% import 'bills/macros.html' as bills_macros with context %}

{% block title %} Администрирование {{ master_account.nick_verbose }} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Администрирование игрока{% endblock %}

{% block accounts_content %}

<h2 style="display: inline-block;">{{ master_account.nick_verbose }}</h2>

{% if master_account.is_ban_forum %}
<p class="alert alert-error pgf-ban-forum-message">
  Игроку запрещено общаться на форуме до <span class="pgf-format-datetime" data-timestamp="{{ master_account.ban_forum_end_at|timestamp }}"></span>
</p>
{% endif %}

{% if master_account.is_ban_game %}
<p class="alert alert-error pgf-ban-game-message">
  Герой игрока не оказывает влияние на мир до <span class="pgf-format-datetime" data-timestamp="{{ master_account.ban_game_end_at|timestamp }}"></span>
</p>
{% endif %}

{% if resource.can_moderate_accounts %}

<script type="text/javascript">
jQuery(document).ready( function(e) {

    var awardForm = new pgf.forms.Form(jQuery('#pgf-give-award-form'),
                                               {OnSuccess: function(form, data){location.reload();}});

    var bunForm = new pgf.forms.Form(jQuery('#pgf-ban-form'),
                                            {OnSuccess: function(form, data){location.reload();}});

    var giveMoneyForm = new pgf.forms.Form(jQuery('#pgf-give-money-form'),
                                            {OnSuccess: function(form, data){location.reload();}});
});
</script>

<br/>
<hr/>

<h3>Выдать награду</h3>

<form id="pgf-give-award-form" method="post" action="{{ url('accounts:give-award', master_account.id) }}" class="easy-block">

  {{ give_award_form.errors_container }}

  {{ give_award_form.type.widget}}
  {{ give_award_form.description.widget }}

  <input class="btn" type="submit" value="Выдать награду"/>

</form>

<h3>Выдать печеньки</h3>

<form id="pgf-give-money-form" method="post" action="{{ url('shop:give-money', account=master_account.id) }}" class="easy-block">

  {{ give_money_form.errors_container }}

  {{ give_money_form.amount.widget}}
  {{ give_money_form.description.widget }}

  <input class="btn" type="submit" value="Изменить счёт"/>

</form>



<h3>Сброс ника</h3>

<a class="btn btn-danger pgf-forms-post-simple"
   href="{{ url('accounts:reset-nick', master_account.id) }}"
   data-confirmation="Вы действительно хотите сбросить ник игрока?">сбросить ник</a>

<h3>Баны</h3>

<a class="btn btn-danger pgf-forms-post-simple"
   href="{{ url('accounts:reset-bans', master_account.id) }}"
   data-confirmation="Вы действительно хотите снять ограничения?">сбросить баны</a>

<form id="pgf-ban-form" method="post" action="{{ url('accounts:ban', master_account.id) }}" class="easy-block">

  {{ ban_form.errors_container }}

  {{ ban_form.ban_type.widget}}
  {{ ban_form.ban_time.widget}}
  {{ ban_form.description.widget }}

  <input class="btn btn-danger" type="submit" value="ЗАБАНИТЬ"/>

</form>


{% endif %}

{% endblock %}
