{% extends "base.html" %}

{% block title %}Подтверждение почты | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Вам необходимо перейти по ссылке в отправленном на Ваш email письме.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

});
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="easy-block">
      <p>
      <strong>Вы должны подтвердить указанный email.</strong> <br/>

      Для этого перейдите по ссылке в отправленном на него письме. <br/>

      <br/>

      Если письмо не придёт в течение часа, пожалуйста, обратитесь в службу поддержки: <a href="mailto:{{ settings.EMAIL_SUPPORT }}">{{ settings.EMAIL_SUPPORT_SHORT }}</a>

      <br/>

      <a href="{{ url('game:')}}">вернуться на страницу игры</a>
      </p>
    </div>
  </div>
</div>




{% endblock %}
