{% extends "accounts/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'accounts/macros.html' as accounts_macros with context %}


{% block accounts_content %}

<h2 style="margin-bottom: 0.5em;">Игроки</h2>

<p>
  На этой странице представлен список всех игроков завершивших регистрацию.
</p>

<div class="{% if accounts %}pull-left{% endif %} form-inline">
  <form method="GET" action="{{url('accounts:')}}">
    <input name="prefix" type="text" value="{{prefix}}" placeholder="первые символы ника">
    <input type="submit" class="btn" value="Искать"/>
    <a href="{{url('accounts:')}}" class="btn">сбросить</a>
  </form>
</div>

{% if accounts %}

{{ base_macros.render_paginator(paginator) }}

<table class="table">

  <thead>
    <tr>
      {{ accounts_macros.account_record_heading() }}
    </tr>
  </thead>

  <tbody>
    {% for account in accounts %}
    <tr class="pgf-account-record">
      {{ accounts_macros.account_record(account, heroes[account.id], clan=clans.get(account.clan_id)) }}
    </tr>
    {% endfor %}
  </tbody>

</table>

{{ base_macros.render_paginator(paginator) }}

{% else %}

<p class="alert alert-warning pgf-no-accounts-message">Игроки не найдены</p>

{% endif %}

{% endblock %}
