{% extends "accounts/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'accounts/macros.html' as accounts_macros with context %}


{% block accounts_content %}

<h2 style="margin-bottom: 0.5em;">Игроки</h2>

<p>
  На этой странице представлен список всех игроков завершивших регистрацию.
<p>

{% if accounts %}

{{ base_macros.render_paginator(paginator) }}

<table class="table">

  <thead>
    <tr>
      {{ accounts_macros.account_record_heading() }}
    </tr>
  </thead>

  <tbody>
    {% for account in accounts %}
    <tr class="pgf-account-record">
      {{ accounts_macros.account_record(account, heroes[account.id]) }}
    </tr>
    {% endfor %}
  </tbody>

</table>

{{ base_macros.render_paginator(paginator) }}

{% else %}

<span class="pgf-no-bills-message">Игроки не найдены</span>

{% endif %}

{% endblock %}
