{% extends "base.html" %}

{% block title %}Вход на сайт | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Вход в игру.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var loginForm = new pgf.forms.Form(jQuery('#pgf-login-form'),
                                               {OnSuccess: function(form, data){location.href = data.data.next_url;}});
});

</script>

{% endblock %}

{% block content %}

<div class="row">

  <div class="span3">

    <div class="easy-block">

      <form id="pgf-login-form" method="post" action="{{ login_url(next_url=next_url)}}" class="easy-block">

        {{ login_form.errors_container }}

        {{ login_form.email.widget}}
        {{ login_form.password.widget }}

        <label for="id_remember">
          {{ login_form.remember|safe }}
          {{ login_form.remember.label }}
        </label>

        <input class="btn btn-success" type="submit" value="Войти"/>

      </form>

    </div>

  </div>

  <div class="span9">

    <div class="easy-block">
      <dl>

        <div class="dl-record">
          <dt>Не зарегистрированы?</dt>
          <dd>Вы можете <a href="{{ url('accounts:registration:fast') }}" class="pgf-fast-registration">создать героя</a> прямо сейчас, а зарегистрироваться позже.</dd>
        </div>

        <div class="dl-record">
          <dt>Забыли пароль?</dt>
          <dd>Перейдите на <a href="{{ url('accounts:profile:reset-password') }}">страницу восстановления пароля</a> — это быстрая операция.</dd>
        </div>

        <div class="dl-record">
          <dt>Нужна помощь?</dt>
          <dd>Обратитесь в службу поддержки: <a href="mailto:{{ settings.EMAIL_SUPPORT }}">{{ settings.EMAIL_SUPPORT_SHORT }}</a>.</dd>
        </div>

      </dl>
    </div>

  </div>

</div>

{% endblock %}
