{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var loginForm = new pgf.forms.Form(jQuery('#pgf-login-form'),
                                               {OnSuccess: function(e){location.href = "{{ url('game:') }}";}});
});

</script>

{% endblock %}

{% block content %}

<div class="row">

  <div class="span3">

    <div class="block">

      <form id="pgf-login-form" method="post" action="{{ url('accounts:login') }}" class="block">

        {{ login_form.errors_container }}

        {{ login_form.email.widget}}
        {{ login_form.password.widget }}

        <input type="submit" value="Войти"/>

      </form>

    </div>

  </div>

  <div class="span9">

    <div class="block">
      <dl>

        <div class="dl-record">
          <dt>не зарегистрированы?</dt>
          <dd>Вы можете <a href="{{ url('accounts:fast-registration') }}" class="pgf-fast-registration">начать игру без регистрации</a>, а зарегестрироваться позже </dd>
        </div>

        <div class="dl-record">
          <dt>забыли пароль?</dt>
          <dd>Перейдите на <a href="{{ url('accounts:reset-password') }}">страницу восстановления пароля</a> - это быстрая операция</dd>
        </div>

        <div class="dl-record">
          <dt>нужна помощь?</dt>
          <dd>обратитесь в службу поддержки: <a href="mailto:{{ settings.EMAIL_SUPPORT }}">{{ settings.EMAIL_SUPPORT }}</a></dd>
        </div>

      </dl>
    </div>

  </div>

</div>

{% endblock %}
