

{% macro account_link(account, clan) %}
<a href="{{url('accounts:show', account.id)}}">{{account.nick}}</a>
{% if clan is not none %}
<a href="{{url('accounts:clans:show', clan.id)}}">[{{clan.abbr}}]</a>
{% endif %}
{% endmacro %}


{% macro account_record_heading(short=false) %}
<th>имя</th>
{% if not short %}<th>могущество</th>{% endif %}
{% if not short %}<th>зарегистрирован</th>{% endif %}
<th>герой</th>
<th>уровень</th>
{% if not short %}<th>сила</th>{% endif %}
{% endmacro %}


{% macro account_record(account, hero, clan=none, short=false) %}
<td>
  <a href="{{ url('accounts:show', account.id) }}">{{ account.nick_verbose }}</a>
  {% if clan %}
  <a href="{{url('accounts:clans:show', clan.id)}}">[{{clan.abbr}}]</a>
  {% endif %}
</td>
{% if not short %}<td>{{ hero.might|int }}</td>{% endif %}
{% if not short %}<td class="updated-at pgf-format-date" data-timestamp="{{ account.created_at|timestamp }}"></td>{% endif %}
<td>
  {{ hero.gender_verbose }}
  {{ hero.race_verbose }}
  <a href="{{ url('game:heroes:show', hero.id) }}">{{ hero.name }}</a>
</td>
<td>{{ hero.level }}</td>
{% if not short %}
<td>
  <span class="power physic-label">{{ hero.power.physic }}</span>
  <span class="power magic-label">{{ hero.power.magic }}</span>
</td>
{% endif %}
{% endmacro %}

{% macro account_type_label(account, additional_text='') %}

{% if account.is_premium %}
<a href="{{url('accounts:payments:shop')}}"
   class="label label-success"
   rel="popover"
   title="бонусы"
   data-content="<li>задания, выполняемые героем, оказывают влияние на мир игры;</li>
                 <li>можно голосовать;</li>
                 <li>можно ремонтировать строения на карте;</li>
                 <li>герой получает на 50% больше опыта;</li>
                 <li>черты героя изменяются на 50% сильнее (когда игрок выбирает способ выполнения задания);</li>
                 <li>максимальное количество энергии увеличивается на 50%;</li>
                 <li>герой сохраняет скорость получения опыта при длительном отсутствии игрока в игре;</li>
                 <li>журнал героя не перестаёт обновляться при длительном отсутствии игрока в игре.</li>">
  подписчик {{additional_text}}
</a>
{% else %}
<a href="{{url('accounts:payments:shop')}}"
   class="label"
   rel="popover"
   title="ограничения"
   data-content="<li>задания, выполняемые героем, оказывают влияние только на города (и советников), рассположенные на Фронтире;</li>
                 <li>нельзя голосовать (но можно выдвигать законы);</li>
                 <li>нельзя ремонтировать строения на карте.</li>">
  базовый аккаунт {{additional_text}}
</a>
{% endif %}

{% endmacro %}


{% macro personal_message_js() %}
    jQuery('.pgf-new-message').click(function(e){

        var recipient = jQuery(e.currentTarget).data('recipient');

        e.preventDefault();
        pgf.ui.dialog.Create({ fromUrl: "{{ url('accounts:messages:new') }}?recipients=" + recipient,
                               OnOpen: function(dialog) {
                                   var newMessageForm = new pgf.forms.Form(jQuery('#pgf-new-message-form', dialog),
                                                                           { OnSuccess: function(form, data){ dialog.modal('hide'); }
                                                                           });
                               }
                             });
    });
{% endmacro %}
