

{% macro account_record_heading() %}
<th>имя</th>
<th>могущество</th>
<th>зарегистрирован</th>
<th>герой</th>
<th>уровень</th>
<th>сила</th>
{% endmacro %}


{% macro account_record(account, hero) %}
<td><a href="{{ url('accounts:show', account.id) }}">{{ account.nick }}</a></td>
<td>{{ hero.might|int }}</td>
<td class="updated-at pgf-format-date" data-timestamp="{{ account.created_at|timestamp }}"></td>
<td>
  {{ hero.gender_verbose }}
  {{ hero.race_verbose }}
  <a href="{{ url('game:heroes:show', hero.id) }}">{{ hero.name }}</a>
</td>
<td>{{ hero.level }}</td>
<td>{{ hero.power }}</td>
{% endmacro %}

{% macro account_type_label(account) %}

{% if account.is_premium %}
<a href="{{url('accounts:payments:shop')}}"
   class="label label-success"
   rel="popover"
   title="бонусы"
   data-content="<li>задания, выполняемые героями, оказывают влияние на мир игры;</li>
                 <li>герои не получают штраф к опыту при длительном отсутствии игрока в игре;</li>
                 <li>вы можете участвовать в политике (выдвигать законы и голосовать за них).</li>">
  подписка
</a>
{% else %}
<a href="{{url('accounts:payments:shop')}}"
   class="label"
   rel="popover"
   title="ограничения"
   data-content="<li>задания, выполняемые героями, не оказывают влияние на мир игры;</li>
                 <li>герои получают штраф к опыту при длительном отсутствии игрока в игре;</li>
                 <li>вы не можете участвовать в политике (выдвигать законы и голосовать за них).</li>">
  базовый аккаунт
</a>
{% endif %}

{% endmacro %}
