

{% macro account_record_heading() %}
<th>имя</th>
<th>могущество</th>
<th>зарегистрирован</th>
<th>герой</th>
<th>уровень</th>
<th>сила</th>
{% endmacro %}


{% macro account_record(account, hero) %}
<td><a href="{{ url('accounts:show', account.id) }}">{{ account.nick }}</a></td>
<td>{{ hero.might|int }}</td>
<td class="updated-at pgf-format-date" data-timestamp="{{ account.created_at|timestamp }}"></td>
<td>
  {{ hero.gender_verbose }}
  {{ hero.race_verbose }}
  <a href="{{ url('game:heroes:show', hero.id) }}">{{ hero.name }}</a>
</td>
<td>{{ hero.level }}</td>
<td>{{ hero.power }}</td>
{% endmacro %}

{% macro account_type_label(account) %}

{% if account.is_premium %}
<a href="{{url('accounts:payments:shop')}}"
   class="label label-success"
   rel="popover"
   title="бонусы"
   data-content="<li>доступен весь функционал игры;</li>
                 <li>герой получает на 50% больше опыта;</li>
                 <li>максимальное количество энергии увеличивается на 50%;</li>
                 <li>герой сохраняет скорость получения опыта при длительном отсутствии игрока в игре.</li>">
  подписчик
</a>
{% else %}
<a href="{{url('accounts:payments:shop')}}"
   class="label"
   rel="popover"
   title="ограничения"
   data-content="<li>игрок не может голосовать (но может выдвигать законы);</li>
                 <li>игрок не может ремонтировать строения на карте;</li>
                 <li>задания, выполняемые героем игрока, не оказывают влияние на мир игры.</li>">
  базовый аккаунт
</a>
{% endif %}

{% endmacro %}
