{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var changeCredentialsForm = new pgf.forms.Form(jQuery('#pgf-edit-form'),
                                                   {OnSuccess: function(instance, data){
                                                       location.href = data.data.next_url;}
                                                   });
});
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="block">

      {% if resource.account and resource.account.is_fast %}
      <div class="alert alert-error">
        <h3>Вы не закончили регистрацию!</h3>
        Для завершения регистрации задайте email и пароль в форме ниже (до завершения регистрации Ваш аккаунт имеет ограниченную функциональность). <br/>
        После завершения регистрации:
        <ul>
          <li>Вы сможете входить в игру с любого компьютера</li>
          <li>Ваш герой будет защищён от вмешательство злоумышленников</li>
          <li>Пропадёт надоедливое сообщение в верху страницы</li>
        </ul>

      </div>
      {% endif %}

      <h2>Изменение email и пароля</h2>

      <ul>
        <li>email является вашим идентификатором в игре. С помощью него вы входите на сайт. На указаный адрес будет выслан новый пароль в случае, если вы забудите текущий.</li>
        <li>будьте внимательны при смене пароля, убедитесь, что включена верная раскладка клавиатуры и выключен режим ввода прописных букв.</li>
      </ul>

      <form id="pgf-edit-form" method="post" action="{{ url('accounts:profile-update') }}" class="block">

        {{ edit_profile_form.errors_container }}

        {{ edit_profile_form.email.widget }}
        {{ edit_profile_form.password.widget }}

        <input type="submit" value="Изменить"/>

      </form>

    </div>
  </div>
</div>

{% endblock %}
