{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var changeCredentialsForm = new pgf.forms.Form(jQuery('#pgf-edit-form'),
                                                   {OnSuccess: function(e){location.href = "{{ url('game:') }}";}});
});
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="block">

      <form id="pgf-edit-form" method="post" action="{{ url('accounts:profile-update') }}" class="block">

        {{ edit_profile_form.errors_container }}

        {{ edit_profile_form.email.widget }}
        {{ edit_profile_form.password.widget }}

        <input type="submit" value="Изменить"/>

      </form>

    </div>
  </div>
</div>

{% endblock %}
