<div class="modal hide">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">Последователи</h3>
  </div>

  <div class="modal-body">
    <p>
      Последователи (или рефералы) — это игроки, приведённые вами в игру. Ваше могущество дополнительно увеличивается на 10% от могущества каждого из последователей.
    </p>

    <p>
      Игрок считается вашим последователем, если перед регистрацией пришёл на сайт игры по ссылке, содержащей идентификатор вашего аккаунта. Например, по такой:
    </p>

    <p>
      <code>{{full_url('html', 'portal:')}}?{{accounts_settings.REFERRAL_URL_ARGUMENT}}=&lt;ваш идентифиакатор&gt;</code>
    </p>

    {% if resource.account.is_authenticated() %}
    <p>
      Ваша ссылка для привлечения последователей:
    </p>
    <p>
      <code>{{referral_link}}</code>
    </p>

    <p>
      Вы можете сформировать ссылку на любую страницу, просто добавив к ней параметр <code>?{{accounts_settings.REFERRAL_URL_ARGUMENT}}={{account.id}}</code> или <code>&{{accounts_settings.REFERRAL_URL_ARGUMENT}}={{account.id}}</code>, если в ней есть другие параметры.
    </p>

    <p class="alert alert-info">
      Хотим обратить ваше внимание на то, что многие пользователи интернета считают использование реферальных ссылок <strong>без предупреждения</strong> неэтичным. Поэтому, желательно предупреждать о том, что используемая вами ссылка реферальная или давать две ссылки на выбор (реферальную и обычную).
    </p>

    {% else %}
    <p>
      Чтобы узнать свою ссылку для привлечения игроков, войдите в игру и откройте этот диалог.
    </p>
    {% endif %}

  </div>

</div>
