{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var registrationForm = new pgf.forms.Form(jQuery('#pgf-registration-form'),
                                              {OnSuccess: function(e){location.href = "{{ url('game:') }}";}});
});
</script>
{% endblock %}

{% block content %}

<form id="pgf-registration-form" method="post" action="{{ url('accounts:registration') }}" class="block">

  {{ registration_form.errors_container }}

  {{ registration_form.nick.widget}}
  {{ registration_form.email.widget }}
  {{ registration_form.password.widget }}
  {{ registration_form.password_repeated.widget }}

  <input type="submit" value="Готово"/>

</form>

</div>

{% endblock %}
