{% extends "base.html" %}

{% block title %}Сброс пароля | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var resetPasswordForm = new pgf.forms.Form(jQuery('#pgf-reset-password-form'),
                                               {OnSuccess: function(e){location.href = "{{ url('accounts:profile:reset-password-done') }}";}});
});
</script>
{% endblock %}

{% block content %}

<div class="row">

  <div class="span3">

    <div class="block">

      <form id="pgf-reset-password-form" method="post" action="{{ url('accounts:profile:reset-password') }}" class="block">

        {{ reset_password_form.errors_container }}

        {{ reset_password_form.email.widget }}

        <input type="submit" value="Восстановить пароль"/>

      </form>

    </div>

  </div>

  <div class="span9">
    <div class="block">
      <ul>
        <li>Укажите email на который Вы регистрировали аккаунт, на него будет выслан новый пароль</li>
        <li>Если Вы уже создали героя, но не ввели email, Вам необходимо зайти на сайт с помощью того комьютера и того браузера с которыми вы начинали игру. После этого закончите регистрацию, введя email на странице профиля игрока. Если такое сделать невозможно, Вы можете создать героя заново.</li>
      </ul>
    </div>
  </div>

</div>

{% endblock %}
