{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var resetPasswordForm = new pgf.forms.Form(jQuery('#pgf-reset-password-form'),
                                               {OnSuccess: function(e){location.href = "{{ url('accounts:reset_password_done') }}";}});
});
</script>
{% endblock %}

{% block content %}

<p>Укажите email вашего аккаунта, не него будет выслан новый пароль</p>

<form id="pgf-reset-password-form" method="post" action="{{ url('accounts:reset_password') }}" class="block">

  {{ reset_password_form.errors_container }}

  {{ reset_password_form.email.widget }}

  <input type="submit" value="Восстановить пароль"/>

</form>

</div>

{% endblock %}
