{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {
});
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="block">
      <h2>Ваш запрос обработан!</h2>
      <p>
        <ul>
          <li>На указанный email будет выслан новый пароль. Письмо должно придти в течении нескольких минут.</li>
          <li>Рекомендуем сразу изменить пароль (либо запомнить созданый нами и удалить письмо).</li>
          <li>Если Вы не получили письмо с паролем, попробуйте <a href="{{ url('accounts:reset-password') }}">восстановить пароль</a> ещё раз, обратите внимение на корректность введённого email. Также, обратите внимание на комментарии, рассположеные на странице восстановленяи пароля.</li>
        </ul>
        перейти на страницу <a href="{{ url('accounts:login') }}">входа в игру</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
