{% extends "accounts/base.html" %}

{% import 'bills/macros.html' as bills_macros with context %}

{% block title %} {{ master_account.nick }} | {{ super() }}{% endblock %}


{% block accounts_content %}

<h2 style="display: inline-block;">{{ master_account.nick_verbose }} <small>могущество: {{ master_hero.might|int }}</small></h2>

{% if resource.account and master_account.id != resource.account.id %}
&nbsp;<a href="{{ url('accounts:messages:new', recipient=master_account.id) }}">отправить сообщение</a>
{% endif %}

<table class="account-info-table table table-condensed table-striped table-bordered table-no-highlighting">
  <tbody>
    <tr>
      <th>герой</th>
      <th>рейтинги</th>
      <th>форум</th>
    </tr>
    <tr>
      <td rowspan="3" width="150px">
        <ul class="unstyled">
          <li><strong>имя:</strong> <a href="{{ url('game:heroes:show', master_hero.id) }}">{{ master_hero.name }}</a></li>
          <li><strong>пол:</strong> {{ master_hero.gender_verbose }}</li>
          <li><strong>раса:</strong> {{ master_hero.race_verbose }}</li>
          <li><strong>уровень:</strong> {{ master_hero.level }}</li>
          <li><strong>сила:</strong> {{ master_hero.power }}</li>
        </ul>
      </td>

      <td rowspan="3" width="220px">

        {% if rating_values %}
        <ul class="unstyled">
          <li><strong>могущество:</strong> {% if rating_values.might > 0 %}{{ rating_places.might_place }} место{% else %}не участвует{% endif %}</li>
          <li><strong>принятые законы:</strong> {% if rating_values.might > 0 %}{{ rating_places.bills_count_place }} место{% else %}не участвует{% endif %}</li>
          <li><strong>сила героя:</strong> {{ rating_places.power_place }} место</li>
          <li><strong>уровень героя:</strong> {{ rating_places.level_place }} место</li>
        </ul>
        {% else %}
        игрок пока не участвует в рейтингах
        {% endif %}

      </td>

      <td>
        <ul class="unstyled">
          <li><a href="{{url('forum:threads:')}}?author_id={{master_account.id}}">обсуждения созданные игроком</a> (всего {{threads_count}})</li>
          <li><a href="{{url('forum:threads:')}}?participant_id={{master_account.id}}">обсуждения с участием игрока</a> (всего {{threads_with_posts}})</li>
        </ul>
      </td>

    </tr>
    <tr>
      <th>Политика</th>
    </tr>
    <tr>
      <td>
        <ul class="unstyled">
          <li><a href="{{ url('game:bills:') }}?owner_id={{master_account.id}}">законопроекты инициированые игроком</a> (всего {{bills_count}})</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
