{% extends "accounts/base.html" %}

{% import 'accounts/macros.html' as accounts_macros with context %}

{% block title %} {{ master_account.nick_verbose }} | {{ super() }}{% endblock %}
{% block description %}О Хранителе «{{ master_account.nick_verbose }}» и «{{ master_hero.name }}» — герое {{ master_hero.level }} уровня.{% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript">

jQuery(document).ready(function(){

{% if resource.account.is_authenticated() and master_account.id != resource.account.id%}

    {{  accounts_macros.personal_message_js() }}

{% if friendship is none %}

    jQuery('.pgf-friends-request-friendship').click(function(e){
        e.preventDefault();
        pgf.ui.dialog.Create({ fromUrl: "{{ url('accounts:friends:request', friend=master_account.id) }}",
                               OnOpen: function(dialog) {
                                   var friendshipForm = new pgf.forms.Form(jQuery('.pgf-friendship-request', dialog),
                                                                           { OnSuccess: function(form, data){ location.reload(); }
                                                                           });
                               }
                             });
    });

{% endif %}

{% endif %}

});

</script>
{% endblock %}


{% block content %}

  <div class="row">
    <div class="span3">
      {{account_sidebar(user_account=resource.account, page_account=master_account, page_caption="Страница игрока", can_moderate=resource.can_moderate_accounts, page_type="account")}}
    </div>

    <div class="span9">
      <div class="easy-block">

        <h2 style="line-height: 24px;">
          <small>
            Хранитель
          </small>
          {{ master_account.nick_verbose }}

          <small>
            и
            <a href="{{ url('game:heroes:show', master_hero.id) }}">{{ master_hero.name }}</a>
            —
            {{ master_hero.gender_verbose }}-{{ master_hero.race_verbose }}
            {{ master_hero.level }} уровня
          </small>
        </h2>

        {% if master_account.is_ban_forum %}
          <p class="alert alert-error pgf-ban-forum-message">
            Игроку запрещено общаться до <span class="pgf-format-datetime" data-timestamp="{{ master_account.ban_forum_end_at|timestamp }}"></span>
          </p>
        {% endif %}

        {% if master_account.is_ban_game %}
          <p class="alert alert-error pgf-ban-game-message">
            Герой игрока не оказывает влияние на мир до <span class="pgf-format-datetime" data-timestamp="{{ master_account.ban_game_end_at|timestamp }}"></span>
          </p>
        {% endif %}

        <br/>

        <table width="100%" style="text-align: center;">
          <tbody>
            <tr>
              <td width="25%" style="vertical-align: middle;">
                МОГУЩЕСТВО<br/>
                <span style="font-size: 20pt;">{{ account_info.might|int }}</span></br>
                <a href="{{url('guide:keepers')}}">путеводитель</a>
              </td>
              <td width="25%" style="vertical-align: middle;">
                ОЧКИ ДОСТИЖЕНИЙ<br/>
                <span style="font-size: 20pt;">{{account_info.achievements}}</span></br>
                <a href="{{url('accounts:achievements:', account=master_account.id)}}">все достижения</a>
              </td>
              <td width="25%" style="vertical-align: middle;">
                ПРЕДМЕТОВ В КОЛЛЕКЦИИ<br/>
                <span style="font-size: 20pt;">{{account_info.collections}}</span></br>
                <a href="{{url('collections:collections:', account=master_account.id)}}">коллекция</a>
              </td>
              <td width="25%" style="vertical-align: middle;">
                ПОСЛЕДОВАТЕЛИ<br/>
                <span style="font-size: 20pt;">{{ account_info.referrals }}</span></br>
                <a href="{{url('guide:referrals')}}">реферальная ссылка</a>
              </td>
            </tr>
          </tbody>
        </table>

        <br/>

        <div class="row-fluid">
          <div class="span6">

            <h3>Рейтинги</h3>

            <p>Положение игрока в рейтингах.</p>

            {% if account_info.ratings %}

              <table class="table table-condensed table-striped table-bordered">
                <tbody>
                  <tr>
                    <th >название</th>
                    <th width="100px">место</th>
                  </tr>

                  {% for menu_rating in RATING_TYPE.records %}
                  {% set rating = account_info.ratings[menu_rating.value] %}
                  <tr>
                    <td>{{rating.name}}</td>
                    <td>{% if rating.value > 0 %}{{rating.place}} место {% else %}не участвует{% endif %}</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            {% else %}
              <p class="alert alert-info">Игрок пока не участвует в рейтингах</p>
            {% endif %}

          </div>

          <div class="span6">
            <h3>Политика</h3>

            <p>Города, которым герой помогает чаще.</p>

            {% if account_info.places_history %}
              <div class="pgf-scrollable" style="overflow-y: auto; max-height: {{1+27*(1+12)}}px;">

                <table class="table table-condensed table-striped table-bordered">
                  <tbody>
                    <tr>
                      <th width="30px">№</th>
                      <th >город</th>
                      <th width="100px">помогал (раз)</th>
                    </tr>
                    {% for record in account_info.places_history %}
                      <tr>
                        <td>{{loop.index}}</td>
                        <td><a href="{{url('game:map:places:show', record.place.id)}}">{{record.place.name}}</a></td>
                        <td>{{record.count}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>

          {% else %}

            <p class="alert alert-info pgf-no-common-places-message">
              Герой ещё не помог ни одному городу.
            </p>
          {% endif %}

          </div>

        </div>


        {% if accounts_settings.INFORMER_SHOW and master_account.id == resource.account.id %}
          <h3>Информер</h3>
          <p>
            Нашим игроком <a target="_blank" href="{{url('accounts:show', accounts_settings.INFORMER_CREATOR_ID)}}">{{accounts_settings.INFORMER_CREATOR_NAME}}</a> был разработан информер, для вставки в подписи на форумах и аналогичных им местах. За что ему большое спасибо.
          </p>

          <div style="margin: 1em; text-align: center;">
            <img width="{{accounts_settings.INFORMER_WIDTH}}px" height="{{accounts_settings.INFORMER_HEIGHT}}px" src="{{informer_link}}"></img>
          </div>

          <div class="accordion" id="pgf-informer-accordion">

            <div class="accordion-group">
              <div class="accordion-heading">
                <div class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-informer-accordion" href="#pgf-informer-codes">
                  <a href="#">
                    Наиболее распространённые коды для вставки информера.
                  </a>
                </div>
              </div>
              <div id="pgf-informer-codes" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <ul class="unstyled">
                    <li style="margin: 0.5em;">
                      ссылка на картинку:<br/>
                      <code>{{informer_link}}</code>
                    </li>
                    <li style="margin: 0.5em;">
                      bb-код:<br/>
                      <code style="display: block;">
                        [url={{full_url('http', 'accounts:show', master_account.id, **{accounts_settings.REFERRAL_URL_ARGUMENT: master_account.id} )}}]<br/>
                        [img]{{informer_link}}[/img]<br/>
                        [/url]
                      </code>
                    </li>
                    <li style="margin: 0.5em;">
                      html-код:<br/>
                      <code style="display: block;">
                        &lt;a href="{{full_url('http', 'accounts:show', master_account.id, **{accounts_settings.REFERRAL_URL_ARGUMENT: master_account.id})}}"&gt;<br/>
                        &lt;img width="{{accounts_settings.INFORMER_WIDTH}}px" height="{{accounts_settings.INFORMER_HEIGHT}}px" src="{{informer_link}}"&gt;&lt;/src&gt;<br/>
                        &lt;/a&gt;
                      </code>
                    </li>
                  </ul>

                </div>
              </div>
            </div>

          </div>

          <p>
            Обращаем ваше внимание, что информер является сторонним продуктом и администрация игры не несёт ответственности за его функционирование.
          </p>

          <p>
            Обсудить работу информера можно на нашем <a href="{{url('forum:threads:show', accounts_settings.INFORMER_FORUM_THREAD)}}">форуме</a>.
          </p>

        {% endif %}

    </div>
  </div>
</div>



{% endblock %}
