
<div class="modal hide" style="text-align: justify;">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">Найм эмиссара для гильдии «{{clan.name}}»</h3>
  </div>

  <div class="modal-body">

    <form class="" method="post" action="{{ url('game:emissaries:create') }}">

      {{ form.errors_container }}

      {{ form.gender.widget }}
      {{ form.race.widget }}
      {{ form.place.widget }}

      <div class="widget">
        <input type="submit" accesskey="u" class="btn btn-success" value="Нанять"/>
      </div>

    </form>

  </div>

</div>
