{% extends "emissaries/base.html" %}
{% import 'macros.html' as base_macros with context %}
{% import 'game/macros.html' as game_macros with context %}
{% import 'blogs/macros.html' as blogs_macros with context %}
{% import 'clans/macros.html' as clans_macros with context %}
{% import 'chronicle/macros.html' as chronicle_macros with context %}
{% import 'emissaries/macros.html' as emissaries_macros with context %}

{% block title %} {{ emissary.name }} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Информация об эмиссаре «{{emissary.name}}» гильдии «{{clan.name}}»{% endblock %}

{% block emissaries_content %}

<h2>
  {{emissary.name}}
  {{ base_macros.magnet(emissary.meta_object()) }}
  <small>эмиссар гильдии {{clans_macros.clan_link(clan)}}</small>
</h2>

<h3>Свойства</h3>

<table class="table table-condensed">
  <tbody>
    <tr>
      <th>Статус</th>
      <td>{{emissaries_macros.emissary_status(emissary)}}</td>
    </tr>

    <tr>
      <th>Здоровье</th>
      <td>{{emissary.health}} / {{emissary.attrs.max_health}}</td>
    </tr>

    <tr>
      <th>Город</th>
      <td><a href="{{url('game:places:show', emissary.place.id)}}">{{emissary.place.name}}</a></td>
    </tr>

    <tr>
      <th>Влияние</th>
      <td>
        {{emissary_power|int}}
        (<a href="{{ url('game:politic-power:history', emissary=emissary.id) }}">последнее влияние</a>)
        {% if emissary.is_place_leader() %}
        {{emissaries_macros.leader_marker()}}
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>Способности</th>
      <td>
        {{emissary.abilities.total_level()}}

        {%- if emissary.can_participate_in_pvp() -%}
        , доступны задания чужих эмиссаров
        {% endif %}

        {{emissaries_macros.pvp_access_marker()}}
      </td>
    </tr>
  </tbody>
</table>


<div style="width: 350px; display: inline-block; margin-right: 2em;">

  <h3>Способности</h3>

  <table class="table table-condensed">
    <tbody>
      {% for ability, value in emissary.abilities.items()|sort(attribute="0.text") %}
      <tr>
        <th>{{ability.text}}</th>
        <td>{{value}} / {{emissary.attrs.ability_maximum(ability)}}</td>
        <td>
          <i class="icon-info-sign"
             data-tooltip-placement="right"
             rel="tooltip"
             title="Влияет на силу эффекта {{ability.event_name.word.forms[7]}} мероприятий"></i>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<div style="display: inline-block;">
  <h3>Особенности</h3>

  <table class="table table-condensed">
    <tbody>

      {% for trait in emissary.traits|sort(attribute='text') %}
      <tr>
        <td>
          <span style="color: {% if trait.type.is_POSITIVE %}green{% else %}red{% endif %};">
            {{trait.text}}
          </span>
        </td>
        <td>{{trait.description}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>

{% set active_emissary_events = emissary.active_events() %}

<h3>Мероприятия {{active_emissary_events|length}}/{{emissary.attrs.maximum_simultaneously_events}}</h3>

{% if active_emissary_events %}

<table class="table table-condensed">
  <thead>
    <th></th>
    <th>описание</th>
    <th>окончание после</th>

    {% if emissary_clan_rights and emissary_clan_rights.can_emissaries_planing() %}
    <th></th>
    {% endif %}
  </thead>
  <tbody>
    {% for event in active_emissary_events %}

    <tr>
      <th>{{event.concrete_event.TYPE.text}}</th>
      <td>{{event.concrete_event.event_description(emissary)}}</td>
      <td>
        <span class="pgf-format-datetime"
              data-timestamp="{{ event.stop_after|timestamp}}"
              style="cursor: pointer;"></span>
      </td>

      {% if emissary_clan_rights and emissary_clan_rights.can_emissaries_planing() %}
      <td>
        <a class="pgf-forms-post-simple pgf-event-operation"
           href="{{url('game:emissaries:stop-event', emissary.id)}}?event={{event.id}}">
          <i class="icon-remove"
             rel="tooltip"
             title="Отменить мероприятие"></i>
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>


{% else %}
<p class="alert alert-info">
  Эмиссар бездельничает. Выбрать мероприятие можно ниже, во вкладке «Мероприятия».
</p>
{% endif %}

<div class="accordion" id="pgf-emissary-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-emissary-accordion" href="#pgf-emissary-events">
        Мероприятия
      </a>
    </div>
    <div id="pgf-emissary-events" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">

        <ul>
          <li>Для запуска мероприятия требуются очки действий гильдии и влияние эмиссара.</li>
          <li>Очки действий отнимаются за запуск мероприятия, независимо от его длительности.</li>
          <li>Влияние отнимаются за каждый день действия мероприятия.</li>
          <li>Плата за запуск взимается в момент запуска за весь период действия мероприятия.</li>
          <li>Бонусы и штрафы цены применяются к итоговой цене запуска.</li>
        </ul>

        <table class="table table-condensed">
          <thead>
            <th width="250px"></th>
            <th>описание</th>
            <th width="150px">цена</th>

            {% if emissary_clan_rights and emissary_clan_rights.can_emissaries_planing() %}
            <th></th>
            {% endif %}
          </thead>
          <tbody>
            {% for event_class in all_emissary_events %}

            {% set raw_ability_power = event_class.get_raw_ability_power(emissary) %}

            <tr>
              <th>{{event_class.TYPE.text}}</th>
              <td>
                <span class="label {% if event_class.TYPE.availability.is_FOR_ALL%}label-success{% else %}label-info{%endif %}"
                      style="cursor: default;"
                      rel="tooltip"
                      title="{{event_class.TYPE.availability.description}}">
                  {{event_class.TYPE.availability.text}}
                </span>

                &nbsp;

                {% for ability in event_class.TYPE.abilities|sort(attribute="name") %}
                <span class="label"
                      style="cursor: default;"
                      rel="tooltip"
                      title="Эффективнсоть зависит от способности «{{ability.text}}»">
                  {{ability.event_name.word.forms[0]}}
                </span>
                {% if not loop.last %}
                &nbsp;
                {% endif %}
                {% endfor %}

                <br/>

                {{event_class.effect_description(emissary, raw_ability_power)}}
              </td>
              <td>
                {{event_class.action_points_cost(emissary)}} очков действий<br/>
                {{event_class.power_for_day_cost(emissary)}} влияния / день
              </td>

              {% if emissary_clan_rights and emissary_clan_rights.can_emissaries_planing() %}
              <td>

                {% if event_class.is_available(emissary=emissary, active_events=active_emissary_events_types) %}
                <a class="pgf-dialog-simple-form btn btn-success pgf-event-operation"
                   href="{{ url('game:emissaries:start-event-dialog', emissary.id, event_type=event_class.TYPE.value) }}">
                  Начать
                </a>
                {% else %}
                <a class="btn disabled pgf-disabled"
                   href="javascript:void(0)"
                   rel="tooltip"
                      title="<p>Мероприятие недоступно. Возможные причины:</p>
                             <ul style='text-align: left;'>
                               <li>Эмиссар уже проводит его.</li>
                               <li>Не выполняются специфичные для мероприятия условия.</li>
                             </ul>">
                  Начать
                </a>
                {% endif %}
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-emissary-accordion" href="#pgf-emissary-all-attributes">
        Все параметры эмиссара
      </a>
    </div>
    <div id="pgf-emissary-all-attributes" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <table class="table table-condensed" style="width: 700px;">
          <tbody>
            {% for attribute in emissary.attrs.attributes_by_name() %}
            {{game_macros.attribute_record(emissary, attribute.name)}}
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-emissary-accordion" href="#pgf-emissary-clan-chronicle">
        Последние события гильдии
      </a>
    </div>

    <div id="pgf-emissary-clan-chronicle" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>
          Последние события гильдии, связаные с эмиссаром.
        </p>

        {% if emissary_clan_rights and emissary_clan_rights.can_access_chronicle() %}
        {{ chronicle_macros.records_list(clan_events) }}
        {% else %}
        <p class="alert alert-info">
          У вас недостаточно прав, чтобы смотреть летопись гильдии.
        </p>
        {% endif %}

      </div>
    </div>

  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-emissary-accordion" href="#pgf-emissary-game-chronicle">
        Последние события Пандоры
      </a>
    </div>

    <div id="pgf-emissary-game-chronicle" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>
          Последние события Пандоры, связаные с эмиссаром.
        </p>

        {% if game_events %}
        {{ chronicle_macros.records_list(game_events) }}
        {% else %}
        <p class="alert alert-info">
          В летописи мира нет записей об эмиссаре.
        </p>
        {% endif %}

      </div>
    </div>
  </div>

</div>


{% set folclor_objects = posts_about(emissary.meta_object()) %}

<h3>Произведения об эмиссаре</h3>

{% if folclor_objects %}
  {{ blogs_macros.meta_posts_list(folclor_objects) }}
{% else %}
  <p class="alert alert-info pgf-no-folclor">В настоящее время нет произведений об эмиссаре.</p>
{% endif %}

{% endblock %}
