{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Типы аккаунтов | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Типы аккаунтов", "Информация о типах аккаунтов") }}

<p>
  В игре существует несколько типов аккаунтов.
<p>

<h4>«Быстрый» аккаунт</h4>

<p>
  Аккаунт игрока, не завершившего регистрацию. Этот аккаунт предназначен для ознакомления с игрой и может быть автоматически удалён через некоторое время после создания.
</p>

<p>
  По завершении регистрации аккаунт игрока становится базовым.
</p>

<p>
  Подробнее о регистрации (и ограничениях этого типа аккаунта) можно прочитать на странице Путеводителя: <a href="{{url('guide:registration')}}">Регистрация</a>.
</p>

<h4>Базовый аккаунт</h4>

<p>
  Бесплатный аккаунт, не ограничивающий взаимодействие игрока с героем. В то же время базовому аккаунту недоступен ряд возможностей, бесконтрольным использованием которых можно нанести вред миру игры или получить нечестное преимущество над другими игроками.
</p>

<p>
  Список ограничений:
</p>

<ul>
  <li>игрок не может голосовать (но может выдвигать законы);</li>
  <li>игрок не может ремонтировать строения на карте;</li>
  <li>задания, выполняемые героем игрока, не оказывают влияние на мир игры (в частности, не меняют влияние жителей Пандоры, участвующих в них).</li>
</ul>

<p>
  Раз в день случайно выбирается один из **активных** базовых аккаунтов, его герой назначается героем дня, а аккаунт получает подписку на месяц.
</p>

<h4>Подписчик</h4>

<p>
  Подписчик свободен от ограничений базового аккаунта; герои подписчиков оказывают реальное воздействие на мир игры. Подписку можно оформить в <a href="{{url('accounts:payments:shop')}}">магазине</a>.
</p>


<p>
  Кроме того, подписка даёт следующие преимущества:
</p>

<ul>
  <li>герой получает на 50% больше опыта;</li>
  <li>максимальное количество энергии увеличивается на 50%;</li>
  <li>герой сохраняет скорость получения опыта при длительном отсутствии игрока в игре.</li>
</ul>

{% endblock %}
