{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}API | {{ super() }}{% endblock %}


{% macro api_link(id, name) %}
<a href="#{{id}}">{{name}}</a>
{% endmacro %}

{% macro api_header(id, name) %}
<h3><a name="{{id}}"></a> {{name}}</h3>
{% endmacro %}

{% block guide_content %}

{{ guide_macros.page_caption("API", "Описание API.") }}

<p>
  Игра предоставляет программный интерфейс для разработки игровых клиентов и иных вспомогательных приложений. При реализации любого рода сторонних приложений <strong>настоятельно рекомендуется</strong> пользоваться именно этим интерфейсом. В случае, если требуется дополнительный функционал — смело обращайтесь к разработчикам.
</p>

<ol>
  <li>{{api_link("entry", "Введение")}}</li>
  {% for method in methods %}
  <li>{{api_link(method.id, method.name)}}</li>
  {% endfor %}
</ol>

{{api_header("entry", "Введение")}}

<h4>Принципы взаимодействия</h4>

<ul>
  <li>Взаимодействие происходит по протоколу http;</li>
  <li>Ответ возвращается в формате JSON;</li>
  <li>Сессии реализуются через передачу cookie с именем sessionid; в случае, если в запросе cookie не указана, сервер создаст новую сессию и вернёт соотвествующее значение cookie;</li>
</ul>

<h4>Формат запроса</h4>

<p>
  Адрес каждого метода имеет следующий формат:
</p>

<code style="text-align: left;">
  {{settings.SITE_URL}}/&lt;resource_path&gt;/api/&lt;method_name&gt;?api_version=&lt;method_version&gt;&api_client=&lt;client_id&gt;&&lt;method_arguments&gt;
</code>

<p>
  где:
</p>

<ul>
  <li>resource_path — пусть к игровой сущности (аккаунту, игре, рейтингам и т.п.);</li>
  <li>method_name — название метода, может отсутствовать;</li>
  <li>method_version — версия метода (в стандартном формате через точку: 1.0, 1.1 и т.п.);</li>
  <li>client_id — идентификатор клиентского приложения;</li>
  <li>method_arguments — аргументы, необходимые методу.</li>
</ul>

<h4>Версионность</h4>

<ul>
  <li>Каждый метод может иметь одну или несколько версий;</li>
  <li>Старшая версия считается основной, остальные — устаревшими;</li>
  <li>При обращении к устаревшей версии метода, в ответе будет присутствовать соответствующий флаг-индикатор;</li>
  <li>В рамках одной версии метода гарантируется сохранение формата вызова;</li>
  <li>В рамках одной версии метода гарантируется недеструктивное сохранение поведения (сторонние эффекты, коды возвращаемых ошибок);</li>
  <li>В рамках одной версии метода возможно недеструктивное изменение формата возвращаемых данных (могут быть добавлены новые поля, без изменения структуры существовавших ранее);</li>
  <li>Устаревшие версии методов будут удаляться из игры по прошествии времени, достаточного для перехода активных проектов на новые версии методов.</li>
</ul>

<h4>Идентификатор клиента</h4>

<ul>
  <li>Передача идентфикатора клиента необходима для сбора разработчиками статистики и возможности проведения разного рода «магических» действий в случае его неадекватного поведения;</li>
  <li>Формат идентификатора: %lt;идентификатор программы&gt;-&lt;версия программы&gt;, в идентификаторе должен быть ровно 1 дефиз;</li>
  <li>Значение идентификатора выбираются пользователями API, регистрировать идентификатор нигде не требуется; </li>
  <li>На наш взгляд, лучший хорошим решением будет составлять идентификатора из абревиатуры названия клиента и версии (или даты) его сборки;</li>
</ul>

<h4>Формат ответа</h4>

<p>
  Ответ на любой корректный запрос в случае корректной работы сервера возвращается с кодом 200.
</p>

<pre>
{
  "depricated": true,       // поле устанавливается, при обращении к устаревшей версии метода

  "status": "ok"|"error",   // ok — запрос обработка корректно
                            // error — произошла ошибка
  "code": "error.code",     // строка — уникальный код ошибки (присутствует только в случае ошибки)
  "error": "сообщение",     // сообщение об ошибке для пользователя (присутствует только в случае ошибки)

  // если ошибка в данных, вводимых пользователем, вместо "error" в ответ вставляется "errors" со перечислением
  "errors": {"идентификатор поля": ["сообщение 1", "сообщение 2"]},

  "data": {},               // запрошенные данные, в случае корректного выполнения запроса (присутствует, если есть возвращаемые данные)
}
</pre>

{% for method in methods %}
{{api_header(method.id, method.name)}}
{{method.documentation|safe}}
{% endfor %}


{% endblock %}
