{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}API | {{ super() }}{% endblock %}


{% macro api_link(id, name) %}
<a href="#{{id}}">{{name}}</a>
{% endmacro %}

{% macro api_header(id, name) %}<div class="anchor" id="m7298"></div>
<h3><div class="anchor" id="{{id}}"></div> {{name}}</h3>
{% endmacro %}

{% block guide_content %}

{{ guide_macros.page_caption("API", "Описание API.") }}

<p>
  Игра предоставляет программный интерфейс для разработки игровых клиентов и иных вспомогательных приложений. При реализации любого рода сторонних приложений <strong>настоятельно рекомендуется</strong> пользоваться именно этим интерфейсом. В случае, если требуется дополнительный функционал — смело обращайтесь к разработчикам.
</p>

<p>
  Обсудить API можно на <a href="{{api_forum_thread}}">форуме</a>.
</p>

{{api_header("api-content", "Содержание")}}

<ol>
  <li>{{api_link("entry", "Введение")}}</li>
  <li>{{api_link("methods", "Методы")}}
    <ol>
      {% for method in methods %}
      <li>{{api_link(method.id, method.name)}}</li>
      {% endfor %}
    </ol>
  </li>
  <li> {{api_link("types", "Типы")}}
    <ol>
      {% for type in types %}
      <li>{{api_link(type.id, type.name)}}</li>
      {% endfor %}
    </ol>
  </li>
  <li>{{api_link("common_errors", "Общие ошибки")}}</li>
</ol>

{{api_header("entry", "Введение")}}

<h4>Принципы взаимодействия</h4>

<ul>
  <li>Взаимодействие происходит по протоколу http;</li>
  <li>Ответ возвращается в формате JSON;</li>
  <li>Сессии реализуются через передачу cookie с именем sessionid; в случае, если в запросе cookie не указана, сервер создаст новую сессию и вернёт соответствующее значение cookie;</li>
  <li>
    Для защиты от <a href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">CSRF</a> (так как фунционал браузерной версии также построен на API), каждый POST запрос должен иметь cookie с именем csrftoken и либо POST параметр csrfmiddlewaretoken, либо заголовок X-CSRFToken, установленные в значение этой cookie. Для получения cookie достаточно сделать любой запрос к игре.
  </li>
  <li>
    Примеры запросов на логин с использованием curl:
<pre>
curl -b "sessionid=kwc2ngq02dilu56ti76nj21z18wzaghe csrftoken=wxiefxk7i6kvkUeyi4jU2xO0B96RwvJc" -d "email=email@gmail.com&password=11111"  -H "X-CSRFToken: wxiefxk7i6kvkUeyi4jU2xO0B96RwvJc" "http://localhost:8000/accounts/auth/api/login?api_version=1.0&api_client=SASS-asas"

curl -b "sessionid=kwc2ngq02dilu56ti76nj21z18wzaghe csrftoken=wxiefxk7i6kvkUeyi4jU2xO0B96RwvJc" -d "email=email@gmail.com&password=111111&csrfmiddlewaretoken=wxiefxk7i6kvUeyi4jU2xO0B96RwvJc" "http://localhost:8000/accounts/auth/api/login?api_version=1.0&api_client=SASS-asas"
</pre>
  </li>
</ul>

<h4>Формат запроса</h4>

<p>
  Адрес каждого метода имеет следующий формат:
</p>

<code style="text-align: left;">
  {{settings.SITE_URL}}/&lt;resource_path&gt;/api/&lt;method_name&gt;?api_version=&lt;method_version&gt;&api_client=&lt;client_id&gt;&&lt;method_arguments&gt;
</code>

<p>
  где:
</p>

<ul>
  <li>resource_path — пусть к игровой сущности (аккаунту, игре, рейтингам и т.п.);</li>
  <li>method_name — название метода, может отсутствовать;</li>
  <li>method_version — версия метода (в стандартном формате через точку: 1.0, 1.1 и т.п.);</li>
  <li>client_id — идентификатор клиентского приложения;</li>
  <li>method_arguments — аргументы, необходимые методу.</li>
</ul>

<h4>Версионность</h4>

<ul>
  <li>Каждый метод может иметь одну или несколько версий;</li>
  <li>Старшая версия считается основной, остальные — устаревшими;</li>
  <li>При обращении к устаревшей версии метода, в ответе будет присутствовать соответствующий флаг-индикатор;</li>
  <li>В рамках одной версии метода гарантируется сохранение формата вызова;</li>
  <li>В рамках одной версии метода гарантируется недеструктивное сохранение поведения (сторонние эффекты, коды возвращаемых ошибок);</li>
  <li>В рамках одной версии метода возможно недеструктивное изменение формата возвращаемых данных (могут быть добавлены новые поля, без изменения структуры существовавших ранее);</li>
  <li>Устаревшие версии методов будут удаляться из игры по прошествии времени, достаточного для перехода активных проектов на новые версии методов.</li>
</ul>

<h4>Идентификатор клиента</h4>

<ul>
  <li>Передача идентификатора клиента необходима для сбора разработчиками статистики и возможности проведения разного рода «магических» действий в случае его неадекватного поведения;</li>
  <li>Формат идентификатора: &lt;идентификатор программы&gt;-&lt;версия программы&gt;, в идентификаторе должен быть ровно 1 дефис;</li>
  <li>Значение идентификатора выбираются пользователями API, регистрировать идентификатор нигде не требуется; </li>
  <li>На наш взгляд, лучший хорошим решением будет составлять идентификатора из аббревиатуры названия клиента и версии (или даты) его сборки;</li>
</ul>

<h4>Неблокирующие операции</h4>

<p>
  Некоторые запросы требуют длительного времени на свою обработку, поэтому для работы с ними реализован специальных механизм, позволяющий не блокировать выполнение клиента (и сервера) дожидаясь ответа на запрос. В описании таких операций это свойство отмечено отдельно.
</p>

<p>
  Принцип работы неблокирующей операции:
</p>

<ol>
  <li>запрос клиента вызывает выполнение фоновой задачи на сервере;</li>
  <li>сервер возвращает ответ с информацией, по которой можно проверять статус выполнения задачи (со статусом "processing");</li>
  <li>клиент периодически проверяет статус выполнения (желательно, не чаще раза в секунду), пока не получит сообщение о её завершении (или об ошибке);</li>
  <li>после этого операция считается выполненой/</li>
</ol>

<h4>Формат ответа</h4>

<p>
  Ответ на любой корректный запрос в случае корректной работы сервера возвращается с кодом 200.
</p>

<pre>
{
  "depricated": true,                  // поле устанавливается, при обращении к устаревшей версии метода

  "status": "ok"|"error"|"processing", // ok — запрос обработка корректно
                                       // error — произошла ошибка
                                       // processing — запрошена неблокирующая операция, идёт обработка запроса
  "code": "error.code",                // строка — уникальный код ошибки (присутствует только в случае ошибки)
  "error": "сообщение",                // сообщение об ошибке для пользователя (присутствует только в случае ошибки)

  // если ошибка в данных, вводимых пользователем, вместо "error" в ответ вставляется "errors" со перечислением
  // идентификатор поля — имя параметра, в котором передавался ввод пользователя
  "errors": {"идентификатор поля": ["сообщение 1", "сообщение 2"]},

  "status_url": "url"                  // адрес проверки статуса неблокирующей операции (формат статуса такой же)

  "data": {},                          // запрошенные данные, в случае корректного выполнения запроса (присутствует, если есть возвращаемые данные)
}
</pre>

{{api_header("methods", "Методы")}}

{% for method in methods %}
{{api_header(method.id, method.name)}}
{{method.documentation|safe}}
{% endfor %}

{{api_header("types", "Типы")}}

{% for type in types %}
{{api_header(type.id, type.name)}}

<table class="table table-striped table-bordered table-condensed">
  <tr>
    {% for field_name, field_id in type.fields %}
    <th {% if loop.first %}width="50px"{% endif %}>{{field_name}}</th>
    {% endfor %}
  </tr>
  {% for record in type.records %}
  <tr>
    {% for value in record %}
    <td>{{value}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endfor %}

{{api_header("common_errors", "Общие ошибки")}}

<p>
  В этом разделе перечислены ошибки, которые могут возникнуть при вызове любого (или почти любого) метода.
</p>

<ol>
  <li>api.no_method_version — не указана версия метода</li>
  <li>api.no_client_indentificator — не указана версия клиента</li>
  <li>api.wrong_client_identificator_format — неверный формат идентификатора клиента</li>
  <li>api.wrong_method_version — неверная версия метода</li>
  <li>common.login_required — необходимо войти в игру</li>
  <li>common.staff_required — необходимы права администратора</li>
  <li>common.superuser_required — необходимы права суперпользователя</li>
</ol>


{% endblock %}
