{% extends "guide/base.html" %}

{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Правила поведения в игре | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Важная информация о правилах поведения в нашей игре.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Правила поведения в игре", "Как следует и как не следует вести себя в «Сказке»") }}

<p>
  Чтобы сделать игру приятной для себя и не испортить её другим, администрация настоятельно рекомендует придерживаться общепринятых норм поведения, с уважением относиться к другим игрокам. В случае недостойного поведения, функциональность игры, доступная нарушителю, может быть ограничена вплоть до полного отключения аккаунта. Ниже приведён формальный (но не исчерпывающий) список правил поведения в игре. <strong>Помните, незнание правил не освобождает от ответственности.</strong>
<p>

<h4>Правила</h4>

<ol>
  <li>Всё общение должно основываться на общепринятых этических нормах;</li>
  <li>Запрещено использование ненормативной лексики, оскорблений;</li>
  <li>Запрещена пропаганда наркотиков, насилия, порнографии, расовой ненависти и прочих отрицательных явлений;</li>
  <li>Запрещено нарушать местные законы и правила, законы и правила штата, государственные и международные законы и правила;</li>
  <li>Запрещается использование ошибок в игре с целью получения преимущества над другими игроками (а так же с любой другой целью);</li>
  <li>Запрещается любого рода спам;</li>
</ol>


<h4>Ограничения</h4>

<p>
  В случае нарушения правил, на игрока могут быть наложены следующие ограничения:
</p>

<ol>
  <li><strong>ограничение общения</strong> — игрок теряет возможность писать сообщения на форуме;</li>
  <li><strong>ограничение игры</strong> — герой игрока перестаёт оказывать влияние на мир игры, получать опыт, игрок теряет способность участвовать в политике и как-либо помогать герою.</li>
</ol>

<p>
  Срок действия ограничений выбирается администрацией с учётом «тяжести» проступка.
</p>


{% endblock %}
