{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Города | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Города", "Что из себе представляют города Пандоры.") }}

<p>
  <strong>Город</strong> — центр культурной, общественной, политической и любой другой жизни Пандоры. Города являются ключевыми точками в путешествиях героев, в них приключенцы отдыхают, продают добычу, экипируются и, конечно, получают задания. Каждый город имеет размер (от 1 до {{places_settings.MAX_SIZE}}), который отражает влиятельность города в мире.
</p>

<h4>Персонажи</h4>

<p>
  В городах обитает огромное количество людей, эльфов, дварфов, гоблинов, орков и представителей пока ещё не изученных рас. Но среди всего этого многообразия всегда выделяется несколько самых уважаемых (и от того, влиятельных) персонажей, они и определяют облик города, его характер. Это могут быть талантливые ремесленники, умелые торговцы или просто хорошие люди. В малых городах их меньше, в больших — больше, но есть они в каждом городе.
</p>

<p>
  Персонажи являются основным источником заданий для героев. Выполняя задание, приключенец изменяет влияние персонажей, которые в нём участвуют. Персонажи, которым герой помогает, становятся немного влиятельнее, персонажи, которым он мешает — теряют влияние. От суммарного влияния персонажей каждой расы, зависит то, какой расе принадлежит город. Это, в свою очередь, влияет на территорию вокруг него.
</p>

<p>
  Влияние персонажей зависит от действий героев за определённый промежуток времени (примерное количество недель: {{persons_settings.POWER_HISTORY_WEEKS}}). Влияние, полученное ранее, теряется. Поэтому они нуждаются в постоянной поддержке и внимании.
</p>

<p>
  При росте города, персонажи появляются в нём самостоятельно. Персонажи старше {{persons_settings.POWER_STABILITY_WEEKS}} недель покидают город, если их влияние меньше {{persons_settings.POWER_STABILITY_PERCENT|percents}}. Игроки могут прогнать персонажа из города, приняв специальный закон (см. раздел <a href="{{url('guide:politics')}}">Политика</a>). Также, с помощью выбора <a href="{{url('guide:hero-preferences')}}">предпочтений героя</a> можно указать приключенцу, какой город ему следует посещать чаще, какому персонажу помогать, а какому — ставить палки в колёса.
</p>

<p>Каждый персонаж имеет профессию и владеет ей с определённым мастерством, которое зависит от расы персонажа.</p>

<p><strong>Перечень профессий:</strong> {{ ', '.join(PROFESSIONS) }}.</p>

<p><strong>Шкала мастерства:</strong> {{ ', '.join(MASTERY_LEVELS) }}.</p>

<h4>Специализация городов</h4>

<p>
  Могущественные города могут иметь специализацию. Возможные специализации зависят от размера города, его населения (того, мастера каких профессий в нём живут) и принимаются с помощью соответствующего законопроекта. Посмотреть, насколько город продвинулся на пути к каждой из специализаций, можно в диалоге информации о городе. Чтобы можно было изменить специализацию города, необходимо довести её развитие до {{c.PLACE_TYPE_NECESSARY_BORDER}}. Если город уже имеет специализацию и её развитие опустится ниже {{c.PLACE_TYPE_ENOUGH_BORDER}}, то город перестанет быть специализированным.
</p>

<table class="table table-striped table-bordered table-condensed">
  <caption><h4>Специализации городов</h4></caption>
  <thead>
    <tr><th>название</th><th>описание</th></tr>
  </thead>
  <tbody>
    {% for modifier in MODIFIERS%}
    <tr><td width="150px;">{{modifier.NAME}}</td><td>{{modifier.DESCRIPTION}}</td></tr>
    {% endfor %}
  </tbody>
</table>

<h4>Размер города</h4>

<p>
  Размер города влияет на максимальное количество персонажей в нём, на размер области карты, которая к нему относится и развитие специализации. Зависит от <strong>изменения</strong> влияния персонажей в городе за определённый период (примерное количество недель: {{places_settings.POWER_HISTORY_WEEKS}}).
</p>


{% endblock %}
