{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Города | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описания городов и их функций в мире игры.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Города", "Что из себе представляют города Пандоры.") }}

<p>
  <strong>Город</strong> — центр культурной, общественной, политической и любой другой жизни Пандоры. Города являются ключевыми точками в путешествиях героев, в них приключенцы отдыхают, продают добычу, экипируются и, конечно, получают задания. Каждый город имеет размер (от 1 до {{places_settings.MAX_SIZE}}), который отражает влиятельность города в мире.
</p>

<h4>Фронтир</h4>

<p>
  Фронтир — населённая полоса между центральной (цивилизованной) частью Пандоры и дикими необитаемыми землями, которая опоясывает всю цивилизованную часть Пандоры. По мере появления новых городов Фронтир расширяется, а его внутренние города становятся цивилизованными. Жизнь на Фронтире тяжела, и расположенные на нём города имеют ряд отличий от цивилизованных:
</p>

<ul>
  <li>на советников и экономику городов Фронтира оказывают влияние все игроки (активные базовые аккаунты и все подписчики);</li>
  <li>экономика городов Фронтира рассчитывается отдельно от цивилизованных городов (но по тем же правилам) и ограничена меньшим значением;</li>
  <li>жизнь на Фронтире так же опасна, как и в диких землях, поэтому на его территории уменьшается безопасность.</li>
</ul>

<h4>Новые города</h4>

<p>
  Пандора постепенно расширяется, и, конечно, появляются новые города (обычно на внешней границе Фронтира). Город имеет статус «нового» некоторое время после своего появления. В «новом» городе, в отличие от других городов, могут голосовать все игроки, являющиеся подписчиками (независимо от того помогали они ему или нет).
</p>

<h4>Специализация</h4>

<p>
  Могущественный город может иметь специализацию. Доступные специализации зависят от размера города и его населения (того, мастера каких профессий в нём живут). Специализация принимается с помощью соответствующего законопроекта. Посмотреть, насколько город продвинулся на пути к каждой из специализаций, можно в диалоге информации о городе. Чтобы можно было изменить специализацию города, необходимо довести её развитие до {{c.PLACE_TYPE_NECESSARY_BORDER}}. Если город уже имеет специализацию и её развитие опустится ниже {{c.PLACE_TYPE_ENOUGH_BORDER}}, то город перестанет быть специализированным. У города может быть только одна специализация.
</p>

<table class="table table-striped table-bordered table-condensed">
  <caption><h4>Специализации городов</h4></caption>
  <thead>
    <tr><th>название</th><th>описание</th></tr>
  </thead>
  <tbody>
    {% for modifier in MODIFIERS%}
    <tr><td width="150px;">{{modifier.TYPE.text}}</td><td>{{modifier.TYPE.description}}</td></tr>
    {% endfor %}
  </tbody>
</table>

<h4>Параметры</h4>

<p>
  Получить представление о текущем положении дел в городе можно, заглянув на вкладку «параметры» его информационного диалога.
</p>

<table class="table table-striped table-bordered table-condensed">
  <caption><h4>Параметры города</h4></caption>
  <thead>
    <tr><th width="150px;">название</th><th>описание</th></tr>
  </thead>
  <tbody>
    <tr><td>{{PlaceParametersDescription.PLACE_SIZE[0]}}</td><td>{{PlaceParametersDescription.PLACE_SIZE[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.ECONOMIC_SIZE[0]}}</td><td>{{PlaceParametersDescription.ECONOMIC_SIZE[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.POLITIC_RADIUS[0]}}</td><td>{{PlaceParametersDescription.POLITIC_RADIUS[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.TERRAIN_RADIUS[0]}}</td><td>{{PlaceParametersDescription.TERRAIN_RADIUS[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.STABILITY[0]}}</td><td>{{PlaceParametersDescription.STABILITY[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.PRODUCTION[0]}}</td><td>{{PlaceParametersDescription.PRODUCTION[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.GOODS[0]}}</td><td>{{PlaceParametersDescription.GOODS[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.KEEPERS_GOODS[0]}}</td><td>{{PlaceParametersDescription.KEEPERS_GOODS[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.SAFETY[0]}}</td><td>{{PlaceParametersDescription.SAFETY[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.TRANSPORT[0]}}</td><td>{{PlaceParametersDescription.TRANSPORT[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.FREEDOM[0]}}</td><td>{{PlaceParametersDescription.FREEDOM[1]|safe}}</td></tr>
    <tr><td>{{PlaceParametersDescription.TAX[0]}}</td><td>{{PlaceParametersDescription.TAX[1]|safe}}</td></tr>
  </tbody>
</table>


<h4>Характер</h4>

<p>
  Характер города определяется чертами героев подписчиков, связанных с ним (установивших его родным или выбравших в нём соратника/противника). Характер городов Фронтира определяется также и активными базовыми игроками.
</p>

<p>
  Чем больше разница между суммарным количество положительных и отрицательных очков черты, тем быстрее изменяется характер города. Но его изменение замедляется тем больше, чем сильнее он «сдвинут» в одну из сторон.
</p>

<p>
  На текущий момент характер города ни на что в игре не влияет.
</p>

{% endblock %}
