{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Гильдии | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}О гильдиях и всём, что с ними связано.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Гильдии", "О гильдиях.") }}

<p>Гильдии — это объединения игроков, преследующих одну и ту же цель и желающих согласовывать свои действия в Пандоре.</p>

<p>
  Создать гильдию может любой игрок, если его <a href="{{url('guide:keepers')}}">могущество</a> не меньше {{clans_settings.OWNER_MIGHT_REQUIRED}}. Если ваше могущество меньше, вы можете купить разрешение на владение гильдией в <a href="{{url('accounts:payments:shop')}}">магазине</a>.
</p>

<p>
  Для каждой гильдии создаётся закрытый раздел на форуме (доступен только членам гильдии). Ссылка на него находится на странице гильдии.
</p>

{% endblock %}
