{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Игра | {{ super() }}{% endblock %}
{% block description %}Описание «Сказки» и её отличий от других игр.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Игра", "Введение в игру") }}

<p><strong>Сказка</strong> это:</p>

<ul>
  <li><strong>многопользовательская</strong> — множество игроков одновременно находятся в одном мире и влияют на его судьбу;</li>
  <li><strong>ролевая</strong> — игрок может примерить на себя роль ограниченную только его фантазией;</li>
  <li><strong>игра</strong> — в Сказке дозволено чуть больше, чем в реальной жизни;</li>
  <li><strong>с непрямым управлением персонажем</strong> — ваш подопечный достаточно умён, чтобы обходиться без постоянного надзора. Влиять на его поведение можно только косвенно — и от этого его успехи становятся ещё приятнее!</li>
  <li><strong>и изменяемым окружением</strong> — мир, в котором вы действуете, развивается: растут и угасают, переходят из рук в руки города, леса борются с пустынями, меняется животный мир.</li>
</ul>

<p>
  Многопользовательских ролевых игр много — не будем расписывать их прелести — всё уже описано до нас. Лучше остановимся на непрямом управлении персонажем — сути нашей игры.
</p>

<p>
  В Сказке Вы играете за особенно непоседливого ангела-хранителя, который решил сделать героя из своего подопечного (не спрашивая последнего о согласии). Благодаря вашей силе, герою не грозит даже смерть (если его «убьют», он со временем воскреснет). Правда, в воспитательном процессе возникла одна незначительная проблема: герой ходит по земле, а Вы застряли в астральном мире. Поэтому, подопечный большую часть времени предоставлен самому себе. Впрочем, всегда есть выход: как бы ни была слаба связь с героем, Вы можете помочь ему. Для этого надо потратить часть своей энергии (она восстанавливается, когда герой молится Вам, приносит жертвы или другим способом выражает своё уважение). В зависимости от занятия героя, помощь будет различаться: это может быть как внезапный дождь из золота, так и разряд молнии, направленный в ближайшее чудовище.
</p>

<p>
  Герой же, осознав себя избранником высших сил, сразу принимается за выполнение заданий, которые ему выдают сильные мира сего. Обычно, в каждом поселении существует несколько жителей, готовых попросить героя об услуге, за выполнение одной из которых тот с радостью берётся. Но не всегда завершает так, как от него ожидается. Надо сказать, что герои обычно попадаются беспринципные и мелочные, поручи такому доставить посылку — он её украдёт (а может и не украдёт, как захочет). Независимо от исхода задания, поступки героя изменяют влияние жителей, которые, в свою очередь, определяют развитие городов и их принадлежность к одной из игровых рас.
</p>

<p>
  Если влияние одной из рас в городе начинает преобладать над остальными, город переходит в её владение. При этом изменяется не только поселение, но и мир вокруг него. Вам нравятся леса? — Убедите героя помогать эльфам и со временем его усилия приведут к тому, что мир покроется пышной растительностью. Нравятся орки? — помогайте им, подставляя ушастых гордецов, и наслаждайтесь барханами в бескрайних пустынях.
</p>

<p>
  Несмотря на своеволие героев, на их решения можно влиять, изменяя характер подопечных и «помогая» им делать нужный выбор в заданиях. В каждом задании, как и в любой истории, есть точки выбора: украсть или не украсть, убить или отпустить, вдоволь наесться или раздать деньги бедным. Вы можете «помочь» герою сделать правильный выбор, но для этого за ним нужно внимательно следить, чтобы не упустить такую возможность.
</p>


{% endblock %}
