

<p>
  Указывает насколько миролюбив герой и каким способом предпочитает решать конфликты.
</p>

<p>
  Изменяется при выборе пути выполнения задания, а так же от применения способностей хранителя:
</p>

<ul>
  <li>если выбор делает Хранитель, то черта смещается в соответствующую сторону (у героев-подписчиков черты изменяются сильнее);</li>
  <li>если выбор делает герой, то:
    <ul>
      <li>если выбор совпадает с чертой, то ничего не меняется;</li>
      <li>если выбор не совпадает с чертой, то черта смещается к нейтральному значению;</li>
    </ul>
  </li>
  <li>использование помощи во время боя уменьшает миролюбие;</li>
  <li>использование помощи не во время боя увеличивает миролюбие;</li>
  <li>отправка героя на Арену уменьшает миролюбие;</li>
  <li>возвращение героя из очереди на Арену увеличивает миролюбие.</li>
</ul>

<p>Общее правило выбора в заданиях: применение силы ведёт к агрессивности и уменьшает миролюбие.</p>

<p>За выбор в задании миролюбие изменяется после его завершения.</p>

<h3>уровни миролюбия</h3>

<br/>

{% macro interval_caption(interval) %}
<h4>{{interval.text}} <small>от {{interval.left_border}} до {{interval.right_border}}</small></h4>
{% endmacro %}

{{interval_caption(HABIT_TYPE.PEACEFULNESS.intervals.LEFT_3)}}

<ul>
  <li>имея особую страсть к насилию, герой периодически получает опыт за убийства;</li>
  <li>чаще получает задание на вредительство своему противнику;</li>
</ul>

{{interval_caption(HABIT_TYPE.PEACEFULNESS.intervals.LEFT_2)}}

<ul>
  <li>в бою всегда атакует первым (на сражения с игроками не распространяется);</li>
  <li>начинают происходить небольшие происшествия, связанные с чертой;</li>
</ul>

{{interval_caption(HABIT_TYPE.PEACEFULNESS.intervals.LEFT_1)}}

<ul>
  <li>увеличивается награда при согласованном с чертой  выполнении задания;</li>
  <li>увеличивается вероятность автоматического выбора согласованного с чертой варианта выполнения задания;</li>
</ul>

{{interval_caption(HABIT_TYPE.PEACEFULNESS.intervals.NEUTRAL)}}

<p>Нейтральные герои не имеют особенностей</p>

{{interval_caption(HABIT_TYPE.PEACEFULNESS.intervals.RIGHT_1)}}

<ul>
  <li>увеличивается награда при согласованном с чертой  выполнении задания;</li>
  <li>увеличивается вероятность автоматического выбора согласованного с чертой варианта выполнения задания;</li>
</ul>

{{interval_caption(HABIT_TYPE.PEACEFULNESS.intervals.RIGHT_2)}}

<ul>
  <li>аккуратно подходя к сражениям, с большей вероятностью получает добычу после боя;</li>
  <li>начинают происходить небольшие происшествия, связанные с чертой;</li>
</ul>

{{interval_caption(HABIT_TYPE.PEACEFULNESS.intervals.RIGHT_3)}}

<ul>
  <li>отвергая насилие, может разойтись с цивилизованным существом без боя;</li>
  <li>чаще получает задание на помощь своему соратнику;</li>
</ul>
