{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'heroes/macros.html' as macros with context %}

{% block title %}Предпочтения героев | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание характера героев и их предпочтений.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Предпочтения героев", "Описание предпочтений героев") }}

<p>
  У каждого разумного существа есть свои вкусы, в соответствии с которыми оно строит своё поведение. Герои Пандоры не исключение. У них есть любимые места, друзья, враги. Всё это можно назвать одним словом - предпочтения. И вы можете влиять на предпочтения своего героя. В свою очередь, герой всегда учитывает предпочтения и никогда не идёт против них.
</p>

<p>
  Предпочтения доступны не сразу, а открываются с ростом уровня героя. Чем «старше» герой, тем цельнее его характер и тем больше предпочтений у него.
</p>

<p>
  Следует помнить, что предпочтение — это не то, что можно изменить в любой момент — изменять его можно не чаще раза в две недели. Убрать задержку на изменение предпочтения можно использовав соответствующую карту судьбы.
</p>

<p>
  Выбрать предпочтения можно на странице героя.
</p>

<h3>Список предпочтений</h3>

<dl>

  <div class="dl-record guid-preference">
    <dt>религиозность <small>необходим {{ PREFERENCE_TYPE.ENERGY_REGENERATION_TYPE.level_required }} уровень</small></dt>
    <dd>
      <p>Определяет, как герой будет общаться со своим покровителем. Обращаясь к вам, подопечный восстанавливает вашу энергию. Способы общения отличаются количеством энергии, получаемым за «сеанс», частотой использования и моментами, в которые герой может их использовать. Но «лучшего» способа нет, поэтому выбирайте на свой вкус.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>родной город <small>необходим {{ PREFERENCE_TYPE.PLACE.level_required }} уровень</small></dt>
    <dd>
      <p>У героя появляется любимый город, в который тот возвращается время от времени. Конечно, раз герой чаще бывает в городе, то и оказывает больше влияния на его развитие.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>любимая добыча <small>необходим {{ PREFERENCE_TYPE.MOB.level_required }} уровень</small></dt>
    <dd>
      <p>Герой по разным причинам может начать тяготеть к определённому виду монстров, но если уж такое предпочтение появится у него, то несчастная добыча точно не получит спуску. Герой начинает периодически ходить на охоту за любимой добычей. Благодаря обширным познаниям о выбранном существе, герой чаще получает добычу после победы над ним.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>соратник <small>необходим {{ PREFERENCE_TYPE.FRIEND.level_required }} уровень</small></dt>
    <dd>
      <p>Соратник — это житель города, с которым герой сдружился. Ваш подопечный будет чаще помогать своему другу и не будет выполнять задания, которые могут навредить ему.</p>
      <p><strong>ВНИМАНИЕ!</strong> В случае, если соратник героя выбывает из игры, данное предпочтение сбрасывается. Вы сразу получаете возможность выбрать нового соратника.<p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>архетип <small>необходим {{ PREFERENCE_TYPE.ARCHETYPE.level_required }} уровень</small></dt>
    <dd>
      <p>Архетип отражает отношение героя к магии и его предпочтения при выборе экипировки.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>противник <small>необходим {{ PREFERENCE_TYPE.ENEMY.level_required }} уровень</small></dt>
    <dd>
      <p>Противник — полная противоположность соратнику. Будьте уверены, если уж стал врагом Героя, то лёгкая жизнь для тебя кончилась.</p>
      <p><strong>ВНИМАНИЕ!</strong> В случае, если противник героя выбывает из игры, данное предпочтение сбрасывается. Вы сразу получаете возможность выбрать нового противника.<p>
    </dd>
  </div>


  <div class="dl-record">
    <dt>отношение со спутником <small>необходим {{ PREFERENCE_TYPE.COMPANION_DEDICATION.level_required }} уровень</small></dt>
    <dd>
      <p>
        Отношение со спутником определяет как часто спутник будет защищать героя в бою. Эгоистичный герой не мешает спутнику участвовать в сражениях и не против лишний раз укрыться за его спиной. Альтруистичный герой, наоборот, стремиться уберечь спутника от личшнего урона и не даёт последему лезть в бой чересчур активно.
      </p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>любимая вещь <small>необходим {{ PREFERENCE_TYPE.FAVORITE_ITEM.level_required }} уровень</small></dt>
    <dd>
      <p>Любимая вещь героя, с которой он ни за что не расстанется.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>уровень риска <small>необходим {{ PREFERENCE_TYPE.RISK_LEVEL.level_required }} уровень</small></dt>
    <dd>
      <p>Определяет, будет ли герой рисковать своей жизнью или, наоборот, действовать осторожно.</p>
      <p>Чем рискованнее герой, тем больше опыта и наград он получает за выполнения заданий и тем больше влияния оказывает на жизнь Пандоры. Но помните, чем больше риска — тем больше вероятность смерти в бою, за своим здоровьем рисковые герои смотрят плохо.</p>
    </dd>
  </div>


  <div class="dl-record">
    <dt>экипировка <small>необходим {{ PREFERENCE_TYPE.EQUIPMENT_SLOT.level_required }} уровень</small></dt>
    <dd>
      <p>Указывает на то, какой тип вещей герой желает улучшать в первую очередь.</p>
    </dd>
  </div>

  <div class="dl-record">
    <dt>эмпатия <small>необходим {{ PREFERENCE_TYPE.COMPANION_EMPATHY.level_required }} уровень</small></dt>
    <dd>
      <p>
        Эмпатия определяет как будут влиять черты спутника (если они есть) на героя. Герои-эмпаты значительно больше подвержены влиянию спутников, чем эгоцентрики.
      </p>
    </dd>
  </div>

</dl>


{% endblock %}
