{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% import 'heroes/macros.html' as macros with context %}

{% block title %}Способности героев | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Способности героев", "Описание способностей героев") }}

<p>
  Путешествуя по миру Пандоры, герой постепенно растёт над собой и раз в несколько уровней получает возможность выучить новое умение, способное облегчить его жизнь в будущем. По умолчанию, все герои имеют способность «Удар» — она позволяет им сражаться с противниками. Так же, на 1-ом уровне для героя сразу можно выбрать ещё одну способность.
</p>
<p>
  Герой может освоить множество умений, но природа Пандоры такова, что нельзя выбрать любое умение — каждый раз герою предлагается на выбор лишь несколько из них.
</p>

<h3>Список способностей</h3>

<div>
  <div class="btn-toolbar">

    <div class="btn-group">
      <a class="btn {% if not is_filtering %}disabled{% endif %}"
         href="{% if is_filtering %}{{ url('guide:hero-abilities') }}{%else%}javascript: return none;{%endif%}">сбросить фильтрацию</a>
    </div>

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        тип:
        {% if ability_type == ABILITY_TYPE.BATTLE %} боевые
        {% elif ability_type == ABILITY_TYPE.NONBATTLE %} небоевые
        {% else %} все
        {% endif %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_builder(ability_type=none) }}">все</a></li>
        <li><a href="{{ url_builder(ability_type=ABILITY_TYPE.BATTLE) }}">боевые</a></li>
        <li><a href="{{ url_builder(ability_type=ABILITY_TYPE.NONBATTLE) }}">небоевые</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        метод активации:
        {% if activation_type is not none %} {{ABILITY_ACTIVATION_TYPE._ID_TO_TEXT[activation_type]}}
        {% else %} все
        {% endif %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_builder(activation_type=none) }}">все</a></li>
        <li><a href="{{ url_builder(activation_type=ABILITY_ACTIVATION_TYPE.ACTIVE) }}">{{ABILITY_ACTIVATION_TYPE._ID_TO_TEXT[ABILITY_ACTIVATION_TYPE.ACTIVE]}}</a></li>
        <li><a href="{{ url_builder(activation_type=ABILITY_ACTIVATION_TYPE.PASSIVE) }}">{{ABILITY_ACTIVATION_TYPE._ID_TO_TEXT[ABILITY_ACTIVATION_TYPE.PASSIVE]}}</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        доступность: {{ABILITY_AVAILABILITY._ID_TO_TEXT[availability]}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_builder(availability=ABILITY_AVAILABILITY.FOR_ALL) }}">{{ABILITY_AVAILABILITY._ID_TO_TEXT[ABILITY_AVAILABILITY.FOR_ALL]}}</a></li>
        <li><a href="{{ url_builder(availability=ABILITY_AVAILABILITY.FOR_PLAYERS) }}">{{ABILITY_AVAILABILITY._ID_TO_TEXT[ABILITY_AVAILABILITY.FOR_PLAYERS]}}</a></li>
        <li><a href="{{ url_builder(availability=ABILITY_AVAILABILITY.FOR_MONSTERS) }}">{{ABILITY_AVAILABILITY._ID_TO_TEXT[ABILITY_AVAILABILITY.FOR_MONSTERS]}}</a></li>
      </ul>
    </div>

  </div>

</div>


{{ macros.abilities_list(abilities, max_level=true) }}


{% endblock %}
