{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% import 'heroes/macros.html' as macros with context %}

{% block title %}Способности героев | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Способности героев", "Описание способностей героев") }}

<p>
  Путешествуя по миру Пандоры, герой постепенно растёт над собой и раз в несколько уровней получает возможность выучить новое умение, способное облегчить его жизнь в будущем. По умолчанию, все герои имеют способность «Удар» — она позволяет им сражаться с противниками. Так же, на 1-ом уровне для героя сразу можно выбрать ещё одну способность.
</p>
<p>
  Всего герой может иметь {{c.ABILITIES_BATTLE_MAXIMUM}} боевых способностей и {{c.ABILITIES_NONBATTLE_MAXUMUM}} небоевых. В свою очередь из боевых способностей можно выбрать {{c.ABILITIES_ACTIVE_MAXIMUM-1}} активных и {{c.ABILITIES_PASSIVE_MAXIMUM}} пассивных (одна активная способность, «Удар», даётся всем героям).
</p>
<p>
  Герой может освоить множество умений, но природа Пандоры такова, что нельзя выбрать любое умение — каждый раз герою предлагается на выбор лишь несколько из них.
</p>

<h3>Список способностей</h3>

<div>
  <div class="btn-toolbar">

    <div class="btn-group">
      <a class="btn {% if not is_filtering %}disabled{% endif %}"
         href="{% if is_filtering %}{{ url('guide:hero-abilities') }}{%else%}javascript: return none;{%endif%}">сбросить фильтрацию</a>
    </div>

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        тип:
        {% if ability_type is none %}все
        {% else %} {{ability_type.text}}
        {% endif %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_builder(ability_type=none) }}">все</a></li>
        {% for filter_type in ABILITY_TYPE._records %}
        <li><a href="{{ url_builder(ability_type=filter_type.value) }}">{{filter_type.text}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        метод активации:
        {% if activation_type is none %}все
        {% else %} {{activation_type.text}}
        {% endif %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_builder(activation_type=none) }}">все</a></li>
        {% for filter_type in ABILITY_ACTIVATION_TYPE._records %}
        <li><a href="{{ url_builder(activation_type=filter_type.value) }}">{{filter_type.text}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        доступность: {{availability.text}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% for filter_type in ABILITY_AVAILABILITY._records %}
        <li><a href="{{ url_builder(availability=filter_type.value) }}">{{filter_type.text}}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>

</div>


{{ macros.abilities_list(abilities, max_level=true) }}


{% endblock %}
