{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% import 'heroes/macros.html' as macros with context %}

{% block title %}Способности героев | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Способности героев", "Описание способностей героев") }}

<p>
  Путешествуя по миру Пандоры, герой постепенно растёт над собой и раз в несколько уровней получает возможность выучить новое умение, способное облегчить его жизнь в будущем. По умолчанию, все герои имеют способность «Удар» — она позволяет им сражаться с противниками. Так же, на 1-ом уровне для героя сразу можно выбрать ещё одну способность.
</p>
<p>
  Герой может освоить множество умений, но природа Пандоры такова, что нельзя выбрать любое умение — каждый раз герою предлагается на выбор лишь несколько из них.
</p>

<h3>Список способностей</h3>

{{ macros.abilities_list(abilities) }}


{% endblock %}
