{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %} Как помочь? | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Я хочу помочь развитию игры, что мне делать?", "Что делать, если Вы хотите поучаствовать в развитии игры.") }}

<p>
  Первым делом разрешите поблагодарить вас за проявленный интерес и благородное желание помочь развитию игры. Далее будут перечислены основные способы, которыми можно посодействовать развитию игры, сделать её интереснее.
</p>

<h4>Играйте</h4>

<p>
  Для Пандоры важен каждый игрок и каждый герой. Живым этот мир делают именно игроки, их действия — ваши действия. Ответственно относитесь к заданиям своего героя, помогайте ему принимать правильные решения, следите за принятием законов, голосуйте, учитывая не только свои желания, но и интересы других игроков.
</p>

<h4>Общайтесь</h4>

<p>
  Общайтесь с другими игроками. Помните, чего не может достичь один человек — достигнет сплочёная группа или гильдия. Участвуйте в обсуждении предложений других игроков, смело высказывайте своё мнение. Приглашайте в игру своих друзей. При случае рассказывайте всем о том, что есть такой замечательный мир как Пандора :-)
</p>

<h4>Сочиняйте</h4>

<p>
  Сказка — это не только карта, герои, политика и ещё несколько мелочей — это целый мир со своей, пока небольшой, историей. И Вы имеете уникальный шанс навсегда оставить свой след в этом мире. Для этого у нас есть целый раздел — <a href="{{url('blogs:posts:')}}">Фольклор</a>. Ваш герой «желает» вести художественные записки о путешествиях? Быть может, в вас пропадает политический обозреватель? Репортёр светской хроники? Великий писатель или поэт? — не бойтесь поделиться своим взглядом на Сказку!
</p>

<p>
  Если Вы не сильны в «большой» прозе — не беда, Вы можете придумывать новые фразы для журнала и дневника героя в разделе <a href="{{url('blogs:posts:')}}">лигнвистики</a>.
</p>

<h4>Фантазируйте</h4>

<p>
  Вам кажется, что в игре чего-то не хватает или что-то можно сделать интереснее? Напишите об этом на <a href="{{url('forum:')}}">форуме</a> — обсудите с другими игроками. Разработчики же всегда следят за обсуждениями и самые интересные предложения обязательно будут реализованы.
</p>

<h4>Находите ошибки</h4>

<p>
  Не бывает ничего идеального, и в нашей игре тоже встречаются ошибки. Обычно это опечатки и небольшие недоработки интрефейса. Если Вы обнаружили ошибку — сообщите о ней в соответствующем <a href="{{portal_settings.ERRORS_URL}}">разделе</a> форума. За обнаруженые ошибки, кроме «спасибо», полагается и увеличение <a href="{{url('guide:might')}}">могущества</a>.
</p>

<h4>Программируйте</h4>

<p>
  Часть кода игры выделяется в отдельные проекты, которые могут быть свободно использованы другими разработчиками (их код распространяется под <a href="http://ru.wikipedia.org/wiki/%D0%9B%D0%B8%D1%86%D0%B5%D0%BD%D0%B7%D0%B8%D1%8F_BSD">BSD</a> лицензией). Все проекты расположены на github, основной язык программирования — Python.
</p>

<p>
  Перечень проектов и возможные задачи по ним:
</p>

<ul>
  <li>
    <a href="https://github.com/Tiendil/pynames">Pyname</a> — генератор имён. Используется для создания имён персонажей и героев. Имеет законченный вид, но ещё есть пространство для развития. Возможные улучшения:
    <ul>
      <li>генерация всех имён на кириллице</li>
      <li>генерация сразу всех форм имени (по падежам и числу)</li>
      <li>добавление новых генераторов</li>
    </ul>
  </li>

  <li>
    <a href="https://github.com/Tiendil/deworld">Deworld</a> — генератор мира. Библиотека отвечает за изменение карты (ландшафта, растительности, погодных эффектов и всего остального). Возможные направления развития:
    <ul>
      <li>реализация графического интерфейса для удобного тестирования работы и всяческих экспериментов</li>
      <li>реализация новых алгоритмов или дополнительных параметров мира</li>
    </ul>
  </li>

  <li>
    <a href="https://github.com/Tiendil/textgen">Textgen</a> — генератор текстов. С помощь этой библиотеки создаются все тексты в журнале и дневнике героя. Возможные направления развтия:
    <ul>
      <li>исправление известных проблем с генерацией текстов (например, реализация согласования предлогов)</li>
      <li>реализация графического интерфейса дл редактирования фраз</li>
    </ul>
  </li>

</ul>

{% endblock %}
