{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Хранители | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Информация о том, какую роль в игре играют игроки (Хранители) и как они могут влиять на мир Пандоры.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Хранители", "Об игроках (хранителях)") }}

<p>
  Игроки в нашей игре являются духами-хранителями героев, следят за ними и помогают. Каждый игрок имеет запас энергии, которую может тратить на помощь герою и другие действия. Кроме того, игроки обладают могуществом; большое могущество отражает важную роль игрока в «Сказке».
</p>

<h4>Энергия</h4>

<p>
  Каждый игрок обладает восполнимым запасом энергии, которая тратится на помощь герою и другие действия (например, на ремонт зданий). Энергия восстанавливается героем, когда тот вспоминает о своём Хранителе и начинает ему молиться (или по-другому выражать своё почтение).
</p>

<p>
  Также, Вы можете запасать энергию. Количество запасённой (бонусной) энергии отображается рядом с полоской энергии на странице игры.
</p>

<p>
  Запасти энергию можно двумя способами:
</p>

<ul>
  <li>помогая герою, Вы имеете шанс получить несколько единиц бонусной энергии;</li>
  <li>
    некоторые <a href="{{url('guide:cards:')}}">карты судьбы</a> дают бонусную энергию при использовании;<br/>
    их можно получить за помощь герою или купить на <a href="{{url('market:')}}">рынке</a>;
  </li>
  <li>некоторые артефакты влияют на получение бонусной энергии;</li>
  <li>некоторые спутники влияют на получение бонусной энергии.</li>
</ul>


<h4>Могущество</h4>

<p>
  Это характеристика игрока, отражающая степень его участия в жизни Пандоры. Могущество не является декоративной характеристикой — оно влияет на использование способностей игрока (чем могущественнее  игрок, тем больше вероятность получить критический эффект при использовании помощи) и эффективность героя в <a href="{{url('guide:pvp')}}">PvP</a> сражениях.
</p>

<p>
  Для увеличения своего могущества, игрок может:
  <ul>
    <li>общаться на <a href="{{url('forum:')}}">форуме</a>;</li>
    <li>участвовать <a href="{{url('game:bills:')}}">в политической жизни</a> Пандоры;</li>
    <li>участвовать в конкурсах;</li>
    <li>создавать <a href="{{url('blogs:posts:')}}">фольклорные произведения</a>;</li>
    <li>создавать <a href="{{url('linguistics:')}}">новые фразы</a>;</li>
    <li>помогать разработчикам (например, находить ошибки в игре или предлагать оригинальные идеи).</li>
  </ul>
</p>

<p>
  Таким образом, большое могущество всегда указывает на важную роль игрока в «Сказке».
</p>

<p>
  Могущество всех игроков пересчитывается один раз в сутки.
</p>

{% endblock %}
