{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Карта | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание мира и карты Пандоры.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Карта", "Что из себе представляют карта мира.") }}

<p>
  Мир Пандоры находится в постоянном движении, ничто не стоит на своём месте: растут и угасают города, леса сменяются пустынями, герои сражаются с монстрами. Все события, происходящие в мире, взаимосвязаны. Карта Пандоры лучше всего отображает эти изменения.
</p>

<p>
  Наиболее интересными объектами на карте, конечно, являются <a href="{{url('guide:cities')}}">города</a> и соединяющие их дороги. Пандора всё время очень активно изменяется, поэтому герои предпочитают путешествовать только по дорогам и сходят с них только в крайнем случае (и не стоит их упрекать в лени — никто не хочет, путешествуя по полю, оказаться на вершине растущей горы).
</p>

<p>
  Основной движущей силой (кроме героев, конечно) изменения карты являются жители Пандоры. Каждая раса имеет свои предпочтения в обустройстве окружающей территории (равно как и пагубные привычки, сказывающиеся на ней же). Так как весь мир пронизывает сильнейшая магия, то каждый житель Пандоры заметно влияет на окружающий мир. Вот несколько примеров того, как разные расы влияют на мир Сказки (это далеко не исчерпывающий список!):
</p>

<ul>
  <li>Дварфы поднимают горы вокруг своих жилищ, чтобы легче добывать полезные ископаемые, а их кузницы немного увеличивают температуру воздуха.</li>
  <li>Орки небрежно относятся к растительному миру, поэтому со временем их земли превращаются в пустыню (что, к слову, радует их суровый характер). Любовь к большим кострам быстро приводит к исчезновению лесов и значительно повышают температуру воздуха.</li>
  <li>Люди — самый неприхотливый народ, но и они занимаются вырубкой лесов под поля, с этой же целью они выравнивают свои земли.</li>
  <li>Алхимические лаборатории гоблинов распространяют вокруг себя сильнейшую влажность, а сами гоблины опускают землю, т.к. любят жить в низинах.</li>
  <li>Эльфы, как известно, животному миру предпочитают растительность, поэтому вокруг их жилищ очень быстро разрастаются леса.</li>
</ul>

{% endblock %}
