{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Могущество | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Могущество игрока", "Откуда берётся могущество игрока") }}

<p>
  <strong>Могущество</strong> — это характеристика игрока, отражающая степень его участия в жизни Пандоры. Могущество не является декоративной характеристикой — оно влияет на использование способностей игрока (чем могущественнее  игрок, тем больше вероятность получить критический эффект при использовании помощи) и эффективность героя в <a href="{{url('guide:pvp')}}">PvP</a> сражениях.
</p>

<p>
  Для увеличения своего могущества, игрок может:
  <ul>
    <li>общаться на форуме</li>
    <li>участвовать в политической жизни Пандоры</li>
    <li>участвовать в конкурсах</li>
    <li>помогать разработчикам (например, находить ошибки в игре или предлагать оригинальные идеи)</li>
  </ul>
</p>

<p>
  Таким образом, большое могущество всегда указывает на важную роль игрока в «Сказке».
</p>

{% endblock %}
