{% extends "guide/base.html" %}

{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Ответы на частные вопросы по платежам | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Частые вопросы по платежам", "Ответы на частные вопросы по платежам") }}

<dl>
  <dt>Почему Вы хотите деньги за свою игру? Она не готова/в ней ничего нет/есть лучшие игры…</dt>
  <dd>
    <p>На разработку и поддержку любой игры нужны деньги.</p>
    <p>Во время начала разработки Сказки, перед нами встал выбор: собирать деньги под честное слово, искать инвестора или всё-таки сначала сделать игру и предложить игрокам развивать её вместе.</p>
    <p>Так как игра необычная, то собрать деньги или найти инвестора у нас вряд ли получилось бы, поэтому мы пошли по третьему пути.</p>
    <p>На текущий момент мы считаем, что у нас есть отличная игра с огромным потенциалом развития :-) И мы предлагаем вам помочь нам раскрыть его и сделать её ещё увлекательнее.</p>
  </dd>

  <dt>Почему Вы продаёте подписку? Сейчас это не модно/так никто не делает.</dt>
  <dd>
    <p>По совокупности причин:</p>
    <ul>
      <li>Это самый простой способ бороться с ботоводством. Мы хотим тратить своё время на реализацию новых механик игры, а не на попытки сохранить хрупкий баланс Сказки и отслеживание нарушителей.</li>
      <li>Балансировка Free 2 Play игр и разработка механик для них имеет свои особенности, которые не всегда хорошо сказываются на качестве игр. Мы хотим делать игру, а не придумывать 101 способ получить за неё деньги.</li>
    </ul>
  </dd>

  <dt>Подписка очень дорогая!</dt>
  <dd><p>Она равна по стоимости нескольким чашкам хорошего кофе или вкусному тортику.</p></dd>

  <dt>Стоимость игровой валюты выражается в беларуских рублях? Серьёзно?</dt>
  <dd><p>Разработчики зарегистрированы в Беларуси и на текущий момент в нашей стране это наиболее простой способ осуществлять приём платежей без лишней юридической и бухгалтерской мороки. Когда-нибудь мы перейдём к более привычным эквивалентам.</p></dd>

  <dt>В игре будет только подписка?</dt>
  <dd><p>В игре будут микроплатежи, позволяющие сделать её немного приятнее.</p></dd>

  <dt>Я смогу заплатить 100500 денег и всех победить?</dt>
  <dd><p>Нет, Вы этого сделать не сможете. Но Вы можете поддержать игру этими деньгами и сделать хорошее всем сказочникам и сказочницам.</p></dd>

  <dt>Можно помочь игре деньгами, не тратя печеньки?</dt>
  <dd><p>Вы помогаете нам уже покупая их. Потратить печеньки Вы можете когда вам будет удобно и на что вам будет удобно (а можете вообще не тратить).</p></dd>

  <dt>Почему печеньки?</dt>
  <dd><p>Потому, что мы на тёмной стороне ;-)</p></dd>

</dl>



{% endblock %}
