{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Городской Совет | {{ super() }}{% endblock %}
{% block description %}О функциях Городских Советов в Пандоре и влиянии игроков на них.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Городской Совет", "Кто входит в городской Совет и чем эта организация занимается.") }}

<p>
  В городах обитает огромное количество людей, эльфов, дварфов, гоблинов, орков и представителей пока ещё не изученных рас. Но среди всего этого многообразия всегда выделяется несколько самых уважаемых (и от того, влиятельных) жителей, они и определяют облик города, влияют на все его параметры. Это могут быть талантливые ремесленники, умелые торговцы или просто хорошие люди. В малых городах их меньше, в больших — больше, но есть они в каждом городе. Эти горожане и представляют собой Совет каждого из городов.
</p>

<p>
  Участники советов являются основным источником заданий для героев. Выполняя задание, приключенец изменяет влияние советников, которые в нём участвуют. Советники, которым герой помогает, становятся немного влиятельнее; советники, которым он мешает, теряют влияние. От суммарного влияния участников совета каждой расы, зависит то, какой расе принадлежит город. Это, в свою очередь, влияет на территорию вокруг него.
</p>

<p>
  Влияние членов совета зависит от действий героев за определённый промежуток времени (примерное количество недель: {{persons_settings.POWER_HISTORY_WEEKS}}). Влияние, полученное ранее, постепенно уменьшается и пропадает по прошествии указанного ранее периода. Поэтому советники нуждаются в постоянной поддержке и внимании.
</p>

<p>
  При росте города, советники постепенно появляются в нём самостоятельно. Игроки могут исключить жителя города из совета, приняв специальный закон (см. раздел <a href="{{url('guide:politics')}}">Политика</a>). Советники, занимающие пост больше {{persons_settings.POWER_STABILITY_WEEKS}} недель оставляют свои места, если их влияние меньше {{persons_settings.POWER_STABILITY_PERCENT|percents}}. Советники, недавно вступившие в должность (меньше {{persons_settings.POWER_STABILITY_WEEKS}} недель) могут покинуть совет только при принятии игроками соответствующего закона. Также, с помощью выбора <a href="{{url('guide:hero-preferences')}}">предпочтений героя</a> можно указать приключенцу, какой город ему следует посещать чаще, какому советнику помогать, а какому — ставить палки в колёса.
</p>

<p>Каждый участник совета имеет профессию и владеет ей с определённым мастерством, которое зависит от его расы и наличия постройки в собственности. Уровень мастерства не растёт со временем (советников избирают из уже состоявшихся жителей города).</p>

<p>
  <strong>Перечень профессий:</strong>
  {%- for person_type in PERSON_TYPES -%}
  {%- if not loop.first -%},{%- endif %}
  {{person_type.text}}
  {%- endfor -%}
</p>

<p><strong>Шкала мастерства:</strong> {{ ', '.join(MASTERY_LEVELS) }}.</p>

<h4>Строения</h4>

<p>
  Каждый советник может иметь в своей собственности строение (мастерскую, дом или ещё что-нибудь) в окрестностях города. Подобная собственность увеличивает мастерство владельца и влияние, получаемое им.
</p>
<p>
  Постройка здания осуществляется с помощью принятия соответствующего закона.
</p>
<p>
  Здание может быть разрушено либо по инициативе игроков (можно принять закон о разрушении здания) либо от старости. Каждое здание со временем ветшает и когда его целостность упадёт до 0, оно разрушится. Ветхие здания работают хуже и меньше помогают своим владельцам. Чтобы предотвратить разрушение, здание необходимо чинить, для чего игроки могут из диалога информации о здании (открывается щелчком по зданию на карте) вызывать специальных ремонтных духов. Следует помнить, что чем больше в городе строений, тем быстрее они изнашиваются (т.к. жителям становится труднее поддерживать большое число зданий) и тем больше внимания игроков необходимо для поддержания здания в порядке.
</p>

<h4>типы строений</h4>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>профессия</th>
      <th>строение</th>
    </tr>
  </thead>
  <tbody>
    {% for person_type in PERSON_TYPES %}
    <tr>
      <td>{{person_type.text}}</td>
      <td>{{person_type.building_type.text}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
