{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Мастера | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}О Мастерах и влиянии игроков на них.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Мастера", "Кто они такие и какую пользу приносят.") }}

<p>
  В городах обитает огромное количество людей, эльфов, дварфов, гоблинов, орков и представителей пока ещё не изученных рас. Но среди всего этого многообразия всегда выделяется несколько самых талантливых (и, от того, уважаемых и влиятельных) жителей, они и определяют облик города, влияют на все его параметры. Это могут быть талантливые ремесленники, умелые торговцы или просто хорошие люди. В малых городах их меньше, в больших — больше, но есть они в каждом городе. Традиционно, этих горожан называют Мастерами.
</p>

<p>
  Мастера — это благословлённые Хранителями лучшие представители смертных жителей Пандоры. Благословление заключается в отменном здоровье и «вечной молодости» (вечные 25 лет, вечные 50 лет, вечные 100 лет, в зависимости от возраста на момент инициации). Подобно героям, они обладают особыми чертами: выдающимся мастерством в своей профессии, стремлением к изменению мира, жаждой власти. Однако, в отличии от героев, они не бессмертны — их Хранители недостаточно сильны. Поэтому  Мастера редко путешествуют и полагаются в своих делах на героев.
</p>

<p>
  Управление городами стоит на Мастерах, потому что они лучшие. Простой смертный тоже имеет право участвовать в управлении городом, но часто такие прецеденты в итоге сводились к тому, что новый управленец оказывался нераспознанным Мастером.
</p>

<p>
  Мастера являются основным источником заданий для героев. Выполняя задание, приключенец изменяет влияние Мастеров, которые в нём участвуют. Мастера, которым герой помогает, становятся немного влиятельнее; Мастера, которым он мешает, теряют влияние. От суммарного влияния Мастеров каждой расы зависит раса города. Это, в свою очередь, влияет на территорию вокруг него.
</p>

<p>
  Влияние Мастеров зависит от действий героев за определённый промежуток времени ({{c.PLACE_POWER_HISTORY_WEEKS}} недель). Влияние, полученное ранее, постепенно уменьшается и пропадает по прошествии указанного периода. Поэтому Мастера нуждаются в постоянной поддержке и внимании.
</p>

<p>
  <strong>Узнать точные параметры влияния, которое оказывает герой, можно на его странице.</strong>
</p>

<p>
  С помощью выбора <a href="{{url('guide:hero-preferences')}}">предпочтений героя</a> можно указать приключенцу, какой город ему следует посещать чаще, какому Мастеру помогать, а какому — ставить палки в колёса.</li>
</p>

<p>
  Посмотреть подробную информацию о каждом Мастере можно на его странице.
</p>

<h4>Профессии</h4>

<p>Каждый Мастер имеет профессию и владеет ей в совершенстве (от того и зовётся Мастером). Влияние Мастера на город в первую очередь зависит от его профессии.</p>

<p>
  <strong>Перечень профессий:</strong>
  {%- for person_type in PERSON_TYPES -%}
  {%- if not loop.first -%},{%- endif %}
  {{person_type.text}}
  {%- endfor -%}
</p>

<h4>Влияние Мастеров</h4>

<p>
  Ближний круг Мастера — это герои, противники или соратники, которые принесли ему больше всего влияния за длительный промежуток времени ({{c.PLACE_POWER_HISTORY_WEEKS}} недель). В ближний круг входит по {{INNER_CIRCLE_SIZE}} героя, принёсших больше всего положительного или отрицательного влияния.
</p>

<p>
  Влияние Мастера в городе (а значит и влияние Мастера на город) наполовину зависит от героев ближнего круга и наполовину — от действий всех остальных.
</p>

<h4>Проекты</h4>

<p>
  Каждый Мастер всегда занят одним большим проектом. Проект может быть направлен на развитие города либо на помощь героям ближнего круга.
</p>

<p>
  Выполнение проекта зависит от влияния, принесённого героями ближнего круга. Проект считается выполненным, если Мастер получит необходимое количество положительного влияния от ближнего круга. Проваленным — если отрицательного. В зависимости от этого, результат проекта по-разному сказывается на городе и героях ближнего круга.
</p>

<p>
  Возможные эффекты проектов:
</p>

<ul>
  {% for effect in JOBS_EFFECTS.records %}
    <li>{{effect.description}}</li>
  {% endfor %}
</ul>

<h4>Характер</h4>

<p>
  Каждый Мастер обладает двумя особенностями характера:
</p>

<ul>
  <li>практической — особенность влияет на экономику городов или силу героев, связанных с Мастером</li>
  <li>косметической — особенность влияет на параметры, не связанные с получением преимущества в игре</li>
</ul>

<h4>Практические особенности</h4>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>особенность</th>
      <th>описание</th>
    </tr>
  </thead>
  <tbody>
    {% for personality in PERSONALITY_PRACTICAL %}
    <tr>
      <td>{{personality.text}}</td>
      <td>{{personality.description}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<h4>Косметические особенности</h4>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>особенность</th>
      <th>описание</th>
    </tr>
  </thead>
  <tbody>
    {% for personality in PERSONALITY_COSMETIC %}
    <tr>
      <td>{{personality.text}}</td>
      <td>{{personality.description}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<h4>Строения</h4>

<p>
  Каждый Мастер может иметь в своей собственности строение (мастерскую, дом или ещё что-нибудь) в окрестностях города. Подобная увеличивает получаемое им влияние (в том числе и отрицательное).
</p>

<p>
  Постройка здания осуществляется с помощью принятия соответствующего <a href="{{url('guide:politics')}}">закона</a>.
</p>

<p>
  Каждое здание со временем ветшает. Ветхие здания работают хуже и меньше помогают своим владельцам. Чтобы предотвратить разрушение, здание необходимо чинить. Для этого игроки могут из диалога информации о здании (открывается щелчком по зданию на карте) вызывать специальных ремонтных духов. Следует помнить, что чем больше в городе строений, тем быстрее они изнашиваются (т.к. жителям становится труднее поддерживать большое число зданий) и тем больше внимания игроков необходимо для поддержания здания в порядке.
</p>

<p>
  Здание может быть разрушено по инициативе игроков — для этого надо принять соответствующий закон.
</p>

<h4>Типы строений</h4>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>профессия</th>
      <th>строение</th>
    </tr>
  </thead>
  <tbody>
    {% for person_type in PERSON_TYPES %}
    <tr>
      <td>{{person_type.text}}</td>
      <td>{{person_type.building_type.text}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<h4>Социальные связи</h4>

<p class="alert alert-info">Временно отключено.</p>

<p>
  Все Мастера, в виду своей деятельности, обзаводятся полезными связями с коллегами из других городов. У каждого Мастера есть минимум {{persons_settings.SOCIAL_CONNECTIONS_MINIMUM}} партнёра и/или конкурента в других городах.
</p>

<p>
  Мастера значительно чаще дают задания, связанные со своими связями, причём партнёрам стараются помогать, а конкурентам — мешать.
</p>

<p>
  Если герой выполняет задание Мастера, связанное с его партнёром так, что одновременно оба остаются либо в выигрыше, либо в проигрыше, то изменение влияния увеличивается.
</p>

<p>
  Если герой выполняет задание Мастера, связанное с его конкурентом так, что один из них остаётся в выигрыше, а второй в проигрыше, то изменение влияния увеличивается.
</p>

<p>
  Узнать о связях Мастера можно на странице Мастера.
</p>

{% endblock %}
