{% extends "guide/base.html" %}

{% import 'guide/macros.html' as guide_macros with context %}
{% import 'heroes/macros.html' as macros with context %}

{% block title %}Политика | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Политика", "Описание политичиеских механизмов Пандоры") }}

<p>
  Механизм политики позволяет игрокам оказывать прямое влияние на мир игры путём прямого демократического голосования — всё как в лучших сказочных странах.
</p>

<p>
  Каждый игрок может создать законопроект, который вступит в силу, если по истечении заданного промежутка времени наберёт поддержку других игроков. Законопроекты позволяют менять ту часть мира, на которую не имеют прямого влияния герои: переименовывать города, изменять их население. Для закона создаётся отдельная тема на форуме, в которой можно вести обсуждения. Во время голосования автор закона может его отредактировать (например, по итогам обсуждения), в этом случае будут сброшены все голоса.
</p>

<p>
  Игрок может голосовать «за», «против» или «воздержаться» (голоса «воздержавшихся» игроков не участвуют в подведении результатов).
</p>

<h4>Правила</h4>

<ul>
  <li>каждый игрок может выдвинуть законопроект, для обсуждения законопроекта создаётся отдельная тема на форуме;</li>
  <li>игрок может иметь только один активный законопроект, пока по его предложению идёт голосование, игрок не может предложить ещё один закон;</li>
  <li>агитационные компании игроки, по желанию, могут проводить самостоятельно, пользуясь доступными средствами;</li>
  <li>игроки могут голосовать «за», «против» либо «воздержаться». Изменить своё решение нельзя — делайте выбор аккуратно;</li>
  <li>в подведении итогов учитываются только голоса отданные «за» или «против»;</li>
  <li>до окончания голосования точное количество голосов отданных «за» или «против» скрыто;</li>
  <li>голос создателя закона автоматически отдаётся «за» закон;</li>
  <li>на голосование отводится строго определённое количество дней: {{(bills_settings.BILL_LIVE_TIME/24/60/60)|int}};</li>
  <li>если во время голосования автор закона его отредактирует, будут сброшены все результаты голосования и сроки;</li>
  <li>для принятия законопроекта, количество голосов «за» должно быть больше {{bills_settings.MIN_VOTES_PERCENT|percents}};</li>
  <li>каждый законопроект должен пройти проверку модератора, главное требование — соблюдение общепринятых культурных норм: запрещаются любого рода оскорбления, нарушения законодательства и аналогичные нарушения;</li>
  <li>по истечении времени голосования закон будет либо отклонён, либо применён (сразу или в ближайшее возможное время).</li>
</ul>

<h4>Ограничение голосования</h4>

<p>
  Выдвинуть закон может любой игрок завершивший регистрацию, но голосовать могут только <a href="{{url('guide:account-types')}}">подписчики</a>. Оформить подписку можно в <a href="{{url('accounts:payments:shop')}}">магазине</a>.
</p>

<p>
  По некоторым типам законов могут голосовать не все игроки.
</p>

<p>
  Если закон как-либо связан с городами, то голосовать по нему могут только игроки, активно помогающие хотя бы одному городу, связанному с этим законом. Узнать, каким городам помогает игрок, можно на его странице. Помощью считается выполнение задания в пользу жителя города. За помощь каждому горожанину начисляется 1 очко помощи. Игрок может голосовать за первые {{bills_settings.PLACES__TO_ACCESS_VOTING}} городов из списка, отсортированного по величине помощи, и за города, имеющие такое же число помощи, как у {{bills_settings.PLACES__TO_ACCESS_VOTING}}-ого города.
</p>

<p>
  Информация о помощи не хранится вечно, учитываются только последние {{heroes_settings.PLACE_HELP_HISTORY_SIZE}} случаев оказания помощи.
</p>

<p>
  Ограничение работает только на голосование. Выдвинуть закон может любой игрок, независимо от того, помогал он городу или нет. При этом, голос создателя закона автоматически отдаётся «за» закон.
</p>

<h4>Типы законопроектов</h4>

<dl>
  {% for bill_id, bill in BILLS_BY_ID.items() %}
  <div class="dl-record">
    <dt>{{bill.CAPTION}}</dt>
    <dd>
      <p>{{bill.DESCRIPTION|safe}}</p>
    </dd>
  </div>
  {% endfor %}
</dl>


{% endblock %}
