{% extends "guide/base.html" %}

{% import 'guide/macros.html' as guide_macros with context %}
{% import 'heroes/macros.html' as macros with context %}

{% block title %}Политика | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Политика", "Описание политичиеских механизмов Пандоры") }}

<p>
  Механизм политики позволяет игрокам оказывать прямое влияние на мир игры путём прямого демократического голосования - всё как в лучших сказочных странах.
</p>

<p>
  Каждый игрок может создать законопроект, который вступит в силу, если по истечении заданного промежутка времени наберёт поддержку других игроков. Законопроекты позволяют менять ту часть мира, на которую не имеют прямого влияния герои: переименовывать города, изменять их население. Для закона создаётся отдельная тема на форуме, в которой можно вести обсуждения. Во время голосования автор закона может его отредактировать (например, по итогам обсуждения), в этом случае будут сброшены все голоса (как отданные «за» так и «против»)
</p>

<p>
  Политика подчиняются следующим правилам:
</p>

<ul>
  <li>Каждый игрок может выдвинуть законопроект, для обсуждения законопроекта создаётся отдельная тема на форуме.</li>
  <li>Агитационные компании игроки, по желанию, могут проводить самостоятельно, пользуясь доступными средствами.</li>
  <li>Игроки могут голосовать «за» или «против». Изменить своё решение нельзя - делайте выбор аккуратно.</li>
  <li>На голосование отводится строго определённое количество дней: {{(bills_settings.BILL_LIVE_TIME/24/60/60)|int}}.</li>
  <li>Если во время голосования автор закона его отредактирует, будут сброшены все результаты голосования и сроки.</li>
  <li>Для принятия законопроекта, за время голосования надо преодолеть два барьера: количественный и процентный.</li>
  <li>Количественный барьер - законопроект должен набрать минимально допустимое количество голосов «за».</li>
  <li>Процентный барьер - количество голосов «за» должно быть больше минимально допустимого процента (от всех голосов).</li>
  <li>Каждый законопроект должен пройти проверку модератора, главное требование - соблюдение общепринятых культурных норм - запрещаются любого рода оскорбления, нарушения законодательства и аналогичные нарушения.</li>
  <li>По истечении времени голосования закон будет либо отклонён либо применён (сразу или в ближайшее возможное время).</li>
</ul>

<h4>Типы законопроектов</h4>

<dl>
  {% for bill_id, bill in BILLS_BY_ID.items() %}
  <div class="dl-record">
    <dt>{{bill.CAPTION}}</dt>
    <dd>
      <p>{{bill.DESCRIPTION}}</p>
    </dd>
  </div>
  {% endfor %}
</dl>


{% endblock %}
