{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'portal/macros.html' as portal_macros with context %}

{% block title %}Для прессы | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Краткое описание сказки для прессы.{% endblock %}

{% block head %}
{{ super() }}
{{portal_macros.fancybox_comix_head(".pgf-open-galery")}}
{% endblock %}


{% block guide_content %}

{{ guide_macros.page_caption("Пресс-кит", "Краткое описание сказки для прессы.") }}

<p>
  Добрый день.
</p>

<p>
  На этой странице находятся материалы, позволяющие быстро ознакомиться с игрой и её главными особенностями.
</p>

<h4>Описание</h4>

<p>Сказка — это браузерная многопользовательская <a href="http://ru.wikipedia.org/wiki/Zero_Player_Game" target="_blank">Zero Player Game</a>, за авторством независимой команды разработчиков. Игру можно назвать действующей моделью сказочного мира.</p>

<p>Игрок выполняет роль «ангела-хранителя», присматривающего за классическим фэнтези героем, который путешествует по миру и выполняет поручения NPC. Игрок не может управлять героем напрямую, но может выбирать его способности, изменять характер и делать выбор в нелинейных заданиях.</p>

<p>
  От результатов выполнения заданий зависит «влияние» NPC, участвующих в них. Те, в свою очередь, определяют параметры городов, в которых проживают, а города изменяют окружающую их территорию. Таким образом, игроки управляют всеми аспектами игры и могут обустраивать мир под себя. Сказка — это своего рода мета-песочница, изменения в которой зависят от действий всех игроков. Например, игроки могут помочь оркам захватить власть в городе и тем самым распространить вокруг него пустыню.
</p>

<p>
  Кроме косвенного влияния на мир игры, игроки могут оказывать и прямое влияние с помощью механизма политики. Каждый игрок может выдвинуть закон, изменяющий какую-то часть мира. Если большинство проголосует «за», то изменения вступят в силу. Например, можно переименовывать города.
</p>

<h4>Главные особенности</h4>

<ul>
  <li>
    в игре можно выделить два уровня геймплея:
    <ul>
      <li>«тамагочи» — игроки «растят» своего героя, помогая ему в приключениях;</li>
      <li>«стратегия-песочница» — игроки координируют свои усилия для получения необходимого влияния на мир;</li>
    </ul>
  </li>
  <li>игра не требует много времени и не даёт преимущества игрокам, просиживающим за ней часы;</li>
  <li>герои обладают характером, некоторые свойства которого игрок может настраивать, в то время как другие зависят от действий героя и игрока;</li>
  <li>мир игры постоянно изменяется в зависимости от действий игроков;</li>
  <li>система политики позволяет изменять мир с помощью принятия различных законов;</li>
  <li>авторская вселенная, все <a href="{{url('guide:artifacts:')}}" target="_blank">артефакты</a> и <a href="{{url('guide:mobs:')}}" target="_blank">монстры</a> имеют качественное художественное описание, которое обязательно стоит посмотреть;</li>
</ul>

<h4>Интересные факты</h4>

<ul>
  <li>жанр игры — <a href="http://ru.wikipedia.org/wiki/Zero_Player_Game" target="_blank">Zero Player Game</a> — очень редкий, и развивается в последнее время только в русскоязычных странах;</li>
  <li>при изменении карты учитывается множество параметров, включая качество почвы, температуру, направление ветра и так далее;</li>
  <li>игра была доступна практически с ранней альфы (запущена 29 июня 2012);</li>
  <li>для литературного творчества игроков выделен специальный раздел <a href="{{url('blogs:posts:')}}" target="_blank">«фольклор»</a>, так же игроки могут предлагать собственные фразы для дневника и журнала героя;</li>
  <li>основной разработчик — выходец из Wargaming (уволился, чтобы делать этот проект);</li>
  <li>игра делается полностью на свои средства;</li>
  <li>
    команда разработчиков состоит из 3-ёх человек:
    <ul>
      <li>геймдизайн и художественные тексты — Александр и Елена Дедковы (аккаунт в игре — <a href="{{url('accounts:show', 1022)}}" target="_blank">DedkovAG</a>);</li>
      <li>всё — Елецкий Алексей (аккаунт в игре — <a href="{{url('accounts:show', 1)}}" target="_blank">Tiendil</a>);</li>
    </ul>
  </li>
</ul>

<h4>Тексты</h4>

<p>
  Все <a href="{{url('guide:artifacts:')}}" target="_blank">артефакты</a> и <a href="{{url('guide:mobs:')}} target="_blank"">монстры</a> имеют интересное качественное описание, <strong>обязательно посмотрите — вам понравится</strong>. Вот, для пример, описание случайного монстра.
</p>

<h5><a href="{{url('guide:mobs:show', mob.id)}}" target="_blank">{{mob.name|up_first}}</a></h5>

{{mob.description_html|safe}}

<br/><br/>

<h4>Скриншоты</h4>

<br/>

<h5>Снимок карты мира от 13.05.2014 (1729x1472)</h5>

<a href="{{STATIC_CONTENT}}images/press_kit/full_map.png" target="_blank">
 <img src="{{STATIC_CONTENT}}images/press_kit/full_map.png" alt="снимок всей карты мира от 13.05.2014" width="250px" heigth="250px"/>
</a>

<br/><br/>

<h5>Снимок страницы игры (1200x800)</h5>

<a href="{{STATIC_CONTENT}}images/press_kit/screenshot_1.png" target="_blank">
 <img src="{{STATIC_CONTENT}}images/press_kit/screenshot_1.png" alt="Снимок страницы игры №1" width="250px" heigth="250px"/>
</a>

<br/><br/>

<h5>Снимок страницы игры (1200x800)</h5>

<a href="{{STATIC_CONTENT}}images/press_kit/screenshot_2.png" target="_blank">
 <img src="{{STATIC_CONTENT}}images/press_kit/screenshot_2.png" alt="Снимок страницы игры №2" width="250px" heigth="250px"/>
</a>

<h5>Комикс по предыстории игры</h5>
<a href="#" class="pgf-open-galery"><img style="border-radius: 10px; width: 50%; height: 50%;" src="{{STATIC_CONTENT}}images/intro_comix/00.gif"></a>

<br/><br/>

<h4>Контакты</h4>

<p>
  Контактное лицо — Елецкий Алексей (аккаунт в игре — <a href="{{url('accounts:show', 1)}}" target="_blank">Tiendil</a>).
</p>

<ul>
  <li>Email: <a href="mailto:a.eletsky@gmail.com" target="_blank">a.eletsky@gmail.com</a></li>
  <li>Skype: Tiendil</li>
  <li>Google+: <a href="https://plus.google.com/u/0/117482694491837879763/posts" target="_blank">профиль</a></li>
  <li>Facebook: <a href="https://www.facebook.com/tiendil" target="_blank">профиль</a></li>
  <li>Персональный сайт: <a href="http://tiendil.org" target="_blank">tiendil.org</a></li>
</ul>

<h4>Публикации, связанные с игрой</h4>

<ul>
  <li>Хабрахабр — <a href="http://habrahabr.ru/post/214847/" target="_blank">описание игры</a>;</li>
  <li>Хабрахабр — <a href="http://habrahabr.ru/post/201680/" target="_blank">о генерации квестов</a>;</li>
</ul>
{% endblock %}
