{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}PvP | {{ super() }}{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("PvP", "О сражениях между игроками.") }}

<p>
  Для того, чтобы герои могли решать свои разногласия «цивилизованным» способом (а заодно снимать стресс, накопившийся во время приключений), ангелы-хранители создали Арену, на которую в любой момент можно отправить своего героя. Все сражения проходят в виде дуэли.
</p>

<h4>Создание боёв</h4>

<p>
  Отправить героя на арену можно со <a href="{{url('game:')}}">страницы игры</a>. При этом будет зарегистрирована заявка на проведение боя и начнётся поиск партнёров. Поиск начинается с равных противников и постепенно увеличивает допустимую разницу в уровнях, пока не найдёт противника или не истечёт время ожидания.
</p>

<p>
  Если не терпится отправить героя в бой, то можно попытать счастье на странице со <a href="{{url('game:pvp:calls')}}">списком вызовов на арену</a>, где сразу можно принять любой вызов равного или более сильного героя. Но следует помнить, что созданный таким образом бой не учитывается в рейтингах и статистике.
</p>

<p>
  При отправке героя на арену, его здоровье полностью восстанавливается; по завершении боя, герой возвращается к своим занятиям, его здоровье восстанавливается до уровня, который был во время отправки на арену.
</p>

<h4>Ход боя</h4>

<p>
  Столкнувшись со сложным противником, приключенцы вспоминают, что оказывается сражаться можно не просто пытаясь изрубить супостата в капусту, но и применяя различные боевые стили. Правда дальше вспоминания дело не идёт и для успешного сражения, необходима помощь игрока.
</p>

<p>
  Во время боя герой каждый ход накапливает <span class="label label-important">ярость</span>, <span class="label label-info">инициативу</span> и <span class="label label-success">концентрацию</span>, которые можно тратить на изменение стиля боя. Каждый стиль обладает своей <strong>эффективностью</strong>, а также имеет преимущество или слабость перед другими стилями. Если стиль А (выбранный 1-ым героем) имеет преимущество перед стилем Б (выбранным 2-ым героем), то эффективность сражения 1-ого героя будет дополнительно увеличена, а второго уменьшена. Необходимо помнить, что герои не могут долго сражаться с использованием сложных стилей боя, они всегда скатываются в привычный им традиционный геройский стиль «кроши всё что движется», поэтому каждый ход эффективность, получаемая от стилей, падает.
</p>

<p class="alert alert-error">
  Не пытайтесь принудительно обновлять страницу игры в надежде узнать какой выбор сделал противник на этом ходу — не получится. Серьёзно.
<p>

<p>
  <strong>Эффективность</strong> боя влияет на <strong>преимущество</strong>, которое один герой может получить над другим. В начале боя ни один из героев не обладает преимуществом. В случает, если эффективность боя одного из героев выше, тот получает определённое количество преимущества. Преимущество даёт хороший бонус к урону, а при получении полного преимущества над противником позволяет герою произвести очень сильный удар. После нанесения подобного удара, обоим героям необходимо время что-бы придти в себя, поэтому преимущество сбрасывается на начальное значение.
</p>

<p>
  Небольшое влияние на эффективности оказывает также <a href="{{ url('guide:might') }}">могущество</a> игрока.
</p>

{% macro combat_style_info(combat_style) %}
<tr>
  <th>{{combat_style.name}}</th>
  <td>{{combat_style.power}}</td>
  <td>{{combat_style.cost_rage}}</td>
  <td>{{combat_style.cost_initiative}}</td>
  <td>{{combat_style.cost_concentration}}</td>
</tr>
{% endmacro %}

<table class="table table-condensed">
  <caption>Всего существует 8 стилей боя, они различаются эффективностью и ценой активации</caption>
  <tbody>
    <tr>
      <th width="20%"></th>
      <th width="20%">эффективность</th>
      <th width="20%"><span class="label label-important">ярость</span></th>
      <th width="20%"><span class="label label-info">инициатива</span></th>
      <th width="20%"><span class="label label-success">концентрация</span></th>
    </tr>

    {{ combat_style_info(COMBAT_STYLES[PVP_COMBAT_STYLES.TIGER]) }}
    {{ combat_style_info(COMBAT_STYLES[PVP_COMBAT_STYLES.MONKEY]) }}
    {{ combat_style_info(COMBAT_STYLES[PVP_COMBAT_STYLES.MANTIS]) }}
    {{ combat_style_info(COMBAT_STYLES[PVP_COMBAT_STYLES.BEAR]) }}
    {{ combat_style_info(COMBAT_STYLES[PVP_COMBAT_STYLES.SNAKE]) }}
    {{ combat_style_info(COMBAT_STYLES[PVP_COMBAT_STYLES.FOX]) }}
    {{ combat_style_info(COMBAT_STYLES[PVP_COMBAT_STYLES.OWL]) }}
    {{ combat_style_info(COMBAT_STYLES[PVP_COMBAT_STYLES.SCORPION]) }}

  </tbody>
</table>

{% macro combat_style_advantages(combat_style) %}
<tr>
  <th>{{combat_style.name}}</th>
  <td>{{c.PVP_COMBAT_STYLES_ADVANTAGES[combat_style.type][PVP_COMBAT_STYLES.TIGER]}}</td>
  <td>{{c.PVP_COMBAT_STYLES_ADVANTAGES[combat_style.type][PVP_COMBAT_STYLES.MONKEY]}}</td>
  <td>{{c.PVP_COMBAT_STYLES_ADVANTAGES[combat_style.type][PVP_COMBAT_STYLES.MANTIS]}}</td>
  <td>{{c.PVP_COMBAT_STYLES_ADVANTAGES[combat_style.type][PVP_COMBAT_STYLES.BEAR]}}</td>
  <td>{{c.PVP_COMBAT_STYLES_ADVANTAGES[combat_style.type][PVP_COMBAT_STYLES.SNAKE]}}</td>
  <td>{{c.PVP_COMBAT_STYLES_ADVANTAGES[combat_style.type][PVP_COMBAT_STYLES.FOX]}}</td>
  <td>{{c.PVP_COMBAT_STYLES_ADVANTAGES[combat_style.type][PVP_COMBAT_STYLES.OWL]}}</td>
  <td>{{c.PVP_COMBAT_STYLES_ADVANTAGES[combat_style.type][PVP_COMBAT_STYLES.SCORPION]}}</td>
</tr>
{% endmacro %}

<table class="table table-condensed">
  <caption>Отношения между стилями<br>в ячейках таблицы коофициент, на который домножается эффективность стиля из строки, если против него выступает стиль из столбца</caption>
  <tbody>
    <tr>
      <th width="120px"></th>
      <th>{{COMBAT_STYLES[PVP_COMBAT_STYLES.TIGER].name}}</th>
      <th>{{COMBAT_STYLES[PVP_COMBAT_STYLES.MONKEY].name}}</th>
      <th>{{COMBAT_STYLES[PVP_COMBAT_STYLES.MANTIS].name}}</th>
      <th>{{COMBAT_STYLES[PVP_COMBAT_STYLES.BEAR].name}}</th>
      <th>{{COMBAT_STYLES[PVP_COMBAT_STYLES.SNAKE].name}}</th>
      <th>{{COMBAT_STYLES[PVP_COMBAT_STYLES.FOX].name}}</th>
      <th>{{COMBAT_STYLES[PVP_COMBAT_STYLES.OWL].name}}</th>
      <th>{{COMBAT_STYLES[PVP_COMBAT_STYLES.SCORPION].name}}</th>
    </tr>
    {{ combat_style_advantages(COMBAT_STYLES[PVP_COMBAT_STYLES.TIGER]) }}
    {{ combat_style_advantages(COMBAT_STYLES[PVP_COMBAT_STYLES.MONKEY]) }}
    {{ combat_style_advantages(COMBAT_STYLES[PVP_COMBAT_STYLES.MANTIS]) }}
    {{ combat_style_advantages(COMBAT_STYLES[PVP_COMBAT_STYLES.BEAR]) }}
    {{ combat_style_advantages(COMBAT_STYLES[PVP_COMBAT_STYLES.SNAKE]) }}
    {{ combat_style_advantages(COMBAT_STYLES[PVP_COMBAT_STYLES.FOX]) }}
    {{ combat_style_advantages(COMBAT_STYLES[PVP_COMBAT_STYLES.OWL]) }}
    {{ combat_style_advantages(COMBAT_STYLES[PVP_COMBAT_STYLES.SCORPION]) }}
  </tbody>
</table>

<h4>Рейтинги и статистика</h4>

<p>
  Чтобы герои (и их хранители) не пытались прославиться с помощью различного рода хитрых манипуляций и договорных боёв, в статистику (и рейтинги) попадают результаты только боёв с равными противниками (с разницей в уровнях не более {{pvp_settings.BALANCING_MIN_LEVEL_DELTA}}) найденными с помощью случайной жеребьёвки.
</p>



{% endblock %}
