{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}PvP | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}О сражениях между героями на Арене и особых PvP способностях.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("PvP", "О сражениях между игроками.") }}

<p>
  Для того чтобы герои могли решать свои разногласия «цивилизованным» способом (а заодно снимать стресс, накопившийся во время приключений), ангелы-хранители создали Арену, на которую в любой момент можно отправить своего героя. Все сражения проходят в виде дуэли.
</p>

<h4>Создание боёв</h4>

<p>
  Отправить героя на арену можно со <a href="{{url('game:')}}">страницы игры</a>. При этом будет зарегистрирована заявка на проведение боя и начнётся поиск партнёров. Поиск начинается с равных противников и постепенно увеличивает допустимую разницу в уровнях, пока не найдёт противника или не истечёт время ожидания.
</p>

<p>
  Если не терпится отправить героя в бой, то можно попытать счастье на странице со <a href="{{url('game:pvp:calls')}}">списком вызовов на арену</a>, где сразу можно принять любой вызов равного или более сильного героя. Но следует помнить, что созданный таким образом, бой не учитывается в рейтингах и статистике.
</p>

<p>
  При отправке героя на арену, его здоровье полностью восстанавливается; по завершении боя, герой возвращается к своим занятиям, его здоровье возвращается в состояние, которое было до отправки на арену.
</p>

<h4>Ход боя</h4>

<p class="alert alert-error">
  Не пытайтесь принудительно обновлять страницу игры в надежде узнать, что сделал ваш противник на этом ходу — не получится. Разработчики пробовали — бесперспективняк.
<p>

<p>
  Столкнувшись со сложным противником, приключенцы вспоминают, что (оказывается) сражаться можно не просто пытаясь изрубить супостата в капусту, но и применяя различные боевые стили и прочие ухищрения. В результате, герои начинают вести бой стратегически и пытаются захватить инициативу. Мерой успешности стратегических и тактических успехов героя является его <strong>эффективность</strong>.
</p>

<p>
  <strong>Эффективность</strong> боя влияет на <strong>преимущество</strong>, которое один герой может получить над другим. В начале боя ни один из героев не обладает преимуществом. В случае, если эффективность боя одного из героев выше, тот получает определённое количество преимущества. Преимущество даёт хороший бонус к урону (при максимальном преимуществе урон героя увеличивается на {{c.DAMAGE_PVP_ADVANTAGE_MODIFIER|percents}}). При получении полного преимущества над противником, следующий удачный удар героя нанесёт очень большой урон ({{c.DAMAGE_PVP_FULL_ADVANTAGE_STRIKE_MODIFIER|percents}}). После нанесения подобного удара, обоим героям необходимо время чтобы прийти в себя, поэтому преимущество сбрасывается на начальное значение.
</p>

<p>
  Небольшое влияние на эффективность оказывает также <a href="{{ url('guide:keepers') }}">могущество</a> игрока.
</p>

<p>
  Во время сражения хранители накапливают энергию, которую могут тратить на помощь своим подопечным. Для этого им доступны несколько способностей:
</p>

<ul>
  <li><strong>{{pvp_abilities.Ice.NAME}}</strong> — {{pvp_abilities.Ice.DESCRIPTION}}</li>
  <li><strong>{{pvp_abilities.Blood.NAME}}</strong> — {{pvp_abilities.Blood.DESCRIPTION}}</li>
  <li><strong>{{pvp_abilities.Flame.NAME}}</strong> — {{pvp_abilities.Flame.DESCRIPTION}}</li>
</ul>

<h4>Рейтинги и статистика</h4>

<p>
  Чтобы герои (и их хранители) не пытались прославиться с помощью различного рода хитрых манипуляций и договорных боёв, в статистику (и рейтинги) попадают результаты только боёв с равными противниками (с разницей в уровнях не более {{pvp_settings.BALANCING_MIN_LEVEL_DELTA}}) найденными с помощью жеребьёвки.
</p>

<h4>Если не с кем подраться</h4>

<p>
  На случай когда для героя не получается найти противника, боги создали отряд специальных боевых «существ», которые обучены драться также, как и герои. Если срок ожидания боя героем истёк, то сражаться против него выйдет такое существо. Результаты боёв с такими существами в рейтинг не попадают.
</p>

<p>
  Перед каждый боем существа меняют свою тактику, переодеваются в новые артефакты и учат новые способности, поэтому двух одинаковых сражений с ними не бывает.
</p>



{% endblock %}
