{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Zero Player Game | {{ super() }}{% endblock %}
{% block description %}Zero Player Game или просто ZPG — игра без участия игрока, в которой весь игровой процесс происходит сам собой.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Zero Player Game", "Zero Player Game или просто ZPG — игра без участия игрока, в которой весь игровой процесс происходит сам собой.") }}

<p>
  Zero Player Game или просто ZPG — игра без участия игрока, в которой весь игровой процесс происходит сам собой. Другие названия: <nobr>0-player</nobr> game, самоиграйка.
</p>

<p>
  Жанр зародился как пародия на обычные ролевые игры, в которых большое внимание уделялось росту параметров героя в ущерб сюжету и другим составляющим игры. От этого его ещё называют Zero Role Player Game — ZRPG. Также этот жанр «эксплуатирует» известную любовь некоторых людей наблюдать за тем, как играют другие.
</p>

<p>
  В настоящий момент ZPG уходят от пародийной составляющей и охватывает новые территории. Примером тому может служить наша игра.
</p>

<p>
  Несмотря на явную декларацию отсутствия вмешательства игрока в игру, ему всё-таки позволяют оказывать ограниченное воздействие на мир игры. Делается это обычно за счёт реализации непрямого управления. Иными словами, вместо отдачи прямых указаний своему персонажу, игроку разрешают менять определённые параметры мира (или персонажа), подталкивая события в нужную сторону.
</p>

<p>
  Игры в жанре ZPG:
</p>

<ul>
  <li><a href="/">Сказка</a></li>
  <li><a href="http://godville.net/">Годвилль</a></li>
  <li><a href="http://progressquest.com/">Progress Quest</a></li>
</ul>

<p>
  Кроме этого, интересным может оказаться знакомство с игрой <a href="http://ru.wikipedia.org/wiki/Majesty:_The_Fantasy_Kingdom_Sim">Majesty</a> — стратегией с непрямым управлением юнитами-героями (лучше смотреть 1-ую часть).
</p>

{% endblock %}
