{% import 'clans/macros.html' as clans_macros with context %}
{% import 'map/macros.html' as map_macros with context %}

{% macro place_description(place) %}
  Земля
  <span {%if place.is_wrong_race()%}style="color: orange; cursor: default; font-weight: bold; vertical-align: baseline;" rel="tooltip" title="Титульная раса города не соответствует самой влиятельной"{% else %}style="vertical-align: baseline;"{% endif %}>
    {{place.race.utg_name_form.word.forms[7] -}}
  </span>,
  {{place.habit_honor.interval.place_text}},
  {{place.habit_peacefulness.interval.place_text}}
  {%- if place.is_frontier -%}, <a href="{{url('guide:cities')}}" class="pgf-frontier-message" target="_blank">Фронтир</a>{% endif %}
{% endmacro %}


{% macro clan_region_badge(region) %}
  <span class="badge"
        rel="tooltip"
        title="Гильдия владеет регионом из следующих городов: {{', '.join(region.places_names())}}"
        style="cursor: default; vertical-align: middle;">{{region.size()}}</span>
{% endmacro %}

{% macro clan_region_description(region) %}
  {% if region.clan_id is none %}
  <span rel="tooltip"
        title="Ни одна гильдия не сделала этот город своим протекторатом"
        style="cursor: default;">
    Свободный город
  </span>
  {% else %}
  Протекторат размера {{clan_region_badge(region)}} гильдии {{clans_macros.clan_link(region.clan_info()) }}
  {% endif %}

{% endmacro %}


{% macro place_protector_candidates(protector_candidates) %}
  <span style="color: red !important; font-weight: bold; cursor: default;"
        rel="tooltip"
        title="Эти гильдии пытаются установить свой протекторат над городом">
        Гильдии оспаривают власть над городом:
  </span>
  {% for clan_info in protector_candidates %}
    {{clans_macros.clan_link(clan_info, show_name=false) -}}
    {%- if not loop.last -%},{% endif%}
  {% endfor %}
{% endmacro %}


{% macro place_path_modifiers(path_modifier, path_modifier_effects) %}
  <tr>
    <th>оценка пути через город</th>
    <td>
      {% if path_modifier is not none %}
        {{ path_modifier|percents(2) }}
      {% else %}
        0%
      {% endif %}
    </td>
    <td>
      {% set path_description = "Модификатор оценки «сложности» отрезка пути, проходящего через этот город. Отрезок пути — кусок пути героя между двумя городами, на оценку его сложности влияют оба города. Чем меньше, тем легче герой воспринимает путь.<br/><strong>Этот модификатор действует только для ВАШЕГО героя.</strong>" %}
      {% if path_modifier_effects is not none %}
        <a href="javascript:void(0)"
           class="info-link"
           rel="tooltip"
           title="{{map_macros.power_incoming_tooltip(path_description, path_modifier_effects, percents=true, reverse=true)}}">подробнее</a>
         {% else %}
           <a href="javascript:void(0)"
              class="info-link"
              rel="tooltip"
              title="{{path_description}}">подробнее</a>
            {% endif %}
    </td>
  </tr>

{% endmacro %}
