{% extends "places/base.html" %}
{% import 'macros.html' as base_macros with context %}
{% import 'blogs/macros.html' as blogs_macros with context %}
{% import 'game/macros.html' as game_macros with context %}
{% import 'map/macros.html' as map_macros with context %}
{% import 'chronicle/macros.html' as chronicle_macros with context %}
{% import 'places/macros.html' as places_macros with context %}
{% import 'persons/macros.html' as persons_macros with context %}
{% import 'emissaries/macros.html' as emissaries_macros with context %}

{% block title %} {{ place.name }} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Информация о городе «{{place.name}}»{% endblock %}

{% block places_content %}

  <h2>
    {% if not place.modifier.is_NONE %}
    <span
       rel="tooltip"
       data-tooltip-placement="bottom"

       {%if not place.is_modifier_active()%}
       style="color: orange; cursor: default;"
       title="Город не соответствует требованиям специализации, поэтому лишается бонусов от неё и получает штраф к стабильности."
       {% else %}
       style="color: green; cursor: default;"
       title="{{place.modifier.description}}"
       {% endif %}>
        {{place.modifier.text}}
      </span>
    {% endif %}
    {{place.name}}
    {{ base_macros.magnet(place_meta_object) }}

    {% if hero and hero.preferences.place and hero.preferences.place.id == place.id %}
      <span class="badge badge-success">родной город</span>
    {% endif %}

    <small class="pull-right" style="font-size: 10pt; padding-top: 0.4em;">
      обновлено в
      <span class="pgf-format-time" data-timestamp="{{ place.updated_at|timestamp }}"></span>
    </small>

    <br/>
    <small>{{places_macros.place_description(place)}}</small>

    <br/>
    <small>{{places_macros.clan_region_description(clan_region)}}</small>

    {% if protector_candidates %}
    <br/>
    <small>{{places_macros.place_protector_candidates(protector_candidates)}}</small>
    {% endif %}

  </h2>

{% if place.new_for > now() %}
  <h4 class="pgf-new-place-message">Это город считается <a href="{{url('guide:cities')}}" target="_blank">новым</a> <small>до <span class="pgf-format-datetime" data-timestamp="{{ place.new_for|timestamp }}"></span></small></h4><br/>
{% endif %}

<blockquote style="text-align: justify;">
  {{place.description_html|safe}}
</blockquote>


<div style="width: 350px; display: inline-block; margin-right: 2em;">
  <h3>Экономика</h3>
  <table class="table table-condensed">
    <tbody>
      {{game_macros.attribute_record(place, 'size')}}
      {{game_macros.attribute_record(place, 'tax_size_border')}}
      {{game_macros.attribute_record(place, 'power_economic')}}
      {{game_macros.attribute_record(place, 'money_economic')}}
      {{game_macros.attribute_record(place, 'area')}}
      {{game_macros.attribute_record(place, 'goods', (' / %s' % c.PLACE_GOODS_TO_LEVEL))}}
      {{game_macros.attribute_record(place, 'stability')}}
      {{game_macros.attribute_record(place, 'production')}}
      {{game_macros.attribute_record(place, 'transport')}}
      {{game_macros.attribute_record(place, 'freedom')}}
      {{game_macros.attribute_record(place, 'safety')}}
      {{game_macros.attribute_record(place, 'culture')}}
      {{game_macros.attribute_record(place, 'tax')}}
    </tbody>
  </table>
</div>


<div style="display: inline-block;">
  <h3>
    Влияние
    <small><a href="{{url('game:politic-power:history', place=place.id)}}" target="_blank">история</a></small>
  </h3>
  <table class="table table-condensed">
    <tbody>
      <tr>
        <th width="220px">влияние среди городов</th>
        <td>{{places_power_storage.total_power_fraction(place.id)|percents(2)}}</td>
      </tr>
      <tr>
        <th>влияние от ближнего круга</th>
        <td>{{places_power_storage.inner_power_fraction(place.id)|percents(2)}} — {{places_power_storage.inner_power(place.id)|int}}</td>
      </tr>
      <tr>
        <th>влияние от народа</th>
        <td>{{places_power_storage.outer_power_fraction(place.id)|percents(2)}} — {{places_power_storage.outer_power(place.id)|int}}</td>
      </tr>
    </tbody>
  </table>
  </div>

<h3>Мастера</h3>

<p><a href="{{url('guide:persons')}}" target="_blank">Мастера</a> — это <abbr rel="tooltip" title="неигровые персонажи">NPC</abbr>, обладающие большим влиянием в городе.</p>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>влияние</th>
      <th>мастер</th>
      <th>помогающие/мешающие герои</th>
    </tr>
  </thead>
  <tbody>
    {% for person in place.persons_by_power %}
      <tr>
        <td>{{persons_power_storage.total_power_fraction(person.id)|percents(2)}}</td>
        <td>
          {{persons_macros.person_verbose(person, hero)}}
        </td>
        <td>
          {{persons_inner_circles[person.id].total_positive_heroes_number}} /
          {{persons_inner_circles[person.id].total_negative_heroes_number}}

          (в круге: {{persons_inner_circles[person.id].circle_positive_heroes_number}} /
                    {{persons_inner_circles[person.id].circle_negative_heroes_number}})
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Эмиссары</h3>

<p>
  <a href="{{url('guide:emissaries')}}" target="_blank">Эмиссары</a> — это представители <a href="{{url('guide:clans')}}">гильдий</a> в городах.
</p>

{% if emissaries %}
{{emissaries_macros.emissary_list(emissaries, powers=emissaries_powers, clans=clans_infos)}}
{% else %}
<p class="alert alert-info">
  В городе нет активных эмиссаров.
</p>
{% endif %}


<div class="accordion" id="pgf-place-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-place-accordion" href="#pgf-place-demographics">
        Демография
      </a>
    </div>
    <div id="pgf-place-demographics" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">

        <p>
          Если раса, с большим давлением не совпадает с основной расой города, то стабильность города сильно уменьшается.
        </p>

        <p>
          Демографическое давление зависит от влиятельности Мастеров соответствующей расы. Вклад Мастера в давление его расы зависит также от его особенностей и мероприятий эмиссаров в городе.
        </p>

        {% set demographics_pressure_modifires = place.demographics_pressure_modifires() %}

        <table class="table table-striped table-condensed">
          <thead>
            <th>раса</th>
            <th>влияние Мастеров</th>
            <th>бонусы города</th>
            <th>текущее давление</th>
            <th>оптимальное давление</th>
            <th>изменение в день</th>
          </thead>
          <tbody>
            {% for race_info in place.races.demographics(place.persons, demographics_pressure_modifires) %}
              <tr>
                <td>{{race_info.race.multiple_text}}</td>
                <td>{{race_info.persons_percents|percents(2)}}</td>
                <td>{{demographics_pressure_modifires[race_info.race]|percents(2)}}</td>
                <td>{{race_info.percents|percents(2)}}</td>
                <td>{{race_info.optimal_percents|percents(2)}}</td>
                {% set delta = race_info.delta*24 %}

                <td style="text-align: left; color:{%if race_info.delta > 0.0001 %}green{%elif race_info.delta < -0.0001%}red{%else%}black{%endif%};">
                    {% if race_info.delta > 0.00001%}+{% elif race_info.delta < -0.00001%}-{% else %}&nbsp;{%endif%} {{delta|abs|percents(2)}}
               </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-place-accordion" href="#pgf-place-specializations">
        Специализации
      </a>
    </div>
    <div id="pgf-place-specializations" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">

        <p>
          Чтобы можно было изменить специализацию города, необходимо довести её развитие до {{c.PLACE_TYPE_NECESSARY_BORDER}}.
        </p>

        <p>
          Если город уже имеет специализацию, и её развитие опустится ниже {{c.PLACE_TYPE_ENOUGH_BORDER}}, то город перестанет быть специализированным.
        </p>

        <p>
          Модификатор развития от размера города: {{place.attrs.modifier_multiplier|round(2)}}
        </p>

        <table class="table table-striped table-condensed">
          <tr>
            <th>специализация</th>
            <th>развитие</th>
            <th>информация</th>
          </tr>
          {% for specialization, value in place.attrs.ui_specializations() %}
          <tr>
            <td>
              {% if specialization == place.modifier %}
              <i class="icon-star pgf-current-modifier-marker" rel="tooltip" title="текущий тип города"></i>
              {% endif %}
              {{specialization.text}}
            </td>
            <td>{{value|round(2)}}</td>
            <td>
              <a href="javascript:void(0)"
                 class="info-link"
                 rel="tooltip"
                 title="{{map_macros.power_incoming_tooltip(specialization.description, place.tooltip_effects_for_attribute(specialization.points_attribute))}}">
                подробнее
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>


      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-place-accordion" href="#pgf-place-habits">
        Характер города
      </a>
    </div>
    <div id="pgf-place-habits" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">

        {% macro habit_record(habit, positive_points, negative_points, delta)%}
          <tr>
            <td colspan="2">{{habit.TYPE.text}}</td>
            <td>{{habit.interval.place_text}}</td>
            <td>
              {{habit.raw_value|round(2)}}

              {% if delta > 0.00001%}+{% elif delta < -0.00001%}-{% else %}&nbsp;{%endif%}
              <span style="color:{%if delta > 0.0001 %}green{%elif delta < -0.0001%}red{%else%}black{%endif%};">{{delta|abs|round(2)}}</span>
            </td>
          </tr>
        {% endmacro %}


        {% macro habit_points_record(habit, positive_points, negative_points) %}
          <tr>
            <td>{{habit.TYPE.text}}</td>
            <td>{{negative_points|round(2)}}</td>
            <td>{{positive_points|round(2)}}</td>
          </tr>
        {% endmacro %}

        <p>
          Характер города определяется героями подписчиков, связанными с ним (установившими его родным или выбравшими в нём соратника/противника).
        </p>

        <table class="table table-striped table-condensed">
          <tbody>
            {{ habit_record(place.habit_honor, place.habit_honor_positive, place.habit_honor_negative, place.habit_honor_change_speed) }}
            {{ habit_record(place.habit_peacefulness, place.habit_peacefulness_positive, place.habit_peacefulness_negative, place.habit_peacefulness_change_speed) }}
          </tbody>
        </table>

        <h4>сумма черт героев</h4>

        <table class="table">
          <thead>
            <tr>
              <th>черта</th>
              <th>влево</th>
              <th>вправо</th>
            </tr>
          </thead>
          <tbody>
            {{ habit_points_record(place.habit_honor, place.habit_honor_positive, place.habit_honor_negative) }}
            {{ habit_points_record(place.habit_peacefulness, place.habit_peacefulness_positive, place.habit_peacefulness_negative) }}
          </tbody>
        </table>

      </div>
    </div>
  </div>


  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-place-accordion" href="#pgf-place-all-attributes">
        Все параметры города
      </a>
    </div>
    <div id="pgf-place-all-attributes" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <table class="table table-condensed" style="width: 450px;">
          <tbody>
            {% for attribute in place.attrs.attributes_by_name() %}
            {{game_macros.attribute_record(place, attribute.name)}}
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-place-accordion" href="#pgf-place-bills">
        Записи в Книге Судеб
      </a>
    </div>
    <div id="pgf-place-bills" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>
          Список <strong>активных</strong> записей в Книге Судеб (действующих в текущий момент), связанных с городом.
        </p>

        {% if place_bills %}

          {% for bill in place_bills %}
            <table class="table table-striped table-condensed table-no-highlighting">
              <tbody>
                <tr>
                  <td><a target="_blank" href="{{url('game:bills:show', bill.id)}}">{{bill.caption}}</a></td>
                </tr>
                {% for property in bill.properties %}
                  <tr><td>{{property}}</td></tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}

        {% else %}
          <p class="alert alert-info">Нет активных записей в Книге Судеб.</p>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-place-accordion" href="#pgf-place-chronicle">
        Летопись
      </a>
    </div>
    <div id="pgf-place-chronicle" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>
          Последние события, связаные с городом.
        </p>

        {{ chronicle_macros.records_list(place_chronicle) }}

        <p>
          <a class="btn btn-info" href="{{ url('game:chronicle:', place=place.id) }}">Все события</a>
        </p>

      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-place-accordion" href="#pgf-place-distances">
        Расстояния
      </a>
    </div>
    <div id="pgf-place-distances" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>
          Расстояния (манхэттенские) до каждого из городов Пандоры.
        </p>

        <table class="table table-condensed">
          <thead>
            <tr>
              <th width="25px">№</th>
              <th width="150px">город</th>
              <th>расстояние (клеток)</th>
            </tr>
          </thead>
          <tbody>
            {% for distance, place_id in place_distances %}
            <tr>
              <td>{{loop.index}}</td>
              <td><a href="{{url('game:places:show', place_id)}}">{{places_storage[place_id].name}}</a></td>
              <td>{{distance}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>

<h3>Ближний круг</h3>

<p>
  В ближний круг попадают герои, специально помогающие или вредящие городу. Подробнее про ближний круг можно прочитать в <a href="{{url('guide:cities')}}">путеводителе</a>.
</p>

<ul>
  <li>Всего героев помогает: {{inner_circle.total_positive_heroes_number}} (в круге: {{inner_circle.circle_positive_heroes_number}})</li>
  <li>Всего героев мешает: {{inner_circle.total_negative_heroes_number}} (в круге: {{inner_circle.circle_negative_heroes_number}})</li>
</ul>

{{game_macros.inner_circle_heroes(inner_circle, hero.account_id if hero else none, show_job_column=false)}}


{% set folclor_objects = posts_about(place_meta_object) %}

<h3>Произведения о городе</h3>

{% if folclor_objects %}
  {{ blogs_macros.meta_posts_list(folclor_objects) }}
{% else %}
  <p class="alert alert-info pgf-no-folclor">В настоящее время нет произведений о городе.</p>
{% endif %}

{% endblock %}
