{% extends "forum/base.html" %}

{% block title %}Редактирование сообщения | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newPostForm = new pgf.forms.Form(jQuery('#pgf-change-post-form'),
                                         { OnSuccess: function(form, data){
                                             location.href = "{{ url('forum:threads:show', thread.id) }}";
                                         }
                                         });

    pgf.base.AddPreview('#pgf-change-post-form', 'textarea', "{{ url('portal:preview') }}");
    pgf.base.InitBBFields('#pgf-change-post-form');
});

</script>

{% endblock %}


{% block forum_content %}

<ul class="breadcrumb">
  <li><a href="{{ url('forum:') }}">Форум</a><span class="divider">/</span></li>
  <li><a href="{{ url('forum:subcategory', subcategory.slug) }}">{{ subcategory.caption }}</a><span class="divider">/</span></li>
  <li><a href="{{ url('forum:threads:show', thread.id) }}">{{ thread.caption }}</a><span class="divider">/</span></li>
  <li class="active">редактирование сообщения</li>

</ul>

<form action="{{ url('forum:posts:update', post.id) }}"
      method="post"
      id="pgf-change-post-form"
      class="change-post-form">

  {{ new_post_form.errors_container }}

  <div class="pgf-edit-content">
    {{ new_post_form.text.widget }}
  </div>

  <div class="pgf-preview-content pgf-hidden">
  </div>

  <div class="widget">
    <input type="submit" value="Сохранить"/>
    <input type="button" class="pgf-preview-button" value="Предпросмотр"/>
    <input type="button" class="pgf-edit-button pgf-hidden" value="Редактировать"/>
    <input type="button" class="" value="Отмена" onclick="location.href='{{ url('forum:threads:show', thread.id) }}';"/>
  </div>

</form>

{% endblock %}
