{% extends "forum/base.html" %}

{% block title %}Редактирование темы | {{ super() }}{% endblock %}
{% block description %}Редактирование тему «{{resource.thread.caption}}».{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ STATIC_CONTENT }}forum/base.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var updateThreadForm = new pgf.forms.Form(jQuery('#pgf-edit-thread-form'),
                                           { OnSuccess: function(form, data){
                                               location.href = "{{ url('forum:threads:show', thread.id) }}";
                                           }
                                           });
});

</script>

{% endblock %}


{% block forum_content %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url('forum:feed') }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss форума">
      <img src="{{STATIC_CONTENT}}images/rss.png" style="margin: 2px;"/>
    </a>
    <a href="{{ url('forum:') }}">Форум</a><span class="divider">/</span>
  </li>
  <li><a href="{{ url('forum:subcategories:show', subcategory.id) }}">{{ subcategory.caption }}</a><span class="divider">/</span></li>
  <li><a href="{{ url('forum:threads:show', thread.id) }}">{{ thread.caption }}</a><span class="divider">/</span></li>
  <li class="active">редактирование</li>
</ul>

<form id="pgf-edit-thread-form" method="post" action="{{ url('forum:threads:update', thread.id) }}">

  {{ edit_thread_form.errors_container }}

  <div class="post-content">
    {{ edit_thread_form.caption.widget}}
  </div>

  {% if can_change_thread_category %}
  <div class="pgf-thread-subcategory">
    {{ edit_thread_form.subcategory.widget}}
  </div>
  {% endif %}

  {{ edit_thread_form.important.widget}}

  <div class="widget">
    <input type="submit" value="Сохранить"/>
  </div>

</form>

{% endblock %}
