{% extends "forum/base.html" %}

{% block title %}Редактирование сообщения | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newPostForm = new pgf.forms.Form(jQuery('#pgf-change-post-form'),
                                         { OnSuccess: function(form, data){
                                             location.href = "{{ url('forum:threads:show', thread.id) }}";
                                         }
                                         });

});

</script>

{% endblock %}


{% block forum_content %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url('forum:feed') }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss форума">
      <img src="{{STATIC_URL}}images/rss.png" style="margin: 2px;"/>
    </a>
    <a href="{{ url('forum:') }}">Форум</a><span class="divider">/</span>
  </li>
  <li><a href="{{ url('forum:subcategory', subcategory.slug) }}">{{ subcategory.caption }}</a><span class="divider">/</span></li>
  <li><a href="{{ url('forum:threads:show', thread.id) }}">{{ thread.caption }}</a><span class="divider">/</span></li>
  <li class="active">редактирование сообщения</li>

</ul>

<form action="{{ url('forum:posts:update', post.id) }}"
      method="post"
      id="pgf-change-post-form"
      class="change-post-form">

  {{ new_post_form.errors_container }}

  {{ new_post_form.text.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Сохранить"/>
    <input type="button" class="btn" value="Отмена" onclick="location.href='{{ url('forum:threads:show', thread.id) }}';"/>
  </div>

</form>

{% endblock %}
