{% extends "forum/base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block forum_content %}

{% for category_data in forum_structure %}

{% set category = category_data['category'] %}
{% set subcategories = category_data['subcategories'] %}

<h2>{{ category.caption }}</h2>
<table class="table table-striped forum-table">
    <thead>
      <tr>
        <th class="caption">раздел</th>
        <th class="threads-count">тем</th>
        <th class="posts-count">ответов</th>
        <th class="last-poster">последний</th>
        <th class="updated-at">обновлено</th>
      </tr>
    </thead>
    <tbody>
      {% for subcategory in subcategories %}
      <tr>
        <td class="caption">
          <a href="{{ url('forum:subcategory', subcategory.slug) }}">
            {{ subcategory.caption }}
          </a>
        </td>
        <td class="threads-count">{{ subcategory.threads_count }}</td>
        <td class="posts-count">{{ subcategory.posts_count }}</td>
        <td class="last-poster">{% if subcategory.last_poster %}{{ subcategory.last_poster.username }}{% else %} - {% endif %}</td>
        <td class="updated-at pgf-format-time" data-timestamp="{{ subcategory.updated_at|timestamp }}"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endfor %}

{% endblock %}
