{% macro pages_links(thread) %}

{% set paginator = thread.paginator %}

{% if paginator.pages_count == 1 %}
{% elif paginator.pages_count < 7 %}
<span class="thread-page-links">
[{% for page_number in range(1, paginator.pages_count) %}
  <a href="{{ url('forum:threads:show', thread.id) }}?page={{page_number+1}}">{{page_number+1}}</a>
{% endfor %}]
{% else %}
[ <a href="{{ url('forum:threads:show', thread.id) }}?page=2">2</a>
  <a href="{{ url('forum:threads:show', thread.id) }}?page=3">3</a>
  <a href="{{ url('forum:threads:show', thread.id) }}?page=4">4</a>
  &hellip;
{% for page_number in range(paginator.pages_count-3, paginator.pages_count) %}
  <a href="{{ url('forum:threads:show', thread.id) }}?page={{page_number+1}}">{{page_number+1}}</a>
{% endfor %}]
{% endif %}
</span>
{% endmacro %}


{% macro thread_record_heading(subscription=false) %}
<th class="caption">название</th>
<th class="author">автор</th>
<th class="posts-count">ответов</th>
<th class="last-poster">последний</th>
<th class="updated-at">обновлено</th>
{% if subscription %}<th class="subscription">подписка</th>{% endif %}
{% endmacro %}


{% macro thread_record(thread, read_state=none, subscription=false) %}

<td class="caption
           {% if read_state is not none and read_state.thread_has_new_messages(thread) %}new-messages{% endif %}">
  {% if read_state is not none and read_state.thread_is_new(thread) %}
  <span class="new-thread pgf-new-thread-marker">Новое!</span>
  {% endif %}

  <a href="{{ url('forum:threads:show', thread.id) }}">{{ thread.caption }}</a>
  {{ pages_links(thread) }}
</td>
<td class="author"><a href="{{url('accounts:show', thread.author.id)}}">{{ thread.author.nick }}</a></td>
<td class="posts-count">{{ thread.posts_count }}</td>
<td class="last-poster">
  {% if thread.last_poster %}
  <a href="{{url('accounts:show', thread.last_poster.id)}}">{{ thread.last_poster.nick }}</a>
  {% else %}
  <a href="{{url('accounts:show', thread.author.id)}}">{{ thread.author.nick }}</a>
  {% endif %}
</td>
<td class="updated-at pgf-format-datetime" data-timestamp="{{ thread.updated_at|timestamp }}"></td>
{% if subscription %}
<td><a href="{{ url('forum:threads:unsubscribe', thread.id) }}" class="pgf-forms-post-simple">отписаться</a></td>
{% endif %}

{% endmacro %}

{% macro subcategory_record_heading(subscription=false) %}
<th class="caption">раздел</th>
<th class="threads-count">тем</th>
<th class="posts-count">ответов</th>
<th class="last-poster">последний</th>
<th class="updated-at">обновлено</th>
{% if subscription %}<th class="subscription">подписка</th>{% endif %}
{% endmacro %}


{% macro subcategory_record(subcategory, subscription=false) %}
<td class="caption">
  <a href="{{ url('forum:subcategories:show', subcategory.id) }}">
    {{ subcategory.caption }}
  </a>
</td>
<td class="threads-count">{{ subcategory.threads_count }}</td>
<td class="posts-count">{{ subcategory.posts_count }}</td>
<td class="last-poster">
  {% if subcategory.last_poster %}
  <a href="{{url('accounts:show', subcategory.last_poster.id)}}">{{ subcategory.last_poster.nick }}</a>
  {% else %}
  —
  {% endif %}
</td>
<td class="updated-at pgf-format-datetime" data-timestamp="{{ subcategory.updated_at|timestamp }}"></td>

{% if subscription %}
<td><a href="{{ url('forum:subcategories:unsubscribe', subcategory.id) }}" class="pgf-forms-post-simple">отписаться</a></td>
{% endif %}

{% endmacro %}
