{% extends "forum/base.html" %}

{% block title %}Новая тема | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Создание нового обсуждения на форуме.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newThreadForm = new pgf.forms.Form(jQuery('#pgf-new-thread-form'),
                                           { OnSuccess: function(form, data){
                                               location.href = data.data.thread_url;
                                           }
                                           });
});

</script>

{% endblock %}


{% block forum_content %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url('forum:feed') }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss форума">
      <img src="{{STATIC_CONTENT}}images/rss.png" style="margin: 2px;"/>
    </a>
    <a href="{{ url('forum:') }}">Форум</a><span class="divider">/</span>
  </li>
  <li><a href="{{ url('forum:subcategories:show', subcategory.id) }}">{{ subcategory.caption }}</a><span class="divider">/</span></li>
  <li class="active">новая тема</li>
</ul>

<form id="pgf-new-thread-form" method="post" action="{{ url('forum:subcategories:create-thread', subcategory.id) }}" class="new-post-form">

  {{ new_thread_form.errors_container }}

  <div class="post-content">
    {{ new_thread_form.caption.widget}}
  </div>

  {{ new_thread_form.text.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Создать"/>
  </div>

</form>

{% endblock %}
