{% extends "forum/base.html" %}

{% block title %}Новая тема | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newThreadForm = new pgf.forms.Form(jQuery('#pgf-new-thread-form'),
                                           { OnSuccess: function(form, data){
                                               location.href = data.data.thread_url;
                                           }
                                           });
    pgf.base.AddPreview('#pgf-new-thread-form', 'textarea', "{{ url('portal:preview') }}");

    pgf.base.InitBBFields('#pgf-new-thread-form');
});

</script>

{% endblock %}


{% block forum_content %}

<ul class="breadcrumb">
  <li><a href="{{ url('forum:') }}">Форум</a><span class="divider">/</span></li>
  <li><a href="{{ url('forum:subcategory', subcategory.slug) }}">{{ subcategory.caption }}</a><span class="divider">/</span></li>
  <li class="active">новая тема</li>
</ul>

<form id="pgf-new-thread-form" method="post" action="{{ url('forum:threads:create') }}?subcategory_id={{subcategory.id}}" class="new-post-form">

  {{ new_thread_form.errors_container }}

  <div class="post-content">
    {{ new_thread_form.caption.widget}}
  </div>

  <div class="pgf-edit-content">
    {{ new_thread_form.text.widget }}
  </div>
  <div class="pgf-preview-content pgf-hidden">
  </div>

  <div class="widget">
    <input type="submit" class="btn" value="Создать"/>
    <input type="button" class="btn pgf-preview-button" value="Предпросмотр"/>
    <input type="button" class="btn pgf-edit-button pgf-hidden" value="Редактировать"/>
  </div>

</form>

{% endblock %}
