{% extends "forum/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'forum/macros.html' as forum_macros with context %}

{% block title %}{{subcategory.caption}} | {{ super() }}{% endblock %}

{% block forum_content %}

<ul class="breadcrumb">
  <li><a href="{{ url('forum:') }}">Форум</a><span class="divider">/</span></li>
  <li class="active">{{ subcategory.caption }}</li>
</ul>

{{ base_macros.render_paginator(paginator) }}

<table class="table table-striped forum-table table-no-highlighting">
  <thead>
    <tr>
      <th class="caption">название</th>
      <th class="author">автор</th>
      <th class="posts-count">ответов</th>
      <th class="last-poster">последний</th>
      <th class="updated-at">обновлено</th>
    </tr>
  </thead>
  <tbody>
    {% for thread in threads %}
    <tr>
      {{ forum_macros.thread_record(thread) }}
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ base_macros.render_paginator(paginator) }}

{% if can_create_thread %}
<form action="{{ url('forum:threads:new')}}" method="get">
  <input type="hidden" name="subcategory" value="{{subcategory.slug}}" />
  <input type="submit" value="Добавить обсуждение" class="btn pgf-new-thread-button"/>
</form>
{% endif %}

{% endblock %}
