{% import 'macros.html' as base_macros with context %}

{% import 'accounts/macros.html' as accounts_macros with context %}

{% macro forum_paginator_line(thread_data, delete_thread_button=false, edit_thread_button=false) %}
  <div class="pagination pull-left">
    <ul>
      {% if thread_data.can_subscribe %}
      <li>
        {% if not thread_data.has_subscription %}
        <a href="{{ url('forum:threads:subscribe', thread_data.thread.id) }}" class="pgf-forms-post-simple">подписаться</a>
        {% else %}
        <a href="{{ url('forum:threads:unsubscribe', thread_data.thread.id) }}" class="pgf-forms-post-simple">отписаться</a>
        {% endif %}
      </li>
      {% endif %}

      {% if not thread_data.inline %}
      <li>
        {{ base_macros.addthis_short("Форум: "+ thread_data.thread.caption, '', url=full_url('http', 'forum:threads:show', thread_data.thread.id)) }}
      </li>
      {% endif %}

      {% if edit_thread_button and thread_data.can_change_thread %}
      <li><a href="{{ url('forum:threads:edit', thread.id) }}" class="pgf-change-thread-button">редактировать</a></li>
      {% endif %}

      {% if delete_thread_button and thread_data.can_delete_thread %}
      <li><a href="#" class="pgf-remove-thread-button">удалить</a></li>
      {% endif %}

      <li>
        <a href="{{url('guide:behavior-rules')}}" rel="tooltip" title="Правила поведения на форуме и в игре">
          правила форума
        </a>
      </li>

    </ul>
  </div>

  {{ base_macros.render_paginator(thread_data.paginator) }}

{% endmacro %}

{% macro thread_page(thread_data) %}

<div class="pgf-forum-block">

<script type="text/javascript">
jQuery(document).ready( function(e) {

    jQuery('.pgf-scroll-top').click(function(e){
        e.preventDefault();
        jQuery('html, body').scrollTop(0)
    });

    {% if resource.account.is_authenticated() %}
    {{  accounts_macros.personal_message_js() }}
    {% endif %}

    {% if thread_data.can_post %}
    var newPostForm = new pgf.forms.Form(jQuery('#pgf-new-post-form'),
                                         { OnSuccess: function(form, data){
                                             var oldUrl = location.href.split('#')[0];
                                             var newUrl = data.data.next_url.split('#')[0];
                                             location.href = data.data.next_url;
                                             if (oldUrl.indexOf(newUrl, oldUrl.length - newUrl.length) != -1 ||
                                                 newUrl.indexOf(oldUrl, newUrl.length - oldUrl.length) != -1) {
                                                 location.reload();
                                             }
                                         }
                                         });

    jQuery('.pgf-quote').click(function(e){
        e.preventDefault();

        var target = jQuery(e.currentTarget);

        var post = target.parents('.pgf-post').eq(0);

        var content = jQuery('.pgf-message', post);

        var text = content.html();
        var selectedText = undefined;

        if (window.getSelection) {
            selection = window.getSelection();
            if (selection.rangeCount > 0) {
                range = selection.getRangeAt(0);
                var clonedSelection = range.cloneContents();
                var div = document.createElement('div');
                div.appendChild(clonedSelection);
                selectedText = div.innerHTML;
            }
            else {
                selectedText = selection.toString()
            }
        }
        else {
            if (document.selection) {
                if (document.selection.createRange) {
                    selectedText = document.selection.createRange().htmlText;
                }
                else {
                    selectedText = document.selection.toString();
                }
            }
        }

        if (selectedText.length > 0) {
            text = selectedText;
        }

        text = text.replace(/^\s+/g, '');
        text = text.replace(/\s+$/g, '');
        text = pgf.base.HTMLToBBcode(text);

        text = '[b]'+ post.data('author-name') +'[/b]\r[quote]' + text + '\r[/quote]';

        var newPostInput = jQuery('#pgf-new-post-form #id_text');
        newPostInput.val(newPostInput.val() + text);

        jQuery('html, body').scrollTop(newPostInput.offset().top)
    });
    {% endif %}

    {% if thread_data.can_delete_posts or thread_data.has_post_on_page %}
    jQuery('.pgf-remove-post-button').click(function(e) {
        e.preventDefault();
        var deleteUrl = jQuery(e.target).data('delete-url');

        var DeleteRequest = function(e) {
            e.preventDefault();

            pgf.forms.Post({ action: deleteUrl,
                             OnSuccess: function(e){
                                 location.reload();
                             }
                           });
        };

        pgf.ui.dialog.Question({message: 'Вы действительно хотите это сообщение?',
                                title: 'Подтвердите удаление',
                                buttons: [{text: 'Удалить', classes: 'btn-danger', callback: DeleteRequest},
                                          {text: 'Отменить', classes: 'btn-success'}]
                               })
    });
    {% endif %}

    {% if thread_data.can_delete_thread %}
    jQuery('.pgf-remove-thread-button').click(function(e) {
        e.preventDefault();
        var DeleteRequest = function(e) {
            e.preventDefault();

            pgf.forms.Post({ action: "{{ url('forum:threads:delete', thread_data.thread.id) }}",
                             OnSuccess: function(e){
                                 location.href = "{{ url('forum:subcategories:show', thread_data.thread.subcategory.id) }}";
                             }
                           });
        };

        pgf.ui.dialog.Question({message: 'Вы действительно хотите удалить эту тему?',
                                title: 'Подтвердите удаление',
                                buttons: [{text: 'Удалить', classes: 'btn-danger', callback: DeleteRequest},
                                          {text: 'Отменить', classes: 'btn-success'}]
                               })
    });
    {% endif %}

});

</script>

  {% if thread_data.inline %}
  <br/><hr/><br/><h4>ОБСУЖДЕНИЕ</h4><br/>

  {% if thread_data.no_posts %}
  <p class="alert alert-info">
    {% if thread_data.can_post %}Напишите первый комментарий!
    {% else %}Нет комментариев.
    {% endif %}
  </p>
  {% endif %}
  {% endif %}

  {{ forum_paginator_line(thread_data, delete_thread_button=true, edit_thread_button=true) }}

<div>
  {% for post in thread_data.posts %}

  {% if loop.index==1 and thread_data.ignore_first_post %}{% continue %}{% endif %}

  {% set message_number = loop.index + thread_data.post_from %}

  {% set author = thread_data.authors[post.author_id] %}
  {% set game_object = thread_data.game_objects[post.author_id] %}

  {# give anchor to previous element, if we give anchor to current element#}
  <table class="post pgf-post" width="100%" data-author-name="{{author.nick_verbose}}">
    <thead>
      <tr>
        <td width="200px" class="info-head">
          <a href="{{url('accounts:show', author.id)}}">{{ author.nick_verbose }}</a>
          {% if author.clan %}
            <a href="{{url('accounts:clans:show', author.clan.id)}}">[{{author.clan.abbr}}]</a>
          {% endif %}
        </td>
        <td class="head">

          <div style="width: 3em;">
            <a href="#m{{post.id}}">#{{message_number}}</a>
            <div class="anchor" id="m{{post.id}}"></div>
          </div>

          <div class="pgf-format-datetime" data-timestamp="{{ post.created_at|timestamp}}"></div>

          {% if thread_data.can_post %}
          <a href="#" class="pgf-quote" style="font-size: 11pt;" rel="tooltip" title="цитировать">«»</a>
          {% endif %}

          <div style="float: right;">
            <a href="#" class="pgf-scroll-top">в начало ⇑</a>
          </div>

          {% if not (post.is_removed or post.technical) %}

            {% if resource.account.is_authenticated() and post.author_id != resource.account.id %}
            <div style="float: right;" class="pgf-complaint-button">
              <a href="{{forum_complaint_theme()}}">пожаловаться</a>
            </div>
            {% endif %}

            {% if (thread_data.can_delete_posts or author.id == resource.account.id) and (loop.index!=1 or thread_data.paginator.current_page_number!=0) %}
              <div style="float: right;">
                <a href="#" class="pgf-remove-post-button" data-delete-url="{{ url('forum:posts:delete', post.id) }}">удалить</a>
              </div>
            {% endif %}

            {% if thread_data.can_change_posts or author.id == resource.account.id %}
              <div style="float: right;">
                <a href="{{ url('forum:posts:edit', post.id) }}" class="pgf-change-post-button">правка</a>
              </div>
            {% endif %}

          {% endif %}

        </td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="info">
          {% if not author.is_system_user %}
            могущество: {{author.might|int}} <br/>

            {% if resource.account.is_authenticated() %}
              <a class="pgf-new-message" data-recipient="{{author.id}}" href="#">личное сообщение</a><br/>
            {% endif %}

            <br/>
            {{game_object.gender_verbose}}-{{game_object.race_verbose}}<br/>
            <a href="{{url('game:heroes:show', game_object.id)}}">{{game_object.name}}</a><br/>
            {{game_object.level}} уровня
          {% else %}
            системный пользователь
          {% endif %}
        </td>
        <td class="message pgf-message">
          {% if post.is_removed %}
            <span class="post-removed-message">
              {% if post.is_removed_by_author %}
                Сообщение удалено автором
              {% elif post.is_removed_by_thread_owner %}
                Соообщение удалено владельцем темы
              {% else %}
                Сообщение удалено модератором
              {% endif %}
            </span>
          {% else %}
            {{ post.html|safe }}
          {% endif %}

          {% if post.is_updated %}
            <div class="pgf-edit-time-message">
              <br/><br/>
              <hr/>
              <strong>Сообщение изменено <span class="pgf-format-datetime" data-timestamp="{{ post.updated_at|timestamp}}"></span></strong>
            </div>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  {% endfor %}

</div>

{% if not thread_data.no_posts %}
{{ forum_paginator_line(thread_data) }}
{% endif %}

{% if thread_data.can_post %}


<form action="{{ url('forum:threads:create-post', thread_data.thread.id) }}"
      method="post"
      id="pgf-new-post-form"
      class="new-post-form">

  {{ thread_data.new_post_form.errors_container }}

  {{ thread_data.new_post_form.text.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Ответить"/>
  </div>

</form>

{% endif %}

</div>

{% endmacro %}
