{% extends "forum/base.html" %}

{% macro render_pages() %}
<div class="pagination pagination-right">
  <ul>
      {% for page_number in pages_numbers %}
      {% if page_number == current_page_number %}
      <li class="active"><a>{{ page_number+1 }}</a></li>
      {% else %}
      <li><a href="{{ url('forum:show_thread', category.slug, subcategory.slug, thread.id) }}?page={{page_number+1}}">{{ page_number+1 }}</a></li>
      {% endif %}
      {% endfor %}
  </ul>
</div>
{% endmacro %}

{% block head %}
{{ super() }}
<script src="{{ STATIC_URL }}forum/base.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newPostForm = new pgf.forms.Form(jQuery('#pgf-new-post-form'),
                                         { OnSuccess: function(form, data){
                                             location.reload();
                                         }
                                         });

    pgf.base.AddPreview('#pgf-new-post-form', 'textarea', "{{ url('forum:preview') }}");
    pgf.forum.InitPostFields();
});

</script>

{% endblock %}


{% block forum_content %}

<ul class="breadcrumb">
  <li><a href="{{ url('forum:') }}">Форум</a><span class="divider">/</span></li>
  <li><a href="{{ url('forum:subcategory', category.slug, subcategory.slug) }}">{{ subcategory.caption }}</a><span class="divider">/</span></li>
  <li class="active">{{ thread.caption }}</li>
</ul>

{{ render_pages() }}

<ul class="unstyled">
  {% for post in posts %}
  {# give anchor to previous element, if we give anchor to current element#}
  {% set message_id = start_posts_from + loop.index%}
  <li class="post">
    <table class="table post-table table-striped table-no-highlighting">
      <tbody>
        <tr class="head">
          <td class="index"><a href="#m{{message_id}}" >#{{message_id}}</a><div class="anchor" id="m{{message_id}}"></div></td>
          <td class="author">{{ post.author.username }}</td>
          <td class="created-at pgf-format-time" data-timestamp="{{ post.created_at|timestamp}}"></td>
        </tr>

        <tr class="body">
          <td colspan="3">{{ post.html|safe }}</td>
        </tr>
      </tbody>
    </table>
  </li>
  {% endfor %}
</ul>

{{ render_pages() }}

{% if resource.account and not resource.account.is_fast %}
<form action="{{ url('forum:create_post', category.slug, subcategory.slug, thread.id) }}"
      method="post"
      id="pgf-new-post-form"
      class="new-post-form">

  {{ new_post_form.errors_container }}

  <div class="pgf-edit-content">
    {{ new_post_form.text.widget }}
  </div>

  <div class="pgf-preview-content pgf-hidden">
  </div>

  <div class="widget">
    <input type="submit" value="Ответить"/>
    <input type="button" class="pgf-preview-button" value="Предпросмотр"/>
    <input type="button" class="pgf-edit-button pgf-hidden" value="Редактировать"/>
  </div>

</form>
{% endif %}

{% endblock %}
