{% extends "forum/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'forum/macros.html' as forum_macros with context %}

{% block title %}Список обсуждений | {{ super() }}{% endblock %}
{% block description %}Список обсуждений на нашем форуме.{% endblock %}

{% block forum_content %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url('forum:feed') }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss форума">
      <img src="{{STATIC_CONTENT}}images/rss.png" style="margin: 2px;"/>
    </a>
    <a href="{{ url('forum:') }}">Форум</a><span class="divider">/</span>
  </li>
  <li>
    {% if author_account %}
    автор: {{author_account.nick_verbose}}
    {% endif %}

    {% if participant_account %}
    участник: {{participant_account.nick_verbose}}
    {% endif %}

  </li>
</ul>


{% if paginator.records_number %}

{{ base_macros.render_paginator(paginator) }}

<table class="table table-striped forum-table">
  <thead>
    <tr>
      {{ forum_macros.thread_record_heading() }}
    </tr>
  </thead>
  <tbody>
    {% for thread in threads %}
    <tr>
      {{ forum_macros.thread_record(thread, read_state) }}
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ base_macros.render_paginator(paginator) }}

{% else %}

<p>
  Обсуждения не найдены
</p>

{% endif %}

{% endblock %}
