{% extends "forum/base.html" %}

{% import 'forum/thread_page.html' as thread_page with context %}

{% block title %}{{ thread.caption }} страница {{thread_data.paginator.current_page_number + 1}} | {{thread.subcategory.caption}} | {{ super() }}{% endblock %}
{% block description %}{{thread_data.paginator.current_page_number+1}} страница обсуждения «{{ thread.caption }}».{% endblock %}

{% macro breadcrumb() %}
<ul class="breadcrumb">
  <li>
    <a href="{{ url('forum:feed') }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss форума">
      <img src="{{STATIC_CONTENT}}images/rss.png" style="margin: 2px;"/>
    </a>
    <a href="{{ url('forum:') }}">Форум</a><span class="divider">/</span>
  </li>
  <li><a href="{{ url('forum:subcategories:show', thread.subcategory.id) }}">{{ thread.subcategory.caption }}</a><span class="divider">/</span></li>
  <li class="active">{{ thread.caption }}</li>
</ul>
{% endmacro %}

{% block forum_content %}

{{ breadcrumb() }}

{{ thread_page.thread_page(thread_data) }}

{{ breadcrumb() }}

{% endblock %}
