{% import 'macros.html' as base_macros with context %}

{% macro forum_paginator_line(thread_data, delete_thread_button=false, edit_thread_button=false) %}
  <div class="pagination pull-left">
    <ul>
      {% if thread_data.can_subscribe %}
      <li>
        {% if not thread_data.has_subscription %}
        <a href="{{ url('forum:subscriptions:subscribe') }}?thread={{thread_data.thread.id}}" class="pgf-forms-post-simple">подписаться</a>
        {% else %}
        <a href="{{ url('forum:subscriptions:unsubscribe') }}?thread={{thread_data.thread.id}}" class="pgf-forms-post-simple">отписаться</a>
        {% endif %}
      </li>
      {% endif %}

      {% if not thread_data.inline %}
      <li>
        {{ base_macros.addthis_short("Форум: "+ thread_data.thread.caption, '', url=full_url('http', 'forum:threads:show', thread_data.thread.id)) }}
      </li>
      {% endif %}

      {% if edit_thread_button and thread_data.can_change_thread %}
      <li><a href="{{ url('forum:threads:edit', thread.id) }}" class="pgf-change-thread-button">редактировать</a></li>
      {% endif %}

      {% if delete_thread_button and thread_data.can_delete_thread %}
      <li><a href="#" class="pgf-remove-thread-button">удалить</a></li>
      {% endif %}

    </ul>
  </div>

  {{ base_macros.render_paginator(thread_data.paginator) }}

{% endmacro %}

{% macro thread_page(thread_data) %}

<div class="pgf-forum-block">

<script type="text/javascript">
jQuery(document).ready( function(e) {

    {% if thread_data.can_post %}
    var newPostForm = new pgf.forms.Form(jQuery('#pgf-new-post-form'),
                                         { OnSuccess: function(form, data){
                                             location.href = data.data.thread_url;
                                         }
                                         });
    {% endif %}

    {% if thread_data.can_delete_posts or thread_data.has_post_on_page %}
    jQuery('.pgf-remove-post-button').click(function(e) {
        e.preventDefault();
        var deleteUrl = jQuery(e.target).data('delete-url');

        var DeleteRequest = function(e) {
            e.preventDefault();

            pgf.forms.Post({ action: deleteUrl,
                             OnSuccess: function(e){
                                 location.reload();
                             }
                           });
        };

        pgf.ui.dialog.Question({message: 'Вы действительно хотите это сообщение?',
                                title: 'Подтвердите удаление',
                                buttons: [{text: 'Удалить', classes: 'btn-danger', callback: DeleteRequest},
                                          {text: 'Отменить', classes: 'btn-success'}]
                               })
    });
    {% endif %}

    {% if thread_data.can_delete_thread %}
    jQuery('.pgf-remove-thread-button').click(function(e) {
        e.preventDefault();
        var DeleteRequest = function(e) {
            e.preventDefault();

            pgf.forms.Post({ action: "{{ url('forum:threads:delete', thread_data.thread.id) }}",
                             OnSuccess: function(e){
                                 location.href = "{{ url('forum:subcategory', thread_data.thread.subcategory.slug) }}";
                             }
                           });
        };

        pgf.ui.dialog.Question({message: 'Вы действительно хотите удалить эту тему?',
                                title: 'Подтвердите удаление',
                                buttons: [{text: 'Удалить', classes: 'btn-danger', callback: DeleteRequest},
                                          {text: 'Отменить', classes: 'btn-success'}]
                               })
    });
    {% endif %}

});

</script>

  {% if thread_data.inline %}
  <br/><hr/><br/><h4>ОБСУЖДЕНИЕ</h4><br/>

  {% if thread_data.no_posts %}
  <p class="alert alert-info">
    {% if thread_data.can_post %}Напишите первый комментарий!
    {% else %}Нет комментариев.
    {% endif %}
  </p>
  {% endif %}
  {% endif %}

  {{ forum_paginator_line(thread_data, delete_thread_button=true, edit_thread_button=true) }}

<ul class="unstyled">
  {% for post in thread_data.posts %}

  {% if loop.index==1 and thread_data.ignore_first_post %}{% continue %}{% endif %}

  {# give anchor to previous element, if we give anchor to current element#}
  <li class="post">
    <table class="table post-table table-striped table-no-highlighting">
      <tbody>
        <tr class="head">
          <td class="index"><a href="#m{{post.id}}" >#{{post.id}}</a><div class="anchor" id="m{{post.id}}"></div></td>
          <td class="author">
            <a href="{{url('accounts:show', post.author.id)}}">{{ post.author.nick }}</a>
          </td>

          {% if not (post.is_removed or post.technical) %}

          {% if thread_data.can_change_posts or post.author.id == resource.account.id %}
          <td class="change-post">
            <a href="{{ url('forum:posts:edit', post.id) }}" class="pgf-change-post-button">правка</a>
          </td>
          {% endif %}

          {% if (thread_data.can_delete_posts or post.author.id == resource.account.id) and (loop.index!=1 or thread_data.paginator.current_page_number!=0) %}
          <td class="delete-post">
            <a href="#" class="pgf-remove-post-button" data-delete-url="{{ url('forum:posts:delete', post.id) }}">удалить</a>
          </td>
          {% endif %}

          {% endif %}

          <td class="created-at pgf-format-datetime" data-timestamp="{{ post.created_at|timestamp}}"></td>
        </tr>

        <tr class="body">
          <td colspan="5">
            {% if post.is_removed %}
            <span class="post-removed-message">
              {% if post.is_removed_by_author %}
              Сообщение удалено автором
              {% elif post.is_removed_by_thread_owner %}
              Соообщение удалено владельцем темы
              {% else %}
              Сообщение удалено модератором
              {% endif %}
            </span>
            {% else %}
            {{ post.html|safe }}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </li>
  {% endfor %}
</ul>

{% if not thread_data.no_posts %}
{{ forum_paginator_line(thread_data) }}
{% endif %}

{% if thread_data.can_post %}

<form action="{{ url('forum:posts:create', thread=thread_data.thread.id) }}"
      method="post"
      id="pgf-new-post-form"
      class="new-post-form">

  {{ thread_data.new_post_form.errors_container }}

  {{ thread_data.new_post_form.text.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Ответить"/>
  </div>

</form>
{% endif %}

</div>

{% endmacro %}
