{% extends "forum/base.html" %}

{% macro render_pages() %}
<span>
  <span>Страницы:</span>
  <span>
    {% for page_number in pages_numbers %}
    {% if page_number == current_page_number %}
    <span>{{ page_number+1 }}</span>
    {% else %}
    <a href="{{ url('forum:show_thread', category.slug, subcategory.slug, thread.id) }}?page={{page_number+1}}">{{ page_number+1 }}</a>
    {% endif %}
    {% endfor %}
  </span>
</span>
{% endmacro %}

{% block head %}
{{ super() }}
<script src="{{ STATIC_URL }}forum/base.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newPostForm = new pgf.forms.Form(jQuery('#pgf-new-post-form'),
                                         { OnSuccess: function(form, data){
                                             location.reload();
                                         }
                                         });

    pgf.base.AddPreview('#pgf-new-post-form', 'textarea', "{{ url('forum:preview') }}");
    pgf.forum.InitPostFields();
});

</script>

{% endblock %}


{% block forum_content %}

<div class="thread">

  <h2>
    <a href="{{ url('forum:subcategory', category.slug, subcategory.slug) }}">{{ subcategory.caption }}</a>::{{ thread.caption }}
  </h2>

  {{ render_pages() }}

  <ul>
    {% for post in posts %}
    <li class="post">
      <table>
        <tbody>
          <tr class="head">
            {% set message_id = start_posts_from + loop.index %}
            <td class="index"><a href="#m{{message_id}}" id="m{{message_id}}">#{{message_id}}</a></td>
            <td class="author">{{ post.author.username }}</td>
            <td class="created-at pgf-format-time" data-timestamp="{{ post.created_at|timestamp}}"></td>
          </tr>

          <tr class="body">
            <td colspan="3">{{ post.html|safe }}</td>
          </tr>
        </tbody>
      </table>
    </li>
    {% endfor %}
  </ul>

  {{ render_pages() }}

  {% if resource.account %}
  <form action="{{ url('forum:create_post', category.slug, subcategory.slug, thread.id) }}" 
        method="post" 
        id="pgf-new-post-form"
        class="block long new-post-form">

    {{ new_post_form.errors_container }}

    <div class="pgf-edit-content">
      {{ new_post_form.text.widget }}
    </div>

    <div class="pgf-preview-content pgf-hidden block">
    </div>

    <div class="widget">
      <input type="submit" value="Ответить"/>
      <input type="button" class="pgf-preview-button" value="Предпросмотр"/>
      <input type="button" class="pgf-edit-button pgf-hidden" value="Редактировать"/>
    </div>

  </form>
  {% endif %}

</div>

{% endblock %}
