
{% macro intro(map_button, action=none) %}

  <p>«Сказка» — браузерная многопользовательская игра, которая сочетает элементы <a href="{{url('guide:zpg')}}">Zero Player Game</a> — игры с минимальным участием игрока — и политического симулятора-песочницы.</p>
  <p>Игрок — <a href="{{url('guide:keepers')}}">дух-Хранитель</a> — взирает на мир со стороны и покровительствует бессмертному герою, который путешествует по просторам мира игры — Пандоры.</p>
  <p>Герой самостоятелен, не требует постоянного надзора и контроля. В зависимости от выбранных вами <a href="{{url('guide:hero-preferences')}}">предпочтений</a>, <a href="{{url('guide:hero-abilities')}}">способностей</a> и <a href="{{url('guide:hero-habits')}}">черт</a> он сам определяет в какой <a href="{{url('guide:cities')}}">город</a> пойти, <a href="{{url('guide:companions:')}}">с кем путешествовать</a>, какую <a href="{{url('guide:artifacts:')}}">экипировку</a> использовать, с какими <a href="{{url('guide:persons')}}">Мастерами</a> работать.</p>
  <p>Мастера — влиятельные жители Пандоры, которые выдают героям <a href="{{url('guide:quests')}}">задания</a>. Почти любое задание герой может выполнить в пользу или во вред Мастерам. Исход задания окажет влияние как на черты героя, формируя его характер, так и на глобальную ситуацию в мире игры.</p>
  <p>Таким образом, несмотря на отсутствие прямого контроля, от ваших решений зависит многое: от выбора экипировки героем и линии его поведения в заданиях, до строительства городов и <a href="{{url('guide:map')}}">изменения ландшафта</a>.</p>
  <p>«Сказка» не ставит перед Хранителями обязательных задач. Вы можете самостоятельно выбирать свои интересы: развитие героя, <a href="{{url('guide:politics')}}">политика</a>, изменение карты, создание новых артефактов, монстров, спутников, художественное описание приключений героя или глобальных событий Пандоры. Каждое из занятий предлагает уникальные вызовы и требует особых навыков.</p>
  <p>Благодаря минимальному требованию к трате времени и разнообразным занятиям, «Сказка» предоставляет игроку контроль над объёмом усилий и времени, которое тот вкладывает в игру.</p>

<div style="text-align: center">
  <a class="btn btn-success"
     href="{{ url('accounts:registration:create-hero') }}{% if action %}?action={{action}}{% endif %}"
     style="text-align: center; font-size: 14pt; padding: 0.5em;">
    Найти героя
  </a>

  {% if map_button %}
  <a class="btn btn-info"
     href="{{ url('game:map:') }}"
     style="text-align: center; font-size: 14pt; padding: 0.5em;">
    Карта мира
  </a>
  {% endif %}
</div>

{% endmacro %}
