{% extends "base.html" %}

{% block title %}Поиск | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Поиск на сайте.{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="easy-block">
      <h2>Поиск по сайту игры</h2>

    <script>
  (function() {
    var cx = '004836122893311428361:_nb8ecrsjmy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

    </div>
  </div>
</div>


{% endblock %}
