
export TT_ENV="prod"
export TT_VERSION="{{tt_version}}"
export TT_CONFIGS_ROOT="{{current_configs}}"
export TT_BACKUP_S3_BACKET="{{backup_aws_s3_backet}}"

export TT_DB_ROOT_PASSWORD="{{postgresql_password}}"

export TT_DATADOG_API_KEY="{{datadog_api_key}}"
export TT_DATADOG_POSTGRESQL_PASSWORD="{{datadog_postgres_password}}"

export TT_DOMAINS="{{tt_domain}} xsolla.{{tt_domain}} temp-informer.{{tt_domain}}"
