{% extends "market/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block head %}
{{ super() }}

<script>
  jQuery(document).ready(function(e){

      jQuery('.pgf-purchase-lot').click(function(e){
          e.preventDefault();

          var target = jQuery(e.target);

          var successMessage = target.data('success-message');

          var Operation = function() {
              pgf.forms.Post({ action: target.attr('href'),
                               OnSuccess: function(data){
                                   pgf.ui.dialog.Alert({message: successMessage,
                                                        title: 'Покупка прошла успешно',
                                                        OnOk: function(e){location.reload();}});
                                   return;
                               }
                             }); };

          pgf.ui.dialog.Question({message: jQuery('#'+target.data('dialog-id')).html(),
                                  title: 'Подтвердите покупку',
                                  buttons: [{text: 'Подтверждаю', classes: 'btn-success', callback: Operation},
                                            {text: 'Отмена', classes: 'btn-danger'}]});
      });

  });
</script>
{% endblock %}

{% block market_content %}

  {% if page_type == 'history' %}
    <p>История сделок за последний месяц.</p>
  {% elif page_type == 'own-lots' %}
    <p>Перечень лотов, выставленных Вами.</p>
  {% else %}
    <p>На рынке можно выставить на продажу свои Карты Судьбы или купить карты у других игроков.</p>
  {% endif %}


  <div class="accordion" id="pgf-help-accordion">

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-help-accordion" href="#pgf-templates-description">
          Правила торговли
        </a>
      </div>
      <div id="pgf-templates-description" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
          {% include "market/trade_rules.html" %}
        </div>
      </div>
    </div>



  {{ list_filter_macros.html_filter(index_filter) }}

  {% if lots %}

    {{ base_macros.render_paginator(paginator) }}

    <table class="table">
      <thead>
        <tr>
          <th>название</th>
          <th width="100px">цена</th>

          {% if page_type != 'history' %}
          <th width="150px">времени до окончания</th>
          {% endif %}

          {% if page_type not in ('history', 'own-lots') %}
          <th width="100px">операция</th>
          {% endif %}

          {% if page_type == 'history' %}
          <th width="150px">закрыт</a>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for lot in lots %}
          <tr>
            <td>{{lot.good.html_label()|safe}}</td>
            <td>{{lot.price}}</td>

            {% if page_type != 'history' %}
            <td><span>{{lot.time_to_end|verbose_timedelta}}</span></td>
            {% endif %}

            {% if page_type not in ('history', 'own-lots') %}
            <td>
              <a href="{{url('market:purchase', lot.id)}}"
                   class="pgf-purchase-lot"
                   data-dialog-id="pgf-purchase-dialog-{{lot.id}}"
                   data-success-message="Поздравляем! Вы успешно приобрели «{{lot.name}}»!">купить</a>
              <div class="pgf-hidden" id="pgf-purchase-dialog-{{lot.id}}">
                <div>
                  Вы уверены, что хотите купить {{lot.good.html_label()|safe}} за {{lot.price}} <img src="{{STATIC_URL}}images/cookies.png"></img> ?
                </div>
              </div>
            </td>
            {% endif %}

            {% if page_type == 'history' %}
              <td><span class="pgf-format-datetime" data-timestamp="{{lot.closed_at|timestamp}}"></span></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ base_macros.render_paginator(paginator) }}

  {% else %}

    <p class="pgf-no-lots-message alert alert-info">
      На продажу ничего не выставлено.
    </p>

  {% endif %}

{% endblock %}
