<ul>
  <li>Свойства слов приведены в описании <a href="{{url('linguistics:templates:specification')}}">формата шаблонов</a>.</li>
  <li>Обязательно ознакомьтесь с <a href="{{url('linguistics:how-add-phrase')}}">требованиями к фразам</a>.</li>
  <li>Пожалуйста, используйте эти кавычки: <code>«»</code>.</li>
  <li>Пожалуйста, используйте это тире: <code>—</code>.</li>
  <li><a href="{{linguistics_settings.EXAMPLES_URL}}">примеры добавления фраз</a></li>
  <li><a href="{{linguistics_settings.RULES_URL}}">подробные правила добавления фраз</a></li>
</ul>
