{% extends "base.html" %}

{% import 'news/macros.html' as news_macros with context %}
{% import 'portal/macros.html' as portal_macros with context %}
{% import 'chronicle/macros.html' as chronicle_macros with context %}
{% import 'portal/landing_intro.html' as landing_intro_macros with context %}

{% block title %}{{settings.PAGE_TITLE}}{% endblock %}
{% block description %}{{super()}}{% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript">
jQuery(document).ready(function(e){
    pgf.base.InitializeTabs('index-tabs', 'chronicle', [['.pgf-newspaper-news-button', 'news'],
                                                        ['.pgf-newspaper-chronicle-button', 'chronicle'],
                                                        ['.pgf-newspaper-statistics-button', 'statistics']]);
});
</script>
{% endblock %}


{% macro events_block(block) %}
  <div class="easy-block">
    <h4 class="newspaper-column-header">
      {{block.title}}

      {% if block.rss %}
        <a href="{{ block.rss }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss">
          <img src="{{STATIC_CONTENT}}images/rss.png" style="margin: 2px;"/>
        </a>
      {% endif %}

      {% if block.url %}
        <small><a href="{{ block.url }}">ещё…</a></small>
      {% endif %}
    </h4>

    {% if block.events %}
    <ul class="unstyled">
      {% for event in block.events %}
        <li class="newspaper-link-list">
          {% if event.is_today() %}
            <span class="newspaper-link-time">сегодня</span>
            <span class="pgf-format-time newspaper-link-time" data-timestamp="{{ event.date|timestamp }}"></span>
          {% elif event.is_yesterday() %}
            <span class="newspaper-link-time">вчера</span>
            <span class="pgf-format-time newspaper-link-time" data-timestamp="{{ event.date|timestamp }}"></span>
          {% else %}
            <span class="pgf-format-datetime newspaper-link-time" data-timestamp="{{ event.date|timestamp }}"></span>
          {% endif %}

          {% if event.initiator %}
            <span class="newspaper-user">{{event.initiator}}</span>
          {% endif %}

          {% if event.operation %}
            <span class="newspaper-operation">{{event.operation}}</span>
          {% endif %}

          <br/>
          {{ event.title }}&nbsp;<a style="font-size: 10pt;" href="{{ event.url }}">➔</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Нет сообщений</p>
    {% endif %}
    </div>
{% endmacro %}


{% block content %}

{% if first_time_visit %}
<div class="row" class="pgf-first-time-introduction">
  <div class="span12" style="min-height: 50px;">
    <div class="alert alert-info">

      {% set action = [none, 'no-time-header', 'sandbox-zpg'] | random %}

      <h2>
        {% if action is none %}
        Первый раз в Cказке?
        {% elif action == 'no-time-header' %}
        Нет времени на ММО? Тогда вам к нам!
        {% elif action == 'sandbox-zpg' %}
        Песочница-самоиграйка
        {% endif %}
        <small><a href="{{url('guide:game')}}">Узнайте больше про игру!</a></small>
      </h2>

    {{ landing_intro_macros.intro(map_button=true, action=action) }}

    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="span3" style="min-height: 50px;">&nbsp;</div>
  <div class="span6" style="text-align: center; min-height: 50px;">
    <h1 style="font-size: 40px; line-height: 50px;">Вестник Пандоры</h1>
  </div>
  <div class="span3" style="vertical-align: middle; min-height: 50px;">
    <h4 style="line-height: 50px;">Выпуск №{{get_edition_number()}}</h4>
  </div>
</div>

<div class="row">

  <div class="span3">
    {{ events_block(forum_common_block) }}

    {% if forum_clan_block %}
      {{ events_block(forum_clan_block) }}
    {% endif %}

    {% if forum_rpg_block %}
      {{ events_block(forum_rpg_block) }}
    {% endif %}

    {% if forum_games_block %}
      {{ events_block(forum_games_block) }}
    {% endif %}

  </div>

  <div class="span6">
    <div class="row">
      <div class="span6">
        <div class="easy-block">

          <ul class="nav nav-tabs" style="margin-top: -0.33em;">
            <li style="width: 33%;">
              <a href="#pgf-newspaper-news" class="pgf-newspaper-news-button" data-toggle="tab" style="color: rgb(51, 51, 51);">
                <h4 class="newspaper-column-header">новости</h4>
              </a>
            </li>
            <li style="width: 33%;" class="active">
              <a href="#pgf-newspaper-chronicle" class="pgf-newspaper-chronicle-button"  data-toggle="tab" style="color: rgb(51, 51, 51);">
                <h4 class="newspaper-column-header">события</h4>
              </a>
            </li>
            <li style="width: 33%;">
              <a href="#pgf-newspaper-statistics" class="pgf-newspaper-statistics-button" data-toggle="tab" style="color: rgb(51, 51, 51);">
                <h4 class="newspaper-column-header">статистика</h4>
              </a>
            </li>
          </ul>

          <div class="tab-content">

            <div class="tab-pane" id="pgf-newspaper-news">
              {% for record in news %}
              {% if loop.index > 1%}<hr style="margin: 1em;"/>{% endif %}
              {{ news_macros.news_record(record, center_captions=true) }}
              {% endfor %}

              <div>
                <a href="{{ url('news:feed') }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss новостей">
                  <img src="{{STATIC_CONTENT}}images/rss.png" style="margin: 2px;"/>
                </a>
                <a href="{{ url('news:') }}" style="vertical-align: middle;">ВСЕ НОВОСТИ…</a>
              </div>
            </div>

            <div class="tab-pane active" id="pgf-newspaper-chronicle">
              {{ chronicle_macros.records_list(chronicle_records) }}

              <div>
                <a href="{{ url('game:chronicle:') }}">ВСЕ СОБЫТИЯ…</a>
              </div>
            </div>

            <div class="tab-pane" id="pgf-newspaper-statistics">

              <h4 class="newspaper-column-header">Географический уголок</h4>
              <span style="font-size: 8pt;">Обзор географической ситуации любезно предоставлен Гоблинским Географическим Обществом.</span>
              {{ portal_macros.map_statistics(MAP_STATISTICS, map_info) }}

              <h4 class="newspaper-column-header">Политический обзор</h4>
              <span style="font-size: 8pt;">Политическая ситуация описана согласно данным полученным от ПандораСтат.</span>
              {{ portal_macros.race_statistics(RACE, map_info) }}

            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

  <div class="span3">

    <div class="easy-block" style="padding-top: 1em;">
      <h4 class="newspaper-column-header">
        Герой дня
        <i style="margin-top: 2px; cursor: pointer;"
           class="icon-info-sign"
           rel="tooltip"
           title="Герой дня случайно выбирается из активных игроков без подписки и получает подписку на месяц "></i>
      </h4>
      {% if hero_of_the_day %}
      <ul class="unstyled">
        <li>
          <h4>
            <a href="{{ url('game:heroes:show', hero_of_the_day.id) }}">{{ hero_of_the_day.name }}</a>
            <small>{{ hero_of_the_day.race_verbose}}</small>
          </h4>
        </li>
        <li><strong>уровень:</strong> {{ hero_of_the_day.level}}</li>
        <li><strong>физическая сила:</strong> {{ hero_of_the_day.power.physic }}</li>
        <li><strong>магическая сила:</strong> {{ hero_of_the_day.power.magic }}</li>
        <li><strong>хранитель:</strong> <a href="{{ url('accounts:show', account_of_the_day.id) }}">{{ account_of_the_day.nick_verbose}}</a></li>
        <li><strong>могущество:</strong> {{ hero_of_the_day.might }}</li>
        {% if clan_of_the_day %}
        <li><strong>гильдия:</strong> <a href="{{url('clans:show', clan_of_the_day.id)}}">{{clan_of_the_day.name}}</a></li>
        {% endif %}
        {% if hero_of_the_day.companion %}
        <li>
          <strong>спутник:</strong>
          <a href="{{url('game:companions:show', hero_of_the_day.companion.record.id)}}">
            {{hero_of_the_day.companion.name}}
          </a>
        </li>
        {% endif %}
      </ul>
      {% else %}
      Здесь может быть Ваша реклама.
      {% endif %}
    </div>

    {{ events_block(bills_block) }}
    {{ events_block(folclor_block) }}

  </div>

</div>

{% endblock %}
