
<h4>У нас есть живой мир</h4>
<p style="margin-left: 1em;">
  Мир игры постоянно меняется и никогда не замирает. На месте равнин появляются горы, засушливые пустыни сменяются болотами. Растут и угасают города, их жители борются за власть. И все это под влиянием игроков. Решите каким Вы хотите видеть этот мир и измените его.
</p>

<h4>обладающий живой историей</h4>
<p style="margin-left: 1em;">
  Историю делаете Вы. Все задания, которые получают герои, привязаны к текущей ситуации в мире, предоставляют возможность выбора и оказывают существенное влияние на развитие сюжета. От Ваших решений зависит кому будет принадлежать власть в городах и кто будет в них жить. Выберите любимый город и помогите ему стать жемчужиной этого мира.
</p>

<h4>и населённый живыми героями</h4>
<p style="margin-left: 1em;">
  Герои нашей Сказки — не бездушные марионетки. Они обладают волей и в состоянии действовать без Вашей указки. Вы же можете помогать им и подталкивать к нужным решениям, меняя характер своего подопечного. Кем он станет? Подлым магом? Миролюбивым воином? Решать Вам.
</p>

<div style="text-align: center">
  <a class="btn btn-success pgf-fast-registration"
     href="{{ url('accounts:registration:fast') }}"
     style="text-align: center; font-size: 14pt; padding: 0.5em;">
    Создать героя
  </a>
</div>
