{% extends "base.html" %}

{% import 'map/map.html' as map_macros with context %}
{% import 'portal/macros.html' as portal_macros with context %}

{% block title %}Регистрация | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Регистрация в игре{% endblock %}

{% block head %}
{{ super() }}

<script src="{{ STATIC_CONTENT }}game/data/constants.js" type="text/javascript"></script>
<script src="{{ STATIC_CONTENT }}game/widgets.js" type="text/javascript"></script>
<script src="{{ STATIC_CONTENT }}game/map/map2.js" type="text/javascript"></script>

{{portal_macros.fancybox_comix_head(".pgf-open-galery")}}

<script type="text/javascript">

var updater = undefined;
var widgets = {};

jQuery(document).ready(function(e){

    updater = new pgf.game.Updater({url: "{{ game_info_url() }}"});

    function RefreshData() {
        if (updater) {
            updater.Refresh();
        }
    }

    setTimeout(RefreshData, 0);
});

</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <h1>Сказка <small>многопользовательская Zero Player Game с изменяемым миром</small></h1>
  </div>
</div>

<div class="row">
  <div class="{% if landing_type == 'banal' %}span3{% else %}span6{% endif %}"
       style="text-align: justify;">
    <div class="easy-block">
      {% if landing_type == "banal" %}
      {% include "portal/landing_intro_banal.html" %}
      {% else %}
      {% include "portal/landing_intro.html" %}
      {% endif %}
    </div>
  </div>

  <div class="{% if landing_type == 'banal' %}span9{% else %}span6{% endif %}">
    <div class="easy-block">
      {% if landing_type == "legend" %}
      <a href="#" class="pgf-open-galery"><img style="border-radius: 10px;" src="{{STATIC_CONTENT}}images/intro_comix/00.gif"></a>
      {% else %}
      <h4><a href="{{url('guide:mobs:show', mob.id)}}" target="_blank">{{mob.name|up_first}}</a> <small>случайный монстр</small></h4>
      {{mob.description_html|safe}}
      {% endif %}
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="span12" id="pgf-map-container">
    {{map_macros.render_map(height=600, current_map_version=current_map_version)}}
  </div>
</div>


{% endblock %}
