{% extends "email.txt" %}

{% block title %}Создание нового обсуждения{% endblock %}
{% block description %}Создание нового обсуждения.{% endblock %}

{% block content %}

тема обсуждения: {{ thread.caption }}
<br/><br/>
<strong>{{post.author.nick_verbose}}</strong>:
<br/><br/>

{{ post.safe_html|safe }}

Обсуждение находится на странице: <a href="{{ absolute_url(post.thread.paginator.first_page_url) }}">{{ absolute_url(post.thread.paginator.first_page_url) }}</a><br/>

P.S. Вы получили это письмо, так как подписаны на новые темы в категории <a href="full_url('http', 'forum:subcategory:show', thread.subcategory.slug)">«{{thread.subcategory.caption}}»</a>
{% endblock %}
