
{% macro preference_record(item, choosen_id) %}
<td class="hero-preference-choise {% if item.id == choosen_id %}choosen{% endif %}">
  {% if item.id != choosen_id %}
  <a href="#" class="pgf-hero-preference-record" data-preference-id="{{ item.id }}">{{ item.name }}</a>
  {% else %}
  <a href="#" class="current-choice pgf-close-dialog">{{ item.name }}</a>
  {% endif %}
</td>
{% endmacro %}

<p>
  Мир Пандоры полон враждебных существ, в любой момент готовых напасть на неосторожного путника. Неприязнь, жажда наживы, боевые трофеи или может быть месть - что бы не руководило его поступками, но ваш герой считает это существо наиболее неприятным из всех них, и подлежащим истреблению.
</p>

<table class="table table-bordered table-striped table-condensed">
  {% for mob_left, mob_right in mobs %}
  <tr>
    {{ preference_record(mob_left, resource.hero.preferences.mob_id) }}
    {% if mob_right %}
    {{ preference_record(mob_right, resource.hero.preferences.mob_id) }}
    {% endif %}
  </tr>
  {% endfor %}
</table>
