
<div class="modal hide choose-hero-ability-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">
      {% if type == PREFERENCE_TYPE.ENERGY_REGENERATION_TYPE %}
      Выберите тип религиозности
      {% elif type == PREFERENCE_TYPE.MOB %}
      Выберите любимую добычу
      {% elif type == PREFERENCE_TYPE.PLACE %}
      Выберите родной город
      {% elif type == PREFERENCE_TYPE.FRIEND %}
      Выберите соратника
      {% elif type == PREFERENCE_TYPE.ENEMY %}
      Выберите противника
      {% elif type == PREFERENCE_TYPE.EQUIPMENT_SLOT %}
      Выберите слот экипировки
      {% endif %}
    </h3>
  </div>

  <div class="modal-body">

    {% if type == PREFERENCE_TYPE.ENERGY_REGENERATION_TYPE %}
    {% include "heroes/choose_preferences_energy_regeneration_type.html" with context %}

    {% elif type == PREFERENCE_TYPE.MOB %}
    {% include "heroes/choose_preferences_mob.html" with context %}

    {% elif type == PREFERENCE_TYPE.PLACE %}
    {% include "heroes/choose_preferences_place.html" with context %}

    {% elif type == PREFERENCE_TYPE.FRIEND %}
    {% set persons = friends %}
    {% set _is_friend = true %}
    {% set person_id = resource.hero.preferences.friend_id %}
    {% set person_place_id = resource.hero.preferences.friend.place_id if person_id %}
    {% include "heroes/choose_preferences_person.html" with context %}

    {% elif type == PREFERENCE_TYPE.ENEMY %}
    {% set persons = enemies %}
    {% set person_id = resource.hero.preferences.enemy_id %}
    {% set person_place_id = resource.hero.preferences.enemy.place_id if person_id %}
    {% include "heroes/choose_preferences_person.html" with context %}

    {% elif type == PREFERENCE_TYPE.EQUIPMENT_SLOT %}
    {% include "heroes/choose_preferences_equipment_slot.html" with context %}
    {% endif %}

  </div>

</div>
