{% macro preference_record(item, choosen_id) %}
<td class="hero-preference-choise {% if item == choosen_id %}choosen{% endif %}">
  {% if item != choosen_id %}
  <a href="#" class="pgf-hero-preference-record" data-preference-id="{{ item.value }}">{{ item.text }}</a>
  {% else %}
  <a href="#" class="current-choice pgf-close-dialog">{{ item.text }}</a>
  {% endif %}
</td>
{% endmacro %}

<p>
  Мага всегда можно узнать по колпаку, охотника по его луку, воина по кольчуге — встречают всех по одежке. Вы можете выбрать тип экипировки, за состоянием которой ваш герой будет следить в первую очередь, и при возможности стараться улучшить его качество.
</p>

<table class="table table-bordered table-striped table-condensed">
  {% for slot_left, slot_right in equipment_slots %}
  <tr>
    {{ preference_record(slot_left, resource.hero.preferences.equipment_slot) }}
    {% if slot_right %}
    {{ preference_record(slot_right, resource.hero.preferences.equipment_slot) }}
    {% endif %}
  </tr>
  {% endfor %}
</table>
