
{% macro preference_record(item, choosen) %}
<td class="hero-preference-choise {% if choosen and item.id == choosen.id %}choosen{% endif %}">
  <span class="badge" style="vertical-align: middle;" rel="tooltip" title="размер города">{{ item.size }}</span>
  {% if choosen is none or item.id != choosen.id %}
  <a href="#" class="pgf-hero-preference-record" data-preference-id="{{ item.id }}">{{ item.name }}</a>
  {% else %}
  <a href="#" class="current-choice pgf-close-dialog">{{ item.name }}</a>
  {% endif %}
</td>
{% endmacro %}

<p>
  Шумные ярмарки, людные улицы, веселые трактиры - они есть в любом городе, но этот особенно по душе вашему герою. Здесь живут его близкие друзья и соратники, сюда он возвращается отдохнуть, и набрать сил перед новыми приключениями.
</p>

<div class="pgf-scrollable tab-content" style="max-height: 360px; overflow-y: auto;">
  <table class="table table-bordered table-striped table-condensed">
    {% for place_left, place_right in places %}
    <tr>
      {{ preference_record(place_left, resource.hero.preferences.place) }}
      {% if place_right %}
      {{ preference_record(place_right, resource.hero.preferences.place) }}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
