
{% macro preference_record(religion_id, name, description) %}
  <dt>{{ name }}</dt>
  <dd>{{ description }}</dd>
{% endmacro %}

<p>
  Ваш герой знает что вы есть, что вы следите за ним и помогаете ему в его нелегком пути. Вам предоставляется возможность выбрать способ, которым герой будет проявлять веру в вас, и своими действиями восстанавливать вам энергию.
</p>

<dl>
  {{ preference_record(1, 'Молитва', 'Герой осознаёт свою слабость и с надеждой взывает к своему покровителю.') }}
  {{ preference_record(1, 'Жертвоприношение', 'Настоящий воин в состоянии позаботиться о себе, но всегда готов пожертвовать тело поверженного противника в благодарность за помощь свыше.') }}
  {{ preference_record(1, 'Благовония', 'Благовония позволяют героям избавиться от стресса и направить часть освобождённой энергии своему покровителю.') }}
  {{ preference_record(1, 'Символы', 'Герой должен делами прославлять своего хранителя! Трудолюбивые руки подопечного тянутся к любому достаточно большому камню, чтобы выбить на нём руны, восхваляющие ангела.') }}
  {{ preference_record(1, 'Медитация', 'Истинный мыслитель с помощью медитации может восстановить силы не только себе, но и своему покровителю.') }}
</dl>
