

{% macro preference_record(item, choosen_id) %}

<tr>
  <td class="hero-preference-choise {% if item.id == choosen_id %}choosen{% endif %}">
    {% if item.id not in (resource.hero.preferences.friend_id, resource.hero.preferences.enemy_id) %}
    <a href="#" class="pgf-hero-preference-record" data-preference-id="{{ item.id }}">{{ item.name }}</a>
    <small>{{item.race_verbose}}-{{item.type.text}}</small>
    {% else %}
    <a href="#" class="current-choice pgf-close-dialog">{{ item.name }}</a>
    <small>{{item.race_verbose}}-{{item.type.text}}</small>
    {% if item.id == resource.hero.preferences.friend_id %}<span class="label label-success">соратник</span>{% endif %}
    {% if item.id == resource.hero.preferences.enemy_id %}<span class="label label-important">противник</span>{% endif %}
    {% endif %}
  </td>
</tr>

{% endmacro %}

<p>
  {% if _is_friend %}
  Пусть ваш герой по сути своей и одиночка, но даже у него должны быть верные друзья и союзники. Ваш герой и выбранный вами соратник будут верными друзьями, помогающими друг другу в меру своих способностей.
  {% else %}
  У настоящего героя много друзей, но врагов у него не меньше. Выбранный вами персонаж будет восприниматься героем как противник, и все связанные с ним «действия», будут направленны на подрыв влияния неприятеля в обществе.
  {% endif %}
</p>

{% if resource.hero.preferences.friend_id is not none %}
<label><strong>ваш соратник:</strong> {{ resource.hero.preferences.friend.name }}, город {{resource.hero.preferences.friend.place.name}}</label>
{% endif %}

{% if resource.hero.preferences.enemy_id is not none %}
<label><strong>ваш противник:</strong> {{ resource.hero.preferences.enemy.name }}, город {{resource.hero.preferences.enemy.place.name}}</label>
{% endif %}

<label for="pgf-places-selector">Город</label>

<select id="pgf-places-selector">
  {% for place_id, place in all_places.items() %}
  <option value="{{place_id}}"
          {% if person_place_id == place_id %}selected='selected'
          {% endif %}>
    {{place.name}}
  </option>
  {% endfor %}
</select>


<label>Персонажи</label>

{% for place_id, place in all_places.items() %}
<table class="pgf-hidden place-table place-table-{{place_id}} table table-bordered table-striped table-condensed">
  <tbody>
    {% for person in persons %}
    {% if person.place_id == place_id %}
    {{ preference_record(person, person_id) }}
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endfor %}
