
{% macro preference_record(religion_id, name, description) %}
  <dt>
    {{name}}
    {% if religion_id == resource.hero.preferences.energy_regeneration_type %}
    <span class="label label-success">выбрано</span>
    {% else %}
    [<a href="#" class="pgf-hero-preference-record" data-preference-id="{{ religion_id }}">выбрать</a>]
    {% endif %}
  </dt>
  <dd style="margin-bottom: 0.75em;">{{ description }}</dd>
{% endmacro %}

<p>
  Ваш герой знает что вы есть, что вы следите за ним и помогаете ему в его нелегком пути. Вам предоставляется возможность выбрать способ, которым герой будет проявлять веру в вас, и своими действиями восстанавливать вам энергию.
</p>

<dl>
  {{ preference_record(c.ANGEL_ENERGY_REGENERATION_TYPES.PRAY, 'Молитва', 'Герой осознаёт свою слабость и с надеждой взывает к своему покровителю.') }}
  {{ preference_record(c.ANGEL_ENERGY_REGENERATION_TYPES.SACRIFICE, 'Жертвоприношение', 'Настоящий воин в состоянии позаботиться о себе, но всегда готов пожертвовать тело поверженного противника в благодарность за помощь свыше.') }}
  {{ preference_record(c.ANGEL_ENERGY_REGENERATION_TYPES.INCENSE, 'Благовония', 'Благовония позволяют героям избавиться от стресса и направить часть освобождённой энергии своему покровителю.') }}
  {{ preference_record(c.ANGEL_ENERGY_REGENERATION_TYPES.SYMBOLS, 'Символы', 'Герой должен делами прославлять своего хранителя! Трудолюбивые руки подопечного тянутся к любому достаточно большому камню, чтобы выбить на нём руны, восхваляющие ангела.') }}
  {{ preference_record(c.ANGEL_ENERGY_REGENERATION_TYPES.MEDITATION, 'Медитация', 'Истинный мыслитель с помощью медитации может восстановить силы не только себе, но и своему покровителю.') }}
</dl>
