{% macro preference_record(item, choosen_id, artifact) %}

  {% if artifact.rarity.is_NORMAL %}
    {% set artifact_template = '%s <span class="physic-label">%d</span> <span class="magic-label">%d</span>' %}
  {% elif artifact.rarity.is_RARE %}
    {% set artifact_template = '<span class="rare-artifact-label">%s</span> <span class="physic-label">%d</span> <span class="magic-label">%d</span>' %}
  {% elif artifact.rarity.is_EPIC %}
    {% set artifact_template = '<span class="epic-artifact-label">%s</span> <span class="physic-label">%d</span> <span class="magic-label">%d</span>' %}
  {% endif %}
  {% set artifact_text = artifact_template % (artifact.name, artifact.power.physic, artifact.power.magic ) %}

<td class="hero-preference-choise {% if item == choosen_id %}choosen{% endif %}">
  {% if item != choosen_id %}
  <a href="#" class="pgf-hero-preference-record" data-preference-id="{{ item.value }}">{{artifact_text|safe}}</a>
  {% else %}
  <a href="#" class="current-choice pgf-close-dialog">{{artifact_text|safe}}</a>
  {% endif %}
</td>
{% endmacro %}

<p>
  Со временем у каждого героя появляется любимая вещь. Это может быть как просто красивое кольцо, так и старый (но надёжный) меч, что не раз спасал владельцу жизнь. С такой вещью герой ни при каких обстоятельствах никогда и нигде не расстанется.
</p>

<table class="table table-bordered table-striped table-condensed">
  {% for slot, artifact in favorite_items.items() %}
  <tr>
    {{ preference_record(slot, resource.hero.preferences.favorite_item, artifact) }}
  </tr>
  {% endfor %}
</table>
