
<div class="modal hide choose-hero-ability-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">
      {% if type == PREFERENCE_TYPE.MOB %}
      Выберите любимую добычу
      {% elif type == PREFERENCE_TYPE.PLACE %}
      Выберите родной город
      {% endif %}
    </h3>
  </div>

  <div class="modal-body">

    {% if type == PREFERENCE_TYPE.MOB %}
    {% include "heroes/choose_preferences_mob.html" with context %}
    {% elif type == PREFERENCE_TYPE.PLACE %}
    {% include "heroes/choose_preferences_place.html" with context %}
    {% endif %}

  </div>

</div>
