

{% macro preference_record(item, choosen_id) %}

<td class="hero-preference-choise {% if item.id == choosen_id %}choosen{% endif %}">
  {% if item.id != choosen_id %}
  <a href="#" class="pgf-hero-preference-record" data-preference-id="{{ item.id }}">{{ item.name }}</a>
  {% else %}
  <span style="cursor: default">{{ item.name }}</span>
  {% endif %}
  (город: {{ all_places[item.place_id].name }})

</td>
{% endmacro %}

<p>
  {% if _is_friend %}
  Пусть ваш герой по сути своей и одиночка, но даже у него должны быть верные друзья и союзники. Ваш герой и выбранный вами соратник будут верными друзьями, помогающими друг другу в меру своих способностей.
  {% else %}
  У настоящего героя много друзей, но врагов у него не меньше. Выбранный вами персонаж будет восприниматься героем как противник, и все связанные с ним, будут направленны на подрыв влияния неприятеля в обществе.
  {% endif %}
</p>

<table class="table table-bordered table-striped table-condensed">
  {% for person_left, person_right in persons %}
  <tr>
    {{ preference_record(person_left, person_id) }}
    {% if person_right %}
    {{ preference_record(person_right, person_id) }}
    {% endif %}
  </tr>
  {% endfor %}
</table>
