{% import 'heroes/macros.html' as macros with context %}

<div class="modal hide choose-hero-ability-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">Выберите способность</h3>
  </div>

  <div class="modal-body">
    <p class="info">
      Судьба у героев непростая, поэтому выбор способностей ограничен. Все герои имеют способность «Удар». Кроме неё, герой может иметь {{c.ABILITIES_BATTLE_MAXIMUM-1}} боевых способностей, {{c.ABILITIES_NONBATTLE_MAXIMUM}} мирных и {{c.ABILITIES_COMPANION_MAXIMUM}} способностей для спутников. В свою очередь, из боевых способностей можно выбрать {{c.ABILITIES_ACTIVE_MAXIMUM-1}} активных и {{c.ABILITIES_PASSIVE_MAXIMUM}} пассивных.
    </p>
    <p>
      Позднее Вы сможете переучить Вашего героя, если сочтёте набор его способностей неудобным.
    </p>

    <h4>Способности:</h4>

    {% set abilities = resource.hero.abilities.get_for_choose() %}
    {{ macros.abilities_list(abilities) }}

{% if hero.abilities.can_rechoose_abilities_choices() %}
    <p class="alert alert-info">
      Вы можете изменить предлагаемы варианты, использовав карту «{{CARD_TYPE.CHANGE_ABILITIES_CHOICES.text}}».
    </p>
{% else %}
    <p class="alert alert-info">
      Вы не можете изменить предлагаемые варианты.
    </p>
{% endif %}

  </div>

</div>
