{% import 'heroes/macros.html' as macros with context %}

<div class="modal hide choose-hero-ability-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">Выберите способность</h3>
  </div>

  <div class="modal-body">
    <p class="info">
      Судьба у героев непростая, поэтому выбор способностей ограничен. Всего герой может иметь {{c.ABILITIES_BATTLE_MAXIMUM}} боевых способностей и {{c.ABILITIES_NONBATTLE_MAXUMUM}} небоевых. В свою очередь из боевых способностей можно выбрать {{c.ABILITIES_ACTIVE_MAXIMUM-1}} активных и {{c.ABILITIES_PASSIVE_MAXIMUM}} пассивных (одна активная способность, «Удар», даётся всем героям).
    </p>
    <p>
      Позднее Вы сможете переучить Вашего героя, если сочтёте набор его способностей неудобным.
    </p>

    <h4>Способности:</h4>

    {% set abilities = resource.hero.abilities.get_for_choose() %}
    {{ macros.abilities_list(abilities) }}

    <a class="btn pgf-forms-post-simple {% if not is_rechoose_purchasable %}disabled pgf-disabled{% else %}btn-info{% endif %}"
       data-confirmation="Вы уверены, что хотите купить <strong>«{{rechoose_hero_abilities.name}}»</strong>, потратив {{rechoose_hero_abilities.cost}} печенек?"
       data-success-message="Поздравляем с покупкой! <strong>(«{{rechoose_hero_abilities.name}}»)</strong>"
       data-action-type="event"
       data-success-event="pgf-reopen-abilities-dialog"
       href="{{url('accounts:payments:buy', purchase=rechoose_hero_abilities.uid)}}"
       style="font-size: 12pt;">
      Изменить предлагаемые варианты за {{rechoose_hero_abilities.cost}} <img src="{{ STATIC_CONTENT }}images/cookies.png"></img>
    </a>
  </div>

</div>
