
{% macro hero_equipment(block_id, data_mode, EQUIPMENT_SLOT) %}

<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.equipment = new pgf.game.widgets.Equipment('#{{block_id}}',
                                                       updater, widgets,
                                                       {dataMode: "{{data_mode}}"});

    jQuery('.pgf-equip-record').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        if (target.data('artifact-id') != undefined) {
            pgf.ui.dialog.Create({ fromUrl: pgf.urls['guide:artifacts:info'](target.data('artifact-id'))});
        }
    });

});
</script>

{% macro equip_record(slot) %}
  <tr class="equip-record pgf-equip-record pgf-slot-{{slot.value}}">
    <td width="20px"><i class="game-ui-icon {{slot.name|lower}}"></i></td>
    <td class="name pgf-name"></td>
    <td width="50px">
      <span class="power-container pgf-power-container pgf-hidden">
        <span class="pgf-physic-power power physic-label"></span> <span class="pgf-magic-power power magic-label"></span>
      </span>
    </td>
  </tr>
{% endmacro %}

<div id="{{block_id}}" class="hero-equipment-block">

  <table style="width: 100%; table-layout: fixed;">
    <tbody>
      {{ equip_record(EQUIPMENT_SLOT.HAND_PRIMARY) }}
      {{ equip_record(EQUIPMENT_SLOT.HAND_SECONDARY) }}
      {{ equip_record(EQUIPMENT_SLOT.HELMET) }}
      {{ equip_record(EQUIPMENT_SLOT.AMULET) }}
      {{ equip_record(EQUIPMENT_SLOT.SHOULDERS) }}
      {{ equip_record(EQUIPMENT_SLOT.PLATE) }}
      {{ equip_record(EQUIPMENT_SLOT.GLOVES) }}
      {{ equip_record(EQUIPMENT_SLOT.CLOAK) }}
      {{ equip_record(EQUIPMENT_SLOT.PANTS) }}
      {{ equip_record(EQUIPMENT_SLOT.BOOTS) }}
      {{ equip_record(EQUIPMENT_SLOT.RING) }}
    </tbody>
  </table>

</div>

{% endmacro %}
