
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.bag = new pgf.game.widgets.Bag('#hero-bag-block',
                                           updater, widgets,
                                           {});

});
</script>

<div id="hero-bag-block">

  <ul class="unstyled pgf-bag-container">
    <li class="bag-record pgf-template">
      <i class="icon-star pgf-hidden pgf-quest-item-marker" rel="tooltip" title="предмет для задания"></i>
      <span class="name pgf-name"></span>
      <span class="power-container pgf-power-container">+<span class="pgf-power power"></span></span>
    </li>
  </ul>

</div>
