
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.equipment = new pgf.game.widgets.Equipment('#hero-equipment-block',
                                                       updater, widgets,
                                                       {});

});
</script>

<div id="hero-equipment-block">

  <div class="equip-record pgf-hand_primary">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/main-hand.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record pgf-hand_secondary">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/off-hand.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record pgf-helmet">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/helmet.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record  pgf-amulet">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/amulet.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record pgf-shoulders">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/shoulders.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record pgf-plate">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/plate.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record pgf-gloves">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/gloves.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record pgf-cloak">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/cloak.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record pgf-pants">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/pants.png"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record pgf-boots">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/boots.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record pgf-ring-first">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/ring-first.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

  <div class="equip-record pgf-ring-second">
    <img class="icon" src="{{ STATIC_URL }}/game/images/equip/ring-second.gif"/>
    <span class="name pgf-name"></span>
    <span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span>
  </div>

</div>
