
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.bag = new pgf.game.widgets.Bag('#hero-bag-block',
                                           updater, widgets,
                                           {});

    jQuery('.pgf-bag-record').live('click', function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        pgf.ui.dialog.Create({ fromUrl: pgf.urls['guide:artifacts:info'](target.data('artifact-id'))});
    });

});
</script>

<div id="hero-bag-block">

  <a href="#" class="angel-ability pgf-ability-drop_item pgf-hidden" style="display: inline-block;">
    <i class="icon-tint" rel="tooltip" title="недостаточно энергии"></i>
    <i class="icon-bell" rel="tooltip" title="рюкзак героя пуст, выбросить нечего"></i>
    <span rel="tooltip" title="Выбросить из рюкзака самый ненужный предмет">ВЫБРОСИТЬ ПРЕДМЕТ</span>
  </a>

  <br/>

  <ul class="unstyled pgf-bag-container">
    <li class="bag-record pgf-template pgf-bag-record">
      <i class="icon-star pgf-hidden pgf-quest-item-marker" rel="tooltip" title="предмет для задания"></i>
      <span class="name pgf-name"></span>
      <span class="power-container pgf-power-container">+<span class="pgf-power power"></span></span>
      <span class="count-container pgf-count-container">(x<span class="pgf-count count"></span>)</span>
    </li>
  </ul>





</div>
