{% extends "base.html" %}

{% import 'heroes/hero_short.html' as hero_short_macros with context %}
{% import 'heroes/hero_equipment.html' as hero_equipment_macros with context %}
{% import 'game/macros.html' as game_macros with context %}

{% block title %}Страница героя | {{ super() }}{% endblock %}
{% block description %}Информация о {{resource.hero.name}} — герое {{resource.hero.level}} уровня{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ STATIC_CONTENT }}game/data/constants.js" type="text/javascript"></script>
<script src="{{ STATIC_CONTENT }}game/widgets.js" type="text/javascript"></script>

<script type="text/javascript">

var updater = undefined;
var widgets = {};

jQuery(document).ready(function(e){

    updater = new pgf.game.Updater({url: "{{ game_info_url(master_account) }}"});

    setTimeout(function(){
        updater.Refresh({% if is_owner %}true{% else %}false{% endif %});
    }, 0);

    pgf.base.InitializeTabs('hero-tab-main', 'attributes', [['.pgf-attributes-tab-button', 'attributes'],
                                                            ['.pgf-statistics-tab-button', 'statistics'],
                                                            ['.pgf-settings-tab-button', 'settings']]);

    pgf.base.ToggleWait(jQuery(".pgf-hero-data-wait"), true);
});

</script>

{% endblock %}

{% block content %}


{{ game_macros.hero_wait_message() }}

<div id="hero-page-content" class="row pgf-game-data pgf-hidden">

  <div class="span3">

    {{ hero_short_macros.hero_short("hero-short-data", is_owner, false, master_account=master_account, clan=master_clan) }}

    <div class="block">
      {{ hero_equipment_macros.hero_equipment("hero-equipment", data_mode="pve", EQUIPMENT_SLOT=EQUIPMENT_SLOT) }}
    </div>
  </div>

  <div class="span8">

    <ul class="nav nav-tabs">
      <li class=""><a href="#pgf-attributes-container" class="pgf-attributes-tab-button" data-toggle="tab">Атрибуты</a></li>
      <li class=""><a href="#pgf-statistics-container" class="pgf-statistics-tab-button" data-toggle="tab">Статистика</a></li>
      {% if is_owner %}
      <li class="">
        <a href="#pgf-settings-container" class="pgf-settings-tab-button" data-toggle="tab">
          Настройки {% if not resource.hero.settings_approved %}<span class="label label-important pgf-settings-approved-warning">подтвердите параметры героя</span>{% endif %}
        </a>
      </li>
      {% endif %}

      {% if resource.can_moderate_heroes %}
      <li class=""><a href="#pgf-moderation-container" class="pgf-moderation-tab-button" data-toggle="tab">Модерация</a></li>
      {% endif %}
    </ul>

    <div class="row tab-content">
      <div class="tab-pane" id="pgf-attributes-container">

        <div class="span4">
          {% include "heroes/hero_abilities.html" with context %}
        </div>

        <div class="span4">
          {% include "heroes/hero_character.html" with context %}
        </div>
      </div>

      <div class="tab-pane" id="pgf-statistics-container">
        <div class="span8">
          {% include "heroes/hero_statistics.html" with context %}
        </div>
      </div>

      {% if is_owner %}
      <div class="tab-pane" id="pgf-settings-container">
        <div class="span8">
          {% include "heroes/hero_settings.html" with context %}
        </div>
      </div>
      {% endif %}

      {% if resource.can_moderate_heroes %}
      <div class="tab-pane" id="pgf-moderation-container">
        <div class="span8">
          <h3>Сброс имени героя</h3>

          <a class="btn btn-success pgf-forms-post-simple"
             href="{{ url('game:heroes:reset-name', resource.hero.id) }}"
             data-confirmation="Вы действительно хотите сбросить имя героя?">сбросить имя</a>

        </div>
      </div>
      {% endif %}

    </div>

  </div>

</div>

{% endblock %}
