<div class="block hero-statistics">
  <ul class="unstyled">
    <li class="stat-record"><span class="name">начало путешествия</span><span class="value">{{ resource.hero.birthday.verbose_date }}</span></li>
    <li class="stat-record"><span class="name">длительность путешествия (лет)</span><span class="value">{{ resource.hero.age.year }}</span></li>
  </ul>

  <h3>Сражения</h3>
  <ul class="unstyled">
    <li class="stat-record"><span class="name">смертей от монстров</span><span class="value">{{ resource.hero.statistics.pve_deaths }}</span></li>
    <li class="stat-record"><span class="name">убито монстров</span><span class="value">{{ resource.hero.statistics.pve_kills }}</span></li>
    <li class="stat-record"><span class="name">pvp: проведено боёв</span><span class="value">{{ resource.hero.statistics.pvp_battles_1x1_number }}</span></li>
    <li class="stat-record"><span class="name">pvp: побед</span><span class="value">{{ resource.hero.statistics.pvp_battles_1x1_victories }}</span></li>
    <li class="stat-record"><span class="name">pvp: в ничью</span><span class="value">{{ resource.hero.statistics.pvp_battles_1x1_draws }}</span></li>
    <li class="stat-record"><span class="name">pvp: поражений</span><span class="value">{{ resource.hero.statistics.pvp_battles_1x1_defeats }}</span></li>
  </ul>

  <h3>Золото</h3>
  <ul class="unstyled">
    <li class="stat-record">
      <span class="name">всего заработано</span><span class="value">{{ resource.hero.statistics.money_earned }}</span>
    </li>
    <li class="stat-record">
      <span class="name">заработано продажей добычи</span><span class="value">{{ resource.hero.statistics.money_earned_from_loot }}</span>
    </li>
    <li class="stat-record">
      <span class="name">заработано продажей артефактов</span><span class="value">{{ resource.hero.statistics.money_earned_from_artifacts }}</span>
    </li>
    <li class="stat-record">
      <span class="name">заработано выполнением квестов</span><span class="value">{{ resource.hero.statistics.money_earned_from_quests }}</span>
    </li>
    <li class="stat-record">
      <span class="name">заработано чертами</span><span class="value">{{ resource.hero.statistics.money_earned_from_habits }}</span>
    </li>
    <li class="stat-record">
      <span class="name">получено от хранителя</span><span class="value">{{ resource.hero.statistics.money_earned_from_help }}</span>
    </li>
    <li class="stat-record">
      <span class="name">всего потрачено</span><span class="value">{{ resource.hero.statistics.money_spend }}</span>
    </li>
    <li class="stat-record">
      <span class="name">потрачено на лечение</span><span class="value">{{ resource.hero.statistics.money_spend_for_heal }}</span>
    </li>
    <li class="stat-record">
      <span class="name">потрачено на покупку артефактов</span><span class="value">{{ resource.hero.statistics.money_spend_for_artifacts }}</span>
    </li>
    <li class="stat-record">
      <span class="name">потрачено на заточку артефактов</span><span class="value">{{ resource.hero.statistics.money_spend_for_sharpening }}</span>
    </li>
    <li class="stat-record">
      <span class="name">потрачено на починку экипировки</span><span class="value">{{ resource.hero.statistics.money_spend_for_repairing }}</span>
    </li>
    <li class="stat-record">
      <span class="name">потрачено на пошлину</span><span class="value">{{ resource.hero.statistics.money_spend_for_tax }}</span>
    </li>
    <li class="stat-record">
      <span class="name">потрачено на изменение влияния</span><span class="value">{{ resource.hero.statistics.money_spend_for_impact }}</span>
    </li>
    <li class="stat-record">
      <span class="name">потрачено на обучение</span><span class="value">{{ resource.hero.statistics.money_spend_for_experience }}</span>
    </li>
    <li class="stat-record">
      <span class="name">потрачено без пользы</span><span class="value">{{ resource.hero.statistics.money_spend_for_useless }}</span>
    </li>
  </ul>
  <h3>Прочее</h3>
  <ul class="unstyled">
    <li class="stat-record"><span class="name">артефактов добыто</span><span class="value">{{ resource.hero.statistics.artifacts_had }}</span></li>
    <li class="stat-record"><span class="name">добычи получено</span><span class="value">{{ resource.hero.statistics.loot_had }}</span></li>
    <li class="stat-record"><span class="name">заданий выполнено</span><span class="value">{{ resource.hero.statistics.quests_done }}</span></li>
    <li class="stat-record"><span class="name">получал помощь (раз)</span><span class="value">{{ resource.hero.statistics.help_count }}</span></li>
  </ul>
</div>
