{% import 'heroes/macros.html' as macros with context %}


<script type="text/javascript">
jQuery(document).ready(function(e){

    {% if is_owner %}

    jQuery('#choose-ability-button').click(function(){
        pgf.ui.dialog.Create({ fromUrl: pgf.urls['game:heroes:choose_ability_dialog']({{ resource.hero.id }}),
                               OnOpen: function(dialog) {
                                   jQuery('[rel="tooltip"]', dialog).tooltip(pgf.base.tooltipsArgs);
                                   jQuery('.pgf-hero-ability-record', dialog).click(function(e){
                                       e.preventDefault();

                                       var el = jQuery(e.currentTarget);

                                       pgf.forms.Post({ action: pgf.urls['game:heroes:choose_ability']({{ resource.hero.id }}, el.data('ability-id')),
                                                        OnSuccess: function(data) { location.reload(); }
                                                      });

                                   });
                               },
                               OnClose: function(dialog) {
                                   pgf.base.HideTooltips(dialog);
                               }
                             });
    });

    {% endif %}

});

</script>

<div class="block">
  <h2 style="cursor: default;">Способности</h2>

  {% if is_owner %}

  {% if resource.hero.can_choose_new_ability  %}
  <div id="choose-ability-button" class="alert fade in pgf-choose-ability-button">
    {{ resource.hero.name }} может выучить новую способность. <br/>
    Нажмите на это сообщение что бы выбрать её.
  </div>
  {% else %}
  <div class="alert alert-info fade in pgf-choose-ability-button">
    {{ resource.hero.name }} cможет улучшить свои боевые навыки на уровне {{ resource.hero.next_battle_ability_point_lvl }} и небоевые на уровне {{ resource.hero.next_nonbattle_ability_point_lvl }}
  </div>
  {% endif %}

  {% endif %}

  <h4>Боевые активные</h4>

  {{ macros.abilities_list(battle_active_abilities) }}

  <h4>Боевые пассивные</h4>

  {{ macros.abilities_list(battle_passive_abilities) }}

  <h4>Небоевые</h4>

  {{ macros.abilities_list(nonbattle_abilities) }}
</div>
