
{% import 'linguistics/words/macros.html' as words_macros with context %}

<script type="text/javascript">
jQuery(document).ready( function(e) {

    var editForm = new pgf.forms.Form(jQuery('#pgf-edit-hero-form'),
                                               {OnSuccess: function(instance, data){location.reload();}});

});

</script>


<div class="block hero-statistics">

  <h2 style="cursor: default;">Формы имени</h2>

  <form id="pgf-edit-hero-form" method="post" action="{{ url('game:heroes:change-hero', resource.hero.id) }}">

  {{ edit_name_form.errors_container }}

  {{ edit_name_form.race.widget }}

  {{ edit_name_form.gender.widget }}

  {{words_macros.render_word(name_drawer, show_properties=false, show_patches=false)}}

  <div class="widget">
    <input type="submit" class="btn" value="Сохранить"/>
  </div>

</div>
