
{% macro hero_short(block_id, is_owner, show_hero_link, master_account=none, health_bar=true, data_mode='pve') %}

<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.heroes = new pgf.game.widgets.Hero("#{{block_id}}", updater, widgets, {dataMode: "{{data_mode}}"});
});
</script>

<div id="{{block_id}}" class="block hero-base-block" style="cursor: default;">

  <h3 class="" style="">
    <small class="pgf-hidden pgf-race-gender" style="vertical-align: bottom; line-height: 0px; display: block;">
      <span class="pgf-gender"></span>-<span class="pgf-race"></span>
    </small>
    <span class="badge pgf-level hero-level" style="vertical-align: middle;" rel="tooltip" title="уровень героя"></span>

    {% if show_hero_link %}
    <a href="" class="pgf-hero-page-link pgf-name" style="vertical-align: middle;"></a>
    {% else %}
    <span href="" class="pgf-name" style="vertical-align: middle;"></span>
    {% endif %}

    {% if is_owner %}
    <a href="" class="badge pgf-free-destiny-points free-destiny-points pull-right pgf-hidden"  rel="tooltip" title="доступна новая способность"><i class="icon-arrow-up"></i></a>
    {% endif %}
  </h3>

  {% if health_bar %}
  <div class="record-with-progress" rel="tooltip" title="здоровье героя">
    <img src="{{ STATIC_URL }}game/images/attrs/hp.png"/>
    <div class="progress progress-danger" style="">
      <div class="bar pgf-health-percents"></div>
    </div>
    <span class="text-values"><span class="pgf-health"></span>/<span class="pgf-max-health"></span></span>
  </div>
  {% endif %}

  {% if is_owner %}
  <div class="record-with-progress" rel="tooltip" title="опыта до следующего уровня">
    <img src="{{ STATIC_URL }}game/images/attrs/exp.png"/>
    <div class="progress progress-warning" style="">
      <div class="bar pgf-experience-percents"></div>
    </div>
    <span class="text-values"><span class="pgf-experience"></span>/<span class="pgf-experience-to-level"></span></span>
  </div>

  <div class="record-with-progress" rel="tooltip" title="запас энергии (примерно +{{ (c.ANGEL_ENERGY_REGENERATION_AMAUNT/c.ANGEL_ENERGY_REGENERATION_TIME)|int}} в час)">
    <img src="{{ STATIC_URL }}game/images/attrs/energy.png"/>
    <div class="progress progress-info" style="">
      <div class="bar pgf-energy-percents"></div>
    </div>
    <span class="text-values"><span class="pgf-energy"></span>/<span class="pgf-max-energy"></span></span>
  </div>
  {% endif %}

  <div>

    {% if not is_owner and not health_bar %}
    <div class="attribute-record" rel="tooltip" title="здоровье">
      <img src="{{ STATIC_URL }}game/images/attrs/hp.png"/>
      <span class="pgf-max-health"></span>
    </div>
    {% endif %}

    <div class="attribute-record pgf-might-record">
      <img src="{{ STATIC_URL }}game/images/attrs/might.gif"/>
      <span class="pgf-might value"></span>
    </div>

    <div class="attribute-record" rel="tooltip" title="сила">
      <img src="{{ STATIC_URL }}game/images/attrs/damage.png"/>
      <span class="pgf-power value"></span>
    </div>

    {% if is_owner %}
    <div class="attribute-record" rel="tooltip" title="собранное золото">
      <img src="{{ STATIC_URL }}game/images/attrs/gold.png"/>
      <span class="pgf-money"></span>
    </div>
    {% endif %}

  </div>

  {% if master_account and not is_owner %}
  <div>
    <strong>покровитель:</strong> <a href="{{ url('accounts:show', master_account.id) }}">{{master_account.nick}}</a>
  </div>
  {% endif %}


  <div id="pgf-might-tooltip" class="pgf-hidden">
    могущество <br/>
    (вероятность критического эффекта помощи: <span class="pgf-might-crit-chance"></span>%)
  </div>

</div>


{% endmacro %}
