
<script type="text/javascript">

jQuery(document).ready(function(e){

  {% if is_owner %}
    jQuery('.pgf-choose-preference-button').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var url = target.attr('href');
        var preferenceType = target.data('preference-type')
        pgf.ui.dialog.Create({ fromUrl: url,
                               OnOpen: function(dialog) {
                                   jQuery('.pgf-hero-preference-record', dialog).click(function(e){
                                       e.preventDefault();

                                       var actionUrl = "{{ url('game:heroes:choose-preferences', resource.hero.id) }}";
                                       var preferenceId = jQuery(e.currentTarget).data('preference-id');

                                       pgf.forms.Post({ action: actionUrl,
                                                        data: {preference_id: preferenceId,
                                                               preference_type: preferenceType },
                                                        OnSuccess: function(data) { location.reload(); }
                                                      });
                                   });

                                   jQuery("#pgf-places-selector", dialog).change(function(){
                                       var placeId = jQuery("#pgf-places-selector").val();
                                       jQuery('.place-table').toggleClass('pgf-hidden', true);
                                       jQuery('.place-table-'+placeId).removeClass('pgf-hidden');
                                   });

                                   var placeId = jQuery("#pgf-places-selector", dialog).val();
                                   jQuery('.place-table-'+placeId, dialog).removeClass('pgf-hidden');
                               }
                             });
    });

    jQuery('.pgf-remove-preference-button').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var preferenceType = target.data('preference-type')
        var actionUrl = "{{ url('game:heroes:choose-preferences', resource.hero.id) }}";

        var DeleteRequest = function() {
            pgf.forms.Post({ action: actionUrl,
                             data: {preference_type: preferenceType},
                             OnSuccess: function(data) { location.reload(); }
                           });
        }

        pgf.ui.dialog.Question({message: 'Вы уверены, что хотите удалить предпочтение?<br/>Его можно изменять только раз в {{ PREFERENCES_CHANGE_DELAY|verbose_timedelta }}.',
                                title: 'Подтвердите удаление предпочтения',
                                buttons: [{text: 'Удалить', classes: 'btn-danger', callback: DeleteRequest},
                                          {text: 'Отменить', classes: 'btn-success'}]
                               });
    });

{% endif %}

    jQuery(document).bind(pgf.game.events.DATA_REFRESHED, function(e, game_data){
        var data = game_data.account.hero;
        jQuery('#pgf-attributes-container .pgf-habit-honor-raw').text(Math.round(data.habits.honor.raw*100)/100);
        jQuery('#pgf-attributes-container .pgf-habit-honor-verbose').text(data.habits.honor.verbose);

        jQuery('#pgf-attributes-container .pgf-habit-peacefulness-raw').text(Math.round(data.habits.peacefulness.raw*100)/100);
        jQuery('#pgf-attributes-container .pgf-habit-peacefulness-verbose').text(data.habits.peacefulness.verbose);
    });


});

</script>

{% macro preferences_record(type, current_time, value) -%}

  {% set time_before_update = resource.hero.preferences.time_before_update(type, current_time) %}

  <li class="hero-preferences-record">
    <strong>{{ type.text }}:</strong>
    <br/>
    <span class="" style="margin-left: 2em;">
      {% if type.purchase_type in master_account.permanent_purchases or resource.hero.level >= type.level_required %}

        {% if value %}
          {{value}}
        {% else %}

          {% if is_owner and time_before_update.total_seconds() == 0 %}
            <a class="pgf-choose-preference-button"
               href="{{ url('game:heroes:choose-preferences-dialog', resource.hero.id) }}?type={{type.value}}"
               data-preference-type="{{ type }}">
               выбрать
            </a>
          {% else %}
            нет
          {% endif %}
        {% endif %}

        {% if is_owner %}

          {% if time_before_update.total_seconds() == 0 %}

            {% if value %}

              {% if type.nullable %}
                <a class="pgf-remove-preference-button pull-right" href="#" data-preference-type="{{ type }}" style="margin-left: 5px;" rel="tooltip" title="удалить">
                  <i class="icon-trash"></i>
                </a>
              {% endif %}

              <a class="pgf-choose-preference-button pull-right"
                 href="{{ url('game:heroes:choose-preferences-dialog', resource.hero.id) }}?type={{type.value}}"
                 data-preference-type="{{ type }}"
                 rel="tooltip" title="редактировать">
                 <i class="icon-pencil"></i>
              </a>
            {% endif %}

          {% else %}
            <i class="icon-time pull-right"
               rel="tooltip"
               title="Предпочтение можно будет изменить через {{ time_before_update|verbose_timedelta }}. <br/> Вы можете обнулить задержку, купив сброс этого предпочтения в магазине.">
            </i>
          {% endif %}

        {% endif %}

      {% else %}
        необходим {{ type.level_required }} уровень
      {% endif %}

    </span>

  </li>

{% endmacro %}

{% macro habit_record(habit) %}
  <li class="hero-habit-record">
    <strong>{{ habit.text }}</strong>
    <br/>
    <span class="" style="margin-left: 2em;">
      <span class="pgf-habit-{{habit.name.lower()}}-verbose"></span>
      <span class="pull-right"  style="vertical-align: middle;">
        <span class="pgf-habit-{{habit.name.lower()}}-raw" style="vertical-align: middle;"></span>
        <a href="{{url('guide:hero-habit-info', habit=habit.value)}}" class="pgf-dialog-simple">
          <i class="icon-info-sign"
             style="vertical-align: middle;"
             rel="tooltip"
             title="подробнее"></i>
        </a>
      </span>
    </span>
  </li>
{% endmacro %}


<div class="block">
  <h2 style="cursor: default;">Характер</h2>

  <h3>черты</h3>

  <ul class="unstyled">
    {{ habit_record(HABIT_TYPE.HONOR)}}
    {{ habit_record(HABIT_TYPE.PEACEFULNESS)}}
  </ul>

  <h3>предпочтения</h3>

  <ul class="unstyled">
    {% set pref_religion = resource.hero.preferences.energy_regeneration_type_name %}
    {% set pref_mob = resource.hero.preferences.mob and resource.hero.preferences.mob.name %}
    {% set pref_place = resource.hero.preferences.place and resource.hero.preferences.place.name %}
    {% set pref_friend = resource.hero.preferences.friend and resource.hero.preferences.friend.name_from %}
    {% set pref_enemy = resource.hero.preferences.enemy and resource.hero.preferences.enemy.name_from %}
    {% set pref_equipment_slot = resource.hero.preferences.equipment_slot and resource.hero.preferences.equipment_slot.text %}
    {% set pref_risk_level = resource.hero.preferences.risk_level and resource.hero.preferences.risk_level.text %}
    {% set pref_archetype = resource.hero.preferences.archetype and resource.hero.preferences.archetype.text %}

    {% if resource.hero.preferences.favorite_item %}
      {% set pref_favorite_item = resource.hero.equipment.get(resource.hero.preferences.favorite_item) %}
      {% set pref_favorite_item = '%s +%d / %d' % (pref_favorite_item.name, pref_favorite_item.power.physic, pref_favorite_item.power.magic ) %}
    {% else %}
      {% set pref_favorite_item = none %}
    {% endif %}

    {% set current_time = now() %}

    {{ preferences_record(PREFERENCE_TYPE.ENERGY_REGENERATION_TYPE, current_time,  pref_religion) }}
    {{ preferences_record(PREFERENCE_TYPE.PLACE, current_time, pref_place) }}
    {{ preferences_record(PREFERENCE_TYPE.RISK_LEVEL, current_time, pref_risk_level) }}
    {{ preferences_record(PREFERENCE_TYPE.FRIEND, current_time, pref_friend) }}
    {{ preferences_record(PREFERENCE_TYPE.FAVORITE_ITEM, current_time, pref_favorite_item) }}
    {{ preferences_record(PREFERENCE_TYPE.ENEMY, current_time, pref_enemy) }}
    {{ preferences_record(PREFERENCE_TYPE.ARCHETYPE, current_time, pref_archetype) }}
    {{ preferences_record(PREFERENCE_TYPE.EQUIPMENT_SLOT, current_time, pref_equipment_slot) }}
    {{ preferences_record(PREFERENCE_TYPE.MOB, current_time, pref_mob) }}
  </ul>

</div>
