
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.bag = new pgf.game.widgets.Bag('#hero-bag-block',
                                           updater, widgets,
                                           {});

});
</script>

<div id="hero-bag-block">

  <h4>рюкзак (<span class="pgf-loot-items-count"></span>/<span class="pgf-max-bag-size"></span>)</h4>

  <ul class="unstyled pgf-bag-container">
    <li class="bag-record pgf-template">
      <span class="name pgf-name"></span>
      <span class="power-container pgf-power-container">+<span class="pgf-power power"></span></span>
    </li>
  </ul>

</div>
