
{% macro record(name, value) %}
<tr><td>{{name}}</td><td width="50%">{{value}}</td></tr>
{% endmacro %}

{% macro header(name) %}
<h3>{{name}}</h3>
{% endmacro %}

<div class="easy-block hero-statistics">

  <table class="table table-condensed"><tbody>
      {{record("начало путешествия", resource.hero.birthday.verbose_date)}}
      {{record("длительность путешествия (лет)", resource.hero.age.year)}}
  </tbody></table>

      {{header("Сражения")}}

  <table class="table table-condensed"><tbody>
      {{record("смертей от монстров", resource.hero.statistics.pve_deaths)}}
      {{record("убито монстров", resource.hero.statistics.pve_kills)}}
  </tbody></table>

      {{header("PvP")}}

  <table class="table table-condensed"><tbody>
      {{record("проведено боёв", resource.hero.statistics.pvp_battles_1x1_number)}}
      {{record("побед", resource.hero.statistics.pvp_battles_1x1_victories)}}
      {{record("вничью", resource.hero.statistics.pvp_battles_1x1_draws)}}
      {{record("поражений", resource.hero.statistics.pvp_battles_1x1_defeats)}}
  </tbody></table>

      {{header("Золото")}}

  <table class="table table-condensed"><tbody>
      {{record("всего заработано", resource.hero.statistics.money_earned)}}
      {{record("заработано продажей добычи", resource.hero.statistics.money_earned_from_loot)}}
      {{record("заработано продажей артефактов", resource.hero.statistics.money_earned_from_artifacts)}}
      {{record("заработано выполнением квестов", resource.hero.statistics.money_earned_from_quests)}}
      {{record("заработано чертами", resource.hero.statistics.money_earned_from_habits)}}
      {{record("получено с помощью спутника", resource.hero.statistics.money_earned_from_companions)}}
      {{record("получено от хранителя", resource.hero.statistics.money_earned_from_help)}}
      {{record("всего потрачено", resource.hero.statistics.money_spend)}}
      {{record("потрачено на лечение", resource.hero.statistics.money_spend_for_heal)}}
      {{record("потрачено на покупку артефактов", resource.hero.statistics.money_spend_for_artifacts)}}
      {{record("потрачено на заточку артефактов", resource.hero.statistics.money_spend_for_sharpening)}}
      {{record("потрачено на починку экипировки", resource.hero.statistics.money_spend_for_repairing)}}
      {{record("потрачено на пошлину", resource.hero.statistics.money_spend_for_tax)}}
      {{record("потрачено на изменение влияния", resource.hero.statistics.money_spend_for_impact)}}
      {{record("потрачено на обучение", resource.hero.statistics.money_spend_for_experience)}}
      {{record("потрачено без пользы", resource.hero.statistics.money_spend_for_useless)}}
  </tbody></table>

      {{header("Прочее")}}

  <table class="table table-condensed"><tbody>
      {{record("артефактов добыто", resource.hero.statistics.artifacts_had)}}
      {{record("добычи получено", resource.hero.statistics.loot_had)}}
      {{record("заданий выполнено", resource.hero.statistics.quests_done)}}
      {{record("получал помощь (раз)", resource.hero.statistics.help_count)}}
      {{record("использовано карт", resource.hero.statistics.cards_used)}}
      {{record("объединено карт", resource.hero.statistics.cards_combined)}}
      {{record("возвращено детских подарков", resource.hero.statistics.gifts_returned)}}
  </tbody></table>

</div>
