{% import 'heroes/macros.html' as macros with context %}


<script type="text/javascript">
jQuery(document).ready(function(e){

    {% if is_owner %}

    jQuery('#choose-ability-button').click(function(){
        pgf.ui.dialog.Create({ fromUrl: pgf.urls['game:heroes:choose_ability_dialog']({{ resource.hero.id }}),
                               OnOpen: function(dialog) {
                                   jQuery('[rel="tooltip"]', dialog).tooltip(pgf.base.tooltipsArgs);
                                   jQuery('.pgf-hero-ability-record', dialog).click(function(e){
                                       e.preventDefault();

                                       var el = jQuery(e.currentTarget);

                                       pgf.forms.Post({ action: pgf.urls['game:heroes:choose_ability']({{ resource.hero.id }}, el.data('ability-id')),
                                                        OnSuccess: function(data) { location.reload(); }
                                                      });

                                   });
                               },
                               OnClose: function(dialog) {
                                   pgf.base.HideTooltips(dialog);
                               }
                             });
    });

    {% endif %}

});

</script>

<div class="block">
  <h2 style="cursor: default;">
    Способности
    {% if is_owner %}
    {% if resource.hero.abilities.can_reset %}
    <a href="{{url('game:heroes:reset-abilities', resource.hero.id)}}"
       class="pgf-forms-post-simple pgf-reset-abilities-button pull-right"
       rel="tooltip"
       title="сбросить способности <br/> (повтороно способности можно будет сбросить <br/> через {{ heroes_settings.ABILITIES_RESET_TIMEOUT|verbose_timedelta }})">
      <i class="icon-trash" style="vertical-align: middle;"></i>
    </a>
    {% else %}
    <a href="#" class="pgf-reset-abilities-timeout-button  pull-right"
       rel="tooltip" title="способности можно будет сбросить через {{ resource.hero.abilities.time_before_reset|verbose_timedelta }}">
      <i class="icon-time" style="vertical-align: middle;"></i>
    </a>
    {% endif %}
    {% endif %}
  </h2>

  {% if is_owner %}

  {% if resource.hero.can_choose_new_ability  %}
  <div id="choose-ability-button" class="alert fade in pgf-choose-ability-button">
    {{ resource.hero.name }} может выучить новую способность. <br/>
    Нажмите на это сообщение что бы выбрать её.
  </div>
  {% else %}
  <div class="alert alert-info fade in pgf-choose-ability-button">
    {{ resource.hero.name }} cможет улучшить свои боевые навыки на уровне {{ resource.hero.next_battle_ability_point_lvl }} и небоевые на уровне {{ resource.hero.next_nonbattle_ability_point_lvl }}
  </div>
  {% endif %}

  {% endif %}

  <h4>Боевые активные</h4>

  {% if battle_active_abilities %}
  {{ macros.abilities_list(battle_active_abilities) }}
  {% else %}
  <p style="margin-left:1em;">нет способностей</p>
  {% endif %}

  <h4>Боевые пассивные</h4>

  {% if battle_passive_abilities %}
  {{ macros.abilities_list(battle_passive_abilities) }}
  {% else %}
  <p style="margin-left:1em;">нет способностей</p>
  {% endif %}

  <h4>Небоевые</h4>

  {% if nonbattle_abilities %}
  {{ macros.abilities_list(nonbattle_abilities) }}
  {% else %}
  <p style="margin-left:1em;">нет способностей</p>
  {% endif %}
</div>
