
<script type="text/javascript">

jQuery(document).ready(function(e){
    jQuery('.pgf-choose-preference-button').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var url = target.attr('href');
        var preferenceType = target.data('preference-type')
        pgf.ui.dialog.Create({ fromUrl: url,
                               OnOpen: function(dialog) {
                                   jQuery('.pgf-hero-preference-record', dialog).click(function(e){
                                       e.preventDefault();

                                       var actionUrl = "{{ url('game:heroes:choose-preferences', resource.hero.id) }}";
                                       var preferenceId = jQuery(e.currentTarget).data('preference-id');

                                       pgf.forms.Post({ action: actionUrl,
                                                        data: {preference_id: preferenceId,
                                                               preference_type: preferenceType },
                                                        OnSuccess: function(data) { location.reload(); }
                                                      });

                                   });
                               }
                             });
    });

    jQuery('.pgf-remove-preference-button').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var preferenceType = target.data('preference-type')
        var actionUrl = "{{ url('game:heroes:choose-preferences', resource.hero.id) }}";

        pgf.forms.Post({ action: actionUrl,
                         data: {preference_type: preferenceType},
                         OnSuccess: function(data) { location.reload(); }
                       });

    });

});

</script>

{% macro preferences_record(name, type, lvl_required, value) -%}

<li>
    <li class="hero-preferences-record">
      <strong>{{ name }}:</strong>
      {% if resource.hero.level >= lvl_required %}

      {% if value %}
      <a class="pull-right pgf-remove-preference-button" href="#" data-preference-type="{{ type }}" style="margin-left: 5px;">
        <i class="icon-trash"></i>
      </a>
      {% endif %}

      <a class="pull-right pgf-choose-preference-button"
         href="{{ url('game:heroes:choose-preferences-dialog', resource.hero.id) }}?type={{type}}"
         data-preference-type="{{ type }}">
        {% if not value %}
        выбрать
        {% else %}
        <i class="icon-pencil"></i>
        {% endif %}
      </a>
      {% if value %}
      <span class="pull-right" style="padding-right: 3px;">{{value}}</span>
      {% endif %}

      {% else %}
      <span class="pull-right">необходим {{ lvl_required }} уровень</span>
      {% endif %}
    </li>
</li>

{% endmacro %}


<div class="block">
  <h2 style="cursor: default;">Характер</h2>

  <h3>предпочтения</h3>

  <ul class="unstyled">
    {% set pref_mob = resource.hero.preferences.mob and resource.hero.preferences.mob.name %}
    {% set pref_place = resource.hero.preferences.get_place() and resource.hero.preferences.get_place().name %}
    {% set pref_friend = resource.hero.preferences.get_friend() and resource.hero.preferences.get_friend().name %}
    {% set pref_enemy = resource.hero.preferences.get_enemy() and resource.hero.preferences.get_enemy().name %}

    {{ preferences_record("любимая добыча", PREFERENCE_TYPE.MOB, calc.CHARACTER_PREFERENCES_MOB_LEVEL_REQUIRED, pref_mob) }}
    {{ preferences_record("родной город", PREFERENCE_TYPE.PLACE, calc.CHARACTER_PREFERENCES_PLACE_LEVEL_REQUIRED, pref_place) }}
    {{ preferences_record("соратник", PREFERENCE_TYPE.FRIEND, calc.CHARACTER_PREFERENCES_FRIEND_LEVEL_REQUIRED, pref_friend) }}
    {{ preferences_record("противник", PREFERENCE_TYPE.ENEMY, calc.CHARACTER_PREFERENCES_ENEMY_LEVEL_REQUIRED, pref_enemy) }}
  </ul>

</div>
