
{% macro hero_short(block_id, is_owner, show_hero_link, master_account=none, data_mode='pve', clan=none, no_clan_placement=false) %}

<script type="text/javascript">
jQuery(document).ready(function(e) {
    widgets.heroes = new pgf.game.widgets.Hero("#{{block_id}}", updater, widgets, {dataMode: "{{data_mode}}"});

    jQuery('.pgf-companion-info-link').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var url = pgf.urls['guide:companions:info'](target.data('companion-id'));
        pgf.ui.dialog.Create({ fromUrl: url});
    });

});
</script>

<div id="{{block_id}}" class="easy-block hero-base-block" style="cursor: default;">

  <h3 class="" style="">
    <small class="pgf-hidden pgf-race-gender" style="vertical-align: bottom; line-height: 0px; display: block;">
      <span class="pgf-gender"></span>-<span class="pgf-race"></span>
    </small>
    <span class="badge pgf-level hero-level" style="vertical-align: middle;" rel="tooltip" title="уровень героя"></span>

    {% if show_hero_link %}
    <a href="" class="pgf-hero-page-link pgf-name" style="vertical-align: middle;"></a>
    {% else %}
    <span href="" class="pgf-name" style="vertical-align: middle;"></span>
    {% endif %}

    {% if is_owner %}
    <a href="" class="badge pgf-free-destiny-points free-destiny-points pull-right pgf-hidden"  rel="tooltip" title="доступна новая способность"><i class="icon-arrow-up"></i></a>
    {% endif %}
  </h3>

  <div class="record-with-progress" rel="tooltip" title="здоровье героя">
    <i class="game-ui-icon health"></i>
    <div class="progress progress-danger" style="">
      <div class="bar pgf-health-percents"></div>
    </div>
    <span class="text-values"><span class="pgf-health"></span>/<span class="pgf-max-health"></span></span>
  </div>

  {% if is_owner %}
  <div class="record-with-progress" rel="tooltip" title="опыта до следующего уровня<br/>выдаётся за выполнение заданий">
    <i class="game-ui-icon experience"></i>
    <div class="progress progress-warning" style="">
      <div class="bar pgf-experience-percents"></div>
    </div>
    <span class="text-values"><span class="pgf-experience"></span>/<span class="pgf-experience-to-level"></span></span>
  </div>

  <div class="record-with-progress"
       rel="tooltip"
       title="запас энергии (примерно +{{ (c.ANGEL_ENERGY_REGENERATION_AMAUNT/c.ANGEL_ENERGY_REGENERATION_TIME)|int}} в час)<br/> текущая энергия/максимум + дополнительная энергия">
    <i class="game-ui-icon energy"></i>
    <div class="progress progress-info" style="">
      <div class="bar pgf-energy-percents"></div>
    </div>
    <span class="text-values">
      <span class="pgf-energy"></span>/<span class="pgf-max-energy"></span> + <span class="pgf-energy-bonus"></span>
    </span>
  </div>
  {% endif %}

  <div>

    <div class="attribute-record" rel="tooltip" title="физическая сила" data-tooltip-placement="bottom">
      <i class="game-ui-icon physic-power"></i>
      <span class="pgf-physic-power value"></span>
    </div>

    <div class="attribute-record" rel="tooltip" title="собранное золото" data-tooltip-placement="bottom">
      <i class="game-ui-icon gold"></i>
      <span class="pgf-money"></span>
    </div>

    <br/>

    <div class="attribute-record" rel="tooltip" title="магическая сила" data-tooltip-placement="bottom">
      <i class="game-ui-icon magic-power"></i>
      <span class="pgf-magic-power value"></span>
    </div>

    <div class="attribute-record pgf-might-record" data-tooltip-placement="bottom">
      <i class="game-ui-icon might"></i>
      <span class="pgf-might value attribute-record"></span>
    </div>

  </div>

  <ul class="unstyled" style="margin-top: 0.5em;">
    <li>
      {% if clan %}
      <strong>гильдия:</strong> <a href="{{ url('accounts:clans:show', clan.id) }}">{{clan.name}}</a>
      {% elif no_clan_placement %}
      <strong>гильдия:</strong> <small>не состоит в гильдии</small>
      {% endif %}
    </li>
  </ul>

  {% if master_account and not is_owner %}
  <div>
    <strong>покровитель:</strong> <a href="{{ url('accounts:show', master_account.id) }}">{{master_account.nick_verbose}}</a>
  </div>
  {% endif %}

  {# companion data #}
  <div class="pgf-hidden pgf-companion">
    <h4 class="" style="">
      <span class="badge hero-level" style="vertical-align: middle;" rel="tooltip" title="слаженность действий героя и спутника"><span class="pgf-coherence"></span><span class="pgf-real-coherence-block"> / <span class="pgf-real-coherence"></span></span></span>
      <a href="" class="pgf-companion-link pgf-name pgf-companion-info-link" style="vertical-align: middle;"></a>
    </h4>

    <div class="record-with-progress" rel="tooltip" title="здоровье спутника">
      <i class="game-ui-icon health"></i>
      <div class="progress progress-danger" style="">
        <div class="bar pgf-health-percents"></div>
      </div>
      <span class="text-values"><span class="pgf-health"></span>/<span class="pgf-max-health"></span></span>
    </div>

    {% if is_owner %}
      <div class="record-with-progress" rel="tooltip" title="опыта до следующего уровня слаженности<br/>выдаётся за выполнение заданий">
        <i class="game-ui-icon experience"></i>
        <div class="progress progress-warning" style="">
          <div class="bar pgf-experience-percents"></div>
        </div>
        <span class="text-values"><span class="pgf-experience"></span>/<span class="pgf-experience-to-level"></span></span>
      </div>
    {% endif %}

  </div>

  <div class="pgf-hidden pgf-no-companion">
    нет спутника <i class="icon icon-info-sign" rel="tooltip" title="получить спутника можно использовав соответствующую карту судьбы" style="cursor: pointer;"></i>
  </div>

  <div class="pgf-hidden pgf-might-tooltip">
    <strong>могущество</strong>
    <ul class="unstyled" style="text-align: left;">
      <li>критический эффект помощи: <span class="pgf-might-crit-chance"></span>%</li>
      <li>бонус к эффективности в pvp: <span class="pgf-might-pvp-effectiveness-bonus"></span>%</li>
    </ul>
  </div>

</div>


{% endmacro %}
