{% import 'heroes/macros.html' as macros with context %}


<script type="text/javascript">
jQuery(document).ready(function(e){

    {% if is_owner %}

    jQuery('#choose-ability-button').click(function(){
        pgf.ui.dialog.Create({ fromUrl: pgf.urls['game:heroes:choose_ability_dialog']({{ resource.hero.id }}),
                               OnOpen: function(dialog) {
                                   jQuery('[rel="tooltip"]', dialog).tooltip(pgf.base.tooltipsArgs);
                                   jQuery('.pgf-hero-ability-record', dialog).click(function(e){
                                       e.preventDefault();

                                       var el = jQuery(e.currentTarget);

                                       pgf.forms.Post({ action: pgf.urls['game:heroes:choose_ability']({{ resource.hero.id }}, el.data('ability-id')),
                                                        OnSuccess: function(data) { location.reload(); }
                                                      });

                                   });
                               },
                               OnClose: function(dialog) {
                                   pgf.base.HideTooltips(dialog);
                               }
                             });
    });

    pgf.base.ToggleWait(jQuery(".pgf-hero-data-wait"), true);

    jQuery(document).bind("pgf-reopen-abilities-dialog", function(){

        setTimeout(function(){
            jQuery('.modal').modal('hide');
            jQuery('#choose-ability-button').click();
        }, 0);

    });

    jQuery(document).bind(pgf.game.events.DATA_REFRESHED, function(e, game_data){
        var data = game_data.account.hero;
        jQuery('.pgf-abilities-block .pgf-free-destiny-points').toggleClass('pgf-hidden', !data.base.destiny_points);
        jQuery('.pgf-abilities-block .pgf-no-destiny-points').toggleClass('pgf-hidden', !!data.base.destiny_points);
    });


    {% endif %}

});

</script>

<div class="easy-block pgf-abilities-block">
  <h2 style="cursor: default;">
    Способности
    {% if is_owner %}
    {% if resource.hero.abilities.can_reset %}
    <a href="{{url('game:heroes:reset-abilities', resource.hero.id)}}"
       class="pgf-forms-post-simple pgf-reset-abilities-button pull-right"
       rel="tooltip"
       title="сбросить способности <br/> (повторно способности можно будет сбросить <br/> через {{ heroes_settings.ABILITIES_RESET_TIMEOUT|verbose_timedelta }})">
      <i class="icon-trash" style="vertical-align: middle;"></i>
    </a>
    {% else %}
    <a href="#" class="pgf-reset-abilities-timeout-button  pull-right"
       rel="tooltip" title="способности можно будет сбросить через {{ resource.hero.abilities.time_before_reset|verbose_timedelta }}<br/> Вы можете сбросить их вне очереди использовав карту «{{CARD_TYPE.RESET_ABILITIES.text}}»">
      <i class="icon-time" style="vertical-align: middle;"></i>
    </a>
    {% endif %}
    {% endif %}
  </h2>

  {% if is_owner %}

  <div id="choose-ability-button" class="alert alert-success fade in pgf-choose-ability-button pgf-free-destiny-points pgf-hidden">
    {{ resource.hero.name }} может выучить новую способность. <br/>
    Нажмите на это сообщение, чтобы выбрать её.<br/>
    Доступно способностей: {{resource.hero.abilities.destiny_points_remained}}
  </div>

  <div class="alert alert-info fade in pgf-choose-ability-button pgf-no-destiny-points">
    {% if resource.hero.abilities.next_battle_ability_point_lvl or resource.hero.abilities.next_nonbattle_ability_point_lvl or resource.hero.abilities.next_companion_ability_point_lvl %}
    {{ resource.hero.name }} cможет улучшить

      {% if resource.hero.abilities.next_battle_ability_point_lvl -%}
        боевые навыки на уровне {{ resource.hero.abilities.next_battle_ability_point_lvl }}
      {%- endif -%}
      {%- if resource.hero.abilities.next_nonbattle_ability_point_lvl -%}
        , небоевые на уровне {{ resource.hero.abilities.next_nonbattle_ability_point_lvl }}
      {%- endif -%}
      {%- if resource.hero.abilities.next_companion_ability_point_lvl -%}
      , навыки для спутника на уровне {{ resource.hero.abilities.next_companion_ability_point_lvl }}
      {%- endif -%}
      .
    {% else %}
      {{ resource.hero.name }} достиг вершины геройского мастерства.
    {% endif %}
  </div>

  {% endif %}

  <table class="table table-condensed table-highlighting" style="cursor: default;">
    <caption style="text-align: left;"><h4>Боевые</h4></caption>
    <tbody>
      {% for ability in battle_active_abilities %}
        {{macros.ability_record(ability)}}
      {% endfor %}
      {% for i in range(0, c.ABILITIES_ACTIVE_MAXIMUM - battle_active_abilities|length) %}
        {{macros.ability_empty_record(ABILITY_TYPE.BATTLE)}}
      {% endfor %}

      {% for ability in battle_passive_abilities %}
        {{macros.ability_record(ability)}}
      {% endfor %}
      {% for i in range(0, c.ABILITIES_PASSIVE_MAXIMUM - battle_passive_abilities|length) %}
        {{macros.ability_empty_record(ABILITY_TYPE.BATTLE)}}
      {% endfor %}

    </tbody>
  </table>

  <table class="table table-condensed table-highlighting" style="cursor: default;">
    <caption style="text-align: left;"><h4>Мирные</h4></caption>
    <tbody>
      {% for ability in nonbattle_abilities %}
        {{macros.ability_record(ability)}}
      {% endfor %}
      {% for i in range(0, c.ABILITIES_NONBATTLE_MAXIMUM - nonbattle_abilities|length) %}
        {{macros.ability_empty_record(ABILITY_TYPE.NONBATTLE)}}
      {% endfor %}

    </tbody>
  </table>

  <table class="table table-condensed table-highlighting" style="cursor: default;">
    <caption style="text-align: left;"><h4>Для спутников</h4></caption>
    <tbody>
      {% for ability in companion_abilities %}
        {{macros.ability_record(ability)}}
      {% endfor %}
      {% for i in range(0, c.ABILITIES_COMPANION_MAXIMUM - companion_abilities|length) %}
        {{macros.ability_empty_record(ABILITY_TYPE.COMPANION)}}
      {% endfor %}
    </tbody>
  </table>

</div>
