
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.heroes = new pgf.game.widgets.Hero('#hero-base-block', updater, widgets, {});
    widgets.angel = new pgf.game.widgets.Angel('#hero-base-block', updater, widgets, {});

});
</script>

<div id="hero-base-block" class="block" style="cursor: default;">

  <h3 class="" style="">
    <small class="pgf-hidden pgf-race-gender" style="vertical-align: bottom; line-height: 0px; display: block;">
      <span class="pgf-gender"></span>-<span class="pgf-race"></span>
    </small>
    <span class="badge pgf-level hero-level" style="vertical-align: middle;" rel="tooltip" title="уровень героя"></span>
    <a href="" class="pgf-hero-page-link pgf-name" style="vertical-align: middle;"></a>
  </h3>

  <div class="record-with-progress" rel="tooltip" title="здоровье героя">
    <img src="{{ STATIC_URL }}game/images/attrs/hp.png"/>
    <div class="progress progress-danger" style="">
      <div class="bar pgf-health-percents"></div>
    </div>
    <span class="text-values"><span class="pgf-health"></span>/<span class="pgf-max-health"></span></span>
  </div>

  <div class="record-with-progress" rel="tooltip" title="накопленый опыт">
    <img src="{{ STATIC_URL }}game/images/attrs/exp.png"/>
    <div class="progress progress-warning" style="">
      <div class="bar pgf-experience-percents"></div>
    </div>
    <span class="text-values"><span class="pgf-experience"></span>/<span class="pgf-experience-to-level"></span></span>
  </div>

  <div class="record-with-progress" rel="tooltip" title="запас энергии">
    <img src="{{ STATIC_URL }}game/images/attrs/energy.png"/>
    <div class="progress progress-info" style="">
      <div class="bar pgf-energy-percents"></div>
    </div>
    <span class="text-values"><span class="pgf-energy"></span>/<span class="pgf-max-energy"></span></span>
  </div>

  <div>

    <div class="attribute-record" rel="tooltip" title="сила">
      <img src="{{ STATIC_URL }}game/images/attrs/damage.png"/>
      <span class="pgf-power value"></span>
    </div>

    <div class="attribute-record" rel="tooltip" title="собраное золото">
      <img src="{{ STATIC_URL }}game/images/attrs/gold.png"/>
      <span class="pgf-money"></span>
    </div>

  </div>

</div>
