
{% macro hero_equipment(block_id, data_mode) %}

<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.equipment = new pgf.game.widgets.Equipment('#{{block_id}}',
                                                       updater, widgets,
                                                       {dataMode: "{{data_mode}}"});

});
</script>

<div id="{{block_id}}" class="hero-equipment-block">

  <table style="width: 100%; table-layout: fixed;">
    <tbody>
      <tr class="equip-record pgf-hand_primary" rel="tooltip" title="правая рука">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/main-hand.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record pgf-hand_secondary" rel="tooltip" title="левая рука">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/off-hand.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record pgf-helmet" rel="tooltip" title="шлем">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/helmet.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record  pgf-amulet" rel="tooltip" title="амулет">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/amulet.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record pgf-shoulders" rel="tooltip" title="наплечники">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/shoulders.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record pgf-plate" rel="tooltip" title="доспех">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/plate.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record pgf-gloves" rel="tooltip" title="перчатки">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/gloves.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record pgf-cloak" rel="tooltip" title="плащ">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/cloak.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record pgf-pants" rel="tooltip" title="штаны">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/pants.png"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record pgf-boots" rel="tooltip" title="обувь">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/boots.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record pgf-ring-first" rel="tooltip" title="кольцо">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/ring-first.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

      <tr class="equip-record pgf-ring-second" rel="tooltip" title="кольцо">
        <td width="20px"><img class="icon" src="{{ STATIC_URL }}/game/images/equip/ring-second.gif"/></td>
        <td class="name pgf-name"></td>
        <td width="40px"><span class="power-container pgf-power-container pgf-hidden">+<span class="pgf-power power"></span></span></td>
      </tr>

    </tbody>
  </table>

</div>

{% endmacro %}
