<div class="pgf-hidden" id="pgf-item-tooltip-template">
  <h6 class="pgf-name"></h6>
  <span class="pgf-type"></span><span class="pgf-subtype-enabled pgf-hidden"> - <span class="pgf-subtype"></span></span>
    
  <ul>
    <li class="pgf-effect-weapon-base pgf-hidden">
      урон: <span class="pgf-min-damage"></span> - <span class="pgf-max-damage"></span>
    </li>
    <li class="pgf-effect-armor-base pgf-hidden">
      броня: <span class="pgf-armor"></span>
    </li>
    <li class="pgf-effect-weapon-base pgf-effect-armor-base pgf-hidden">множитель скорости: <span class="pgf-battle-speed"></li>
  </ul>
</div>
