
{% macro abilities_list(abilities, show_description=true, show_type=true, max_level=false) -%}

<dl class="hero-abilities-list">
  {% for ability in abilities %}
  <div class="hero-ability-record pgf-hero-ability-record" data-ability-id="{{ability.get_id()}}">
    <dt class="ability-name">
      {{ ability.NAME }}
      {% if show_type %}
      <small class="ability-type">
        {% if max_level %}максимальный уровень {{ability.MAX_LEVEL}},
        {% else %} уровень {{ability.level}},
        {% endif %}
        {{ ability.type.verbose }},
        {{ ability.availability.verbose }},
        {{ ability.activation_type.verbose }}
      </small>
      {% endif %}
    </dt>
    {% if show_description %}
    <dd>{{ ability.DESCRIPTION }}</dd>
    {% endif %}
  </div>
  {% endfor %}
</dl>

{%- endmacro %}
