
<div>
  <strong class="name">(<span class="pgf-wisdom"></span>) <span class="pgf-name"></span></strong> 
  <div class="health-bar">
    <div class="stats-bar pgf-health-bar">
      <div class="layer layer-0 pgf-layer-0"></div>
      <div class="layer layer-1 pgf-layer-1"></div>
    </div>
    <span class="pgf-health"></span>/<span class="pgf-max-health"></span> + 53
  </div>
  <table class="stats"> 
    <tbody>
      <tr>
        <td class="stat-record">
          <img class="stat-icon" src="{{ STATIC_URL }}tmp/intellect-icon.png"/>
          <span class="stat-value pgf-intellect"></span>
        </td>
        <td class="stat-record">
          <img class="stat-icon" src="{{ STATIC_URL }}tmp/armor-icon.gif"/>
          <span class="stat-value"></span>
        </td>
      </tr>
      <tr>
        <td class="stat-record">
          <img class="stat-icon" src="{{ STATIC_URL }}tmp/constitution-icon.png"/>
          <span class="stat-value pgf-constitution"></span>
        </td>
        <td class="stat-record">
          <img class="stat-icon" src="{{ STATIC_URL }}tmp/gold-icon.png"/>
          <span class="stat-value pgf-money"></span>
        </td>
      </tr>
      <tr>
        <td class="stat-record">
          <img class="stat-icon" src="{{ STATIC_URL }}tmp/reflexes-icon.jpg"/>
          <span class="stat-value pgf-reflexes"></span>
        </td>
        <td class="stat-record">
          <img class="stat-icon" src="{{ STATIC_URL }}tmp/quests-icon.png"/>
          <span class="stat-value"></span>
        </td>
      </tr>
      <tr>
        <td class="stat-record">
          <img class="stat-icon" src="{{ STATIC_URL }}tmp/chaoticity-icon.png"/> 
          <span class="stat-value pgf-chaoticity"></span>
        </td>
        <td class="stat-record">
          <img class="stat-icon" src="{{ STATIC_URL }}tmp/death-icon.gif"/>
          <span class="stat-value"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
