{% extends "chronicle/base.html" %}

{% import 'macros.html' as base_macros with context %}

{% block chronicle_content %}

<h2 style="margin-bottom: 0.5em;">Летопись</h2>

<p>
  В летопись Пандоры заносятся все важные события, происходящие в мире. Ничто не укроется от пристального взгляда духов-летописцев.
</p>

<div>
  <div class="btn-toolbar">

    <div class="btn-group">
      <a class="btn {% if not is_filtering %}disabled{% endif %}"
         href="{% if is_filtering %}{{ url('game:bills:') }}{%else%}javascript: return none;{%endif%}">сбросить фильтрацию</a>
    </div>

  </div>

</div>

{% if records %}

{{ base_macros.render_paginator(paginator) }}

<table class="table">
  <thead>
    <tr>
      <th width="200px">дата</th>
      <th>событие</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <td>{{ record.game_time.verbose_date}}</td>
      <td>{{ record.text }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ base_macros.render_paginator(paginator) }}

{% else %}
<span class="pgf-no-records-message">Не найдено записей, отвечающих условиям поиска</span>
{% endif %}

{% endblock %}
