{% extends "mobs/base.html" %}

{% block title %}Редактирование монстра | {{ super() }}{% endblock %}
{% block description %}Редактирование монстра.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var showForm = new pgf.forms.Form(jQuery('#pgf-edit-mob-form'),
                                               {OnSuccess: function(instance, data){location.href = data.data.next_url;}});
});

</script>

{% endblock %}

{% block mobs_content %}

<h2>Редактирование монстра</h2>

<form id="pgf-edit-mob-form" class="mobs-edit-form" method="post" action="{{ url('game:mobs:update', mob.id) }}">

  {{ form.errors_container }}
  {{ form.name.widget }}
  {{ form.level.widget }}
  {{ form.type.widget }}
  {{ form.archetype.widget }}

  <div class="terrain-and-abilities">
    <div class="terrain">
      {{ form.terrains.widget }}
    </div>

    <div class="abilities">
      {{ form.abilities.widget }}
    </div>
  </div>

  {{ form.description.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Сохранить"/>
  </div>

</form>

{% endblock %}
