{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}Бестиарий | {{ super() }}{% endblock %}
{% block description %}Описание всех опасных тварей, обитающих в «Сказке».{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Бестиарий", "Описание всех враждебных обитателей Пандоры.") }}

<p>
  Пандору населяет огромное количество существ, многие из которых агрессивны и представляют опасность даже для закалённых героев. Поэтому некоторые жители Пандоры собирают знания об её опасностях. Этот раздел путеводителя создан на основе записок героев и учёных, посвятивших свою жизнь изучению фауны своего мира, как разумной, так и неразумной.
</p>
<p>
  Учёные гоблины проделали огромную работу по классификации каждого противника (по-научному — «монстром»), которого можно встретить, выйдя из города. Путём опаснейших полевых исследований, для каждого монстра был установлен ареал обитания, особые способности, которыми тот обладает и добыча, которую из того можно получить. Кроме того, к записи о монстре обычно прилагается выдержка из классических произведений, посвящённых ему.
</p>
<p>
  Интересным фактом является то, что несмотря на свою агрессивность, монстры (как и герои) придерживаются определённых «этических» правил. В частности, не нападают на очень слабых противников. Поэтому, для каждого монстра также указан минимальный уровень героя, с которого тот может подвергнуться нападению.
</p>

{% if resource.can_create_mob %}
<a class="btn btn-danger pgf-create-mob-button" href="{{url('game:mobs:new')}}">создать монстра</a>
{% endif %}

{{ list_filter_macros.html_filter(index_filter) }}

{% if mobs %}

<table class="table table-condensed">
  <thead>
    <tr>
      <th width="20px">уровень</th>
      <th>название</th>
      <th width="120px">способности</th>
      <th width="80px">добыча</th>
      <th width="120px">места обитания</th>
    </tr>
  </thead>
  <tbody>
    {% for mob in mobs %}
    <tr>
      <td>{{mob.level}}</td>
      <td>
        <a href="{{url('guide:mobs:show', mob.id)}}">{{mob.name}}</a>
      </td>
      <td>
        <a class="info-link"
           href="#"
           onclick="return false;"
           rel="tooltip"
           title="<ul class='unstyled' style='text-align: left;'>
                  {% for ability in mob.get_abilities_objects() %}
                  <li>{{ability.NAME}}</li>
                  {% endfor %}
                  </ul>">
          способности
        </a>
      </td>
      <td>
        <a class="info-link"
           href="#"
           onclick="return false;"
           rel="tooltip"
           title="<strong>артефакты:</strong>
                  <ul class='unstyled' style='text-align: left;'>
                  {% for artifact in mob.artifacts %}
                  <li>{{artifact.name}}</li>
                  {% endfor %}
                  </ul>

                  <strong>хлам:</strong>
                  <ul class='unstyled' style='text-align: left;'>
                  {% for loot in mob.loot %}
                  <li>{{loot.name}}</li>
                  {% endfor %}
                  </ul>">
          добыча
        </a>
      </td>
      <td>
        <a class="info-link"
           href="#"
           onclick="return false;"
           rel="tooltip"
           title="<ul class='unstyled' style='text-align: left;'>
                  {% for terrain_name in mob.get_terrain_names() %}
                  <li>{{terrain_name}}</li>
                  {% endfor %}
                  </ul>">места обитания</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p class="pgf-no-mobs-message alert alert-info">Не найдено монстров, отвечающих условиям поиска.</p>
{% endif %}

{% endblock %}
