
{% macro mob_info(mob, limit_content=false, link_in_blank=false) %}

{% if limit_content %}
<div class="pgf-scrollable" style="overflow-y: auto; max-height: 400px;">
  {% endif %}


  <table class="table table-condensed table-striped table-bordered table-no-highlighting">
    <tbody>
      <tr><th>уровень</th><td>{{mob.level}}</td></tr>
      <tr><th>тип</th><td>{{mob.type.text}}</td></tr>
      <tr><th>архетип</th><td>{{mob.archetype.text}}</td></tr>
      <tr>
        <th>способности</th>
        <td>
          {%- for ability in mob.get_abilities_objects() -%}
          {%- if loop.index != 1 -%},{%- endif %}
          <a href="#" class="info-link" rel="tooltip" title="{{ability.DESCRIPTION}}">{{ability.NAME}}</a>
          {%- endfor -%}
        </td>
      </tr>
      <tr><th>места обитания</th><td>{{ ', '.join(mob.get_terrain_names()) }}</td></tr>
      <tr>
        <th>полезная добыча</th>
        <td>
          <ul class="unstyled">
            {% for artifact in mob.artifacts %}
            <li><a {% if link_in_blank %}target="_blank"{% endif %} href="{{url('guide:artifacts:show',artifact.id)}}">{{artifact.name}}</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <th>бесполезная добыча</th>
        <td>
          <ul class="unstyled">
            {% for loot in mob.loot %}
            <li><a {% if link_in_blank %}target="_blank"{% endif %} href="{{url('guide:artifacts:show', loot.id)}}">{{loot.name}}</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  {% if mob.description %}

  {{mob.description_html|safe}}


  {% else %}
  <p class="pgf-no-description">нет описания<p>
    {% endif %}

    {% if limit_content %}
</div>
{% endif %}


{% endmacro %}
