{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'mobs/macros.html' as mobs_macros with context %}

{% block title %}{{mob.name|up_first}} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание монстра {{mob.name|up_first}}{% endblock %}

{% block guide_content %}

<ul class="breadcrumb">
  <li><a href="{{url('guide:mobs:')}}">Бестиарий</a><span class="divider">/</span></li>
  <li class="active">{{mob.name|up_first}}</li>

  {% if resource.can_moderate_mob %}
  <li class="pull-right pgf-moderate-button" style="margin-left: 10px;"><a href="{{url('game:mobs:moderate', mob.id)}}">модерировать</a></li>
  {% endif %}

  {% if resource.can_create_mob %}
  <li class="pull-right pgf-edit-button"><a href="{{url('game:mobs:edit', mob.id)}}">редактировать</a></li>
  {% endif %}

</ul>

{{ guide_macros.page_caption(mob.name|up_first, "Описание монстра") }}

{{ mobs_macros.mob_info(mob, for_moderator=resource.can_create_mob or resource.can_moderate_mob) }}

{% endblock %}
