{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}{{mob.name|capitalize}} | Бестиарий | {{ super() }}{% endblock %}

{% block guide_content %}

<ul class="breadcrumb">
  <li><a href="{{url('guide:mobs:')}}">Бестиарий</a><span class="divider">/</span></li>
  <li class="active">{{mob.name|capitalize}}</li>

  {% if resource.can_moderate_mob %}
  <li class="pull-right pgf-moderate-button" style="margin-left: 10px;"><a href="{{url('game:mobs:moderate', mob.id)}}">модерировать</a></li>
  {% endif %}

  {% if resource.can_create_mob %}
  <li class="pull-right pgf-edit-button"><a href="{{url('game:mobs:edit', mob.id)}}">редактировать</a></li>
  {% endif %}

</ul>

{{ guide_macros.page_caption(mob.name|capitalize, "Описание монстра") }}

<table class="table table-condensed table-striped table-bordered table-no-highlighting">
  <tbody>
    <tr><th>уровень</th><td>{{mob.level}}</td></tr>
    <tr><th>способности</th><td>{{ ', '.join(mob.get_abilities_names()) }}</td></tr>
    <tr><th>места обитания</th><td>{{ ', '.join(mob.get_terrain_names()) }}</td></tr>
    <tr>
      <th>полезная добыча</th>
      <td>
        <ul class="unstyled">
          {% for artifact in mob.artifacts %}
          <li><a href="{{url('guide:artifacts:show',artifact.id)}}">{{artifact.name}}</a></li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <th>бесполезная добыча</th>
      <td>
        <ul class="unstyled">
          {% for loot in mob.loot %}
          <li><a href="{{url('guide:artifacts:show', loot.id)}}">{{loot.name}}</a></li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>

{% if mob.description %}
{{mob.description_html|safe}}
{% else %}
<p class="pgf-no-description">нет описания<p>
{% endif %}

{% endblock %}
