<script type="text/javascript">

jQuery(document).ready(function(e){

    jQuery(document).bind(pgf.game.events.DATA_REFRESHED, function(e, game_data){
        var data = game_data.account.hero;
        jQuery('#pgf-attributes-container .pgf-habit-honor-raw').text(Math.round(data.habits.honor.raw*100)/100);
        jQuery('#pgf-attributes-container .pgf-habit-honor-verbose').text(data.habits.honor.verbose);

        jQuery('#pgf-attributes-container .pgf-habit-peacefulness-raw').text(Math.round(data.habits.peacefulness.raw*100)/100);
        jQuery('#pgf-attributes-container .pgf-habit-peacefulness-verbose').text(data.habits.peacefulness.verbose);
    });


});

</script>

{% macro preferences_record(type, value) -%}

  <li class="hero-preferences-record">
    <strong>{{ type.text }}</strong>
    <br/>
    <span class="" style="margin-left: 2em;">
        {% if value %}
          {{value|safe}}
        {% else %}
            нет
        {% endif %}
    </span>

    <span class="pull-right"  style="vertical-align: middle;">
      {{info_link(url('game:heroes:preference-info-dialog', resource.hero.id, preference=type.value))}}
    </span>

  </li>

{% endmacro %}

{% macro habit_record(habit) %}
  <li class="hero-habit-record">
    <strong>{{ habit.text }}</strong>
    <br/>
    <span class="" style="margin-left: 2em;">
      <span class="pgf-habit-{{habit.name.lower()}}-verbose"></span>
      <span class="pull-right"  style="vertical-align: middle;">
        <span class="pgf-habit-{{habit.name.lower()}}-raw" style="vertical-align: middle;"></span>
        {{ info_link(url('guide:hero-habit-info', habit=habit.value)) }}
      </span>
    </span>
  </li>
{% endmacro %}

{% macro info_link(href) %}
  <a class="pgf-dialog-simple" href="{{href}}">
    <i class="icon-info-sign" style="vertical-align: middle;" rel="tooltip" title="подробнее"></i>
  </a>
{% endmacro %}


<div class="easy-block">
  <h2 style="cursor: default;">Характер</h2>

  <h3>Черты</h3>

  <ul class="unstyled">
    {{ habit_record(HABIT_TYPE.HONOR)}}
    {{ habit_record(HABIT_TYPE.PEACEFULNESS)}}
  </ul>

  <h3>Предпочтения</h3>

  <ul class="unstyled">
    {% set pref_religion = resource.hero.preferences.energy_regeneration_type.text %}
    {% set pref_mob = resource.hero.preferences.mob and resource.hero.preferences.mob.name %}
    {% set pref_place = resource.hero.preferences.place and resource.hero.preferences.place.name_from() %}
    {% set pref_friend = resource.hero.preferences.friend and resource.hero.preferences.friend.name_from()|safe %}
    {% set pref_enemy = resource.hero.preferences.enemy and resource.hero.preferences.enemy.name_from()|safe %}
    {% set pref_equipment_slot = resource.hero.preferences.equipment_slot and resource.hero.preferences.equipment_slot.text %}
    {% set pref_risk_level = resource.hero.preferences.risk_level and resource.hero.preferences.risk_level.text %}
    {% set pref_archetype = resource.hero.preferences.archetype and resource.hero.preferences.archetype.text %}
    {% set pref_companion_dedication = resource.hero.preferences.companion_dedication and resource.hero.preferences.companion_dedication.text %}
    {% set pref_companion_empathy = resource.hero.preferences.companion_empathy and resource.hero.preferences.companion_empathy.text %}

    {% if resource.hero.preferences.favorite_item %}
      {% set pref_favorite_item = resource.hero.equipment.get(resource.hero.preferences.favorite_item) %}
      {% if pref_favorite_item.rarity.is_NORMAL %}
        {% set favorite_template = '%s <span class="physic-label">%d</span> <span class="magic-label">%d</span>' %}
      {% elif pref_favorite_item.rarity.is_RARE %}
        {% set favorite_template = '<span class="rare-artifact-label">%s</span> <span class="physic-label">%d</span> <span class="magic-label">%d</span>' %}
      {% elif pref_favorite_item.rarity.is_EPIC %}
        {% set favorite_template = '<span class="epic-artifact-label">%s</span> <span class="physic-label">%d</span> <span class="magic-label">%d</span>' %}
      {% endif %}
      {% set pref_favorite_item = favorite_template % (pref_favorite_item.name, pref_favorite_item.power.physic, pref_favorite_item.power.magic ) %}
    {% else %}
      {% set pref_favorite_item = none %}
    {% endif %}

    {{ preferences_record(PREFERENCE_TYPE.ARCHETYPE, pref_archetype) }}
    {{ preferences_record(PREFERENCE_TYPE.RISK_LEVEL, pref_risk_level) }}
    {{ preferences_record(PREFERENCE_TYPE.ENERGY_REGENERATION_TYPE,  pref_religion) }}
    {{ preferences_record(PREFERENCE_TYPE.EQUIPMENT_SLOT, pref_equipment_slot) }}
    {{ preferences_record(PREFERENCE_TYPE.FAVORITE_ITEM, pref_favorite_item) }}
    {{ preferences_record(PREFERENCE_TYPE.COMPANION_EMPATHY, pref_companion_empathy) }}
    {{ preferences_record(PREFERENCE_TYPE.COMPANION_DEDICATION, pref_companion_dedication) }}
    {{ preferences_record(PREFERENCE_TYPE.MOB, pref_mob) }}
    {{ preferences_record(PREFERENCE_TYPE.PLACE, pref_place) }}
    {{ preferences_record(PREFERENCE_TYPE.FRIEND, pref_friend) }}
    {{ preferences_record(PREFERENCE_TYPE.ENEMY, pref_enemy) }}

  </ul>

  <h3>Особенности</h3>

{% macro feature_record(name, value, tooltip) %}
  <li class="hero-feature-record">
    <strong>{{ name }}</strong>
    <br/>
    <span class="" style="margin-left: 2em;">
      <span class="pull-right"  style="vertical-align: middle;">
        <span class="" style="vertical-align: middle;">{{value}}</span>
        <i class="icon-book"
           style="vertical-align: middle;"
           rel="tooltip"
           title="{{tooltip}}"></i>
      </span>
    </span>
  </li>
{% endmacro %}

  <ul class="unstyled">
    {{feature_record("тип", resource.hero.mob_type.text, "не изменяется, влияет только на фразы")}}
    {{feature_record("интеллект", resource.hero.intellect_level.text, "не изменяется, влияет только на фразы")}}
    {{feature_record("коммуникация", communication_abilities(resource.hero), "влияет только на фразы, способность к телепатии появляется если магическая сила героя больше физической")}}

    {{feature_record("способ передвижения", resource.hero.movement.text, "не изменяется, влияет только на фразы")}}
    {{feature_record("структура тела", resource.hero.structure.text, "не изменяется, влияет только на фразы")}}
    {{feature_record("размер тела", resource.hero.size.text, "зависит от расы, влияет только на фразы")}}
    {{feature_record("форма тела", resource.hero.body.text, "не изменяется, влияет только на фразы")}}
    {{feature_record("положение тела", resource.hero.orientation.text, "не изменяется, влияет только на фразы")}}
  </ul>

</div>
