{% extends "linguistics/templates/base.html" %}

{% import 'linguistics/templates/macros.html' as templates_macros with context %}

{% block title %}Редактирования шаблона «{{template.key.text}}» |{{ super() }}{% endblock %}
{% block description %}Редактирование шаблона «{{template.key.text}}».{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newForm = new pgf.forms.Form(jQuery('#pgf-edit-template-form'),
                                               {OnSuccess: function(instance, data){location.href = data.data.next_url;}});

});

</script>

{% endblock %}


{% block templates_content %}

{{ templates_macros.key_info(template.key)}}

<form id="pgf-edit-template-form"
      method="post"
      action="{{ url('linguistics:templates:update', template.id) }}">

  {{ form.errors_container }}

  {{ form.template.widget }}

  {% for field in form.verificators_fields() %}
  {{ field.widget }}
  {% endfor %}

  <div class="widget">
    <input type="submit" class="btn btn-success" value="Сохранить"/>
  </div>

</form>

{% endblock %}
