{% extends "linguistics/templates/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}
{% import 'linguistics/templates/macros.html' as templates_macros with context %}

{% block title %}{{key.text}} | {{ super() }}{% endblock %}
{% block description %}Шаблоны для фразы «{{key.text}}».{% endblock %}

{% block templates_content %}

{% if not resource.account.is_authenticated() %}
{{ base_macros.registration_required_message("иметь возможность добавлять шаблоны фраз.") }}
{% endif %}

{% if key %}
{{ templates_macros.key_info(key)}}
{% endif %}

{% if resource.account.is_authenticated() %}
<a class="btn btn-success" href="{{url('linguistics:templates:new', key=key.value)}}">Добавить шаблон</a>
{% endif %}

{{ list_filter_macros.html_filter(index_filter) }}

{% if templates %}

<table class="table">
  <thead>
    <tr>
      <th width="125px">состояние</th>
      <th>шаблон</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for template in templates %}
    <tr>
      <td>{{template.state.text}}</td>
      <td>{{template.raw_template}}</td>
      <td><a href="{{url('linguistics:templates:show', template.id)}}">подробнее</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<span class="pgf-no-templates-message">Не найдено шаблонов, отвечающих условиям поиска.</span>
{% endif %}

{% endblock %}
