{% extends "linguistics/templates/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}
{% import 'linguistics/templates/macros.html' as templates_macros with context %}
{% import 'accounts/macros.html' as accounts_macros with context %}

{% block title %}
  {% if key %}{{key.text}} | {{ super() }}
  {% else %}{{ super() }}
  {% endif %}
{% endblock %}

{% block description %}
  {% if key %}Шаблоны для фразы «{{key.text}}».
  {% else %}
    Все шаблоны.
  {% endif %}
{% endblock %}

{% block templates_content %}

{% if not resource.account.is_authenticated() %}
{{ base_macros.registration_required_message("иметь возможность добавлять шаблоны фраз.") }}
{% endif %}

{% if key %}
{{ templates_macros.key_info(key)}}
{% endif %}

<div class="accordion" id="pgf-help-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-help-accordion" href="#pgf-templates-description">
        Подробнее
      </a>
    </div>
    <div id="pgf-templates-description" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        {% include "linguistics/templates/templates_description.html" %}
      </div>
    </div>
</div>

<br/>


{% if key and resource.account.is_authenticated() %}
<a class="btn btn-success" href="{{url('linguistics:templates:new', key=key.value)}}">Добавить шаблон</a>
{% endif %}

{{ list_filter_macros.html_filter(index_filter) }}

{% if templates %}

{{ base_macros.render_paginator(paginator) }}

<table class="table">
  <thead>
    <tr>
      <th width="50px">обновлено</th>
      <th width="50px">ошибки</th>
      <th width="125px">состояние</th>
      <th width="125px">последний редактор</th>
      <th>шаблон</th>
      <th width="50px"></th>
    </tr>
  </thead>
  <tbody>
    {% for template in templates %}
    <tr>
      <td><span class="pgf-format-date" data-timestamp="{{ template.updated_at|timestamp }}"></span></td>
      <td>
        {% if template.errors_status.is_HAS_ERRORS %}<span class="label label-important">ошибки</span>
        {% else %}<span class="label label-success">чисто</span>
        {% endif %}
      </td>
      <td>{{template.state.text}}</td>
      <td>
        {% set author = authors.get(template.author_id) %}
        {% if author %}
          {{ accounts_macros.account_link(account=author, clan=clans.get(author.clan_id)) }}
        {% else %}
          нет
        {% endif %}
      </td>
      <td>{{template.raw_template}}</td>
      <td>
        <a href="{{url('linguistics:templates:show', template.id)}}">подробнее</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ base_macros.render_paginator(paginator) }}

{% else %}
<span class="pgf-no-templates-message">Не найдено шаблонов, отвечающих условиям поиска.</span>
{% endif %}

{% endblock %}
