{% extends "linguistics/templates/base.html" %}

{% import 'linguistics/templates/macros.html' as templates_macros with context %}

{% block title %}Новый шаблон «{{key.text}}» |{{ super() }}{% endblock %}
{% block description %}Создание нового шаблона «{{key.text}}».{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newForm = new pgf.forms.Form(jQuery('#pgf-new-template-form'),
                                               {OnSuccess: function(instance, data){location.href = data.data.next_url;}});

});

</script>

{% endblock %}


{% block templates_content %}

{{ templates_macros.key_info(key)}}

<ul>
  <li>Свойства слов приведены в описании <a href="{{url('linguistics:templates:specification')}}">формата шаблонов</a>.</li>
  <li>Обязательно ознакомьтесь с <a href="{{url('linguistics:how-add-phrase')}}">требованиями к фразам</a>.</li>
  <li>Пожалуйста, используйте эти кавычки: <code>«»</code>.</li>
</ul>

<form id="pgf-new-template-form"
      method="post"
      action="{{ url('linguistics:templates:create', key=key.value) }}">

  {{ form.errors_container }}

  {{ form.template.widget }}

  {% for field in form.verificators_fields() %}
  {{ field.widget }}
  {% endfor %}

  <div class="widget">
    <input type="submit" class="btn btn-success" value="Создать"/>
  </div>

</form>

{% endblock %}
