{% extends "linguistics/templates/base.html" %}

{% block title %}Шаблон «{{template.key.text}}» |{{ super() }}{% endblock %}
{% block description %}Шаблон «{{template.key.text}}».{% endblock %}

{% block templates_content %}

  <h2>{{template.key.text|up_first}}</h2>

  <p>{{template.key.description}}</p>

  <h3>Шаблон</h3>

  <p>{{template.raw_template}}</p>

  {% if errors %}
    <h3>Ошибки</h3>

    <ul class="pgf-errors-messages">
      {% for error in errors %}
        <li>{{error}}</li>
      {% endfor %}
    </ul>

  {% endif %}

  <h3>Проверки</h3>

  {% for verificator in template.verificators %}

    <h4></h4>

    <p>{{verificator.text}}</p>

  {% endfor %}


{% endblock %}
