{% extends "linguistics/base.html" %}

{% block title %} Спецификация формата шаблонов | {{ super() }}{% endblock %}

{% block linguistics_content %}

<p>
  Шаблон фразы — это обычный текст, с дополнительной разметкой, выделяющей места вставки переменных (например, имени героя) и слова, зависимые от этих переменных.
</p>

<p>
  Пример: <code>Вчера [mob] [укусил|mob] [hero|вн].</code>
</p>

<p>
  В зависимости от значений переменных, такой шаблон может стать как такой фразой:
  <code>Вчера гиена укусила Халлра.</code>
</p>

<p>так и такой: <code>Вчера светлячки укусили привидение.</code></p>

<p>Разберём пример подробно:</p>

<ul>
  <li><code>Вчера</code> — обычный текст.</li>
  <li><code>[mob]</code> — переменная, вместо которой подставится название монстра.</li>
  <li><code>[укусил|mob]</code> — слово, зависимое от перменной, часть его свойств будет изменяться в зависимости от свойств названия монстра (например, число). Генератор текста автоматически распазнаёт свойства формы слова и пытается их сохранить (например, будет распознано и сохранено прошлое время).</li>
  <li><code>[hero|вн]</code> — переменная. вместо которой подставится имя героя. Дополнительно указано, что имя должно быть в винительном падеже.</li>
</ul>

<p>Больше примеров шаблонов можно найти в <a href="{{url('linguistics:templates:')}}">списке всех фраз</a>, используемых в игре.</p>

<p>
  И перменные и зависимые слова в шаблоне выделяются одинаково и имеют следующий формат:
</p>

<ul>
  <li><code>[</code> — открывающая квадратная скобка.</li>
  <li><code>слово</code> — зависимое слово или идентификатор переменной. Генератор сначала проверяет наличие переменной с таким именем, если такой переменной нет, то слово ищется в словаре.</li>
  <li><code>|</code> — вертикальная черта — разделитель, нужен если указываем дополнительные свойства.</li>
  <li><code>имя переменной</code> — переменная, от которой зависит форма слова, может отсутствовать.</li>
  <li><code>|</code> — вертикальная черта — разделитель, нужен если указываем дополнительные свойства.</li>
  <li><code>свойства слова через запятую</code> — описание требуемой формы слова (падеж, род и так далее).</li>
  <li><code>]</code> — закрывающая квадратная скобка.</li>
</ul>

<p>
  Дополнительных свойств можно указывать сколько угодно, применяться они будут в порядке определения, например <code>[переменная 1|переменная 2|вн,мр|переменная 3|прш,ед,од]</code>.
</p>

<p>
  В большинстве случаев хватает следующих форматов:
</p>

<ul>
  <li><code>[переменная]</code> — вставить переменную в нормальной форме (например, существительное в именительном падеже единственного времени).</li>
  <li><code>[переменная|свойства]</code> — вставить переменную с указанными свойствами.</li>
  <li><code>[слово|переменная]</code> — вставить слово, согласовав его с переменной (например, прилагательное «красивый» с существительным по роду и падежу).</li>
  <li><code>[слово|переменная|свойства]</code> — вставить слово, согласова его с переменной и указав дополнительные свойства.</li>
</ul>

<p>
  Обратите внимание, что указание свойств для слов и переменных действует только в месте вставки, поэтому, чтобы получить словосочение «красивого героя» мы должны:
</p>

<ul>
  <li>либо указать винительный падеж явно для двух слов: <code>[красивый|hero|вн] [hero|вн];</code></li>
  <li>либо указать винительный падеж явно для переменной и неявно для прилагательного: <code>[красивого|hero] [hero|вн];</code></li>
</ul>


<h3>Свойства слов</h3>

<div class="accordion" id="pgf-word-properties-accordion">

  {% for property_group in UTG_PROPERTY_TYPE.records|sort(attribute="text") %}

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-word-properties-accordion" href="#pgf-properties-group-{{property_group.value}}">
          {{property_group.text|up_first}}
        </a>
      </div>

      <div id="pgf-properties-group-{{property_group.value}}" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">

          <table class="table">
            <thead>
              <tr>
                <th width="25px">сокращение</th>
                <th>свойство</th>
              </tr>
            </thead>
            <tbody>
              {% for property in property_group.relation.records %}
                <tr>
                  <td>{{property.verbose_id}}</td>
                  <td>{{property.text}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
