
<p>
  Названия ситуаций имеют префикс, дающий дополнительную информацию:
</p>

<ul>
  <li><strong>Действие:</strong> фразы, относящиеся к какому-либо занятию героя (например, к путешествию, сражению, отдыху);</li>
  <li><strong>Задание:</strong> фразы, относящиеся к конкретному типу заданий;</li>
  <li><strong>PvP:</strong> фразы, относящиеся к сражениям между игроками;</li>
  <li><strong>Способности:</strong> фразы, относящиеся к использованию разного рода способностей.</li>
</ul>

<p>
  Названия фраз имеют префикс, дающий дополнительную информацию о фразе, префикс может быть одним из следующих:
</p>

<ul>
  <li><strong>Актёр:</strong> очень краткое и общее название действующего объекта в задании (советника, город или что-то ещё);</li>
  <li><strong>Активность:</strong> текст в информации о задании, описывающий суть текущих действий героя в рамках задания (отображается в блоке задания под картинкой, поэтому фраза должна быть <strong>краткой</strong> и <strong>общей</strong>);</li>
  <li><strong>Вариант выбора:</strong> текст, который появляется в информации о задании в качестве варианта выбора;</li>
  <li><strong>Выбор:</strong> текст, который появляется в информации о задании после выбора;</li>
  <li><strong>Дневник:</strong> фраза предназначена для дневника героя;</li>
  <li><strong>Журнал:</strong> фраза предназначена для журнала героя;</li>
  <li><strong>Название:</strong> очень краткое и общее название задания;</li>
  <li><strong>Описание:</strong> фраза будет отображаться над прогресс баром в блоке текущего действия, поэтому она должна быть <strong>краткой</strong> и <strong>общей</strong>.</li>
</ul>

<p>
  требования к оформлению фраз:
</p>

<ul>
  <li>Фраза должна иметь минимальную зависимость от контекста (т.е. от того, что произошло или что делал герой ранее), так как в большинстве случаев это могут быть очень разные вещи и текст, написанный для одного случая, будет смотреться не к месту во втором.</li>
  <li>Фраза должна учитывать то, что артефактов, монстров (и чего угодно другого) может быть несколько (например, допустимо сражение со стаей ёжиков, а добычей может выступать горсть драгоценных камней).</li>
  <li>Мы используем букву <strong>Ё</strong>, в новых словах и фразах использовать её необходимо, старые необходимо исправлять с учётом использования этой буквы.</li>
  <li>На текущий момент, при сравнении с проверочными фразами, буквы <strong>Е</strong> и <strong>Ё</strong> считаются равными, чтобы облегчить исправление слов на использование буквы ё.</li>
  <li>Все числовые значения, которые появляются во фразах, — это целые числа и появляются в тексте как числа.</li>
  <li><strong>Актёр:</strong> с маленькой буквы, без точки в конце;</li>
  <li><strong>Активность:</strong> с маленькой буквы, без точки в конце;</li>
  <li><strong>Вариант выбора:</strong> с маленькой буквы, без точки в конце;</li>
  <li><strong>Выбор:</strong> с маленькой буквы, без точки в конце;</li>
  <li><strong>Дневник:</strong> от первого лица и в кавычках: «»;</li>
  <!-- <li><strong>Журнал:</strong> ;</li> -->
  <li><strong>Название:</strong> без точки в конце;</li>
  <li><strong>Описание:</strong> с маленькой буквы.</li>
</ul>
