
<p>
  Названия ситуаций имеют префикс, дающий дополнительную информацию:
</p>

<ul>
  <li><strong>Действие:</strong> фразы, относящиеся к какому-либо занятию героя (например, к путешествию, сражению, отдыху);</li>
  <li><strong>Задание:</strong> фразы, относящиеся к конкретному типу заданий;</li>
  <li><strong>PvP:</strong> фразы, относящиеся к сражениям между игроками;</li>
  <li><strong>Способности:</strong> фразы, относящиеся к использованию разного рода способностей.</li>
</ul>

<p>
  Названия фраз имеют префикс, дающий дополнительную информацию о фразе, префикс может быть одним из следующих:
</p>

<ul>
  <li><strong>Актёр:</strong> очень краткое и общее название действующего объекта в задании (советника, город или что-то ещё);</li>
  <li><strong>Активность:</strong> текст в информации о задании, описывающий суть текущих действий героя в рамках задания (отображается в блоке задания под картинкой, поэтому фраза должна быть <strong>краткой</strong> и <strong>общей</strong>);</li>
  <li><strong>Вариант выбора:</strong> текст, который появляется в информации о задании в качестве варианта выбора;</li>
  <li><strong>Выбор:</strong> текст, который появляется в информации о задании после выбора;</li>
  <li><strong>Дневник:</strong> фраза предназначена для дневника героя;</li>
  <li><strong>Журнал:</strong> фраза предназначена для журнала героя;</li>
  <li><strong>Название:</strong> очень краткое и общее название задания;</li>
  <li><strong>Описание:</strong> фраза будет отображаться над прогресс баром в блоке текущего действия, поэтому она должна быть <strong>краткой</strong> и <strong>общей</strong>.</li>
</ul>
