{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}Артефакты | {{ super() }}{% endblock %}
{% block description %}Список всех артефактов игры.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Артефакты", "Описание всех артефактов, встречающихся в Пандоре.") }}

<p>
  За время существования Пандоры, ремесленные искусства сильно продвинулись вперёд и сейчас существует большое количество различного рода экипировки, в разнообразии которой легко запутаться. Ситуацию усложняет и не меньшее количество добычи из монстров (различной степени полезности). Для решения этой проблемы, торговцы составляют огромные перечни предметов, которыми те торгуют. В данном разделе путеводителя мы попытались объединить наиболее значимые перечни, чтобы предоставить героям и их покровителям наиболее полную информацию.
</p>
<p>
  Особое внимание следует обратить на то, что каждому предмету приписан уровень. Кроме того, что предметы высокого уровня стоят дороже, следует помнить, что герои, чей уровень меньше уровня предмета, не могут определить его назначение и выкидывают (считая полным хламом).
<p>

<div class="accordion" id="pgf-artifact-effects-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-artifact-effects-accordion" href="#pgf-effects">
        Список свойств редких и эпических артефактов
      </a>
    </div>
    <div id="pgf-effects" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>название</th>
              <th>описание</th>
            </tr>
          </thead>
          <tbody>
            {% for effect in EFFECTS %}
              {% if effect.TYPE.is_NO_EFFECT %}{% continue %}{% endif %}
              <tr>
                <td>{{effect.TYPE.text}}</td>
                <td>{{effect.DESCRIPTION}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>


      </div>
    </div>
  </div>

</div>


{% if resource.can_create_artifact %}
<a class="btn btn-danger pgf-create-artifact-button" href="{{url('game:artifacts:new')}}">создать артефакт</a>
{% endif %}

{{ list_filter_macros.html_filter(index_filter) }}

{% if artifacts %}

<table class="table table-condensed">
  <thead>
    <tr>
      <th width="20px">уровень</th>
      <th>название</th>
      <th>добывается из</th>
      <th width="120px">экипировка</th>
      <th width="120px">сила</th>
    </tr>
  </thead>
  <tbody>
    {% for artifact in artifacts %}
    <tr>
      <td>{{artifact.level}}</td>
      <td>
        <a href="{{url('guide:artifacts:show', artifact.id)}}">{{artifact.name}}</a>
      </td>
      <td>
        {% if artifact.mob %}
        <a href="{{url('guide:mobs:show', artifact.mob.id)}}">{{artifact.mob.name}}</a>
        {% else %}
        —
        {% endif %}
      </td>
      <td>{{artifact.type.text}}</td>
      <td>{% if not artifact.type.is_USELESS %}{{artifact.power_type.text}}{% else %}—{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<span class="pgf-no-artifacts-message">Не найдено артефактов, отвечающих условиям поиска.</span>
{% endif %}

{% endblock %}
