{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}Артефакты | {{ super() }}{% endblock %}
{% block description %}Список всех артефактов игры.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Артефакты", "Описание всех артефактов, встречающихся в Пандоре.") }}

<p>
  За время существования Пандоры, ремесленные искусства сильно продвинулись вперёд и сейчас существует большое количество различного рода экипировки, в разнообразии которой легко запутаться. Ситуацию усложняет и не меньшее количество добычи из монстров (различной степени полезности). Для решения этой проблемы, торговцы составляют огромные перечни предметов, которыми торгуют. В данном разделе путеводителя мы попытались объединить наиболее значимые перечни, чтобы предоставить героям и их покровителям самую полную информацию.
</p>

<p>
  Все предметы принято делить на экипировку и хлам. Хлам герои только продают, а экипировку, соответственно названию, могут одевать, получая увеличение силы. Артефакты, относящиеся к экипировке, по-разному влияют на силу героя. Одни увеличивают её магическую составляющую, другие — физическую, третьи и ту и другую. В зависимости от своих предпочтений, герой может делать выбор в пользу одних предметов перед другими. Для того, чтобы узнать мнение героя о конкретном предмете, наведите мышку на предмет (в экипировке или рюкзаке), во всплывающей подсказке будет параметр «полезность» — чем он больше, тем полезнее этот предмет выглядит для героя. При смене экипировки герои ориентируются именно на этот параметр.
</p>

<p>
  Экипированные предметы со временем ломаются. За вероятность поломки отвечает параметр «целостность», чем она меньше, тем больше вероятность того, что артефакт сломается. При поломке уменьшаются параметры артефакта и его максимальная целостность. Целостность обычно уменьшается после каждого боя, но некоторые предпочтения и способности героев могут влиять на скорость её изменения. Периодически, герой самостоятельно ремонтирует свою экипировку. Кроме того, максимальная целостность уменьшается при «заточке» артефакта.
</p>

<p>
  Иногда герой может получить редкий или эпический артефакт, с особыми свойствами. Такие артефакты ценятся выше обычных, их «полезность» увеличивается. Кроме того, такая экипировка и продаётся значительно дороже.
</p>

<p>
  Некоторые артефакты обладают дополнительным особым свойством, которое работает всегда (независимо от редкости артефакта).
</p>

<div class="accordion" id="pgf-artifact-effects-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-artifact-effects-accordion" href="#pgf-effects">
        Список свойств редких и эпических артефактов
      </a>
    </div>
    <div id="pgf-effects" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>название</th>
              <th>описание</th>
            </tr>
          </thead>
          <tbody>
            {% for effect in EFFECTS %}
              {% if effect.TYPE.is_NO_EFFECT %}{% continue %}{% endif %}
              <tr>
                <td>{{effect.TYPE.text}}</td>
                <td>{{effect.DESCRIPTION}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>


      </div>
    </div>
  </div>

</div>


{% if resource.can_create_artifact %}
<a class="btn btn-danger pgf-create-artifact-button" href="{{url('game:artifacts:new')}}">создать артефакт</a>
{% endif %}

{{ list_filter_macros.html_filter(index_filter) }}

{% if artifacts %}

<table class="table table-condensed">
  <thead>
    <tr>
      <th width="20px">уровень</th>
      <th>название</th>
      <th>добывается из</th>
      <th width="120px">экипировка</th>
      <th width="120px">сила</th>
    </tr>
  </thead>
  <tbody>
    {% for artifact in artifacts %}
    <tr>
      <td>{{artifact.level}}</td>
      <td>
        <a href="{{url('guide:artifacts:show', artifact.id)}}">{{artifact.name}}</a>
      </td>
      <td>
        {% if artifact.mob %}
        <a href="{{url('guide:mobs:show', artifact.mob.id)}}">{{artifact.mob.name}}</a>
        {% else %}
        —
        {% endif %}
      </td>
      <td>{{artifact.type.text}}</td>
      <td>{% if not artifact.type.is_USELESS %}{{artifact.power_type.text}}{% else %}—{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<span class="pgf-no-artifacts-message">Не найдено артефактов, отвечающих условиям поиска.</span>
{% endif %}

{% endblock %}
