{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}

{% block title %}Артефакты | {{ super() }}{% endblock %}
{% block description %}Список всех артефактов игры.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Артефакты", "Описание всех артефактов, встречающихся в Пандоре.") }}

<p>
  За время существования Пандоры, ремесленные искусства сильно продвинулись вперёд и сейчас существует большое количество различного рода экипировки, в разнообразии которой легко запутаться. Ситуацию усложняет и не меньшее количество добычи из монстров (различной степени полезности). Для решения этой проблемы, торговцы составляют огромные перечни предметов, которыми те торгуют. В данном разделе путеводителя мы попытались объединить наиболее значимые перечни, чтобы предоставить героям и их покровителям наиболее полную информацию.
</p>
<p>
  Особое внимание следует обратить на то, что каждому предмету приписан уровень. Кроме того, что предметы высокого уровня стоят дороже, следует помнить, что герои, чей уровень меньше уровня предмета, не могут определить его назначение и выкидывают (считая полным хламом).
<p>

{% if resource.can_create_artifact %}
<a class="btn btn-danger pgf-create-artifact-button" href="{{url('game:artifacts:new')}}">создать артефакт</a>
{% endif %}

<div>
  <div class="btn-toolbar">

    <div class="btn-group">
      <a class="btn {% if not is_filtering %}disabled{% endif %}"
         href="{% if is_filtering %}{{ url('guide:artifacts:') }}{%else%}javascript: return none;{%endif%}">сбросить фильтрацию</a>
    </div>

    {% if resource.can_create_artifact or resource.can_moderate_artifact %}
    <div class="btn-group pgf-artifact-state-filter">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        состояние:
        {% if state.is_ENABLED %} в игре
        {% elif state.is_DISABLED %} вне игры
        {% endif %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_builder(state=ARTIFACT_RECORD_STATE.ENABLED) }}">в игре</a></li>
        <li><a href="{{ url_builder(state=ARTIFACT_RECORD_STATE.DISABLED) }}">вне игры</a></li>
      </ul>
    </div>
    {% endif %}

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        тип:
        {% if type is not none %} {{ type.text }}
        {% else %} все
        {% endif %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_builder(type=none) }}">все</a></li>
        {% for artifact_type in ARTIFACT_TYPE.records %}
        <li><a href="{{ url_builder(type=artifact_type.value) }}">{{artifact_type.text}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        сортировка: {{order_by.verbose}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% for order_id, order_text in INDEX_ORDER_TYPE._ID_TO_TEXT.items() %}
        <li><a href="{{ url_builder(order_by=order_id) }}">{{order_text}}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>

</div>

{% if artifacts %}

<table class="table table-condensed">
  <thead>
    <tr>
      <th width="20px">уровень</th>
      <th>название</th>
      <th>добывается из</th>
      <th width="120px">тип</th>
      <th width="120px">редкость</th>
    </tr>
  </thead>
  <tbody>
    {% for artifact in artifacts %}
    <tr>
      <td>{{artifact.level}}</td>
      <td>
        <a href="{{url('guide:artifacts:show', artifact.id)}}">{{artifact.name}}</a>
      </td>
      <td>
        {% if artifact.mob %}
        <a href="{{url('guide:mobs:show', artifact.mob.id)}}">{{artifact.mob.name}}</a>
        {% else %}
        —
        {% endif %}
      </td>
      <td>{{artifact.type.text}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<span class="pgf-no-artifacts-message">Не найдено артефактов, отвечающих условиям поиска.</span>
{% endif %}

{% endblock %}
