
{% macro artifact_info(artifact, limit_content=false, link_in_blank=false) %}

{% if limit_content %}
<div class="pgf-scrollable" style="overflow-y: auto; max-height: 400px;">
  {% endif %}

  <table class="table table-condensed table-striped table-bordered table-no-highlighting">
    <tbody>
      <tr><th>уровень</th><td>{{artifact.level}}</td></tr>
      <tr>
        <th>добыча из</th>
        <td>
          {% if artifact.mob %}
          <a href="{{url('guide:mobs:show', artifact.mob.id)}}" {% if link_in_blank %}target="_blank"{% endif %}>{{artifact.mob.name}}</a>
          {% else %}
          —
          {% endif %}
        </td>
      </tr>
      <tr><th>экипировка</th><td>{{ artifact.type.text }}</td></tr>
      <tr>
        <th>сила</th>
        <td>{% if not artifact.type.is_USELESS %}{{artifact.power_type.text}}{% else %}—{% endif %}</td>
      </tr>
      <tr>
        <th>бонус редкого артефакта</th>
        <td>
          {% if not artifact.rare_effect.is_NO_EFFECT %}
            {{ artifact.rare_effect.text }}
            <i class="icon-info-sign"
               style="vertical-align: middle"
               rel="tooltip"
               title="{{EFFECTS[artifact.rare_effect].DESCRIPTION}}"></i>
          {% else %}
            —
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>бонус эпического артефакта</th>
        <td>
          {% if not artifact.epic_effect.is_NO_EFFECT %}
            {{ artifact.epic_effect.text }}
            <i class="icon-info-sign"
               style="vertical-align: middle"
               rel="tooltip"
               title="{{EFFECTS[artifact.epic_effect].DESCRIPTION}}"></i>
          {% else %}
            —
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  {% if artifact.description %}
  {{artifact.description_html|safe}}
  {% else %}
  <p class="pgf-no-description">нет описания</p>
  {% endif %}

  {% if limit_content %}
</div>
{% endif %}


{% endmacro %}
