
{% macro artifact_info(artifact, limit_content=false, link_in_blank=false) %}

{% if limit_content %}
<div class="pgf-scrollable" style="overflow-y: auto; max-height: 400px;">
  {% endif %}

  <table class="table table-condensed table-striped table-bordered table-no-highlighting">
    <tbody>
      <tr><th>уровень</th><td>{{artifact.level}}</td></tr>
      <tr>
        <th>добыча из</th>
        <td>
          {% if artifact.mob %}
          <a href="{{url('guide:mobs:show', artifact.mob.id)}}" {% if link_in_blank %}target="_blank"{% endif %}>{{artifact.mob.name}}</a>
          {% else %}
          —
          {% endif %}
        </td>
      </tr>
      <tr><th>тип</th><td>{{ artifact.type.text }}</td></tr>
      <tr><th>редкость</th><td>{{ artifact.rarity.verbose }}</td></tr>
    </tbody>
  </table>

  {% if artifact.description %}
  {{artifact.description_html|safe}}
  {% else %}
  <p class="pgf-no-description">нет описания</p>
  {% endif %}

  {% if limit_content %}
</div>
{% endif %}


{% endmacro %}
