{% extends "artifacts/base.html" %}

{% block title %}Модерирование артефакта | {{ super() }}{% endblock %}
{% block description %}Модерирование артефакта.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var moderateForm = new pgf.forms.Form(jQuery('#pgf-moderate-artifact-form'),
                                               {OnSuccess: function(instance, data){location.href = data.data.next_url;}});
});

</script>

{% endblock %}

{% block artifacts_content %}

<h2>Редактирование артефакта</h2>

<form id="pgf-moderate-artifact-form" method="post" action="{{ url('game:artifacts:moderate', artifact.id) }}">

  {{ form.errors_container }}

  {{ form.uuid.widget }}

  {{ form.mob.widget }}

  {{ form.approved.widget }}

  <p class="alert alert-warning">
    <strong>Внимание!</strong> Если название во вножественном числе, то необходимо заменить нормальную форму и добавить property "мн".
  </p>
  {{ form.name_forms.widget }}

  {{ form.level.widget }}

  {{ form.type.widget }}

  {{ form.power_type.widget }}

  {{ form.rare_effect.widget }}
  {{ form.epic_effect.widget }}

  {{ form.description.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Сохранить"/>
  </div>

</form>

{% endblock %}
