{% extends "artifacts/base.html" %}

{% block title %}Модерирование артефакта | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var moderateForm = new pgf.forms.Form(jQuery('#pgf-moderate-artifact-form'),
                                               {OnSuccess: function(instance, data){location.href = data.data.next_url;}});

    pgf.base.AddPreview('#pgf-artifact-description', 'textarea', "{{ url('portal:preview') }}");
    pgf.base.InitBBFields('#pgf-artifact-description');
});

</script>

{% endblock %}

{% block artifacts_content %}

<h2>Редактирование артефакта</h2>

<form id="pgf-moderate-artifact-form" method="post" action="{{ url('game:artifacts:moderate', artifact.id) }}">

  {{ form.errors_container }}

  {{ form.uuid.widget }}

  {{ form.approved.widget }}

  {{ form.name_forms.widget }}

  {{ form.min_level.widget }}
  {{ form.max_level.widget }}

  {{ form.type.widget }}

  {{ form.rarity.widget }}

  <div id="pgf-artifact-description">
    <div class="pgf-edit-content">
      {{ form.description.widget }}
    </div>

    <div class="pgf-preview-content pgf-hidden">
    </div>

    <div class="widget">
      <input type="button" class="btn pgf-preview-button" value="Предпросмотр"/>
      <input type="button" class="btn pgf-edit-button pgf-hidden" value="Редактировать"/>
    </div>

    <br/>
  </div>

  <div class="widget">
    <input type="submit" class="btn" value="Сохранить"/>
  </div>

</form>

{% endblock %}
