{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}Карты Судьбы | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание карт судьбы и их список.{% endblock %}

{% block guide_content %}

  {{ guide_macros.page_caption("Карты Судьбы", "Описание карт судьбы и их список.") }}

  <p>
    Карты судьбы — это особые одноразовые действия, позволяющие Хранителю оказать существенное влияние на героя или мир.
  </p>

  <p>
    Игроки создали <a href="{{ settings.CARDS_TUTORIAL }}" target="_blank">руководство по Картам Судьбы</a>, которое может помочь лучше разобраться в картах.
  </p>

  <p>
    Хранитель получает карты раз в {{value("tt_logic.cards.constants", "NORMAL_RECEIVE_TIME")}} часов. Подписчики получают карты в {{value("tt_logic.cards.constants", "PREMIUM_PLAYER_SPEED")}} раза быстрее.
  </p>

  <p>
    Заработать дополнительные карты можно в <a href="{{url('linguistics:')}}">лингвистике</a>, придумывая новые фразы для игры. Автор каждой принятой в игру фразы получает случайную карту, которую можно продать на рынке.
  </p>

  <p>
    Карты имеют разные эффекты, некоторые влияют на героя, другие — на окружающий мир. Сила и тип эффекта зависят от редкости карты, которая бывает:
  </p>

  <ul>
    {% for rarity in CARD_RARITY.records %}
    <li class="{{rarity.name|lower}}-card-label">{{rarity.text}}</li>
    {% endfor %}
  </ul>

  <p>
    Часть карт, влияющих на мир игры, могут получить только подписчики (но использовать могут все). Если такие карты вам не нужны, их можно отключить в меню работы с картами.
  </p>

  <p>
    Карты, полученные подписчиками в игре, могут быть проданы на рынке. Продать можно только карту, полученную во время подписки. Карты, купленные на рынке, могут быть перепроданы.
  </p>

  <p>Карты можно превращать друг в друга.</p>

  <ul>
    <li>Одна карта превращается в случайную карту меньшей редкости.</li>
    <li>Две карты одной редкости превращаются в случайную карту той же редкости.</li>
    <li>Три карты одной редкости превращаются в случайную карту большей редкости.</li>
    <li>Часть карт можно превращать по особым правилам, указанным в описании карт.</li>
    <li>Если всеми превращаемыми картами можно торговать на рынке, то и новой картой можно будет торговать на рынке.</li>
    <li>Первыми в обмен отправляются непродаваемые карты.</li>
    <li>Первыми из обмена забираются продаваемые карты.</li>
  </ul>

  {{ list_filter_macros.html_filter(index_filter) }}

  <table class="table table-condensed">
    <thead>
      <tr><th width="10px"></th><th>название</th><th>описание</th></tr>
    </thead>
    <tbody>
      {% for card in CARDS %}
        <tr>
          <td>
            <div class="{{card.rarity.name|lower}}-card-bg"
                 style="height: 10px; width: 10px; margin-top: 5px; cursor: pointer;"
                 rel="tooltip"
                 title="{{card.rarity.text}}"></div>
          </td>
          <td width="150px;" class="">
              {{card.text}}
          </td>
          <td>
            {{card.effect.DESCRIPTION}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}
