
{% import 'accounts/macros.html' as accounts_macros with context %}

<script src="{{ STATIC_CONTENT }}game/cards.js" type="text/javascript"></script>

<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.actions = new pgf.game.widgets.Action('#current-action-block', updater, widgets);

    widgets.abilities = new pgf.game.widgets.Abilities();

    widgets.cards = new pgf.game.widgets.Cards({getItems: "{{get_cards_url()}}",
                                                getCard: "{{receive_cards_url()}}",
                                                transformItems: "{{transform_cards_url()}}",
                                                moveToStorage: "{{move_to_storage_url()}}",
                                                moveToHand: "{{move_to_hand_url()}}",
                                                useCardDialog: "{{url('game:cards:use-dialog')}}"})

    widgets.cardsProgress = new pgf.game.widgets.CardsProgress({container: jQuery(".pgf-cards-choices"),
                                                                cards: widgets.cards});

});
</script>

{% if not resource.account.is_premium %}

  <div style="margin-bottom: 0.5em;">

    {% if resource.account.show_subscription_offer %}
      <a href="{{url('shop:')}}"
         class="label label-info">
        Станьте подписчиком — вмешайтесь в судьбу Пандоры!
      </a>
    {% endif %}

  </div>

{% endif %}



<div id="current-action-block" class="easy-block" style="cursor: default;">

  <strong class="action-info pgf-action-info"></strong>

  <i class="icon-star pgf-boss-mark pgf-hidden" style="vertical-align: middle;" rel="tooltip" title="Противник особо опасен"></i>

  <a href="#" class="pgf-action-info-link pgf-hidden">
    <i class="icon-info-sign" style="vertical-align: middle;" rel="tooltip" title="дополнительная информация"></i>
  </a>

  <div class="progress progress-success" style="margin: 10px 0;">
    <div class="bar pgf-action-percents"></div>
  </div>

  <div id="abilities-block">

    <div class="dropdown" style="display: inline-block;  width: 30%; font-size: 11pt;">
      <i class="icon-gift pgf-new-card-icon pgf-hidden" style="margin-top: 1px;" rel="tooltip" title="Вы можете получить новую карту!"></i>
      <a href="#" class="dropdown-toggle pgf-cards-for-use-dropdown" data-toggle="dropdown">карты<b class="caret"></b></a>
      <ul class="pgf-scrollable dropdown-menu pgf-cards-choices"
          role="menu"
          style="max-height: 310px; overflow-y: auto; font-size: 10pt; z-index: 1011; text-align: left;">

        <li class="pgf-get-card-statistics"
            style="text-align: center;"
            rel="tooltip"
            title="<ul style='text-align: left;'>
                   <li>Игроки получают карту каждые {{value('tt_logic.cards.constants', 'NORMAL_RECEIVE_TIME')}} часов.</li>
                   <li>Подписчики получают карту каждые {{(value('tt_logic.cards.constants', 'NORMAL_RECEIVE_TIME') / value('tt_logic.cards.constants', 'PREMIUM_PLAYER_SPEED'))|int}} часов.</li>
                   <li>Подписчики могут получить особые типы карт, недоступные другим игрокам.</li>
                   <li>Карты, получаемые подписчиками, можно продавать на рынке.</li>
                   <li>Заработать дополнительные карты можно в разделе лингвистики. Аффтар каждой принятой в игру фразы получает случайную карту, которую можно продать на рынке.</li>
                   </ul>">
            до следующей карты<br/>

            <div class="progress progress-info" style="margin: 0.25em; height: 18px; position: relative;">
              <div class="bar pgf-new-card-progress"></div>
              <div class="" style="width: 100%; position: absolute; top: 0;">
                <span class="pgf-new-cards-timer"></span>
              </div>
            </div>

          </li>

          <li class="pgf-get-card-button pgf-hidden">
            <a href="#" style="margin: 0.25em; height: 18px;">Взять карту! x <span class="pgf-new-cards-number"></span></a>
          </li>

          <li class="pgf-storage-card-button">
            <a href="#" style="margin: 0.25em; height: 18px;">Хранилище</a>
          </li>

          <li class="pgf-transformator-card-button">
            <a href="#" style="margin: 0.25em; height: 18px;">Превращение</a>
          </li>

          <li class="divider"></li>

          <ul class="pgf-cards-container unstyled">
            <li class="pgf-template">
              <a href="{{url('game:cards:use-dialog')}}"
                 class="pgf-card-link"
                 style="font-size: 10pt;">
                <span class="pgf-number">1</span> <span style="color: #0088cc;">x</span> <span class="pgf-card-record"></span>
              </a>
            </li>
          </ul>

          <li class="pgf-no-cards" style="font-size: 10pt;">
            <a href="#"
               rel="tooltip"
               title="Подробнее про Карты Судьбы Вы можете узнать в путеводителе.">
               У Вас нет карт
            </a>
          </li>
      </ul>
    </div>

    <a href="#" class="angel-ability pgf-ability-help pgf-hidden" style="display: inline-block; width: 30%;">
      <i class="icon-tint" rel="tooltip" title="недостаточно энергии"></i>
      <i class="icon-ban-circle" rel="tooltip" title="необходимо завершить регистрацию"></i>
      <span rel="tooltip"
            title="Помочь герою. В зависимости от ситуации и везения может:
                   <ul style='text-align: left;'>
                     <li>Вылечить героя</li>
                     <li>Дать герою опыт</li>
                     <li>Воскресить героя</li>
                     <li>Дать герою деньги</li>
                     <li>Подлечить спутника</li>
                     <li>Телепортировать героя</li>
                     <li>Нанести урон противнику</li>
                     <li>Заставить героя взять задание</li>
                   </ul>
                   Помощь во время боя уменьшает миролюбие героя.<br/>
                   Помощь в любое другое время — увеличивает.
                   <hr/>
                   <i>{{ABILITY_TYPE.HELP.cost}} энергии без учёта бонусов</i>">
        помочь
      </span>
    </a>

    <a href="#" class="angel-ability pgf-ability-arena_pvp_1x1 pgf-hidden" style="display: inline-block; width: 30%; font-size: 11pt;">
      <i class="icon-tint" rel="tooltip" title="недостаточно энергии"></i>
      <i class="icon-ban-circle" rel="tooltip" title="необходимо завершить регистрацию"></i>
      <span rel="tooltip" title="Отправить героя на арену<br/><hr/><i>{{ABILITY_TYPE.ARENA_PVP_1x1.cost}} энергии без учёта бонусов</i>">на арену</span>
    </a>

    <span class="pgf-in-pvp-queue-message pgf-hidden" style="vertical-align: middle; font-size: 11pt;">
      <a href="#" class="angel-ability pgf-ability-arena_pvp_1x1_leave_queue">
        <i class="icon-remove" rel="tooltip" title="выйти из очереди<br/><hr/><i>{{ABILITY_TYPE.ARENA_PVP_1x1_LEAVE_QUEUE.cost}} энергии без учёта бонусов</i>" style="vertical-align: middle;"></i>
      </a>
      <span rel="tooltip" title="идёт поиск противника для битвы на арене">
        в очереди…
      </span>
    </span>

  </div>

</div>
