{% extends "base.html" %}

{% block content %}

<div class="block">

<h1>Здравствуйте!</h1>

<p>
  Добро пожаловать в <strong>Сказку</strong> - многопользовательскую ролевую игру с непрямым управлением персонажами. На текущий момент мы находимся в ранней альфе, но уже можно пощупать основные фишки игры. Итак, <strong>Сказка</strong> - это:
</p>

<dl>

  <dt>Живой мир</dt>
  <dd>Мир игры в состоянии жить без какого либо вмешательства игроков, при этом жизнь в нём не замирает, а продолжает бить ключём. Его жители конкурируют за влияние, меняются очертания лесов, пустынь. Растут и угасают города, творится история. Задача игроков - направить историю туда, куда они хотят.</dd>

  <dt>Живая история</dt>
  <dd>Забудьте о линейных однообразных квестах. У нас историю творите Вы. Все задания, которые получают герои, не только привязаны к текущей ситуации в мире, предоставляют возможность выбора, но и оказывают существенное влияние на развитие сюжета. Хотите, что бы город перешёл во владение орков? - Помогайте им или, наоборот, мешайте всем остальным.</dd>

  <dt>Живые герои</dt>
  <dd>Герои нашей <strong>Сказки</strong> - не бездушные марионетки. Они обладают волей и в состоянии действовать без Вашей помощи. Вы же можете помогать им и подталкивать к нужным решениям.</dd>
</dl>

<p>
  {% if not resource.account %}
  Чтобы начать игру, Вам надо <a href="{{ url('accounts:registration') }}">зарегистрироваться</a> или <a href="{{ url('accounts:login') }}">войти</a>, если вы уже создали аккаунт.
  {% else %}
  <a href="{{ url('game:') }}">Перейти к игре</a>
  {% endif %}
</p>

</div>

{% endblock %}
