{% extends "base.html" %}

{% import 'news/macros.html' as news_macros with context %}

{% block title %}{{ super() }}{% endblock %}

{% block content %}

{% if not resource.account.is_authenticated() %}
<div class="row">
  <div class="span12">
    <div class="block">
      <a class="btn btn-danger pgf-fast-registration"
         href="{{ url('accounts:registration:fast') }}"
         style="width: 170px; height: 64px; font-size: 19pt; float: left; margin-right: 0.5em; margin-top: 0.3em;">
        <span style="position: relative; top: 20px;">Создать героя</span>
      </a>

      <h2>Здравствуйте!</h2>

      <p>
        Добро пожаловать в Сказку — многопользовательскую ролевую игру с непрямым управлением персонажами и изменяемым окружением.
      </p>
      <p>
        Наша цель — сплести вокруг каждого игрока клубок волшебных историй и, объединив их, создать настоящий живой мир.
      </p>
      <p>
        На текущий момент мы находимся в альфе, но уже можно пощупать основные фишки игры. Итак, Сказка — это:
      </p>

      <dl>

        <div class="dl-record">
          <dt>Живой мир</dt>
          <dd>Мир игры в состоянии жить без какого-либо вмешательства игроков — жизнь в нём никогда не замирает. Его жители конкурируют за влияние, меняются очертания лесов, пустынь, лугов и болот. Растут и угасают города, творится история. Задача игроков — направить историю туда, куда они хотят.</dd>
        </div>

        <div class="dl-record">
          <dt>Живая история</dt>
          <dd>Забудьте о линейных однообразных квестах. У нас историю делаете Вы. Все задания, которые получают герои, привязаны к текущей ситуации в мире, предоставляют возможность выбора и оказывают существенное влияние на развитие сюжета. Хотите, чтобы город перешёл во владение орков? — Помогайте им или мешайте всем остальным.</dd>
        </div>

        <div class="dl-record">
          <dt>Живые герои</dt>
          <dd>Герои нашей Сказки — не бездушные марионетки. Они обладают волей и в состоянии действовать без Вашей помощи. Вы же можете помогать им и подталкивать к нужным решениям. </dd>
        </div>

      </dl>

      <p>
        Хотите узнать больше? — <a href="{{ url('guide:') }}">Путеводитель по Сказке</a> к Вашим услугам.
      </p>

    </div>
  </div>
</div>

{% endif %}

<div class="row">
  <div class="span3" style="min-height: 50px;">&nbsp;</div>
  <div class="span6" style="text-align: center; min-height: 50px;">
    <h1 style="font-size: 40px; line-height: 50px;">Вестник Пандоры</h1>
  </div>
  <div class="span3" style="vertical-align: middle; min-height: 50px;">
    <h4 style="line-height: 50px;">Выпуск №{{get_edition_number()}}</h4>
  </div>
</div>

<div class="row">

  <div class="span3">
    <div class="block">
      <h4 class="newspaper-column-header">Герой дня</h4>
      {% if hero_of_the_day %}
      <ul class="unstyled">
        <li>
          <h4>
            <a href="{{ url('game:heroes:show', hero_of_the_day.id) }}">{{ hero_of_the_day.name }}</a>
            <small>{{ hero_of_the_day.gender_verbose }} {{ hero_of_the_day.race_verbose}}</small>
          </h4>
        </li>
        <li><strong>уровень:</strong> {{ hero_of_the_day.level}}</li>
        <li><strong>сила:</strong> {{ hero_of_the_day.power }}</li>
        <li><strong>покровитель:</strong> <a href="{{ url('accounts:show', account_of_the_day.id) }}">{{ account_of_the_day.nick}}</a></li>
        <li><strong>могущество:</strong> {{ hero_of_the_day.might }}</li>
      </ul>
      {% else %}
      Здесь может быть Ваша реклама.
      {% endif %}
    </div>

    <div class="block">
      <h4 class="newspaper-column-header">
        Горячие темы
        <a href="{{ url('forum:feed') }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss форума">
          <img src="{{STATIC_URL}}images/rss.png" style="margin: 2px;"/>
        </a>
        <small><a href="{{ url('forum:') }}">ещё…</a></small>
      </h4>
      <ul class="unstyled">
        {% for thread in forum_threads %}
        <li class="newspaper-link-list">
          <span class="pgf-format-time newspaper-link-time" data-timestamp="{{ thread.updated_at|timestamp }}"></span>
          <span class="newspaper-forum-user">{{thread.last_poster.nick}}</span>
          <br/>
          {{ thread.caption }}&nbsp;<a style="font-size: 10pt;" href="{{ thread.paginator.last_page_url }}">➔</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="block">
      <h4 class="newspaper-column-header">Фольклористика</h4>
      <ul class="unstyled">
        {% for blog_post in blog_posts %}
        <li class="newspaper-link-list">
          <span class="pgf-format-date newspaper-link-time" data-timestamp="{{ blog_post.created_at|timestamp }}"></span>
          <span class="newspaper-forum-user">{{blog_post.author.nick}}</span>
          <br/>
          {{ blog_post.caption }}&nbsp;<a style="font-size: 10pt;" href="{{ url('blogs:posts:show', blog_post.id) }}">➔</a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>

  <div class="span6">
    <div class="row">
      <div class="span6">
        <div class="block">

          <h4 class="newspaper-column-header">
            Новости
            <a href="{{ url('news:feed') }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss новостей">
              <img src="{{STATIC_URL}}images/rss.png" style="margin: 2px;"/>
            </a>
            <small><a href="{{ url('news:') }}">ещё…</a></small>
          </h4>

          <ul class="unstyled">
            {% for record in news %}
            {{ news_macros.news_record(record) }}
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>

    <div class="row">

      <div class="span3" style="min-width: 270px;">
        <div class="block">
          <h4 class="newspaper-column-header">Географический уголок</h4>
          <span style="font-size: 8pt;">от Гоблинского Географического Общества.</span>

          <table class="table table-condensed">
            <tr><th>местность</th>  <th>распространение<th></tr>
            <tr><th>{{MAP_STATISTICS._ID_TO_TEXT[MAP_STATISTICS.LOWLANDS]}}</th> <td>{{ map_info.terrain_percents.get(MAP_STATISTICS.LOWLANDS, 0)|percents }}</td></tr>
            <tr><th>{{MAP_STATISTICS._ID_TO_TEXT[MAP_STATISTICS.PLAINS]}}</th> <td>{{ map_info.terrain_percents.get(MAP_STATISTICS.PLAINS, 0)|percents }}</td></tr>
            <tr><th>{{MAP_STATISTICS._ID_TO_TEXT[MAP_STATISTICS.UPLANDS]}}</th> <td>{{ map_info.terrain_percents.get(MAP_STATISTICS.UPLANDS, 0)|percents }}</td></tr>
            <tr><th>{{MAP_STATISTICS._ID_TO_TEXT[MAP_STATISTICS.DESERTS]}}</th> <td>{{ map_info.terrain_percents.get(MAP_STATISTICS.DESERTS, 0)|percents }}</td></tr>
            <tr><th>{{MAP_STATISTICS._ID_TO_TEXT[MAP_STATISTICS.GRASS]}}</th> <td>{{ map_info.terrain_percents.get(MAP_STATISTICS.GRASS, 0)|percents }}</td></tr>
            <tr><th>{{MAP_STATISTICS._ID_TO_TEXT[MAP_STATISTICS.FORESTS]}}</th> <td>{{ map_info.terrain_percents.get(MAP_STATISTICS.FORESTS, 0)|percents }}</td></tr>
          </table>

        </div>
      </div>

      <div class="span3" style="min-width: 270px;">
        <div class="block">
          <h4 class="newspaper-column-header">Политический обзор</h4>
          <span style="font-size: 8pt;">от ПандораСтат</span>
          <table class="table table-condensed">
            <tr><th>раса</th>   <th>влияние<th><th>города</th></tr>
            <tr><th>люди</th>   <td>{{ map_info.race_percents.get(RACE.HUMAN, 0)|percents }}<td> <td>{{ map_info.race_cities.get(RACE.HUMAN, 0) }}</td></tr>
            <tr><th>гоблины</th><td>{{ map_info.race_percents.get(RACE.GOBLIN, 0)|percents }}<td><td>{{ map_info.race_cities.get(RACE.GOBLIN, 0) }}</td></tr>
            <tr><th>эльфы</th>  <td>{{ map_info.race_percents.get(RACE.ELF, 0)|percents }}<td>   <td>{{ map_info.race_cities.get(RACE.ELF, 0) }}</td></tr>
            <tr><th>орки</th>   <td>{{ map_info.race_percents.get(RACE.ORC, 0)|percents }}<td>   <td>{{ map_info.race_cities.get(RACE.ORC, 0) }}</td></tr>
            <tr><th>дварфы</th> <td>{{ map_info.race_percents.get(RACE.DWARF, 0)|percents }}<td> <td>{{ map_info.race_cities.get(RACE.DWARF, 0) }}</td></tr>
          </table>
        </div>
      </div>

    </div>

  </div>

  <div class="span3">

    <div class="block">
      <h4 class="newspaper-column-header">Законотворчество</h4>

      <ul class="unstyled">
        {% for bill in bills %}
        <li class="newspaper-link-list">
          <span class="pgf-format-datetime newspaper-link-time" data-timestamp="{{ bill.updated_at|timestamp }}"></span><br/>
          <strong>{{bill.last_bill_event_text}}</strong>
          «{{ bill.caption }}»&nbsp;<a href="{{ url('game:bills:show', bill.id) }}">➔</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="block">
      <h4 class="newspaper-column-header">Последние события <small><a href="{{ url('game:chronicle:') }}">ещё…</a></small></h4>

      <ul class="unstyled">
        {% for record in chronicle_records %}
        <li class="newspaper-link-list">
          <span class="newspaper-link-time">{{record.game_time.verbose_date}}</span><br/>
          {{ record.text }}
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>

</div>

{% endblock %}
