
<style>
  .feature-record {
  font-size: 12pt;
  line-height: 26px;
  margin-left: 1em;
  }
</style>

  <h3>MMORPG на 5 минут в день</h3>

<ul class="unstyled">
  <li class="feature-record">самостоятельные герои</li>
  <li class="feature-record">бесконечная прокачка</li>
  <li class="feature-record">нелинейные задания</li>
  <li class="feature-record">изменяемый мир</li>
  <li class="feature-record">политика</li>
  <li class="feature-record">дружное сообщество</li>
</ul>


<div style="text-align: left; margin-left: 1em; ">
  <a class="btn btn-success pgf-fast-registration"
     href="{{ url('accounts:registration:fast') }}"
     style="text-align: center; font-size: 14pt; padding: 0.5em;">
    Создать героя
  </a>
</div>
