{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="block">

      <div class="block pull-right">
        <ul>
          <li><a href="#registration">О регистрации</a></li>
          <li><a href="#game">Кратко об игре</a></li>
          <li><a href="#interface">Описание интерфейса</a></li>
        </ul>
      </div>

      <h1>Кратий путеводитель по Сказке<div class="anchor" id="top"></h1>

      <h2>О регистрации<div class="anchor" id="registration"></div></h2>

      {% if resource.account and resource.account.is_fast %}
      <p class="alert alert-info">
        Если Вам лень читать про регистрацию, то просто перейдите на <a href="{{ url('accounts:profile') }}">страницу своего профиля</a> и укажите Ваше имя, email и пароль.
      </p>
      {% endif %}

      <p>
        Как Вы могли заметить, для начала игры нет необходимости вводить какие-либо данные о себе. Это удобно, но такая регистрация не позволит Вам насладиться всеми прелестями игры. Всё потому, что пока Вы не представитесь, нам трудно отличить Вас от других игроков. Из-за этого, существуют следующие ограничения:
      </p>

      <ul>
        <li>Вы можете входить только с компьютера на котором в первый раз вошли в игру</li>
        <li>Любой человек, имеющий доступ к вашему компьютеру сможет получить доступ к Вашему герою</li>
        <li>Вы не можете общаться на нашем форуме (но можете читать его)</li>
        <li>Ваш герой может быть удалён через некоторое время</li>
        <li>Вам отображается надоедливое предупреждение вверху страниц сайта</li>
      </ul>

      <p>
        Избавиться от всех ограничений очень просто, достаточно перейти на <a href="{{ url('accounts:profile') }}">страницу своего профиля</a> и указать Ваше имя, email и пароль. Имя и email должны быть уникальны. Email является Вашим идентификатором для входа в Сказку с любого компьютера, мы нигде его не публикуем и используем только для связи с Вами (например, для восстановления пароля). Указанное имя будет использовано для подписи Ваших сообщений на форуме.
      </p>

      <a href="#top">в начало</a>

      <h2>Кратко об игре<div class="anchor" id="game"></div></h2>

      <p><strong>Сказка</strong> это:</p>

      <ul class="unstyled">
        <li><strong>многопользовательская</strong> - тысячи игроков одноврменно находятся в одном мире и влияют на его судьбу</li>
        <li><strong>ролевая</strong> - игрок может примерить на себя роль ограниченную только его фантазией </li>
        <li><strong>игра</strong> - в Сказке дозволено чуть больше, чем в реальной жизни</li>
        <li><strong>с непрямым управлением персонажем</strong> - ваш подопечный достаточно умён, что бы обходиться без постоянного надзора. Влиять на его поведение можно только косвенно - и от этого его успехи становятся ещё приятнее!</li>
        <li><strong>и изменяемым окружением</strong> - мир, в котором вы действуете, развивается: растут и угасают, переходят из рук в руки города, леса борются с пустынями, меняется животный мир</li>
      </ul>

      <p>
        Многопользовательских ролевых игр много - не будем рассписывать их прелести - всё уже описано до нас. Лучше остановимся на непрямом управлении персонажем - сути нашей игры.
      </p>

      <p>
        В Сказке Вы играете за особенно непоседливого ангела-хранителя, который решил сделать героя из своего подопечного (не спрашивая последнего о согласии). Благодаря Вашей силе, герою не грозит даже смерть (если его "убьют" он со временем воскреснет). Правда, в воспитательном процессе возникла одна незначительная проблема: герой ходит по земле, а Вы застряли в астральном мире. Поэтому, подопечный большую часть времени предоставлен самому себе. Впрочем, всегда есть выход: как бы не была слаба связь с героем, Вы можете помочь ему. Для этого надо потратить часть своей энергии (она восстанавливается со временем). В зависимости от занятия героя, помощь будет различаться: это может быть как внезапный дождь из золота, так и разряд молнии, направленый в ближайшее чудовище.
      </p>

      <p>
        Герой же, осознав себя избранником высших сил, сразу принимается за выполнение заданий, которые ему выдают сильные мира сего. Обычно, в каждом поселении существует несколько персонажей, готовых попросить героя об услуге, за одну из которых тот с радостью берётся. Но не всегда завершает, так, как от него ожидается. Надо сказать, что герои обычно попадаются безпринципные и мелочные, поручи такому доставить посылку - он её украдёт (а может и не украдёт, как захочет). Независимо от исхода задания, поступки героя изменяют влияние персонажей, которые, в свою очередь, определяют развитие городов и их принадлежность одной из игровых рас.
      </p>

      <p>
        Если влияние одной из рас в городе начинает преобладать над остальными, город переходит в её владение. При этом изменяется не только поселение, но и мир вокруг него. Вам нравятся леса? - Убедите героя помогать эльфам и со временем его усилия приведут к тому, что мир покроется пышной растительностью. Нравятся орки? - помогайте им, подставляете ушастых гордецов и наслаждайтесь барханами в бескрайних пустынях.
      </p>

      <p>
        Несмотря на своеволие героев, на их решения можно влиять (со временем, можно будет и воспитывать). В каждом задании, как и в любой истории есть точки выбора: украсть или не украсть, убить/отпустить, вдоволь наесться или раздать деньги бедным. Вы можете "помочь" герою сдеть правильный выбор, но для этого за ним нужно внимательно следить, что бы не упустить такую возможность.
      </p>

      <a href="#top">в начало</a>

      <h2>Описание интерфейса<div class="anchor" id="interface"></div></h2>

      <p>
        Сейчас интерфейс должен быть достаточно интуитивным. Мы напишем сюда что-нибудь во время выхода бета версии, до тех пор интерфейс может существенно измениться.
      </p>

      <p>
        Если у Вас есть вопросы, Вы можете задать их на <a href="{{ url('forum:') }}">форуме</a>.
      </p>

      <a href="#top">в начало</a>

    </div>
  </div>
</div>

{% endblock %}
