{% extends "personal_messages/base.html" %}

{% import 'macros.html' as base_macros with context %}

{% block head %}
{{ super() }}

<script type="text/javascript">

jQuery(document).ready(function(){

    jQuery('.pgf-answer-to-message').click(function(e){
        e.preventDefault();
        pgf.ui.dialog.Create({ fromUrl: jQuery(e.currentTarget).attr("href"),
                               OnOpen: function(dialog) {
                                   var newMessageForm = new pgf.forms.Form(jQuery('#pgf-new-message-form', dialog),
                                                                           { OnSuccess: function(form, data){ dialog.modal('hide'); }
                                                                           });
                               }
                             });
    });


});

</script>
{% endblock %}


{% block messages_content %}

<h2 style="margin-bottom: 0.5em;">Сообщения</h2>

<ul class="nav nav-pills">
  <li {% if incoming %}class="active"{% endif %}><a href="{{ url('accounts:messages:') }}">входящие</a></li>
  <li {% if not incoming %}class="active"{% endif %}><a href="{{ url('accounts:messages:sent') }}">исходящие</a></li>
</ul>

{% if messages %}

{{ base_macros.render_paginator(paginator) }}

<ul class="unstyled">
  {% for message in messages %}
  <li style="margin-bottom: 1em;">

    <table class="table table-striped table-no-highlighting">
      <tbody>
        <tr class="head">
          <td class="author">
            <a href="{{url('accounts:show', message.sender.id)}}">{{ message.sender.nick }}</a> ⟶
            <a href="{{url('accounts:show', message.recipient.id)}}">{{ message.recipient.nick }}</a>
          </td>

          {% if incoming %}
          <td style="width: 4em;">
            <a class="pgf-answer-to-message" href="{{ url('accounts:messages:new', recipients=message.sender.id, answer_to=message.id) }}">ответить</a>
          </td>
          {% endif %}

          <td style="width: 4em;">
            <a href="{{ url('accounts:messages:delete', message.id) }}" class="pgf-forms-post-simple">удалить</a>
          </td>

          <td class="created-at pgf-format-datetime" data-timestamp="{{ message.created_at|timestamp}}" style="width: 15em;"></td>
        </tr>

        <tr class="body">
          <td colspan="4">
            {{ message.text_html|safe }}
          </td>
        </tr>
      </tbody>
    </table>

  </li>
  {% endfor %}
</ul>

{{ base_macros.render_paginator(paginator) }}

{% else %}

<p class="pgf-no-messages">Нет сообщений</p>

{% endif %}

{% endblock %}
