{% extends "personal_messages/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'accounts/macros.html' as accounts_macros with context %}

{% block title %}{% if incoming %}Входящие{% else %}Исходящие{% endif %} | {{ super() }}{% endblock %}
{% block description %}{% if incoming %}Ваши входящие сообщения{% else %}Ваши исходящие сообщения{% endif %}{% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript">
jQuery(document).ready(function(){
  {{  accounts_macros.personal_message_js()|safe }}
});
</script>
{% endblock %}


{% block messages_content %}

  <ul class="nav nav-pills">
    <li {% if incoming %}class="active"{% endif %}><a href="{{ url('accounts:messages:') }}">входящие</a></li>
    <li {% if not incoming %}class="active"{% endif %}><a href="{{ url('accounts:messages:sent') }}">исходящие</a></li>
    {% if messages %}
      <li class="pull-right">
        <a class="pgf-forms-post-simple"
           href="{{ url('accounts:messages:delete-all') }}"
           data-confirmation="Вы действительно хотите удалить все сообщения?">удалить все сообщения</a>
      </li>
    {% endif %}
  </ul>

{% if messages %}


{{ base_macros.render_paginator(paginator) }}

<ul class="unstyled">
  {% for message in messages %}
  <li style="margin-bottom: 1em;">

    <table class="table table-striped table-no-highlighting">
      <tbody>
        <tr class="head">
          <td class="author">
            <a href="{{url('accounts:show', message.sender.id)}}">{{ message.sender.nick_verbose }}</a> ⟶
            <a href="{{url('accounts:show', message.recipient.id)}}">{{ message.recipient.nick_verbose }}</a>
          </td>

          {% if incoming %}
          <td style="width: 4em;">
            <a class="pgf-new-message" data-recipient="{{message.sender.id}}" data-answer-to="{{message.id}}" href="#">ответить</a><br/>
          </td>
          {% endif %}

          <td style="width: 4em;">
            <a href="{{ url('accounts:messages:delete', message.id) }}" class="pgf-forms-post-simple">удалить</a>
          </td>

          <td class="created-at pgf-format-datetime" data-timestamp="{{ message.created_at|timestamp}}" style="width: 15em;"></td>
        </tr>

        <tr class="body">
          <td colspan="4">
            {{ message.text_html|safe }}
          </td>
        </tr>
      </tbody>
    </table>

  </li>
  {% endfor %}
</ul>

{{ base_macros.render_paginator(paginator) }}

{% else %}

<p class="alert alert-info pgf-no-messages">У вас нет сообщений</p>

{% endif %}

{% endblock %}
