

<div class="modal hide new-personal-message-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Новое сообщение</h3>
  </div>

  <div class="modal-body">

    <p>
      {% if recipients|length == 1 %}
      Сообщение для игрока <a href="{{ url('accounts:show', recipients[0].id) }}">{{recipients[0].nick}}</a>
      {% else %}
      Сообщение для игроков:
      {% for recipient in recipients -%}
      {%- if loop.index != 1 %},{% endif %}
      <a href="{{ url('accounts:show', recipient.id) }}">{{recipient.nick}}</a>
      {%- endfor %}
      {% endif %}
    </p>

    <form action="{{ url('accounts:messages:create', recipients=recipients_url_string) }}"
          method="post"
          id="pgf-new-message-form">

      {{ form.errors_container }}

      {{ form.text.widget }}

      <div class="widget">
        <input type="submit" class="btn btn-success" value="Отправить"/>
        <input type="button" class="btn btn-danger pull-right" data-dismiss="modal" value="отмена"/>
      </div>

    </form>

  </div>
</div>
