

<div class="modal hide new-personal-message-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Новое сообщение</h3>
  </div>

  <div class="modal-body">

    <p>
      {% if recipients|length == 1 %}
      Сообщение для игрока <strong>{{recipients[0].nick_verbose}}</strong>
      {% else %}
      Сообщение для игроков:
      {% for recipient in recipients[:3] -%}
      {%- if loop.index != 1 %},{% endif %}
      <strong>{{recipient.nick_verbose}}</strong>
      {%- endfor -%}

      {%- if recipients|length > 3%},
      <a href="#"
         rel="tooltip"
         title="{% for recipient in recipients[3:] -%}
                {%- if loop.index != 1 %},{% endif %}
                {{recipient.nick_verbose}}
                {%- endfor -%}">
        остальные…
      </a>
      {% endif %}

      {% endif %}
    </p>

    <form action="{{ url('accounts:messages:create', recipients=recipients_url_string) }}"
          method="post"
          id="pgf-new-message-form">

      {{ form.errors_container }}

      {{ form.text.widget }}

      <div class="widget">
        <input type="submit" class="btn btn-success" value="Отправить"/>
        <input type="button" class="btn btn-danger pull-right" data-dismiss="modal" value="отмена"/>
      </div>

    </form>

  </div>
</div>
