{% extends "linguistics/base.html" %}

{% block title %} Как добавить фразу | {{settings.PAGE_TITLE}}{% endblock %}

{% block linguistics_content %}

<p>
  Чтобы фраза появилась в игре, должна произойти следующая цепь событий:
</p>

<ol>
  <li>Игрок добавляет шаблон фразы выбранного типа (<a href="{{url('linguistics:templates:specification')}}">подробнее о шаблонах</a>).</li>
  <li>Если шаблон использует слова, которых ещё нет в словаре, игрок добавляет необходимые слова в словарь.</li>
  <li>Модератор проверяет добавленные слова и, если они проходят проверку, вносит их в игру.</li>
  <li>С этого момента шаблоны фраз «видят» слова.</li>
  <li>Игрок исправляет ошибки в шаблоне, если такие есть.</li>
  <li>С этого момента шаблон помечается как <span class="label label-success">чистый</span>.</li>
  <li>Если шаблон подходит по стилю и по тематике, то модератор вносит его в игру.</li>
  <li>И слова, и шаблоны могут быть удалены модератором без объяснения причин в любое время.</li>
</ol>

<p>
  При создании шаблона фразы, кроме самого шаблона необходимо указывать несколько проверочных фраз. Проверочная фраза — это ожидаемый текст после подставновки всех переменных. Для каждого типа фразы установлен свой набор предопредлённых переменных, покрывающих основные варианты использования шаблона. Это необходимо, чтобы свести к минимуму опечатки в формате шаблона и убедиться, что все изменяемые слова размечены корректно.
</p>

<p>
  Игроки могут изменять уже созданные фразы и слова, при этом:
</p>

<ul>
  <li>При изменении фразы или слова, находящихся в игре, создаётся их непроверенная копия, привязанная к оригиналам.</li>
  <li>Непроверенные фразы и слова могут редактировать только их авторы, редакторы и модераторы.</li>
  <li>Если Вы хотите отредактировать чужое непроверенное слово или фразу, дождитесь, пока модератор внесёт их в игру или удалит.</li>
  <li>Или свяжитесь с их автором.</li>
  <li>Непроверенную копию слова модератор либо удалит, либо заменит ей оригинал.</li>
  <li>Непроверенную копию фразы модератор либо удалит, либо заменит ей оригинал, либо «открепит» и сделает отдельной фразой.</li>
</ul>

<p>
  Для каждой фразы и слова хранятся списки игроков, чьи изменения были приняты в игру. Могущество начисляется за каждую принятую фразу (и слово) и делится по следующим правилам:
</p>

<ol>
  <li>Могущество считается отдельно для игроков и для модераторов;</li>
  <li>Автор принятой фразы (или слова) получает фиксированное количество могущества;</li>
  <li>Редакторы принятой фразы (или слова) делят <strong>поровну</strong> между собой фиксированное количество могущества.</li>
</ol>

<h4>Требования к фразам</h4>

<ol>
  <li>Фразы должны соответствовать миру игры. Помните, что даже юмора может быть слишком много.</li>
  <li><strong>Фразы должны соответствовать миру игры.</strong></li>
  <li><strong>ФРАЗЫ ДОЛЖНЫ СООТВЕТСТВОВАТЬ МИРУ ИГРЫ.</strong></li>
  <li>Фраза должна соответствовать своему типу.</li>
  <li>Не допускаются оскорбления и ненормативная лексика.</li>
  <li>Будьте оригинальны!</li>
</ol>

<h4>Контекст использования фразы</h4>

<p>
  Для каждой фразы можно указать список дополнительных требований к переменным, с которыми она используется. Например, можно указать, что фраза используется только для героев-женщин или для определённого типа монстра (или даже для конкретного типа). Фраза с таким ограничением будет использована только, если переменная отвечает указанным требованиям.
</p>

<h4>Прочие ограничения</h4>

<ul>
  <li>Мы используем букву <strong>Ё</strong>, в новых словах и фразах использовать её необходимо, старые необходимо исправлять с учётом использования этой буквы.</li>
  <li>На текущий момент, при сравнении с проверочными фразами, буквы <strong>Е</strong> и <strong>Ё</strong> считаются равными, чтобы облегчить исправление слов на использование буквы ё.</li>
  <li>Новое слово пройдёт проверку модератора только, если оно уже используется в одной из фраз-кандидаток. Слова без фраз проверку не пройдут.</li>
</ul>

<h4>Дополнительные ссылки</h4>

<ul>
  <li><a href="{{linguistics_settings.EXAMPLES_URL}}">примеры добавления фраз</a></li>
  <li><a href="{{linguistics_settings.RULES_URL}}">подробные правила добавления фраз</a></li>
</ul>

<p class="alert alert-info">
  <strong>Если у Вас долго не получается написать правильный шаблон</strong>, велика вероятность, что Вы делаете это ночью после тяжёлого трудового дня — отдохните, выспитесь, утром всё получится ;-)
</p>


{% endblock %}
