<ul>
  <li>Подробную информацию о Книге Судеб Вы можете найти в соответствующем разделе Путеводителя: <a href="{{url('guide:politics')}}">Книга Судеб</a>.</li>
  <li>Старательно выбирайте название записи, её обоснование и текст летописи — это один из критериев, по которому другие игроки будут решать поддержать вашу инициативу или нет.</li>
  <li>К записи можно прикрепить одно или несколько произведений <a href="{{url('blogs:posts:')}}">фольклора</a>. Для этого, после создания записи, нужно отредактировать существующее произведение (или создать новое), указав уникальный идентификатор записи. Идентификатор можно узнать, наведя мышку на иконку магнита: <i class="icon icon-magnet"></i>.</li>
  <li>Прежде чем создать запись, внимательно перечитайте её и проверьте на ошибки - при любом редактировании теряются все накопленные голоса.</li>
  <li>Помните, что у нас не допускаются оскорбления и ненормативная лексика.</li>
  <li><strong>Запрещены отсылки к реальной жизни.</strong> Включая упоминание исторических личностей, событий и прочего. За повторное нарушение этого правила — бан. Если сомневаетесь, спросите у администрации.</li>
  <li><strong>Записи «Запись в летописи о городе» и «Запись в летописи о Мастере» обязательно должны иметь прикреплённый к ним фольклорный рассказ.</strong></li>
  <li>Будьте оригинальны!</li>
</ul>

<p>
  Требования к текстам в летописи:
</p>

<ul>
  <li>текст должен быть исполнен максимально грамотно;</li>
  <li>текст должен описывать <strong>произошедшее</strong> событие (относиться к прошлому времени);</li>
  <li>текст должен быть исполнен в стиле, близком к официально-деловому;</li>
  <li>текст должен полностью описывать событие, его причины и следствия — так, как если бы он был первым в летописи;</li>
  <li>текст должен быть самодостаточным, в частности, указывать где произошло событие, и не требовать знание контекста;</li>
  <li>в тексте допустимо упоминание любых игровых сущностей, включая гильдии, героев и Хранителей.</li>
</ul>
