{% extends "market/base.html" %}

{% block title %} Ваши товары | {{ super() }}{% endblock %}

{% block head %}
{{super()}}

<script type="text/javascript">
jQuery(document).ready(function(e) {

    function UpdateCommission() {
        var input = jQuery('.pgf-seller-price input');

        var price = parseInt(input.val());

        if (price != input.val()) {
            price = 1;
        }

        var commission = parseInt(Math.floor(price * {{commission}}));

        if (commission == 0) {
            commission = 1;
        }

        jQuery('.pgf-seller-commission').text(commission);
        jQuery('.pgf-seller-income').text(price-commission);
    }

    jQuery('.pgf-good-link').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var url = target.attr('href');

        pgf.ui.dialog.Create({ fromUrl: url,
                               OnOpen: function(dialog) {
                                   var form = new pgf.forms.Form(jQuery('#pgf-sell-good-form', dialog),
                                                                     {OnSuccess: function(form, data){
                                                                         location.reload();
                                                                     }});
                               },
                               OnOpened: function(dialog) {
                                   UpdateCommission();
                               }
                             });
    });

    setInterval(UpdateCommission, 500);
});
</script>


{% endblock %}

{% block market_content %}

<p>
  Перечень доступных для продажи товаров. Обратите внимание, товары попадают в этот список с небольшой задержкой. Для продажи доступны только товары полученные подписчиками.
</p>

{% if context.account_goods.has_goods() %}

  <table class="table">
    <thead>
      <tr>
        <th>название</th>
        <th>операция</th>
      </tr>
    </thead>
    <tbody>
      {% for good in context.account_goods.all() %}
        <tr>
          <td>{{good.html_label()|safe}}</td>
          <td><a href="{{url('market:new-dialog', good=good.uid)}}" class="pgf-good-link">продать</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}
  <p class="pgf-no-goods-message alert alert-info">
    Вам нечего выставить на продажу.
  </p>
{% endif %}


{% endblock %}
