<ol>
  <li>Продавать и покупать товары может любой зарегистрированный игрок.</li>
  <li>Продавать можно только товары, полученные подписчиками.</li>
  <li>Продаются и покупаются товары за печеньки.</li>
  <li>Никаких комиссий при торговле не взимается.</li>
  <li>Товар выставляется на продажу на срок в {{market_settings().LOT_LIVE_TIME}} реальных дней по фиксированной цене, если за это время его не купят, он возвращается владельцу.</li>
  <li>Цена продажи должна  быть больше {{market_settings().MINIMUM_PRICE}} печенек.</li>
  <li>Отозвать выставленный товар нельзя.</li>
</ol>
