  {{ form.errors_container }}

  {{ form.caption.widget }}

  {{ form.text.widget }}

  <p>
    В следующем поле Вы можете указать все игровые сущности, о которых есть упоминаение в тексте.<br/>
    Для этого перейдите на страницу необходимого игрокового объекта (например, закона), найдите на ней иконку <i class="icon icon-magnet"></i>, в подсказке к ней будет указан уникальный идентификатор объекта, который нужно ввести в это поле.<br/>
    Разделять идентификаторы можно пробелом.
  </p>

  {{ form.meta_objects.widget }}
