{% extends "clans/base.html" %}

{% block title %}Заявки на вступление в гильдию | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Заявки на вступление в вашу гильдию.{% endblock %}

{% block clans_content %}

<h2 style="margin-bottom: 0.5em;">
  <a href="{{url('clans:show', current_clan.id)}}">[{{current_clan.abbr}}] {{current_clan.name}}</a>
  —
  заявки на вступление
</h2>

{% if requests %}

<table class="table">
  <thead>
    <tr>
      <th>дата</th>
      <th>Хранитель</th>
      <th>сообщение</th>
      <th>операции</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}

    {% set request_account = accounts[request.account_id] %}

    <tr>
      <td><span class="created-at pgf-format-date" data-timestamp="{{ request.created_at|timestamp }}"></span></td>
      <td><a href="{{url('accounts:show', request_account.id)}}">{{request_account.nick_verbose}}</a></td>
      <td>{{request.text_html|safe}}</td>
      <td style="white-space: nowrap;">
        <a class="pgf-forms-post-simple"
           style="color: green;"
           href="{{ url('clans:accept-request', current_clan.id, request=request.id) }}">принять</a>

        |

        <a class="pgf-forms-post-simple"
           style="color: red;"
           href="{{ url('clans:reject-request', current_clan.id, request=request.id) }}">отклонить</a>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% else %}
<p class="pgf-no-requests-message alert alert-info">Нет заявок на вступление в гильдию</p>
{% endif %}


{% endblock %}
