
{% extends "phrase_candidates/base.html" %}

{% block title %}Предложение новой фразы | {{ super() }}{% endblock %}
{% block description %}Перечисление всех типов фраз в игре и возможность предложить свой вариант фразы.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

{% if can_add_phrase %}
    jQuery('.pgf-add-phrase-button').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var url = target.attr('href');

        pgf.ui.dialog.Create({ fromUrl: url,
                               OnOpen: function(dialog) {
                                   addPhraseForm = new pgf.forms.Form(jQuery('.pgf-add-phrase-candidate-form', dialog),
                                                                      { OnSuccess: function(form, data){
                                                                          dialog.modal('hide');
                                                                      }
                                                                      });
                               }
                             });
    });
{% endif %}

});

</script>

{% endblock %}

{% block phrase_candidates_content %}

<h2>Предложение новой фразы</h2>

<p>
  На этой странице находится список типов фраз, разбитых по ситуациям, в которых они встречаются. Каждый тип фразы имеет краткое описание, пример и список «переменных», которые в ней можно использовать. «Переменная» — это игровой объект, к которому относится фраза (примеры переменных: герой, монстр, артефакт, противник). Если вам кажется, что в одном из типов фраз не хватает переменных, сообщите об этом разработчикам — может быть о них просто забыли.
</p>

<p>
Названия ситуаций имеют префикс, дающий дополнительную информацию:
</p>

<ul>
  <li><strong>Действие:</strong> фразы, относящиеся к какому-либо занятию героя (например, к путешествию, сражению, отдыху);</li>
  <li><strong>Задание:</strong> фразы, относящиеся к конкретному типу заданий;</li>
  <li><strong>PvP:</strong> фразы, относящиеся к сражениям между игроками;</li>
  <li><strong>Способности:</strong> фразы, относящиеся к использованию разного рода способностей.</li>
</ul>

<p>
Названия фраз имеют префикс, дающий дополнительную информацию о фразе, префикс может быть одним из следующих:
</p>

<ul>
  <li><strong>Дневник:</strong> фраза помещается в дневник и журнал героя;</li>
  <li><strong>Журнал:</strong> фраза помещается только в журнал героя;</li>
  <li><strong>Вариант выбора:</strong> текст, который появляется в информации о задании в качестве варианта выбора;</li>
  <li><strong>Выбор:</strong> текст, который появляется в информации о задании после выбора героя;</li>
  <li><strong>Активность:</strong> текст в информации о задании, описывающий суть текущих действий героя в рамках задания (отображается в блоке задания под картинкой, поэтому фраза должна быть <strong>краткой</strong> и <strong>общей</strong>);</li>
  <li><strong>Описание:</strong> фраза будет отображаться над прогресс баром в блоке текущего действия, поэтому она должна быть <strong>краткой</strong> и <strong>общей</strong>.</li>
</ul>

<p>
  Принятая фраза увеличивает могущество её автора, чем больше ваших фраз окажется в игре — тем могущественнее Вы будете. Перед добавлением фраз, пожалуйста, ознакомьтесь со следующими правилами:
</p>

<ul>
  <li>первое требование к фразам — соответствие игровому миру. Помните, что даже юмора может быть слишком много;</li>
  <li>второе требование к фразам — использование имён переменных — это облегчит труд разработчиков;</li>
  <li>администрация оставляет за собой право отказать в приёме фразы без объяснения причин;</li>
  <li>помните, что у нас не допускаются оскорбления и ненормативная лексика;</li>
  <li>будьте оригинальны!</li>
</ul>

<p>
  Для фраз существуют небольшие ограничения:
</p>

<ul>
  <li>имена жителей городов могут использоваться только в именительном падеже (это касается <strong>только</strong> имен жителей; имена героев, названия городов и прочие названия могут быть в любом падеже);</li>
  <li>фраза должна иметь минимальную зависимость от контекста (т.е. от того, что произошло или что делал герой ранее), так как в большинстве случаев это могут быть очень разные вещи и текст, написанный для одного случая, будет смотреться не к месту во втором;</li>
  <li>фразы для дневника должны быть от первого лица;</li>
  <li>фраза должна учитывать то, что артефактов и монстров может быть несколько (например, может быть сражение со стаей ёжиков, а добычей может выступать горсть драгоценных камней);</li>
  <li>нельзя использовать повелительное наклонение глаголов.</li>
</ul>

<br/>

<h3>Типы фраз</h3>

<br/>

<div class="accordion" id="pgf-phrases-accordion">

  {% for module_type in phrases_types['_sorted_modules'] %}
  {% set module_data = phrases_types['modules'][module_type] %}

  {% if module_data is none %}{% continue %}{% endif %}

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-phrases-accordion" href="#pgf-module-{{module_type}}">
        {{module_data['name']}}
      </a>
    </div>
    <div id="pgf-module-{{module_type}}" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>{{module_data['description']}}</p>

        <table class="table table-bordered table-condensed table-no-highlighting">
          {% for type_suffix in module_data['_sorted_types'] %}
          {% set type_data = module_data['types'][type_suffix] %}
          <tr>
            {% if can_add_phrase %}
            <td width="20px;" style="text-align: center;">
              <a class="pgf-add-phrase-button"
                 href="{{ url('game:phrase-candidates:new') }}?phrase_type={{module_type}}&phrase_subtype={{type_suffix}}">
                <i class="icon-plus" rel="tooltip" title="предложить фразу"></i>
              </a>
            </td>
            {% endif %}
            <th>{{ type_data['name'] }}</th>
            <td>{{type_data['description']}}</td>
          <tr/>
          {% endfor %}
        </table>

      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
