
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.abilities = new pgf.game.widgets.Abilities('#abilities-block', 
                                                       widgets,
                                                       {tooltipTemplate: '#pgf-ability-tooltip-template'});

});
</script>

<div id="abilities-block" class="block">
  <ul class="pgf-abilities-list">
    <li class="record pgf-template" data-tooltip=">pgf-tooltip-container">
      <div class="pgf-tooltip-container"></div>
      <i class="icon"></i>
      <span class="pgf-name"></span>
    </li>
  </ul>
</div>

<div class="pgf-hidden ability-tooltip" id="pgf-ability-tooltip-template">
  <h6 class="name pgf-name"></h6>
  <ul class="requirements pgf-requirements">
    <li class="cooldown pgf-cooldown pgf-hidden"></li>
    <li class="limited pgf-limited pgf-hidden">
      <span class="pgf-can-use">Осталось <span class="limit-number pgf-limit-number"></span> исспользований</span>
      <span class="pgf-limit-exceeded">Вы исспользовали все попытки</span>
    </li>
  </ul>
  <p class="description pgf-description"></p>
  <p class="artistic pgf-artistic"></p>
</div>
