<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.angel = new pgf.game.widgets.Angel('#angel-block', updater, widgets, {});

});
</script>

<div id="angel-block" class="block">
  <h3 class="name pgf-name"></h3> 
  <div class="energy-bar">
    <div class="stats-bar pgf-energy-bar">
      <div class="layer layer-0 pgf-layer-0"></div>
      <div class="layer layer-1 pgf-layer-1"></div>
    </div>
    <span class="pgf-energy-current"></span>/<span class="pgf-energy-maximum"></span> + <span class="pgf-energy-regeneration"></span>
  </div>
</div>
