
{% import 'accounts/macros.html' as accounts_macros with context %}

<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.actions = new pgf.game.widgets.Action('#current-action-block', updater, widgets);

    widgets.abilities = new pgf.game.widgets.Abilities();

    jQuery('.pgf-action-info-link').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var url = target.attr('href');
        pgf.ui.dialog.Create({ fromUrl: url});
    });


});
</script>

{% if not hero.is_name_changed or not resource.account.is_premium %}

  <div style="margin-bottom: 0.5em;">

    {% if not hero.is_name_changed %}
      <a href="{{url('game:heroes:show', hero.id)}}"
         class="label label-success"
         rel="tooltip"
         style="margin-right: 1em;"
         title="Вы можете настроить пол, расу и имя героя на его странице">
         настройте героя
      </a>
    {% endif %}

    {% if not resource.account.is_premium %}
      {{ accounts_macros.account_type_label(resource.account) }}
    {% endif %}

  </div>

{% endif %}



<div id="current-action-block" class="block" style="cursor: default;">

  <strong class="action-info pgf-action-info"></strong>

  <i class="icon-star pgf-boss-mark pgf-hidden" style="vertical-align: middle;" rel="tooltip" title="Противник особо опасен"></i>

  <a href="#" class="pgf-action-info-link pgf-hidden">
    <i class="icon-info-sign" style="vertical-align: middle;" rel="tooltip" title="дополнительная информация"></i>
  </a>

  <div class="progress progress-success" style="margin: 10px 0;">
    <div class="bar pgf-action-percents"></div>
  </div>

  <div id="abilities-block">

    <a href="#" class="angel-ability pgf-ability-energy_charge pgf-hidden" style="display: inline-block; width: 32%; font-size: 11pt;">
      <i class="icon-tint" rel="tooltip" title="нет запасённой энергии"></i>
      <i class="icon-bell" rel="tooltip" title="у вас и так есть энергия, сначала надо её потратить"></i>
      <span rel="tooltip" title="Восстановить энергию с помощью накопленных зарядов">энергия</span>
    </a>

    <a href="#" class="angel-ability pgf-ability-help pgf-hidden" style="display: inline-block; width: 32%;">
      <i class="icon-tint" rel="tooltip" title="недостаточно энергии"></i>
      <i class="icon-ban-circle" rel="tooltip" title="необходимо завершить регистрацию"></i>
      <span rel="tooltip" title="Помочь герою">помочь</span>
    </a>

    <a href="#" class="angel-ability pgf-ability-arena_pvp_1x1 pgf-hidden" style="display: inline-block; width: 32%; font-size: 11pt;">
      <i class="icon-tint" rel="tooltip" title="недостаточно энергии"></i>
      <i class="icon-ban-circle" rel="tooltip" title="необходимо завершить регистрацию"></i>
      <span rel="tooltip" title="Отправить героя на арену">на арену</span>
    </a>

    <span class="pgf-in-pvp-queue-message pgf-hidden" style="vertical-align: middle; font-size: 11pt;">
      <a href="#" class="angel-ability pgf-ability-arena_pvp_1x1_leave_queue">
        <i class="icon-remove" rel="tooltip" title="выйти из очереди" style="vertical-align: middle;"></i>
      </a>
      <span rel="tooltip" title="идёт поиск противника для битвы на арене">
        в очереди…
      </span>
    </span>

  </div>

</div>
