
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.actions = new pgf.game.widgets.Actions('#current-actions-block',
                                                   updater, widgets,
                                                   { } );


});
</script>

<div id="current-actions-block" class="block">

  <div class="current-action-block pgf-current-action-block">
    
    <div class="action-description">
      <h3 class="name pgf-name"></h3>

      <div class="action-progress pgf-action-progress">
        <div class="stats-bar pgf-progress-bar">
          <div class="layer layer-0 pgf-layer-0"></div>
          <div class="layer layer-1 pgf-layer-1"></div>
        </div>            
      </div>
    </div>

    <div class="action-info pgf-action-info">
      <div class="pgf-action-info pgf-action-other pgf-hidden">
        <span class="pgf-name"></span>
      </div>
      <div class="pgf-action-info pgf-action-idleness pgf-hidden">
        Нет для героя ничего постыднее, чем безделье. Это безобразие надо немедленно прекратить!
      </div>
      <div class="pgf-action-info pgf-action-quest pgf-hidden">
        Герой прилагает максимальные усилия, что бы выполнить задание.
      </div>
      <div class="pgf-action-info pgf-action-move-to pgf-hidden">
        Герой путешествует в сторону города "<span class="pgf-place-name"></span>"
      </div>
      <div class="pgf-action-info pgf-action-battle-pve-1x1 pgf-hidden">
        Герой сражается с <span class="pgf-mob-name"></span>
      </div>
      <div class="pgf-action-info pgf-action-resurrect pgf-hidden">
        Герой проходит курс усиленного восстановления
      </div>
      <div class="pgf-action-info pgf-action-in-city pgf-hidden">
        Герой изучает витрины города "<span class="pgf-place-name"></span>"
      </div>
      
    </div>
  </div>

  <div class="current-quests-block pgf-current-quests-block">
    
    <div class="quests-line">
      <div class="pgf-quests-line">
        <div class="quest-line-element pgf-template">
          <div class="quest-icon pgf-quest-icon pgf-hidden" data-tooltip=""></div>
          <div class="action-icon pgf-action-icon pgf-hidden" data-tooltip=""></div>
        </div>
      </div>

      <div class="pgf-no-quests-message">
        Герой бьёт баклуши
      </div>
    </div>

    <div class="quest-choices"> 
      Сдесь будет элемент управления для влияние на поступки героя в квестах
    </div>

  </div>

</div>
