
{% import 'accounts/macros.html' as accounts_macros with context %}

<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.actions = new pgf.game.widgets.Action('#current-action-block', updater, widgets);

    widgets.abilities = new pgf.game.widgets.Abilities();

    jQuery('.pgf-action-info-link').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var url = target.attr('href');
        pgf.ui.dialog.Create({ fromUrl: url});
    });

    jQuery('.pgf-card').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var url = jQuery('a', target).attr('href');

        pgf.ui.dialog.Create({ fromUrl: url,
                               OnOpen: function(dialog) {
                                   var cardForm = new pgf.forms.Form(jQuery('.pgf-use-card-form', dialog),
                                                                     {OnSuccess: function(data){
                                                                         jQuery(document).trigger(pgf.game.events.DATA_REFRESH_NEEDED);
                                                                         dialog.modal('hide');
                                                                     }});
                               }
                             });
    });

    jQuery('.pgf-get-card-button').click(function(e){
        e.preventDefault();
        pgf.forms.Post({ action: "{{url('game:heroes:get-card', hero.id)}}",
                         OnSuccess: function(data){
                             jQuery(document).trigger(pgf.game.events.DATA_REFRESH_NEEDED);
                             pgf.ui.dialog.Alert({message: data.data.message,
                                                  title: 'Операция завершена',
                                                  OnOk: function(e){}});
                                 return;
                             }
                         });
    });



});
</script>

{% if not hero.settings_approved or not resource.account.is_premium %}

  <div style="margin-bottom: 0.5em;">

    {% if not hero.settings_approved %}
      <a href="{{url('game:heroes:show', hero.id)}}"
         class="label label-success"
         rel="tooltip"
         style="margin-right: 1em;"
         title="Вы можете настроить пол, расу и имя героя на его странице">
         настройте героя
      </a>
    {% endif %}

    {% if not resource.account.is_fast and not resource.account.is_premium %}
      {{ accounts_macros.account_type_label(resource.account, additional_text='— поддержите проект рублём!') }}
    {% endif %}

  </div>

{% endif %}



<div id="current-action-block" class="block" style="cursor: default;">

  <strong class="action-info pgf-action-info"></strong>

  <i class="icon-star pgf-boss-mark pgf-hidden" style="vertical-align: middle;" rel="tooltip" title="Противник особо опасен"></i>

  <a href="#" class="pgf-action-info-link pgf-hidden">
    <i class="icon-info-sign" style="vertical-align: middle;" rel="tooltip" title="дополнительная информация"></i>
  </a>

  <div class="progress progress-success" style="margin: 10px 0;">
    <div class="bar pgf-action-percents"></div>
  </div>

  <div id="abilities-block">

    <div class="dropdown" style="display: inline-block;  width: 30%; font-size: 11pt;">
      <i class="icon-gift pgf-new-card-icon" style="margin-top: 1px;" rel="tooltip" title="Вы можете получить новую карту!"></i>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">карты<b class="caret"></b></a>
      <ul class="pgf-scrollable dropdown-menu pgf-cards-choices" role="menu" style="max-height: 310px; overflow-y: auto; font-size: 10pt;">

        <div class="pgf-get-card-statistics">
          помощи до новой карты <br/>

          <div class="progress progress-info" style="margin: 0.25em; height: 18px; position: relative;">
            <div class="bar pgf-new-card-progress"></div>
            <div class="" style="width: 100%; position: absolute; top: 0;">
              <span class="pgf-helps-count-to-new-card"></span> / {{c.CARDS_HELP_COUNT_TO_NEW_CARD}}
            </div>
          </div>

        </div>

        <a href="#"
           class="pgf-get-card-button pgf-hidden"
           style="margin: 0.25em; height: 18px; color: #0088cc;">Взять карту!</a>

        <hr/>

        {% for card in CARD_TYPE.records %}
          <li class="pgf-card pgf-card-{{card.value}}">
            <a href="{{url('game:cards:use-dialog', card=card.value)}}"
               style="font-size: 10pt;"
               rel="tooltip"
               title="{{card.description}}">
               <span class="{{card.rarity.name|lower}}-card-label">{{card.text}}</span> x <span class="pgf-count"></span>
            </a>
          </li>
        {% endfor %}
          <li class="pgf-no-cards" style="font-size: 10pt;">
            <a href="#"
               rel="tooltip"
               title="Подробнее про Карты Судьбы Вы можете узнать в путеводителе.">
              У Вас нет карт
            </a>
          </li>
      </ul>
    </div>

    <a href="#" class="angel-ability pgf-ability-help pgf-hidden" style="display: inline-block; width: 30%;">
      <i class="icon-tint" rel="tooltip" title="недостаточно энергии"></i>
      <i class="icon-ban-circle" rel="tooltip" title="необходимо завершить регистрацию"></i>
      <span rel="tooltip" title="Помочь герою">помочь</span>
    </a>

    <a href="#" class="angel-ability pgf-ability-arena_pvp_1x1 pgf-hidden" style="display: inline-block; width: 30%; font-size: 11pt;">
      <i class="icon-tint" rel="tooltip" title="недостаточно энергии"></i>
      <i class="icon-ban-circle" rel="tooltip" title="необходимо завершить регистрацию"></i>
      <span rel="tooltip" title="Отправить героя на арену">на арену</span>
    </a>

    <span class="pgf-in-pvp-queue-message pgf-hidden" style="vertical-align: middle; font-size: 11pt;">
      <a href="#" class="angel-ability pgf-ability-arena_pvp_1x1_leave_queue">
        <i class="icon-remove" rel="tooltip" title="выйти из очереди" style="vertical-align: middle;"></i>
      </a>
      <span rel="tooltip" title="идёт поиск противника для битвы на арене">
        в очереди…
      </span>
    </span>

  </div>

</div>
