{% extends "base.html" %}

{% block head %}
<script src="{{ STATIC_URL }}game/widgets.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}game/map/map2.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}game/map/sprites.js" type="text/javascript"></script>
<script type="text/javascript">

var updater = undefined;
var widgets = {};

jQuery(document).ready(function(e){

    var tileset = pgf.tilesets.tileset2;

    var spritesManager = new pgf.game.resources.ImageManager(tileset.sprites, 
                                                             { 
                                                                 OnSpritesInitialized : function() {
                                                                     widgets.map.CheckReadyState();
                                                                 } ,
                                                                 staticUrl: "{{ STATIC_URL }}",
                                                             });

    updater = new pgf.game.Updater({url: "{{ url('game:info') }}?angel={{ angel_id }}"});

    widgets.mapManager = new pgf.game.map.MapManager({regionUrl:  '{{ STATIC_URL }}game/map/data/region.js',
                                                      updater: updater,
                                                      OnDataUpdated: function() {
                                                          //TODO: rewrite to events
                                                          widgets.map.Refresh();
                                                      }
                                                     });

    widgets.map = new pgf.game.map.Map('#pgf-game-map', 
                                       {spritesManager: spritesManager,
                                        tileSize: tileset.TILE_SIZE,
                                        updater: updater,
                                        widgets: widgets});

    widgets.cards = new pgf.game.widgets.Cards('#angel-cards-block', 
                                               updater, widgets,
                                               {tooltipTemplate: '#pgf-card-tooltip-template'});

    widgets.heroes = new pgf.game.widgets.Hero('#hero-base-block', 
                                               updater, widgets,
                                               {});

    widgets.bag = new pgf.game.widgets.Bag('#hero-bag-block', 
                                           updater, widgets,
                                           {});

    widgets.bag = new pgf.game.widgets.Equipment('#hero-equipment-block', 
                                                 updater, widgets,
                                                 {});

    widgets.placeAndTime = new pgf.game.widgets.PlaceAndTime('#world-place-time-block',
                                                             updater, widgets,
                                                             {} );

    widgets.actions = new pgf.game.widgets.Actions('#current-action-block',
                                                   updater, widgets,
                                                   {} );

    widgets.actions = new pgf.game.widgets.Log('#log-block',
                                               updater, widgets,
                                               {} );

    widgets.switcher = new pgf.game.widgets.WidgetSwitcher();

    jQuery('.pgf-next-turn').click(function(e){
        e.preventDefault();

        pgf.forms.Post({ action: "{{ url('game:turns:next_turn') }}",
                         OnSuccess: function(e){
                             updater.Refresh();
                         }
                       });
    });

    jQuery("#pgf-zoom-up").click(function(e){widgets.map.ZoomOut(); e.preventDefault();});
    jQuery("#pgf-zoom-down").click(function(e){widgets.map.ZoomIn(); e.preventDefault();});

    updater.Refresh();
});

</script>
{% endblock %}

{% block main_menu %}
{{ super() }}
{% if settings.DEBUG %}
<a href="#" class="pgf-next-turn">next_turn</a>
{% endif %}
{% endblock %}

{% block content %}

<div id="game-page">

  <div id="left-column" class="column">

    <div id="hero-base-block" class="info-block">
      {% include 'heroes/short_info.html' %}
    </div>

    <div id="hero-effects-block" class="info-block active-effects-block">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-1.jpg">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-2.png">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-3.jpg">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-4.gif">
    </div>

    <div id="hero-equipment-block" class="info-block">
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/weapon-icon.png"/>
        <span class="item-name first pgf-hand_primary"></span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/weapon-icon.png"/>
        <span class="item-name first pgf-hand_secondary"></span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/helmet-icon.png"/>
        <span class="item-name first pgf-helmet"></span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/amulet-icon.png"/>
        <span class="item-name first pgf-amulet"></span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/shoulders-icon.png"/>
        <span class="item-name first pgf-shoulders"></span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/plate-icon.png"/>
        <span class="item-name first pgf-plate"></span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/gloves-icon.png"/>
        <span class="item-name first pgf-gloves"></span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/cloak-icon.png"/>
        <span class="item-name first pgf-cloak"></span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/pants-icon.png"/>
        <span class="item-name first pgf-pants"></span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/boots-icon.png"/>
        <span class="item-name first pgf-boots"></span>
      </div>
    </div>

    <div id="hero-bag-block" class="info-block">
      <h2>Рюкзак героя</h2>
      <table>
        <tbody class="pgf-bag-container">
          <tr class="pgf-template">
            <td class="pgf-name"></td>
            <td><span class="pgf-cost"></span> г.</td>
          <tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="center-column" class="column">

    <div id="world-place-time-block" class="info-block">

      <div class="place pgf-place">
        <span class="name pgf-name"></span><br/>
        <span class="comment pgf-comment"></span>
      </div>
      
      <div class="time pgf-time">
        <div class="time-value">
          <span class="pgf-hours"></span> часов<br/>
          <span class="pgf-day"></span> <span class="pgf-month"></span> <span class="pgf-year"></span>
        </div>
        <img class="season-icon" src="{{ STATIC_URL }}tmp/moon-time-icon.gif"/>
      </div>

    </div>    

    <div id="current-action-block" class="info-block">
      
      <table>
        <tbody>
        <tr>
          <td class="quests-line-container" >
            <div class="quests-line pgf-quests-line">
              <img class="quest-icon pgf-template" src="{{ STATIC_URL }}tmp/delivery-quest-icon.png"/>
              <!-- <img class="quest-icon" src="{{ STATIC_URL }}tmp/speak-quest-icon.png"/> -->
              <!-- <img class="quest-icon" src="{{ STATIC_URL }}tmp/kill-quest-icon.png"/> -->
            </div>
            <div class="pgf-no-quests-message">
              Герой бьёт баклуши
            </div>
          </td>
          <td class="action-info pgf-action-info-container" rowspan="2">
            <div class="pgf-action-info pgf-action-other pgf-hidden">
              <span class="pgf-name"></span>
            </div>
            <div class="pgf-action-info pgf-action-idleness pgf-hidden">
              Нет для героя ничего постыднее, чем безделье. Это безобразие надо немедленно прекратить!
            </div>
            <div class="pgf-action-info pgf-action-quest pgf-hidden">
              Герой прилагает максимальные усилия, что бы выполнить задание.
            </div>
            <div class="pgf-action-info pgf-action-move-to pgf-hidden">
              Герой путешествует в сторону города "<span class="pgf-place-name"></span>"
            </div>
            <div class="pgf-action-info pgf-action-battle-pve-1x1 pgf-hidden">
              {% include 'heroes/short_npc_info.html' %}
            </div>
            <div class="pgf-action-info pgf-action-resurrect pgf-hidden">
              Герой проходит курс усиленного восстановления
            </div>
            <div class="pgf-action-info pgf-action-in-city pgf-hidden">
              Герой изучает витрины города "<span class="pgf-place-name"></span>"
            </div>
          </td>
        </tr>

        <tr>
          <td class="action-progress pgf-actions-progress">
            <table class="actions">
              <tbody>
              <tr class="prev-previous pgf-prev-previouse">
                <td>
                  <span class="name pgf-name"></span>
                </td>
                <td class="progress-bar">
                  <div class="stats-bar pgf-progress-bar">
                    <div class="layer layer-0 pgf-layer-0"></div>
                    <div class="layer layer-1 pgf-layer-1"></div>
                  </div>            
                  <span class="pgf-percents"></span>%
                </td>
              </tr>
              <tr class="previous pgf-previouse">
                <td>
                  <span class="name pgf-name"></span>
                </td>
                <td class="progress-bar">
                  <div class="stats-bar pgf-progress-bar">
                    <div class="layer layer-0 pgf-layer-0"></div>
                    <div class="layer layer-1 pgf-layer-1"></div>
                  </div>            
                  <span class="pgf-percents"></span>%
                </td>
              </tr>
              <tr class="current pgf-current">
                <td>
                  <span class="name pgf-name"></span>
                </td>
                <td class="progress-bar">
                  <div class="stats-bar pgf-progress-bar">
                    <div class="layer layer-0 pgf-layer-0"></div>
                    <div class="layer layer-1 pgf-layer-1"></div>
                  </div>            
                  <span class="pgf-percents"></span>%
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tbody>
      </table>

    </div>

    <div id="log-block" class="info-block">
      <ul class="log pgf-log-list">
        <li class="message pgf-template">
          [<span class="pgf-turn-number"></span>]
          <span class="pgf-message"></span>
        </li>
      </ul>
    </div>    

   <div id="activate-card-block" class="info-block pgf-hidden"> 
     <a href="#" class="pgf-cancel">Отменить</a>
     <div class="pgf-activate-form">
     </div>
   </div>

   <div id="map-block" class="info-block">
     <div id="pgf-game-map">
       <div class="pgf-navigation-layer"></div>
       <canvas class="pgf-map-canvas" width="550" height="550"></canvas>
     </div>
   </div>

  </div>

  <div id="right-column" class="column">

    <div id="angel-base-block" class="info-block">
      <strong class="name">Angel Name</strong> 
      <div class="energy-bar">
        <div class="stats-bar">
          <div class="layer layer-0"></div>
          <div class="layer layer-1"></div>
        </div>
        130/999 + 3
      </div>
    </div>

    <div id="angel-effects-block" class="info-block active-effects-block">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-2.png">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-3.jpg">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-4.gif">
    </div>

    <div id="angel-cards-block" class="info-block">
      <table>
        <tbody class="pgf-cards-list">
          <tr class="card-record pgf-template">
            <td><i class="icon"></i></td>
            <td><span class="pgf-name"></span></td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>

{% endblock %}
