{% extends "base.html" %}

{% block head %}
{{ super() }}

<script src="{{ STATIC_URL }}game/constants.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}game/widgets.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}game/angel.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}game/map/map2.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}game/map/sprites.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}game/data/abilities.js" type="text/javascript"></script>

<script type="text/javascript">

var updater = undefined;
var angelUpdater
var widgets = {};

jQuery(document).ready(function(e){

    {% if angel %}
    updater = new pgf.game.Updater({url: "{{ url('game:info') }}?angel={{ angel.id }}"});
    angelUpdater = new pgf.game.AngelUpdater({url: "{{ url('game:angels:info', angel.id) }}"});
    {% else %}
    updater = new pgf.game.Updater({url: "{{ url('game:info') }}"});
    {% endif %}

    {% if settings.DEBUG %}
    function DoTurns(number) {
        if (number == 0) {
            setTimeout(function() {
                updater.Refresh();
                angelUpdater.Refresh();
            }, 1000 );
            return;
        }

        pgf.forms.Post({ action: "{{ url('game:next-turn') }}",
                         OnSuccess: function(e){
                             DoTurns(number-1);
                         },
                         wait: false
                       });
    }

    jQuery('.pgf-next-turn').click(function(e){
        e.preventDefault();
        DoTurns(1);
    });

    jQuery('.pgf-next-10-turns').click(function(e){
        e.preventDefault();
        DoTurns(10);
    });

    jQuery('.pgf-next-100-turns').click(function(e){
        e.preventDefault();
        DoTurns(100);
    });

    jQuery('.pgf-next-1000-turns').click(function(e){
        e.preventDefault();
        DoTurns(1000);
    });

    jQuery('.pgf-next-10000-turns').click(function(e){
        e.preventDefault();
        DoTurns(10000);
    });

    jQuery('.pgf-next-60000-turns').click(function(e){
        e.preventDefault();
        DoTurns(60000);
    });

    {% endif %}

    function RefreshData() {
        if (updater) {
            updater.Refresh();
        }
        if (angelUpdater) {
            angelUpdater.Refresh();
        }
    }

    setTimeout(RefreshData, 0);

    {% if not settings.DEBUG %}
    setInterval(RefreshData, {{ game_settings.TURN_DELAY*1000 }} );
    {% endif %}

    jQuery('.pgf-journal-tab-button').tab('show');
    jQuery('.pgf-diary-tab-button').tab('show');
    jQuery('.pgf-equipment-tab-button').tab('show');

    widgets.placeAndTime = new pgf.game.widgets.Time('#time-block',
                                                     updater, widgets,
                                                     {} );

});

</script>
{% endblock %}

{% block debug_menu %}
{{ super() }}
<li><a href="#" class="pgf-next-turn">next turn</a></li>
<li><a href="#" class="pgf-next-10-turns">10 turns</a></li>
<li><a href="#" class="pgf-next-100-turns">100 turns</a></li>
<li><a href="#" class="pgf-next-1000-turns">1000 turns</a></li>
<li><a href="#" class="pgf-next-10000-turns">10000 turns</a></li>
<li><a href="#" class="pgf-next-60000-turns">60000 turns</a></li>
{% endblock %}

{% block content %}

{% if angel %}
<div class="row">
  <div class="span3">
    {% include "heroes/hero_short.html" %}
  </div>
  <div class="span5">
    {% include "game/current_action.html" %}
  </div>
  <div class="span4">
    {% include "game/current_quest.html" %}
  </div>
</div>

<div class="row second-row">

  <div class="span8">

    <ul class="nav nav-tabs pull-right">
      <li><a href="#pgf-map-container" class="pgf-map-tab-button" data-toggle="tab">карта</a></li>
      <li><a href="#pgf-journal-container" class="pgf-journal-tab-button" data-toggle="tab">журнал</a></li>
    </ul>

    <div class="row tab-content">
      <div class="tab-pane" id="pgf-journal-container">

        <div class="span3">

          <div class="block">
            <ul class="nav nav-tabs" id="equipment-tabs">
              <li><a href="#pgf-equipment-container" class="pgf-equipment-tab-button" data-toggle="tab">экипировка</a></li>
              <li><a href="#pgf-bag-container"
                     class="pgf-bag-tab-button"
                     data-toggle="tab"
                     rel="tooltip" title="содержимое: специальное / обычное / максимум">
                  рюкзак
                  <span class="pgf-item-count-container pgf-hidden">
                    (<span class="pgf-special-items-count"></span>/<span class="pgf-loot-items-count"></span>/<span class="pgf-max-bag-size"></span>)
                  </span>
              </a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane" id="pgf-equipment-container">
                {% include "heroes/hero_equipment.html" %}
              </div>
              <div class="tab-pane" id="pgf-bag-container">
                {% include "heroes/hero_bag.html" %}
              </div>
            </div>
          </div>
        </div>

        <div class="span5">
          {% include "game/log.html" %}
        </div>
      </div>

      <div class="tab-pane span8" id="pgf-map-container">
        {% include "game/map.html" %}
      </div>

    </div>

  </div>

  <div class="span4">
    <ul class="nav nav-tabs">
      <li><a href="#pgf-diary-container" class="pgf-diary-tab-button" data-toggle="tab">дневник</a></li>
      <li><a href="#pgf-quests-container" class="pgf-quests-tab-button" data-toggle="tab">задания</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane block" id="pgf-diary-container">
          {% include "game/diary.html" %}
      </div>

      <div class="tab-pane block" id="pgf-quests-container">
        {% include "game/quests_line.html" %}
      </div>
    </div>

  </div>

  <div class="pgf-hidden" id="pgf-popover-person">
    <ul class="unstyled">
      <li><strong>раса</strong>: <span class="pgf-race"></span></li>
      <li><strong>пол</strong>: <span class="pgf-gender"></span></li>
      <li><strong>город</strong>: <span class="pgf-place"></span></li>
      <li><strong>профессия</strong>: <span class="pgf-type"></span></li>
    </ul>
  </div>

  <div class="pgf-hidden" id="pgf-popover-place">
    <strong>размер</strong>: <span class="pgf-size"></span>
  </div>

</div>
{% else %}

<div class="alert fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  Вы можете <a href="{{ url('accounts:fast-registration') }}" class="pgf-fast-registration">начать игру без регистрации</a> или <a href="{{ url('accounts:login') }}">войти</a>, если имеете аккаунт.
</div>

<div class="row">
  <div class="tab-pane span12" id="pgf-map-container">
    {% include "game/map.html" %}
  </div>
</div>


{% endif %}

{% endblock %}
