{% extends "base.html" %}

{% block head %}
<script src="{{ STATIC_URL }}game/widgets.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}game/map/map.js" type="text/javascript"></script>
<script type="text/javascript">

var updater = undefined;
var widgets = {};

jQuery(document).ready(function(e){
    updater = new pgf.game.Updater({url: "{{ url('game:info') }}"});

    widgets.switcher = new pgf.game.widgets.WidgetSwitcher('#switcher-block');

    widgets.cards = new pgf.game.widgets.Cards('#angel-cards-block', 
                                               updater, widgets,
                                               {tooltipTemplate: '#pgf-card-tooltip-template'});

    widgets.heroes = new pgf.game.widgets.Hero('#hero-base-block', 
                                               updater, widgets,
                                               {});

    widgets.placeAndTime = new pgf.game.widgets.PlaceAndTime('#world-place-time-block',
                                                             updater, widgets,
                                                             {} );

    widgets.actions = new pgf.game.widgets.Actions('#current-action-block',
                                                   updater, widgets,
                                                   {} );

    widgets.actions = new pgf.game.widgets.Log('#log-block',
                                               updater, widgets,
                                               {} );

    jQuery('.pgf-next-turn').click(function(e){
        e.preventDefault();

        pgf.forms.Post({ action: "{{ url('game:turns:next_turn') }}",
                         OnSuccess: function(e){
                             updater.Refresh();
                         }
                       });
    });

    var mapObjectsLayer = new pgf.game.map.ObjectsLayer({idPrefix: 'map-object'});

    widgets.map = new pgf.game.map.Map({
        root: '#pgf-map',
        zIndexBegin: 1,
        layers: [ 
            new pgf.game.map.BackgroundLayer({
                tileSize: 256,
                tileSrc: '{{ STATIC_URL }}game/map/img/bg.png'
            }),
            mapObjectsLayer,
            new pgf.game.map.NavigationLayer({})
        ],
        zooms: [1, 2, 3, 4, 6, 8, 12, 24],
        curZoom: 0,
        wndPos: {x: 0, y: 0},
        mapPos: {x: -100, y: -100},
        mapSize: {w: 1000, h: 1000},
        OnChange: function(m) {
            jQuery("#pgf-x-pos").text(m.GetPos().x);
            jQuery("#pgf-y-pos").text(m.GetPos().y);
            jQuery("#pgf-zoom-lvl").text(m.GetZoom().lvl);
            jQuery("#pgf-zoom-value").text(m.GetZoom().value);
        }
    });

    widgets.mapManager = new pgf.game.widgets.MapManager(updater, widgets, 
                                                         {infoSrc: "{{ url('game:map:') }}",
                                                          mapObjectsLayer: mapObjectsLayer,
                                                          cellSize: {{ map_settings.CELL_SIZE }},
                                                          templates: {cityTemplate: jQuery('#pgf-map-city-template'),
                                                                      heroTemplate: jQuery('#pgf-map-hero-template')}
                                                         });
        
    jQuery("#pgf-zoom-up").click(function(e){widgets.map.ZoomOut(); e.preventDefault();});
    jQuery("#pgf-zoom-down").click(function(e){widgets.map.ZoomIn(); e.preventDefault();});

    updater.Refresh();
});

</script>
{% endblock %}

{% block main_menu %}
{{ super() }}
<a href="#" class="pgf-next-turn">next_turn</a>
{% endblock %}

{% block content %}

<div id="game-page">

  <div id="left-column" class="column">

    <div id="hero-base-block" class="info-block">
      <strong class="name">(<span class="pgf-wisdom"></span>) <span class="pgf-name"></span></strong> 
      <div class="health-bar">
        <div class="stats-bar pgf-health-bar">
          <div class="layer layer-0 pgf-layer-0"></div>
          <div class="layer layer-1 pgf-layer-1"></div>
        </div>
        <span class="pgf-health"></span>/<span class="pgf-max-health"></span> + 53
      </div>
      <table class="stats"> 
        <tbody>
        <tr>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/intellect-icon.png"/>
            <span class="stat-value pgf-intellect"></span>
          </td>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/armor-icon.gif"/>
            <span class="stat-value">12 (+3)<span>
          </td>
        </tr>
        <tr>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/constitution-icon.png"/>
            <span class="stat-value pgf-constitution"></span>
          </td>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/gold-icon.png"/>
            <span class="stat-value">1568<span>
          </td>
        </tr>
        <tr>
          <td class="stat-record">
            <img class="stat-icon" class="stat-icon" src="{{ STATIC_URL }}tmp/reflexes-icon.jpg"/>
            <span class="stat-value pgf-reflexes">5</span>
          </td>
          <td class="stat-record">
            <img class="stat-icon" class="stat-icon" src="{{ STATIC_URL }}tmp/quests-icon.png"/>
            <span class="stat-value">133</span>
          </td>
        </tr>
        <tr>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/chaoticity-icon.png"/> 
            <span class="stat-value pgf-chaoticity">2 (-1)</span>
          </td>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/death-icon.gif"/>
            <span class="stat-value">29</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="hero-effects-block" class="info-block active-effects-block">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-1.jpg">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-2.png">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-3.jpg">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-4.gif">
    </div>

    <div id="hero-equipment-block" class="info-block">
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/weapon-icon.png"/>
        <span class="item-name first">оружие</span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/helmet-icon.png"/>
        <span class="item-name first">шлем</span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/amulet-icon.png"/>
        <span class="item-name first">амулет 1</span>
        <span class="item-name">амулет 2</span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/shoulders-icon.png"/>
        <span class="item-name first">плечи</span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/plate-icon.png"/>
        <span class="item-name first">грудь</span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/gloves-icon.png"/>
        <span class="item-name first">перчатки</span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/cloak-icon.png"/>
        <span class="item-name first">плащ</span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/pants-icon.png"/>
        <span class="item-name first">ноги</span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/boots-icon.png"/>
        <span class="item-name first">сапоги</span>
      </div>
      <div class="equipment-record">
        <img class="item-type" src="{{ STATIC_URL }}tmp/rings-icon.png"/>
        <span class="item-name first">кольцо 1</span>
        <span class="item-name">кольцо 2</span>
        <span class="item-name">кольцо 3</span>
        <span class="item-name">кольцо 4</span>
      </div>
    </div>

    <div id="hero-bag-block" class="info-block">
      <table>
        <tbody>
        <tr><td>добыча 1</td><td>1 * 130 г.</td><tr>
        <tr><td>лут 1</td><td>3 * 30 г.</td><tr>
        <tr><td>добыча 1</td><td>4 * 10 г.</td><tr>
        <tr><td>лут 1</td><td>1 * 13 г.</td><tr>
        <tr><td>добыча 1</td><td>4 * 130 г.</td><tr>
        <tr><td>лут 1</td><td>5 * 1120 г.</td><tr>
        <tr><td>добыча 1</td><td>12 *230 г.</td><tr>
        <tr><td>лут 1</td><td>1 * 230 г.</td><tr>
        <tr><td>добыча 1</td><td>1 * 30 г.</td><tr>
        <tr><td>лут 1</td><td>1 * 10 г.</td><tr>
            </tbody>
      </table>
    </div>
  </div>

  <div id="center-column" class="column">

    <div id="world-place-time-block" class="info-block">

      <div class="place pgf-place">
        <span class="name pgf-name"></span><br/>
        <span class="comment pgf-comment"></span>
      </div>
      
      <div class="time pgf-time">
        <div class="time-value">
          <span class="pgf-hours"></span> часов<br/>
          <span class="pgf-day"></span> <span class="pgf-month"></span> <span class="pgf-year"></span>
        </div>
        <img class="season-icon" src="{{ STATIC_URL }}tmp/moon-time-icon.gif"/>
      </div>

    </div>    

    <div id="current-action-block" class="info-block">
      
      <table>
        <tbody>
        <tr>
          <td class="quests-line-container" >
            <div class="quests-line pgf-quests-line">
              <img class="quest-icon pgf-template" src="{{ STATIC_URL }}tmp/delivery-quest-icon.png"/>
              <!-- <img class="quest-icon" src="{{ STATIC_URL }}tmp/speak-quest-icon.png"/> -->
              <!-- <img class="quest-icon" src="{{ STATIC_URL }}tmp/kill-quest-icon.png"/> -->
            </div>
            <div class="pgf-no-quests-message">
              Герой бьёт баклуши
            </div>
          </td>
          <td class="action-info pgf-action-info-container" rowspan="2">
            <div class="pgf-action-info pgf-action-other pgf-hidden">
              <span class="pgf-name"></span>
            </div>
            <div class="pgf-action-info pgf-action-battle-pve-1x1 pgf-hidden">
      <strong class="name">(<span class="pgf-wisdom"></span>) <span class="pgf-name"></span></strong> 
      <div class="health-bar">
        <div class="stats-bar pgf-health-bar">
          <div class="layer layer-0 pgf-layer-0"></div>
          <div class="layer layer-1 pgf-layer-1"></div>
        </div>
        <span class="pgf-health"></span>/<span class="pgf-max-health"></span> + 53
      </div>
      <table class="stats"> 
        <tbody>
        <tr>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/intellect-icon.png"/>
            <span class="stat-value pgf-intellect"></span>
          </td>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/armor-icon.gif"/>
            <span class="stat-value">12 (+3)<span>
          </td>
        </tr>
        <tr>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/constitution-icon.png"/>
            <span class="stat-value pgf-constitution"></span>
          </td>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/gold-icon.png"/>
            <span class="stat-value">1568<span>
          </td>
        </tr>
        <tr>
          <td class="stat-record">
            <img class="stat-icon" class="stat-icon" src="{{ STATIC_URL }}tmp/reflexes-icon.jpg"/>
            <span class="stat-value pgf-reflexes">5</span>
          </td>
          <td class="stat-record">
            <img class="stat-icon" class="stat-icon" src="{{ STATIC_URL }}tmp/quests-icon.png"/>
            <span class="stat-value">133</span>
          </td>
        </tr>
        <tr>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/chaoticity-icon.png"/> 
            <span class="stat-value pgf-chaoticity">2 (-1)</span>
          </td>
          <td class="stat-record">
            <img class="stat-icon" src="{{ STATIC_URL }}tmp/death-icon.gif"/>
            <span class="stat-value">29</span>
          </td>
        </tr>
        </tbody>
      </table>

            </div>
          </td>
        </tr>

        <tr>
          <td class="action-progress pgf-actions-progress">
            <table class="actions">
              <tbody>
              <tr class="prev-previous pgf-prev-previouse">
                <td>
                  <span class="name pgf-name">выполняет задание</span>
                </td>
                <td class="progress-bar">
                  <div class="stats-bar pgf-progress-bar">
                    <div class="layer layer-0 pgf-layer-0"></div>
                    <div class="layer layer-1 pgf-layer-1"></div>
                  </div>            
                  <span class="pgf-percents"></span>%
                </td>
              </tr>
              <tr class="previous pgf-previouse">
                <td>
                  <span class="name pgf-name"></span>
                </td>
                <td class="progress-bar">
                  <div class="stats-bar pgf-progress-bar">
                    <div class="layer layer-0 pgf-layer-0"></div>
                    <div class="layer layer-1 pgf-layer-1"></div>
                  </div>            
                  <span class="pgf-percents"></span>%
                </td>
              </tr>
              <tr class="current pgf-current">
                <td>
                  <span class="name pgf-name"></span>
                </td>
                <td class="progress-bar">
                  <div class="stats-bar pgf-progress-bar">
                    <div class="layer layer-0 pgf-layer-0"></div>
                    <div class="layer layer-1 pgf-layer-1"></div>
                  </div>            
                  <span class="pgf-percents"></span>%
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tbody>
      </table>

    </div>

    <div id="switcher-block" class="info-block">
      <a href="#" class="pgf-show-journal">журнал</a>
      <a href="#" class="pgf-show-map">карта</a>
    </div>   

    <div id="log-block" class="info-block">
      <ul class="log pgf-log-list">
        <li class="message pgf-template">
          [<span class="pgf-turn-number"></span>]
          <span class="pgf-message"></span>
        </li>
      </ul>
    </div>    

   <div id="journal-block" class="info-block pgf-hidden">
      <ul class="journal">
        <li class="message">
          <span>[5 часов, 10 мая]</span><br/>
          <span> 
            Очень длинная запись в журнале о каком-то важном событии, буть то выполнение квеста, убийство СИЛЬНОГО моба или нахождение клада. Мелочь сюда писать НЕЛЬЗЯ! Здесь должна находиться только важная для истории информация.
          </span>
        </li>

        <li class="message">
          <span>[3 часа, 10 мая]</span><br/>
          <span> 
            Очень длинная запись в журнале о каком-то важном событии, буть то выполнение квеста, убийство СИЛЬНОГО моба или нахождение клада. Мелочь сюда писать НЕЛЬЗЯ! Здесь должна находиться только важная для истории информация.
          </span>
        </li>

        <li class="message">
          <span>[1 час, 10 мая]</span><br/>
          <span> 
            Очень длинная запись в журнале о каком-то важном событии, буть то выполнение квеста, убийство СИЛЬНОГО моба или нахождение клада. Мелочь сюда писать НЕЛЬЗЯ! Здесь должна находиться только важная для истории информация.
          </span>
        </li>

        <li class="message">
          <span>[18 часов, 9 мая]</span><br/>
          <span> 
            Очень длинная запись в журнале о каком-то важном событии, буть то выполнение квеста, убийство СИЛЬНОГО моба или нахождение клада. Мелочь сюда писать НЕЛЬЗЯ! Здесь должна находиться только важная для истории информация.
          </span>
        </li>
      </ul>
   </div>    

   <div id="activate-card-block" class="info-block pgf-hidden"> 
     <a href="#" class="pgf-cancel">Отменить</a>
     <div class="pgf-activate-form">
     </div>
   </div>

   <div id="map-block" class="info-block">
     <div class="navigation-panel">
       <input id="pgf-zoom-up" type="button" value="-"/>
       <input id="pgf-zoom-down" type="button" value="+"/>
     </div>
     <div id="pgf-info" class="info-panel">
       x:<span id="pgf-x-pos"></span>, y:<span id="pgf-y-pos"></span>
       zoom-lvl:<span id="pgf-zoom-lvl"></span>, zoom-value:<span id="pgf-zoom-value"></span>
     </div>
     <div id="pgf-map" class="game-map"></div>
   </div>

  </div>

  <div id="right-column" class="column">

    <div id="angel-base-block" class="info-block">
      <strong class="name">Angel Name</strong> 
      <div class="energy-bar">
        <div class="stats-bar">
          <div class="layer layer-0"></div>
          <div class="layer layer-1"></div>
        </div>
        130/999 + 3
      </div>
    </div>

    <div id="angel-effects-block" class="info-block active-effects-block">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-2.png">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-3.jpg">
      <img class="effect-icon" src="{{ STATIC_URL }}tmp/effect-4.gif">
    </div>

    <div id="angel-cards-block" class="info-block">
      <table>
        <tbody class="pgf-cards-list">
          <tr class="card-record pgf-template">
            <td><i class="icon"></i></td>
            <td><span class="pgf-name"></span></td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>

<div id="pgf-map-city-template" class="pgf-template">
  <div style="width: 10px; height: 10px; background: green;"></div>
  (<span class="pgf-place-size"></span>) <span class="pgf-place-name"></span>
</div>

<div id="pgf-map-hero-template" class="pgf-template">
  <div style="width: 6px; height: 6px; background: blue;"></div>
  <span class="pgf-hero-name"></span>
</div>

<!-- <div id="pgf-card-tooltip-template" class="pgf-template card-tooltip"> -->
<!--   <strong class="pgf-card-name"></strong> -->
<!--   <div class="pgf-card-description card-description"></div> -->
<!--   <div class="pgf-card-artistic card-artistic"></div> -->
<!--   <div class="pgf-card-available-after card-avaliable"> -->
<!--     Available after <span class="pgf-card-available-after-value"></span> (turns) -->
<!--   </div> -->
<!-- </div> -->

{% endblock %}
