
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.heroes = new pgf.game.widgets.Hero('#hero-base-block', updater, widgets, {});
    widgets.angel = new pgf.game.widgets.Angel('#hero-base-block', updater, widgets, {});

});
</script>

<div id="hero-base-block" class="block">

  <h3 class="name">(<span class="pgf-level"></span>) <span class="pgf-name"></span></h3> 

  <div class="bar health-bar record">
    <div class="" data-tooltip="здоровье героя: текущее/максимальное">
      <img src="{{ STATIC_URL }}game/images/attrs/hp.png" class="icon"/>
      <div class="stats-bar pgf-health-bar">
        <div class="layer layer-0 pgf-layer-0"></div>
        <div class="layer layer-1 pgf-layer-1"></div>
      </div>
      <span class="pgf-health"></span>/<span class="pgf-max-health"></span>
    </div>
  </div>

  <div class="bar experience-bar record">
    <div class="" data-tooltip="опыт героя: текущий/до следующего уровня">
      <img src="{{ STATIC_URL }}game/images/attrs/exp.png" class="icon"/>
      <div class="stats-bar pgf-experience-bar">
        <div class="layer layer-0 pgf-layer-0"></div>
        <div class="layer layer-1 pgf-layer-1"></div>
      </div>
      <span class="pgf-experience"></span>/<span class="pgf-experience-to-level"></span>
    </div>
  </div>

  <div class="bar energy-bar record">
    <div class="" data-tooltip="энергия ангела: текущая/максимальная">
      <img src="{{ STATIC_URL }}game/images/attrs/energy.png" class="icon"/>
      <div class="stats-bar pgf-energy-bar">
        <div class="layer layer-0 pgf-layer-0"></div>
        <div class="layer layer-1 pgf-layer-1"></div>
      </div>
      <span class="pgf-energy"></span>/<span class="pgf-max-energy"></span>
    </div>
  </div>

  <div class="stats-left">

    <div class="record" data-tooltip="очки судьбы">
      <img class="icon" src="{{ STATIC_URL }}game/images/attrs/yin-yang.png"/>
      <span class="value pgf-destiny-points">0</span>
    </div>
    
    <div class="record" data-tooltip="броня">
      <img class="icon" src="{{ STATIC_URL }}game/images/attrs/armor.gif"/>
      <span class="value pgf-armor"></span>
    </div>

    <div class="record" data-tooltip="урон">
      <img class="icon" src="{{ STATIC_URL }}game/images/attrs/damage.png"/>
      <span class="value"><span class="pgf-min-damage"></span> - <span class="pgf-max-damage"></span></span>
    </div>

  </div>

  <div class="stats-right">

    <div class="record" data-tooltip="золото">
      <img class="icon" src="{{ STATIC_URL }}game/images/attrs/gold.png"/>
      <span class="value pgf-money"></span>
    </div>

    <div class="record" data-tooltip="скорость путешествия">
      <img class="icon" src="{{ STATIC_URL }}game/images/attrs/move_speed.gif"/>
      <span class="value pgf-move-speed"></span>
    </div>

    <div class="record" data-tooltip="скорость в бою">
      <img class="icon" src="{{ STATIC_URL }}game/images/attrs/battle_speed.gif"/>
      <span class="value pgf-battle-speed"></span>
    </div>

  </div>

</div>
