
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.bag = new pgf.game.widgets.Bag('#hero-bag-block', 
                                           updater, widgets,
                                           {tooltipTemplate: "#pgf-item-tooltip-template"});

});
</script>

<div id="hero-bag-block" class="block">
  
  <h4>рюкзак (<span class="pgf-loot-items-count"></span>/<span class="pgf-max-bag-size"></span>)</h4>

  <div class="pgf-bag-quests pgf-hidden">
    <h5>квестовые предметы:</h5>

    <ul class="pgf-bag-container">
      <li class="pgf-template">
        <span class="name pgf-name" data-tooltip=".pgf-tooltip-container"></span>
        <div class="pgf-tooltip-container"></div>
      </li>
    </ul>

  </div>

  <div class="pgf-bag pgf-hidden">
    <h5>содержимое:</h5>

    <ul class="pgf-bag-container">
      <li class="pgf-template">
        <span class="name pgf-name" data-tooltip=".pgf-tooltip-container"></span>
        <div class="pgf-tooltip-container"></div>
      </li>
    </ul>

  </div>

</div>
