
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.log = new pgf.game.widgets.Log('#log-block',
                                               updater, widgets,
                                               {type: 'log'} );

});
</script>

<div id="log-block" class="block log-block">
  <ul class="unstyled pgf-log-list">
    <li class="pgf-template log-record">
      <div class="pgf-time time"></div> <div class="pgf-message message"></div>
    </li>
  </ul>
</div>
