
{% macro quest_record_body(choices_list) -%}

<h4>
  <span class="pgf-quest-description"></span>
  <small class="pgf-quest-rewards pgf-hidden" style="white-space: nowrap;">
    (+<span class="pgf-experience">0</span> опыта, +<span class="pgf-power">0</span> влияния)
  </small>
</h4>
<i class="quest-icon pgf-quest-icon"></i>
<div class="quest-body">
  <ul class="unstyled pgf-actors pgf-hidden actors-container">
    <li class="pgf-template">
      <strong class="pgf-role"></strong>: <a href="#" class="pgf-name"></a>
    </li>
  </ul>
  {% if choices_list %}
  <div class="pgf-choices choices pgf-hidden">
    <hr/>
    <ul class="unstyled choices-container pgf-choices-container">
      <li class="pgf-template choice-record">
      </li>
    </ul>
  </div>
  {% endif %}
</div>


{%- endmacro %}

{% macro hero_wait_message() %}
<script type="text/javascript">
jQuery(document).ready(function(e){
    pgf.base.ToggleWait(jQuery(".pgf-hero-data-wait"), true);
});
</script>

<div class="row pgf-wait-data">
  <div class="span6 offset3">
    <p class="alert alert-info">
      <span class="pgf-hero-data-wait"></span>
      <span style="vertical-align: middle;">Идёт поиск героя</span>
    </p>
  </div>
</div>
{% endmacro %}

{% macro game_stopped_message() %}
<script type="text/javascript">
    jQuery(document).bind(pgf.game.events.DATA_REFRESHED, function(e, game_data){
        jQuery(".pgf-game-stopped-message").toggleClass("pgf-hidden", (game_data.game_state != pgf.game.constants.GAME_STATE.STOPPED));
    });
</script>

<div class="row pgf-hidden pgf-game-stopped-message">
  <div class="span12">
    <p class="alert alert-info" style="text-align: center;">
      <span style="vertical-align: middle;">Игра временно остановлена.</span>
    </p>
  </div>
</div>
{% endmacro %}


{% macro game_debug_javascript() %}

    function OnNextTurn(number) {
        currentTurnNumber = updater.data.turn.number;

        jQuery(document).one(pgf.game.events.DATA_REFRESHED, function(e){
            if (currentTurnNumber == updater.data.turn.number) {
                setTimeout(function(){OnNextTurn(number);}, 100);
            }
            else {
                setTimeout(function(){DoTurns(number-1);}, 0);
            }
        });

        updater.Refresh();
    }

    function DoTurns(number) {
        if (number == 0) {
            return;
        }

        pgf.forms.Post({ action: "{{ url('game:next-turn') }}",
                         OnSuccess: function(e) {
                             OnNextTurn(number);
                         },
                         wait: false
                       });

    }

    jQuery('.pgf-refresh').click(function(e){
        e.preventDefault();
        updater.Refresh();
    });

    jQuery('.pgf-next-turn').click(function(e){
        e.preventDefault();
        DoTurns(1);
    });

    jQuery('.pgf-next-10-turns').click(function(e){
        e.preventDefault();
        DoTurns(10);
    });

    jQuery('.pgf-next-100-turns').click(function(e){
        e.preventDefault();
        DoTurns(100);
    });

    jQuery('.pgf-next-1000-turns').click(function(e){
        e.preventDefault();
        DoTurns(1000);
    });

    jQuery('.pgf-next-10000-turns').click(function(e){
        e.preventDefault();
        DoTurns(10000);
    });

    jQuery('.pgf-next-60000-turns').click(function(e){
        e.preventDefault();
        DoTurns(60000);
    });

{% endmacro %}

{% macro inner_circle_heroes(politic_power, player_account_id) %}
  {% if politic_power.inner_circle %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th width="100px">ближний круг</th>
        <th>герой</th>
        <th>принесённое влияния</th>
      </tr>
    </thead>
    <tbody>
      {% for account_id, power in politic_power.inner_circle_rating() %}
        <tr {% if player_account_id == account_id %}style="font-weight: bold;"{% endif %}>
          <td>
            {% if account_id in politic_power.inner_positive_heroes %}
              <span class="label label-success">помогает</span>
            {% endif %}
            {% if account_id in politic_power.inner_negative_heroes %}
              <span class="label label-important">мешает</span>
            {% endif %}
          </td>
          <td>{{account_record(accounts_short_infos[account_id])}}</td>
          <td>
            {% if power < 0 %}
              <span style="color:red;">{{power|int}}</span>
            {% else %}
              <span style="color:green;">{{power|int}}</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
    <p class="alert alert-info">В ближнем круге нет героев.</p>
  {% endif %}

{% endmacro %}

{% macro account_record(account_short_info) %}
  {% set hero = account_short_info.hero %}
  {{hero.gender.text}}-{{hero.race.text}}
  <a href="{{url('game:heroes:show', account_short_info.id)}}">{{hero.name}}</a>
  {{ hero.level }} уровня,
  покровитель:
  <a href="{{ url('accounts:show', account_short_info.id) }}">{{account_short_info.name}}</a>
  {% if account_short_info.clan is not none %}
    <a href="{{url('accounts:clans:show', account_short_info.clan.id)}}">[{{account_short_info.clan.abbr}}]</a>
  {% endif %}
{% endmacro %}
