
{% macro quest_record_body(choices_list) -%}

<h4>
  <span class="pgf-quest-description"></span>
  <small class="pgf-quest-rewards pgf-hidden" style="white-space: nowrap;">
    (+<span class="pgf-experience">0</span> опыта, +<span class="pgf-power">0</span> влияния)
  </small>
</h4>
<i class="quest-icon pgf-quest-icon"></i>
<div class="quest-body">
  <ul class="unstyled pgf-actors pgf-hidden actors-container">
    <li class="pgf-template">
      <strong class="pgf-role"></strong>: <a href="#" class="pgf-name"></a>
    </li>
  </ul>
  {% if choices_list %}
  <div class="pgf-choices choices pgf-hidden">
    <hr/>
    <ul class="unstyled choices-container pgf-choices-container">
      <li class="pgf-template choice-record">
      </li>
    </ul>
  </div>
  {% endif %}
</div>


{%- endmacro %}

{% macro hero_wait_message() %}
<script type="text/javascript">
jQuery(document).ready(function(e){
    pgf.base.ToggleWait(jQuery(".pgf-hero-data-wait"), true);
});
</script>

<div class="row pgf-wait-data">
  <div class="span6 offset3">
    <p class="alert alert-info">
      <span class="pgf-hero-data-wait"></span>
      <span style="vertical-align: middle;">Идёт поиск героя</span>
    </p>
  </div>
</div>
{% endmacro %}


{% macro game_debug_javascript() %}

    function DoTurns(number) {
        if (number == 0) {
            setTimeout(function() {
                updater.Refresh(true);
            }, 1000 );
            return;
        }

        pgf.forms.Post({ action: "{{ url('game:next-turn') }}",
                         OnSuccess: function(e){
                             DoTurns(number-1);
                         },
                         wait: false
                       });
    }

    jQuery('.pgf-refresh').click(function(e){
        e.preventDefault();
        updater.Refresh(true);
    });

    jQuery('.pgf-next-turn').click(function(e){
        e.preventDefault();
        DoTurns(1);
    });

    jQuery('.pgf-next-10-turns').click(function(e){
        e.preventDefault();
        DoTurns(10);
    });

    jQuery('.pgf-next-100-turns').click(function(e){
        e.preventDefault();
        DoTurns(100);
    });

    jQuery('.pgf-next-1000-turns').click(function(e){
        e.preventDefault();
        DoTurns(1000);
    });

    jQuery('.pgf-next-10000-turns').click(function(e){
        e.preventDefault();
        DoTurns(10000);
    });

    jQuery('.pgf-next-60000-turns').click(function(e){
        e.preventDefault();
        DoTurns(60000);
    });

{% endmacro %}
