
{% macro quest_record_body(choices_list) -%}

<img class="quest-icon pgf-quest-icon" align='left'></img>
<div class="quest-body">
  <span class="pgf-quest-description"></span>
  <ul class="unstyled pgf-actors pgf-hidden actors-container">
    <li class="pgf-template">
      <strong class="pgf-role"></strong>: <a href="#" class="pgf-name"></a>
    </li>
  </ul>
  {% if choices_list %}
  <div class="pgf-choices choices pgf-hidden">
    <hr/>
    <ul class="unstyled choices-container pgf-choices-container">
      <li class="pgf-template choice-record">
      </li>
    </ul>
  </div>
  {% endif %}
</div>


{%- endmacro %}


{% macro game_debug_javascript() %}

    function DoTurns(number) {
        if (number == 0) {
            setTimeout(function() {
                updater.Refresh();
            }, 1000 );
            return;
        }

        pgf.forms.Post({ action: "{{ url('game:next-turn') }}",
                         OnSuccess: function(e){
                             DoTurns(number-1);
                         },
                         wait: false
                       });
    }

    jQuery('.pgf-refresh').click(function(e){
        e.preventDefault();
        RefreshData()
    });

    jQuery('.pgf-next-turn').click(function(e){
        e.preventDefault();
        DoTurns(1);
    });

    jQuery('.pgf-next-10-turns').click(function(e){
        e.preventDefault();
        DoTurns(10);
    });

    jQuery('.pgf-next-100-turns').click(function(e){
        e.preventDefault();
        DoTurns(100);
    });

    jQuery('.pgf-next-1000-turns').click(function(e){
        e.preventDefault();
        DoTurns(1000);
    });

    jQuery('.pgf-next-10000-turns').click(function(e){
        e.preventDefault();
        DoTurns(10000);
    });

    jQuery('.pgf-next-60000-turns').click(function(e){
        e.preventDefault();
        DoTurns(60000);
    });

{% endmacro %}
