<img class="quest-icon pgf-quest-icon" align='left'></img>
<div class="quest-body">
  <span class="pgf-quest-description"></span>
  <ul class="unstyled pgf-actors pgf-hidden actors-container">
    <li class="pgf-template">
      <strong class="pgf-role"></strong>: <a href="" class="pgf-name"></a>
    </li>
  </ul>
  <div class="pgf-choices choices pgf-hidden">
    <hr/>
    <ul class="unstyled choices-container pgf-choices-container">
      <li class="pgf-template choice-record">
      </li>
    </ul>
  </div>
</div>
