
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.placeAndTime = new pgf.game.widgets.Time('#time-block',
                                                     updater, widgets,
                                                     {} );

});
</script>

<div id="time-block" class="block">

  <div class="time pgf-time">
    <div class="value">
      <span class="pgf-hours"></span> часов<br/>
      <span class="pgf-day"></span> <span class="pgf-month"></span> <span class="pgf-year"></span>
    </div>
    <div class="time-icon pgf-time-icon"></div>
  </div>

</div>    
