
<script type="text/javascript">
jQuery(document).ready(function(e) {

    widgets.placeAndTime = new pgf.game.widgets.PlaceAndTime('#world-place-time-block',
                                                             updater, widgets,
                                                             {} );

});
</script>

<div id="world-place-time-block" class="block">

  <div class="position pgf-position">
    <div class="pgf-place pgf-hidden">
      <span class="pgf-name"></span><br/>
      <span class="pgf-comment"></span>
    </div>
    <div class="pgf-road pgf-hidden">
      <span class="">дорога между <span class="pgf-place-1"></span> и <span class="pgf-place-2"></span> </span><br/>
      <span class="pgf-comment"></span>
    </div>    
  </div>
  
  <div class="time pgf-time">
    <div class="value">
      <span class="pgf-hours"></span> часов<br/>
      <span class="pgf-day"></span> <span class="pgf-month"></span> <span class="pgf-year"></span>
    </div>
    <div class="time-icon pgf-time-icon"></div>
  </div>

</div>    
