version: "3.9"

volumes:
  postgresql-storage: {}


services:

  ###############################
  # services for development only
  ###############################

  utils-regenerate-protocol:

    image: $TT_CONTAINERS_REGISTRY/the-tale/utils-regenerate-protocol:$TT_RELEASE_VERSION

    volumes:
      - ${PWD}:/home/tt_service/repository

    command: tt_regenerate_protocol

    networks:
      tt_network: {}

    profiles:
      - utils

  ###############################

  core-postgresql:
    volumes:
       - postgresql-storage:/var/lib/postgresql/data

  utils-postgresql:
    volumes:
       - ${PWD}/.backups:/backups/

  core-nginx:
    environment:
      TT_SERVERS: "site"
    volumes:
      - $TT_CONFIGS_ROOT/nginx/templates:/nginx-config-templates:ro

  tt-diary:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-personal-messages:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-storage:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-market:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-players-timers:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-personal-impacts:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-crowd-impacts:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-job-impacts:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-fame-impacts:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-game-chronicle:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-clans-chronicle:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-money-spendings:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-emissaries-impacts:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-players-properties:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-clans-properties:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-matchmaker:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-places-effects:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-clans-currencies:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-emissaries-events-currencies:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-emissaries-events-uniquer:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-discord:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-data-protector:
    volumes:
      - ${PWD}:/home/tt_service/repository

  tt-xsolla:
    volumes:
      - ${PWD}:/home/tt_service/repository

  site:
    volumes:
      - ${PWD}:/home/tt_service/repository

  utils-site-migrations:
    volumes:
      - ${PWD}:/home/tt_service/repository

  utils-site-generate-static:
    volumes:
      - ${PWD}:/home/tt_service/repository

  utils-site:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-bank-processor:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-xsolla-banker:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-refrigerator:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-message-sender:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-items-manager:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-linguistics-manager:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-achievements-manager:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-turns-loop:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-logic-1:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-logic-2:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-quests-generator:
    volumes:
      - ${PWD}:/home/tt_service/repository

  worker-supervisor:
    volumes:
      - ${PWD}:/home/tt_service/repository
