{% extends "base.html" %}

{% block title %}Редактирование профиля | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Ваш профиль изменён.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

});
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="easy-block">

      <h2>Поздравляем!</h2>

      <p>
        Изменения проведены успешно, <a href="{{ url('accounts:profile:show')}}">вернуться к профилю</a>
      </p>

      <p>
        <a href="{{ url('accounts:show', resource.account.id)}}">перейти на страницу аккаунта</a>
      </p>

      <p>
        <a href="{{ url('game:')}}">перейти на страницу игры</a>
      </p>

    </div>
  </div>
</div>


{% endblock %}
