{% extends "base.html" %}

{% block title %}Фольклор | {{ super() }}{% endblock %}

{% block fast_account_warning %}
ВНИМАНИЕ! Для Вас этот раздел доступен только для чтения. Чтобы опубликовать своё произведение, необходимо указать имя, email и пароль в своём <a href="{{ url('accounts:profile:show') }}">профиле</a> (подробнее о регистрации можно почитать в <a href="{{ url('guide:') }}">Путеводителе по Сказке</a>).
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="easy-block">

      <h2 style="margin-bottom: 0.5em;">Фольклор</h2>

      <ul class="nav nav-pills">
        <li {% if page_type == 'index' %}class="active"{% endif %}><a href="{{ url('blogs:posts:') }}">Произведения</a></li>
        {% if resource.account.is_authenticated() and not resource.account.is_fast %}
        <li {% if page_type == 'new' %}class="active"{% endif %}><a href="{{url('blogs:posts:new')}}">Добавить произведение</a></li>
        {% endif %}
      </ul>


      {% block blogs_content %}
      {% endblock %}

    </div>
  </div>
</div>

{% endblock %}
