
{% extends "blogs/base.html" %}

{% block title %}Создание нового произведения | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Создание нового произведения.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var editForm = new pgf.forms.Form(jQuery('#pgf-edit-post-form'),
                                               {OnSuccess: function(instance, data){location.href = "{{url('blogs:posts:show', post.id)}}";}});
});

</script>

{% endblock %}

{% block blogs_content %}

<h3>Редактирование произведения <small><a href="{{ url('blogs:posts:show', resource.post.id) }}">вернуться</a></small></h3>

{% include "blogs/recomendations.html" %}

<form id="pgf-edit-post-form" method="post" action="{{ url('blogs:posts:update', resource.post.id) }}">

  {% include "blogs/form_fields.html" %}

  <div class="widget">
    <input type="submit" class="btn" value="Сохранить"/>
  </div>

</form>

{% endblock %}
