
{% extends "blogs/base.html" %}

{% block title %}Создание нового произведения | {{ super() }}{% endblock %}
{% block description %}Создание нового произведения.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var editForm = new pgf.forms.Form(jQuery('#pgf-edit-post-form'),
                                               {OnSuccess: function(instance, data){location.href = "{{url('blogs:posts:show', post.id)}}";}});
});

</script>

{% endblock %}

{% block blogs_content %}

<ul class="breadcrumb" style="margin-bottom: 0px;">
  <li><a href="{{ url('blogs:posts:') }}">Фольклор</a><span class="divider">/</span></li>
  <li><a href="{{ url('blogs:posts:show', resource.post.id) }}">{{post.caption}}</a><span class="divider">/</span></li>
  <li class="active">Редактирование</li>
</ul>

<h2>Редактирование произведения</h2>

{% include "blogs/recomendations.html" %}

<form id="pgf-edit-post-form" method="post" action="{{ url('blogs:posts:update', resource.post.id) }}">

  {{ form.errors_container }}

  {{ form.caption.widget }}

  {{ form.text.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Сохранить"/>
  </div>

</form>

{% endblock %}
