{% extends "blogs/base.html" %}

{% import 'macros.html' as base_macros with context %}

{% block title %}{{ super() }}{% endblock %}
{% block description %}Список фольклорных произведений.{% endblock %}

{% block blogs_content %}

<p>
  {% if resource.account.is_authenticated() and not resource.account.is_fast %}
  <a class="btn btn-danger" href="{{url('blogs:posts:new')}}">
    Добавить произведение
  </a>
  {% endif %}

  В этом разделе Вы можете опубликовать рассказы о жизни ваших героев, Пандоре и её обитателях.
</p>

<div class="accordion" id="pgf-blogs-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-blogs-accordion" href="#pgf-blogs-accordion-intro">
        Прежде чем публиковать произведение, ознакомьтесь с нашими рекомендациями
      </a>
    </div>
    <div id="pgf-blogs-accordion-intro" class="accordion-body collapse" style="height: 0px; padding-left: 10px; padding-right: 10px;">

      <p class="alert alert-info">
        Это не обязательные требования к текстам и ваше произведение ни в коем случае не пострадает, если отклонится от них. Но соблюдение данных рекомендаций позволит сделать его лучше, а мир Пандоры — целостнее.
      </p>

      <p>
        Просим всех, кто вносит свой неоценимый вклад в игру добавлением новых произведений, затрагивающих <a href="{{url('cms:world:')}}">мифологию</a> Пандоры, сначала ознакомится с ней полноценно.
      </p>

      <p>
        То, что описано в разделе мифологии <a href="{{url('cms:world:')}}">«О Мире»</a> является мифологией духов — тех, чью роль исполняем мы, игроки. Знания из этого раздела не доступны населению Пандоры, оно лишь частично может касаться мифологий расы. И не стоит забывать, это также, всего-лишь миф. Как же было на самом деле — не знает никто.
      </p>

      <p>
        Дабы было проще, перечислим основные тезисы:
      </p>

      <ul>
        <li>«Лишь у людей есть понятие религий и вероисповеданий, причем их разноплановость и вариации, просто огромны в своем количестве.» (цитата из мифологии людей);</li>
        <li>«Остальные же расы (дварфы, гоблины, орки, эльфы) неоспоримо знают, каким образом они появились, и не подвергают это сомнению.» (цитата из мифологии людей);</li>
        <li>«Все легенды и предания эльфов описаны в стихотворной форме, и исполняются в виде песен исключительно на Эльфийском.» (цитата из мифологии эльфов);</li>
        <li>у эльфов нет богов. эльфы считают свою расу создателями всего, при этом не выделяя ключевые личности (мифология эльфов);</li>
        <li>основные божества гоблинов: Гзанзар — бог-хранитель единого знания, Дабнглан — бог невидимых сил, Крангимз — богиня путей исследования и Чарнгранг — бог постоянного движения. Все остальные божества не являются великими, но их бесчисленное множество, что оставляет простор для творчества (мифология гоблинов);</li>
        <li>у дварфов всего одно божество — Великий-Творец, он же создатель всего (мифология дварфов);</li>
        <li>если вам необходимо добавить великую фигуру среди дварфов — берите обычного дварфа и наделяйте его частичкой силы Творца, не забывайте, что при этом он не становится божеством, а всего лишь остается помощником Творца, как и все дварфы Пандоры;</li>
        <li>у орков нет богов как таковых — «все вокруг зародилось в Великом Океане, висящем в бескрайней пустоте». Да, само по себе. Орки могут почитать природу, живых существ, небеса не как божественные сущности, а лишь как неотъемлемую часть мирозданья (мифология орков).</li>
      </ul>

      <p>
        Если Вы хотите создать летопись противоречащую мифологии — пишите ее от лица «Человеков» — им позволено все, они думают и говорят что хотят. На любое их «творчество» смотрят как на сказки, и не придают искажениям и кривотолкам серьезного значения. Искажающий, либо переиначивающий основы мифологии дварф, гоблин, эльф или орк всегда будет изгоем своей расы и даже может быть признан сумасшедшим.
      </p>

      <p>
        Если же вы упоминаете автором какого-либо исторического труда эльфа, гоблина, дварфа или орка не забывайте:
      </p>

      <ul>
        <li>у дварфов и орков нет своей письменности, они пользуются языком гоблинов при записях;</li>
        <li>легенды Дварфов находятся в недостижимом для других рас месте и оформлены в виде наскальных рисунков;</li>
        <li>легенды Орков передаются устно;</li>
        <li>легенды Эльфов передаются исключительно в стихотворной форме и только на эльфийском, перевод на всеобщий в стихотворном виде может осуществить только гоблин.</li>
      </ul>
    </div>
  </div>
</div>

<h2 style="margin-bottom: 0.5em;">Список произведений</h2>

<div>
  <div class="btn-toolbar">

    {% if is_filtering %}
    <div class="btn-group">
      <a class="btn {% if not is_filtering %}disabled{% endif %}"
         href="{% if is_filtering %}{{ url('blogs:posts:') }}{%else%}javascript: return none;{%endif%}">сбросить фильтрацию</a>
    </div>
    {% endif %}

    {% if author_account %}
    <div class="btn-group">
      <a class="btn disabled" href="#">
        автор: {{author_account.nick_verbose}}
      </a>
    </div>
    {% endif %}

    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        сортировка: {{ ORDER_BY._ID_TO_TEXT[order_by] }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_builder(order_by=ORDER_BY.CREATED_AT) }}">{{ORDER_BY._ID_TO_TEXT[ORDER_BY.CREATED_AT]}}</a></li>
        <li><a href="{{ url_builder(order_by=ORDER_BY.ALPHABET) }}">{{ORDER_BY._ID_TO_TEXT[ORDER_BY.ALPHABET]}}</a></li>
        <li><a href="{{ url_builder(order_by=ORDER_BY.RATING) }}">{{ORDER_BY._ID_TO_TEXT[ORDER_BY.RATING]}}</a></li>
      </ul>
    </div>

  </div>

</div>

{% if posts %}

{{ base_macros.render_paginator(paginator) }}

<ul class="unstyled">
  {% for post in posts %}
  <li style="margin-bottom: 1em;">
    <table class="table">
      <tr>
        <td width="75px"><span class="pgf-format-date" data-timestamp="{{ post.created_at|timestamp }}"></span></td>
        <td width="20px" rel="tooltip" title="рейтинг" style="cursor: default;">
          <span class="label {% if post.votes > 0 %}label-success{% endif %} {% if post.votes < 0 %}label-important{% endif %}">
            {{ post.votes }}
          </span>
        </td>
        <td>
          {% if post.state.is_NOT_MODERATED %}
          <span class="label label-info">не проверено</span>
          {% endif %}
          <a href="{{url('blogs:posts:show', post.id)}}">{{post.caption}}</a>
        </td>
        <td width="200px"><a href="{{url('accounts:show', post.author.id)}}">
            {{post.author.nick_verbose}}
            {% if post.author.clan %}
              <a href="{{url('accounts:clans:show', post.author.clan.id)}}">[{{post.author.clan.abbr}}]</a>
            {% endif %}
        </td>
      </tr>
    </table>
  </li>
  {% endfor %}
</ul>

{{ base_macros.render_paginator(paginator) }}

{% else %}
<span class="pgf-no-posts-message">Не найдено произведений, отвечающих условиям поиска</span>
{% endif %}

{% endblock %}
