{% extends "blogs/base.html" %}

{% import 'macros.html' as base_macros with context %}

{% block title %} {{ post.caption }} | {{ super() }}{% endblock %}


{% block blogs_content %}

<ul class="breadcrumb" style="margin-bottom: 0px;">
  <li><a href="{{ url('blogs:posts:') }}">Фольклор</a><span class="divider">/</span></li>
  <li class="active">{{ post.caption }}</li>
  <li class="pull-right" style="margin-top: 1px; margin-left: 1em;">
    {{ base_macros.addthis(title=post.caption, description=post.text_html|safe) }}
  </li>

  {% if resource.account and resource.account.id == post.author.id %}
  <li class="pull-right" style="margin-left: 0.5em;">
    <a href="{{ url('blogs:posts:edit', post.id) }}">редактировать</a>
  </li>
  {% endif %}

  {% if resource.can_moderate_post %}
  {% if not post.state.is_accepted %}
  <li class="pull-right" style="margin-left: 0.5em;">
    <a class="pgf-forms-post-simple" href="{{url('blogs:posts:accept', post.id)}}">принять</a>
  </li>
  {% endif %}

  {% if not post.state.is_declined %}
  <li class="pull-right" style="margin-left: 0.5em;">
    <a class="pgf-forms-post-simple" href="{{url('blogs:posts:decline', post.id)}}">заблокировать</a>
  </li>
  {% endif %}
  {% endif %}

</ul>

<div class="blog-post-info">
  <span class="text"><span class="pgf-format-datetime" data-timestamp="{{ post.created_at|timestamp }}"></span>,</span>
  <span class="text">автор:</span> <a href="{{url('accounts:show', post.author.id)}}">{{post.author.nick}}</a>

  <a class="pgf-forms-post-simple blog-post-vote-link"
     href="{{ url('blogs:posts:vote', post.id) }}?value=for" rel="tooltip" title="понравилось">
    <span class="blog-post-vote label {%if vote is not none and vote.value%}label-success{%endif%}">+</span>
  </a>
  <a class="pgf-forms-post-simple blog-post-vote-link"
     href="{{ url('blogs:posts:vote', post.id) }}?value=against" rel="tooltip" title="не понравилось">
    <span class="blog-post-vote label {%if vote is not none and not vote.value%}label-important{%endif%}">-<span>
  </a>

  <span class="text">рейтинг:</span>
  <span class="blog-post-rating label {% if post.votes > 0 %}label-success{% endif %} {% if post.votes < 0 %}label-important{% endif %}">
    {{ post.votes }}
  </span>

  <a href="{{url('forum:threads:show', post.forum_thread_id)}}">обсуждение</a>
</div>

<br/>

<h3 style="display: inline-block;">{{ post.caption }}</h3>

<div class="blog-post-content">
  {{ post.text_html|safe }}
</div>

{% endblock %}
