{% extends "blogs/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'forum/thread_page.html' as thread_page with context %}

{% block title %} {{ post.caption }} | {{ super() }}{% endblock %}


{% block blogs_content %}

<ul class="breadcrumb" style="margin-bottom: 0px;">
  <li><a href="{{ url('blogs:posts:') }}">Фольклор</a><span class="divider">/</span></li>
  <li class="active">{{ post.caption }}</li>
  <li class="pull-right" style="margin-top: 1px; margin-left: 1em;">
    {{ base_macros.addthis(title=post.caption, description=post.text_html|safe) }}
  </li>

  {% if resource.account.is_authenticated() and resource.account.id == post.author.id %}
  <li class="pull-right" style="margin-left: 0.5em;">
    <a href="{{ url('blogs:posts:edit', post.id) }}">редактировать</a>
  </li>
  {% endif %}

  {% if resource.can_moderate_post %}
  {% if not post.state._is_ACCEPTED %}
  <li class="pull-right" style="margin-left: 0.5em;">
    <a class="pgf-forms-post-simple" href="{{url('blogs:posts:accept', post.id)}}">принять</a>
  </li>
  {% endif %}

  {% if not post.state._is_DECLINED %}
  <li class="pull-right" style="margin-left: 0.5em;">
    <a class="pgf-forms-post-simple" href="{{url('blogs:posts:decline', post.id)}}">заблокировать</a>
  </li>
  {% endif %}
  {% endif %}

</ul>

<div class="blog-post-info">
  <span class="text"><span class="pgf-format-datetime" data-timestamp="{{ post.created_at|timestamp }}"></span>,</span>
  <span class="text">автор:</span>
  <a href="{{url('accounts:show', post.author.id)}}">
    {{post.author.nick}}
    {% if post.author.clan %}
    <a href="{{url('accounts:clans:show', post.author.clan.id)}}">[{{post.author.clan.abbr}}]</a>
    {% endif %}
  </a>

  {% if resource.account.is_authenticated() %}
  {%if vote is not none%}
  <a class="pgf-forms-post-simple blog-post-vote-link pgf-remove-vote-button"
     href="{{ url('blogs:posts:unvote', post.id) }}" rel="tooltip" title="отозвать голос">
    <span class="blog-post-vote label label-success">+</span>
  </a>
  {% else %}
  <a class="pgf-forms-post-simple blog-post-vote-link pgf-add-vote-button"
     href="{{ url('blogs:posts:vote', post.id) }}" rel="tooltip" title="понравилось">
    <span class="blog-post-vote label">+</span>
  </a>
  {% endif %}
  {% endif %}

  <span class="text">рейтинг:</span>
  <span class="blog-post-rating label {% if post.votes > 0 %}label-success{% endif %} {% if post.votes < 0 %}label-important{% endif %}">
    {{ post.votes }}
  </span>

  <a href="{{url('forum:threads:show', post.forum_thread_id)}}">обсуждение</a>
</div>

<br/>

<h3 style="display: inline-block;">{{ post.caption }}</h3>

<div class="blog-post-content">
  {{ post.text_html|safe }}
</div>

{{ thread_page.thread_page(thread_data) }}

{% endblock %}
