<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Отчёт о пользовательских данных</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css"/>
  </head>

  <body>

    {% macro prettify(value) %}
      {% if value is none %}
        —
      {% elif value is string %}
        {{value|safe}}
      {% elif value is number %}
        {{value}}
      {% else %}
        {{ value|json }}
      {% endif %}
    {% endmacro %}

    {% macro render(value) %}
      {% if value is string %}
        {{prettify(value)}}
      {% elif value is mapping %}
        <table>
          <tbody>
            {% for key, item in value.items() %}
              <tr>
                <th width="150px">{{key|data_protection_verbose}}</th>
                <td>{{render(item)}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% elif value is iterable %}
        <ul>
          {% for record in value %}
            <li>{{record}}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{prettify(value)}}
      {% endif %}

    {% endmacro %}

    <h1>Отчёт о пользовательских даных</h1>

    <table>
      <tbody>
        <tr>
          <th style="text-align: right;">В техническом виде</th>
          <td><a href="{{technical_url}}">{{technical_url}}</a></td>
        </tr>
        <tr>
          <th style="text-align: right;">Создан</th>
          <td>{{completed_at|verbose_datetime}}</td>
        </tr>
        <tr>
          <th style="text-align: right;">Будет удалён после</th>
          <td>{{expire_at|verbose_datetime}}</td>
        </tr>
      </tbody>
    </table>

    {% for source in report.keys()|sort %}
      {% set data = report[source] %}

      <h2>{{source|data_protection_verbose}}</h2>

      <table>
        <tbody>
          {% for type, value in data %}
            <tr>
              <th width="500px" style="text-align: right;">{{type|data_protection_verbose}}</th>
              <td>{{render(value)}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% endfor %}
  </body>

</html>
