{% extends "base.html" %}

{% block title %}Ваш профиль | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Ваш профиль и настройки.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var changeCredentialsForm = new pgf.forms.Form(jQuery('#pgf-edit-form'),
                                                   {OnSuccess: function(instance, data){
                                                       location.href = data.data.next_url;}
                                                   });

    var changeCredentialsForm = new pgf.forms.Form(jQuery('#pgf-settings-form'),
                                                   {OnSuccess: function(instance, data){
                                                       location.href = data.data.next_url;}
                                                   });
});
</script>
{% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="easy-block">

      {% if resource.account.is_authenticated and resource.account.is_fast %}
      <div class="alert alert-info pgf-fast-account-help-block">
        <h3>Вы не закончили регистрацию!</h3>
        До завершения регистрации Ваш аккаунт имеет ограниченную функциональность. Для завершения регистрации укажите имя, email и пароль в форме ниже.<br/>
        После завершения регистрации:
        <ul>
          <li>Вы сможете входить в игру с любого компьютера</li>
          <li>Ваш герой будет защищён от вмешательства злоумышленников</li>
          <li>Вы сможете общаться на нашем форуме</li>
          <li>Пропадёт надоедливое сообщение вверху страницы</li>
        </ul>

      </div>
      {% endif %}

      <h2>
        <a href="{{url('accounts:show', resource.account.id)}}">{{resource.account.nick_verbose}}</a> —
        Изменение email и пароля
      </h2>

      <ul>
        <li>Имя будет отображаться в ваших сообщениях на форуме. Выбирайте имя аккуратно — по нему другие игроки составят первое впечатление о вас;</li>
        <li>Email является вашим идентификатором в игре. С помощью него вы входите на сайт. На указанный адрес будет выслан новый пароль в случае, если вы забудете текущий;</li>
        <li>Будьте внимательны при смене пароля, убедитесь, что включена верная раскладка клавиатуры и выключен режим ввода прописных букв.</li>
      </ul>

      <div class="alert alert-info">
        допустимые символы для имени: 0-9, a-z, A-Z, а-я, А-Я, -, _, пробел<br/>
        допустимые символы для пароля: 0-9, a-z, A-Z, !@#$%^&*()-_=+
      </div>

      <form id="pgf-edit-form" method="post" action="{{ url('accounts:profile:update') }}">

        {{ edit_profile_form.errors_container }}

        {{ edit_profile_form.nick.widget }}
        {{ edit_profile_form.email.widget }}
        {{ edit_profile_form.password.widget }}

        {% if resource.account.is_authenticated and resource.account.is_fast %}
        <p class="pgf-fast-account-user-agreement-block">
          <strong>
            Завершая регистрацию, вы соглашаетесь с <a target="_blank" href="{{url('guide:user-agreement')}}">пользовательским соглашением</a> и <a target="_blank" href="{{url('guide:privacy-policy')}}">политикой конфиденциальности</a>.</strong>
        </p>
        <input type="submit" accesskey="s" class="btn btn-success" value="Завершить регистрацию"/>
        {% else %}
        <input type="submit" class="btn btn-success" value="Изменить"/>
        {% endif %}

      </form>

      <h2>Прочие настройки</h2>

      <form id="pgf-settings-form" method="post" action="{{ url('accounts:profile:update-settings') }}">

        {{ settings_form.errors_container }}

        {{ settings_form.gender.widget }}
        {{ settings_form.accept_invites_from_clans.widget }}
        <p class="alert alert-info">
          Если этот флажок снят, на странице вашего Хранителя будет отображаться предупреждение, что вы не хотите получать приглашения в гильдии в любом виде. Если вас всё равно будут приглашать (например, через личные сообщения), вы можете <strong><a href="{{forum_complaint_theme()}}">пожаловаться</a></strong> на спамеров.
        </p>
        {{ settings_form.personal_messages_subscription.widget }}
        {{ settings_form.news_subscription.widget }}
        {{ settings_form.description.widget }}

        <input type="submit" class="btn btn-success" value="Изменить"/>

      </form>

      <h2>Управление данными</h2>

      <p>
        Подробнее про управление Вашими данными можно узнать в <a target="_blank" href="{{url('guide:privacy-policy')}}">политике конфиденциальности</a>.
      </p>

      <h3>Отчёт о Ваших данных</h3>

      <p>
        Мы можем подготовить для вас отчёт со всеми Данными о вас, которые мы храним.
      </p>

      <p>
        Обратите внимание:
      </p>

      <ul>
        <li>Мы включаем в отчёт все Ваши данные, которые мы имеем. Также мы включаем некоторые другие данные, которые могут быть вам интересны. Но мы не включаем в отчёт всю информацию из игры, касающуюся вашего аккаунта.</li>
        <li>Мы не предоставляем и не владеем данными, переданными вами напрямую нашим партнёрам (Xsolla, Discord и другие). Если вы хотите получить доступ к ним, вам необходимо потребовать их напрямую у наших партнёров.</li>
        <li>Мы не сможем предоставить вам Данные о вас, опубликованные вами на одной из площадок для публичного общения (форуме, чате, фольклоре и аналогичных). Поскольку нет технической возможности определить какая конкретно информация находится во фрагменте текста.</li>
        <li>Отчёт будет автоматически удалён через сутки после формирования.</li>
      </ul>

      <p>
        <a class="btn btn-success pgf-dialog-simple" href="{{url('accounts:profile:data-protection-get-data-dialog')}}">Получить личную информацию</a>
      </p>

      <h3>Удаление аккаунта и Ваших данных</h3>

      <p>
        Вы можете потребовать полное удаление Ваших данных, которые мы храним (и тем самым удалить аккаунт).
      </p>

      <p>
        Обратите внимание:
      </p>

      <ul>
        <li>Мы удаляем все Ваши данные, которые мы имеем. Также мы можем удалять некоторые другие данные, но мы не удаляем всю информацию из игры, касающуюся вашего аккаунта — часть её необходима для корректного функционирования игры и предоставления должного уровня сервиса другим игрокам.</li>
        <li>Часть данных будет удалена сразу, часть в течение ближайшего времени, некоторые (например, резервные копии данных игры) будут удалены в течение 30 календарных дней.</li>
        <li>Мы не владеем данными (и не удаляем их), переданными вами напрямую нашим партнёрам (Xsolla, Discord и другие). Если вы хотите удалить их, вам необходимо потребовать удаление напрямую у наших партнёров.</li>
        <li>Мы не сможем удалить Данные о вас, опубликованные вами на одной из площадок для публичного общения (форуме, чате, фольклоре и аналогичных). Поскольку нет технической возможности определить какая конкретно информация находится во фрагменте текста. Если вы опубликовали свои данные на одной из этих площадок, <strong>перед удалением аккаунта вам необходимо удалить их самостоятельно средствами площадки.</strong> Если вы испытываете трудности с самостоятельным удалением данных (например, сообщений на форуме), обратитесь в поддержку.</li>
        <li><strong>После удаления аккаунта, у нас не останется возможности подтвердить вашу связь с данными, оставшимися на площадках для публичного общения</strong>, (и любыми другими). Мы не сможем проводить с оставшимися данными какие-либо операции по вашему запросу.</li>
      </ul>

      <p class="alert alert-danger">
        <strong>Вниание!</strong> После выполнения данной операции мы никаким способом не сможем восстановить ваш аккаунт.
      </p>

      <p>
        <a class="btn btn-danger pgf-forms-post-simple"
           data-confirmation="<p class='alert alert-danger'>УДАЛЁННЫЙ АККАУНТ НЕВОЗМОЖНО ВОССТАНОВИТЬ!</p><p><strong>Вы действительно хотите удалить аккаунт?</strong></p>"
           data-success-caption="Инициировано удаление аккаунта"
           data-success-message="В ближайшее время ваши личные данные будут удалены с сервера игры."
           data-action-type="redirect"
           data-redirect-url="/"
           href="{{url('accounts:profile:data-protection-request-deletion')}}">
          УДАЛИТЬ АККАУНТ
        </a>
      </p>

    </div>
  </div>
</div>

{% endblock %}
