{% extends "accounts/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'accounts/macros.html' as accounts_macros with context %}
{% import 'blogs/macros.html' as blogs_macros with context %}

{% block title %} {{ master_account.nick_verbose }} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}О Хранителе «{{ master_account.nick_verbose }}» и «{{ master_hero.name }}» — герое {{ master_hero.level }} уровня.{% endblock %}

{% set can_be_invited = master_clan is none and
                        user_clan_rights and
                        user_clan_rights.can_take_member() and
                        not master_account_membership_request and
                        master_account_properties.accept_invites_from_clans %}

{% set can_send_money = resource.account.is_authenticated and master_account.id != resource.account.id and not master_account.is_fast and not master_account.is_ban_any %}

{% block head %}
{{ super() }}

<script type="text/javascript">

jQuery(document).ready(function(){

{% if resource.account.is_authenticated and master_account.id != resource.account.id%}

    {{  accounts_macros.personal_message_js() }}

{% if friendship is none %}

    jQuery('.pgf-friends-request-friendship').click(function(e){
        e.preventDefault();
        pgf.ui.dialog.Create({ fromUrl: "{{ url('accounts:friends:request', friend=master_account.id) }}",
                               OnOpen: function(dialog) {
                                   var friendshipForm = new pgf.forms.Form(jQuery('.pgf-friendship-request', dialog),
                                                                           { OnSuccess: function(form, data){ location.reload(); }
                                                                           });
                               }
                             });
    });

{% endif %}

{% endif %}

});

</script>

{% if can_be_invited %}
            <script type="text/javascript">
          jQuery(document).ready(function(){
              jQuery('.pgf-create-invite-to-clan').click(function(e){
                  e.preventDefault();
                  pgf.ui.dialog.Create({ fromUrl: "{{ url('clans:invite-dialog', user_clan.id, account=master_account.id) }}",
                                         OnOpen: function(dialog) {
                                             var newMessageForm = new pgf.forms.Form(jQuery('#pgf-invite-form', dialog),
                                                                                     { OnSuccess: function(form, data){
                                                                                            dialog.modal('hide');
                                                                                            location.reload();
                                                                                       }
                                                                                     });
                                         }
                                       });
              });
          });
            </script>

            {% endif %}

{% if can_send_money %}

<script type="text/javascript">
jQuery(document).ready(function(e) {

    function UpdateCommission() {
        var input = jQuery('.pgf-sender-money input');

        var price = parseInt(input.val());

        if (price != input.val()) {
            price = 1;
        }

        var commission = parseInt(Math.floor(price * {{value('the_tale.accounts.conf', 'settings').MONEY_SEND_COMMISSION}}));

        if (commission == 0) {
            commission = 1;
        }

        jQuery('.pgf-sender-commission').text(commission);
        jQuery('.pgf-receiver-income').text(price-commission);
    }

    jQuery('.pgf-send-money').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var url = target.attr('href');

        pgf.ui.dialog.Create({ fromUrl: url,
                               OnOpen: function(dialog) {
                                   var form = new pgf.forms.Form(jQuery('#pgf-send-money-form', dialog),
                                                                     {OnSuccess: function(form, data){
                                                                         location.reload();
                                                                     }});
                               },
                               OnOpened: function(dialog) {
                                   UpdateCommission();
                               }
                             });
    });

    setInterval(UpdateCommission, 500);
});
</script>


{% endif %}

{% endblock %}


{% block content %}

  <div class="row">
    <div class="span12">
      <div class="easy-block">

        <h2 style="line-height: 24px;">
          <small>
            Хранитель
          </small>
          {{ master_account.nick_verbose }}

          <small>
            и
            <a href="{{ url('game:heroes:show', master_hero.id) }}">{{ master_hero.name }}</a>
            —
            {{ master_hero.race_verbose }}
            {{ master_hero.level }} уровня
          </small>

          {{base_macros.magnet(account_meta_object)}}
        </h2>

          {% set not_own_page = resource.account.is_authenticated and master_account.id != resource.account.id %}

          {% if not_own_page or context.can_moderate_accounts %}
          <div class="pagination">
            <ul>
              {% if not_own_page %}

              <li><a class="pgf-new-message" data-recipient="{{master_account.id}}" href="#">личное сообщение</a></li>

              {% if can_be_invited %}
              <li><a class="pgf-create-invite-to-clan" href="">пригласить в гильдию</a></li>
              {% elif master_account_membership_request %}
              <li><a class="disabled" style="color: green !important; cursor: default;">приглашён или отправил заявку в гильдию</a></li>
              {% elif not master_account_properties.accept_invites_from_clans %}
              <li>
                <a class="disabled"
                   style="color: black !important; cursor: default;"
                   rel="tooltip"
                   title="Хранитель не хочет, чтобы его приглашали в гильдии. Приглашение его в гильдию <strong>любым способом</strong> будет считаться спамом.">
                  <strong>не</strong> приглашать в гильдию
                </a>
              </li>
              {% endif %}

              {% if friendship is none %}
              <li><a class="pgf-friends-request-friendship" href="#">добавить в друзья</a></li>
              {% elif friendship.is_confirmed %}
              <li><a class="pgf-friends-in-list" style="color: green;" href="{{url('accounts:friends:')}}">в списке друзей</a></li>
              {% elif friendship.friend_1_id == master_account.id %}
              <li><a class="pgf-forms-post-simple pgf-friends-request-from"
                     style="color: green;"
                     href="{{url('accounts:friends:accept', friend=master_account.id)}}">подтвердить дружбу</a></li>
              <li><a class="pgf-forms-post-simple"
                     style="color: red;"
                     href="{{url('accounts:friends:remove', friend=master_account.id)}}">отказать</a></li>
              {% else %}
              <li><a class="disabled pgf-friends-request-to" href="#">вы предложили дружбу</a></li>
              {% endif %}

              {% if can_send_money %}
              <li>
                <a href="{{url('accounts:transfer-money-dialog', master_account.id)}}"
                   class="pgf-send-money"
                   rel="tooltip"
                   title="Перевести часть печенек этому игроку">
                  выслать печеньки
                </a>
              </li>
              {% else %}

              <li>
                <a href="#"
                   class="disabled"
                   rel="tooltip"
                   title="Нельзя выслать печеньки самому себе, забаненному или не завершившему регистрацию игроку">
                  выслать печеньки
                </a>
              </li>
              {% endif %}

              <li><a href="{{forum_complaint_theme()}}">пожаловаться</a></li>

              {% endif %}

              {% if context.can_moderate_accounts %}
              <li>
                <a class="pgf-account-admin-link"
                   style="color: red;"
                   href="{{url('accounts:admin', master_account.id)}}">администрировать</a>
              </li>
              {% endif %}
            </ul>

          </div>

          {% endif %}

        {% if master_account.is_removed() %}
        <p class="alert alert-danger">
          Аккаунт удалён.
        </p>
        {% endif %}

        {% if master_account.is_ban_forum %}
          <p class="alert alert-error pgf-ban-forum-message">
            Игроку запрещено общаться до <span class="pgf-format-datetime" data-timestamp="{{ master_account.ban_forum_end_at|timestamp }}"></span>
          </p>
        {% endif %}

        {% if master_account.is_ban_game %}
          <p class="alert alert-error pgf-ban-game-message">
            Герой игрока не оказывает влияние на мир до <span class="pgf-format-datetime" data-timestamp="{{ master_account.ban_game_end_at|timestamp }}"></span>
          </p>
        {% endif %}

        {% if master_account.is_technical %}
          <p class="alert alert-info pgf-technical">
            Это технический аккаунт. Игра использует его для организации корректной работы своих механик.
          </p>
        {% endif %}

          <br/>


        <table width="100%" style="text-align: center;">
          <tbody>
            <tr>
              <td width="25%" style="vertical-align: middle; line-height: 2em;">
                МОГУЩЕСТВО<br/>
                <span style="font-size: 20pt;">{{ account_info.might|int }}</span></br>
                <a href="{{url('guide:keepers')}}">путеводитель</a>
              </td>
              <td width="25%" style="vertical-align: middle; line-height: 2em;">
                ОЧКИ ДОСТИЖЕНИЙ<br/>
                <span style="font-size: 20pt;">{{account_info.achievements}}</span></br>
                <a href="{{url('accounts:achievements:', account=master_account.id)}}">все достижения</a>
              </td>
              <td width="25%" style="vertical-align: middle; line-height: 2em;">
                ПРЕДМЕТОВ В КОЛЛЕКЦИИ<br/>
                <span style="font-size: 20pt;">{{account_info.collections}}</span></br>
                <a href="{{url('collections:collections:', account=master_account.id)}}">коллекция</a>
              </td>
              <td width="25%" style="vertical-align: middle; line-height: 2em;">
                ПОСЛЕДОВАТЕЛИ<br/>
                <span style="font-size: 20pt;">{{ account_info.referrals }}</span></br>
                <a href="{{url('guide:referrals')}}">реферальная ссылка</a>
              </td>
            </tr>
          </tbody>
        </table>

        <br/>

          <h3>Гильдия</h3>

          {% if master_clan %}
          <p>
            {{master_clan_membership.role.text}} гильдии <a href="{{url('clans:show', master_clan.id)}}">[{{master_clan.abbr}}] {{master_clan.name}}</a>
          </p>
          {% else %}
          <p>
            Не состоит в гильдии.
          </p>
          {% endif %}

          {% if master_account_membership_request %}
        <p class="alert alert-info">
          Хранитель уже отправил заявку на вступление или был приглашён в вашу гильдию.
        </p>
        {% endif %}

        <h3>О Хранителе</h3>
        {% if account_info.description %}
        {{account_info.description|safe}}
        <br/><br/>
        {% else %}
        <p>Хранитель пока ничего не рассказал о себе.</p>
        {% endif %}

        <div class="row-fluid">
          <div class="span6">

            <h3>Рейтинги</h3>

            <p>Положение игрока в рейтингах.</p>

            {% if account_info.ratings %}

              <table class="table table-condensed table-striped table-bordered">
                <tbody>
                  <tr>
                    <th >название</th>
                    <th width="50px">значение</th>
                    <th width="100px">место</th>
                  </tr>

                  {% for menu_rating in RATING_TYPE.records %}
                  {% set rating = account_info.ratings[menu_rating.value] %}
                  <tr>
                    <td>{{rating.name}}</td>
                    {% if menu_rating.is_PVP_BATTLES_1x1_VICTORIES %}
                    <td>{% if rating.value > 0 %}{{rating.value|percents(2)}}{% else %}—{% endif %}</td>
                    {% elif menu_rating.is_MIGHT %}
                    <td>{% if rating.value > 0 %}{{rating.value|round(2)}}{% else %}—{% endif %}</td>
                    {% elif menu_rating.is_POLITICS_POWER %}
                    <td>{% if rating.value > 0 %}{{rating.value|percents(2)}}{% else %}—{% endif %}</td>
                    {% else %}
                    <td>{% if rating.value > 0 %}{{rating.value}}{% else %}—{% endif %}</td>
                    {% endif %}
                    <td>
                      {% if rating.value > 0 %}
                        <a href="{{url('game:ratings:show', menu_rating.value, page=(rating.place-1) // ratings_on_page + 1)}}">{{rating.place}} место</a>
                      {% else %}
                        не участвует
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            {% else %}
              <p class="alert alert-info">Игрок пока не участвует в рейтингах</p>
            {% endif %}

          </div>

          <div class="span6">
            <h3>Активности</h3>

            <p>Участие Хранителя в жизни Пандоры.</p>

              <table class="table table-condensed table-striped table-bordered">
                <tbody>
                  <tr>
                    <th>активность</th>
                    <th>значение</th>
                  </tr>

                  <tr>
                    <td>Был в игре</td>
                    <td>
                      {% if master_account.is_removed() %}
                      —
                      {% else %}
                      <span class="pgf-format-date" data-timestamp="{{ master_account.was_in_game_at|timestamp}}"></span>
                      {% endif %}
                    </td>
                  </tr>

                  <tr>
                    <td>Влияние на игру</td>
                    <td>
                      <a href="{{url('guide:account-types')}}">
                        {% if master_account.can_affect_game %}на всю Пандору
                        {% else %}только на Фронтир
                        {% endif %}
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td>Записи в книге Судеб</td>
                    <td><a href="{{ url('game:bills:') }}?owner={{master_account.id}}">{{bills_count}}</a></td>
                  </tr>

                  <tr>
                    <td>Фразы лингвистики</td>
                    <td><a href="{{ url('linguistics:templates:', contributor=master_account.id)}}">{{templates_count}}</a></td>
                  </tr>

                  <tr>
                    <td>Слова лингвистики</td>
                    <td><a href="{{ url('linguistics:words:', contributor=master_account.id) }}">{{words_count}}</a></td>
                  </tr>

                  <tr>
                    <td>Произведения фольклора</td>
                    <td><a href="{{ url('blogs:posts:') }}?author_id={{master_account.id}}">{{folclor_posts_count}}</a></td>
                  </tr>

                  <tr>
                    <td>Влияние на мир</td>
                    <td><a href="{{ url('game:politic-power:history', account=master_account.id) }}">последнее влияние</a></td>
                  </tr>

                  <tr>
                    <td>Созданные обсуждения на форум</td>
                    <td><a href="{{url('forum:threads:')}}?author={{master_account.id}}">{{threads_count}}</a></td>
                  </tr>

                  <tr>
                    <td>Обсуждения на форуме с комментариями</td>
                    <td><a href="{{url('forum:threads:')}}?participant={{master_account.id}}">{{threads_with_posts}}</a></td>
                  </tr>

                </tbody>
              </table>
          </div>

        </div>

        {% set folclor_objects = posts_about(account_meta_object) %}

        <h3>Произведения о Хранителе</h3>

        {% if folclor_objects %}
        {{ blogs_macros.meta_posts_list(folclor_objects) }}
        {% else %}
        <p class="alert alert-info pgf-no-folclor">В настоящее время нет произведений о Хранителе.</p>
        {% endif %}



        {% if accounts_settings.INFORMER_SHOW and master_account.id == resource.account.id %}
          <h3>Информер</h3>
          <p>
            Нашим игроком <a target="_blank" href="{{url('accounts:show', accounts_settings.INFORMER_CREATOR_ID)}}">{{accounts_settings.INFORMER_CREATOR_NAME}}</a> был разработан информер, для вставки в подписи на форумах и аналогичных им местах. За что ему большое спасибо.
          </p>

          <div style="margin: 1em; text-align: center;">
            <img width="{{accounts_settings.INFORMER_WIDTH}}px" height="{{accounts_settings.INFORMER_HEIGHT}}px" src="{{informer_link}}"></img>
          </div>

          <div class="accordion" id="pgf-informer-accordion">

            <div class="accordion-group">
              <div class="accordion-heading">
                <div class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-informer-accordion" href="#pgf-informer-codes">
                  <a href="#">
                    Наиболее распространённые коды для вставки информера.
                  </a>
                </div>
              </div>
              <div id="pgf-informer-codes" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                  <ul class="unstyled">
                    <li style="margin: 0.5em;">
                      ссылка на картинку:<br/>
                      <code>{{informer_link}}</code>
                    </li>
                    <li style="margin: 0.5em;">
                      bb-код:<br/>
                      <code style="display: block;">
                        [url={{full_url('https', 'accounts:show', master_account.id, **{accounts_settings.REFERRAL_URL_ARGUMENT: master_account.id} )}}]<br/>
                        [img]{{informer_link}}[/img]<br/>
                        [/url]
                      </code>
                    </li>
                    <li style="margin: 0.5em;">
                      html-код:<br/>
                      <code style="display: block;">
                        &lt;a href="{{full_url('https', 'accounts:show', master_account.id, **{accounts_settings.REFERRAL_URL_ARGUMENT: master_account.id})}}"&gt;<br/>
                        &lt;img width="{{accounts_settings.INFORMER_WIDTH}}px" height="{{accounts_settings.INFORMER_HEIGHT}}px" src="{{informer_link}}"&gt;&lt;/src&gt;<br/>
                        &lt;/a&gt;
                      </code>
                    </li>
                  </ul>

                </div>
              </div>
            </div>

          </div>

          <p>
            Обращаем ваше внимание, что информер является сторонним продуктом и администрация игры не несёт ответственности за его функционирование.
          </p>

          <p>
            Обсудить работу информера можно на нашем <a href="{{url('forum:threads:show', accounts_settings.INFORMER_FORUM_THREAD)}}">форуме</a>.
          </p>

          <p>
            Также игроком <a target="_blank" href="{{url('accounts:show', accounts_settings.INFORMER_2_CREATOR_ID)}}">{{accounts_settings.INFORMER_2_CREATOR_NAME}}</a> был разработан альтернативный  информер, который можно найти на <a href="{{url('forum:threads:show', accounts_settings.INFORMER_2_FORUM_THREAD)}}">форуме</a>.
          </p>

        {% endif %}

    </div>
  </div>
</div>



{% endblock %}
