
{% extends "journal_messages/base.html" %}

{% block head %}
<script src="{{ STATIC_URL }}game/widgets.js" type="text/javascript"></script>
<script type="text/javascript">

jQuery(document).ready(function(e){
});

</script>
{% endblock %}

{% block content %}
{{ super() }}

<h1>Unapproved</h1>

<table>
  <tbody>
    {% for pattern in patterns %}
    <tr>
      <td>
        <div>
          ( {{ pattern.id }} ) pattern.type ( {{ pattern.author }} / {{ pattern.editor }})
          <a href="{{ url('game:journal_messages:edit', pattern.id) }}">edit</a>
        </div>
        <div>
          {{ pattern.text }}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
