{% extends "clans/base.html" %}

{% block title %}Приглашения в гильдии | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Ваши приглашения в гильдии.{% endblock %}

{% block clans_content %}

<h2 style="margin-bottom: 0.5em;">Приглашения в гильдии</h2>

{% if requests %}

{% for request in requests %}

{% set request_account = accounts[request.initiator_id] %}
{% set request_clan = clans[request.clan_id] %}

<h4>
  <a href="{{url('accounts:clans:show', request_clan.id)}}">{{request_clan.name}}</a>
  <small>
    <span class="created-at pgf-format-date" data-timestamp="{{ request.created_at|timestamp }}"></span>
    от <a href="{{url('accounts:show', request_account.id)}}">{{request_account.nick_verbose}}</a>
  </small>
</h4>
<blockquote>{{request.text_html|safe}}</blockquote>

<a class="btn btn-success pgf-forms-post-simple"
   data-action-type="redirect"
   data-redirect-url="{{url('accounts:clans:show', request_clan.id)}}"
   href="{{ url('accounts:clans:membership:accept-invite', request=request.id) }}">Принять</a>
<a class="btn btn-danger pgf-forms-post-simple"
   href="{{ url('accounts:clans:membership:reject-invite', request=request.id) }}">Отклонить</a>

<br/>
<br/>

{% endfor %}

{% else %}
<p class="pgf-no-requests-message alert alert-info">Нет приглашений в гильдию</p>
{% endif %}


{% endblock %}
