{% extends "accounts/base.html" %}

{% import 'accounts/macros.html' as accounts_macros with context %}

{% block title %}Платежи | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}

{% if resource.xsolla_enabled %}
<script id="xsolla-paystation-lightbox" type="text/javascript" src="https://secure.xsolla.com/partners/embed/lightbox.js"></script>
{% endif %}

<script type="text/javascript">
jQuery(document).ready( function(e) {

    {% if resource.dengionline_enabled %}
    jQuery('.pgf-dengionline-dialog-link').click(function(e){
        e.preventDefault();
        var target = jQuery(e.currentTarget);
        var url = target.attr('href');
        pgf.ui.dialog.Create({ fromUrl: url,
                               OnOpen: function(dialog) {
                                   var payForm = new pgf.forms.Form(jQuery('#pgf-dengionline-pay-form', dialog),
                                                                    {OnSuccess: function(instance, data){location.href = data.data.next_url;}});
                                   var realAmountField = jQuery('#id_real_amount', dialog);
                                   var gameAmountField = jQuery('#id_game_amount', dialog);
                                   realAmountField.on('change keyup', function(e){
                                       var realValue = parseInt(realAmountField.val());
                                       var realAmount = (realValue == realAmountField.val() ? realValue : 0) * {{resource.usd_to_premium}};
                                       gameAmountField.val(isNaN(realAmount) ? 0 : realAmount);
                                   });
                               }
                             });
    });
    {% endif %}

});

</script>

{% endblock %}

{% block accounts_content %}

<h2>Платежи</h2>

<table class="table table-condensed table-striped table-bordered table-no-highlighting">
  <tbody>
    <tr>
      <th style="text-align: center;">У ВАС ЕСТЬ</th>
      <th width="200px">тип аккаунта</th>
      <td>
        {{ accounts_macros.account_type_label(resource.account) }} &nbsp; <a href="{{url('guide:account-types')}}">[типы аккаунтов]</a>
      </td>
    </tr>

    <tr>
      <td rowspan="2" width="150px" style="text-align: center; padding: 1em; vertical-align: middle;">
        <div style="display: inline-block; vertical-align: middle;">
          <span style="font-size: 20pt;">{{ account.bank_account.amount }}</span><br/>
          <span>ПЕЧЕНЕК</span>
        </div>

        <div style="display: inline-block; vertical-align: middle;">
          {% if resource.dengionline_enabled %}
          <a style="vertical-align: middle;"
             href="{{url('accounts:payments:dengionline-dialog')}}"
             class="pgf-dengionline-dialog-link btn btn-large btn-success">+</a>
          {% endif %}

          {% if resource.xsolla_enabled %}
          <a style="vertical-align: middle; font-size: 36pt; line-height: 18px; padding: 10px;"
             href="#"
             id="paystation-link"
             rel="tooltip"
             title="приобрести ещё…"
             onclick="XPSLightBox.open('{{resource.xsolla_paystaion_widget_link|safe}}', 900, 650); return false;"
             class="pgf-xsolla-dialog-link btn btn-large btn-success">+</a>
          {% endif %}
        </div>
      </td>

      <th>окончание подписки</th>
      <td>
        {% if account.is_premium %}
        <span class="updated-at pgf-format-datetime" data-timestamp="{{ account.premium_end_at|timestamp }}"></spann>
        {% else %}
        —
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>стоимость одной печеньки</th>
      <td>
        {{ payments_settings.XSOLLA_RUB_FOR_PREMIUM_CURRENCY }} беларуских рублей <a href="{{url('guide:payments')}}">[подробнее]</a><br/>
        Конечная стоимость может колебаться в зависимости от курсов валют, платежной системы и комиссии агрегатора.
      </td>
    </tr>
  </tbody>
</table>

<ul class="nav nav-pills">
  <li {% if page_type == 'shop' %}class="active"{% endif %}><a href="{{ url('accounts:payments:shop') }}">Магазин</a></li>
  <li {% if page_type == 'history' %}class="active"{% endif %}><a href="{{ url('accounts:payments:history') }}">История</a></li>
  <li {% if page_type == 'purchases' %}class="active"{% endif %}><a href="{{ url('accounts:payments:purchases') }}">Приобретения</a></li>
</ul>


{% block payments_content %}
{% endblock %}

{% endblock %}
