{% extends "accounts/base.html" %}

{% import 'accounts/macros.html' as accounts_macros with context %}

{% block title %}Платежи | {{ super() }}{% endblock %}

{% block accounts_content %}

<h2>Платежи</h2>

<table class="table table-condensed table-striped table-bordered table-no-highlighting">
  <tbody>
    <tr>
      <th width="200px">тип аккаунта</th>
      <td>
        {{ accounts_macros.account_type_label(resource.account) }} &nbsp; <a href="{{url('guide:account-types')}}">[типы аккаунтов]</a>
      </td>
    </tr>

    <tr>
      <th>окончание подписки</th>
      <td>
        {% if account.is_premium %}
        <span class="updated-at pgf-format-datetime" data-timestamp="{{ account.premium_end_at|timestamp }}"></spann>
        {% else %}
        —
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>количество печенек</th>
      <td>{{ account.bank_account.amount }}</td>
    </tr>
  </tbody>
</table>

<ul class="nav nav-pills">
  <li {% if page_type == 'shop' %}class="active"{% endif %}><a href="{{ url('accounts:payments:shop') }}">Магазин</a></li>
  <li {% if page_type == 'history' %}class="active"{% endif %}><a href="{{ url('accounts:payments:history') }}">История</a></li>
</ul>


{% block payments_content %}
{% endblock %}

{% endblock %}
