

{% set remove_question = 'Вы действительно хотите удалить гильдию?<br/>При этом будут потеряны связи гильдии произведениями фольклора и другими сущностями игры. Возможно, её стоит передать другим игрокам, чтобы сохранить историю.'%}

{% macro clan_navigation(page_id, current_clan=none) %}

{% if resource.account.is_authenticated and resource.account.clan_id is not none %}
{% set user_clan = value("the_tale.clans.logic").load_clan(clan_id=resource.account.clan_id) %}
{% else %}
{% set user_clan = none %}
{% endif %}

<li class="nav-header">Гильдии</li>

<li class="nav-element {%if page_id.is_INDEX%}active{%endif%}"><a href="{{ url('clans:') }}">Все гильдии</a></li>

{% if user_clan is none %}
<li class="nav-element {%if page_id.is_FOR_ACCOUNT%}active{%endif%}">
  <a href="{{ url('clans:invites') }}">Мои приглашения</a>
</li>
{% else %}
<li class="nav-element {%if page_id.is_SHOW and user_clan.id == current_clan.id %}active{%endif%}">
  <a href="{{ url('clans:show', user_clan.id) }}">Моя гильдия</a>
</li>
<li class="nav-element {%if page_id.is_CHRONICLE and user_clan.id == current_clan.id %}active{%endif%}">
  <a href="{{ url('clans:chronicle', user_clan.id) }}">Летопись гильдии</a>
</li>
{% endif %}

{% if current_clan %}

  {% if user_clan and current_clan.id == user_clan.id %}

    <li class="nav-element"><a href="{{ url('forum:subcategories:show', user_clan.forum_subcategory_id) }}">Форум гильдии</a></li>

  {% else %}

    <script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.pgf-create-membership-request').click(function(e){
            e.preventDefault();
            pgf.ui.dialog.Create({ fromUrl: "{{ url('clans:request-dialog', current_clan.id) }}",
                                   OnOpen: function(dialog) {
                                       var newMessageForm = new pgf.forms.Form(jQuery('#pgf-request-membership-form', dialog),
                                                                               { OnSuccess: function(form, data){ dialog.modal('hide'); }
                                                                               });
                                   }
                                 });
        });
    });
    </script>

<li class="nav-element">
  {% if user_clan is none %}
  <a class="pgf-create-membership-request" href="#">Вступить в гильдию</a>
  {% else %}
  <a class="disabled" href="#">Вступить в гильдию</a>
  {% endif %}
</li>

  {% endif %}

{% else %}
{% endif %}

{% endmacro %}
