{% extends "base.html" %}
{% import 'clans/macros.html' as clan_macros with context %}

{% block title %}Гильдии | {{ super() }}{% endblock %}

{% block fast_account_warning %}
ВНИМАНИЕ! Для Вас этот раздел доступен только для чтения. Чтобы создать свою гильдию или вступить в существующую, необходимо указать имя, email и пароль в своём <a href="{{ url('accounts:profile:show') }}">профиле</a> (подробнее о регистрации можно почитать в <a href="{{ url('guide:') }}">Путеводителе по Сказке</a>).
{% endblock %}

{% block content %}

<div class="row">
  <div class="span3">
    <div class="easy-block">
      <ul class="game-navigation nav nav-list" style="padding-left: 2px;">
        {% block navigation %}
        {{ clan_macros.clan_navigation(page_id=page_id, own_clan_info=resource.clan_info, current_clan=resource.clan) }}
        {% endblock %}
      </ul>
    </div>
  </div>

  <div class="span9">
    <div class="easy-block">

      {% block clans_content %}
      {% endblock %}

    </div>
  </div>
</div>

{% endblock %}
