{% extends "clans/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}Список гильдий | {{ super() }}{% endblock %}
{% block description %}Список всех гильдий игры{% endblock %}

{% block clans_content %}

<h2 style="margin-bottom: 0.5em;">Список гильдий</h2>

{{ list_filter_macros.html_filter(index_filter) }}

{% if clans %}

{{ base_macros.render_paginator(paginator) }}

{% for clan in clans %}

<div>

  <div style="display: inline-block; width: 150px; color: gray;">
    <div style="">Лидер: <a href="{{url('accounts:show', leaders[clan.id].id)}}">{{ leaders[clan.id].nick_verbose }}</a></div>
    <div style="">Создан: <span class="created-at pgf-format-date" data-timestamp="{{ clan.created_at|timestamp }}"></span></div>
    <div style="">Героев: {{ clan.members_number }}</div>
  </div>

  <div style="display: inline-block; vertical-align: top;">
    <h3><a href="{{url('accounts:clans:show', clan.id)}}">[{{clan.abbr}}] {{clan.name}}</a></h3>
    <strong><i>{{clan.motto}}</i></strong>
  </div>

</div>

<br/>


{% endfor %}

{{ base_macros.render_paginator(paginator) }}

{% else %}
<p class="pgf-no-clans-message alert alert-info">Не найдено гильдий, отвечающих условиям поиска</p>
{% endif %}


{% endblock %}
