

{% macro clan_navigation(page_id, own_clan_info, current_clan=none) %}

<li class="nav-header">Гильдии</li>

<li class="nav-element {%if page_id._is_INDEX%}active{%endif%}"><a href="{{ url('accounts:clans:') }}">Все гильдии</a></li>

{% if own_clan_info.clan is none %}
  {% if own_clan_info.can_create_clan %}
    <li class="nav-element {%if page_id._is_NEW%}active{%endif%}"><a href="{{ url('accounts:clans:new') }}" class="pgf-create-clan-button">Создать гильдию</a></li>
  {% else %}
    <li class="nav-element disabled"
        rel="tooltip"
        title="Вы не можете создать гильдию. За подробной информацией обратитесь в путеводитель.">
      <a href="#" class="pgf-create-clan-disabled-button">Создать гильдию</a>
    </li>
  {% endif %}

  <li class="nav-element {%if page_id._is_FOR_ACCOUNT%}active{%endif%}"><a href="{{ url('accounts:clans:membership:for-account') }}">Приглашения</a></li>

{% else %}
  <li class="nav-element {%if page_id._is_SHOW%}active{%endif%}"><a href="{{ url('accounts:clans:show', own_clan_info.clan_id) }}">Моя гильдия</a></li>
{% endif %}

{% if current_clan %}

  {% if own_clan_info.clan and current_clan.id == own_clan_info.clan_id %}

    {% if own_clan_info.can_invite %}
    <li class="nav-element {%if page_id._is_FOR_CLAN%}active{%endif%}"><a href="{{ url('accounts:clans:membership:for-clan') }}">Заявки на вступление</a></li>
    {% endif %}

    {% if own_clan_info.membership.role._is_LEADER %}
      <li class="nav-element {%if page_id._is_EDIT%}active{%endif%}"><a href="{{ url('accounts:clans:edit', own_clan_info.clan_id) }}">Редактировать</a></li>

      {% if page_id._is_EDIT %}
        <li class="nav-element">
          <a class="pgf-forms-post-simple"
             href="{{ url('accounts:clans:remove', own_clan_info.clan_id) }}"
             data-action-type="redirect"
             data-redirect-url="{{url('accounts:clans:')}}"
             data-confirmation="Вы действительно хотите удалить гильдию?">Удалить</a>
        </li>
      {% endif %}

    {% else %}

      <li class="nav-element">
        <a class="pgf-forms-post-simple"
           href="{{ url('accounts:clans:membership:leave-clan') }}"
           data-confirmation="Вы действительно хотите выйти из гильдии?">
           Выйти из гильдии
        </a>
      </li>

    {% endif %}

  {% else %}

    <script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.pgf-create-membership-request').click(function(e){
            e.preventDefault();
            pgf.ui.dialog.Create({ fromUrl: "{{ url('accounts:clans:membership:request', clan=current_clan.id) }}",
                                   OnOpen: function(dialog) {
                                       var newMessageForm = new pgf.forms.Form(jQuery('#pgf-request-membership-form', dialog),
                                                                               { OnSuccess: function(form, data){ dialog.modal('hide'); }
                                                                               });
                                   }
                                 });
        });
    });
    </script>

    <li class="nav-element"><a class="pgf-create-membership-request" href="#">Вступить в гильдию</a></li>

  {% endif %}

{% else %}
{% endif %}

{% endmacro %}
