{% extends "clans/base.html" %}

{% block title %}Создание гильдии | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newForm = new pgf.forms.Form(jQuery('#pgf-new-clan-form'),
                                     {OnSuccess: function(instance, data){location.href = data.data.next_url;}});

});

</script>

{% endblock %}

{% block clans_content %}

<h2>Создание новой гильдии</h2>

<p>Гильдии — это объединения игроков, преследующих одну и ту же цель и желающих согласовывать свои действия в Пандоре.</p>

<ul>
  <li>Подробную информацию о гильдиях Вы можете найти в соответствующем разделе Путеводителя: <a href="{{url('guide:clans')}}">«Гильдии»</a>.</li>
  <li>Старательно выбирайте название гильдии, его аббревиатуру и девиз — по ним другие игроки будут составлять первое впечатление о вашей гильдии.</li>
  <li>Помните, что у нас не допускаются оскорбления и ненормативная лексика.</li>
  <li>Будьте оригинальны!</li>
</ul>

<br/>

<form id="pgf-new-clan-form" method="post" action="{{ url('accounts:clans:create') }}">

  {{ form.errors_container }}

  {{ form.name.widget }}
  {{ form.abbr.widget }}
  {{ form.motto.widget }}
  {{ form.description.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Создать"/>
  </div>

</form>


{% endblock %}
