{% extends "clans/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'friends/macros.html' as friends_macros with context %}
{% import 'blogs/macros.html' as blogs_macros with context %}

{% block title %}{{resource.clan.name}} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Страница гильдии [{{resource.clan.abbr}}] {{resource.clan.name}}{% endblock %}

{% block head %}
{{ super() }}
{{friends_macros.messages_broadcast_script(uid='members')}}
{% endblock %}

{% block clans_content %}

<h2>
  [{{resource.clan.abbr}}]
  {{resource.clan.name}}
  {{base_macros.magnet(clan_meta_object)}}
  <br/>
  <small>{{resource.clan.motto}}</small>
</h2>

<p>
  {{resource.clan.description_html|safe}}
</p>

<small style="white-space: nowrap;">серым выделены игроки, остутствующие в игре дольше {{active_state_days}} дней.</small></br>
<strong>
  все: {{resource.clan.members_number}};
  активны: {{active_accounts_number}};
  отсутствуют: {{resource.clan.members_number-active_accounts_number}};
  влияют на игру: {{affect_game_accounts_number}}
</strong>


<table class="table table-condensed table-striped table-bordered">
  <tr>
    {% if resource.clan_info.clan and resource.clan.id == resource.clan_info.clan_id %}
    <th width="16px;"><input type="checkbox" class="pgf-members-checkbox-all" value="all"></th>
    {% endif %}
    <th width="20px">№</th>
    <th width="100px">Игрок</th>
    <th width="100px">Звание</th>
    <th>Герой</th>
    {% if resource.clan_info.clan and resource.clan.id == resource.clan_info.clan_id and not resource.clan_info.membership.role.is_MEMBER %}
    <th width="100px">Действия</th>
    {% endif %}
  </tr>
  {% for account in accounts %}

  {% set role = roles[account.id] %}
  {% set hero = heroes[account.id] %}

  <tr>
    {% if resource.clan_info.clan and resource.clan.id == resource.clan_info.clan_id %}
    <td><input type="checkbox" class="pgf-members-checkbox" value="{{account.id}}"></td>
    {% endif %}
    <td>
      <span class="badge {% if account.can_affect_game%}badge-success{% endif %}"
            style="cursor: pointer;"
            rel="tooltip"
            data-tooltip-placement="left"
            title="{% if account.can_affect_game%}влияет на игру{% else %}не влияет на игру{% endif %}">
        {{loop.index}}
      </span>
    </td>
    <td>
      <a href="{{url('accounts:show', account.id)}}"
         class="{% if not account.is_active %}disabled{% endif %}">
        {{account.nick_verbose}}
      </a>
    </td>
    <td>{{role.text}}</td>
    <td>
      {{hero.gender_verbose}}-{{hero.race_verbose}}
      <a href="{{url('game:heroes:show', hero.id)}}">{{hero.name}}</a>
      {{ hero.level }} уровня
    </td>
    {% if resource.clan_info.clan and resource.clan.id == resource.clan_info.clan_id and not resource.clan_info.membership.role.is_MEMBER %}
    <td>
      {% if not role.is_LEADER %}
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">изменить<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a class="pgf-forms-post-simple"
               href="{{ url('accounts:clans:membership:remove-from-clan', account=account.id) }}"
               data-confirmation="Вы действительно хотите исключить <a target='_blank' href='{{url('accounts:show', account.id)}}'>{{account.nick_verbose}}</a> из гильдии?">
              Исключить из гильдии
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% if resource.clan_info.clan and resource.clan.id == resource.clan_info.clan_id %}
<a type="button" class="btn pgf-new-message-button disabled">отправить сообщение</a>
{% endif %}

{% set folclor_objects = posts_about(clan_meta_object, allowed_for=leader) %}

<br/>
<br/>
<h3>Произведения о Гильдии</h3>

<p>
  Чтобы произведение появилось в списке, его автор должен указать что оно об этой гильдии, а лидер гильдии должен поставить произведению «плюсик».
</p>

{% if folclor_objects %}
{{ blogs_macros.meta_posts_list(folclor_objects) }}
{% else %}
<p class="alert alert-info pgf-no-folclor">В настоящее время нет произведений о гильдии.</p>
{% endif %}


{% endblock %}
