{% extends "persons/base.html" %}
{% import 'macros.html' as base_macros with context %}
{% import 'blogs/macros.html' as blogs_macros with context %}
{% import 'game/macros.html' as game_macros with context %}
{% import 'persons/macros.html' as persons_macros with context %}
{% import 'chronicle/macros.html' as chronicle_macros with context %}
{% import 'politic_power/macros.html' as politic_power_macros with context %}

{% block title %} {{ person.name }} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Информация о Мастере «{{person.name}}»{% endblock %}

{% block persons_content %}

  <h2>
    {{person.name}}
    из
    <a href="{{url('game:places:show', person.place_id)}}">{{person.place.utg_name.forms[1]}}</a>
    {{ base_macros.magnet(person_meta_object) }}
    <small>
      {{ persons_macros.person_description(person) }}
    </small>

    {% if hero and hero.preferences.friend and hero.preferences.friend.id == context.person.id %}
      <span class="label label-success">соратник</span>
    {% endif %}

    {% if hero and hero.preferences.enemy and hero.preferences.enemy.id == context.person.id %}
      <span class="label label-important">противник</span>
      {% endif %}

    <small class="pull-right" style="font-size: 10pt; padding-top: 0.4em;">
      обновлено в
      <span class="pgf-format-time" data-timestamp="{{ person.updated_at|timestamp }}"></span>
    </small>

  </h2>

  <table class="table table-condensed">
    <tbody>
      <tr>
        <th width="220px">влияние в городе</th>
        <td>
          {{persons_power_storage.total_power_fraction(person.id)|percents}}
          <a href="{{url('game:politic-power:history', person=person.id)}}" target="_blank">история</a>
        </td>
      </tr>
      <tr>
        <th>влияние от ближнего круга</th>
        <td>
          {{persons_power_storage.inner_power_fraction(person.id)|percents}}

          {% set current_power = persons_power_storage.inner_power(person.id) %}

          —
          {{current_power|int}}

          {{politic_power_macros.power_reduce_help(tt_politic_power_constants.POWER_REDUCE_FRACTION, current_power)}}
        </td>
      <tr>
        <th>влияние от народа</th>
        <td>
          {{persons_power_storage.outer_power_fraction(person.id)|percents}}

          {% set current_power = persons_power_storage.outer_power(person.id) %}

          —
          {{current_power|int}}

          {{politic_power_macros.power_reduce_help(tt_politic_power_constants.POWER_REDUCE_FRACTION, current_power)}}
        </td>
      </tr>
      <tr>
        <th>здание</th>
        <td>
          {% if person.building %}
          {{person.building.type.text}}: {{person.building.name}}
          {% else %}
          нет
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>проект</th>
        <td>
          <div style="cursor: help; display: inline-block;" rel="tooltip" title="{{person.job.effect.description}}">
            {{person.job.name}}
          </div>
          {% if person.job.effect.bonus_to_negative_effect %}
          — эффект x {{c.JOB_NEGATIVE_POWER_MULTIPLIER}} в случае провала
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>до завершения проекта</th>
        <td>
          {{person.job.will_be_completed_after()|verbose_timedelta}} (если хватает влияния)
          <i class="icon-info-sign" rel="tooltip" title="Проект длится минимум {{c.JOB_MIN_LENGTH}} дня"></i>
        </td>
      </tr>
      <tr>
        <th>размер проекта</th>
        <td>
          {{person.job.get_job_power(person.id)|percents(2)}}
          <i class="icon-info-sign" rel="tooltip" title="Размер проекта зависит от относительного влияния Мастера в городе."></i>
        </td>
      </tr>
      {% if person.job.is_completed(job_power) %}
        <tr>
          <th>проект почти закончен</th>
          <td>Проект будет завершён в ближайшее время. Влияние победившей стороны будет обнулено. Влияние проигравшей стороны пойдёт в счёт следующего проекта.</td>
        </tr>
      {% endif %}
      <tr>
        <th>помощь в проекте от соратников</th>
        <td>
          <span style="color:green;">{{(job_power.positive/person.job.power_required)|percents(2)}}</span>
          всего влияния: {{job_power.positive|round(0)|int}} из {{person.job.power_required|round(0)|int}}
        </td>
      </tr>
      <tr>
        <th>вред в проекте от противников</th>
        <td>
          <span style="color:red;">{{(job_power.negative/person.job.power_required)|percents(2)}}</span>
          всего влияния: {{job_power.negative|round(0)|int}} из {{person.job.power_required|round(0)|int}}
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Социальные связи</h3>

  {% if social_connections %}

    <table class="table table-condensed">
      <tbody>
        {% for connection_type, connected_person in social_connections %}
          <tr>
            <td width="100px">
              {% if connection_type.is_PARTNER %}
                <span class="label label-success">{{connection_type.text}}</span>
              {% endif %}

              {% if connection_type.is_CONCURRENT %}
                <span class="label label-important">{{connection_type.text}}</span>
              {% endif %}
            </td>
            <td>
              <a href="{{url('game:persons:show', connected_person.id)}}">{{connected_person.name}}</a>
              из
              <a href="{{url('game:places:show', connected_person.place_id)}}">{{connected_person.place.utg_name.forms[1]}}</a> —
              {{ persons_macros.person_description(connected_person) }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="alert alert-info">
      У Мастера нет связей.
    </p>
  {% endif %}


  <div class="accordion" id="pgf-person-accordion">

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-person-accordion" href="#pgf-person-specialisations">
          Специализации
        </a>
      </div>
      <div id="pgf-person-specialisations" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">

          <p>
            Очки специализации отображаются с учётом всех модификаторов.
          </p>

          <table class="table">
            <thead>
              <tr>
                <th>Специализация</th>
                <th>Очки влияния</th>
              </tr>
            </thead>

            <tbody>
              {% for name, points in person.specializations_for_ui() %}
                <tr>
                  <td>{{name}}</td>
                  <td style="color:{%if points>1%}green{%elif points<-1%}red{%else%}black{%endif%};">{{points|round(2)}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-person-accordion" href="#pgf-person-jobs">
          Проекты
        </a>
      </div>
      <div id="pgf-person-jobs" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">

          <p>
            Вероятности выбора проектов Мастером и их ожидаемый эффект.
          </p>

          <table class="table">
            <thead>
              <tr>
                <th>проект</th>
                <th>вероятность</th>
                <th>
                  влияние
                  <i class="icon-info-sign" rel="tooltip" title="Сколько влияния должен получить Мастер, чтобы завершить/провалить проект"></i>
                </th>
                <th>при выполнении</th>
                <th>при провале</th>
              </tr>
            </thead>

            {% set job_power = person.job.get_job_power(person.id) %}

            <tbody>
              {% for effect, priority in job_effects_priorities %}
              <tr>
                <td>{{effect.text}}</td>
                <td>{{priority|percents(2)}}</td>
                <td>{{effect.logic.power_required(person.job.NORMAL_POWER)}}</td>
                <td>{{effect.logic.short_effect_description(effect.logic.positive_effect_value(job_power))}}</td>
                <td>{{effect.logic.short_effect_description(effect.logic.negative_effect_value(job_power))}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-person-accordion" href="#pgf-person-all-attributes">
          Все параметры Мастера
        </a>
      </div>
      <div id="pgf-person-all-attributes" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
          <table class="table table-condensed">
            <tbody>
              {% for attribute in person.attrs.attributes_by_name() %}
              {{game_macros.attribute_record(person, attribute.name)}}
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-person-accordion" href="#pgf-person-chronicle">
          Летопись
        </a>
      </div>
      <div id="pgf-person-chronicle" class="accordion-body collapse" style="height: 0px;">
        <div class="accordion-inner">
          <p>
            Последние события, связаные с Мастером.
          </p>

          {{ chronicle_macros.records_list(master_chronicle) }}

        <p>
          <a class="btn btn-info" href="{{ url('game:chronicle:', person=person.id) }}">Все события</a>
        </p>

        </div>
      </div>
    </div>

  </div>


  <h3>Ближний круг</h3>

<p>
  В ближний круг попадают герои, специально помогающие или вредящие Мастеру. Подробнее про ближний круг можно прочитать в <a href="{{url('guide:persons')}}">путеводителе</a>.
</p>

  <ul>
    <li>Всего героев помогает: {{inner_circle.total_positive_heroes_number}} (в круге: {{inner_circle.circle_positive_heroes_number}})</li>
    <li>Всего героев мешает: {{inner_circle.total_negative_heroes_number}} (в круге: {{inner_circle.circle_negative_heroes_number}})</li>
  </ul>

  {{game_macros.inner_circle_heroes(inner_circle, hero.account_id if hero else none)}}

  {% set folclor_objects = posts_about(person_meta_object) %}

  <h3>Произведения о Мастере</h3>

  {% if folclor_objects %}
    {{ blogs_macros.meta_posts_list(folclor_objects) }}
  {% else %}
    <p class="alert alert-info pgf-no-folclor">В настоящее время нет произведений о Мастере.</p>
  {% endif %}

{% endblock %}
