<div class="modal hide hero-deck-use-card">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">Объединение карт</h3>
  </div>

  <div class="modal-body">


    <ul>
      <li>Объединять можно только карты одинаковой редкости.</li>
      <li>При объединении 2-ух карт появляется карта такой же редкости, но другого типа.</li>
      <li>При объединении 3-ёх карт появляется карта следующей редкости.</li>
      <li>Нельзя объединить 3 легендарных карты.</li>
      <li>Если каждая из объединяемых карт могла быть продана на рынке, то и новая карта сможет быть продана на рынке.</li>
    </ul>

    <table width="100%">
      <thead>
        <tr>
          <th>Выбранные карты</th>
          <th width="50%">Ваши карты</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="vertical-align: top;">
            <ul style="height: 60px; overflow-y: auto; font-size: 10pt;" class="pgf-cards-chosen unstyled">
              <li class="pgf-template">
                <a href="#" class="pgf-card pgf-card-record" style="font-size: 10pt;"></a>
              </li>
            </ul>
          </td>
          <td>
            <div class="pgf-scrollable" style="max-height: 200px; overflow-y: auto; font-size: 10pt;">
              <ul class="pgf-card-choices unstyled">
                <li class="pgf-template">
                  <a href="#" class="pgf-card pgf-card-record" style="font-size: 10pt;"></a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <a href="{{url('game:heroes:combine-cards', hero.id)}}"
       class="btn btn-success pgf-do-combine-cards"
       style="display: block; margin-top: 10px;">Объединить карты</a>

  </div>

</div>
