{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}Карты Судьбы | {{ super() }}{% endblock %}
{% block description %}Описание карт судьбы и их список.{% endblock %}

{% block guide_content %}

  {{ guide_macros.page_caption("Карты Судьбы", "Описание карт судьбы и их список.") }}

  <p>
    Карты судьбы — это особые одноразовые действия, позволяющие Хранителю оказать существенное влияние на героя или мир.
  </p>

  <p>
    Хранитель получает карты за помощь своему герою. По карте за каждые {{c.CARDS_HELP_COUNT_TO_NEW_CARD}} случаев помощи.
  </p>

  <p>
    Карты имеют разные эффекты, некоторые влияют на героя, другие — на окружающий мир. Сила и тип эффекта зависят от редкости карты, которая бывает:
  </p>

  <ul>
    {% for rarity in CARD_RARITY.records %}
    <li class="{{rarity.name|lower}}-card-label">{{rarity.text}}</li>
    {% endfor %}
  </ul>

  <p>
    Часть карт влияющих на мир игры могут получить только подписчики (но использовать могут все).
  </p>

  <p>
    Карты можно объединять. При этом объединяемые карты уничтожаются, а Вы получаете карту нового типа:
  </p>

  <ul>
    <li>Объединять можно только карты одинаковой редкости.</li>
    <li>При объединении 2-ух карт появляется карта такой же редкости, но другого типа.</li>
    <li>При объединении 3-ёх карт появляется карта следующей редкости.</li>
    <li>Нельзя объединить 3 легендарных карты.</li>
  </ul>

  {{ list_filter_macros.html_filter(index_filter) }}

  <table class="table table-condensed">
    <thead>
      <tr><th width="10px"></th><th>название</th><th>описание</th></tr>
    </thead>
    <tbody>
      {% for card in CARDS %}
        <tr>
          <td>
            <div class="{{card.TYPE.rarity.name|lower}}-card-bg"
                 style="height: 10px; width: 10px; margin-top: 5px; cursor: pointer;"
                 rel="tooltip"
                 title="{{card.TYPE.rarity.text}} карта"></div>
          </td>
          <td width="150px;" class="">{{card.TYPE.text}}</td>
          <td>{{card.DESCRIPTION}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}
