
<div class="modal hide hero-deck-use-card">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">Использование карты «{{card.text}}»</h3>
  </div>

  <div class="modal-body">

    <p>
      {{card.description}}
    </p>

    <form class="pgf-use-card-form" method="post" action="{{ url('game:cards:use', card=card.value) }}">

      {{ form.errors_container }}

      {{ form.place.widget }}

      <div class="widget">
        <input type="submit" class="btn btn-success" value="Использовать"/>
      </div>

    </form>

  </div>

</div>
