{% extends "pvp/base.html" %}


{% block title %}Вызовы на арену | {{ super() }}{% endblock %}

{% block content %}

<div class="block white">

<h2>Арена</h2>

<p>
  На этой странице можно найти информацию о героях, ищущих спаринг-партнёра для поединка на арене.
</p>

<p>
  <strong>Вы можете принять вызов любого героя при условии что его уровень, не меньше {{ACCEPTED_LEVEL_MIN}} и не больше {{ACCEPTED_LEVEL_MAX}}</strong>
</p>

<h3>вызовы</h3>

{% if battles %}
<table class="table table-striped table-condensed table-no-highlighting">
  {% for battle in battles %}
  <tr>
    <td>
      {% set hero = heroes[battle.account_id] %}

      <a href="{{ url('game:heroes:show', hero.id) }}">{{hero.name}}</a> уровень {{hero.level}}

      {% if own_hero.id != hero.id %}
        {% if ACCEPTED_LEVEL_MIN <= hero.level <= ACCEPTED_LEVEL_MAX %}
        <a class="pgf-accept-battle pgf-forms-post-simple"
           href="{{url('game:pvp:accept-call', battle=battle.id)}}"
           data-action-type="redirect"
           data-redirect-url="{{url('game:pvp:')}}">принять вызов</a>
        {% else %}
        <i class="pgf-can-not-accept-call">вы не можете принять вызов</i>
        {% endif %}
      {% else %}
      <strong class="pgf-own-battle-message">ваш вызов</strong>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="pgf-no-calls-message">
  Сейчас ни один герой не ищет боя.
</p>
{% endif %}

</div>


{% endblock %}
