{% extends "pvp/base.html" %}

{% import 'heroes/hero_short.html' as hero_short_macros with context %}
{% import 'heroes/hero_equipment.html' as hero_equipment_macros with context %}
{% import 'game/macros.html' as game_macros with context %}
{% import 'pvp/pvp_info.html' as pvp_info_macros with context %}
{% import 'game/log.html' as log_macros with context %}

{% macro render_abilities(abilities) %}
<h4>Способности</h4>
<ul class="pvp-abilities-list unstyled">
  {% for ability in abilities %}
  <li rel="tooltip" title="{{ability.DESCRIPTION}}">
    {{ ability.NAME }} <span class="pull-right">{{ability.level}}</span>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{% block title %}Сражение | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}

<script src="{{ STATIC_CONTENT }}game/data/constants.js" type="text/javascript"></script>
<script src="{{ STATIC_CONTENT }}game/widgets.js" type="text/javascript"></script>
<script src="{{ STATIC_CONTENT }}game/map/map2.js" type="text/javascript"></script>
<script src="{{ STATIC_CONTENT }}game/map/sprites.js" type="text/javascript"></script>
<script src="{{ STATIC_CONTENT }}game/data/abilities.js" type="text/javascript"></script>

<script type="text/javascript">

var updater = undefined;
var widgets = {};

jQuery(document).ready(function(e){

    updater = new pgf.game.Updater({url: "{{ game_info_url() }}"});

    {% if settings.DEBUG %}
    {{ game_macros.game_debug_javascript() }}
    {% endif %}

    setTimeout(function RefreshData() {
        if (updater) {
            updater.Refresh(true);
        }
    }, 0);

    {% if game_settings.ENABLE_DATA_REFRECH %}
    updater.SetRefreshInterval( {{ game_settings.TURN_DELAY*1000 }}, true );
    {% endif %}

    widgets.placeAndTime = new pgf.game.widgets.Time('#time-block', updater, widgets, {} );

    jQuery(document).bind(pgf.game.events.DATA_REFRESHED, function(e, game_data){
        if (game_data.mode == "pve") {
            location.href = "{{ url('game:') }}";
        }
        jQuery(".pgf-new-messages-signalization").toggleClass("pgf-hidden", game_data.new_messages == 0);
        jQuery(".pgf-new-messages-number").text(game_data.new_messages);
    });

});

</script>
{% endblock %}

{% block debug_menu %}
{{ super() }}
<li><a href="#" class="pgf-refresh">refresh</a></li>
<li><a href="#" class="pgf-next-turn">next turn</a></li>
<li><a href="#" class="pgf-next-10-turns">10 turns</a></li>
<li><a href="#" class="pgf-next-100-turns">100 turns</a></li>
<li><a href="#" class="pgf-next-1000-turns">1000 turns</a></li>
<li><a href="#" class="pgf-next-10000-turns">10000 turns</a></li>
<li><a href="#" class="pgf-next-60000-turns">60000 turns</a></li>
{% endblock %}

{% block content %}

{{ game_macros.hero_wait_message() }}

{% if not own_hero.is_name_changed %}
<div class="alert alert-info pgf-change-name-warning pgf-game-data pgf-hidden">
  <strong>ВНИМАНИЕ!</strong> Вы не указали формы имени героя, из-за этого описание сражения может быть недостаточно информативным. Указать формы имени героя можно на его <a href="{{url('game:heroes:show', own_hero.id)}}">странице</a>.
</div>
{% endif %}

{% if not battle.calculate_rating %}
<div class="alert alert-info pgf-battle-not-in-rating pgf-game-data pgf-hidden">
  Этот бой не попадёт в статистику героя и не будет учитываться в рейтингах. О правилах проведения боёв между игроками можно узнать в разделе Путеводителя <a href="{{url('guide:pvp')}}">PvP</a>.
</div>
{% endif %}

<div class="row pgf-game-data pgf-hidden">
  <div class="span3">
    {{ hero_short_macros.hero_short("hero-short-pvp-account", false, true, master_account=resource.account, data_mode="pvp_account", clan=clan, no_clan_placement=clan or enemy_clan) }}
  </div>
  <div class="span6">
    {{ pvp_info_macros.pvp_info(say_form=say_form) }}
  </div>
  <div class="span3">
    {{ hero_short_macros.hero_short("hero-short-pvp-enemy", false, true, master_account=enemy_account, data_mode="pvp_enemy", clan=enemy_clan, no_clan_placement=clan or enemy_clan) }}
  </div>
</div>

<div class="row pgf-game-data pgf-hidden">
  <div class="span3">
    <div class="block">
      {{ hero_equipment_macros.hero_equipment("own-equipment", data_mode="pvp_account", EQUIPMENT_SLOT=EQUIPMENT_SLOT) }}
    </div>

    <div class="block">
      {{ render_abilities(own_abilities) }}
    </div>

  </div>
  <div class="span6">
    {{ log_macros.log(data_mode="pvp") }}
  </div>
  <div class="span3">
    <div class="block">
      {{ hero_equipment_macros.hero_equipment("enemy-equipment", data_mode="pvp_enemy", EQUIPMENT_SLOT=EQUIPMENT_SLOT) }}
    </div>

    <div class="block">
      {{ render_abilities(enemy_abilities) }}
    </div>

  </div>
</div>

{% endblock %}
