
@import "constants.less";

@side-column-width: 200px;
@center-column-width: @content-width - @side-column-width * 2 - 10;

.stats-bar {
    width: 100px;
    height: 5px;
    position: relative;
    background: #F0F0F0;
    border: 1px solid black;
    display: inline-block;

    .layer {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        height: 5px;
    }
    .layer-0 {
        background: #F0F0F0;
    }
    .layer-1 {
        background: #90FF90;
    }
}

.column {

    display: inline-block;
    vertical-align: top;
}

#left-column {
    width: @side-column-width;
}

#right-column {
    width: @side-column-width;
}

#center-column {
    width: @center-column-width;
}

#hero-base-block {

    .health-bar {
        .stats-bar {
                .layer-0 {
                    background: @background-color;
                }
                .layer-1 {
                    background: #ff0000;

                }
        }
    }

    .stats-left {
        width: 40px;
        margin-right: 40px;
        display: inline-block;
    }

    .stats-right {
        width: 80px;
        display: inline-block;
    }
    
    .record {
        margin-top: 5px;
        cursor: default;
        position: relative;

        .value {
            position: absolute;
            right: 0;
        }

        &:hover {
            background: @hover-color;
        }
    }
}

#hero-equipment-block {

    .record {
        margin-top: 5px;
        cursor: default;

        &:hover {
            background: @hover-color;
        }

        .name {
            margin-left: 0.25em;
        }
    }
}

#hero-bag-block {

    h4 {
        font-size: 11pt;
    }
    
    h5 {
        font-size: 10pt;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .record {

        cursor: default;

        &:hover {
            background: @hover-color;
        }

        .name {
            font-size: 9pt;
        }
    }
}

#world-place-time-block {

    font-size: 10pt;
    height: 34px;

    .position {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        padding-top: 4px;
        text-align: left;
        float: left;
    }

    .time {
        display: inline-block;
        float: right;

        .value {
            vertical-align: middle;
            display: inline-block;
            text-align: right;
        }
    
        .time-icon {
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url('/static/game/images/time.png') no-repeat;
            vertical-align: middle;

            &.sunrise {
                background-position-x: 0px;
                background-position-y: 0px;
            }

            &.sunset {
                background-position-x: 0px;
                background-position-y: -32px;
            }

            &.midnight {
                background-position-x: -32px;
                background-position-y: -32px;
            }

            &.noon {
                background-position-x: -32px;
                background-position-y: 0px;
            }
        }
    }    
}

#current-actions-block {
    
    font-size: 10pt;

    .current-action-block {

        display: inline-block;
        width: 200px;
        border-right: 3px @border-color solid;

        .action-description {

            padding-bottom: 0.25em;
            margin-bottom: 0.25em;

            h3 {
                font-size: 11pt;
            }

            .action-progress {
                .stats-bar {
                    width: 190px;
                    .layer-0 {
                        background: @background-color;
                    }
                    .layer-1 {
                        background: #00ff00;
                    }
                }
            }
        }

        .action-info {
            border-top: 3px @border-color solid;
        }
    }

    .current-quests-block {
        display: inline-block;
        vertical-align: top;
        width: @center-column-width - 200px - 30px;

        .quests-progress {
            display: inline-block;
            width: 32px;
            height: 32px;
            vertical-align: top;
        }
        
        .quests-line {
            display: inline-block;
            vertical-align: top;

            .quest-line-element {
                display: inline-block;
                margin-left: 3px;

                .quest-icon {
                    background: url('/static/game/images/quests.png') no-repeat;
                    display: inline-block;
                    width: 32px;
                    height: 32px;

                    &.help {
                        background-position-x: 0px;
                        background-position-y: 0px;
                    }

                    &.delivery {
                        background-position-x: -32px;
                        background-position-y: 0px;
                    }
                }
                
                .action-icon {
                    background: url('/static/game/images/actions.png') no-repeat;
                    display: inline-block;
                    width: 24px;
                    height: 24px;

                    &.move_to_destination {
                        background-position-x: 0px;
                        background-position-y: 0px;
                    }
                }
            }
        }

        .quest-choices {

            border-top: 3px @border-color solid;
            
        }
    }
}

#log-block {
    height: 3em;
}

#map-block {
    
    .map-canvas {
    }
}

#angel-block {

    .energy-bar {

        font-size: 10pt;

        .stats-bar {
            width: 100px;
            .layer-0 {
                background: @background-color;
            }
            .layer-1 {
                background: #0000ff;
            }
        }
    }
    
}

#abilities-block {

    .record {

        cursor: default;
        margin-bottom: 2px;

        &:hover {
            background: @hover-color;
        }

        &.cooldown {
            background: #A0C0E0;
        }
        &:hover.cooldown {
            background: #90B0D0;
        }

        .icon {
            display: inline-block;
            width: 32px;
            height: 32px;

            background: url('/static/game/images/abilities.png') no-repeat;
        }

        &.createhero .icon{
            background-position-x: 0px;
            background-position-y: 0px;
        }      
    }
}