
@import "reset.css";
@import "game.css";
@import "tooltips.css";

ol {
    list-style: decimal inside none;
}

ul {
    list-style: disc outside none;
}

table {
    border: 1px solid #0C0C0D;
    width: 100%;

    td {
        border: 1px solid #343840;
    }
}

#content {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}
