
.tooltip-wrapper {
    display: inline-block;
}

.card-tooltip {

    font-size: 10pt;
    text-align: left;

    .name {
        font-size: 12pt;
        text-align: center;
    }

    .description {
        margin-top: 0.5em;
    }

    .artistic {
        margin-top: 0.5em;
        font-style: italic;
    }
}