
<div class="place-info">
  <div class="pgf-dialog-title">{{ place.name }} ({{ place.size }})</div>

  <div class="description">
    <img src="{{ STATIC_URL }}tmp/city.png" />
    <p>Сдесь должно быть или не должно крутое или не очень описание этого замечательного/волшебного/ужасного важного/не важного места.</p>
  </div>

  <h2>Персонажи:</h2>

  <ul class="characters-list">
    {% for person in place.persons %}
    <li>
      
      <img src="{{ STATIC_URL }}tmp/profession.gif" />
      <div>
        {% if place.total_persons_power %}
        {% set power = (person.power/place.total_persons_power) %}
        {% else %}
        {% set power = 0 %}
        {% endif %}
        <h3>{{ person.race_verbose }} {{ person.type_verbose }}: {{ person.name }}</h3>
        <span>влиятельность</span>
        <div class="stats-bar power-bar">
          <div class="layer layer-0" style="width: {{ power*100 }}%;"></div>
        </div>
        <span class="pgf-power">{{ power|percents }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
