
<div class="modal hide place-description-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">
      <span class="badge">{{ place.size }}</span>
      <span>{{ place.name }}</span>

      {% if hero and hero.preferences.place_id == place.id %}
      <span class="badge badge-success">родной город</span>
      {% endif %}
    </h3>
  </div>

  <div class="modal-body">

    <div class="description">
      <img src="{{ STATIC_URL }}tmp/city.png"/>
      Здесь должно быть или не должно крутое или не очень описание этого замечательного/волшебного/ужасного важного/не важного места.
    </div>

    <h3>персонажи</h3>

    <ul class="unstyled">
      {% for person in place.persons %}
      <li class="person-record">

        <img src="{{ STATIC_URL }}tmp/profession.gif"/>

        {% if place.total_persons_power %}
        {% set power = (person.power/place.total_persons_power) %}
        {% else %}
        {% set power = 0 %}
        {% endif %}

        <h4>
          {{ person.name }}
          <small>{{ person.race_verbose }}-{{ person.type_verbose }}</small>
          {% if hero and hero.preferences.friend_id == person.id %}
          <span class="badge badge-success">соратник</span>
          {% endif %}
          {% if hero and hero.preferences.enemy_id == person.id %}
          <span class="badge badge-important">противник</span>
          {% endif %}
        </h4>
        <strong>влиятельность:</strong>
        <div class="progress progress-warning">
          <div class="bar pgf-health-percents" style="width: {{ power|percents }};"></div>
        </div>
        <span class="pgf-power">{{ power|percents }}</span>
      </li>
      {% endfor %}
    </ul>

  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Ok</a>
  </div>

</div>
