{% extends "places/base.html" %}
{% import 'places/macros.html' as places_macros with context %}

{% block title %} {{ place.name }} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Информация о городе «{{place.name}}»{% endblock %}

{% macro hero_record(hero) %}
  <td>
    {% if hero %}
      {{hero.gender_verbose}}-{{hero.race_verbose}}
      <a href="{{url('game:heroes:show', hero.id)}}">{{hero.name}}</a>
      {{ hero.level }} уровня,
      {% set owner = accounts[hero.account_id] %}
      покровитель:
      <a href="{{ url('accounts:show', owner.id) }}">{{owner.nick_verbose}}</a>
      {% if owner.clan %}
        <a href="{{url('accounts:clans:show', owner.clan.id)}}">[{{owner.clan.abbr}}]</a>
      {% endif %}
    {% endif %}
  </td>
{% endmacro %}


{% block places_content %}

<h3>{{place.name}} <small>подробная информация о населении</small></h3><br/>

<blockquote>
  {{place.description_html|safe}}
</blockquote>

{% if place and place.is_new %}
  <h4 class="pgf-new-place-message">Это город считается <a href="{{url('guide:cities')}}" target="_blank">новым</a> <small>до <span class="pgf-format-datetime" data-timestamp="{{ place.new_for|timestamp }}"></span></small></h4><br/>
{% endif %}

{% if place and place.is_frontier %}
  <h4 class="pgf-frontier-message">Город находится на <a href="{{url('guide:cities')}}" target="_blank">Фронтире</a></h4></br>
{% endif %}

<p>
  Размер города: {{place.size}}
</p>

{{ places_macros.place_demographics(place)}}

<p><a href="{{standy_statistics_place_url(place.id)}}">статистика от standy</a></p>

<h4>Подробная информация о советниках</h4>

<p>В списках отношений с героями указываются только герои, оказывающие влияние на город или его жителей.</p>

<div class="accordion" id="pgf-place-heroes-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-place-heroes-accordion" href="#pgf-place-{{place.id}}">
        <a href="#" style="color: #333333;">
          <strong>Герои, поселившиеся в городе</strong>
          всего: {{city_heroes|length}},
          бонусы влияния: {{place.power_positive|percents(1)}} и {{place.power_negative|percents(1)}}
        </a>
        {% if hero and hero.preferences.place and hero.preferences.place.id == place.id %}
        <span class="badge badge-success">родной город</span>
        {% endif %}
      </div>
    </div>
    <div id="pgf-place-{{place.id}}" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        {% if not city_heroes %}
        <p class="pgf-no-heroes-message">Ни один из активных героев не выбрал этот город родным</p>
        {% else %}

        <table class="table table-condensed">
          <tbody>
            {% for hero in city_heroes %}
            <tr>
              {{ hero_record(hero) }}
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% endif %}

      </div>
    </div>
  </div>


  {% for person in persons %}

  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-place-heroes-accordion" href="#pgf-person-{{person.id}}">
        <a href="#" style="color: #333333;">
          <strong>{{ person.name }}</strong>
          {{ person.race_verbose }}-{{ person.type.text }},
          {{person.mastery_verbose}},
          {% if place.total_persons_power %}
            {% set power = (person.power/place.total_persons_power) %}
          {% else %}
            {% set power = 0 %}
          {% endif %}
          влиятельность: {{ power|percents }},
          бонусы: {{person.power_positive|percents(1)}} и {{person.power_negative|percents(1)}}
          соратников/противников: {{persons_numbers[person.id][0]}}/{{persons_numbers[person.id][1]}}
        </a>
        {% if hero and hero.preferences.friend and hero.preferences.friend.id == person.id %}
        <span class="badge badge-success">соратник</span>
        {% endif %}

        {% if hero and hero.preferences.enemy and hero.preferences.enemy.id == person.id %}
        <span class="badge badge-important">противник</span>
        {% endif %}
      </div>
    </div>
    <div id="pgf-person-{{person.id}}" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">

        <p>Отношения с советниками</p>

        <table class="table table-condensed">
          <tbody>
            {% for connection_type, connection_person in persons_connections[person.id] %}
              <tr>
                <td>{{connection_type.text}}</td>
                <td>
                  <strong>{{connection_person.name}}</strong>
                  {{connection_person.race_verbose }}-{{ connection_person.type.text }},
                  {{connection_person.mastery_verbose}}
                  из города <a href="{{url('game:map:places:show', connection_person.place_id)}}" target="_blank">{{connection_person.place.name}}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if not persons_heroes[person.id] %}
          <p class="alert alert-info pgf-no-heroes-message">У этого жителя нет друзей или врагов среди активных героев</p>
        {% else %}

          <p>Отношения с героями</p>

          <table class="table table-condensed">
            <thead>
              <tr>
                <th width="50%">сортаники</th>
                <th>противники</th>
              </tr>
            </thead>
            <tbody>
              {% for friend, enemy in persons_heroes[person.id] %}
                <tr>
                  {{ hero_record(friend) }}
                  {{ hero_record(enemy) }}
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% endif %}

      </div>
    </div>
  </div>
{% endfor %}

</div>


{% endblock %}
