{% extends "friends/base.html" %}

{% import 'accounts/macros.html' as accounts_macros with context %}

{% block title %}Предложения дружбы | {{ super() }}{% endblock %}
{% block description %}Игроки, предложившие Вам дружить.{% endblock %}

{% block friends_content %}

<h2 style="margin-bottom: 0.5em;">Предложения дружбы</h2>

<ul class="nav nav-pills">
  <li><a href="{{ url('accounts:friends:') }}">список друзей</a></li>
  <li class="active">
    <a href="{{ url('accounts:friends:candidates') }}">
      предложения дружбы ({% if candidates %}{{candidates|length}}{% else %}нет{%endif %})
    </a>
  </li>
</ul>

{% if candidates %}

<table class="table">

  <thead>
    <tr>
      {{ accounts_macros.account_record_heading() }}
      <th>действия</th>
    </tr>
  </thead>

  <tbody>
    {% for account in candidates %}
    <tr class="pgf-account-record">
      {{ accounts_macros.account_record(account, heroes[account.id], clan=clans.get(account.clan_id)) }}
      <td>
        <a class="pgf-forms-post-simple" href="{{url('accounts:friends:accept', friend=account.id)}}">подтвердить</a> /
        <a class="pgf-forms-post-simple" href="{{url('accounts:friends:remove', friend=account.id)}}">отказать</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% else %}
<p class="alert alert-info pgf-no-candidates-message">
  Нет предложений.
</p>
{% endif %}

{% endblock %}
