{% extends "friends/base.html" %}

{% import 'accounts/macros.html' as accounts_macros with context %}
{% import 'friends/macros.html' as friends_macros with context %}

{% block head %}
{{ super() }}
{{friends_macros.messages_broadcast_script(uid='friends')}}
{% endblock %}

{% block title %}{{ super() }}{% endblock %}
{% block description %}Список Ваших друзей.{% endblock %}


{% block friends_content %}

<h2 style="margin-bottom: 0.5em;">Друзья</h2>

<ul class="nav nav-pills">
  <li class="active"><a href="{{ url('accounts:friends:') }}">список друзей</a></li>
  <li>
    <a href="{{ url('accounts:friends:candidates') }}">
      предложения дружбы ({% if candidates %}{{candidates|length}}{% else %}нет{%endif %})
    </a>
  </li>
</ul>

{% if friends %}

<button type="button" class="btn pgf-new-message-button disabled">отправить сообщение</button>

<table class="table">

  <thead>
    <tr>
      <th width="16px;"><input type="checkbox" class="pgf-friends-checkbox-all" value="all"></th>
      {{ accounts_macros.account_record_heading() }}
      <th>действия</th>
    </tr>
  </thead>

  <tbody>
    {% for account in friends %}
    <tr class="pgf-account-record">
      <td><input type="checkbox" class="pgf-friends-checkbox" value="{{account.id}}"></td>
      {{ accounts_macros.account_record(account, heroes[account.id], clan=clans.get(account.clan_id)) }}
      <td><a class="pgf-forms-post-simple" href="{{url('accounts:friends:remove', friend=account.id)}}">удалить</a></td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% else %}
<p class="alert alert-info pgf-no-friends-message">
  Вы ещё не выбрали себе друзей в игре. Предложить игроку дружить можно на его странице.
</p>
{% endif %}

{% endblock %}
