{% extends "companions/base.html" %}

{% block title %}Создание спутника | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Создание спутника.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newForm = new pgf.forms.Form(jQuery('#pgf-new-companion-form'),
                                     {OnSuccess: function(instance, data){location.href = data.data.next_url;}});
});

</script>

{% endblock %}

{% block companions_content %}

<h2>Создание спутника</h2>

{% include "companions/editor_help.html" %}

<form id="pgf-new-companion-form" class="companions-edit-form" method="post" action="{{ url('game:companions:create') }}">

  {{ form.errors_container }}

  {{ form.name.widget }}

  {{ form.max_health.widget }}

  {{ form.type.widget }}
  {{ form.dedication.widget }}
  {{ form.archetype.widget }}
  {{ form.mode.widget }}

  {{ form.abilities.widget }}

  {{ form.description.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Создать"/>
  </div>

</form>

{% endblock %}
