{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'companions/macros.html' as companions_macros with context %}

{% block title %}{{companion.name|up_first}} | Спутники | {{ super() }}{% endblock %}
{% block description %}Описание спутника {{companion.name|up_first}}{% endblock %}

{% block guide_content %}

<ul class="breadcrumb">
  <li><a href="{{url('guide:companions:')}}">Спутники</a><span class="divider">/</span></li>
  <li class="active">{{companion.name|up_first}}</li>

  {% if context.companions_can_moderate %}
    {# TODO #}
  {% endif %}

  {% if context.companions_can_moderate and companion.state.is_DISABLED %}
  <li class="pull-right pgf-enable-companion-button" style="margin-left: 1em;">
    <a class="pgf-forms-post-simple" href="{{url('game:companions:enable', companion.id)}}">в игру</a>
  </li>
  {% endif %}

  {% if context.companions_can_edit or context.companions_can_moderate  %}
  <li class="pull-right pgf-edit-companion-button"><a href="{{url('game:companions:edit', companion.id)}}">редактировать</a></li>
  {% endif %}

</ul>

{{ guide_macros.page_caption(companion.name|up_first, "Описание спутника") }}

{{ companions_macros.companion_info(companion) }}

{% if context.companions_can_edit or context.companions_can_moderate %}

<hr/>

<h3>Для разработчиков</h3>

  <h4>Редкость</h4>

  <table class="table table-condensed table-highlighting">
    <tbody>
      {% for text, points in companion.rarity_points() %}
      <tr>
        <td width="200px">{{text}}</td>
        <td>{{points}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td width="200px"><strong>всего</strong></td>
        <td><strong>{{companion.raw_rarity}}</strong></td>
      </tr>
    </tbody>
  </table>

  <h4>Количество обязательных фраз в игре</h4>

  <p>
    Спутника можно впускать в игру, когда для каждого типа фраз есть хотя бы одна внесённая в игру.
  </p>

<table class="table">
  <thead>
    <tr>
      <th>тип фразы</th>
      <th>количество фраз в игре</th>
    </tr>
  </thead>
  <tbody>
    {% for key, templates_count in ingame_companion_phrases%}
    <tr>
      <td><a href="{{url('linguistics:templates:', key=key.value, restriction=template_restriction.id)}}">{{key.text}}</a></td>
      <td>
        {% if templates_count == 0 %}<span style="color: red;">{% endif %}
        {{templates_count}}
        {% if templates_count == 0 %}</span>{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}
