
<li><strong>город:</strong> <a href="{{url('game:map:places:show', bill.data.place.id)}}">{{bill.data.place.name}}</a></li>
{% if bill.data.place_name_changed %}
<li><strong>название города во время создания закона:</strong> {{bill.data.old_name}}</li>
{% endif %}
<li><strong>тип города во время создания закона:</strong>
  {% if bill.data.old_modifier_name %}
  {{ bill.data.old_modifier_name }}
  {% else %}
  нет типа
  {% endif %}
</li>
<li><strong>новый тип города:</strong> {{ bill.data.modifier_name }}</li>
