
<ul class="unstyled" style="font-size: 14px;">
  <li><strong>Текущее название города</strong>: {{bill.data.place.name}}</li>
  {% if bill.data.place_name_changed %}
  <li><strong>Название города во время создания закона</strong>: {{bill.data.old_name}}</li>
  {% endif %}
  <li><strong>Тип города во время создания закона</strong>:
    {% if bill.data.old_modifier_name %}
    {{ bill.data.old_modifier_name }}
    {% else %}
    нет типа
    {% endif %}
  </li>
  <li><strong>Новый тип города</strong>: {{ bill.data.modifier_name }}</li>
</ul>
