<div class="easy-block">

  <h2>
    Влияние на политику
    <small><a href="{{url('game:politic-power:history', account=resource.hero.id)}}" target="_blank">история</a></small>
  </h2>

  <h3>Влиятельность</h3>

  <p>Бонус к приносимому героем влиянию.</p>

  <table class="table table-condensed table-striped table-bordered">
    <tbody>
      <tr>
        <th>параметр</th>
        <th>влияние</th>
      </tr>
      <tr><td>от могущества Хранителя</td><td>{{resource.hero.politics_power_might|percents(2)}}</td></tr>
      <tr><td>от остального (способностей, предпочтений, спутников, артефактов)</td><td>{{resource.hero.politics_power_modifier|percents(2)}}</td></tr>
      <tr><td>итого</td><td>{{resource.hero.politic_power_bonus()|percents(2)}}</td></tr>
  </table>

  <h3>Известность</h3>

  <p>Известность героя в городах Пандоры. Чем чаще герой помогает городу, тем больше его известность.</p>

  {% set popularity = hero_popularity(resource.hero.id) %}

  {% if popularity.has_popularity() %}
    <div class="pgf-scrollable" style="overflow-y: auto; max-height: {{1+27*(1+12)}}px;">

      <table class="table table-condensed table-striped table-bordered">
        <tbody>
          <tr>
            <th width="30px">№</th>
            <th >город</th>
            <th width="100px">известность</th>
          </tr>
          {% set places = value('the_tale.game.places.storage', 'places') %}
          {% for place_id, fame in popularity.places_rating() %}
            <tr>
              <td>{{loop.index}}</td>
              <td><a href="{{url('game:places:show', place_id)}}">{{places[place_id].name}}</a></td>
              <td>{{fame}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  {% else %}

    <p class="alert alert-info pgf-no-common-places-message">
      Герой ещё не помог ни одному городу.
    </p>
  {% endif %}

</div>
