{% import 'chronicle/macros.html' as chronicle_macros with context %}
{% import 'map/macros.html' as map_macros with context %}
{% import 'game/macros.html' as game_macros with context %}
{% import 'places/macros.html' as places_macros with context %}
{% import 'persons/macros.html' as persons_macros with context %}
{% import 'emissaries/macros.html' as emissaries_macros with context %}

<div class="modal hide place-description-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">
      {% if place %}
        <span style="vertical-align: middle;">
          {% if not place.modifier.is_NONE %}
            <span {%if not place.is_modifier_active()%}style="color: orange; cursor: default;" rel="tooltip" title="Город не соответствует требованиям специализации"{% endif %}>
              {{place.modifier.text}}
            </span>
            {% endif %}
        <a href="{{url('game:places:show', place.id)}}" target="_blank" style="vertical-align: middle;">{{ place.name }}</a>

        {% if hero and hero.preferences.place and hero.preferences.place.id == place.id %}<span class="badge badge-success">родной город</span>{% endif %}

        <small class="pull-right" style="margin-right: 1em;">квадрат {{x}}x{{y}}</small>

        <br/>
        <small>{{places_macros.place_description(place)}}</small>

        <br/>
        <small>{{places_macros.clan_region_description(clan_region)}}</small>

        {% if protector_candidates %}
        <br/>
        <small>{{places_macros.place_protector_candidates(protector_candidates)}}</small>
        {% endif %}

      </span>

      {% elif building %}
      <span>
        {{ building.name }}

        <small class="pull-right" style="margin-right: 1em;">квадрат {{x}}x{{y}}</small>
      </span>
      {% else %}
        {{terrain.text|up_first}}
        <small class="pull-right" style="margin-right: 1em;">квадрат {{x}}x{{y}}</small>
      {% endif %}
    </h3>
  </div>

  <div class="modal-body tabbable">

    {% if place and place.new_for > now() %}
      <h4 class="pgf-new-place-message">
        Это город считается <a href="{{url('guide:cities')}}" target="_blank">новым</a>
        <small>до <span class="pgf-format-datetime" data-timestamp="{{ place.new_for|timestamp }}"></span></small>
      </h4>
      <br/>
    {% endif %}

    <ul class="nav nav-tabs">
      {% if place %}
      <li><a href="#pgf-cell-description" class="pgf-cell-description-button" data-toggle="tab">Описание</a></li>
      <li><a href="#pgf-cell-persons" class="pgf-cell-persons-button" data-toggle="tab">Резиденты</a></li>
      <li><a href="#pgf-cell-place-parameters" class="pgf-cell-place-parameters-button" data-toggle="tab">Параметры</a></li>
      <li><a href="#pgf-cell-place-bills" class="pgf-cell-place-bills-button" data-toggle="tab">Записи</a></li>
      <li><a href="#pgf-cell-place-chronicle" class="pgf-cell-place-chronicle-button" data-toggle="tab">События</a></li>
      {% endif %}
      {% if building %}
      <li><a href="#pgf-cell-building" class="pgf-cell-building-button" data-toggle="tab">Строение</a></li>
      {% endif %}
      <li><a href="#pgf-cell-map" class="pgf-cell-map-button" data-toggle="tab">Карта</a></li>
    </ul>

    <div class="pgf-scrollable tab-content" style="max-height: 360px; overflow-y: auto;">

      {% if place %}
      <div class="tab-pane active description" id="pgf-cell-description">
        {% if place.description %}
          <blockquote>
            {{ place.description_html|safe }}
          </blockquote>
        {% else %}
        <p class="alert alert-info">У этого места пока нет описания</p>
        {% endif %}
      </div>

      <div class="tab-pane" id="pgf-cell-persons">

        <h3>Мастера</h3>

        <p><a href="{{url('guide:persons')}}" target="_blank">Мастера</a> — это <abbr rel="tooltip" title="неигровые персонажи">NPC</abbr>, обладающие большим влиянием в городе.</p>

        <table class="table table-condensed">
          <thead>
            <tr>
              <th></th>
              <th>влияние</th>
              <th width="60px">
                герои
                <i class="icon icon-info-sign"
                   rel="tooltip"
                   title="всего помогают / мешают"
                   style="vertical-align: middle;"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for person in place.persons_by_power %}
              <tr>
                <td>{{persons_macros.person_verbose(person, hero)}}</td>
                <td>{{persons_power_storage.total_power_fraction(person.id)|percents(2)}}</td>
                <td>
                  {{persons_inner_circles[person.id].total_positive_heroes_number}} /
                  {{persons_inner_circles[person.id].total_negative_heroes_number}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <h3>Эмиссары</h3>

        <p>
          <a href="{{url('guide:emissaries')}}" target="_blank">Эмиссары</a> — это представители <a href="{{url('guide:clans')}}">гильдий</a> в городах.
        </p>

        {% if emissaries %}
        {{emissaries_macros.emissary_list(emissaries, powers=emissaries_powers, clans=clans_infos, show_status=false, show_max_health=false, show_clan_name=false)}}
        {% else %}
        <p class="alert alert-info">
          В городе нет активных эмиссаров.
        </p>
        {% endif %}

      </div>

      <div class="tab-pane active description" id="pgf-cell-place-parameters">
        <p>
          Информация по актуальным параметрам города. Обновлена в <span class="pgf-format-time" data-timestamp="{{ place.updated_at|timestamp }}"></span>
        </p>

        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>оценка пути через город</th>
              <td>
                {% if path_modifier is not none %}
                {{ path_modifier|percents(2) }}
                {% else %}
                0%
                {% endif %}
              </td>
              <td>
                {% set path_description = "Модификатор оценки «сложности» отрезка пути, проходящего через этот город. Отрезок пути — кусок пути героя между двумя городами, на оценку его сложности влияют оба города. Чем меньше, тем легче герой воспринимает путь.<br/><strong>Этот модификатор действует только для ВАШЕГО героя.</strong>" %}
                {% if path_modifier_effects is not none %}
                <a href="javascript:void(0)"
                   class="info-link"
                   rel="tooltip"
                   title="{{map_macros.power_incoming_tooltip(path_description, path_modifier_effects, percents=true, reverse=true)}}">подробнее</a>
                {% else %}
                <a href="javascript:void(0)"
                   class="info-link"
                   rel="tooltip"
                   title="{{path_description}}">подробнее</a>
                {% endif %}
              </td>
            </tr>

            <tr>
              <th>герои (всего)</th>
              <td>{{place_inner_circle.total_positive_heroes_number}} / {{place_inner_circle.total_negative_heroes_number}}</td>
              <td>
                <a href="javascript:void(0)"
                   class="info-link"
                   rel="tooltip"
                   title="всего помогают / мешают">подробнее</a>
              </td>
            </tr>

            {{game_macros.attribute_record(place, 'size')}}
            {{game_macros.attribute_record(place, 'tax_size_border')}}
            {{game_macros.attribute_record(place, 'power_economic')}}
            {{game_macros.attribute_record(place, 'money_economic')}}
            {{game_macros.attribute_record(place, 'area')}}
            {{game_macros.attribute_record(place, 'goods', (' / %s' % c.PLACE_GOODS_TO_LEVEL))}}
            {{game_macros.attribute_record(place, 'stability')}}
            {{game_macros.attribute_record(place, 'production')}}
            {{game_macros.attribute_record(place, 'transport')}}
            {{game_macros.attribute_record(place, 'freedom')}}
            {{game_macros.attribute_record(place, 'safety')}}
            {{game_macros.attribute_record(place, 'culture')}}
            {{game_macros.attribute_record(place, 'tax')}}
          </tbody>
        </table>

      </div>

      <div class="tab-pane active description" id="pgf-cell-place-bills">
        <p>
          Список <strong>активных</strong> записей в Книге Судеб (действующих в текущий момент), связанных с городом.
        </p>

        {% if place_bills %}

          {% for bill in place_bills %}
            <table class="table table-striped table-condensed table-no-highlighting">
              <tbody>
                <tr>
                  <td><a target="_blank" href="{{url('game:bills:show', bill.id)}}">{{bill.caption}}</a></td>
                </tr>
                {% for property in bill.properties %}
                  <tr><td>{{property}}</td></tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}

        {% else %}
          <p class="alert alert-info">Нет активных записей в Книге Судеб.</p>
        {% endif %}
      </div>

      <div class="tab-pane active description" id="pgf-cell-place-chronicle">

        <p>
          Последние события, связаные с городом.
        </p>

        {{ chronicle_macros.records_list(place_chronicle) }}

        <p>
          <a class="btn btn-info" href="{{ url('game:chronicle:', place=place.id) }}">Все события</a>
        </p>

      </div>

      {% endif %}

      {% if building %}
      <div class="tab-pane active description" id="pgf-cell-building">
        <table class="table table-striped table-condensed table-bordered table-no-highlighting">
          <p>
            Строение значительно увеличивает получаемое Мастером влияние. Не забывайте о том, что на поддержку здания тратится производство города.
          </p>
          <tbody>
            <tr><th width="150px">строение</th><td>{{building.type.text}}</td></tr>
            <tr><th>название</th><td>{{building.name}}</td></tr>
            <tr>
              <th>город</th>
              <td>
                <a href="{{url('game:places:show', building.place.id)}}" target="_blank">{{building.place.name}}</a>
              </td>
            </tr>
            <tr>
              <th>владелец</th>
              <td>{{persons_macros.person_verbose(building.person, hero)}}</td>
            </tr>
            <tr><th>возведено</th><td>{{building.created_at_turn|verbose_game_date}}</td></tr>
            <tr>
              <th>поддержка</th>
              <td>
                {{ building.person.attrs.building_support_cost }}

                <i class="icon icon-info-sign"
                   style="vertical-align: middle;"
                   rel="tooltip"
                   title="На поддержку здания город направляет указанную часть своего производства"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}

      <div class="tab-pane" id="pgf-cell-map">
        <ul class="unstyled">
          <li>
            {{terrain.text}},
            {% if nearest_place_name %}
            окрестности {{nearest_place_name}}
            {% else %}
            дикие земли
            {% endif %}
          </li>
          <li>дует {{cell.wind_direction.text}} {{cell.wind_power.text}}</li>
          <li>вокруг {{cell.temperature.text}} и {{cell.wetness.text}}</li>
          <li>{{cell.transport(x, y).text}}</li>
          <li>{{cell.safety(x, y).text}}</li>
        </ul>

        <table class="table table-striped table-condensed table-bordered table-no-highlighting">
          <tbody>
            {% set cell = cells(x, y) %}
            <tr><th>биом</th><td>{{cell.terrain.text}}</td></tr>
            <tr>
              <th>транспорт</th>
              <td>
                <a href="javascript:void(0);"
                   class="info-link"
                   rel="tooltip"
                   title="{{map_macros.power_incoming_tooltip('Насколько быстро герои путешествуют по этой территории.', cell.transport_effects(), percents=true)}}">
                  {{cell.transport|percents(2)}}
                </a>
              </td>
            </tr>
            <tr>
              <th>безопасность</th>
              <td>
                <a href="javascript:void(0);"
                   class="info-link"
                   rel="tooltip"
                   title="{{map_macros.power_incoming_tooltip('Насколько безопасна эта территория (вероятность пройти по миру, не подвергнувшись нападению).', cell.safety_effects(), percents=true)}}">
                  {{cell.safety|percents(2)}}
                </a>
              </td>
            </tr>
            <tr>
              <th>сложность путешествия</th>
              <td>
                {% for risk in value('the_tale.game.heroes.relations').RISK_LEVEL.records %}
                <a href="javascript:void(0);"
                   class="info-link"
                   rel="tooltip"
                   title="Оценка сложности путешествия героем с уровнем риска «{{risk.text}}». Чем меньше, тем лучше.
                          <br/>
                          Обратите внимание: сравнивать имеет смысл только значения разных клеток для <strong>одинакового</strong> уровня риска.">
                  {{cell.travel_cost(risk.expected_battle_complexity)|round(2)}}
                </a>

                {% if not loop.last %}
                  /
                {% endif %}

                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>доминирующий город</th>
              <td>
                {% if cell.dominant_place_id is not none %}
                <a href="{{url('game:places:show', cell.dominant_place().id)}}"
                   target="_blank"
                   style="vertical-align: middle;">{{ cell.dominant_place().name }}</a>
                {% else %}
                —
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>ближайший город</th>
              <td>
                <a href="{{url('game:places:show', cell.nearest_place().id)}}"
                   target="_blank"
                   style="vertical-align: middle;">{{ cell.nearest_place().name }}</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Ok</a>
  </div>

</div>
