
{% macro render_map(height) %}

<script type="text/javascript">
jQuery(document).ready(function(e) {

    var tileset = pgf.game.constants.tilesets[pgf.base.settings.get("game_map_tileset", "main")];

    var spritesManager = new pgf.game.resources.ImageManager(tileset.sprites,
                                                             { staticUrl: "{{ STATIC_CONTENT }}",
                                                             });

    widgets.mapManager = new pgf.game.map.MapManager({RegionUrl:  function(version){return "{{ region_url() }}";}});

    widgets.map = new pgf.game.map.Map('#pgf-game-map',
                                       {spritesManager: spritesManager,
                                        tileSize: tileset.TILE_SIZE,
                                        canvasHeight: {{height}},
                                        widgets: widgets});

    jQuery('.pgf-center-on-hero').click(function(e){
        e.preventDefault();
        widgets.map.CenterOnHero();
    });

    jQuery('.pgf-center-on-place').click(function(e){
        e.preventDefault();
        widgets.map.CenterOnPlace(jQuery(e.currentTarget).data('place-id'));
    });

    jQuery('.pgf-change-tileset').click(function(e){
        e.preventDefault();
        pgf.base.settings.set("game_map_tileset", jQuery(e.currentTarget).data("tileset"));
        location.reload();
    });

    jQuery('.pgf-switch-hero-path-visualization').click(function(e){
        e.preventDefault();
        widgets.map.SwitchHeroPathVisualization();
    });
});
</script>

<div class="easy-block" id="pgf-map-block">
  <div class="map-commands">
    <a href="#"
       class="pgf-switch-hero-path-visualization"
       rel="tooltip"
       data-tooltip-placement="top"
       title="Переключить отображение пути героя">
      <i class="icon icon-road" style="vertical-align: middle;"></i></a>
    |
    <div class="dropdown" style="display: inline-block;">
      <a href="#"
         class="dropdown-toggle"
         data-toggle="dropdown"
         rel="tooltip"
         title="Изменить отображение карты"
         data-tooltip-placement="top">
        <i class="icon icon-picture" style="vertical-align: middle;"></i><b class="caret"></b>
      </a>
      <ul class="pgf-scrollable dropdown-menu" role="menu" style="max-height: 310px; overflow-y: auto;">
        <li><a href="#" class="pgf-change-tileset" data-tileset="main">обычная</a></li>
        <li><a href="#" class="pgf-change-tileset" data-tileset="alternative">альтернативная</a></li>
        <li><a href="#" class="pgf-change-tileset" data-tileset="alternative_2">альтернативная 2</a></li>
        <li><a href="#" class="pgf-change-tileset" data-tileset="alternative_3">альтернативная 3</a></li>
        <li><a href="#" class="pgf-change-tileset" data-tileset="winter">зимняя</a></li>
        <li><a href="#" class="pgf-change-tileset" data-tileset="large_pixel">крупный пиксель</a></li>
        <li><a href="#" class="pgf-change-tileset" data-tileset="cosmos">космос</a></li>
      </ul>
    </div>
    {% if resource.account.is_authenticated %}
    |
    <a href="#"
       class="pgf-center-on-hero"
       rel="tooltip"
       data-tooltip-placement="top"
       title="Найти героя">
      <i class="icon icon-search" style="vertical-align: middle;"></i>
    </a>
    {% endif %}
    |
    <div class="dropdown" style="display: inline-block;">
      <a href="#"
         class="dropdown-toggle"
         rel="tooltip"
         title="Найти город"
         data-tooltip-placement="top"
         data-toggle="dropdown">
        <i class="icon icon-home" style="vertical-align: middle;"></i><b class="caret"></b>
      </a>
      <ul class="pgf-scrollable dropdown-menu" role="menu" style="max-height: 310px; overflow-y: auto;">
        {% for place in all_places() %}
        <li><a href="#" class="pgf-center-on-place" data-place-id="{{place.id}}">{{place.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    |
    <a href="{{url('game:map:')}}"
       target="_blank"
       rel="tooltip"
       data-tooltip-placement="top"
       title="Открыть карту в новом окне">
      <i class="icon icon-globe" style="vertical-align: middle;"></i></a>
  </div>

  <div id="pgf-game-map">
    <div class="pgf-navigation-layer"></div>
    <canvas class="pgf-map-canvas"></canvas>
  </div>
</div>

{% endmacro %}
