.hero-statistics {
  cursor: default;
}
.hero-statistics .stat-record:hover {
  background-color: #e1e6e6;
}
.hero-statistics .stat-record .value {
  float: right;
}
#choose-ability-button {
  cursor: pointer;
}
.hero-ability-record {
  padding: 0.5em;
}
.hero-ability-record:hover {
  background-color: #e1e6e6;
}
.hero-ability-record .ability-name .ability-type {
  font-weight: normal;
  color: #999999;
}
.hero-ability-empty-record {
  color: #999999;
}
.hero-ability-empty-record:hover {
  background-color: #e1e6e6;
}
.hero-preferences-record {
  cursor: default;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.hero-preferences-record:hover {
  background-color: #e1e6e6;
}
.hero-habit-record {
  cursor: default;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.hero-habit-record:hover {
  background-color: #e1e6e6;
}
.hero-preference-choise {
  cursor: default;
}
.hero-preference-choise.choosen {
  background-color: #72C1E7 !important;
}
.hero-preference-choise.choosen:hover {
  background-color: #72C1E7 !important;
}
.hero-preference-choise.choosen .current-choice {
  color: black;
}
.hero-abilities-list {
  cursor: default;
}
.choose-hero-ability-dialog .hero-ability-record {
  cursor: pointer;
}
