.mobs-edit-form .terrain-and-abilities .terrain,
.mobs-edit-form .terrain-and-abilities .abilities {
  display: inline-block;
}
.mobs-edit-form .terrain-and-abilities .terrain select,
.mobs-edit-form .terrain-and-abilities .abilities select {
  height: 200px;
}
.mobs-edit-form .terrain-and-abilities .terrain select option,
.mobs-edit-form .terrain-and-abilities .abilities select option {
  color: #b44343;
}
.mobs-edit-form .features {
  display: inline-block;
}
.mobs-edit-form .features select {
  height: 200px;
}
.mobs-edit-form .features select option {
  color: #b44343;
}
.companions-edit-form .features {
  display: inline-block;
}
.companions-edit-form .features select {
  height: 200px;
}
.companions-edit-form .features select option {
  color: #b44343;
}
