{% extends "developers_info/base.html" %}


{% block developers_content %}

<h3>Общая статистика</h3>

<table class="table">
  <tr>
    <th>название</th>
    <th>значени</th>
    <th>примечания</th>
  </tr>
  <tr><th>всего попыток регистрации</th><td>{{registration_attemps_number}}</td><td></td></tr>
  <tr>
    <th>всего аккаунтов</th>
    <td>{{accounts_total}}</td>
    <td>
      {{accounts_total-accounts_registered}} незавершённых регистрации
      (если образовалось много незарегистрированных аккаунтов, их надо почистить)
    </td>
  </tr>
  <tr>
    <th>зарегистрированных</th>
    <td>{{accounts_registered}}</td>
    <td>
      {{(accounts_registered/registration_attemps_number)|percents}} от всех регистраций
    </td>
  </tr>
  <tr><th>боты</th><td>{{accounts_bots}}</td><td>боты для pvp и прочих вещей</td></tr>
  <tr><th>активных</th><td>{{accounts_active}}</td><td>{{(accounts_active|float/accounts_registered)|percents}} от зарегистрированых</td></tr>
  <tr>
    <th>премиум</th><td>{{accounts_premium}}</td>
    <td>
      {{(accounts_premium|float/accounts_registered)|percents}} от зарегистрированых
    </td>
  </tr>
  <tr>
    <th>и премиум и активные</th><td>{{accounts_active_and_premium}}</td>
    <td>
      {% if accounts_premium %}
      {{(accounts_active_and_premium|float/accounts_premium)|percents}} от премиумных
      {% endif %}

      {% if accounts_active %}
      {{(accounts_active_and_premium|float/accounts_active)|percents}} от активных
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>рефералов</th><td>{{accounts_referrals}}</td>
    <td>
      {{(accounts_referrals|float/accounts_registered)|percents}} от зарегистрированых
    </td>
  </tr>
  <tr>
    <th>и премиум и рефералы</th><td>{{accounts_referrals_and_premium}}</td>
    <td>
      {% if accounts_referrals %}
      {{(accounts_referrals_and_premium|float/accounts_referrals)|percents}} от премиумных
      {% endif %}
    </td>

  </tr>
</table>

<h3>Печеньки</h3>

<table class="table">
  <tr>
    <th>источник</th>
    <th>получено</th>
    <th>потрачено</th>
  </tr>

  {% for source_name, gold_data in gold.items() %}
  <tr>
    <td>{{source_name}}</td>
    <td>{{gold_data['received']}}</td>
    <td>{{gold_data['spent']}}</td>
  </tr>
  {% endfor %}

  <tr>
    <td>всего</td>
    <td>{{gold_total_received}}</td>
    <td>{{gold_total_spent}}</td>
  </tr>
</table>

<ul>
  <li>Итого печенек в игре: <strong>{{gold_in_game}}</strong></li>
  <li>Купленных печенек в игре: <strong>{{real_gold_in_game}}</strong></li>
</ul>

<h3>Статистика рефереров</h3>

<table class="table">
  <tr>
    <th>домент</th>
    <th>регистраций</th>
    <th>активных</th>
    <th>премиум</th>
    <th>активные и премиум</th>
    <th>всего печенек</th>
    <th>% печенек</th>
  </tr>

  {% for s in referers_statistics %}
  <tr>
    <td>{{s.domain}}</td>
    <td>{{s.count}}</td>
    <td>{{s.active_accounts}}</td>
    <td>{{s.premium_accounts}}</td>
    <td>{{s.active_and_premium}}</td>
    <td>{{s.premium_currency}}</td>
    <td>
      {% if real_gold_in_game %}
      {{(s.premium_currency / real_gold_in_game)|percents }}
      {% else %}
      0.00%
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>

<h3>Статистика платежей</h3>

<p class="alert alert-info">
  Учитываются все печеньки, в том числе и подаренные.
</p>

<p>
  всего операций: {{invoice_count}}
</p>

<table class="table">
  <tr>
    <th>тип платежа</th>
    <th>всего раз</th>
    <th>% раз</th>
    <th>всего печенек</th>
    <th>% печенек (от полученных)</th>
    <th>% печенек (от потраченных)</th>
  </tr>

  {% for s in invoice_statistics %}
  <tr>
    <td>{{s.operation}}</td>
    <td>{{s.count}}</td>
    <td>{{(s.count / invoice_count)|percents(2)}}</td>
    <td>{{s.premium_currency}}</td>
    <td>
      {% if gold_total_received %}
      {{(s.premium_currency / gold_total_received)|percents(2)}}
      {% else %}
      0.00%
      {% endif %}
    </td>
    <td>
      {% if gold_total_spent %}
      {{(s.premium_currency / gold_total_spent)|percents(2)}}
      {% else %}
      0.00%
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>

{% endblock %}
