{% extends "developers_info/base.html" %}

{% macro records_list_row(name, record_url, records_list) %}

<tr>
  <th>{{name}}</th>
  <td>
    {% if records_list %}
    {% for record in records_list %}
    <a href="{{url(record_url, record.id)}}">{{record.name}}</a>
    {% endfor %}
    {% else %}
    нет записей
    {% endif %}
  </td>
</tr>

{% endmacro %}

{% block title %}монстры и артефакты | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Информация о монстрах и артефактах для разработчиков{% endblock %}

{% block developers_content %}

<h3>Монстры с проблемыными артефактами</h3>

<table class="table">
  <tbody>
    {{records_list_row("без лута", "guide:mobs:show", mobs_without_loot)}}
    {{records_list_row("без артефактов", "guide:mobs:show", mobs_without_artifacts)}}
    {{records_list_row("без лута на 1-ом уровне", "guide:mobs:show", mobs_without_loot_on_first_level)}}
    {{records_list_row("без артефактов на 1-ом уровне", "guide:mobs:show", mobs_without_artifacts_on_first_level)}}
  </tbody>
</table>

<h3>Количество монстров по территориям</h3>

<table class="table">
  <thead>
    <th>территория</th>
    <th>всего</th>
    {% for level in territory_levels_checks %}
    <th>{{level}}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for territory_id, mobs_numbers in mobs_by_territory %}
    <tr>
      <td>{{territory_id}}</td>
      <td>{{mobs_numbers[-1]}}</td>
      {% for number in mobs_numbers %}
      <td>{{number}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Артефакты без монстров</h3>

<table class="table">
  <tbody>
    {{records_list_row("без монстра", "guide:artifacts:show", artifacts_without_mobs)}}
  </tbody>
</table>

{% endblock %}
