
{% extends "bills/base.html" %}

{% block title %}Редактирование законопроекта | Законопроекты | {{ super() }}{% endblock %}
{% block description %}Редактирование закона.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var editForm = new pgf.forms.Form(jQuery('#pgf-edit-bill-form'),
                                               {OnSuccess: function(instance, data){location.href = "{{ url('game:bills:show', bill.id) }}";}});
});

</script>

{% endblock %}

{% block bills_content %}

<h3>Редактирование законопроекта <small><a href="{{ url('game:bills:show', bill.id) }}">вернуться</a></small></h3>

<div class="alert alert-info">
  <strong>ВНИМАНИЕ!</strong> После редактирования будут сброшены результаты голосования.
</div>

<h3>{{ bill.data.CAPTION }}</h3>

<form id="pgf-edit-bill-form" method="post" action="{{ url('game:bills:update', bill.id) }}">

  {{ form.errors_container }}

  {{ form.caption.widget }}

  {% if bill.data.WITH_DURATION %}
  {{ form.duration.widget }}
  {% endif %}

  {% include bill.data.USER_FORM_TEMPLATE with context %}

  {{ form.rationale.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Сохранить"/>
  </div>

</form>

{% endblock %}
