
{% extends "bills/base.html" %}

{% block title %}Редактирование законопроекта | Законопроекты | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var editForm = new pgf.forms.Form(jQuery('#pgf-edit-bill-form'),
                                               {OnSuccess: function(instance, data){location.href = "{{ url('game:bills:show', bill.id) }}";}});

    pgf.base.AddPreview('#pgf-edit-bill-form', 'textarea', "{{ url('portal:preview') }}");
    pgf.base.InitBBFields();
});

</script>

{% endblock %}

{% block bills_content %}

<h2>Редактирование законопроекта</h2>

<div class="alert alert-info">
  <strong>ВНИМАНИЕ!</strong> После редактирования будут сброшены результаты голосования.
</div>

<h3>{{ bill.data.CAPTION }}</h3>

<form id="pgf-edit-bill-form" method="post" action="{{ url('game:bills:update', bill.id) }}">

  {{ form.errors_container }}

  {{ form.caption.widget }}

  {% include bill.data.USER_FORM_TEMPLATE with context %}

  <div class="pgf-edit-content">
    {{ form.rationale.widget }}
  </div>

  <div class="pgf-preview-content pgf-hidden">
  </div>

  <div class="widget">
    <input type="submit" value="Сохранить"/>
    <input type="button" class="pgf-preview-button" value="Предпросмотр"/>
    <input type="button" class="pgf-edit-button pgf-hidden" value="Редактировать"/>
  </div>

</form>

{% endblock %}
