{% extends "bills/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'bills/macros.html' as bills_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block bills_content %}

<p>
  <div class="btn-group" style="display: inline-block; vertical-align: middle;">
    <a class="btn btn-danger btn-primary dropdown-toggle" data-toggle="dropdown">
      Предложить закон <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for bill_id, bill_type in BILLS_BY_ID.items() %}
      <li><a href="{{ url('game:bills:new', bill_type=bill_id) }}">{{bill_type.CAPTION}}</a></li>
      {% endfor %}
    </ul>
  </div>

  Жизнью Пандоры управляют игроки. В этом разделе Вы можете напрямую принять участие в управлении миром, жизни его городов и персонажей.
</p>

<h2 style="margin-bottom: 0.5em;">Список законов</h2>

{{ list_filter_macros.html_filter(index_filter) }}

{% if bills %}

{{ base_macros.render_paginator(paginator) }}

<ul class="unstyled">
  {% for bill in bills %}
  <li style="margin-bottom: 1em;">
    {{ bills_macros.bill_record(bill, votes.get(bill.id)) }}
  </li>
  {% endfor %}
</ul>

{{ base_macros.render_paginator(paginator) }}

{% else %}
<span class="pgf-no-bills-message">Не найдено законопроектов, отвечающих условиям поиска</span>
{% endif %}

{% endblock %}
