
{% macro _voting_results(bill) %}

{% if bill.state._is_VOTING %}
{% set min_votes_percents = bills_settings.MIN_VOTES_PERCENT %}
{% else %}
{% set min_votes_percents = bill.min_votes_percents_required %}
{% endif %}

{% if bill.state._is_VOTING %}
<span class="pgf-bills-results-summary">
  проголосовало: {{bill.votes_for + bill.votes_against}} (необходимо {{ min_votes_percents|percents }} «за»),
  воздержалось: {{bill.votes_refrained}}
</span>
{% else %}
<span class="pgf-bills-results-detailed">
  «за» {{ bill.votes_for }},
  «против» {{ bill.votes_against }}
  (итого «за»: {{ bill.votes_for_percents|percents }} из {{min_votes_percents|percents}});
  «воздержалось» {{ bill.votes_refrained }}
</span>
{% endif %}
{% endmacro %}

{% macro bill_info(bill, vote=none) %}

<table class="table table-condensed" style="background-color: whiteSmoke;">

  <tbody>
    <tr>
      <th style="width: 150px;">автор</th>
      <td style="width: 150px;"><a href="{{ url('accounts:show', bill.owner.id) }}">{{ bill.owner.nick }}</a></td>
      <th style="width: 150px;">тип</th>
      <td>{{ bill.data.CAPTION }}</td>
    </tr>

    <tr>
      <th>обсуждение</th>
      <td><a href="{{ url('forum:threads:show', bill.forum_thread_id) }}">форум</a></td>

      <th>состояние</th>
      <td>
        {% if bill.state._is_VOTING %}
          голосование

          {%- if not bill.approved_by_moderator -%}
            (проверяется модератором)
          {%- endif -%}

          , осталось: {{ bill.time_before_voting_end|verbose_timedelta }}
        {% elif bill.state._is_ACCEPTED %}

          {% if bill.is_declined %}
            отменён законом <a target="_blank" href="{{url('game:bills:show', bill.declined_by.id)}}">«{{bill.declined_by.caption|capitalize}}»</a>
          {% else %}
            {% if not bill.duration._is_UNLIMITED %}
              {% if bill.ended_at is none %}
                Прекратит действовать через {{bill.time_before_end|verbose_timedelta}}
              {% else %}
                Прекратил действовать
              {% endif %}
            {% else %}
              принят <span class="pgf-format-datetime" data-timestamp="{{ bill.voting_end_at|timestamp }}"></span>
            {% endif %}

          {% endif %}

        {% elif bill.state._is_REJECTED %}
          отклонён <span class="pgf-format-datetime" data-timestamp="{{ bill.voting_end_at|timestamp }}"></span>
        {% elif bill.state._is_REMOVED %}
          удалён
        {% endif %}
      </td>
    </tr>

    <tr style="">
      <th>ваш голос</th>
      <td>
        {% if vote %}
        {% if vote.type._is_FOR %}
        <span class="label label-success pgf-voted-for-marker" style="cursor: default;" rel="tooltip" title="Вы поддержали закон">«за»</span>
        {% elif vote.type._is_AGAINST %}
        <span class="label label-important pgf-voted-against-marker" style="cursor: default;" rel="tooltip" title="Вы выступили против закона">«против»</span>
        {% else %}
        <span class="label label-info pgf-voted-refrained-marker" style="cursor: default;" rel="tooltip" title="Вы воздержались от голосования">«воздержался»</span>
        {% endif %}
        {% else %}
        {% if resource.can_vote and resource.hero is not none and bill.can_vote(resource.hero) %}
        —
        {% else %}
        <i class="icon-ban-circle"
           rel="tooltip"
           title="Вы не можете голосовать за этот закон, подробности смотрите на странице закона или в Путеводителе"></i>
        {% endif %}
        {% endif %}
      </td>
      <th>результаты</th>
      <td>{{ _voting_results(bill) }}</td>
    </tr>
  </tbody>
</table>

{% endmacro %}

{% macro bill_record(bill, vote=none) %}

<h4 style="margin-bottom: 0.5em; display: inline-block;"><a href="{{ url('game:bills:show', bill.id) }}">{{ bill.caption|capitalize }}</a></h4>

{{ bill_info(bill, vote) }}

{% endmacro %}
