
{% macro _voting_results(bill) %}

<span>«за» {{ bill.votes_for }}</span>,
<span>«против» {{ bill.votes_against }}</span>
<span>(итого {{ bill.votes_for_percents|percents }} «за»)</span>
{% endmacro %}

{% macro bill_info(bill, vote=none) %}

<table class="table table-condensed" style="background-color: whiteSmoke;">

  <tbody>
    <tr>
      <th style="width: 150px;">автор</th>
      <td style="width: 150px;"><a href="{{ url('accounts:show', bill.owner.id) }}">{{ bill.owner.nick }}</a></td>
      <th style="width: 150px;">тип</th>
      <td>{{ bill.data.CAPTION }}</td>
    </tr>

    <tr>
      <th>обновлён</th>
      <td><span class="pgf-format-datetime" data-timestamp="{{ bill.updated_at|timestamp }}"></span></td>
      <th>состояние</th>
      <td>
        {% if bill.state._is_VOTING %}
        голосование
        {% if bill.approved_by_moderator %}
        (проверено модератором)
        {% else %}
        (в очереди на проверку модератором)
        {% endif %}
        {% elif bill.state._is_ACCEPTED %} принят
        {% elif bill.state._is_REJECTED %}

        {% if bill.is_votes_barier_not_passed %}
        не набрано достаточно голосов

        {% elif bill.is_percents_barier_not_passed %}
        не набран необходимый процент поддержки

        {% endif %}

        {% elif bill.state._is_REMOVED %} удалён

        {% endif %}
      </td>
    </tr>

    <tr>
      <th>до конца голосования</th>
      <td>
        {% if bill.state._is_VOTING %}
        {{ bill.time_before_end_step|verbose_timedelta }}
        {% else %}
        —
        {% endif %}
      </td>
      <th>требования</th>

      {% if bill.state._is_VOTING %}
      {% set min_votes_percents = bills_settings.MIN_VOTES_PERCENT %}
      {% set min_votes_number = bills_settings.MIN_VOTES_NUMBER %}
      {% else %}
      {% set min_votes_percents = bill.min_votes_percents_required %}
      {% set min_votes_number = bill.min_votes_required %}
      {% endif %}

      <td>минимум голосов «за»: {{min_votes_number}}; больше {{min_votes_percents|percents}} голосов «за»</td>
    </tr>

    <tr style="">
      <th>обсуждение</th>
      <td><a href="{{ url('forum:threads:show', bill.forum_thread_id) }}">форум</a></td>
      <th>результаты</th>
      <td>{{ _voting_results(bill) }}</td>
    </tr>
  </tbody>
</table>

{% endmacro %}

{% macro bill_record(bill, vote=none) %}

<h4 style="margin-bottom: 0.5em; display: inline-block;"><a href="{{ url('game:bills:show', bill.id) }}">{{ bill.caption }}</a></h4>

{% if vote %}
{% if vote.value %}
<span class="label label-success" style="cursor: default;" rel="tooltip" title="Вы поддержали закон">«за»</span>
{% else %}
<span class="label label-important" style="cursor: default;" rel="tooltip" title="Вы выступили против закона">«против»</span>
{% endif %}
{% endif %}

{{ bill_info(bill, vote) }}

{% endmacro %}
