<ul>
  <li>Подробную информацию о функционировании системы политики Вы можете найти в соответствующем разделе Путеводителя: <a href="{{url('guide:politics')}}">«Политика»</a>.</li>
  <li>Старательно выбирайте название законопроекта, его обоснование и записи в летопись — это один из критериев, по которому другие игроки будут решать поддержать вашу инициативу или нет.</li>
  <li>Прежде чем создать законопроект, внимательно перечитайте его и проверьте на ошибки - при любом редактировании теряются все накопленные голоса.</li>
  <li>Помните, что у нас не допускаются оскорбления и ненормативная лексика.</li>
  <li><strong>Запрещены отсылки к реальной жизни.</strong> Включая упоминание исторических личностей, событий и прочего. За повторное нарушение этого правила — бан. Если сомневаетесь, спросите у администрации.</li>
  <li><strong>Законы «Запись в летописи о городе» и «Запись в летописи о советнике» обязательно должны иметь прикреплённый к ним фольклорный рассказ.</strong></li>
  <li>Будьте оригинальны!</li>
</ul>

<p>
  Требования к записям в летопись:
</p>

<ul>
  <li>запись должна быть исполнена максимально грамотно;</li>
  <li>запись должна описывать <strong>произошедшее</strong> событие (относиться к прошедшему времени);</li>
  <li>запись должна быть исполнена в стиле, близком к официально-деловому;</li>
  <li>запись должна полностью описывать событие, его причины и следствия — так, как еслибы она была первой записью в летописи;</li>
  <li>в записях допустимо упоминание любых игровых сущностей, включая гильдии, героев и Хранителей.</li>
</ul>
