{% extends "bills/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'bills/macros.html' as bills_macros with context %}
{% import 'forum/thread_page.html' as thread_page with context %}

{% block title %} {{ bill.caption }} | {{ super() }}{% endblock %}


{% block bills_content %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url('game:bills:') }}">Политика</a><span class="divider">/</span>
  </li>
  <li class="active">{{ bill.caption }}</li>
</ul>

{{ bills_macros.bill_info(bill, vote) }}

<div class="pagination">
  <ul>
    <li>
      {{ base_macros.addthis_short("Закон «%s»" % bill.caption, bill.rationale_html|safe, url=full_url('http', 'game:bills:show', bill.id)) }}
    </li>

    {% if bill.state._is_VOTING %}

      {% if resource.account == bill.owner %}
        <li><a class="" style="margin-bottom: 1em; display: inline-block;" href="{{ url('game:bills:edit', bill.id) }}">редактировать</a></li>
      {% endif %}

      {% if resource.can_moderate_bill() %}
        <li><a class="" style="margin-bottom: 1em; display: inline-block;" href="{{ url('game:bills:moderate', bill.id) }}">администрировать</a></li>
      {% endif %}

    {% endif %}
  </ul>
</div>


{% if vote is none %}

{% if not resource.account.is_authenticated() %}

<p class="alert alert-info pgf-unlogined-message">
  Вам необходимо <a href="{{login_url(resource.request.get_full_path())}}">войти</a> или <a href="{{ url('accounts:registration:fast') }}" class="pgf-fast-registration attention-link">создать героя</a>, чтобы иметь возможность голосовать.
</p>

{% elif not resource.can_vote %}

<p class="alert alert-info pgf-can-not-participate-in-politics">
  Голосовать могут только подписчики, оформить подписку можно на странице <a href="{{url('accounts:payments:shop')}}">магазина</a>.
</p>

{% elif not can_vote %}

<div class="alert alert-info pgf-can-not-vote-message">
  <p>
    Вы не можете участвовать в голосовании по этому закону. Возможные причины:
  </p>

  <ul>
    <li>Закон касается городов, которым вы не помогаете.</li>
  </ul>
</div>

{% else %}

{% if bill.state._is_VOTING %}
<div class="well pgf-voting-block">
  <h3>Идёт голосование</h3>

  <ul>
    <li>Вы не сможете изменить своё решение, будьте аккуратны в выборе!</li>
    <li>Отдав свой голос, пригласите своих друзей сделать то же самое.</li>
    <li>Помните, закон будет принят только если количество проголосовавших «за» превысит как процентный барьер, так и количественный.</li>
  </ul>

  голосовать
  <a class="btn btn-success pgf-forms-post-simple" href="{{ url('game:bills:vote', bill.id) }}?type={{VOTE_TYPE.FOR.value}}">«за»</a>
  <a class="btn btn-danger pgf-forms-post-simple" href="{{ url('game:bills:vote', bill.id) }}?type={{VOTE_TYPE.AGAINST.value}}">«против»</a>
  <a class="btn btn-info pgf-forms-post-simple" href="{{ url('game:bills:vote', bill.id) }}?type={{VOTE_TYPE.REFRAINED.value}}">«воздержаться»</a>

</div>
{% endif %}

{% endif %}

{% endif %}

<h3 style="margin-bottom: 0.5em;">{{ bill.data.CAPTION }}</h3>

<ul style="font-size: 14px;" class="unstyled">
  {% if not bill.duration._is_UNLIMITED %}
  <li class="pgf-duration-info"><strong>Время действия:</strong> {{ bill.duration.text }}</li>
  {% endif %}

  {% include bill.data.SHOW_TEMPLATE with context %}
</ul>

<h3>Обоснование</h3>

<p>
  {{ bill.rationale_html|safe }}
</p>

{{ thread_page.thread_page(thread_data) }}

{% endblock %}
