{% extends "bills/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'bills/macros.html' as bills_macros with context %}

{% block title %} {{ bill.caption }} | {{ super() }}{% endblock %}


{% block bills_content %}

<div class="bills-page-title">
  {{ base_macros.addthis(title="Закон «%s»" % bill.caption, description=bill.rationale_html|safe) }}
  <h2 style="display: inline-block;">{{ bill.caption }}</h2>
</div>

{{ bills_macros.bill_info(bill) }}

{% if bill.state.is_voting %}

{% if resource.user == bill.owner %}
<a class="" style="margin-bottom: 1em; display: inline-block;" href="{{ url('game:bills:edit', bill.id) }}">редактировать</a>
{% endif %}

{% if resource.can_moderate_bill(bill) %}
<a class="" style="margin-bottom: 1em; display: inline-block;" href="{{ url('game:bills:moderate', bill.id) }}">администрировать</a>
{% endif %}

{% endif %}

{% if vote is not none %}

<div class="test-already-voted-block">

  {% if vote.value %}
  <h3 class="alert alert-success">Вы поддержали закон</h3>
  {% else %}
  <h3 class="alert alert-error">Вы выступили против закона</h3>
  {% endif %}
</div>

{% else %}

{% if bill.state.is_voting %}
<div class="well test-voting-block">
  <h3>Идёт голосование</h3>

  <ul>
    <li>Вы не сможете изменить своё решение, будьте аккуратны в выборе!</li>
    <li>Отдав свой голос, пригласите своих друзей сделать то же самое.</li>
    <li>Помните, закон будет принят только если количество проголосовавших «за» превысит как процентный барьер так и количественный.</li>
  </ul>

  голосовать
  <a class="btn btn-success pgf-forms-post-simple" href="{{ url('game:bills:vote', bill.id) }}?value=for">«за»</a>
  <a class="btn btn-danger pgf-forms-post-simple" href="{{ url('game:bills:vote', bill.id) }}?value=against">«против»</a>

</div>
{% endif %}

{% endif %}

<h3 style="margin-bottom: 0.5em;">{{ bill.data.CAPTION }}</h3>

{% include bill.data.SHOW_TEMPLATE with context %}

<h3>Обоснование</h3>

<p>
  {{ bill.rationale_html|safe }}
</p>


{% endblock %}
