
@import "constants.less";


.forum-table {

   .updated-at {
      width: 10em;
   }

   .posts-count {
      width: 5em;
   }

   .threads-count {
      width: 5em;
   }

   .author {
      width: 10em;
   }

   .last-poster {
      width: 10em;
   }

   .thread-page-links {
      color: #4A516B;
   }

   .subscription {
      width: 10em;
   }
}

.post {

   .head {

      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin-bottom:0.5em;
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      background-color: #f9f9f9;

      div {
         display: inline-block;
         padding-left: 0.5em;
         padding-right: 0.5em;
      }

      .index {
         width: 3em;
      }

      .author {
      }

      .change-post {
         float: right;
      }

      .delete-post {
         float: right;
      }

      .created-at {
         float: right;
         text-align: right;
      }

      .post-removed-message {
         color: @attention-text-color;
      }
   }

   .body {
      padding: 0.5em;
      margin-bottom: 1em;
   }
}

.new-post-form, .change-post-form {

   margin-top: 1em;

}
