
@import "constants.less";


.forum-table {

   .updated-at {
      width: 10em;
   }

   .posts-count {
      width: 5em;
   }

   .threads-count {
      width: 5em;
   }

   .author {
      width: 10em;
   }

   .last-poster {
      width: 10em;
   }
}

.post-table {

   .index {
      width: 3em;
   }

   .delete-post {
      width: 5em;
   }

   .created-at {
      width: 15em;
   }

}

.new-post-form {

   margin-top: 1em;

}