
@import "constants.less";

@second-row-height: 400px;

.second-row {

   .block {
      min-height: @second-row-height;
   }
}

#hero-base-block {

   .hero-level {
      &:hover {
         background-color: #BBB;
      }
   }

   .free-destiny-points {
      &:hover {
         background-color: @badge-hover-color;
      }
   }

   .record-with-progress {
      margin: 6px 0;
      position: relative;
      padding-left: 20px;
      padding-right: 5.3em;

      &:hover {
         background-color: @hover-color;
      }

      img {
         position: absolute;
         left: 0px;
      }

      .progress {
         display: inline-block;
         width: 100%;
         margin-top: 0;
         margin-bottom: 0;
      }
      .text-values {
         font-size: 11px;
         position: absolute;
         right: 0px;
         top: 0px;
      }
   }

   .attribute-record {
      display: inline-block;
      width: 49%;

      &:hover {
         background-color: @hover-color;
      }

      img {
         vertical-align: middle;
      }

      .value {
         vertical-align: middle;
      }
   }
}

#hero-equipment-block {

   .equip-record {
      margin-top: 5px;
      cursor: default;

      &:hover {
         background-color: @hover-color;
      }

      .name {
         font-size: 10pt;
         margin-left: 0.25em;
      }

      .power-container {
         float: right;

         .power {

         }
      }
   }
}

#equipment-tabs {
   a {
      padding-right: 5px;
      padding-left: 5px;
   }
}

#hero-bag-block {

   .bag-record {
      margin-top: 5px;
      cursor: default;

      &:hover {
         background-color: @hover-color;
      }

      i {
         vertical-align: middle;
      }

      .name {
         font-size: 10pt;
         margin-left: 0.25em;
         vertical-align: middle;
      }

      .power-container {
         vertical-align: middle;
      }
   }
}

.quest-icon {
   width: 64px;
   height: 64px;
   float: left;
   margin-right: 5px;
   margin-bottom: 0;

   &.help {
      background: url('../game/images/quests.png') no-repeat scroll 0 0 transparent;
   }

   &.delivery {
      background: url('../game/images/quests.png') no-repeat scroll -64px 0 transparent;
   }

   &.spying {
      background: url('../game/images/quests.png') no-repeat scroll -128px 0 transparent;
   }

   &.notmywork {
      background: url('../game/images/quests.png') no-repeat scroll -192px 0 transparent;
   }

   &.caravan {
      background: url('../game/images/quests.png') no-repeat scroll -256px 0 transparent;
   }

   &.no-quest {
      background: url('../game/images/quests.png') no-repeat scroll -320px 0 transparent;
   }

   &.hunt {
      background: url('../game/images/quests.png') no-repeat scroll -384px 0 transparent;
   }

   &.hometown {
      background: url('../game/images/quests.png') no-repeat scroll -448px 0 transparent;
   }

   &.searchsmith {
      background: url('../game/images/quests.png') no-repeat scroll -512px 0 transparent;
   }

   &.interfereenemy {
      background: url('../game/images/quests.png') no-repeat scroll -576px 0 transparent;
   }

   &.helpfriend {
      background: url('../game/images/quests.png') no-repeat scroll -640px 0 transparent;
   }
}

.quest-record {
   min-height: 64px;
   cursor: default;

   &:hover {
      background-color: @hover-color;
   }

   .quest-body {
      padding-left: 70px;
   }

   .choices {
      margin-top: 0.5em;
      margin-bottom: 1em;

      .choices-container {
         color: @disabled-text-color;
      }
   }

   .actors-container {
      margin: 0;
   }
}

.choice-record {
   &.disabled {

      .choice-link {
         color: @disabled-text-color;
         margin-left: 1em;
      }

      .character-warning {
         display: inline;
      }

   }

   .character-warning {
      display: none;
   }
}

.log-block {
   overflow-y: scroll;
   overflow-x: hidden;
   height: @second-row-height;
}

.log-record {
   margin: 0.75em 0;
   cursor: default;

   &:hover {
      background-color: @hover-color;
   }

   padding-left: 3.5em;

   .time {
      margin-left: -3.3em;
      display: inline;
   }

   .message {
      /* margin-left: 3.5em; */
      /* margin-left: 0.5em; */
      display: inline;
      padding-left: 0.5em;
   }
}

.diary-record {
   margin: 0.75em 0;
   cursor: default;

   &:hover {
      background-color: @hover-color;
   }

   .datetime {
      font-weight: bold;
   }

   .message {
      margin-left: 1em;
   }
}

#pgf-map-block {

   position: relative;

   .map-commands {
      position: absolute;
      right: -1px;
      top: 0;
      z-index: 1001;
      background-color: @background-color;
      /* margin: 2px; */

      border: 1px solid @border-color;
      border-bottom-left-radius: 8px;
      padding: 0.25em;

      margin-right: 0.75em;
      margin-top: 0.75em;
   }
}

.place-description-dialog {

   cursor: default;

   background-color: @background-color !important;

   .dialog-title span {
      vertical-align: middle;
   }

   .description {
      min-height: 70px;

      img {
         float: left;
      }
   }

   .person-record {
      min-height: 40px;
      margin-top: 0.5em;
      cursor: default;

      &:hover {
         background-color: @hover-color;
      }

      img {
         float: left;
         margin: 4px;
      }

      .progress {
         width: 100px;
         display: inline-block;
         margin: 0;
         vertical-align: middle;
         margin-bottom: 1px;
      }
   }

}

#abilities-block {
   text-align: center;
   font-size: 14pt;

   .wait, .no-energy {
      color: @disabled-text-color;
      text-decoration: none;
   }

   .icon-tint {
      display: none;
   }

   .no-energy .icon-tint {
      display: inline-block;
      vertical-align: middle;
   }

   .spinner {
      display: inline-block;
      vertical-align: middle;
      margin: 5px;
      left: 0 !important;
      top: 0 !important;
   }

}
