
@import "constants.less";

@import "game.css";
@import "hero_page.css";
@import "forum.css";
@import "news.css";

@footer-height: 125px;
@header-height: 50px;

html {
   height: 100%;
}

body {
   padding-top: @header-height;
   height: 100%;

   #main-container {
      height: 100%;
      min-height: 100%;
      height: auto;

      #content {
         padding-bottom: @footer-height;
      }
   }

   div.block, li.block {
      background-color: @background-color;
      border: 1px solid @border-color;
      border-radius: 8px;
      padding: 0.75em;
      margin-top: 0;
      margin-bottom: 10px;
   }

   hr {
      border-top-color: @border-color;
      margin: 0;
   }

   .progress {
      border: 1px solid @progress-border-color;
      height: 8px;
   }

   .nav-tabs > li > a, .nav-pills > li > a {
      padding-right: 10px;
      padding-left: 10px;
   }

   footer {
      clear: both;
      position: relative;
      z-index: 10;
      height: @footer-height;
      margin-top: -3em;
      border-top: 1px solid @border-color;
      padding: 1em;
   }

   .dl-record {
      margin-bottom: 0.5em;
   }
}

#time-block {
   cursor: default;
}

.anchor {
   position:relative;
   top: -@header-height - 20px;
}

.popover {
   z-index: 30000000 !important;
}

.modal-backdrop {
   opacity: 0.5 !important;

   &.wait-backdrop {
      z-index:10000
   }
}

.pagination {
   margin-top: 0 !important;
   margin-bottom: 2px !important;

   a {
      padding: 0 5px !important;
      line-height: 24px !important;
   }
}

.wait-indicator-backdrop {

   position: fixed;
   z-index: 100010;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;

   background-color: transparent;

   .wait-indicator {
      background-color: white;
      margin-top: 300px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      height: 32px;
      width: 32px;
   }
}