
@import "constants.less";

.newspaper-column-header {
   margin-bottom: 0.5em;
}

.newspaper-link-list {
   margin-bottom: 0.5em;
}

.newspaper-link-time {
   font-size: 8pt;
   color: #999;
}

.newspaper-forum-user {
   font-size: 8pt;
   color: #999;
}