
{% macro main_menu_item(type, url, name, submenus=[]) -%}

  <li class="{% if type == SECTION %}active{% endif %} {% if submenus %}dropdown{% endif %}">
    {% if url is none %}
      <a href="#" class="disabled">{{ name|safe }}</a>
    {% else %}
    <a href="{{ url }}" {% if submenus %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
      {{ name|safe }} {% if submenus %}<b class="caret"></b>{% endif %}
    </a>
    {% endif %}

    {% if submenus %}
    <ul class="dropdown-menu pgf-scrollable"
        style="max-height: 475px; overflow-y: auto;">
        {% for sub_link, sub_name in submenus %}

          {% if sub_link == '-' %}
            {{ sub_name|safe }}
          {% else %}
            {{ main_menu_item("", sub_link, sub_name) }}
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </li>

  {%- endmacro %}


{% macro main_menu_search() -%}

<li class="{% if 'search' == SECTION %}active{% endif %}">
  <a href="{{url('portal:search')}}"
     rel="tooltip"
     title="Поиск">
    <i class="navbar-element icon-search icon-white" style="vertical-align: middle;"></i>
  </a>
</li>

{%- endmacro %}


{% macro main_menu_chat() -%}

<li class="{% if 'chat' == SECTION %}active{% endif %}">
  <a href="{{url('portal:chat')}}"
     rel="tooltip"
     title="Чат / Discord">
    <img src="{{STATIC_CONTENT}}images/discord.svg"
         class="navbar-element"
         style="width: 24px; margin-top: -2px; vertical-align: top;"/>
    Чат
  </a>
</li>

{%- endmacro %}


{% macro render_paginator(paginator) %}

<div class="pagination pagination-right">
  <ul>
      {% for page_number in paginator.pages_numbers %}
      {% if page_number is none %}
      <li class="active"><a href="#">…</a></li>
      {% elif page_number == paginator.current_page_number %}
      <li class="active"><a href="">{{ page_number+1 }}</a></li>
      {% else %}
      <li><a href="{{ paginator.url_builder(page=page_number+1) }}">{{ page_number+1 }}</a></li>
      {% endif %}
      {% endfor %}
  </ul>
</div>

{% endmacro %}


{% macro registration_required_message(text) %}
<p class="alert alert-info pgf-unlogined-message">
  Вам необходимо <a href="{{login_page_url(resource.request.get_full_path())}}" style="font-weight: bold;">войти</a> или <a href="{{ url('accounts:registration:create-hero') }}" class="attention-link" style="font-weight: bold;">создать героя</a>, чтобы {{text}}.
</p>
{% endmacro %}


{% macro magnet(meta_object) %}
<i class="icon icon-magnet"
   style="vertical-align: middle;"
   rel="tooltip"
   title="уникальный идентификатор объекта: {{meta_object.uid}}"></i>
{% endmacro %}
