{% extends "companions/base.html" %}

{% block title %}Редкатирование спутника «{{companion.name}}» | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Редкатирование спутника {{companion.name}}.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var editForm = pgf.forms.Form(jQuery('#pgf-edit-companion-form'),
                                     {OnSuccess: function(instance, data){location.href = data.data.next_url;}});
});

</script>

{% endblock %}

{% block companions_content %}

<h2>Редактирование спутника</h2>

{% include "companions/editor_help.html" %}

<form id="pgf-edit-companion-form" class="companions-edit-form" method="post" action="{{ url('game:companions:update', companion.id) }}">

  {{ form.errors_container }}

  {{ form.name.widget }}

  {{ form.max_health.widget }}

  {{ form.type.widget }}
  {{ form.dedication.widget }}
  {{ form.archetype.widget }}
  {{ form.mode.widget }}

  {{ form.intellect_level.widget }}

  {{ form.communication_verbal.widget }}
  {{ form.communication_gestures.widget }}
  {{ form.communication_telepathic.widget }}

  {{ form.abilities.widget }}

  {{ form.structure.widget }}

  <div class="features">
    {{ form.features.widget }}
  </div>

  {{ form.movement.widget }}
  {{ form.body.widget }}
  {{ form.size.widget }}
  {{ form.weapon_1.widget }}
  {{ form.material_1.widget }}
  {{ form.power_type_1.widget }}
  {{ form.weapon_2.widget }}
  {{ form.material_2.widget }}
  {{ form.power_type_2.widget }}
  {{ form.weapon_3.widget }}
  {{ form.material_3.widget }}
  {{ form.power_type_3.widget }}

  {{ form.description.widget }}

  <div class="widget">
    <input type="submit" accesskey="s" class="btn" value="Сохранить"/>
  </div>

</form>

{% endblock %}
