{% extends "guide/base.html" %}
{% import 'guide/macros.html' as guide_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}Спутники | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание всех спутников, которые могут присоединиться к герою в его путешествиях.{% endblock %}

{% block guide_content %}

{{ guide_macros.page_caption("Спутники", "Описание всех спутников, которые могут присоединиться к герою в его путешествиях.") }}

<p>
  По трактам Пандоры путешествуют не только герои. На них можно встретить множество обычных (и необычных) странников. Они преследуют разные цели, но всем ясно одно — рядом с героем безопаснее, или веселее, или полезнее. Поэтому со временем у каждого героя появляется свой спутник, будь то дворовый пёс, странствующий сказитель, наёмник, учёный или даже сама Костлявая.
</p>

<p>
  Получить спутника герой может, если его Хранитель использует соответствующую карту судьбы. Если у героя уже был спутник, тот уйдёт по своим делам и больше не вернётся. Также, со временем, герой сам может найти себе спутника со способностью «временный» или «нелюдимый».
</p>

<p>
  Каждый спутник обладает несколькими отличительными параметрами.
</p>

<p>
  Тип спутника указывает на его природу и то, какие способности героя будут на него действовать.
</p>

<p>
  Редкость определяет вероятность получить карту судьбы, дающую спутника.
</p>

<p>
  Здоровье — если оно упадёт до нуля, то спутник умрёт. Спутники — не герои, они не обладают бессмертием и способностью к регенерации, поэтому здоровье самостоятельно восстанавливать не могут. Все спутники периодически защищают героя от ударов монстров, спутник теряет здоровье, когда у него не получается защитить героя.
</p>

<p>
  За раненым спутником необходим уход, поэтому герой будет делать остановки, чтобы помочь подопечному. Чем сильнее ранен спутник, тем дольше они длятся. Уход за спутником восстанавливает тому часть здоровья. Помощь герою во время такой остановки лечит спутника. Некоторые спутники имеют собственные черты характера (они указаны в особенностях спутника), когда Вы помогаете такому спутнику, черты героя становятся ближе к чертам спутника.
</p>

<p>
  Слаженность — то же, что и уровень для героя — показывает насколько хорошо умеют действовать совместно герой и спутник. Чем слаженнее команда, тем чаще спутник защищает героя в бою и тем больше «открывается» особенностей спутника. Спутник получает опыт слаженности после выполнения задания вместе с героем (каждый раз одинаковое количество опыта).
</p>

<p>
  Самоотверженность определяет как часто спутник готов вступаться за своего героя. Типы самоотверженности (по возрастанию):
  {% for dedication in DEDICATION.records %}
  {{dedication.text}}{%- if not loop.last -%},{% endif %}
  {% endfor %}
</p>

<p>
  Архетип описывает тип урона, наносимого спутником (важен только для боевых спутников).
</p>

<p>
  Особенности — самое важное отличие спутников между собой. Часть особенностей активна сразу, часть — открывается по мере роста слаженности. Есть несколько типов особенностей:
</p>

<ul>
  {% for metatype in METATYPE.records %}
    <li>{{metatype.text}} — {{metatype.description}};</li>
  {% endfor %}
</ul>

<div class="accordion" id="pgf-companion-effects-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-companion-effects-accordion" href="#pgf-effects">
        Список особенностей спутников
      </a>
    </div>
    <div id="pgf-effects" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>название</th>
              {% if context.companions_can_edit or context.companions_can_moderate %}
                <th>дельта редкости</th>
              {% endif %}
              <th>тип</th>
              <th>описание</th>
            </tr>
          </thead>
          <tbody>
            {% for ability in ABILITIES.records|sort(attribute="text") %}
              <tr>
                <td>{{ability.text}}</td>
                {% if context.companions_can_edit or context.companions_can_moderate %}
                  <td>{{ability.rarity_delta}}</td>
                {% endif %}
                <td>{{ability.effect.TYPE.metatype.text}}</td>
                <td>{{ability.description}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>


      </div>
    </div>
  </div>

</div>


{% if context.companions_can_edit %}
<a class="btn btn-danger pgf-create-companion-button" href="{{url('game:companions:new')}}">создать спутника</a>
{% endif %}

{{ list_filter_macros.html_filter(index_filter) }}

{% if companions %}

<table class="table table-condensed">
  <thead>
    <tr>
      <th width="10px"></th>
      <th>название</th>
      <th>тип</th>
      <th>самоотверженность</th>
      <th>здоровье</th>
      <th>способности</th>
    </tr>
  </thead>
  <tbody>
    {% for companion in companions %}
    <tr>
      <td>
        <div class="{{companion.rarity.name|lower}}-card-bg"
             style="height: 10px; width: 10px; margin-top: 5px; cursor: pointer;"
             rel="tooltip"
             title="{{companion.rarity.text}}"></div>
      </td>

      <td><a href="{{url('guide:companions:show', companion.id)}}">{{companion.name}}</a></td>
      <td>{{companion.type.text}}</td>
      <td>{{companion.dedication.text}}</td>
      <td>{{companion.max_health}}</td>
      <td>
        <a class="info-link"
           href="#"
           onclick="return false;"
           rel="tooltip"
           title="<ul class='unstyled' style='text-align: left;'>
                  {%- for coherence, ability in companion.abilities.all_abilities -%}
                  {% if coherence %}
                  <li>слаженность {{coherence}}: {{ability.text}}</li>
                  {% else %}
                  <li>{{ability.text}}</li>
                  {% endif %}
                  {%- endfor -%}
                  </ul>">
          способности
        </a>
      </td>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p class="pgf-no-companions-message alert alert-info">Не найдено спутников, отвечающих условиям поиска.</p>
{% endif %}

{% endblock %}
