{% extends "accounts/base.html" %}

{% import 'accounts/macros.html' as accounts_macros with context %}

{% block title %}Рынок | {{settings.PAGE_TITLE}}{% endblock %}

{% set paystation_version = 3 if context.account.is_developer else value("the_tale.finances.shop.conf", "settings").XSOLLA_PAY_STATION_VERSION %}

{% block head %}
{{ super() }}

{% if context.xsolla_enabled %}
{% if paystation_version == 3 %}
{% set xsolla_script_version = shop_settings().XSOLLA_EMBED_SCRIPT_VERSION %}
<script src="https://cdn.xsolla.net/embed/paystation/{{xsolla_script_version}}/widget.min.js"></script>
<script>
    XPayStationWidget.init({
        access_token: '{{xsolla_access_token(context.account)}}',
        sandbox: {{shop_settings().XSOLLA_SANDBOX|json}},
        lightbox: {
            width: {{shop_settings().XSOLLA_DIALOG_WIDTH}},
            height: {{shop_settings().XSOLLA_DIALOG_HEIGHT}}
        }
    });
</script>
{% else %}
<script id="xsolla-paystation-lightbox" type="text/javascript" src="https://secure.xsolla.com/partners/embed/lightbox.js"></script>
{% endif %}
{% endif %}

<script type="text/javascript">

jQuery(document).ready(function(e){

    jQuery('.pgf-subscription-info').click(function(e){
        pgf.ui.dialog.Create({fromSelector: jQuery('.pgf-subscription-info-dialog')});
    });
});

</script>

{% endblock %}


{% macro group_record(subscriptions) %}
<table width="100%">
  <tbody>
    <tr>
      <td width="20%" style="text-align: center;">

        <div class="quest-icon question" style="float: none; margin: auto;"></div>
        <h4>Подписка</h4>
        <a class="btn btn-info pgf-subscription-info"
           rel="tooltip"
           style="display: inline-block;"
           title="О преимуществах подписки"
           href="#">
          Подробнее
        </a>
      </td>

      {% if not context.account.is_premium_infinit %}
      {% for purchase in subscriptions %}
      {% set is_purchasable = purchase.is_purchasable(resource.account, hero) %}
      <td width="20%" style="text-align: center;">

        {% if purchase.uid == 'subscription-15' %}{% set icon_style = 'no-quest' %}{% endif %}
        {% if purchase.uid == 'subscription-30' %}{% set icon_style = 'help_friend' %}{% endif %}
        {% if purchase.uid == 'subscription-90' %}{% set icon_style = 'help' %}{% endif %}
        {% if purchase.uid == 'subscription-infinit' %}{% set icon_style = 'hometown' %}{% endif %}
        <div class="quest-icon {{icon_style}}" style="float: none; margin: auto;"></div>
        <h4>{{purchase.name}}</h4>
        <a class="btn pgf-forms-post-simple {% if purchase.cost > account.bank_account.amount or not is_purchasable %}disabled pgf-disabled{% else %}btn-success{% endif %}"
           data-confirmation="Вы уверены, что хотите купить <strong>«{{purchase.full_name}}»</strong>, потратив {{purchase.cost}} печенек?"
           data-success-message="Поздравляем с покупкой! <strong>(«{{purchase.full_name}}»)</strong>"
           rel="tooltip"
           style="display: inline-block;"
           {% if not is_purchasable %}
             title="Вы уже приобрели этот предмет или получили его во время игры"
             href="#"
           {% elif purchase.cost > account.bank_account.amount %}
             title="Не хватает печенек"
             href="#"
           {% else %}
             title="Купить подписку"
             href="{{url('shop:buy', purchase=purchase.uid)}}"
           {% endif %}>
          <span style="font-size: 14pt; vertical-align: middle;">{{ purchase.cost }}</span>
          <img src="{{ STATIC_CONTENT }}images/cookies.png" style="vertical-align: middle; display: inline-block;"></img>
        </a>
      </td>
      {% endfor %}
      {% else %}
      <td width="80%"></td>
      {% endif %}
    </tr>
  </tbody>
</table>

{% endmacro %}


{% block accounts_content %}

<div class="pgf-hidden pgf-subscription-info-dialog">
  <div class="modal hide">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 class="pgf-dialog-title dialog-title">О подписке</h3>
    </div>

    <div class="modal-body">

      <p>
        Подписка открывает доступ к самым интересным механикам игры, влияющим на окружающий мир. Эти механики закрыты для обычных игроков, чтобы предотвратить злоупотребление ими с помощью ботоводства.
      </p>

      <p>
        В благодарность за помощь игре подписчики получают бонусы, облегчающие жизнь подопечных героев.
      </p>

      <h3>Преимущества</h3>

      {% include "guide/subscription_bonuses.html"%}

    </div>
  </div>
</div>

{% if page_type == 'shop' %}

{% if payment_successed %}
<p class="alert alert-success pgf-successed-payment-message">
  Спасибо! Ваши печеньки уже начислены.
</p>
{% endif %}

{% if payment_failed %}
<p class="alert alert-danger pgf-failed-payment-message">
  При обработке вашего платежа произошла ошибка.<br/>

  {% set xsolla_support = value("the_tale.finances.shop.conf", "settings").XSOLLA_SUPPORT %}

  Пожалуйста, обратитесь в поддержку Xsolla <a href="{{xsolla_support}}">{{xsolla_support}}</a> или в поддержку нашей игры: <a href="mailto:{{ settings.EMAIL_SUPPORT }}">{{ settings.EMAIL_SUPPORT_SHORT }}</a>.
</p>
{% endif %}

{% endif %}

<h2>
  Магазин
  <small>
    <div style="vertical-align: top; display: inline-block;">
      {% if account.is_premium %}
        <a href="{{url('guide:account-types')}}" class="label label-success">
           {% if context.account.is_premium_infinit %}
             вечная подписка
           {% else %}
             подписка до <span class="updated-at pgf-format-datetime" data-timestamp="{{ context.account.premium_end_at|timestamp }}"></span>
           {% endif %}
        </a>
      {% else %}
        <a href="{{url('guide:account-types')}}" class="label label-info">базовый аккаунт</a>
      {% endif %}
    </div>

    <span style="color: black;">у Вас есть</span> <span class="pgf-account-balance">{{ context.account.bank_account.amount }}</span>
    <img src="{{ STATIC_CONTENT }}images/cookies.png" style="vertical-align: middle;" rel="title" title="печеньки"></img>

    {% if context.xsolla_enabled %}

    {% if paystation_version == 3 %}

    <a data-xpaystation-widget-open
       style="vertical-align: middle; font-size: 25pt; line-height: 18px; color: red; font-weight: bold; text-decoration: none;"
       href="#"
       rel="tooltip"
       title="Приобрести ещё!"
       class="pgf-xsolla-dialog-link">+</a>

    {% else %}

    <a style="vertical-align: middle; font-size: 25pt; line-height: 18px; color: green; font-weight: bold; text-decoration: none;"
       href="#"
       id="paystation-link"
       rel="tooltip"
       title="Приобрести ещё!"
       onclick="XPSLightBox.open('{{xsolla_paystaion_widget_link(context.account)|safe}}', {{shop_settings().XSOLLA_DIALOG_WIDTH}}, {{shop_settings().XSOLLA_DIALOG_HEIGHT}}); return false;"
       class="pgf-xsolla-dialog-link">+</a>

    {% endif %}

    {% endif %}

  </small>
</h2>

<div>{{ group_record(SUBSCRIPTIONS) }}</div>

<br/>

{% set statistics = market_statistics() %}

<h2>
  Рынок
  <small>
    за месяц
    выставлено {{statistics['sell_lots_placed']}},
    куплено {{statistics['sell_lots_closed']}},
    оборот {{statistics['turnover']}} <img src="//static.the-tale.org/static/231/images/cookies.png" style="vertical-align: middle;">
  </small>
</h2>

<ul class="nav nav-pills">
  <li {% if page_type == 'shop' %}class="active"{% endif %}><a href="{{ url('shop:') }}">Товары</a></li>
  <li {% if page_type == 'market-history' %}class="active"{% endif %}><a href="{{url('shop:market-history')}}">История рынка</a></li>
  <li {% if page_type == 'shop-history' %}class="active"{% endif %}><a href="{{ url('shop:history') }}">История ваших операций</a></li>
</ul>


{% block payments_content %}
{% endblock %}

{% endblock %}
