
<p style="margin-top: -1em;">
  {% if hero.preferences.equipment_slot %}
  Предпочитаемая героем экипировка: <strong>{{hero.preferences.equipment_slot.text}}</strong>.
  {% else %}
  <strong>Сейчас герой не выказывает предпочтения какой-либо экипировке.</strong>
  {% endif %}
</p>

<hr style="margin-bottom: 1em;"/>

<p>
  Мага всегда можно узнать по колпаку, охотника по его луку, воина по кольчуге — встречают всех по одежке. Вы можете выбрать тип экипировки, за состоянием которой ваш герой будет следить в первую очередь, и при возможности стараться улучшить его качество.
</p>
