

<p style="margin-top: -1em;">
  {% if hero.preferences.mob %}
  Любимая добыча героя: <strong>{{hero.preferences.mob.name}}</strong>.
  {% else %}
  <strong>Сейчас у героя нет любимой добычи.</strong>
  {% endif %}
</p>

<hr style="margin-bottom: 1em;"/>

<p>
  Мир Пандоры полон враждебных существ, в любой момент готовых напасть на неосторожного путника. Неприязнь, жажда наживы, боевые трофеи или может быть месть — что бы не руководило его поступками, но ваш герой считает это существо наиболее неприятным из всех них, и подлежащим истреблению.
</p>

<p>
  Благодаря обширным познаниям о выбранном существе, герой чаще получает добычу после победы над ним.
</p>
