{% import 'chronicle/macros.html' as chronicle_macros with context %}

<div class="modal hide place-description-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">
      {% if place %}
      <span class="badge">{{ place.size }}</span>
      <span>
        {% if place.modifier %}{{ place.modifier.NAME }}{% endif %}
        {{ place.name }}
      </span>

      {% if hero and hero.preferences.place_id == place.id %}
      <span class="badge badge-success">родной город</span>
      {% endif %}

      {% elif building %}
      <span>
        {{ building.type.text }} (владелец: {{building.person.name}})
      </span>
      {% else %}
      Квадрат {{x}}x{{y}}
      {% endif %}
    </h3>
  </div>

  <div class="modal-body">

    <ul class="nav nav-tabs">
      {% if place %}
      <li><a href="#pgf-cell-description" class="pgf-cell-description-button" data-toggle="tab">Описание</a></li>
      <li><a href="#pgf-cell-persons" class="pgf-cell-persons-button" data-toggle="tab">Персонажи</a></li>
      <li><a href="#pgf-cell-place-modifiers" class="pgf-cell-place-modifiers-button" data-toggle="tab">Специализация</a></li>
      <li><a href="#pgf-cell-place-chronicle" class="pgf-cell-place-chronicle-button" data-toggle="tab">События</a></li>
      {% endif %}
      {% if building %}
      <li><a href="#pgf-cell-building" class="pgf-cell-building-button" data-toggle="tab">Строение</a></li>
      {% endif %}
      <li><a href="#pgf-cell-map" class="pgf-cell-map-button" data-toggle="tab">Карта</a></li>
      {% if resource.account.is_authenticated() and resource.account.is_staff %}
      <li><a href="#pgf-cell-debug" class="pgf-cell-debug-button" data-toggle="tab">Отладка</a></li>
      {% endif %}
    </ul>

    <div class="tab-content" style="max-height: 350px; overflow-y: auto;">
      {% if place %}
      <div class="tab-pane active description" id="pgf-cell-description">
        {% if place.description %}
        {{ place.description_html|safe }}
        {% else %}
        У этого места пока нет описания
        {% endif %}
      </div>

      <div class="tab-pane" id="pgf-cell-persons">
        <ul class="unstyled">
          <li class="data-updated-time">время обновления статистики:
            {% set game_time = place.updated_at_game_time %}
            <span class="pgf-game-date">{{ game_time.verbose_date}}</span>
            <span class="pgf-game-time">{{ game_time.verbose_time }}</span>
          </li>
          <li>основное население: {{dominant_race}}</li>
          <li>прописано героев: {{place.heroes_number}}</li>
          <li><a href="{{url('game:map:places:show', place.id)}}" target="_blank">подробнее</a></li>
        </ul>

        <h3>персонажи</h3>

        <ul class="unstyled">
          {% for person in place.persons %}
          <li class="person-record">

            <table class="person-table table table-striped table-condensed table-no-highlighting">
              <tbody>
                <tr>
                  <td rowspan="2"
                      class="profession-icon-container"
                      rel="tooltil"
                      title="{{ person.type.text }}">
                    <i class="profession-icon {{person.type.name.lower()}}"></i>
                  </td>

                  <th>
                    {{ person.name }}
                    <small>{{ person.gender_verbose }}-{{ person.race_verbose }}</small>

                    {% if person.time_before_unfreeze.total_seconds() > 0 %}
                    <i class="icon-time pgf-time-before-unfreeze"
                       style="vertical-align: middle;"
                       rel="tooltip"
                       title="Персонаж недавно поселился в городе и может его покинуть только через {{person.time_before_unfreeze|verbose_timedelta}}"></i>
                    {% endif %}

                    {% if person.has_building %}
                    <i class="icon-home"
                       rel="tooltip"
                       title="Персонаж является владельцем строения в окрестностях города"></i>
                    {% endif %}

                    {% if hero and hero.preferences.friend_id == person.id %}
                    <span class="badge badge-success">соратник</span>
                    {% endif %}

                    {% if hero and hero.preferences.enemy_id == person.id %}
                    <span class="badge badge-important">противник</span>
                    {% endif %}
                  </th>
                  <th width="100px">влиятельность</th>
                  <td width="100px">
                    {% if place.total_persons_power %}
                    {% set power = (person.power/place.total_persons_power) %}
                    {% else %}
                    {% set power = 0 %}
                    {% endif %}
                    {{ power|percents }}
                  </td>
                </tr>

                <tr>
                  <td>
                    соратников/противников: {{person.friends_number}}/{{person.enemies_number}}
                  </td>
                  <th width="100px">мастерство</th>
                  <td width="100px">{{person.mastery_verbose}}</td>
                </tr>
              </tbody>

            </table>

          </li>
          {% endfor %}
        </ul>

      </div>

      <div class="tab-pane active description" id="pgf-cell-place-modifiers">

        <p>
          В этом разделе отображается насколько город продвинулся на пути к каждой из специализаций.
          Чтобы можно было изменить специализацию города, необходимо довести её развитие до {{c.PLACE_TYPE_NECESSARY_BORDER}}.
          Если город уже имеет специализацию и её развитие опустится ниже {{c.PLACE_TYPE_ENOUGH_BORDER}}, то город перестанет быть специализированным.
        </p>

        <table class="table table-striped table-condensed table-no-highlighting">
          <tr>
            <th>специализация</th>
            <th>развитие</th>
            <th>информация</th>
          </tr>
          {% for modifier in place_modifiers %}
          <tr>
            <th>
              {% if place.modifier == modifier %}
              <i class="icon-star pgf-current-modifier-marker" style="vertical-align: middle;" rel="tooltip" title="текущий тип города"></i>
              {% endif %}
              {{modifier.NAME}}
            </th>
            <td>{{modifier.power|round(2)}}</td>
            <td>
              <a href="javascript: return;" class="info-link" rel="tooltip"
                 title="<p style='text-align: left;'><i>{{modifier.DESCRIPTION}}</i></p>
                        <ul class='unstyled' style='text-align: left; width: 300px;'>
                        {% for effect_source, name, power in modifier.power_effects %}
                        <li>{{name}} <span class='pull-right'
                                           style='margin-right: 5em; color:{%if power>1%}Chartreuse{%elif power<-1%}red{%else%}yellow{%endif%};'>{{power|round(2)}}</span>
                        </li>
                        {% endfor %}
                        <hr style='margin-right: 5em;'/>
                        <li>размер города <span class='pull-right' style='margin-right: 5em;'>x {{modifier.size_modifier|round(2)}}</span></li>
                        </ul>"
                 >
                подробнее
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="tab-pane active description" id="pgf-cell-place-chronicle">

        <p>
          Последние события, связаные с городом.
        </p>

        <table class="table">
          <thead>
            <tr>
              <th>дата</th>
              <th>событие</th>
            </tr>
          </thead>
          <tbody>
            {% for record in chronicle_records %}
            {{ chronicle_macros.chronicle_record(record) }}
            {% endfor %}
          </tbody>
        </table>

      </div>

      {% endif %}

      {% if building %}
      <div class="tab-pane active description" id="pgf-cell-building">
        <table class="table table-striped table-condensed table-bordered table-no-highlighting">
          <p>
            Строение увеличивает мастерство персонажа, а также получаемое им влияние. Не забывайте о том, что строение необходимо ремонтировать, иначе оно разрушится и персонаж потеряет преимущества, которые давала ему постройка.
          </p>
          <tbody>
            <tr><th width="200px">строение</th><td>{{building.type.text}}</td></tr>
            <tr><th width="200px">город</th><td>{{building.place.name}}</td></tr>
            <tr><th width="200px">владелец</th><td>{{building.person.name}} {{ building.person.race_verbose }}-{{ building.person.type.text }}</td></tr>
            <tr>
              <th width="200px">целостность</th>
              <td>
                <span class="pgf-building-integrity"
                      data-building-integrity="{{building.integrity}}">
                  {{building.integrity|percents}}
                </span>
              </td>
            </tr>
            <tr><th width="200px">скорость износа</th><td>-{{building.amortization_in_day|percents}} в день</td></tr>
            <tr>
              <th width="200px">рабочих для ремонта</th>
              <td>
                <span class="pgf-building-workers"
                      data-building-workers="{{building.workers_to_full_repairing}}">
                  {{building.workers_to_full_repairing}}
                </span>

                <a href="#"
                   class="angel-ability pgf-ability-buildingrepair pgf-hidden"
                   data-building-id="{{building.id}}"
                   data-building-repair-delta="{{building.repair_delta}}">
                  <i class="icon-tint" rel="tooltip" title="недостаточно энергии"></i>
                  <i class="icon-ban-circle" rel="tooltip" title="Починка зданий разрешена только обладателям подписки"></i>
                  вызвать рабочего
                </a> (+{{building.repair_delta|percents(points=2)}} за рабочего)
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}


      <div class="tab-pane" id="pgf-cell-map">
        <ul class="unstyled">
          <li>{{terrain}}, окрестности {{nearest_place_name}}</li>
          <li>дует {{cell.wind_direction.text}} {{cell.wind_power.text}}</li>
          <li>вокруг {{cell.temperature.text}} и {{cell.wetness.text}}</li>
        </ul>
      </div>

      {% if resource.account.is_authenticated() and resource.account.is_staff %}
      <div class="tab-pane" id="pgf-cell-debug">
      </div>
      {% endif %}
    </div>

  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Ok</a>
  </div>

</div>
