{% import 'chronicle/macros.html' as chronicle_macros with context %}
{% import 'map/macros.html' as map_macros with context %}
{% import 'places/macros.html' as places_macros with context %}
{% import 'persons/macros.html' as persons_macros with context %}

<div class="modal hide place-description-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">
      {% if place %}
        <span style="vertical-align: middle;">
          {% if not place.modifier.is_NONE %}
            <span {%if not place.is_modifier_active()%}style="color: orange; cursor: default;" rel="tooltip" title="Город не соответствует требованиям специализации"{% endif %}>
              {{place.modifier.text}}
            </span>
          {% endif %}
        <a href="{{url('game:places:show', place.id)}}" target="_blank" style="vertical-align: middle;">{{ place.name }}</a>

        {% if hero and hero.preferences.place and hero.preferences.place.id == place.id %}<span class="badge badge-success">родной город</span>{% endif %}

        <br/>
        <small>
          Земля {{place.race.utg_name_form.word.forms[7]}},
          {{place.habit_honor.interval.place_text}},
          {{place.habit_peacefulness.interval.place_text}}
          {%- if place.is_frontier -%}, <a href="{{url('guide:cities')}}" target="_blank">Фронтир</a>{% endif %}
        </small>

      </span>

      {% elif building %}
      <span>
        {{ building.name }}
      </span>
      {% else %}
      Квадрат {{x}}x{{y}}
      {% endif %}
    </h3>
  </div>

  <div class="modal-body tabbable">

    {% if place and place.new_for > now() %}
      <h4 class="pgf-new-place-message">
        Это город считается <a href="{{url('guide:cities')}}" target="_blank">новым</a>
        <small>до <span class="pgf-format-datetime" data-timestamp="{{ place.new_for|timestamp }}"></span></small>
      </h4>
      <br/>
    {% endif %}

    <ul class="nav nav-tabs">
      {% if place %}
      <li><a href="#pgf-cell-description" class="pgf-cell-description-button" data-toggle="tab">Описание</a></li>
      <li><a href="#pgf-cell-persons" class="pgf-cell-persons-button" data-toggle="tab">Мастера</a></li>
      <li><a href="#pgf-cell-place-parameters" class="pgf-cell-place-parameters-button" data-toggle="tab">Параметры</a></li>
      <li><a href="#pgf-cell-place-bills" class="pgf-cell-place-bills-button" data-toggle="tab">Законы</a></li>
      <li><a href="#pgf-cell-place-chronicle" class="pgf-cell-place-chronicle-button" data-toggle="tab">События</a></li>
      {% endif %}
      {% if building %}
      <li><a href="#pgf-cell-building" class="pgf-cell-building-button" data-toggle="tab">Строение</a></li>
      {% endif %}
      <li><a href="#pgf-cell-map" class="pgf-cell-map-button" data-toggle="tab">Карта</a></li>
    </ul>

    <div class="pgf-scrollable tab-content" style="max-height: 360px; overflow-y: auto;">

      {% if place %}
      <div class="tab-pane active description" id="pgf-cell-description">
        {% if place.description %}
          <blockquote>
            {{ place.description_html|safe }}
          </blockquote>
        {% else %}
        <p class="alert alert-info">У этого места пока нет описания</p>
        {% endif %}
      </div>

      <div class="tab-pane" id="pgf-cell-persons">

        <p><a href="{{url('guide:persons')}}" target="_blank">Мастера</a> — это неигровые персонажи (NPC), обладающие большим влиянием в городе.</p>

        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Мастер</th>
              <th>влияние</th>
              <th>герои <i class="icon icon-info-sign" rel="tooltip" title="помогающие / мешающие" style="vertical-align: middle;"></i></th>
            </tr>
          </thead>
          <tbody>
            {% for person in place.persons_by_power %}
              <tr>
                <td>{{persons_macros.person_verbose(person, hero)}}</td>
                <td>{{person.total_politic_power_fraction|percents}}</td>
                <td>{{person.politic_power.positive_heroes_number}} / {{person.politic_power.negative_heroes_number}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <div class="tab-pane active description" id="pgf-cell-place-parameters">
        <p>
          Информация по актуальным параметрам города. Обновлена в <span class="pgf-format-time" data-timestamp="{{ place.updated_at|timestamp }}"></span>
        </p>

        <table class="table table-condensed">
          <tbody>
            {{places_macros.attribute_record(place, 'size')}}
            {{places_macros.attribute_record(place, 'power_economic')}}
            {{places_macros.attribute_record(place, 'goods', (' / %s' % c.PLACE_GOODS_TO_LEVEL))}}
            {{places_macros.attribute_record(place, 'keepers_goods')}}
            {{places_macros.attribute_record(place, 'stability')}}
            {{places_macros.attribute_record(place, 'production')}}
            {{places_macros.attribute_record(place, 'transport')}}
            {{places_macros.attribute_record(place, 'freedom')}}
            {{places_macros.attribute_record(place, 'safety')}}
            {{places_macros.attribute_record(place, 'tax')}}
            <tr>
              <th>герои</th>
              <td>{{place.politic_power.positive_heroes_number}} / {{place.politic_power.negative_heroes_number}}</td>
              <td><a href="javascript: return;" class="info-link" rel="tooltip" title="помогающие / мешающие">подробнее</a></td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="tab-pane active description" id="pgf-cell-place-bills">
        <p>
          Список <strong>активных</strong> законов (действующих в текущий момент), связанных с городом.
        </p>

        {% if place_bills %}

          {% for bill in place_bills %}
            <table class="table table-striped table-condensed table-no-highlighting">
              <tbody>
                <tr>
                  <td><a target="_blank" href="{{url('game:bills:show', bill.id)}}">{{bill.caption}}</a></td>
                </tr>
                {% for property in bill.properties %}
                  <tr><td>{{property}}</td></tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}

        {% else %}
          <p class="alert alert-info">Нет активных законов.</p>
        {% endif %}
      </div>

      <div class="tab-pane active description" id="pgf-cell-place-chronicle">

        <p>
          Последние события, связаные с городом.
        </p>

        <table class="table">
          <thead>
            <tr>
              <th>дата</th>
              <th>событие</th>
            </tr>
          </thead>
          <tbody>
            {% for date_short, date_long, text in place_chronicle %}
            {{ chronicle_macros.chronicle_record_3(date_short, date_long, text) }}
            {% endfor %}
          </tbody>
        </table>

      </div>

      {% endif %}

      {% if building %}
      <div class="tab-pane active description" id="pgf-cell-building">
        <table class="table table-striped table-condensed table-bordered table-no-highlighting">
          <p>
            Строение значительно увеличивает получаемое Мастеров влияние. Не забывайте о том, что здание необходимо ремонтировать, иначе его владелец потеряет преимущества, которые давала ему целая постройка.
          </p>
          <tbody>
            <tr><th width="150px">строение</th><td>{{building.type.text}}</td></tr>
            <tr><th>название</th><td>{{building.name}}</td></tr>
            <tr>
              <th>город</th>
              <td>
                <a href="{{url('game:places:show', building.place.id)}}" target="_blank">{{building.place.name}}</a>
              </td>
            </tr>
            <tr>
              <th>владелец</th>
              <td>{{persons_macros.person_verbose(building.person, hero)}}</td>
            </tr>
            <tr><th>возведено</th><td>{{building.created_at_turn|verbose_game_date}}</td></tr>
            <tr>
              <th>целостность</th>
              <td><span class="pgf-building-integrity">{{building.integrity|percents(2)}}</span></td>
            </tr>
            <tr><th>скорость износа</th><td>-{{building.amortization_in_day|percents}} в день</td></tr>
            <tr>
              <th>рабочих для ремонта</th>
              <td>
                <span class="pgf-building-workers">{{building.workers_to_full_repairing}}</span>

                <a href="#"
                   class="angel-ability pgf-ability-building_repair pgf-hidden"
                   data-building-id="{{building.id}}"
                   data-building-workers="{{building.workers_to_full_repairing}}">
                  <i class="icon-tint" rel="tooltip" title="недостаточно энергии"></i>
                  <i class="icon-ban-circle" rel="tooltip" title="Починка зданий разрешена только обладателям подписки"></i>
                  <span rel="tooltip" title="<i>{{ABILITY_TYPE.BUILDING_REPAIR.cost}} энергии без учёта бонусов</i>">вызвать рабочего</span>
                </a>
                <span style="white-space: nowrap;">(+{{building.repair_delta|percents(points=2)}} за рабочего)</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}


      <div class="tab-pane" id="pgf-cell-map">
        <ul class="unstyled">
          <li>
            {{terrain.text}},
            {% if nearest_place_name %}
            окрестности {{nearest_place_name}}
            {% else %}
            дикие земли
            {% endif %}
          </li>
          <li>дует {{cell.wind_direction.text}} {{cell.wind_power.text}}</li>
          <li>вокруг {{cell.temperature.text}} и {{cell.wetness.text}}</li>
          <li>{{cell.transport(x, y).text}}</li>
          <li>{{cell.safety(x, y).text}}</li>
        </ul>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Ok</a>
  </div>

</div>
