
<div class="modal hide place-description-dialog">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="pgf-dialog-title dialog-title">
      {% if place %}
      <span class="badge">{{ place.size }}</span>
      <span>
        {% if place.modifier %}{{ place.modifier.NAME }}{% endif %}
        {{ place.name }}
      </span>

      {% if hero and hero.preferences.place_id == place.id %}
      <span class="badge badge-success">родной город</span>
      {% endif %}
      {% else %}
      Квадрат {{x}}x{{y}}
      {% endif %}
    </h3>
  </div>

  <div class="modal-body">

    <ul class="nav nav-tabs">
      {% if place %}
      <li><a href="#pgf-cell-description" class="pgf-cell-description-button" data-toggle="tab">Описание</a></li>
      <li><a href="#pgf-cell-persons" class="pgf-cell-persons-button" data-toggle="tab">Персонажи</a></li>
      <li><a href="#pgf-cell-place-modifiers" class="pgf-cell-place-modifiers-button" data-toggle="tab">Специализация</a></li>
      {% endif %}
      <li><a href="#pgf-cell-map" class="pgf-cell-map-button" data-toggle="tab">Карта</a></li>
      {% if resource.user.is_staff %}
      <li><a href="#pgf-cell-debug" class="pgf-cell-debug-button" data-toggle="tab">Отладка</a></li>
      {% endif %}
    </ul>

    <div class="tab-content" style="max-height: 350px; overflow-y: auto;">
      {% if place %}
      <div class="tab-pane active description" id="pgf-cell-description">
        <img src="{{ STATIC_URL }}tmp/city.png"/>
        {% if place.description %}
        {{ place.description_html|safe }}
        {% else %}
        У этого места пока нет описания
        {% endif %}
      </div>

      <div class="tab-pane" id="pgf-cell-persons">
        <ul class="unstyled">
          <li class="data-updated-time">время обновления статистики:
            {% set game_time = place.updated_at_game_time %}
            <span class="pgf-game-date">{{ game_time.verbose_date}}</span>
            <span class="pgf-game-time">{{ game_time.verbose_time }}</span>
          </li>
          <li>прописано героев: {{place.heroes_number}}</li>
        </ul>

        <h3>персонажи</h3>

        <ul class="unstyled">
          {% for person in place.persons %}
          <li class="person-record">

            <table class="person-table table table-striped table-condensed table-no-highlighting">
              <tbody>
                <tr>
                  <td class="profession-icon" rowspan="2">
                    <img src="{{ STATIC_URL }}tmp/profession.gif"/>
                  </td>

                  <th>
                    {{ person.name }}
                    <small>{{ person.race_verbose }}-{{ person.type_verbose }}</small>
                    {% if hero and hero.preferences.friend_id == person.id %}
                    <span class="badge badge-success">соратник</span>
                    {% endif %}
                    {% if hero and hero.preferences.enemy_id == person.id %}
                    <span class="badge badge-important">противник</span>
                    {% endif %}
                  </th>
                  <th width="100px">влиятельность</th>
                  <td width="100px">
                    {% if place.total_persons_power %}
                    {% set power = (person.power/place.total_persons_power) %}
                    {% else %}
                    {% set power = 0 %}
                    {% endif %}
                    {{ power|percents }}
                  </td>
                </tr>

                <tr>
                  <td>
                    соратников/противников: {{person.friends_number}}/{{person.enemies_number}}
                  </td>
                  <th width="100px">мастерство</th>
                  <td width="100px">{{person.mastery_verbose}}</td>
                </tr>
              </tbody>

            </table>

          </li>
          {% endfor %}
        </ul>

      </div>

      <div class="tab-pane active description" id="pgf-cell-place-modifiers">

        <p>
          В этом разделе отображается на сколько город продвинулся на пути к каждой из специализаций.
          Чтобы можно было изменить специализацию города, необходимо довести её развитие до {{c.PLACE_TYPE_NECESSARY_BORDER}}.
          Если город уже имеет специализацию и её развитие опустится ниже {{c.PLACE_TYPE_ENOUGH_BORDER}}, то город перестанет быть специализированным.
        </p>

        <table class="table table-striped table-condensed table-no-highlighting">
          <tr>
            <th>специализация</th>
            <th>развитие</th>
            <th>информация</th>
          </tr>
          {% for modifier in place_modifiers %}
          <tr>
            <th>
              {% if place.modifier == modifier %}
              <i class="icon-star pgf-current-modifier-marker" style="vertical-align: middle;" rel="tooltip" title="текущий тип города"></i>
              {% endif %}
              {{modifier.NAME}}
            </th>
            <td>{{modifier.power|round(2)}}</td>
            <td>
              <a href="javascript: return;" class="info-link" rel="tooltip"
                 title="<p style='text-align: left;'><i>{{modifier.DESCRIPTION}}</i></p><ul class='unstyled' style='text-align: left; width: 250px;'>
                        {% for effect_source, name, power in modifier.power_effects %}
                        <li>{{name}} <span class='pull-right'
                                           style='margin-right: 5em; color:{%if power>1%}Chartreuse{%elif power<-1%}red{%else%}yellow{%endif%};'>{{power|round(2)}}</span>
                        </li>
                        {% endfor %}
                        <hr style='margin-right: 5em;'/>
                        <li>размер города <span class='pull-right' style='margin-right: 5em;'>x {{modifier.size_modifier|round(2)}}</span></li>
                        </ul>"
                 >
                подробнее
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      {% endif %}

      <div class="tab-pane" id="pgf-cell-map">
        <ul class="unstyled">
          <li>{{terrain}}, окрестности {{nearest_place_name}}</li>
          <li>дует {{descr_wind}}</li>
          <li>вокруг {{descr_temperature}} и {{descr_wetness}}</li>
        </ul>
      </div>

      {% if resource.user.is_staff %}
      <div class="tab-pane" id="pgf-cell-debug">
        <h3>общее</h3>
        <ul class="unstyled">
          <li><strong>высота</strong>: {{ cell.height }}</li>
          <li><strong>температура</strong>: {{ cell.temperature }}</li>
          <li><strong>ветер</strong>: {{ cell.wind }}</li>
          <li><strong>влажность</strong>: {{ cell.wetness }}</li>
          <li><strong>растительность</strong>: {{ cell.vegetation }}</li>
        </ul>

        <h3>атмосфера</h3>
        <ul class="unstyled">
          <li><strong>ветер</strong>: {{ cell.atmo_wind }}</li>
          <li><strong>температура</strong>: {{ cell.atmo_temperature }}</li>
          <li><strong>влажность</strong>: {{ cell.atmo_wetness }}</li>
        </ul>

        <h3>территории</h3>
        <table class="table table-condensed">
          <tbody>
            {% for text, points in terrain_points %}
            <tr>
              <td>{{text}}</td>
              <td>{{points}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      {% endif %}
    </div>

  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Ok</a>
  </div>

</div>
