{% extends "base.html" %}

{% import 'game/macros.html' as game_macros with context %}
{% import 'map/map.html' as map_macros with context %}

{% block title %}Карта Пандоры | {{ super() }}{% endblock %}
{% block description %}Подробная карта Пандоры — мира «Сказки».{% endblock %}

{% block head %}
{{ super() }}

<script src="{{ STATIC_CONTENT }}game/data/constants.js" type="text/javascript"></script>
<script src="{{ STATIC_CONTENT }}game/widgets.js" type="text/javascript"></script>
<script src="{{ STATIC_CONTENT }}game/map/map2.js" type="text/javascript"></script>

<script type="text/javascript">

var updater = undefined;
var widgets = {};

jQuery(document).ready(function(e){

    updater = new pgf.game.Updater({url: "{{ game_info_url() }}"});

    {% if settings.DEBUG %}
    {{ game_macros.game_debug_javascript() }}
    {% endif %}

    function RefreshData() {
        if (updater) {
            updater.Refresh();
        }
    }

    setTimeout(RefreshData, 0);
});

</script>
{% endblock %}

{% block debug_menu %}
{{ super() }}
<li><a href="#" class="pgf-refresh">refresh</a></li>
<li><a href="#" class="pgf-next-turn">next turn</a></li>
<li><a href="#" class="pgf-next-10-turns">10 turns</a></li>
<li><a href="#" class="pgf-next-100-turns">100 turns</a></li>
<li><a href="#" class="pgf-next-1000-turns">1000 turns</a></li>
<li><a href="#" class="pgf-next-10000-turns">10000 turns</a></li>
<li><a href="#" class="pgf-next-60000-turns">60000 turns</a></li>
{% endblock %}

{% block content_header %}
{{ super() }}
<p class="alert alert-info">
  <strong>Внимание</strong>, положение героя и прочая информация на этой странице <strong>не обновляется</strong>. Эта страница предназначена для ознакомления с миром Пандоры.
</p>
{% endblock %}

{% block content %}


<div class="row">

  <div class="span12" id="pgf-map-container">
    {{map_macros.render_map(height=600, current_map_version=current_map_version)}}
  </div>

</div>

{% endblock %}
