

{% macro power_incoming_tooltip(description, power_effects, multiplier_effects=none, percents=false) %}

<p style='text-align: left;'>
  <i>{{description}}</i>
</p>

<ul class='unstyled' style='text-align: left; width: 300px;'>
  {% for name, power in  power_effects %}
  <li>
    {{name}}

    {% if -0.0000001 < power < 0.000001 %}
      {% set power = 0 %}
    {% endif %}

    {% if not percents %}
    <span class='pull-right'
          style='margin-right: 5em; color:{%if power>1%}Chartreuse{%elif power<-1%}red{%else%}yellow{%endif%};'>{{power|round(2)}}</span>
    {% else %}
    <span class='pull-right'
          style='margin-right: 5em; color:{%if power>0.01%}Chartreuse{%elif power<-0.01%}red{%else%}yellow{%endif%};'>{{power|percents(2)}}</span>
    {% endif %}
  </li>
  {% endfor %}

  {% if multiplier_effects %}
    <hr style='margin-right: 5em;'/>
    {% for text, multiplier in multiplier_effects %}
      <li>
        {{text}}
        <span class='pull-right' style='margin-right: 5em;'>x {{multiplier}}</span>
      </li>
    {% endfor %}
  {% endif %}
</ul>

{% endmacro %}
