
{% macro render_map(height) %}

<script type="text/javascript">
jQuery(document).ready(function(e) {

    var tileset = pgf.tilesets.main;

    var spritesManager = new pgf.game.resources.ImageManager(tileset.sprites,
                                                             { staticUrl: "{{ STATIC_URL }}",
                                                             });

    widgets.mapManager = new pgf.game.map.MapManager({regionUrl:  '{{ settings.DCONT_URL }}map/region.js'});

    widgets.map = new pgf.game.map.Map('#pgf-game-map',
                                       {spritesManager: spritesManager,
                                        tileSize: tileset.TILE_SIZE,
                                        canvasWidth: {{height}},
                                        widgets: widgets});

    jQuery('.pgf-center-on-hero').click(function(e){
        e.preventDefault();
        widgets.map.CenterOnHero();
    });

    jQuery('.pgf-journal-tab-button').click(function(e) {
        widgets.map.CenterOnHero();
    });
});
</script>

<div class="block" id="pgf-map-block">
  <div class="map-commands">
    <a href="{{url('game:map:')}}" target="_blank" class="">в отдельном окне</a>
    |
    <a href="#" class="pgf-center-on-hero">найти героя</a>
  </div>

  <div id="pgf-game-map">
    <div class="pgf-navigation-layer"></div>
    <canvas class="pgf-map-canvas"></canvas>
  </div>
</div>

{% endmacro %}
