
{% macro render_map(height, current_map_version) %}

<script type="text/javascript">
jQuery(document).ready(function(e) {

    var tileset = pgf.game.constants.tilesets[pgf.base.settings.get("game_map_tileset", "main")];

    var spritesManager = new pgf.game.resources.ImageManager(tileset.sprites,
                                                             { staticUrl: "{{ STATIC_CONTENT }}",
                                                             });

    widgets.mapManager = new pgf.game.map.MapManager({RegionUrl:  function(version){return '{{ DCONT_CONTENT }}map/region-'+version+'.js';},
                                                      currentMapVersion: '{{current_map_version}}'});

    widgets.map = new pgf.game.map.Map('#pgf-game-map',
                                       {spritesManager: spritesManager,
                                        tileSize: tileset.TILE_SIZE,
                                        canvasWidth: {{height}},
                                        widgets: widgets});

    jQuery('.pgf-center-on-hero').click(function(e){
        e.preventDefault();
        widgets.map.CenterOnHero();
    });

    jQuery('.pgf-center-on-place').click(function(e){
        e.preventDefault();
        widgets.map.CenterOnPlace(jQuery(e.currentTarget).data('place-id'));
    });

    jQuery('.pgf-journal-tab-button').click(function(e) {
        widgets.map.CenterOnHero();
    });

    jQuery('.pgf-change-tileset').click(function(e){
        e.preventDefault();
        pgf.base.settings.set("game_map_tileset", jQuery(e.currentTarget).data("tileset"));
        location.reload();
    });
});
</script>

<div class="block" id="pgf-map-block">
  <div class="map-commands">
    <div class="dropdown" style="display: inline-block;">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">карта<b class="caret"></b></a>
      <ul class="pgf-scrollable dropdown-menu" role="menu" style="max-height: 310px; overflow-y: auto;">
        <li><a href="#" class="pgf-change-tileset" data-tileset="main">обычная</a></li>
        <li><a href="#" class="pgf-change-tileset" data-tileset="winter">зимняя</a></li>
      </ul>
    </div>
    |
    <div class="dropdown" style="display: inline-block;">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">найти город<b class="caret"></b></a>
      <ul class="pgf-scrollable dropdown-menu" role="menu" style="max-height: 310px; overflow-y: auto;">
        {% for place in all_places() %}
        <li><a href="#" class="pgf-center-on-place" data-place-id="{{place.id}}">{{place.name}}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% if resource.account.is_authenticated() %}
    |
    <a href="#" class="pgf-center-on-hero">найти героя</a>
    {% endif %}
    |
    <a href="{{url('game:map:')}}" target="_blank" class="">в отдельном окне</a>
  </div>

  <div id="pgf-game-map">
    <div class="pgf-navigation-layer"></div>
    <canvas class="pgf-map-canvas"></canvas>
  </div>
</div>

{% endmacro %}
