form .control-group {
  margin-right: 1em;
}
form .control-group textarea,
form .control-group input {
  width: 100%;
}
form .control-group input[type="radio"],
form .control-group input[type="checkbox"] {
  width: auto;
}
form .widget {
  margin-top: 0.5em;
}
.noun-forms-table td,
.noun-forms-table th,
.noun-forms-table input {
  vertical-align: middle !important;
}
.noun-forms-table input {
  margin: 0 !important;
}
/* google search */
input.gsc-input {
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0 !important;
  height: auto !important;
  font-size: 16px !important;
  display: inline-block !important;
  line-height: 18px !important;
  color: #555555 !important;
  box-shadow: none !important;
  transition: none !important;
}
