form.block {
  width: 400px;
}
form .error-container {
  border: 0px;
}
form .error-container .error-text {
  background-color: #faa;
  border: 2px #f00 solid;
  border-radius: 4px;
  padding: 0.2em;
  margin: 0.2em;
}
form .widget {
  padding: 2px;
  margin: 2px;
  margin-bottom: 0.5em;
}
form .widget label {
  font-size: 14pt;
  font-weight: normal;
  display: block;
  margin-bottom: 0.25em;
}
form .widget input {
  font-size: 12pt;
  width: 390px;
  border: 2px #357dac solid;
  border-radius: 4px;
}
form .widget .error-container {
  border: 0px;
}
form .widget .error-container .error-text {
  font-size: 10pt;
  /* background-color: transparent; */

  /* background-color: @border-color; */

  color: #EF131B;
  border: 0px;
  font-weight: bold;
  padding-left: 0.2em;
  margin: 0em;
}
form input[type="submit"] {
  font-size: 14pt;
  border: 2px #357dac solid;
  border-radius: 4px;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #FFCC00;
}
