.forum-table .updated-at {
  width: 15em;
}
.forum-table .posts-count {
  width: 15em;
}
.forum-table .threads-count {
  width: 15em;
}
.forum-table .author {
  width: 15em;
}
.post-table .index {
  width: 3em;
}
.post-table .created-at {
  width: 15em;
}
.new-post-form {
  margin-top: 1em;
}
