.forum-table .updated-at {
  width: 10em;
}
.forum-table .posts-count {
  width: 5em;
}
.forum-table .threads-count {
  width: 5em;
}
.forum-table .author {
  width: 10em;
}
.forum-table .last-poster {
  width: 10em;
}
.forum-table .thread-page-links {
  color: #4A516B;
}
.post-table .index {
  width: 3em;
}
.post-table .change-post {
  width: 4em;
}
.post-table .delete-post {
  width: 4em;
}
.post-table .created-at {
  width: 15em;
}
.post-table .post-removed-message {
  color: #b94a48;
}
.new-post-form,
.change-post-form {
  margin-top: 1em;
}
