.second-row .block {
  min-height: 400px;
}
.hero-base-block .hero-level:hover {
  background-color: #BBB;
}
.hero-base-block .free-destiny-points:hover {
  background-color: #bbbbbb;
}
.hero-base-block .record-with-progress {
  margin: 6px 0;
  position: relative;
  padding-left: 20px;
  padding-right: 5.3em;
}
.hero-base-block .record-with-progress:hover {
  background-color: #dddddd;
}
.hero-base-block .record-with-progress .game-ui-icon {
  position: absolute;
  left: 0px;
}
.hero-base-block .record-with-progress .progress {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-base-block .record-with-progress .text-values {
  font-size: 11px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.hero-base-block .attribute-record {
  display: inline-block;
  white-space: nowrap;
  width: 32%;
}
.hero-base-block .attribute-record:hover {
  background-color: #dddddd;
}
.hero-base-block .attribute-record .game-ui-icon {
  vertical-align: middle;
}
.hero-base-block .attribute-record .value {
  vertical-align: middle;
}
.hero-equipment-block .equip-record {
  padding-top: 0.1em;
  cursor: default;
}
.hero-equipment-block .equip-record:hover {
  background-color: #dddddd;
}
.hero-equipment-block .equip-record .game-ui-icon {
  vertical-align: middle;
}
.hero-equipment-block .equip-record .name {
  font-size: 10pt;
  margin-left: 0.25em;
  overflow: hidden;
}
.hero-equipment-block .equip-record .power-container {
  float: right;
}
#equipment-tabs a {
  padding-right: 5px;
  padding-left: 5px;
}
#hero-bag-block .bag-record {
  margin-top: 5px;
  cursor: default;
  overflow: hidden;
}
#hero-bag-block .bag-record:hover {
  background-color: #dddddd;
}
#hero-bag-block .bag-record i {
  vertical-align: middle;
}
#hero-bag-block .bag-record .name {
  font-size: 10pt;
  margin-left: 0.25em;
  vertical-align: middle;
}
#hero-bag-block .bag-record .power-container {
  vertical-align: middle;
}
.quest-icon {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 5px;
  margin-bottom: 0;
}
.quest-icon.caravan {
  background: url('../game/images/quests.png') no-repeat scroll 0 0 transparent;
}
.quest-icon.delivery {
  background: url('../game/images/quests.png') no-repeat scroll 0 -64px transparent;
}
.quest-icon.help {
  background: url('../game/images/quests.png') no-repeat scroll 0 -128px transparent;
}
.quest-icon.helpfriend {
  background: url('../game/images/quests.png') no-repeat scroll 0 -192px transparent;
}
.quest-icon.hometown {
  background: url('../game/images/quests.png') no-repeat scroll 0 -256px transparent;
}
.quest-icon.hunt {
  background: url('../game/images/quests.png') no-repeat scroll 0 -320px transparent;
}
.quest-icon.interfereenemy {
  background: url('../game/images/quests.png') no-repeat scroll 0 -384px transparent;
}
.quest-icon.notmywork {
  background: url('../game/images/quests.png') no-repeat scroll 0 -448px transparent;
}
.quest-icon.spying {
  background: url('../game/images/quests.png') no-repeat scroll 0 -512px transparent;
}
.quest-icon.searchsmith {
  background: url('../game/images/quests.png') no-repeat scroll 0 -576px transparent;
}
.quest-icon.no-quest {
  background: url('../game/images/quests.png') no-repeat scroll 0 -640px transparent;
}
.quest-icon.next-spending {
  background: url('../game/images/quests.png') no-repeat scroll 0 -704px transparent;
}
.quest-record {
  min-height: 84px;
  cursor: default;
}
.quest-record:hover {
  background-color: #dddddd;
}
.quest-record .quest-body {
  padding-left: 70px;
}
.quest-record .choices {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.quest-record .choices .choices-container {
  color: #999999;
}
.quest-record .actors-container {
  margin: 0;
}
.choice-record.disabled .choice-link {
  color: #999999;
  margin-left: 1em;
}
.choice-record.disabled .character-warning {
  display: inline;
}
.choice-record .character-warning {
  display: none;
}
.log-block {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}
.log-record {
  cursor: default;
}
.log-record:hover {
  background-color: #dddddd;
}
.log-record .time {
  display: inline;
  float: left;
}
.log-record .message {
  margin-left: 3.5em;
  padding-left: 0.5em;
}
.log-record .message .submessage {
  margin-bottom: 0.75em;
  display: inline-block;
}
.diary-record {
  cursor: default;
}
.diary-record:hover {
  background-color: #dddddd;
}
.diary-record .datetime {
  font-weight: bold;
}
.diary-record .message {
  margin-left: 1em;
}
.diary-record .message .submessage {
  margin-bottom: 0.75em;
  display: inline-block;
}
#pgf-map-block {
  position: relative;
}
#pgf-map-block .map-commands {
  position: absolute;
  right: -1px;
  top: 0;
  z-index: 1001;
  background-color: WhiteSmoke;
  border: 1px solid #cccccc;
  border-bottom-left-radius: 8px;
  padding: 0.25em;
  margin-right: 0.75em;
  margin-top: 0.75em;
}
.place-description-dialog {
  cursor: default;
  background-color: #ffffff !important;
}
.place-description-dialog .dialog-title span {
  vertical-align: middle;
}
.place-description-dialog .description {
  min-height: 70px;
  text-align: justify;
}
.place-description-dialog .description img {
  float: left;
}
.place-description-dialog .data-updated-time {
  color: #999999;
}
.place-description-dialog .person-table {
  margin-bottom: 0;
}
.place-description-dialog .person-table .person-power {
  width: 150px;
}
.place-description-dialog .person-record {
  min-height: 32px;
  margin-top: 1em;
  cursor: default;
}
.place-description-dialog .person-record .progress {
  width: 100px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  margin-bottom: 1px;
}
#abilities-block {
  text-align: center;
  font-size: 14pt;
}
.angel-ability.wait,
.angel-ability.no-energy,
.angel-ability.no-registration {
  color: #999999;
  text-decoration: none;
}
.angel-ability .icon-tint {
  display: none;
}
.angel-ability .icon-ban-circle {
  display: none;
}
.angel-ability.no-energy .icon-tint {
  display: inline-block;
  vertical-align: middle;
}
.angel-ability.no-registration .icon-ban-circle {
  display: inline-block;
  vertical-align: middle;
}
.game-ui-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.game-ui-icon.health {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 0 transparent;
}
.game-ui-icon.experience {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -16px transparent;
}
.game-ui-icon.energy {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -32px transparent;
}
.game-ui-icon.power {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -48px transparent;
}
.game-ui-icon.might {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -64px transparent;
}
.game-ui-icon.gold {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -80px transparent;
}
.game-ui-icon.main-hand {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -96px transparent;
}
.game-ui-icon.off-hand {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -112px transparent;
}
.game-ui-icon.helmet {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -128px transparent;
}
.game-ui-icon.amulet {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -144px transparent;
}
.game-ui-icon.shoulders {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -160px transparent;
}
.game-ui-icon.plate {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -176px transparent;
}
.game-ui-icon.gloves {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -192px transparent;
}
.game-ui-icon.cloak {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -208px transparent;
}
.game-ui-icon.pants {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -224px transparent;
}
.game-ui-icon.boots {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -240px transparent;
}
.game-ui-icon.ring {
  background: url('../game/images/game_ui.png') no-repeat scroll 0 -256px transparent;
}
.profession-icon-container {
  vertical-align: middle !important;
  width: 32px;
}
.profession-icon-container:hover {
  background-color: #dddddd !important;
}
.profession-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}
.profession-icon.alchemist {
  background: url('../game/images/professions.png') no-repeat scroll 0 0 transparent;
}
.profession-icon.aristocrat {
  background: url('../game/images/professions.png') no-repeat scroll 0 -32px transparent;
}
.profession-icon.bard {
  background: url('../game/images/professions.png') no-repeat scroll 0 -64px transparent;
}
.profession-icon.bureaucrat {
  background: url('../game/images/professions.png') no-repeat scroll 0 -96px transparent;
}
.profession-icon.magician {
  background: url('../game/images/professions.png') no-repeat scroll 0 -128px transparent;
}
.profession-icon.rogue {
  background: url('../game/images/professions.png') no-repeat scroll 0 -160px transparent;
}
.profession-icon.tamer {
  background: url('../game/images/professions.png') no-repeat scroll 0 -192px transparent;
}
.profession-icon.blacksmith {
  background: url('../game/images/professions.png') no-repeat scroll 0 -224px transparent;
}
.profession-icon.physician {
  background: url('../game/images/professions.png') no-repeat scroll 0 -256px transparent;
}
.profession-icon.mayor {
  background: url('../game/images/professions.png') no-repeat scroll 0 -288px transparent;
}
.profession-icon.hunter {
  background: url('../game/images/professions.png') no-repeat scroll 0 -320px transparent;
}
.profession-icon.executioner {
  background: url('../game/images/professions.png') no-repeat scroll -32px 0 transparent;
}
.profession-icon.carpenter {
  background: url('../game/images/professions.png') no-repeat scroll -32px -32px transparent;
}
.profession-icon.tailor {
  background: url('../game/images/professions.png') no-repeat scroll -32px -64px transparent;
}
.profession-icon.fisherman {
  background: url('../game/images/professions.png') no-repeat scroll -32px -96px transparent;
}
.profession-icon.priest {
  background: url('../game/images/professions.png') no-repeat scroll -32px -128px transparent;
}
.profession-icon.herdsman {
  background: url('../game/images/professions.png') no-repeat scroll -32px -160px transparent;
}
.profession-icon.warden {
  background: url('../game/images/professions.png') no-repeat scroll -32px -192px transparent;
}
.profession-icon.merchant {
  background: url('../game/images/professions.png') no-repeat scroll -32px -224px transparent;
}
.profession-icon.innkeeper {
  background: url('../game/images/professions.png') no-repeat scroll -32px -256px transparent;
}
.profession-icon.farmer {
  background: url('../game/images/professions.png') no-repeat scroll -32px -288px transparent;
}
.profession-icon.miner {
  background: url('../game/images/professions.png') no-repeat scroll -32px -320px transparent;
}
