.second-row .block {
  min-height: 400px;
}
.hero-base-block .hero-level:hover {
  background-color: #BBB;
}
.hero-base-block .free-destiny-points:hover {
  background-color: #bbbbbb;
}
.hero-base-block .record-with-progress {
  margin: 6px 0;
  position: relative;
  padding-left: 20px;
  padding-right: 5.3em;
}
.hero-base-block .record-with-progress:hover {
  background-color: #dddddd;
}
.hero-base-block .record-with-progress img {
  position: absolute;
  left: 0px;
}
.hero-base-block .record-with-progress .progress {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-base-block .record-with-progress .text-values {
  font-size: 11px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.hero-base-block .attribute-record {
  display: inline-block;
  width: 32%;
}
.hero-base-block .attribute-record:hover {
  background-color: #dddddd;
}
.hero-base-block .attribute-record img {
  vertical-align: middle;
}
.hero-base-block .attribute-record .value {
  vertical-align: middle;
}
.hero-equipment-block .equip-record {
  padding-top: 0.1em;
  cursor: default;
}
.hero-equipment-block .equip-record:hover {
  background-color: #dddddd;
}
.hero-equipment-block .equip-record .name {
  font-size: 10pt;
  margin-left: 0.25em;
  overflow: hidden;
}
.hero-equipment-block .equip-record .power-container {
  float: right;
}
#equipment-tabs a {
  padding-right: 5px;
  padding-left: 5px;
}
#hero-bag-block .bag-record {
  margin-top: 5px;
  cursor: default;
  overflow: hidden;
}
#hero-bag-block .bag-record:hover {
  background-color: #dddddd;
}
#hero-bag-block .bag-record i {
  vertical-align: middle;
}
#hero-bag-block .bag-record .name {
  font-size: 10pt;
  margin-left: 0.25em;
  vertical-align: middle;
}
#hero-bag-block .bag-record .power-container {
  vertical-align: middle;
}
.quest-icon {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 5px;
  margin-bottom: 0;
}
.quest-icon.help {
  background: url('../game/images/quests.png') no-repeat scroll 0 0 transparent;
}
.quest-icon.delivery {
  background: url('../game/images/quests.png') no-repeat scroll -64px 0 transparent;
}
.quest-icon.spying {
  background: url('../game/images/quests.png') no-repeat scroll -128px 0 transparent;
}
.quest-icon.notmywork {
  background: url('../game/images/quests.png') no-repeat scroll -192px 0 transparent;
}
.quest-icon.caravan {
  background: url('../game/images/quests.png') no-repeat scroll -256px 0 transparent;
}
.quest-icon.no-quest {
  background: url('../game/images/quests.png') no-repeat scroll -320px 0 transparent;
}
.quest-icon.hunt {
  background: url('../game/images/quests.png') no-repeat scroll -384px 0 transparent;
}
.quest-icon.hometown {
  background: url('../game/images/quests.png') no-repeat scroll -448px 0 transparent;
}
.quest-icon.searchsmith {
  background: url('../game/images/quests.png') no-repeat scroll -512px 0 transparent;
}
.quest-icon.interfereenemy {
  background: url('../game/images/quests.png') no-repeat scroll -576px 0 transparent;
}
.quest-icon.helpfriend {
  background: url('../game/images/quests.png') no-repeat scroll -640px 0 transparent;
}
.quest-icon.next-spending {
  background: url('../game/images/quests.png') no-repeat scroll -704px 0 transparent;
}
.quest-record {
  min-height: 64px;
  cursor: default;
}
.quest-record:hover {
  background-color: #dddddd;
}
.quest-record .quest-body {
  padding-left: 70px;
}
.quest-record .choices {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.quest-record .choices .choices-container {
  color: #999999;
}
.quest-record .actors-container {
  margin: 0;
}
.choice-record.disabled .choice-link {
  color: #999999;
  margin-left: 1em;
}
.choice-record.disabled .character-warning {
  display: inline;
}
.choice-record .character-warning {
  display: none;
}
.log-block {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}
.log-record {
  margin: 0.75em 0;
  cursor: default;
  padding-left: 3.5em;
}
.log-record:hover {
  background-color: #dddddd;
}
.log-record .time {
  margin-left: -3.3em;
  display: inline;
}
.log-record .message {
  /* margin-left: 3.5em; */

  /* margin-left: 0.5em; */

  display: inline;
  padding-left: 0.5em;
}
.diary-record {
  margin: 0.75em 0;
  cursor: default;
}
.diary-record:hover {
  background-color: #dddddd;
}
.diary-record .datetime {
  font-weight: bold;
}
.diary-record .message {
  margin-left: 1em;
}
#pgf-map-block {
  position: relative;
}
#pgf-map-block .map-commands {
  position: absolute;
  right: -1px;
  top: 0;
  z-index: 1001;
  background-color: WhiteSmoke;
  /* margin: 2px; */

  border: 1px solid #cccccc;
  border-bottom-left-radius: 8px;
  padding: 0.25em;
  margin-right: 0.75em;
  margin-top: 0.75em;
}
.place-description-dialog {
  cursor: default;
  background-color: #ffffff !important;
}
.place-description-dialog .dialog-title span {
  vertical-align: middle;
}
.place-description-dialog .description {
  min-height: 70px;
  text-align: justify;
}
.place-description-dialog .description img {
  float: left;
}
.place-description-dialog .data-updated-time {
  color: #999999;
}
.place-description-dialog .person-table {
  margin-bottom: 0;
}
.place-description-dialog .person-table .profession-icon {
  width: 32px;
  vertical-align: middle;
}
.place-description-dialog .person-table .person-power {
  width: 150px;
}
.place-description-dialog .person-record {
  min-height: 32px;
  margin-top: 1em;
  cursor: default;
}
.place-description-dialog .person-record .progress {
  width: 100px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  margin-bottom: 1px;
}
#abilities-block {
  text-align: center;
  font-size: 14pt;
}
#abilities-block .wait,
#abilities-block .no-energy,
#abilities-block .no-registration {
  color: #999999;
  text-decoration: none;
}
#abilities-block .icon-tint {
  display: none;
}
#abilities-block .icon-ban-circle {
  display: none;
}
#abilities-block .no-energy .icon-tint {
  display: inline-block;
  vertical-align: middle;
}
#abilities-block .no-registration .icon-ban-circle {
  display: inline-block;
  vertical-align: middle;
}
#abilities-block .spinner {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  left: 0 !important;
  top: 0 !important;
}
