.hero-statistics {
  cursor: default;
}
.hero-statistics .stat-record:hover {
  background-color: #dddddd;
}
.hero-statistics .stat-record .value {
  float: right;
}
#choose-ability-button {
  cursor: pointer;
}
.hero-ability-record {
  margin-bottom: 1em;
}
.hero-ability-record:hover {
  background-color: #dddddd;
}
.hero-ability-record .ability-name .ability-type {
  font-weight: normal;
  color: #999999;
}
.hero-abilities-list {
  cursor: default;
}
.choose-hero-ability-dialog .hero-ability-record {
  cursor: pointer;
}
