#hero-page-content .column {
  display: inline-block;
  vertical-align: top;
}
#hero-page-content #left-column {
  width: 200px;
}
#hero-page-content #right-column {
  width: 390px;
}
#hero-page-content #center-column {
  width: 390px;
}
#hero-page-content #choose-ability-button {
  text-align: center;
  cursor: pointer;
  border-color: #FF6666;
  background-color: #FF9966;
}
#hero-page-content #choose-ability-button:hover {
  border-color: #FF6600;
  background-color: #FF9900;
}
.hero-abilities-list {
  margin: 5px;
}
.hero-abilities-list .record {
  cursor: default;
  padding: 2px;
  margin: 2px;
  border: 2px solid blue;
  border-radius: 4px;
  width: 250px;
}
.hero-abilities-list .record .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../game/images/habilities.png') no-repeat;
  vertical-align: middle;
}
.hero-abilities-list .record .icon.magicmushroom {
  background-position-x: 0px;
  background-position-y: 0px;
}
.hero-abilities-list .record .icon.regeneration {
  background-position-x: -32px;
  background-position-y: 0px;
}
.hero-abilities-list .record .icon.sidestep {
  background-position-x: -64px;
  background-position-y: 0px;
}
.hero-abilities-list .record .icon.menothere {
  background-position-x: -96px;
  background-position-y: 0px;
}
.hero-abilities-list .record .icon.runuppush {
  background-position-x: -128px;
  background-position-y: 0px;
}
.hero-abilities-list .record .name {
  font-weight: bold;
  font-size: 12pt;
  display: inline-block;
  width: 190px;
}
.hero-abilities-list .record .level {
  font-weight: bold;
  font-size: 14pt;
  display: inline-block;
}
.hero-abilities-list .record.battle {
  border-color: #CC0000;
  background-color: #CC3300;
}
.hero-abilities-list .record.battle:hover {
  border-color: #FF0000;
  background-color: #FF3300;
}
.chose-hero-ability-dialog {
  width: 600px;
}
.chose-hero-ability-dialog .hero-abilities-list {
  margin: 5px;
}
.chose-hero-ability-dialog .hero-abilities-list .record {
  cursor: pointer;
}
