@import "game.css";

@import "hero_page.css";

@import "forum.css";

@import "news.css";

@import "forms.css";

@import "guide.css";

@import "politics.css";

@import "newspaper.css";
html {
  height: 100%;
}
body {
  padding-top: 50px;
  height: 100%;
}
body #main-container {
  height: 100%;
  min-height: 100%;
  height: auto;
}
body #main-container #content {
  padding-bottom: 125px;
}
body div.block,
body li.block {
  background-color: WhiteSmoke;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 0.75em;
  margin-top: 0;
  margin-bottom: 10px;
}
body div.block.white,
body li.block.white {
  background-color: white;
}
body hr {
  border-top-color: #cccccc;
  margin: 0;
}
body .progress {
  border: 1px solid #808080;
  height: 8px;
}
body .nav-tabs > li > a,
body .nav-pills > li > a {
  padding-right: 10px;
  padding-left: 10px;
}
body .navbar .nav > li > a {
  padding-right: 8px;
  padding-left: 8px;
}
body footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 125px;
  margin-top: -3em;
  border-top: 1px solid #cccccc;
  padding: 1em;
}
body .dl-record {
  margin-bottom: 0.5em;
}
body .dl-record small {
  font-weight: normal;
}
#time-block {
  cursor: default;
}
small {
  color: #999999 !important;
}
.anchor {
  position: relative;
  top: -70px;
}
.attention-link {
  color: #faa732 !important;
}
.popover {
  z-index: 30000000 !important;
}
.modal-backdrop {
  opacity: 0.5 !important;
}
.modal-backdrop.wait-backdrop {
  z-index: 10000;
}
.pagination {
  margin-top: 0 !important;
  margin-bottom: 2px !important;
}
.pagination a {
  padding: 0 5px !important;
  line-height: 24px !important;
}
.wait-indicator-backdrop {
  position: fixed;
  z-index: 100010;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
}
.wait-indicator-backdrop .wait-indicator {
  background-color: white;
  margin-top: 300px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 32px;
  width: 32px;
}
/* remove table row highlighting */
table.table-no-highlighting.table tbody tr:hover td {
  background-color: white;
}
table.table-no-highlighting.table tbody tr:hover th {
  background-color: #F9F9F9;
}
table.table-striped tbody tr:nth-child(odd):hover td {
  background-color: #F9F9F9;
}
blockquote {
  font-style: italic;
}
.addthis_toolbox {
  display: inline-block;
  float: right;
  width: 300px;
}
.addthis_toolbox .invitation {
  float: left;
  color: #999999;
  margin-right: 0.5em;
}
.tooltip {
  z-index: 2000 !important;
}
.rss-link {
  text-decoration: none !important;
}
.rss-link:hover {
  text-decoration: none !important;
}
li .game-link {
  color: #AAA;
  font-weight: bold;
}
li.active .game-link {
  color: white;
  font-weight: normal;
}
