.pvp-abilities-list li {
  padding: 0.1em;
  cursor: default;
}
.pvp-abilities-list li:hover {
  background-color: #dddddd;
}
.pvp-resources-record {
  margin: 1px;
}
.pvp-energy-block {
  padding-left: 1em !important;
}
.pvp-info-table td {
  text-align: center !important;
}
.pvp-info-table td.pvp-effectiveness:hover {
  background-color: #dddddd !important;
}
.pvp-ability {
  padding-left: 2em;
  padding-right: 2em;
}
.pvp-ability-probability:hover {
  background-color: #dddddd !important;
}
