
{% macro person_verbose(person, hero=none) %}

  <a href="{{url('game:persons:show', person.id)}}" target="_blank">{{person.name}}</a> —
  <div class="underline-on-hover"
       style="cursor: help; display: inline-block;"
       rel="tooltip"
       title="{{person.personality_practical.description}}">{{person.personality_practical.text}}</div>
       {{person.race.text}},
       {{person.type.text}}
       и
  <div class="underline-on-hover"
       style="cursor: help; display: inline-block;"
       rel="tooltip"
            title="{{person.personality_cosmetic.description}}">{{person.personality_cosmetic.text}}</div>

  {% if hero and hero.preferences.friend and hero.preferences.friend.id == person.id %}
    <span class="badge badge-success">соратник</span>
  {% elif hero and hero.preferences.enemy and hero.preferences.enemy.id == person.id %}
    <span class="badge badge-important">противник</span>
  {% endif %}

{% endmacro %}
