{% extends "persons/base.html" %}
{% import 'macros.html' as base_macros with context %}
{% import 'blogs/macros.html' as blogs_macros with context %}
{% import 'game/macros.html' as game_macros with context %}
{% import 'persons/macros.html' as persons_macros with context %}

{% block title %} {{ person.name }} | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Информация о Мастере «{{person.name}}»{% endblock %}

{% block persons_content %}

  <h2>
    {{person.name}}
    из
    <a href="{{url('game:places:show', person.place_id)}}">{{person.place.utg_name.forms[1]}}</a>
    {{ base_macros.magnet(person_meta_object) }}
    <small>
      {{ persons_macros.person_description(person) }}
    </small>

    {% if hero and hero.preferences.friend and hero.preferences.friend.id == context.person.id %}
      <span class="label label-success">соратник</span>
    {% endif %}

    {% if hero and hero.preferences.enemy and hero.preferences.enemy.id == context.person.id %}
      <span class="label label-important">противник</span>
      {% endif %}

    <small class="pull-right" style="font-size: 10pt; padding-top: 0.4em;">
      обновлено в
      <span class="pgf-format-time" data-timestamp="{{ person.updated_at|timestamp }}"></span>
    </small>

  </h2>

  <table class="table table-condensed">
    <tbody>
      <tr>
        <th width="250px">влияние в городе</th>
        <td>{{person.total_politic_power_fraction|percents}}</td>
      </tr>
      <tr>
        <th>влияние от ближнего круга</th>
        <td>{{person.inner_politic_power_fraction|percents}} — {{person.politic_power.inner_power|int}}</td>
      </tr>
      <tr>
        <th>влияние от народа</th>
        <td>{{person.outer_politic_power_fraction|percents}} — {{person.politic_power.outer_power|int}}</td>
      </tr>
      <tr>
        <th>здание</th>
        <td>{% if person.building %}{{person.building.type.text}}{% else %}нет{% endif %}</td>
      </tr>
      <tr>
        <th>проект</th>
        <td>
          <div style="cursor: help; display: inline-block;" rel="tooltip" title="{{person.job.effect.description}}">
            {{person.job.name}}
          </div>
        </td>
      </tr>
      <tr>
        <th>размер проекта</th>
        <td>
          {{person.get_job_power()|percents(2)}}
          <i class="icon-info-sign" rel="tooltip" title="Размер проекта зависит от относительного влияния Мастера в городе."></i>
        </td>
      </tr>
      {% if person.job.is_completed() %}
        <tr>
          <th>проект завершён</th>
          <td>Эффект проекта будет применён в ближайшее время. Влияние, начисленное сверх необходимого, будет засчитано в следующем проекте.</td>
        </tr>
      {% else %}
        <tr>
          <th>помощь в проекте от соратников</th>
          <td>
            <span style="color:green;">{{(person.job.positive_power/person.job.power_required)|percents(2)}}</span>
            осталось влияния: {{(person.job.power_required - person.job.positive_power)|int}}
          </td>
        </tr>
        <tr>
          <th>вред в проекте от противников</th>
          <td>
            <span style="color:red;">{{(person.job.negative_power/person.job.power_required)|percents(2)}}</span>
            осталось влияния: {{(person.job.power_required - person.job.negative_power)|int}}
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <h3>Герои</h3>

  <ul>
    <li>Всего героев помогает: {{person.politic_power.positive_heroes_number}}</li>
    <li>Всего героев мешает: {{person.politic_power.negative_heroes_number}}</li>
  </ul>

  {{game_macros.inner_circle_heroes(person.politic_power, hero.account_id if hero else none)}}

  {% set folclor_objects = posts_about(person_meta_object) %}

  <h3>Произведения о Мастере</h3>

  {% if folclor_objects %}
    {{ blogs_macros.meta_posts_list(folclor_objects) }}
  {% else %}
    <p class="alert alert-info pgf-no-folclor">В настоящее время нет произведений о Мастере.</p>
  {% endif %}

{% endblock %}
