{% extends "achievements/rewards/base.html" %}

{% block title %}Редактирование | {{resource.reward.caption}} | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newForm = new pgf.forms.Form(jQuery('#pgf-edit-reward-form'),
                                               {OnSuccess: function(instance, data){location.href = data.data.next_url;}});

});

</script>

{% endblock %}


{% block rewards_content %}

<form id="pgf-edit-reward-form" method="post" action="{{ url('achievements:rewards:update', resource.reward.id) }}">

  {{ form.errors_container }}

  {{ form.kit.widget }}
  {{ form.caption.widget }}
  {{ form.text.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Сохранить"/>
  </div>

</form>


{% endblock %}
