{% extends "base.html" %}

{% block head %}
<script src="{{ STATIC_URL }}game/widgets.js" type="text/javascript"></script>
<script type="text/javascript">

jQuery(document).ready(function(e){

    jQuery('.js-update-roads').click(function(){
        pgf.forms.Post({ action: "{{ url('game:map:roads:update_all') }}",
                         OnSuccess: function(){ location = '/game';}
                       });
    });

    jQuery('.js-regenerate-roads').click( function() {
        pgf.forms.Post({ action: "{{ url('game:map:roads:regenerate_all') }}",
                         OnSuccess: function(){ location = '/game';}
                       });
    });

});

</script>
{% endblock %}

{% block content %}

<a class="js-update-roads" href="#">update roads</a>
<a class="js-regenerate-roads" href="#">regenerate roads</a>

{% endblock %}
