{% extends "chronicle/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'chronicle/macros.html' as chronicle_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}Летопись | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Летопись Пандоры, в которой перечислены все важные события, происходившие в её истории.{% endblock %}

{% block chronicle_content %}

<h2 style="margin-bottom: 0.5em;">Летопись</h2>

<p>
  В летопись Пандоры заносятся все важные события, происходящие в мире. Ничто не укроется от пристального взгляда духов-летописцев.
</p>

<p>
  Летопись отображается в обратном порядке: от последнего события до первого. Поэтому на странице с актуальными событиями может быть всего несколько событий.
</p>

{{ list_filter_macros.html_filter(index_filter) }}

{% if events %}

{{ base_macros.render_paginator(paginator) }}

{{ chronicle_macros.records_list(events) }}

{{ base_macros.render_paginator(paginator) }}

{% else %}
<p class="pgf-no-records-message alert alert-info">Не найдено записей, отвечающих условиям поиска</p>
{% endif %}

{% endblock %}
