{% extends "collections/kits/base.html" %}

{% block title %}Создание | {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newForm = new pgf.forms.Form(jQuery('#pgf-new-kit-form'),
                                               {OnSuccess: function(instance, data){location.href = data.data.next_url;}});

});

</script>

{% endblock %}


{% block kits_content %}

<form id="pgf-new-kit-form" method="post" action="{{ url('collections:kits:create') }}">

  {{ form.errors_container }}

  {{ form.collection.widget }}
  {{ form.caption.widget }}
  {{ form.description.widget }}

  <div class="widget">
    <input type="submit" class="btn" value="Создать"/>
  </div>

</form>


{% endblock %}
