{% extends "collections/kits/base.html" %}

{% block title %}{{resource.kit.caption}} | {{ super() }}{% endblock %}

{% block kits_content %}

<h2><a href="{{url('collections:collections:show', resource.kit.collection_id)}}">{{ resource.kit.collection.caption }}</a>: {{resource.kit.caption}}</h2>

<div style="text-align: justify;">
  {{ resource.kit.description_html|safe }}
</div>

{% if resource.can_edit_kit or resource.can_moderate_kit or resource.can_edit_item%}
  <p>
    {% if resource.can_edit_item %}
      <a href="{{url('collections:items:new')}}" class="pgf-new-item-button btn btn-success">Добавить предмет</a>
    {% endif %}

    {% if resource.can_edit_kit %}
      <a href="{{url('collections:kits:edit', resource.kit.id)}}" class="pgf-edit-kit-button btn btn-success">Редактировать набор</a>
    {% endif %}

    {% if resource.can_moderate_kit %}
      {% if not resource.kit.approved %}
        <a href="{{url('collections:kits:approve', resource.kit.id)}}"
           class="pgf-approve-kit-button btn btn-danger pgf-forms-post-simple"
           data-confirmation="Вы действительно хотите утвердить набор?">
           Утвердить набор
        </a>
      {% else %}
        <a href="{{url('collections:kits:disapprove', resource.kit.id)}}"
           class="pgf-disapprove-kit-button btn btn-danger pgf-forms-post-simple"
           data-confirmation="Вы действительно хотите разутвердить набор?">
           Разутвердить набор
        </a>
      {% endif %}
    {% endif %}
  </p>
{% endif %}

<h3>Предметы</h3>

{% if items %}

<div class="accordion" id="pgf-items-accordion">

  {% for item in items %}

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed {% if not item.approved %}disabled{% endif %}"
         data-toggle="collapse"
         data-parent="#pgf-items-accordion"
         href="#pgf-item-{{item.id}}">
         {{item.caption}}
      </a>
    </div>
    <div id="pgf-item-{{item.id}}" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner" style="text-align: justify;">
        {{item.text_html|safe}}

        {% if resource._can_edit_item(resource.item) or resource.can_moderate_item%}
          <br/>
          {% if resource._can_edit_item(item) %}
            <a href="{{url('collections:items:edit', item.id)}}" class="pgf-edit-item-button btn btn-success">Редактировать предмет</a>
          {% endif %}

          {% if resource.can_moderate_item %}
            {% if not item.approved %}
              <a href="{{url('collections:items:approve', item.id)}}"
                 class="pgf-approve-item-button btn btn-danger pgf-forms-post-simple"
                 data-confirmation="Вы действительно хотите утвердить предмет?">
                 Утвердить предмет
              </a>
            {% else %}
              <a href="{{url('collections:items:disapprove', item.id)}}"
                 class="pgf-disapprove-item-button btn btn-danger pgf-forms-post-simple"
                 data-confirmation="Вы действительно хотите разутвердить предмет?">
                 Разутвердить предмет
              </a>
            {% endif %}
          {% endif %}
        {% endif %}

      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% else %}

<p class="alert alert-info pgf-no-items-message">
  В наборе нет предметов.
</p>

{% endif %}


{% endblock %}
