{% extends "forum/base.html" %}
{% import 'forum/macros.html' as forum_macros with context %}

{% block title %}Форум | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Главная страница форума игры.{% endblock %}

{% block forum_content %}

<h2>
  Форум

  <small>
    <a href="{{ url('forum:feed') }}" class="" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss форума">
      <img src="{{STATIC_CONTENT}}images/rss.png" style="margin: 2px;"/>
      rss
    </a>

    |

    <a href="{{url('guide:behavior-rules')}}" rel="tooltip" title="Правила поведения на форуме и в игре">
      правила
    </a>

    |

    <a href="{{url('forum:read-all')}}"
       class="pgf-forms-post-simple"
       rel="tooltip"
       title="Прочитать всё">
      прочитать всё
    </a>
  </small>
</h2>


{% for category_data in forum_structure %}

{% set category = category_data['category'] %}
{% set subcategories = category_data['subcategories'] %}

<h3>{{ category.caption }}</h3>
<table class="table table-striped forum-table table-no-highlighting">
    <thead>
      <tr>
        {{ forum_macros.subcategory_record_heading() }}
      </tr>
    </thead>
    <tbody>
      {% for subcategory in subcategories %}
      <tr>
        {{ forum_macros.subcategory_record(subcategory, read_state=read_states[subcategory.id]) }}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endfor %}

{% endblock %}
