

<div class="accordion" id="pgf-detailed-words-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-detailed-words-accordion" href="#pgf-detailed-words">
        Дополнительная информация
      </a>
    </div>
    <div id="pgf-detailed-words" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <ul>
          <li>
            Некоторые слова имеют ограниченные изменяемые свойства. Например, «ножницы» имеют только множественное число. Такие свойства (как число для существительных) надо указывать только в случае, когда слово может быть только с этим свойством. В остальных случаях их указывать не надо.
          </li>
          <li>
            Счётная форма существительного — это особая форма множественного числа некоторых существительных, употребляемая с числительными. Например: восемь бит, двести пятьдесят шесть байт, пять килограмм (или килограммов). Но: количество байтов, избавиться от лишних килограммов.
          </li>
        </ul>
      </div>
    </div>
</div>
