{% extends "linguistics/words/base.html" %}

{% import 'linguistics/words/macros.html' as words_macros with context %}

{% block title %}Редактирование слова «{{word.utg_word.normal_form()}}» |{{ super() }}{% endblock %}
{% block description %}Редактирование слова «{{word.utg_word.normal_form()}}».{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newForm = new pgf.forms.Form(jQuery('#pgf-edit-word-form'),
                                     {OnSuccess: function(instance, data){location.href = data.data.next_url;}});

});

</script>

{% endblock %}


{% block words_content %}

<h2>Редактирование слова «{{word.utg_word.normal_form()|up_first}}» <small>{{word.type.text}}</small></h2>

<form id="pgf-edit-word-form" method="post" action="{{ url('linguistics:words:update', word.id) }}">

  {{ form.errors_container }}

  {{words_macros.render_word(structure, drawer)}}

  <div class="widget">
    <input type="submit" class="btn" value="Сохранить"/>
  </div>

</form>

{% endblock %}
