{% extends "linguistics/words/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}{{ super() }}{% endblock %}
{% block description %}Слова для шаблонов фраз.{% endblock %}

{% block words_content %}

{% if not resource.account.is_authenticated() %}
{{ base_macros.registration_required_message("иметь возможность добавлять слова в словарь.") }}
{% endif %}

{% if resource.account.is_authenticated() %}
<div class="btn-group pgf-create-new-word-buttons pull-left"
     style="display: inline-block; vertical-align: middle; margin-right: 0.5em; margin-bottom: 0.5em;">
  <a class="btn btn-success btn-primary dropdown-toggle" data-toggle="dropdown">
    Добавить слово <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% for word_type in ALLOWED_WORD_TYPE.records %}
    <li><a href="{{ url('linguistics:words:new', type=word_type.utg_type.value) }}">{{word_type.utg_type.text}}</a></li>
    {% endfor %}
  </ul>
</div>

{% endif %}

<p>
  Список всех слов, используемых при создании фраз на основе шаблонов. Добавлять новые слова имеет смысла только если Вы уже добавили новый шаблон, который их использует.
</p>

{{ list_filter_macros.html_filter(index_filter) }}

{% if words %}

{{ base_macros.render_paginator(paginator) }}

<table class="table">
  <thead>
    <tr>
      <th>слово</th>
      <th>часть речи</th>
      <th>состояние</th>
    </tr>
  </thead>
  <tbody>
    {% for word in words %}
    <tr>
      <td><a href="{{url('linguistics:words:show', word.id)}}">{{word.utg_word.normal_form()}}</a></td>
      <td>{{word.type.text}}</td>
      <td>{{word.state.text}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ base_macros.render_paginator(paginator) }}

{% else %}
<p class="alert alert-info pgf-no-words-message">Не найдено слов, отвечающих условиям поиска.</p>
{% endif %}

{% endblock %}
