{% extends "linguistics/words/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}

{% block title %}{{ super() }}{% endblock %}
{% block description %}Слова для шаблонов фраз.{% endblock %}

{% block words_content %}

{% if not resource.account.is_authenticated() %}
{{ base_macros.registration_required_message("иметь возможность добавлять слова в словарь.") }}
{% endif %}

{{ list_filter_macros.html_filter(index_filter) }}

{% if words %}

{{ base_macros.render_paginator(paginator) }}

<table class="table">
  <thead>
    <tr>
      <th>слово</th>
      <th>часть речи</th>
      <th>состояние</th>
    </tr>
  </thead>
  <tbody>
    {% for word in words %}
    <tr>
      <td><a href="{{url('linguistics:words:show', word.id)}}">{{word.utg_word.normal_form()}}</a></td>
      <td>{{word.type.text}}</td>
      <td>{{word.state.text}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ base_macros.render_paginator(paginator) }}

{% else %}
<p class="alert alert-info pgf-no-words-message">Не найдено слов, отвечающих условиям поиска.</p>
{% endif %}

{% endblock %}
