{% extends "linguistics/words/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'utils/list_filter.html' as list_filter_macros with context %}
{% import 'accounts/macros.html' as accounts_macros with context %}

{% block title %}{{ super() }}{% endblock %}
{% block description %}Слова для шаблонов фраз.{% endblock %}

{% block words_content %}

{% if not resource.account.is_authenticated() %}
{{ base_macros.registration_required_message("иметь возможность добавлять слова в словарь.") }}
{% endif %}

{% if resource.account.is_authenticated() %}
<div class="btn-group pgf-create-new-word-buttons pull-left"
     style="display: inline-block; vertical-align: middle; margin-right: 0.5em; margin-bottom: 0.5em;">
  <a class="btn btn-success btn-primary dropdown-toggle" data-toggle="dropdown">
    Добавить слово <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% for word_type in ALLOWED_WORD_TYPE.records %}
    <li><a href="{{ url('linguistics:words:new', type=word_type.utg_type.value) }}">{{word_type.utg_type.text}}</a></li>
    {% endfor %}
  </ul>
</div>

{% endif %}

<p>
  Список всех слов, используемых во фразах. Добавлять новые слова имеет смысла только если Вы уже добавили шаблон, который их использует.
</p>

<br/>

{{ list_filter_macros.html_filter(index_filter) }}

{% if words %}

{{ base_macros.render_paginator(paginator) }}

<table class="table">
  <thead>
    <tr>
      <th widht="50px">обновлено</th>
      <th>слово</th>
      <th width="150px">часть речи</th>
      <th width="125px">последний редактор</th>
      <th width="150px">состояние</th>
      <th width="100px">во фразах</th>
      <th width="100px">в игровых</th>
      <th width="150px">в рассматриваемых</th>
    </tr>
  </thead
>
  <tbody>
    {% for word in words %}
    <tr>
      <td><span class="pgf-format-date" data-timestamp="{{ word.updated_at|timestamp }}"></span></td>
      <td><a href="{{url('linguistics:words:show', word.id)}}">{{word.utg_word.normal_form()}}</a></td>
      <td>{{word.type.text}}</td>
      <td>
        {% set author = authors.get(word.author_id) %}
        {% if author %}
          {{ accounts_macros.account_link(account=author, clan=clans.get(author.clan_id)) }}
        {% else %}
          нет
        {% endif %}
      </td>

      <td>{{word.state.text}}</td>
      <td>
        {% if word.used_in_status.is_IN_INGAME_TEMPLATES %}
        <span class="label label-success">в игровых</span>
        {% elif word.used_in_status.is_IN_ONREVIEW_TEMPLATES %}
        <span class="label label-warning">в рассматриваемых</span>
        {% else %}
        <span class="label label-important">не используется</span>
        {% endif %}
      </td>
      <td>{{word.used_in_ingame_templates}}</td>
      <td>{{word.used_in_onreview_templates}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ base_macros.render_paginator(paginator) }}

{% else %}
<p class="alert alert-info pgf-no-words-message">Не найдено слов, отвечающих условиям поиска.</p>
{% endif %}

{% endblock %}
