{% extends "linguistics/words/base.html" %}

{% import 'linguistics/words/macros.html' as words_macros with context %}

{% block title %}Новое {{type.text}} |{{ super() }}{% endblock %}
{% block description %}Создание нового слова.{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready( function(e) {

    var newForm = new pgf.forms.Form(jQuery('#pgf-new-word-form'),
                                               {OnSuccess: function(instance, data){location.href = data.data.next_url;}});

});

</script>

{% endblock %}


{% block words_content %}

<h2>{{type.text|up_first}}</h2>

<form id="pgf-new-word-form"
      method="post"
      {% if parent is none %}
      action="{{ url('linguistics:words:create', type=type.value) }}"
      {% else %}
      action="{{ url('linguistics:words:create', type=type.value, parent=parent.id) }}"
      {% endif %}>

  {{ form.errors_container }}

  {{words_macros.render_word(drawer)}}

  <div class="widget">
    {% if parent is none %}
    <input type="submit" class="btn" value="Создать"/>
    {% elif parent.state.is_ON_REVIEW %}
    <input type="submit" class="btn" value="Обновить"/>
    {% else %}
    <input type="submit" class="btn" value="Создать копию"/>
    {% endif %}
  </div>

</form>

{% endblock %}
