{% extends "linguistics/words/base.html" %}

{% import 'linguistics/words/macros.html' as words_macros with context %}
{% import 'accounts/macros.html' as accounts_macros with context %}

{% block title %}Слово «{{word.utg_word.normal_form()}}» | {{settings.PAGE_TITLE}}{% endblock %}
{% block description %}Описание слова «{{word.utg_word.normal_form()}}».{% endblock %}

{% block words_content %}

{% if word.state.is_IN_GAME %}
<p class="alert alert-success pgf-word-in-game-message">Слово находится в игре.</p>
{% endif %}

{% if word.state.is_ON_REVIEW %}
<p class="alert alert-warning pgf-word-on-review-message">Слово находится на рассмотрении.</p>
{% endif %}

{% if child_word %}
<p class="alert alert-success pgf-has-child-message">Это слово имеет непроверенную <a href="{{url('linguistics:words:show', child_word.id)}}">копию</a>.</p>
{% endif %}

{% if parent_word %}
<p class="alert alert-success pgf-has-parent-message">Это слово явялется копией <a href="{{url('linguistics:words:show', parent_word.id)}}">слова из игры</a>.</p>
{% endif %}

<ul>
  <li>обновлено: <span class="pgf-format-date" data-timestamp="{{ word.updated_at|timestamp }}"></span></li>
  <li>в игровых фразах: {{word.used_in_ingame_templates}}</li>
  <li>в рассматриваемых фразах: {{word.used_in_onreview_templates}}</li>
  <li>
    авторы:

    {% if contributors %}
      {% for author in contributors %}
        {% if loop.index > 1 %},{% endif %}
        {{ accounts_macros.account_link(account=author, clan=clans.get(author.clan_id)) }}
      {% endfor %}
    {% else %}
      нет
    {% endif %}

  </li>
</ul>

{% include "linguistics/words/detailed_description.html" %}

<h2>{{word.utg_word.normal_form()|up_first}} <small>{{word.type.text}}, {{word.state.text}}</small></h2>

{{words_macros.render_word(drawer)}}

<br/>
<br/>

{% if resource.can_edit_words %}
<a class="btn btn-info pgf-edit-button" href="{{url('linguistics:words:new', type=word.type.value, parent=word.id)}}">Редактировать</a>
{% endif %}

{% if resource.can_moderate_words and word.state.is_ON_REVIEW %}
<a class="btn btn-success pgf-forms-post-simple pgf-in-game-button" href="{{url('linguistics:words:in-game', word.id)}}">В игру</a>
{% endif %}

{% if resource.can_moderate_words or resource.can_be_removed_by_owner %}
<a class="btn btn-danger pgf-forms-post-simple pgf-remove-button"
   href="{{url('linguistics:words:remove', word.id)}}"
   data-action-type="redirect"
   data-redirect-url="{{url('linguistics:words:')}}">Удалить</a>
{% endif %}

{% endblock %}
