{% extends "base.html" %}

{% block title %}Лингвистика | {{ super() }}{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="easy-block">

      {% if resource.account.is_staff and has_broken_ingame_template() %}
      <p class="alert alert-error">Некоторые шаблоны, добавленные в игру, отображаются с ошибками.</p>
      {% endif %}

      <h2>Лингвистика</h2>

      <ul class="nav nav-pills">
        <li {% if page_type == 'keys' %}class="active"{% endif %}><a href="{{ url('linguistics:') }}">Типы фраз</a></li>
        <li {% if page_type == 'all-templates' %}class="active"{% endif %}><a href="{{url('linguistics:templates:')}}">Все фразы</a></li>
        <li {% if page_type == 'dictionary' %}class="active"{% endif %}><a href="{{ url('linguistics:words:') }}">Словарь</a></li>
        <li {% if page_type == 'how-add-phrase' %}class="active"{% endif %}><a href="{{ url('linguistics:how-add-phrase') }}">Как добавить фразу</a></li>
        <li {% if page_type == 'templates-specification' %}class="active"{% endif %}><a href="{{ url('linguistics:templates:specification') }}">Формат шаблонов</a></li>
        <li><a href="{{ url('forum:subcategories:show', linguistics_settings.FORUM_CATEGORY_ID) }}">Форум ➔</a></li>
      </ul>


      {% block linguistics_content %}
      {% endblock %}

    </div>
  </div>
</div>

{% endblock %}
