{% extends "linguistics/base.html" %}

{% block linguistics_content %}

<p>
  Мир Пандоры находится далеко от нас, можно сказать, в другой реальности, и наблюдать за ним непросто. В основном мы знакомимся с ним через записки наших героев (в журнале и дневнике). Нашим подопечным сложно описывать мир на языке богов («ибо язык сей сложен яко квантовая физика»), поэтому нам следует помочь им, предоставив шаблоны для описания важных событий в жизни героев.
</p>

<p>
  На этой странице находится список типов фраз, разбитых по ситуациям, в которых они встречаются. Каждый тип фразы имеет краткое описание, пример и список «переменных», которые в ней можно использовать. «Переменная» — это игровой объект, к которому относится фраза (примеры переменных: герой, монстр, артефакт, противник). Если вам кажется, что в одном из типов фраз не хватает переменных, сообщите об этом разработчикам — может быть о них просто забыли.
</p>


<div class="accordion" id="pgf-help-accordion">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-help-accordion" href="#pgf-templates-description">
        Подробнее
      </a>
    </div>
    <div id="pgf-templates-description" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        {% include "linguistics/templates/templates_description.html" %}
      </div>
    </div>
</div>

<br/>

<h3>Типы фраз <small>всего: {{total_templates}}</small></h3>

<br/>

  <strong style="width: 75px; display: inline-block; margin-left: 10px;">к-во</strong>
  <strong style="display: inline-block;" rel="tooltip">группа</strong>

<div class="accordion" id="pgf-phrases-accordion">

  {% for group in GROUPS %}
  {% set group_keys = groups_keys.get(group) %}

  {% if not group_keys %}{% continue %}{% endif %}

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-phrases-accordion" href="#pgf-group-{{group.value}}">
        <span style="width: 50px; display: inline-block;" rel="tooltip" title="количество фраз">{{groups_count[group]}}</span>
        {{group.text}}
      </a>
    </div>
    <div id="pgf-group-{{group.value}}" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>{{group.description}}</p>

        <table class="table table-bordered table-condensed table-no-highlighting">
          <tr>
            <th>количество</th>
            <th>тип</th>
            <th>описание</th>
          </tr>
          {% for key in group_keys %}
          <tr>
            <td width="50px">{{keys_count[key]}}</td>
            <th><a href="{{url('linguistics:templates:', key=key.value)}}">{{key.text }}</a></th>
            <td>{{key.description}}</td>
          <tr/>
          {% endfor %}
        </table>

      </div>
    </div>
  </div>
  {% endfor %}

</div>


{% endblock %}
