{% extends "linguistics/base.html" %}

{% block title %} {{ super() }}{% endblock %}

{% block linguistics_content %}

<h3>Типы фраз <small>всего: {{total_templates}} фраз</small></h3>

<br/>

  <strong style="width: 75px; display: inline-block; margin-left: 10px;">ко-во</strong>
  <strong style="display: inline-block;" rel="tooltip">группа</strong>

<div class="accordion" id="pgf-phrases-accordion">

  {% for group in GROUPS %}
  {% set group_keys = LEXICON_KEY.index_group.get(group) %}

  {% if not group_keys %}{% continue %}{% endif %}

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#pgf-phrases-accordion" href="#pgf-group-{{group.value}}">
        <span style="width: 50px; display: inline-block;" rel="tooltip" title="количество фраз">{{groups_count[group]}}</span>
        {{group.text}}
      </a>
    </div>
    <div id="pgf-group-{{group.value}}" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>{{group.description}}</p>

        <table class="table table-bordered table-condensed table-no-highlighting">
          <tr>
            <th>количество</th>
            <th>тип</th>
            <th>описание</th>
          </tr>
          {% for key in group_keys %}
          <tr>
            <td width="50px">{{keys_count[key]}}</td>
            <th><a href="{{url('linguistics:templates:', key=key.value)}}">{{key.text }}</a></th>
            <td>{{key.description}}</td>
          <tr/>
          {% endfor %}
        </table>

      </div>
    </div>
  </div>
  {% endfor %}

</div>


{% endblock %}
