{% extends "news/base.html" %}

{% import 'news/macros.html' as macros with context %}

{% block title %}{{ super() }}{% endblock %}

{% block news_content %}

<h2 style="margin-bottom: 0.5em;">
  Новости
  <a href="{{ get_rss_link() }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss">
    <img src="{{STATIC_URL}}images/rss.png" style="margin: 2px;"/>
  </a>
</h2>

<ul class="unstyled">

  {% for record in news %}
  {{ macros.news_record(record) }}
  {% endfor %}

</ul>

{% endblock %}
