{% extends "news/base.html" %}

{% import 'macros.html' as base_macros with context %}
{% import 'news/macros.html' as macros with context %}

{% block title %}{{ super() }}{% endblock %}
{% block description %}Последние новости ZPG «Сказка»{% endblock %}

{% block news_content %}

<div class="block white">

  <h2 style="margin-bottom: 0.5em;">
    Новости
    <a href="{{ url('news:feed') }}" class="rss-link" rel="alternate" type="application/rss+xml" rel="tooltip" title="подписаться на rss новостей">
      <img src="{{STATIC_CONTENT}}images/rss.png" style="margin: 2px;"/>
    </a>
  </h2>

  {{ base_macros.render_paginator(paginator) }}

  {% for record in news %}
  {{ macros.news_record(record, in_block=true) }}
  {% endfor %}

  {{ base_macros.render_paginator(paginator) }}

</div>

{% endblock %}
