
{% macro news_record(news, in_block=False, center_captions=false) -%}

<div class="news-record">
  <h3 class="caption" style="{% if center_captions %}text-align: center;{% endif %}"><a href="{{ url('news:show', news.id) }}">{{ news.caption }}</a></h3>
  <div class="">{{ news.html_description|safe }}</div>

  <div class="news-info">
    <span class="publication-date"><span class="pgf-format-datetime" data-timestamp="{{ news.created_at|timestamp }}"></span></span>
    {% if news.forum_thread_id %}
    <a class="pgf-forum-link" href="{{ url('forum:threads:show', news.forum_thread_id) }}">комментарии</a>
    {% endif %}
  </div>
</div>

{%- endmacro %}
