
{% macro news_record(news, in_block=False) -%}

<li class="news-record {% if in_block %}block{% endif %}">
  <h4 class="caption"><a href="{{ url('news:show', news.id) }}">{{ news.caption }}</a></h4>
  <div class="">{{ news.html_description|safe }}</div>

  <div class="news-info">
    <span class="publication-date"><span class="pgf-format-datetime" data-timestamp="{{ news.created_at|timestamp }}"></span></span>
    {% if news.forum_thread %}
    <a class="pgf-forum-link" href="{{ news.forum_thread.get_absolute_url() }}">комментарии</a>
    {% endif %}
  </div>
</li>

{%- endmacro %}
