{% extends "news/base.html" %}

{% import 'macros.html' as base_macros with context %}

{% block title %}{{ news.caption }} | {{ super() }}{% endblock %}

{% block news_content %}

<h2>{{news.caption}}</h2>

<div class="news-info" style="margin-bottom: 1em;">
  {{ base_macros.addthis(title=news.caption, description=news.html_description|safe) }}
  <span class="publication-date">опубликовано: <span class="pgf-format-time" data-timestamp="{{ news.created_at|timestamp }}"></span></span>
  {% if news.forum_thread %}
  <a class="pgf-forum-link" href="{{ news.forum_thread.get_absolute_url() }}">комментарии</a>
  {% endif %}
</div>

{{ news.html_content|safe }}


{% endblock %}
