global-include *.xls
global-include *.py
global-include *.txt
global-include *.sqlite
global-include *.svg
global-include *.json
global-include *.js
global-include *.html
global-include *.css
global-include *.csv
global-include *.png
global-include *.jpg
global-include *.gif
global-include *.otf
global-include *.ttf
global-include *.sh
global-include *.ico
global-include *.rst
